
<div style="text-align:left;padding:5px;font-size:medium;background-color:#EFEBE3">
	<?php echo $m_rank_business_category['MShopsBusinessCategory']['name']?>ランキング
</div>

<?php $paginator->options(array('url' => array('business_category_id' => $this->params['business_category_id']))); ?>
<?php foreach($ranking as $key => $record){?>
<div style="text-align:left;padding:3px;">
	<img src="/images/i/crown.jpg" /><span style="color:#E2007A"><?php echo (($paginator->counter() - 1) * $pcount['rankings'] + ($key + 1))?>位</span>…<a href="<?php echo $linkCommon->get_user_shop($record)?>"><?php echo $record['Shop']['name']?></a><br />
	総合評価：<span style="color:#BE0A26"><?php echo round($record[0]['point'],2)?></span> &nbsp; 口コミ：<?php echo $record[0]['count']?>件
</div>
<hr color="#DED7C8" />
<?php }?>


<?php echo $this->element('pagenate/i_numbers'); ?>

<hr color="#DED7C8" />

<div style="text-align:center;padding:3px;">
	[<a href="<?php echo $linkCommon->get_top($parent_area)?>">戻る</a>]
</div>

