	<div class="link_o"><h2>参考になった口コミランキング</h2></div>
	<div class="kensuu"><p>口コミ●BEST<span>10</span>※会員限定<span style="float:right">毎週日曜日更新！</span></p></div>

	<section id="pickup_box">

<?php
$i = 0;

if(!empty($parent_reviewer)) {
	$hyouji = 10;
} else { 
	$hyouji = 3;
}

foreach($helpful_review AS $ii => $record) {
if ($i >= $hyouji) {
	break;
} else {
	$rank_image = 'arrow_up2.png';
	// // 急上昇
	// if($record['SummaryData']['prev_rank'] > 5 && $record['SummaryData']['rank'] <= 3) {
	// 	$rank_image = 'arrow_up2.png';
	// } else if($record['SummaryData']['prev_rank'] == $record['SummaryData']['rank']) {
	// // ステイ
	// 	$rank_image = 'arrow_stay.png';
	// } else if($record['SummaryData']['prev_rank'] < $record['SummaryData']['rank']) {
	// // ダウン
	// 	$rank_image = 'arrow_down.png';
	// } else {
	// // アップ
	// 	$rank_image = 'arrow_up.png';
	// }
?>

	<?php echo $this->element('s_common/_review_ranking', array(
		'ii' => $ii,
		'record' => $record,
		'rank_image' => $rank_image,
		'limit' => 5,
	)); ?>
<?php
	$i++;
	}
}
?>
<?php if(empty($parent_reviewer)) { ?>
<p class="btn_pi"><a href="<?php echo $linkCommon->get_accounts_login($record = null); ?>">続きを表示する</a></p>
<?php } ?>
	</section>
<?php echo $this->element('s_common/footer_banner'); ?>


<nav id="cmn-bread" class="jq-app-bc" data-bc-no-edge-scroll="left">
	<ul class="bc-inr">
		<li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="http://dhrank.com/s/" itemprop="url"><span itemprop="title">HOME</span></a></li>
		<li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="../top/" itemprop="url"><span itemprop="title"><?php echo $parent_area['LargeArea']['name']?></span></a></li>
		<li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="./review/" itemprop="url"><span itemprop="title">口コミランキング</span></a></li>
	</ul>
</nav>