<div class="body">

    <div class="title title2">
        <h2>SHOP LOGIN <span class="small">店舗会員・ログインIDとパスワード変更</span></h2>
    </div>

<div class="login_reviewer">

<h3>メール送信完了</h3>

<p class="text">
	メールアドレス宛にログインID・パスワード変更URLを送信しました。
</p>




<?php //echo var_dump($shop);?>
<?php //echo var_dump($today_girls);?>

	</div>
	<!-- /formArea -->

</div>
<!-- login_reviewer -->