<div class="body">

    <div class="title title2">
        <h2>SHOP LOGIN <span class="small">店舗会員・パスワード変更</span></h2>
    </div>
    
<h3>パスワード変更完了</h3>

<p class="text">
	パスワードの変更が完了しました。
</p>


<div align="center" style="margin-top:40px;">
<a href="<?php echo $linkCommon->get_login() ?>" class="btn_navi">ログイン画面へ</a>
</div>


<?php //echo var_dump($shop);?>
<?php //echo var_dump($today_girls);?>

</div>
<!-- login_reviewer -->

