
<h2 class="shop_h2">店舗会員・ログインIDとパスワード変更</h2>

<h3 class="rank_h2">パスワード変更 エラー画面</h3>

<p style="text-align:left;font-size:16px;">
このアドレスは無効です。
</p>



<?php //echo var_dump($shop);?>
<?php //echo var_dump($today_girls);?>

