<p class="logo">
<img src="images/index.png" />
</p>


<center>
<table class="18k">
<tr>
<td><img src="images/18k.png" style="margin-right:10px;" /></td>
<td style="text-align:left;">当サイト内には、成人向けコンテンツが含まれます。<br />
高校生及び18歳未満の方の閲覧・ご入場は固くお断りいたします。</td>
</tr>
</table>
</center>

<p>
<a href="top"><img src="images/enter.png" />
</a>

<p>
<a href="http://www.yahoo.co.jp/"><img src="images/leave.png" />
</a>

<p style="margin-top:16px;margin-bottom:40px;">
デリヘル人気口コミランキングでは日本全国のデリヘル店情報をランキング形式にて紹介しています。<br />
お住まいの地域に密着したデリヘル店情報、さらにデリヘルギャルのレビュー・口コミ情報を完全無料で配信！<br />
安全・安心して遊べるデリヘル店をご案内します。
</p>




<!-- <a href="https://twitter.com"><img src="images/twitter.png" target="_blank" class="link" /></a> -->
<a href="http://fuuzoku-seo.net"><img src="images/seo.jpg" target="_blank" class="link" /></a>
<!-- <a href="http://www.sho-ya.biz"><img src="images/shoya24.gif" target="_blank" class="link" /></a> -->
