
<div id="top_left">
<p><img src="images/map.png" /></p>

<table>
<tr>
<th>おすすめサイト</th>
</tr>
<tr>
<td>
<div class="top_block">
<a href="http://fuuzoku-seo.net"><img src="images/seo.jpg" target="_blank" /></a><br />
風俗のSEOならデリヘルSEOドットネット
</div>
<!--
<div class="top_block">
<a href="http://www.sho-ya.biz"><img src="images/shoya24.gif" target="_blank" /></a><br />
風俗ホームページ制作SHOYA
</div>
-->

</td>
</tr>
</table>


<table>
<tr>
<th>外出先からもご覧になれます</th>
</tr>
<tr>
<td>
<div class="top_block">
<a href="http://dhrank.com/s/"><img src="images/smart.jpg" class="qr" /><br />
http://dhrank.com/s/</a><br />
<span class="btn_on1">スマートフォン</span>
</div>
<div class="top_block">
<a href="http://dhrank.com/i/"><img src="images/mobile.jpg" class="qr" /><br />
http://dhrank.com/i/</a><br />
<span class="btn_on1">モバイル</span>
</div>

外出先でも携帯電話・スマートフォンからデリヘル人気口コミランキングにかんたんアクセス！
</td>
</tr>
</table>

<!--
<p>
<a href="https://twitter.com"><img src="images/twitter.png" target="_blank" class="link" /></a>
</p>
-->

</div>


<div id="top_right">

<div class="top_right_area">
<h2>関東</h2>
<a href="http://shinjyuku.dhrank.com" class="btn_on">新宿</a>
<a href="http://ikebukuro.dhrank.com" class="btn_on">池袋</a>
<a href="http://shibuya.dhrank.com" class="btn_on">渋谷</a>
<a href="http://shinagawagotanda.dhrank.com" class="btn_on">品川･五反田</a>
<a href="http://shinbashiginza.dhrank.com" class="btn_on">銀座･新橋</a>
<a href="http://kinshicho.dhrank.com" class="btn_on">錦糸町</a>
<a href="http://uenouguisudani.dhrank.com" class="btn_on">鴬谷･上野</a>
<a href="http://kanagawa.dhrank.com" class="btn_on">神奈川</a>
<a href="http://saitama.dhrank.com" class="btn_on">埼玉</a>
<a href="http://chiba.dhrank.com" class="btn_on">千葉</a>
</div>

<br class="clear" style="margin-bottom:10px;" />

<div class="top_right_area2">
<h2>北海道・東北</h2>
<span class="btn_off">北海道</span>
<span class="btn_off">宮城</span>
</div>

<div class="top_right_area3">
<h2>北関東</h2>
<span class="btn_off">栃木</span>
<span class="btn_off">茨城</span>
<span class="btn_off">群馬</span>
</div>

<br class="clear" />

<div class="top_right_area">
<h2>北陸・甲信越</h2>
<span class="btn_off">長野</span>
<span class="btn_off">新潟</span>
<span class="btn_off">石川</span>
<span class="btn_off">富山</span>
</div>

<br class="clear" />
<div class="top_right_area">
<h2>東海</h2>
<a href="http://aichi.dhrank.com" class="btn_on">愛知(名古屋)</a>
<span class="btn_off">静岡</span>
<span class="btn_off">岐阜</span>
<span class="btn_off">三重</span>
</div>

<br class="clear" />
<div class="top_right_area">
<h2>関西</h2>
<a href="http://osaka.dhrank.com" class="btn_on">大阪</a>
<a href="http://hyogo.dhrank.com" class="btn_on">兵庫</a>
<span class="btn_off">京都</span>
<span class="btn_off">奈良</span>
<span class="btn_off">滋賀</span>
<span class="btn_off">和歌山</span>
</div>

<br class="clear" />
<div class="top_right_area2">
<h2>中国</h2>
<a href="http://hiroshima.dhrank.com" class="btn_on">広島</a>
<span class="btn_off">岡山</span>
<span class="btn_off">山口</span>
</div>

<div class="top_right_area3">
<h2>四国</h2>
<span class="btn_off">香川</span>
<span class="btn_off">愛媛</span>
</div>

<br class="clear" />
<div class="top_right_area">
<h2>九州・沖縄</h2>
<a href="http://fukuoka.dhrank.com" class="btn_on">福岡</a>
<span class="btn_off">佐賀</span>
<span class="btn_off">長崎</span>
<span class="btn_off">宮崎</span>
<span class="btn_off">熊本</span>
<span class="btn_off">沖縄</span>
</div>

</div>

<br class="clear" />

<div id="top_link">

<!-- 相互リンク設置エリアはじまり -->

<?php foreach($list as $key => $record) {?>
<div style="float:left;margin:10px;">
	<a href="<?php echo $record['AllareaLink']['url']?>" target="_blank">
		<img src="<?php echo APP_IMG_URL . 'link/_allarea/' . $record['AllareaLink']['banner']?>" /><br />
		<?php echo $record['AllareaLink']['name']?>
	</a>
</div>
<?php } ?>

<br />


<!-- 相互リンク設置エリアおわり -->
</div>







