
<div style="text-align:center;">

<br />

<img src="/images/s/logo.png" style="width:240px" /><br />
<img src="/images/s/18k.png" />


<p style="font-size:14px;">
当サイト内には、<br />
成人向けコンテンツが含まれます。<br />
高校生及び18歳未満の方の<br />
閲覧・ご入場は固くお断りいたします。
</p>


<div class="enter">
<a href="top" class="enter1">ENTER・18歳以上</a>
</div>

<a href="http://www.yahoo.co.jp/" data-role="button" data-inline="true">18歳未満</a>

<br />

<p>
<a href="http://fuuzoku-seo.net/"><img src="http://dhrank.com/images/seo.jpg" /><br />
風俗のSEOならデリヘルSEOドットネット
</a>
</p>

</div>


