
<div id="top_left">
<p><img src="images/map.png" /></p>

<table>
<tr>
<th>おすすめサイト</th>
</tr>
<tr>
<td>
<div class="top_block">
<a href="http://fuuzoku-seo.net"><img src="images/seo.jpg" target="_blank" /></a><br />
風俗のSEOならデリヘルSEOドットネット
</div>
<!--
<div class="top_block">
<a href="http://www.sho-ya.biz"><img src="images/shoya24.gif" target="_blank" /></a><br />
風俗ホームページ制作SHOYA
</div>
-->

</td>
</tr>
</table>


<table>
<tr>
<th>外出先からもご覧になれます</th>
</tr>
<tr>
<td>
<div class="top_block">
<a href="http://dhrank.com/s/"><img src="images/smart.jpg" class="qr" /><br />
http://dhrank.com/s/</a><br />
<span class="btn_on1">スマートフォン</span>
</div>
<div class="top_block">
<a href="http://dhrank.com/i/"><img src="images/mobile.jpg" class="qr" /><br />
http://dhrank.com/i/</a><br />
<span class="btn_on1">モバイル</span>
</div>

外出先でも携帯電話・スマートフォンからデリヘル人気口コミランキングにかんたんアクセス！
</td>
</tr>
</table>

<!--
<p>
<a href="https://twitter.com"><img src="images/twitter.png" target="_blank" class="link" /></a>
</p>
-->

</div>


<div id="top_right">

<div class="top_right_area">
<h2>関東</h2>
<a href="http://shinjyuku.dhrank.com" class="btn_on">新宿</a>
<a href="http://ikebukuro.dhrank.com" class="btn_on">池袋</a>
<a href="http://shibuya.dhrank.com" class="btn_on">渋谷</a>
<a href="http://shinagawagotanda.dhrank.com" class="btn_on">品川･五反田</a>
<a href="http://nishitokyo.dhrank.com/" class="btn_on">西東京</a>
<a href="http://kinshicho.dhrank.com" class="btn_on">錦糸町</a>
<a href="http://uenouguisudani.dhrank.com" class="btn_on">上野･鴬谷</a>
<a href="http://kanagawa.dhrank.com" class="btn_on">神奈川</a>
<a href="http://saitama.dhrank.com" class="btn_on">埼玉</a>
<a href="http://chiba.dhrank.com" class="btn_on">千葉</a>

<a href="http://gunma.dhrank.com" class="btn_on">群馬</a>
<a href="http://ibaraki.dhrank.com" class="btn_on">茨城</a>
<a href="http://tochigi.dhrank.com" class="btn_on">栃木</a>


</div>

<br class="clear" style="margin-bottom:10px;" />

<div class="top_right_area">
<h2>北海道・東北</h2>
<a href="http://hokkaido.dhrank.com/" class="btn_on">北海道(札幌)</a>
<span class="btn_off">旭川</span>
<span class="btn_off">帯広</span>
<span class="btn_off">函館</span>
<span class="btn_off">胆振</span>
<a href="http://miyagi.dhrank.com/" class="btn_on">宮城</a>
<span class="btn_off">福島</span>
</div>

<br class="clear" />

<div class="top_right_area">
<h2>北陸・甲信越</h2>
<a href="http://niigata.dhrank.com/" class="btn_on">新潟</a>
<a href="http://ishikawa.dhrank.com/" class="btn_on">石川</a>
<a href="http://toyama.dhrank.com/" class="btn_on">富山</a>
<a href="http://fukui.dhrank.com/" class="btn_on">福井</a>
</div>

<br class="clear" />
<div class="top_right_area">
<h2>東海</h2>
<a href="http://aichi.dhrank.com" class="btn_on">愛知(名古屋)</a>
<span class="btn_off">三河</span>
<span class="btn_off">尾張</span>
<a href="http://shizuoka.dhrank.com" class="btn_on">静岡</a>
<a href="http://gifu.dhrank.com" class="btn_on">岐阜</a>
<a href="http://mie.dhrank.com" class="btn_on">三重</a>
</div>

<br class="clear" />
<div class="top_right_area">
<h2>関西</h2>
<a href="http://osaka.dhrank.com" class="btn_on">大阪</a>
<a href="http://hyogo.dhrank.com" class="btn_on">兵庫</a>
<a href="http://kyoto.dhrank.com" class="btn_on">京都</a>
</div>

<br class="clear" />
<div class="top_right_area">
<h2>中国</h2>
<a href="http://hiroshima.dhrank.com" class="btn_on">広島</a>
<a href="http://okayama.dhrank.com" class="btn_on">岡山</a>
</div>

<br class="clear" />
<div class="top_right_area">
<h2>九州・沖縄</h2>
<a href="http://fukuoka.dhrank.com" class="btn_on">福岡</a>
<span class="btn_off">北九州</span>
<span class="btn_off">久留米</span>
<a href="http://nagasaki.dhrank.com" class="btn_on">長崎</a>
<a href="http://kumamoto.dhrank.com" class="btn_on">熊本</a>
<a href="http://miyazaki.dhrank.com" class="btn_on">宮崎</a>
<a href="http://okinawa.dhrank.com" class="btn_on">沖縄</a>
</div>

</div>

<br class="clear" />

<div id="top_link">

<!-- 相互リンク設置エリアはじまり -->

<?php foreach($list as $key => $record) {?>
<div style="float:left;margin:10px;">
	<a href="<?php echo $record['AllareaLink']['url']?>" target="_blank">
		<img src="<?php echo APP_IMG_URL . 'link/_allarea/' . $record['AllareaLink']['banner']?>" /><br />
		<?php echo $record['AllareaLink']['name']?>
	</a>
</div>
<?php } ?>

<br />


<!-- 相互リンク設置エリアおわり -->
</div>







