<div class="link_o"><h2>口コミ通報フォーム</h2></div>

<div class="label_3">口コミ通報の完了</div>
    <p>口コミの不適切使用を管理者に送信しました。ご協力ありがとうございました。</p>
</div>

<section class="contact">

        <div align="center" style="margin: 20px;">
			<a href="<?php echo $linkCommon->get_top(); ?>" class="submitBtn">トップへ戻る</a>
		</div>
    </div>
</section>
