
<h3 class="rank_h2" style="margin-top:5px;">女の子プロフィール</h3>

<?php echo $this->element('girl_profile'); ?>


<h3 class="rank_h2" style="margin-top:5px;"><?php echo $girl['Girl']['name']?>さんの口コミ</h3>


<div class="review_end">

口コミの投稿ありがとうございました。

</div>

<div align="center" style="margin-top: 40px;">
<a href="<?php echo $linkCommon->get_user_review($data)?>" class="btn_navi">確認する</a>
<a href="<?php echo $linkCommon->get_user_girl($data)?>" class="btn_navi">女の子へ戻る</a>
</div>
