
<h3 class="rank_h2" style="margin-top:5px;"><?php echo $girl['Girl']['name']?>さんの口コミ</h3>


<div class="review_end">

口コミの投稿ありがとうございました。

</div>

<div align="center" style="margin-top: 40px;">
<a href="<?php echo $linkCommon->get_user_review($data)?>" class="btn_navi">確認する</a>
<a href="<?php echo $linkCommon->get_user_shop($parent_shop)?>" class="btn_navi">店舗トップへ</a>
</div>
<div align="center" style="margin-top: 40px;">
</div>



