
<div style="text-align:left;padding:5px;font-size:medium;background-color:#EFEBE3">
	<?php echo $girl['Girl']['name']?>さんの口コミ
</div>

<div style="text-align:left;padding:3px;">
	口コミの投稿ありがとうございました。
</div>

<hr color="#DED7C8" />

<div style="text-align:center;padding:3px;">
	[<a href="<?php echo $linkCommon->get_user_review($data)?>">確認する</a>]
</div>
<hr color="#DED7C8" />

<div style="text-align:center;padding:3px;">
	[<a href="<?php echo $linkCommon->get_user_shop($parent_shop)?>">店舗トップへ</a>]
</div>

<?php //echo var_dump($list)?>
