
<div style="text-align:left;padding:5px;font-size:medium;background-color:#EFEBE3">
	店舗ブックマーク登録・解除
</div>

<div style="text-align:left;padding:3px;">
	店舗ブックマークの登録・解除が完了しました。
</div>

<hr color="#DED7C8" />

<div style="text-align:center;padding:3px;">
	[<a href="<?php echo $linkCommon->get_user_shop($parent_shop)?>">店舗TOPへ戻る</a>]
</div>
<hr color="#DED7C8" />

<div style="text-align:center;padding:3px;">
	[<a href="<?php echo $linkCommon->get_top($parent_area)?>">トップページへ</a>]
</div>

<?php //echo var_dump($list)?>
