
<div style="text-align:left;padding:5px;font-size:medium;background-color:#EFEBE3">
	女の子プロフィール
</div>

<?php echo $this->element('i_girl_profile'); ?>

<div style="text-align:left;padding:5px;font-size:medium;background-color:#EFEBE3">
	<?php echo $girl['Girl']['name']?>さんの口コミ
</div>

<?php foreach($reviews as $key => $record){?>
<div style="text-align:left;padding:3px;">
	<span style="color:#BE0A26;"><?php echo $record['Shop']['name'] ?></span><br />
	<span style="color:#E7511E;"><?php echo $record['Girl']['name'] ?></span><br />
	評価<span style="color:#BE0A26;"><?php echo round($record[0]['girl_avg'],2)?></span> - <?php echo date('Y年n月', strtotime($record['Review']['created'])) ?><br />
    <?php echo $textCommon->get_substr_tagstrip_text($record['Review']['comment'],APP_CSIZE_SHOPS_GIRL_REVIEW_COMMENT_I);?><br />
    <div style="text-align:right;"><a href="<?php echo $linkCommon->get_user_review($record)?>">続きを読む</a></div>
</div>
<hr color="#DED7C8" />
<?php }?>

<div style="text-align:center;padding:3px;">
	[<a href="<?php echo $linkCommon->get_user_girls($parent_shop)?>">戻る</a>]
</div>




