<div style="background-color:#2d6fb2;color:#ffffff;padding:2px">
口コミ一覧(<?php echo $review_data[0]['count']?>件)
</div>

<?php foreach($new_review as $key => $record){?>
<div style="text-align:left;padding:3px;">
	<div style="float: left; margin-right: 3px; width:60px;">
		<?php echo $imgCommon->get_girl($record, 's')?>
    </div>
	<div style="pdding:2px;">
    	<span style="color:#BE0A26;"><?php echo $record['Shop']['name'] ?></span><br />
    	評価<span style="color:#BE0A26;"><?php echo round($record[0]['girl_avg'],2)?></span> - <?php echo date('Y年n月', strtotime($record['Review']['created'])) ?><br />
    	<?php echo $textCommon->get_substr_tagstrip_text($record['Review']['comment'],APP_CSIZE_SHOPS_TOP_REVIEW_COMMENT_I);?><br />
        <div style="text-align:right;">[<a href="<?php echo $linkCommon->get_user_review($record)?>">続きを読む</a>]</div>
    </div><div style="clear:both" clear="all"></div>
</div>

<hr color="#DED7C8" />

<?php }?>

<?php echo $this->element('pagenate/i_numbers'); ?>

<hr color="#DED7C8" />

<div style="text-align:center;padding:3px;">
	[<a href="<?php echo $linkCommon->get_top($parent_area)?>">戻る</a>]
</div>

<?php //echo var_dump($shop);?>
<?php //echo var_dump($today_girls);?>


