
<h2 class="midashih2">
	<?php echo $girl['Girl']['name']?>さんの口コミ
</h2>

<div class="review_end">
	口コミの投稿ありがとうございました。
</div>

<div style="text-align:center; margin-right:auto; margin-left:auto;">
<a href="<?php echo $linkCommon->get_user_review($data)?>" data-role="button" data-inline="true">確認する</a>
<a href="<?php echo $linkCommon->get_user_shop($parent_shop)?>" data-role="button" data-inline="true">店舗トップへ</a>
</div>
