		<div class="pageCounter">
			<span class="num">12</span><span>件のデリヘルがあります</span>
			<span><img src="/img/left.png" /><!-- a href="#" -->前へ<!-- /a -->　1/1ページ　<!-- a href="#" -->次へ<!-- /a --><img src="/img/right.png" /></span>
		</div>

<!--shop no1-->
		<div class="shopList_frame">
			<div>
				<a href="http://aichi.dhrank.com/5409" class="shopName">エロエロ星人</a>　<span class="kuchikomi">UP</span>
				<a href="http://aichi.dhrank.com/5409" class="css_btn_class">詳細を見る</a>
			</div>
			<div class="pay_mark clearfix">
				<p class="pay_yoyaku">先行予約OK</p>
				<!-- p class="pay_credit">クレジットOK</p -->
				<!-- p class="pay_ryoshu">領収書OK</p -->
				<!-- p class="pay_machi">待ち合わせOK</p -->
				<!-- p class="pay_cosplay">コスプレあり</p -->
				<!-- p class="pay_coupon">クーポンあり</p -->
			</div>
		</div>

		<div class="shopList_main clearfix">
			<div>
				<a href="http://aichi.dhrank.com/5409"><img src="http://img.dhrank.com/shop/5409/image_list.jpg" width="160" height="210" class="img_frame" /></a>
			</div>
			<div>
				<p class="catchCopy"><b><strong>エロエロ星人へようこそ♪</strong></b></p>
				<p>
当店は女子大生やＯＬさんをはじめ、素人の女の子を中心に、街で見かけるような普通の女の子がたくさん在籍しているお店です♪ 普通の素人の...
				</p>
				<div class="shopListLeft">
					<dl class="clearfix">
						<dt>営業時間</dt>
						<dd>10:00〜05:00</dd>
						<dt>最低料金</dt>
						<dd>19000円〜</dd>
						<dt>住所</dt>
						<dd>愛知県岡崎市発～</dd>
					</dl>
					<p class="shopNum">
						<span class="zaiseki">在籍数:</span><span class="num">85人</span>
						<span class="kuchikomi2">口コミ:</span><span class="num">102件</span>
					</p>
				</div>
				<div class="shopListRight">
					<a href="http://aichi.dhrank.com/5409" class="css_btn_more">詳細を見る</a><a href="#" class="css_btn_bookmark">お気に入りに保存</a><!-- <p><img src="/img/shop_banner.jpg" /></p> -->
				</div>
				<div class="shopListBottom clearfix">
					<ul>
						<li><span class="type1">新規</span>coming soon</li>
						<li><span class="type2">会員</span>coming soon</li>
					</ul>
				</div>
			</div>
		</div>
<!-- /shop no1 -->

<!--shop no2 -->
		<div class="shopList_frame">
			<div>
				<a href="http://aichi.dhrank.com/12559" class="shopName">大垣 不二子chan 本店</a>　<span class="kuchikomi">UP</span>
				<a href="http://aichi.dhrank.com/12559" class="css_btn_class">詳細を見る</a>
			</div>
			<div class="pay_mark clearfix">
				<!-- p class="pay_yoyaku">先行予約OK</p -->
				<!-- p class="pay_credit">クレジットOK</p -->
				<!-- p class="pay_ryoshu">領収書OK</p -->
				<!-- p class="pay_machi">待ち合わせOK</p -->
				<!-- p class="pay_cosplay">コスプレあり</p -->
				<!-- p class="pay_coupon">クーポンあり</p -->
			</div>
		</div>

		<div class="shopList_main clearfix">
			<div>
				<a href="http://aichi.dhrank.com/12559"><img src="http://img.dhrank.com/shop/12559/image_list.jpg" width="160" height="210" class="img_frame" /></a>
			</div>
			<div>
				<p class="catchCopy"><b><strong>皆様のお陰でこの岐阜県下133店舗の頂点に輝き続け…</strong></b></p>
				<p>皆様に愛されご利用頂きまして数多くの美女達とお客様にお遊び頂きました。 当店は『清潔感に溢れ、言葉使いも綺麗な最高ランクの美女ばかり在籍』を目標にしお客様満足度120％を目指していきます！</p>
				<div class="shopListLeft">
					<dl class="clearfix">
						<dt>営業時間</dt>
						<dd>09:00〜09:00</dd>
						<dt>最低料金</dt>
						<dd>18000円〜</dd>
						<dt>住所</dt>
						<dd>　</dd>
					</dl>
					<p class="shopNum">
						<span class="zaiseki">在籍数:</span><span class="num">66人</span>
						<span class="kuchikomi2">口コミ:</span><span class="num">2件</span>
					</p>
				</div>
				<div class="shopListRight">
					<a href="http://aichi.dhrank.com/12559" class="css_btn_more">詳細を見る</a><a href="#" class="css_btn_bookmark">お気に入りに保存</a><!-- <p><img src="/img/shop_banner.jpg" /></p> -->
				</div>
				<div class="shopListBottom clearfix">
					<ul>
						<li><span class="type1">新規</span>coming soon</li>
						<li><span class="type2">会員</span>coming soon</li>
					</ul>
				</div>
			</div>
		</div>
<!-- /shop no2 -->

<!--shop no3-->
		<div class="shopList_frame">
			<div>
				<a href="http://aichi.dhrank.com/5488" class="shopName">やまとなでしこ〜人妻エロエロ星人〜</a>　<span class="kuchikomi">UP</span>
				<a href="http://aichi.dhrank.com/5488" class="css_btn_class">詳細を見る</a>
			</div>
			<div class="pay_mark clearfix">
				<!-- p class="pay_yoyaku">先行予約OK</p -->
				<!-- p class="pay_credit">クレジットOK</p -->
				<!-- p class="pay_ryoshu">領収書OK</p -->
				<!-- p class="pay_machi">待ち合わせOK</p -->
				<!-- p class="pay_cosplay">コスプレあり</p -->
				<!-- p class="pay_coupon">クーポンあり</p -->
			</div>
		</div>

		<div class="shopList_main clearfix">
			<div>
				<a href="http://aichi.dhrank.com/5488"><img src="http://img.dhrank.com/shop/5488/image_list.jpg" width="160" height="210" class="img_frame" /></a>
			</div>
			<div>
				<p class="catchCopy"><b><strong>ハイレベル美人妻が百花繚乱</strong></b></p>
				<p>果てしなく続く欲情をあなたが受け止めて下さい。</p>
				<div class="shopListLeft">
					<dl class="clearfix">
						<dt>営業時間</dt>
						<dd>10:00～03:00</dd>
						<dt>最低料金</dt>
						<dd>18000円〜</dd>
						<dt>住所</dt>
						<dd>愛知県岡崎市発～</dd>
					</dl>
					<p class="shopNum">
						<span class="zaiseki">在籍数:</span><span class="num">65人</span>
						<span class="kuchikomi2">口コミ:</span><span class="num">33件</span>
					</p>
				</div>
				<div class="shopListRight">
					<a href="http://aichi.dhrank.com/5488" class="css_btn_more">詳細を見る</a><a href="#" class="css_btn_bookmark">お気に入りに保存</a><!-- <p><img src="/img/shop_banner.jpg" /></p> -->
				</div>
				<div class="shopListBottom clearfix">
					<ul>
						<li><span class="type1">新規</span>coming soon</li>
						<li><span class="type2">会員</span>coming soon</li>
					</ul>
				</div>
			</div>
		</div>
<!-- /shop no3 -->

<!--shop no4 -->
		<div class="shopList_frame">
			<div>
				<a href="http://aichi.dhrank.com/12654" class="shopName">LEGEND -レジェンド-</a>　<span class="kuchikomi">UP</span>
				<a href="http://aichi.dhrank.com/12654" class="css_btn_class">詳細を見る</a>
			</div>
			<div class="pay_mark clearfix">
				<p class="pay_yoyaku">先行予約OK</p>
				<!-- p class="pay_credit">クレジットOK</p -->
				<p class="pay_ryoshu">領収書OK</p>
				<!-- p class="pay_machi">待ち合わせOK</p -->
				<p class="pay_cosplay">コスプレあり</p>
				<!-- p class="pay_coupon">クーポンあり</p -->
			</div>
		</div>

		<div class="shopList_main clearfix">
			<div>
				<a href="http://aichi.dhrank.com/12654"><img src="http://img.dhrank.com/shop/12654/image_list.jpg" width="160" height="210" class="img_frame" /></a>
			</div>
			<div>
				<p class="catchCopy"><b><strong>▼全てにおいて凌驚する圧倒的なハイレベルキャストたち！</strong></b></p>
				<p>
皆様の中には既存の風俗店で物足りない 思いもされている方も多いのではないでしょうか？ 本来のデリヘルは癒しだと思い 当店では厳選され...
				</p>
				<div class="shopListLeft">
					<dl class="clearfix">
						<dt>営業時間</dt>
						<dd>10:00〜01:00</dd>
						<dt>最低料金</dt>
						<dd>10000円〜</dd>
						<dt>住所</dt>
						<dd>豊橋市発</dd>
					</dl>
					<p class="shopNum">
						<span class="zaiseki">在籍数:</span><span class="num">18人</span>
						<span class="kuchikomi2">口コミ:</span><span class="num">0件</span>
					</p>
				</div>
				<div class="shopListRight">
					<a href="http://aichi.dhrank.com/12654" class="css_btn_more">詳細を見る</a><a href="#" class="css_btn_bookmark">お気に入りに保存</a><!-- <p><img src="/img/shop_banner.jpg" /></p> -->
				</div>
				<div class="shopListBottom clearfix">
					<ul>
						<li><span class="type1">新規</span>coming soon</li>
						<li><span class="type2">会員</span>coming soon</li>
					</ul>
				</div>
			</div>
		</div>
<!-- /shop no4 -->

<!-- shop no5 -->
		<div class="shopList_frame">
			<div>
				<a href="http://aichi.dhrank.com/12662" class="shopName">姉の秘密</a>　<span class="kuchikomi">UP</span>
				<a href="http://aichi.dhrank.com/12662" class="css_btn_class">詳細を見る</a>
			</div>
			<div class="pay_mark clearfix">
				<!-- p class="pay_yoyaku">先行予約OK</p -->
				<p class="pay_credit">クレジットOK</p>
				<!-- p class="pay_ryoshu">領収書OK</p -->
				<!-- p class="pay_machi">待ち合わせOK</p -->
				<!-- p class="pay_cosplay">コスプレあり</p -->
				<!-- p class="pay_coupon">クーポンあり</p -->
			</div>
		</div>

		<div class="shopList_main clearfix">
			<div>
				<a href="http://aichi.dhrank.com/12662"><img src="http://img.dhrank.com/shop/12662/image_list.jpg" width="160" height="210" class="img_frame" /></a>
			</div>
			<div>
				<p class="catchCopy"><b><strong>お姉さんの秘密・・・純粋そうなのに・・・実はエロい！</strong></b></p>
				<p>
当店は「ピュアなお姉さん」にこだわっているデリヘルです。一緒にいて話しやすい女の子、ゆったり寛げる女の子。そんなピュアなコの醍醐味を…
				</p>
				<div class="shopListLeft">
					<dl class="clearfix">
						<dt>営業時間</dt>
						<dd>11:00〜03:00</dd>
						<dt>最低料金</dt>
						<dd>18000円〜</dd>
						<dt>住所</dt>
						<dd>岡崎発</dd>
					</dl>
					<p class="shopNum">
						<span class="zaiseki">在籍数:</span><span class="num">17人</span>
						<span class="kuchikomi2">口コミ:</span><span class="num">0件</span>
					</p>
				</div>
				<div class="shopListRight">
					<a href="http://aichi.dhrank.com/12662" class="css_btn_more">詳細を見る</a><a href="#" class="css_btn_bookmark">お気に入りに保存</a><!-- <p><img src="/img/shop_banner.jpg" /></p> -->
				</div>
				<div class="shopListBottom clearfix">
					<ul>
						<li><span class="type1">新規</span>coming soon</li>
						<li><span class="type2">会員</span>coming soon</li>
					</ul>
				</div>
			</div>
		</div>
<!-- /shop no5 -->

<!-- shop no6 -->
		<div class="shopList_frame">
			<div>
				<a href="http://aichi.dhrank.com/5728" class="shopName">小悪魔ガール</a>　<span class="kuchikomi">UP</span>
				<a href="http://aichi.dhrank.com/5728" class="css_btn_class">詳細を見る</a>
			</div>
			<div class="pay_mark clearfix">
				<!-- p class="pay_yoyaku">先行予約OK</p -->
				<p class="pay_credit">クレジットOK</p>
				<!-- p class="pay_ryoshu">領収書OK</p -->
				<!-- p class="pay_machi">待ち合わせOK</p -->
				<!-- p class="pay_cosplay">コスプレあり</p -->
				<!-- p class="pay_coupon">クーポンあり</p -->
			</div>
		</div>

		<div class="shopList_main clearfix">
			<div>
				<a href="http://aichi.dhrank.com/5728"><img src="http://img.dhrank.com/shop/5728/image_list.jpg" width="160" height="210" class="img_frame" /></a>
			</div>
			<div>
				<p class="catchCopy"><b><strong>在籍する女の子全員がルックス抜群のデリヘル『小悪魔ガール』</strong></b></p>
				<p>
めっちゃカワイイ女の子から綺麗な女の子まで幅広いタイプが在籍!きっとお気に入りの女の子が見つかりますよ。…
				</p>
				<div class="shopListLeft">
					<dl class="clearfix">
						<dt>営業時間</dt>
						<dd>10:00〜03:00</dd>
						<dt>最低料金</dt>
						<dd>16000円〜</dd>
						<dt>住所</dt>
						<dd>愛知県岡崎市</dd>
					</dl>
					<p class="shopNum">
						<span class="zaiseki">在籍数:</span><span class="num">19人</span>
						<span class="kuchikomi2">口コミ:</span><span class="num">30件</span>
					</p>
				</div>
				<div class="shopListRight">
					<a href="http://aichi.dhrank.com/5728" class="css_btn_more">詳細を見る</a><a href="#" class="css_btn_bookmark">お気に入りに保存</a><!-- <p><img src="/img/shop_banner.jpg" /></p> -->
				</div>
				<div class="shopListBottom clearfix">
					<ul>
						<li><span class="type1">新規</span>coming soon</li>
						<li><span class="type2">会員</span>coming soon</li>
					</ul>
				</div>
			</div>
		</div>
<!-- /shop no6 -->

<!-- shop no7 -->
		<div class="shopList_frame">
			<div>
				<a href="http://aichi.dhrank.com/12664" class="shopName">絶対領域</a>　<span class="kuchikomi">UP</span>
				<a href="http://aichi.dhrank.com/12664" class="css_btn_class">詳細を見る</a>
			</div>
			<div class="pay_mark clearfix">
				<!-- p class="pay_yoyaku">先行予約OK</p -->
				<!-- p class="pay_credit">クレジットOK</p -->
				<!-- p class="pay_ryoshu">領収書OK</p -->
				<!-- p class="pay_machi">待ち合わせOK</p -->
				<p class="pay_cosplay">コスプレあり</p>
				<!-- p class="pay_coupon">クーポンあり</p -->
			</div>
		</div>

		<div class="shopList_main clearfix">
			<div>
				<a href="http://aichi.dhrank.com/12664"><img src="http://img.dhrank.com/shop/12664/image_list.jpg" width="160" height="210" class="img_frame" /></a>
			</div>
			<div>
				<p class="catchCopy"><b><strong>★業界初『絶対領域』岡崎発の女子大生専門デリヘル★</strong></b></p>
				<p>
業界初の現役女子大生専門店！圧倒的な女子レベル！驚異的なリピーター率の高さを実感してください…</p>
				<div class="shopListLeft">
					<dl class="clearfix">
						<dt>営業時間</dt>
						<dd>10:00〜03:00</dd>
						<dt>最低料金</dt>
						<dd>16000円〜</dd>
						<dt>住所</dt>
						<dd>岡崎発</dd>
					</dl>
					<p class="shopNum">
						<span class="zaiseki">在籍数:</span><span class="num">15人</span>
						<span class="kuchikomi2">口コミ:</span><span class="num">0件</span>
					</p>
				</div>
				<div class="shopListRight">
					<a href="http://aichi.dhrank.com/12664" class="css_btn_more">詳細を見る</a><a href="#" class="css_btn_bookmark">お気に入りに保存</a><!-- <p><img src="/img/shop_banner.jpg" /></p> -->
				</div>
				<div class="shopListBottom clearfix">
					<ul>
						<li><span class="type1">新規</span>coming soon</li>
						<li><span class="type2">会員</span>coming soon</li>
					</ul>
				</div>
			</div>
		</div>
<!-- /shop no7 -->

<!-- shop no8 -->
		<div class="shopList_frame">
			<div>
				<a href="http://aichi.dhrank.com/11789" class="shopName">愛AMORE名古屋店</a>　<span class="kuchikomi">UP</span>
				<a href="http://aichi.dhrank.com/11789" class="css_btn_class">詳細を見る</a>
			</div>
			<div class="pay_mark clearfix">
				<!-- p class="pay_yoyaku">先行予約OK</p -->
				<!-- p class="pay_credit">クレジットOK</p -->
				<!-- p class="pay_ryoshu">領収書OK</p -->
				<!-- p class="pay_machi">待ち合わせOK</p -->
				<!-- p class="pay_cosplay">コスプレあり</p -->
				<!-- p class="pay_coupon">クーポンあり</p -->
			</div>
		</div>

		<div class="shopList_main clearfix">
			<div>
				<a href="http://aichi.dhrank.com/11789"><img src="http://img.dhrank.com/shop/11789/image_list.jpg" width="160" height="210" class="img_frame" /></a>
			</div>
			<div>
				<p class="catchCopy"><b><strong>　</strong></b></p>
				<p>　</p>
				<div class="shopListLeft">
					<dl class="clearfix">
						<dt>営業時間</dt>
						<dd>09:00〜09:00</dd>
						<dt>最低料金</dt>
						<dd>16,000円～</dd>
						<dt>住所</dt>
						<dd>　</dd>
					</dl>
					<p class="shopNum">
						<span class="zaiseki">在籍数:</span><span class="num">67人</span>
						<span class="kuchikomi2">口コミ:</span><span class="num">37件</span>
					</p>
				</div>
				<div class="shopListRight">
					<a href="http://aichi.dhrank.com/11789" class="css_btn_more">詳細を見る</a><a href="#" class="css_btn_bookmark">お気に入りに保存</a><!-- <p><img src="/img/shop_banner.jpg" /></p> -->
				</div>
				<div class="shopListBottom clearfix">
					<ul>
						<li><span class="type1">新規</span>coming soon</li>
						<li><span class="type2">会員</span>coming soon</li>
					</ul>
				</div>
			</div>
		</div>
<!-- /shop no8 -->

<!-- shop no9 -->
		<div class="shopList_frame">
			<div>
				<a href="http://aichi.dhrank.com/10925" class="shopName">愛ANGEL</a>　<span class="kuchikomi">UP</span>
				<a href="http://aichi.dhrank.com/10925" class="css_btn_class">詳細を見る</a>
			</div>
			<div class="pay_mark clearfix">
				<!-- p class="pay_yoyaku">先行予約OK</p -->
				<!-- p class="pay_credit">クレジットOK</p -->
				<!-- p class="pay_ryoshu">領収書OK</p -->
				<!-- p class="pay_machi">待ち合わせOK</p -->
				<!-- p class="pay_cosplay">コスプレあり</p -->
				<!-- p class="pay_coupon">クーポンあり</p -->
			</div>
		</div>

		<div class="shopList_main clearfix">
			<div>
				<a href="http://aichi.dhrank.com/10925"><img src="http://img.dhrank.com/shop/10925/image_list.jpg" width="160" height="210" class="img_frame" /></a>
			</div>
			<div>
				<p class="catchCopy"><b><strong>　</strong></b></p>
				<p>　</p>
				<div class="shopListLeft">
					<dl class="clearfix">
						<dt>営業時間</dt>
						<dd>09:00〜09:00</dd>
						<dt>最低料金</dt>
						<dd>17000円〜</dd>
						<dt>住所</dt>
						<dd>　</dd>
					</dl>
					<p class="shopNum">
						<span class="zaiseki">在籍数:</span><span class="num">152人</span>
						<span class="kuchikomi2">口コミ:</span><span class="num">79件</span>
					</p>
				</div>
				<div class="shopListRight">
					<a href="http://aichi.dhrank.com/10925" class="css_btn_more">詳細を見る</a><a href="#" class="css_btn_bookmark">お気に入りに保存</a><!-- <p><img src="/img/shop_banner.jpg" /></p> -->
				</div>
				<div class="shopListBottom clearfix">
					<ul>
						<li><span class="type1">新規</span>coming soon</li>
						<li><span class="type2">会員</span>coming soon</li>
					</ul>
				</div>
			</div>
		</div>
<!-- /shop no9 -->

<!-- shop no10 -->
		<div class="shopList_frame">
			<div>
				<a href="http://aichi.dhrank.com/12724" class="shopName">デリワゴン</a>　<span class="kuchikomi">UP</span>
				<a href="http://aichi.dhrank.com/12724" class="css_btn_class">詳細を見る</a>
			</div>
			<div class="pay_mark clearfix">
				<!-- p class="pay_yoyaku">先行予約OK</p -->
				<!-- p class="pay_credit">クレジットOK</p -->
				<!-- p class="pay_ryoshu">領収書OK</p -->
				<!-- p class="pay_machi">待ち合わせOK</p -->
				<!-- p class="pay_cosplay">コスプレあり</p -->
				<!-- p class="pay_coupon">クーポンあり</p -->
			</div>
		</div>

		<div class="shopList_main clearfix">
			<div>
				<a href="http://aichi.dhrank.com/12724"><img src="http://img.dhrank.com/shop/12724/image_list.jpg" width="160" height="210" class="img_frame" /></a>
			</div>
			<div>
				<p class="catchCopy"><b><strong>顔出し率９５％!!地域Ｎｏ．１!!街角１０代・完全素人娘が勢揃いっ♪</strong></b></p>
				<p>当店は【～顔出し率95％～】「10代」「可愛い」「完全素人」の三拍子揃った女の子ばかりを取り揃えています!! 文句ナシの【顔出し率95％】だから…</p>
				<div class="shopListLeft">
					<dl class="clearfix">
						<dt>営業時間</dt>
						<dd>15:00～09:00</dd>
						<dt>最低料金</dt>
						<dd>20,000円～</dd>
						<dt>住所</dt>
						<dd>名古屋発</dd>
					</dl>
					<p class="shopNum">
						<span class="zaiseki">在籍数:</span><span class="num">137人</span>
						<span class="kuchikomi2">口コミ:</span><span class="num">0件</span>
					</p>
				</div>
				<div class="shopListRight">
					<a href="http://aichi.dhrank.com/12724" class="css_btn_more">詳細を見る</a><a href="#" class="css_btn_bookmark">お気に入りに保存</a><!-- <p><img src="/img/shop_banner.jpg" /></p> -->
				</div>
				<div class="shopListBottom clearfix">
					<ul>
						<li><span class="type1">新規</span>coming soon</li>
						<li><span class="type2">会員</span>coming soon</li>
					</ul>
				</div>
			</div>
		</div>
<!-- /shop no9 -->


<!-- shop no10 -->
		<div class="shopList_frame">
			<div>
				<a href="http://aichi.dhrank.com/10964" class="shopName">不二子chan本店</a>　<span class="kuchikomi">UP</span>
				<a href="http://aichi.dhrank.com/10964" class="css_btn_class">詳細を見る</a>
			</div>
			<div class="pay_mark clearfix">
				<!-- p class="pay_yoyaku">先行予約OK</p -->
				<!-- p class="pay_credit">クレジットOK</p -->
				<!-- p class="pay_ryoshu">領収書OK</p -->
				<!-- p class="pay_machi">待ち合わせOK</p -->
				<!-- p class="pay_cosplay">コスプレあり</p -->
				<!-- p class="pay_coupon">クーポンあり</p -->
			</div>
		</div>

		<div class="shopList_main clearfix">
			<div>
				<a href="http://aichi.dhrank.com/10964"><img src="http://img.dhrank.com/shop/10964/image_list.jpg" width="160" height="210" class="img_frame" /></a>
			</div>
			<div>
				<p class="catchCopy"><b><strong>現役大学生や素人系が多く在籍しているお店「不二子chan」です!!</strong></b></p>
				<p>名古屋デリヘル界で、一番を誇る在籍数の女の子達。素人系、巨乳系、お姉様〜キレイ系まで、さまざまな女の子が60名以上在籍!!</p>
				<div class="shopListLeft">
					<dl class="clearfix">
						<dt>営業時間</dt>
						<dd>10:00～03:00</dd>
						<dt>最低料金</dt>
						<dd>20000円〜</dd>
						<dt>住所</dt>
						<dd>名古屋発～</dd>
					</dl>
					<p class="shopNum">
						<span class="zaiseki">在籍数:</span><span class="num">116人</span>
						<span class="kuchikomi2">口コミ:</span><span class="num">0件</span>
					</p>
				</div>
				<div class="shopListRight">
					<a href="http://aichi.dhrank.com/10964" class="css_btn_more">詳細を見る</a><a href="#" class="css_btn_bookmark">お気に入りに保存</a><!-- <p><img src="/img/shop_banner.jpg" /></p> -->
				</div>
				<div class="shopListBottom clearfix">
					<ul>
						<li><span class="type1">新規</span>coming soon</li>
						<li><span class="type2">会員</span>coming soon</li>
					</ul>
				</div>
			</div>
		</div>
<!-- /shop no9 -->

<!-- shop no10 -->
		<div class="shopList_frame">
			<div>
				<a href="http://aichi.dhrank.com/12717" class="shopName">AH-素人系 Ｃｕｔｅ豊橋店</a>　<span class="kuchikomi">UP</span>
				<a href="http://aichi.dhrank.com/12717" class="css_btn_class">詳細を見る</a>
			</div>
			<div class="pay_mark clearfix">
				<!-- p class="pay_yoyaku">先行予約OK</p -->
				<p class="pay_credit">クレジットOK</p>
				<!-- p class="pay_ryoshu">領収書OK</p -->
				<!-- p class="pay_machi">待ち合わせOK</p -->
				<!-- p class="pay_cosplay">コスプレあり</p -->
				<!-- p class="pay_coupon">クーポンあり</p -->
			</div>
		</div>

		<div class="shopList_main clearfix">
			<div>
				<a href="http://aichi.dhrank.com/12717"><img src="http://img.dhrank.com/shop/12717/image_list.jpg" width="160" height="210" class="img_frame" /></a>
			</div>
			<div>
				<p class="catchCopy"><b><strong>▼60分コースが11，000円で楽しめちゃう☆</strong></b></p>
				<p>現役アイドル・モデル・タレント素人系の最高峰でえっちな女の子が勢ぞろい☆ 今　話題のお店　☆AH　素人系　Cute　♪♪☆</p>
				<div class="shopListLeft">
					<dl class="clearfix">
						<dt>営業時間</dt>
						<dd>00:00～00:00</dd>
						<dt>最低料金</dt>
						<dd>10,000円〜</dd>
						<dt>住所</dt>
						<dd>豊橋発</dd>
					</dl>
					<p class="shopNum">
						<span class="zaiseki">在籍数:</span><span class="num">47人</span>
						<span class="kuchikomi2">口コミ:</span><span class="num">0件</span>
					</p>
				</div>
				<div class="shopListRight">
					<a href="http://aichi.dhrank.com/12717" class="css_btn_more">詳細を見る</a><a href="#" class="css_btn_bookmark">お気に入りに保存</a><!-- <p><img src="/img/shop_banner.jpg" /></p> -->
				</div>
				<div class="shopListBottom clearfix">
					<ul>
						<li><span class="type1">新規</span>coming soon</li>
						<li><span class="type2">会員</span>coming soon</li>
					</ul>
				</div>
			</div>
		</div>
<!-- /shop no9 -->



