		<div class="pageCounter">
			<span class="num">10</span><span>件のデリヘルがあります</span>
			<span><img src="/img/left.png" /><!-- a href="#" -->前へ<!-- /a -->　1/1ページ　<!-- a href="#" -->次へ<!-- /a --><img src="/img/right.png" /></span>
		</div>

		<!-- shop no1 -->
		<div class="shopList_frame">
			<div>
				<a href="http://fukuoka.dhrank.com/12678" class="shopName">福岡本物OLクラブ</a>　<span class="kuchikomi">UP</span>
				<a href="http://fukuoka.dhrank.com/12678" class="css_btn_class">詳細を見る</a>
			</div>
			<div class="pay_mark clearfix">
				<!-- p class="pay_yoyaku">先行予約OK</p -->
				<!-- p class="pay_credit">クレジットOK</p -->
				<!-- p class="pay_ryoshu">領収書OK</p -->
				<!-- p class="pay_machi">待ち合わせOK</p -->
				<!-- p class="pay_cosplay">コスプレあり</p -->
				<p class="pay_coupon">クーポンあり</p>
			</div>
		</div>

		<div class="shopList_main clearfix">
			<div>
				<a href="http://fukuoka.dhrank.com/12678"><img src="http://img.dhrank.com/shop/12678/image_list.jpg" width="160" height="210" class="img_frame" /></a>
			</div>
			<div>
				<p class="catchCopy"><b><strong>現役ＯＬ専門店!!指名料無料キャンペーン中!!</strong></b></p>
				<p>只今、福岡本物ＯＬクラブでは
～【今月のイベント】～
指名料無料キャンペーン中!!
55分￥12000-... </p>
				<div class="shopListLeft">
					<dl class="clearfix">
						<dt>営業時間</dt>
						<dd>12:00〜06:00</dd>
						<dt>最低料金</dt>
						<dd>12000円〜</dd>
						<dt>住所</dt>
						<dd>福岡発</dd>
					</dl>
					<p class="shopNum">
						<span class="zaiseki">在籍数:</span><span class="num">13人</span>
						<span class="kuchikomi2">口コミ:</span><span class="num">0件</span>
					</p>
				</div>
				<div class="shopListRight">
					<a href="http://fukuoka.dhrank.com/12678" class="css_btn_more">詳細を見る</a><a href="#" class="css_btn_bookmark">お気に入りに保存</a><!-- <p><img src="/img/shop_banner.jpg" /></p> -->
				</div>
				<div class="shopListBottom clearfix">
					<ul>
						<li><span class="type1">新規</span>coming soon</li>
						<li><span class="type2">会員</span>coming soon</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /shop no1 -->


		<!-- shop no2 -->
		<div class="shopList_frame">
			<div>
				<a href="http://fukuoka.dhrank.com/12679" class="shopName">博多人妻.jp</a>　<span class="kuchikomi">UP</span>
				<a href="http://fukuoka.dhrank.com/12679" class="css_btn_class">詳細を見る</a>
			</div>
			<div class="pay_mark clearfix">
				<!-- p class="pay_yoyaku">先行予約OK</p -->
				<p class="pay_credit">クレジットOK</p>
				<!-- p class="pay_ryoshu">領収書OK</p -->
				<!-- p class="pay_machi">待ち合わせOK</p -->
				<!-- p class="pay_cosplay">コスプレあり</p -->
				<!-- p class="pay_coupon">クーポンあり</p -->
			</div>
		</div>

		<div class="shopList_main clearfix">
			<div>
				<a href="http://fukuoka.dhrank.com/12679"><img src="http://img.dhrank.com/shop/12679/image_list.jpg" width="160" height="210" class="img_frame" /></a>
			</div>
			<div>
				<p class="catchCopy"><b><strong>福岡市人妻デリバリーヘルス</strong></b></p>
				<p>今月のキャンペーンは指名料無料です!!
当店で安く楽しくお遊び下さい。</p>
				<div class="shopListLeft">
					<dl class="clearfix">
						<dt>営業時間</dt>
						<dd>12:00〜06:00</dd>
						<dt>最低料金</dt>
						<dd>12000円〜</dd>
						<dt>住所</dt>
						<dd>福岡発</dd>
					</dl>
					<p class="shopNum">
						<span class="zaiseki">在籍数:</span><span class="num">10人</span>
						<span class="kuchikomi2">口コミ:</span><span class="num">0件</span>
					</p>
				</div>
				<div class="shopListRight">
					<a href="http://fukuoka.dhrank.com/12679" class="css_btn_more">詳細を見る</a><a href="#" class="css_btn_bookmark">お気に入りに保存</a><!-- <p><img src="/img/shop_banner.jpg" /></p> -->
				</div>
				<div class="shopListBottom clearfix">
					<ul>
						<li><span class="type1">新規</span>coming soon</li>
						<li><span class="type2">会員</span>coming soon</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /shop no2 -->


		<!-- shop no3 -->
		<div class="shopList_frame">
			<div>
				<a href="http://fukuoka.dhrank.com/12680" class="shopName">and GAL'S 福岡</a>　<span class="kuchikomi">UP</span>
				<a href="http://fukuoka.dhrank.com/12680" class="css_btn_class">詳細を見る</a>
			</div>
			<div class="pay_mark clearfix">
				<!-- p class="pay_yoyaku">先行予約OK</p -->
				<!-- p class="pay_credit">クレジットOK</p -->
				<!-- p class="pay_ryoshu">領収書OK</p -->
				<!-- p class="pay_machi">待ち合わせOK</p -->
				<p class="pay_cosplay">コスプレあり</p>
				<p class="pay_coupon">クーポンあり</p>
			</div>
		</div>

		<div class="shopList_main clearfix">
			<div>
				<a href="http://fukuoka.dhrank.com/12680"><img src="http://img.dhrank.com/shop/12680/image_list.jpg" width="160" height="210" class="img_frame" /></a>
			</div>
			<div>
				<p class="catchCopy"><b><strong>博多で１番かわいいデリヘル！！</strong></b></p>
				<p>＜当店のコンセプト＞
お客様の想像を超える満足度のご提供

当店はコンパニオンに対し、九州エリア最高クラス…</p>
				<div class="shopListLeft">
					<dl class="clearfix">
						<dt>営業時間</dt>
						<dd>09:00〜05:00</dd>
						<dt>最低料金</dt>
						<dd>12000円〜</dd>
						<dt>住所</dt>
						<dd>博多発</dd>
					</dl>
					<p class="shopNum">
						<span class="zaiseki">在籍数:</span><span class="num">30人</span>
						<span class="kuchikomi2">口コミ:</span><span class="num">0件</span>
					</p>
				</div>
				<div class="shopListRight">
					<a href="http://fukuoka.dhrank.com/12680" class="css_btn_more">詳細を見る</a><a href="#" class="css_btn_bookmark">お気に入りに保存</a><!-- <p><img src="/img/shop_banner.jpg" /></p> -->
				</div>
				<div class="shopListBottom clearfix">
					<ul>
						<li><span class="type1">新規</span>coming soon</li>
						<li><span class="type2">会員</span>coming soon</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /shop no3 -->
		
		
		<!-- shop no4 -->
		<div class="shopList_frame">
			<div>
				<a href="http://fukuoka.dhrank.com/12681" class="shopName">CLUBアルバ</a>　<span class="kuchikomi">UP</span>
				<a href="http://fukuoka.dhrank.com/12681" class="css_btn_class">詳細を見る</a>
			</div>
			<div class="pay_mark clearfix">
				<!-- p class="pay_yoyaku">先行予約OK</p -->
				<!-- p class="pay_credit">クレジットOK</p -->
				<!-- p class="pay_ryoshu">領収書OK</p -->
				<!-- p class="pay_machi">待ち合わせOK</p -->
				<p class="pay_cosplay">コスプレあり</p>
				<p class="pay_coupon">クーポンあり</p>
			</div>
		</div>

		<div class="shopList_main clearfix">
			<div>
				<a href="http://fukuoka.dhrank.com/12681"><img src="http://img.dhrank.com/shop/12681/image_list.jpg" width="160" height="210" class="img_frame" /></a>
			</div>
			<div>
				<p class="catchCopy"><b><strong>日々多数の美少女・美女出勤中♪≪続々新人入店中≫ お客様のニーズにお応えできる！！貴方の理想...</strong></b></p>
				<p>合川ホテル街限定！50分・13.000円お試しコース断然お得！！！

綺麗・可愛い・ハイレベルな女の子が多数在籍☆
まさに「鉄板」ばかり...</p>
				<div class="shopListLeft">
					<dl class="clearfix">
						<dt>営業時間</dt>
						<dd>11:00〜04:00</dd>
						<dt>最低料金</dt>
						<dd>13000円〜</dd>
						<dt>住所</dt>
						<dd>久留米市発</dd>
					</dl>
					<p class="shopNum">
						<span class="zaiseki">在籍数:</span><span class="num">34人</span>
						<span class="kuchikomi2">口コミ:</span><span class="num">0件</span>
					</p>
				</div>
				<div class="shopListRight">
					<a href="http://fukuoka.dhrank.com/12681" class="css_btn_more">詳細を見る</a><a href="#" class="css_btn_bookmark">お気に入りに保存</a><!-- <p><img src="/img/shop_banner.jpg" /></p> -->
				</div>
				<div class="shopListBottom clearfix">
					<ul>
						<li><span class="type1">新規</span>coming soon</li>
						<li><span class="type2">会員</span>coming soon</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /shop no4 -->


<!-- shop no5 -->
		<div class="shopList_frame">
			<div>
				<a href="http://fukuoka.dhrank.com/12706" class="shopName">小悪魔ガール</a>　<span class="kuchikomi">UP</span>
				<a href="http://fukuoka.dhrank.com/12706" class="css_btn_class">詳細を見る</a>
			</div>
			<div class="pay_mark clearfix">
				<!-- p class="pay_yoyaku">先行予約OK</p -->
				<!-- p class="pay_credit">クレジットOK</p -->
				<!-- p class="pay_ryoshu">領収書OK</p -->
				<!-- p class="pay_machi">待ち合わせOK</p -->
				<!-- p class="pay_cosplay">コスプレあり</p -->
				<!-- p class="pay_coupon">クーポンあり</p -->
			</div>
		</div>

		<div class="shopList_main clearfix">
			<div>
				<a href="http://fukuoka.dhrank.com/12706"><img src="http://img.dhrank.com/shop/12706/image_list.jpg" width="160" height="210" class="img_frame" /></a>
			</div>
			<div>
				<p class="catchCopy"><b><strong>福岡・博多で厳選されたハイレベルな美女とお得に遊ぶなら、ぜひ福岡・小悪魔GIRLへ♪</strong></b></p>
				<p>久留米NO1店が福岡進出★福岡NO1宣言☆☆エリア最大級グループ在籍数60名オーバー!!大手プロダクションと提携いたしました☆…</p>
				<div class="shopListLeft">
					<dl class="clearfix">
						<dt>営業時間</dt>
						<dd>00:00〜00:00</dd>
						<dt>最低料金</dt>
						<dd>10000円〜</dd>
						<dt>住所</dt>
						<dd>福岡市発</dd>
					</dl>
					<p class="shopNum">
						<span class="zaiseki">在籍数:</span><span class="num">32人</span>
						<span class="kuchikomi2">口コミ:</span><span class="num">0件</span>
					</p>
				</div>
				<div class="shopListRight">
					<a href="http://fukuoka.dhrank.com/12706" class="css_btn_more">詳細を見る</a><a href="#" class="css_btn_bookmark">お気に入りに保存</a><!-- <p><img src="/img/shop_banner.jpg" /></p> -->
				</div>
				<div class="shopListBottom clearfix">
					<ul>
						<li><span class="type1">新規</span>coming soon</li>
						<li><span class="type2">会員</span>coming soon</li>
					</ul>
				</div>
			</div>
		</div>
<!-- /shop no5 -->

<!-- shop no6 -->
		<div class="shopList_frame">
			<div>
				<a href="http://fukuoka.dhrank.com/12707" class="shopName">近所で評判の店　～パート2～</a>　<span class="kuchikomi">UP</span>
				<a href="http://fukuoka.dhrank.com/12707" class="css_btn_class">詳細を見る</a>
			</div>
			<div class="pay_mark clearfix">
				<p class="pay_yoyaku">先行予約OK</p>
				<!-- p class="pay_credit">クレジットOK</p -->
				<!-- p class="pay_ryoshu">領収書OK</p -->
				<!-- p class="pay_machi">待ち合わせOK</p -->
				<!-- p class="pay_cosplay">コスプレあり</p -->
				<p class="pay_coupon">クーポンあり</p>
			</div>
		</div>

		<div class="shopList_main clearfix">
			<div>
				<a href="http://fukuoka.dhrank.com/12707"><img src="http://img.dhrank.com/shop/12707/image_list.jpg" width="160" height="210" class="img_frame" /></a>
			</div>
			<div>
				<p class="catchCopy"><b><strong>ハズレのいない風俗店　近所で評判のお店です。</strong></b></p>
				<p>当店では厳選なる面接の結果採用された、5つ星評価の女性のみ在籍しています 福岡で一番安心感のある風俗店～ご近所で評判のお店です～...</p>
				<div class="shopListLeft">
					<dl class="clearfix">
						<dt>営業時間</dt>
						<dd>09:00〜04:00</dd>
						<dt>最低料金</dt>
						<dd>9000円〜</dd>
						<dt>住所</dt>
						<dd>博多発</dd>
					</dl>
					<p class="shopNum">
						<span class="zaiseki">在籍数:</span><span class="num">56人</span>
						<span class="kuchikomi2">口コミ:</span><span class="num">0件</span>
					</p>
				</div>
				<div class="shopListRight">
					<a href="http://fukuoka.dhrank.com/12707" class="css_btn_more">詳細を見る</a><a href="#" class="css_btn_bookmark">お気に入りに保存</a><!-- <p><img src="/img/shop_banner.jpg" /></p> -->
				</div>
				<div class="shopListBottom clearfix">
					<ul>
						<li><span class="type1">新規</span>coming soon</li>
						<li><span class="type2">会員</span>coming soon</li>
					</ul>
				</div>
			</div>
		</div>
<!-- /shop no6 -->

<!-- shop no7 -->
		<div class="shopList_frame">
			<div>
				<a href="http://fukuoka.dhrank.com/12708" class="shopName">あいあいデリヘル福岡24h</a>　<span class="kuchikomi">UP</span>
				<a href="http://fukuoka.dhrank.com/12708" class="css_btn_class">詳細を見る</a>
			</div>
			<div class="pay_mark clearfix">
				<!-- p class="pay_yoyaku">先行予約OK</p -->
				<p class="pay_credit">クレジットOK</p>
				<!-- p class="pay_ryoshu">領収書OK</p -->
				<!-- p class="pay_machi">待ち合わせOK</p -->
				<!-- p class="pay_cosplay">コスプレあり</p -->
				<!-- p class="pay_coupon">クーポンあり</p -->
			</div>
		</div>

		<div class="shopList_main clearfix">
			<div>
				<a href="http://fukuoka.dhrank.com/12708"><img src="http://img.dhrank.com/shop/12708/image_list.jpg" width="160" height="210" class="img_frame" /></a>
			</div>
			<div>
				<p class="catchCopy"><b><strong>福岡発～24時間営業☆コンビニ感覚でえっちを迅速配達★</strong></b></p>
				<p>福岡発～24時間営業♪ えっ！？この値段でこんないい娘が来ちゃうの！？ スレンダーから巨乳まで可愛い女の子のみを派遣しています...</p>
				<div class="shopListLeft">
					<dl class="clearfix">
						<dt>営業時間</dt>
						<dd>00:00〜00:00</dd>
						<dt>最低料金</dt>
						<dd>7900円〜</dd>
						<dt>住所</dt>
						<dd>福岡市発</dd>
					</dl>
					<p class="shopNum">
						<span class="zaiseki">在籍数:</span><span class="num">46人</span>
						<span class="kuchikomi2">口コミ:</span><span class="num">0件</span>
					</p>
				</div>
				<div class="shopListRight">
					<a href="http://fukuoka.dhrank.com/12708" class="css_btn_more">詳細を見る</a><a href="#" class="css_btn_bookmark">お気に入りに保存</a><!-- <p><img src="/img/shop_banner.jpg" /></p> -->
				</div>
				<div class="shopListBottom clearfix">
					<ul>
						<li><span class="type1">新規</span>coming soon</li>
						<li><span class="type2">会員</span>coming soon</li>
					</ul>
				</div>
			</div>
		</div>
<!-- /shop no7 -->

<!-- shop no8 -->
		<div class="shopList_frame">
			<div>
				<a href="http://fukuoka.dhrank.com/4579" class="shopName">あぁぁ遊ぶなら博多人妻専科</a>　<span class="kuchikomi">UP</span>
				<a href="http://fukuoka.dhrank.com/4579" class="css_btn_class">詳細を見る</a>
			</div>
			<div class="pay_mark clearfix">
				<p class="pay_yoyaku">先行予約OK</p>
				<p class="pay_credit">クレジットOK</p>
				<!-- p class="pay_ryoshu">領収書OK</p -->
				<!-- p class="pay_machi">待ち合わせOK</p -->
				<!-- p class="pay_cosplay">コスプレあり</p -->
				<p class="pay_coupon">クーポンあり</p>
			</div>
		</div>

		<div class="shopList_main clearfix">
			<div>
				<a href="http://fukuoka.dhrank.com/4579"><img src="http://img.dhrank.com/shop/4579/image_list.jpg" width="160" height="210" class="img_frame" /></a>
			</div>
			<div>
				<p class="catchCopy"><b><strong>福岡博多の人妻店、在籍最大級！顧客満足度最高を目指しております！</strong></b></p>
				<p>お財布に優しいこのお値段！！60分￥8900～出張可能な福岡・博多の激安人妻デリヘル店！ お色気ムンムン・セクシーな若妻からマニア好み...</p>
				<div class="shopListLeft">
					<dl class="clearfix">
						<dt>営業時間</dt>
						<dd>10:00〜05:00</dd>
						<dt>最低料金</dt>
						<dd>8900円〜</dd>
						<dt>住所</dt>
						<dd>福岡市発</dd>
					</dl>
					<p class="shopNum">
						<span class="zaiseki">在籍数:</span><span class="num">111人</span>
						<span class="kuchikomi2">口コミ:</span><span class="num">0件</span>
					</p>
				</div>
				<div class="shopListRight">
					<a href="http://fukuoka.dhrank.com/4579" class="css_btn_more">詳細を見る</a><a href="#" class="css_btn_bookmark">お気に入りに保存</a><!-- <p><img src="/img/shop_banner.jpg" /></p> -->
				</div>
				<div class="shopListBottom clearfix">
					<ul>
						<li><span class="type1">新規</span>coming soon</li>
						<li><span class="type2">会員</span>coming soon</li>
					</ul>
				</div>
			</div>
		</div>
<!-- /shop no8 -->

<!-- shop no9 -->
		<div class="shopList_frame">
			<div>
				<a href="http://fukuoka.dhrank.com/4437" class="shopName">ミセスいちごいちえ</a>　<span class="kuchikomi">UP</span>
				<a href="http://fukuoka.dhrank.com/4437" class="css_btn_class">詳細を見る</a>
			</div>
			<div class="pay_mark clearfix">
				<!-- p class="pay_yoyaku">先行予約OK</p -->
				<!-- p class="pay_credit">クレジットOK</p -->
				<!-- p class="pay_ryoshu">領収書OK</p -->
				<!-- p class="pay_machi">待ち合わせOK</p -->
				<p class="pay_cosplay">コスプレあり</p>
				<!-- p class="pay_coupon">クーポンあり</p -->
			</div>
		</div>

		<div class="shopList_main clearfix">
			<div>
				<a href="http://fukuoka.dhrank.com/4437"><img src="http://img.dhrank.com/shop/4437/image_list.jpg" width="160" height="210" class="img_frame" /></a>
			</div>
			<div>
				<p class="catchCopy"><b><strong>上質のある濃厚プレイをモチーフとした人妻・熟女専門店</strong></b></p>
				<p>これでいいの！？ 安くてもサービス濃厚！！</p>
				<div class="shopListLeft">
					<dl class="clearfix">
						<dt>営業時間</dt>
						<dd>09:00〜03:00</dd>
						<dt>最低料金</dt>
						<dd>16000円〜</dd>
						<dt>住所</dt>
						<dd>博多発</dd>
					</dl>
					<p class="shopNum">
						<span class="zaiseki">在籍数:</span><span class="num">10人</span>
						<span class="kuchikomi2">口コミ:</span><span class="num">3件</span>
					</p>
				</div>
				<div class="shopListRight">
					<a href="http://fukuoka.dhrank.com/4437" class="css_btn_more">詳細を見る</a><a href="#" class="css_btn_bookmark">お気に入りに保存</a><!-- <p><img src="/img/shop_banner.jpg" /></p> -->
				</div>
				<div class="shopListBottom clearfix">
					<ul>
						<li><span class="type1">新規</span>coming soon</li>
						<li><span class="type2">会員</span>coming soon</li>
					</ul>
				</div>
			</div>
		</div>
<!-- /shop no9 -->


<!-- shop no10 -->
		<div class="shopList_frame">
			<div>
				<a href="http://fukuoka.dhrank.com/11551" class="shopName">博多ファーストミセス</a>　<span class="kuchikomi">UP</span>
				<a href="http://fukuoka.dhrank.com/11551" class="css_btn_class">詳細を見る</a>
			</div>
			<div class="pay_mark clearfix">
				<!-- p class="pay_yoyaku">先行予約OK</p -->
				<p class="pay_credit">クレジットOK</p>
				<p class="pay_ryoshu">領収書OK</p>
				<!-- p class="pay_machi">待ち合わせOK</p -->
				<!-- p class="pay_cosplay">コスプレあり</p -->
				<!-- p class="pay_coupon">クーポンあり</p -->
			</div>
		</div>

		<div class="shopList_main clearfix">
			<div>
				<a href="http://fukuoka.dhrank.com/11551"><img src="http://img.dhrank.com/shop/11551/image_list.jpg" width="160" height="210" class="img_frame" /></a>
			</div>
			<div>
				<p class="catchCopy"><b><strong>至高のサービスと癒し溢れる魅力を存分に堪能下さいませ</strong></b></p>
				<p>新人続々入店中です！ 皆様のお越しを 心よりお待ちしてます♪</p>
				<div class="shopListLeft">
					<dl class="clearfix">
						<dt>営業時間</dt>
						<dd>10:00〜05:00</dd>
						<dt>最低料金</dt>
						<dd>16000円〜</dd>
						<dt>住所</dt>
						<dd>福岡市発</dd>
					</dl>
					<p class="shopNum">
						<span class="zaiseki">在籍数:</span><span class="num">16人</span>
						<span class="kuchikomi2">口コミ:</span><span class="num">0件</span>
					</p>
				</div>
				<div class="shopListRight">
					<a href="http://fukuoka.dhrank.com/11551" class="css_btn_more">詳細を見る</a><a href="#" class="css_btn_bookmark">お気に入りに保存</a><!-- <p><img src="/img/shop_banner.jpg" /></p> -->
				</div>
				<div class="shopListBottom clearfix">
					<ul>
						<li><span class="type1">新規</span>coming soon</li>
						<li><span class="type2">会員</span>coming soon</li>
					</ul>
				</div>
			</div>
		</div>
<!-- /shop no10 -->

