		<div class="pageCounter">
			<span class="num">1</span><span>件のデリヘルがあります</span>
			<span><img src="/img/left.png" /><!-- a href="#" -->前へ<!-- /a -->　1/1ページ　<!-- a href="#" -->次へ<!-- /a --><img src="/img/right.png" /></span>
		</div>

		<!--shop no1-->
		<div class="shopList_frame">
			<div>
				<a href="http://okinawa.dhrank.com/8346" class="shopName">くわっちーさびら</a>　<span class="kuchikomi">UP</span>
				<a href="http://okinawa.dhrank.com/8346" class="css_btn_class">詳細を見る</a>
			</div>
			<div class="pay_mark clearfix">
				<!-- p class="pay_yoyaku">先行予約OK</p -->
				<p class="pay_credit">クレジットOK</p>
				<p class="pay_ryoshu">領収書OK</p>
				<!-- p class="pay_machi">待ち合わせOK</p -->
				<!-- p class="pay_cosplay">コスプレあり</p -->
				<!-- p class="pay_coupon">クーポンあり</p -->
			</div>
		</div>

		<div class="shopList_main clearfix">
			<div>
				<a href="http://okinawa.dhrank.com/8346"><img src="http://img.dhrank.com/shop/8346/image_list.jpg" width="160" height="210" class="img_frame" /></a>
			</div>
			<div>
				<p class="catchCopy"><b><strong>女の子の質☆接客☆を重視した子達を厳選しているお店なのにリーズナブルな価格でサービスをご提供してお...</strong></b></p>
				<p>☆デリヘルランキング上位の女の子多数在籍☆沖縄市発デリバリーヘルス【くわっちーさびら】です！！ここでしか味わえない経験ここでしか果た...</p>
				<div class="shopListLeft">
					<dl class="clearfix">
						<dt>営業時間</dt>
						<dd>12:00〜05:00</dd>
						<dt>最低料金</dt>
						<dd>10,000円〜</dd>
						<dt>住所</dt>
						<dd>沖縄市発</dd>
					</dl>
					<p class="shopNum">
						<span class="zaiseki">在籍数:</span><span class="num">23人</span>
						<span class="kuchikomi2">口コミ:</span><span class="num">0件</span>
					</p>
				</div>
				<div class="shopListRight">
					<a href="http://okinawa.dhrank.com/8346" class="css_btn_more">詳細を見る</a><a href="#" class="css_btn_bookmark">お気に入りに保存</a><!-- <p><img src="/img/shop_banner.jpg" /></p> -->
				</div>
				<div class="shopListBottom clearfix">
					<ul>
						<li><span class="type1">新規</span>coming soon</li>
						<li><span class="type2">会員</span>coming soon</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /shop no1 -->
		