		<div class="pageCounter">
			<span class="num">2</span><span>件のデリヘルがあります</span>
			<span><img src="/img/left.png" /><!-- a href="#" -->前へ<!-- /a -->　1/1ページ　<!-- a href="#" -->次へ<!-- /a --><img src="/img/right.png" /></span>
		</div>

		<!--shop no1-->
		<div class="shopList_frame">
			<div>
				<a href="http://shinagawagotanda.dhrank.com/12672" class="shopName">クラスメイト</a>　<span class="kuchikomi">UP</span>
				<a href="http://shinagawagotanda.dhrank.com/12672" class="css_btn_class">詳細を見る</a>
			</div>
			<div class="pay_mark clearfix">
				<!-- p class="pay_yoyaku">先行予約OK</p -->
				<p class="pay_credit">クレジットOK</p>
				<p class="pay_ryoshu">領収書OK</p>
				<p class="pay_machi">待ち合わせOK</p>
				<p class="pay_cosplay">コスプレあり</p>
				<!-- p class="pay_coupon">クーポンあり</p -->
			</div>
		</div>

		<div class="shopList_main clearfix">
			<div>
				<a href="http://shinagawagotanda.dhrank.com/12672"><img src="http://img.dhrank.com/shop/12672/image_list.jpg" width="160" height="210" class="img_frame" /></a>
			</div>
			<div>
				<p class="catchCopy"><b><strong>より取り見取りです☆☆</strong></b></p>
				<p>素人美少女との運命の出会いが此処に!!♪♪錦糸町から素人可憐な未経験お姉さま＆お嬢様を最速ご案内!!★絶対美少女宣言！！業界未経験多数...</p>
				<div class="shopListLeft">
					<dl class="clearfix">
						<dt>営業時間</dt>
						<dd>12:00〜05:00</dd>
						<dt>最低料金</dt>
						<dd>17000円〜</dd>
						<dt>住所</dt>
						<dd>錦糸町発</dd>
					</dl>
					<p class="shopNum">
						<span class="zaiseki">在籍数:</span><span class="num">167人</span>
						<span class="kuchikomi2">口コミ:</span><span class="num">0件</span>
					</p>
				</div>
				<div class="shopListRight">
					<a href="http://shinagawagotanda.dhrank.com/12672" class="css_btn_more">詳細を見る</a><a href="#" class="css_btn_bookmark">お気に入りに保存</a><!-- <p><img src="/img/shop_banner.jpg" /></p> -->
				</div>
				<div class="shopListBottom clearfix">
					<ul>
						<li><span class="type1">新規</span>coming soon</li>
						<li><span class="type2">会員</span>coming soon</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /shop no1 -->

		<!--shop no2-->
		<div class="shopList_frame">
			<div>
				<a href="http://shinagawagotanda.dhrank.com/12673" class="shopName">プリンセス東京</a>　<span class="kuchikomi">UP</span>
				<a href="http://shinagawagotanda.dhrank.com/12673" class="css_btn_class">詳細を見る</a>
			</div>
			<div class="pay_mark clearfix">
				<p class="pay_yoyaku">先行予約OK</p>
				<p class="pay_credit">クレジットOK</p>
				<!-- p class="pay_ryoshu">領収書OK</p -->
				<!-- p class="pay_machi">待ち合わせOK</p -->
				<!-- p class="pay_cosplay">コスプレあり</p -->
				<p class="pay_coupon">クーポンあり</p>
			</div>
		</div>

		<div class="shopList_main clearfix">
			<div>
				<a href="http://shinagawagotanda.dhrank.com/12673"><img src="http://img.dhrank.com/shop/12673/image_list.jpg" width="160" height="210" class="img_frame" /></a>
			</div>
			<div>
				<p class="catchCopy"><b><strong>★完全リニューアル★1周年アニバーサリー記念スタート！</strong></b></p>
				<p>プリンセス東京ではハイレベルな女の子を求めるが故に総在籍数はまだ多くはありません。
しかしながら、都内屈指のハイレベルデリバリーヘ...</p>
				<div class="shopListLeft">
					<dl class="clearfix">
						<dt>営業時間</dt>
						<dd>18:00〜06:00</dd>
						<dt>最低料金</dt>
						<dd>15000円〜</dd>
						<dt>住所</dt>
						<dd>五反田発</dd>
					</dl>
					<p class="shopNum">
						<span class="zaiseki">在籍数:</span><span class="num">66人</span>
						<span class="kuchikomi2">口コミ:</span><span class="num">0件</span>
					</p>
				</div>
				<div class="shopListRight">
					<a href="http://shinagawagotanda.dhrank.com/12673" class="css_btn_more">詳細を見る</a><a href="#" class="css_btn_bookmark">お気に入りに保存</a><!-- <p><img src="/img/shop_banner.jpg" /></p> -->
				</div>
				<div class="shopListBottom clearfix">
					<ul>
						<li><span class="type1">新規</span>coming soon</li>
						<li><span class="type2">会員</span>coming soon</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /shop no2 -->