		<div class="pageCounter">
			<span class="num">4</span><span>件の待ち合わせデリヘルがあります</span>
			<span><img src="/img/left.png" /><!-- a href="#" -->前へ<!-- /a -->　1/1ページ　<!-- a href="#" -->次へ<!-- /a --><img src="/img/right.png" /></span>
		</div>

<!--shop no1-->
		<div class="shopList_frame">
			<div>
				<a href="http://aichi.dhrank.com/5308" class="shopName">愛特急2006　東海本店</a>　<span class="kuchikomi">UP</span>
				<a href="http://aichi.dhrank.com/5308" class="css_btn_class">詳細を見る</a>
			</div>
			<div class="pay_mark clearfix">
				<!-- p class="pay_yoyaku">先行予約OK</p -->
				<!-- p class="pay_credit">クレジットOK</p -->
				<!-- p class="pay_ryoshu">領収書OK</p -->
				<!-- p class="pay_machi">待ち合わせOK</p -->
				<!-- p class="pay_cosplay">コスプレあり</p -->
				<!-- p class="pay_coupon">クーポンあり</p -->
			</div>
		</div>

		<div class="shopList_main clearfix">
			<div>
				<a href="http://aichi.dhrank.com/5308"><img src="http://img.dhrank.com/shop/5308/image_list.jpg" width="160" height="210" class="img_frame" /></a>
			</div>
			<div>
				<p class="catchCopy"><b><strong>　</strong></b></p>
				<p>　</p>
				<div class="shopListLeft">
					<dl class="clearfix">
						<dt>営業時間</dt>
						<dd>09:00〜09:00</dd>
						<dt>最低料金</dt>
						<dd>16000円〜</dd>
						<dt>住所</dt>
						<dd>　</dd>
					</dl>
					<p class="shopNum">
						<span class="zaiseki">在籍数:</span><span class="num">233人</span>
						<span class="kuchikomi2">口コミ:</span><span class="num">57件</span>
					</p>
				</div>
				<div class="shopListRight">
					<a href="http://aichi.dhrank.com/5308" class="css_btn_more">詳細を見る</a><a href="#" class="css_btn_bookmark">お気に入りに保存</a><!-- <p><img src="/img/shop_banner.jpg" /></p> -->
				</div>
				<div class="shopListBottom clearfix">
					<ul>
						<li><span class="type1">新規</span>coming soon</li>
						<li><span class="type2">会員</span>coming soon</li>
					</ul>
				</div>
			</div>
		</div>
<!-- /shop no1 -->
		
<!--shop no2 -->
		<div class="shopList_frame">
			<div>
				<a href="http://aichi.dhrank.com/8186" class="shopName">即アポ奥さん～待合せデリ～</a>　<span class="kuchikomi">UP</span>
				<a href="http://aichi.dhrank.com/8186" class="css_btn_class">詳細を見る</a>
			</div>
			<div class="pay_mark clearfix">
				<!-- p class="pay_yoyaku">先行予約OK</p -->
				<!-- p class="pay_credit">クレジットOK</p -->
				<!-- p class="pay_ryoshu">領収書OK</p -->
				<!-- p class="pay_machi">待ち合わせOK</p -->
				<!-- p class="pay_cosplay">コスプレあり</p -->
				<!-- p class="pay_coupon">クーポンあり</p -->
			</div>
		</div>

		<div class="shopList_main clearfix">
			<div>
				<a href="http://aichi.dhrank.com/8186"><img src="http://img.dhrank.com/shop/8186/image_list.jpg" width="160" height="210" class="img_frame" /></a>
			</div>
			<div>
				<p class="catchCopy"><b><strong>　</strong></b></p>
				<p>　</p>
				<div class="shopListLeft">
					<dl class="clearfix">
						<dt>営業時間</dt>
						<dd>09:00〜09:00</dd>
						<dt>最低料金</dt>
						<dd>12000円〜</dd>
						<dt>住所</dt>
						<dd>　</dd>
					</dl>
					<p class="shopNum">
						<span class="zaiseki">在籍数:</span><span class="num">132人</span>
						<span class="kuchikomi2">口コミ:</span><span class="num">69件</span>
					</p>
				</div>
				<div class="shopListRight">
					<a href="http://aichi.dhrank.com/8186" class="css_btn_more">詳細を見る</a><a href="#" class="css_btn_bookmark">お気に入りに保存</a><!-- <p><img src="/img/shop_banner.jpg" /></p> -->
				</div>
				<div class="shopListBottom clearfix">
					<ul>
						<li><span class="type1">新規</span>coming soon</li>
						<li><span class="type2">会員</span>coming soon</li>
					</ul>
				</div>
			</div>
		</div>
<!-- /shop no2 -->

<!--shop no3 -->
		<div class="shopList_frame">
			<div>
				<a href="http://aichi.dhrank.com/11786" class="shopName">直アポ</a>　<span class="kuchikomi">UP</span>
				<a href="http://aichi.dhrank.com/11786" class="css_btn_class">詳細を見る</a>
			</div>
			<div class="pay_mark clearfix">
				<!-- p class="pay_yoyaku">先行予約OK</p -->
				<!-- p class="pay_credit">クレジットOK</p -->
				<!-- p class="pay_ryoshu">領収書OK</p -->
				<!-- p class="pay_machi">待ち合わせOK</p -->
				<!-- p class="pay_cosplay">コスプレあり</p -->
				<!-- p class="pay_coupon">クーポンあり</p -->
			</div>
		</div>

		<div class="shopList_main clearfix">
			<div>
				<a href="http://aichi.dhrank.com/11786"><img src="http://img.dhrank.com/shop/11786/image_list.jpg" width="160" height="210" class="img_frame" /></a>
			</div>
			<div>
				<p class="catchCopy"><b><strong>　</strong></b></p>
				<p>　</p>
				<div class="shopListLeft">
					<dl class="clearfix">
						<dt>営業時間</dt>
						<dd>09:00〜09:00</dd>
						<dt>最低料金</dt>
						<dd>13000円〜</dd>
						<dt>住所</dt>
						<dd>　</dd>
					</dl>
					<p class="shopNum">
						<span class="zaiseki">在籍数:</span><span class="num">112人</span>
						<span class="kuchikomi2">口コミ:</span><span class="num">14件</span>
					</p>
				</div>
				<div class="shopListRight">
					<a href="http://aichi.dhrank.com/11786" class="css_btn_more">詳細を見る</a><a href="#" class="css_btn_bookmark">お気に入りに保存</a><!-- <p><img src="/img/shop_banner.jpg" /></p> -->
				</div>
				<div class="shopListBottom clearfix">
					<ul>
						<li><span class="type1">新規</span>coming soon</li>
						<li><span class="type2">会員</span>coming soon</li>
					</ul>
				</div>
			</div>
		</div>
<!-- /shop no3 -->

<!--shop no4 -->
		<div class="shopList_frame">
			<div>
				<a href="http://aichi.dhrank.com/11787" class="shopName">奥様100%鉄道</a>　<span class="kuchikomi">UP</span>
				<a href="http://aichi.dhrank.com/11787" class="css_btn_class">詳細を見る</a>
			</div>
			<div class="pay_mark clearfix">
				<!-- p class="pay_yoyaku">先行予約OK</p -->
				<!-- p class="pay_credit">クレジットOK</p -->
				<!-- p class="pay_ryoshu">領収書OK</p -->
				<!-- p class="pay_machi">待ち合わせOK</p -->
				<!-- p class="pay_cosplay">コスプレあり</p -->
				<!-- p class="pay_coupon">クーポンあり</p -->
			</div>
		</div>

		<div class="shopList_main clearfix">
			<div>
				<a href="http://aichi.dhrank.com/11787"><img src="http://img.dhrank.com/shop/11787/image_list.jpg" width="160" height="210" class="img_frame" /></a>
			</div>
			<div>
				<p class="catchCopy"><b><strong>　</strong></b></p>
				<p>　</p>
				<div class="shopListLeft">
					<dl class="clearfix">
						<dt>営業時間</dt>
						<dd>09:00〜09:00</dd>
						<dt>最低料金</dt>
						<dd>16000円〜</dd>
						<dt>住所</dt>
						<dd>　</dd>
					</dl>
					<p class="shopNum">
						<span class="zaiseki">在籍数:</span><span class="num">40人</span>
						<span class="kuchikomi2">口コミ:</span><span class="num">40件</span>
					</p>
				</div>
				<div class="shopListRight">
					<a href="http://aichi.dhrank.com/11787" class="css_btn_more">詳細を見る</a><a href="#" class="css_btn_bookmark">お気に入りに保存</a><!-- <p><img src="/img/shop_banner.jpg" /></p> -->
				</div>
				<div class="shopListBottom clearfix">
					<ul>
						<li><span class="type1">新規</span>coming soon</li>
						<li><span class="type2">会員</span>coming soon</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /shop no4 -->