<div style="text-align:center;margin:5px">
	<a href="http://www.nagoya-choku0930.jp/h/sp/" target="_blank"><img src="/images/s/100ptetudou.jpg" alt="奥様100%鉄道" /></a><br />
	<a href="http://www.nagoya-choku0930.jp/o/sp/" target="_blank"><img src="/images/s/chokuapo.jpg" alt="直アポ奥様" /></a>
</div>

<h2 class="midashih2">
最新の口コミ
</h2>

<ul data-role="listview" data-divider-theme="a">
	<?php foreach($new_review as $key => $record){?>
	<li style="height:84px">
    	<a href="<?php echo $linkCommon->get_user_review($record)?>">
			<?php echo $imgCommon->get_girl($record, 's')?>
            <p><span class="spot4"><?php echo $record['Shop']['name'] ?></span> - <?php echo $record['Girl']['name'] ?> <?php echo $record['Girl']['age'] ?>歳 </p>
			<p><span class="small">評価</span><?php for($i = 0; $i < 5; $i++){?><img src="/images/s/star_<?php echo ($i+1 <= round($record[0]['girl_avg']))?'on':'off';?>.png" width="16px" style="vertical-align:middle;" /><?php }?> <span class="spot4"><?php echo round($record[0]['girl_avg'],2)?></span> <span class="small"><?php echo date('Y年n月', strtotime($record['Review']['created'])) ?></span></p>
			<p><?php echo $textCommon->get_substr_tagstrip_text($record['Review']['comment'],APP_CSIZE_TOP_REVIEW_COMMENT_S);?></p>
		</a>
    </li>
	<?php }?>
</ul>

<div style="text-align:center;margin:5px">
	<a href="http://ai-amore.jp/" target="_blank"><img src="/images/s/aiamour.jpg" alt="愛AMORE" /></a><br />
	<a href="http://www.aiangel758.com/" target="_blank"><img src="/images/s/aiangel.jpg" alt="愛ANGEL" /></a>
</div>

<h2 class="midashih2">
デリヘルランキング
</h2>

<ul data-role="listview" data-divider-theme="a">
	<?php foreach($m_shops_business_categories as $key => $record){?>
	<li>
		<a href="<?php echo $linkCommon->get_ranking($parent_area, $record['MShopsBusinessCategory']['id'])?>"><img src="/images/s/crown2.png" alt="<?php echo $record['MShopsBusinessCategory']['name']?>" class="ui-li-icon"><?php echo $record['MShopsBusinessCategory']['name']?></a>
    </li>
	<?php }?>
</ul>

<div style="text-align:center;margin:5px">
	<a href="http://www.aporu.com/" target="_blank"><img src="/images/s/sokuapo.jpg" alt="即アポ奥さん" /></a><br />
	<a href="http://ai-2006.jp/new/" target="_blank"><img src="/images/s/aitokkyu2006.jpg" alt="愛特急2006" /></a>
</div>

<h2 class="midashih2">
お店一覧を見る
</h2>

<div style="text-align:center; margin-right:auto; margin-left:auto;">
	<a href="<?php echo $linkCommon->get_shops($parent_area)?>/kana/1" data-role="button" data-inline="true">あ行のお店</a><a href="<?php echo $linkCommon->get_shops($parent_area)?>/kana/2" data-role="button" data-inline="true">か行のお店</a><br />
	<a href="<?php echo $linkCommon->get_shops($parent_area)?>/kana/3" data-role="button" data-inline="true">さ行のお店</a><a href="<?php echo $linkCommon->get_shops($parent_area)?>/kana/4" data-role="button" data-inline="true">た行のお店</a><br />
	<a href="<?php echo $linkCommon->get_shops($parent_area)?>/kana/5" data-role="button" data-inline="true">な行のお店</a><a href="<?php echo $linkCommon->get_shops($parent_area)?>/kana/6" data-role="button" data-inline="true">は行のお店</a><br />
	<a href="<?php echo $linkCommon->get_shops($parent_area)?>/kana/7" data-role="button" data-inline="true">ま行のお店</a><a href="<?php echo $linkCommon->get_shops($parent_area)?>/kana/8" data-role="button" data-inline="true">や行のお店</a><br />
	<a href="<?php echo $linkCommon->get_shops($parent_area)?>/kana/9" data-role="button" data-inline="true">ら行のお店</a><a href="<?php echo $linkCommon->get_shops($parent_area)?>/kana/10" data-role="button" data-inline="true">わ行のお店</a>
</div>

<div style="text-align:center;margin:5px">
	<a href="http://052.jpn.com/" target="_blank"><img src="/images/s/nagoyaeste.gif" alt="名古屋快楽性感回春エステ出張所" /></a>
</div>


<h2 class="midashih2">
更新情報
</h2>

	<?php echo $this->element('sidebar/s_news'); ?>

<!--
<hr style="border:1px solid #DED7C8;" />

<p style="text-align:center">
<a href="<?php echo $linkCommon->get_boards_top($parent_area)?>"><img src="/images/s/bbs.jpg" style="width:200px;" /></a>
</p>

<!--
<hr style="border:1px solid #DED7C8;" />

<p>
<a href="https://twitter.com/"><img src="/images/s/twitter.png" /></a>
</p>
-->
