@charset "shift_jis";


body {
	font-size: 11px;
	line-height: 2;
	color: #1A171B;
	margin: 0px;
	padding: 0px;
	text-align: center;
	background-color: #FFFFFF;
}

h1,h2,h3,p,ul,li,dl,dt,dd{
	margin: 0px;
	padding: 0px;
}

ul{
	list-style-type: none;
}
img {
	border: none;
}

input,textarea,select {
	font-size: 1em;
}

table {
	border-collapse:collapse;
	font-size: 100%;
}


/*リンクカラー*/
a {
	color: #E7511E;
	text-decoration: none;	
}

/*カーソルオーバー時のリンクカラー*/
a:hover {
	color: #E7511E;
	text-decoration: underline;
}



/*コンテナー
---------------------------------------------------------------------------*/
#container {
	text-align: left;
	width: 1115px;
	margin-right: auto;
	margin-left: auto;
}



/*ヘッダー
---------------------------------------------------------------------------*/
#header {
	position: relative;
	width: 100%;
	background-color:#FDF4E7;
	text-align: left;
}

#header h1 {
	font-size: 9px;	/*h1タグの文字の大きさ*/
	font-weight: normal;
}


/*３カラムを囲むボックス
---------------------------------------------------------------------------*/
#contents {
	clear: left;
	width: 100%;
}




/*中央ブロック
---------------------------------------------------------------------------*/
#main {
	text-align: center;
	width: 1150px;
}

#main h2 {
	font-size: 100%;
	background-image: url(../images/h2bg.gif);	/*h2背景画像*/
	background-repeat: no-repeat;
	background-position: bottom;
	padding-left: 10px;
	clear: both;
}

#main p {
	padding: 0.5em 10px 1em;	/*中央ブロックの段落タグの余白*/
}



/*中央ブロック内の「What's New」部分
---------------------------------------------------------------------------*/
#main dl.new {
	height: 100px;		/*What's Newボックスの高さ*/
	overflow: auto;		/*この設定でiframe風に見える*/
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
	border: 1px solid #cccccc;	/*What's Newのフチのライン*/
	margin-bottom: 1em;
}

#main dl.new dt {
	font-weight: bold;	/*日付を太字にする設定。*/
	float: left;		/*日付を左よせする*/
}

#main dl.new dd {
	border-bottom: 1px solid #cccccc;	/*日付ごとに入る下線*/
	padding-left: 8em;	/*日付が入る分のスペースを空ける*/
}



/*フッター（最下部のコピーライトなど）
---------------------------------------------------------------------------*/
#footer {
	clear: both;
	width: 100%;
	text-align: center;
	border-top: 1px solid #bfbfbf;
	padding-top: 1em;
	padding-bottom: 1em;
}



/*トップページの「new nail」コーナー
---------------------------------------------------------------------------*/
#main .newitem p {
	height: 150px;	/*１個あたりのボックスの高さ*/
	width: 128px;	/*１個あたりのボックスの幅*/
	border: 1px solid #CCCCCC;	/*ボーダー設定*/
	float: left;	/*左よせしていく設定*/
	text-align: center;	/*センタリング設定*/
	background-image: url(../images/newitem_bg.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
	padding: 0px;
	margin-right: 5px;
	margin-bottom: 10px;
	margin-left: 5px;
	display: inline;
}

#main .newitem {
	margin-top: 10px;
}

#main .newitem a img {
	padding: 5px;		/*画像のまわりの余白*/
	border: 1px solid #CCCCCC;	/*画像に入っているフチどり*/
}

#main .newitem a:hover img {
	border: 1px solid #999999;	/*カーソルオーバー時に画像のフチ色を変える設定*/
}



/*aboutページに準備した商品テーブル
---------------------------------------------------------------------------*/
#main .itemlist {
	border: 1px solid #CCCCCC;	/*１個あたりのボックスのボーダー設定*/
	padding: 5px;
	overflow: hidden;
	margin-bottom: 0.5em;
	width: 673px;	/*段落タグ（p）の横幅とサイズを合わせる設定です。この下二つのmarginも。*/
	margin-right: auto;
	margin-left: auto;
}

#main .itemlist h3 {
	color: #000000;
	border-bottom: 1px solid #cccccc;
	border-left: 4px solid #CCCCCC;
	padding: 0px 0px 0px 5px;
	margin-bottom: 0.5em;
	font-size: 100%;
}

#main .itemlist p {
	padding: 0px;
}

#main .itemlist p, #main .itemlist h3 {
	margin-left: 120px;	/*画像の幅に合わせてここは変更する*/
}

#main .itemlist a img {
	padding: 5px;	/*写真と外線との余白*/
	border: 1px solid #CCCCCC;
}

#main .itemlist a:hover img {
	border: 1px solid #999999;
}

#main .itemlist div.img {
	float: left;
}



/*その他
---------------------------------------------------------------------------*/
.color1 {
	color: #ff476d;
}
.look {
	background-color: #f5f5f5;
}

.logo {
	margin-top:60px;
	margin-bottom:15px;
}