<h2 class="rank_h2">炎上掲示板</h2>

<p style="font-size: 12px;">投稿ができません。詳しくはお問い合わせください。</p>
<div align="center" style="margin-top: 40px;">
	<a href="<?php echo $linkCommon->get_boards_top($parent_area)?>" class="btn_navi">掲示板TOPへ</a>
</div>





