
<div style="text-align:left;padding:5px;font-size:medium;background-color:#EFEBE3">
	掲示板投稿エラー
</div>

<div style="text-align:left;padding:3px;">
	投稿ができません。詳しくはお問い合わせください。
</div>

<hr color="#DED7C8" />

<div style="text-align:center;padding:3px;">
	[<a href="<?php echo $linkCommon->get_boards_top($parent_area)?>">掲示板TOPへ戻る</a>]
</div>
<hr color="#DED7C8" />

<div style="text-align:center;padding:3px;">
	[<a href="<?php echo $linkCommon->get_top($parent_area)?>">トップページへ</a>]
</div>

<?php //echo var_dump($list)?>
