
<div style="text-align:left;padding:5px;font-size:medium;background-color:#EFEBE3">
	<?php echo $board['Board']['title']?>
</div>

<div style="text-align:center;padding:3px;">
	<?php echo $this->element('pagenate/i_numbers'); ?>
</div>

<hr color="#DED7C8" />

<?php //start---2013/3/13 障害No.1-5-0002修正 ?>
<?php if(!empty($board['BoardRes'][0]) && $paginator->current() != 1){?>
<div style="text-align:left;padding:3px;">
	<?php echo $board['BoardRes'][0]['sub_id']?> <?php echo $board['BoardRes'][0]['name']?> 投稿日：<?php echo $textCommon->get_datetimewithweek($board['BoardRes'][0]['created'])?><br />
    <?php echo nl2br($board['BoardRes'][0]['comment'])?>
</div>
<hr color="#DED7C8" />
<?php }?>
<?php //end---2013/3/13 障害No.1-5-0002修正 ?>

<?php foreach($boardres as $key => $record){?>
<div style="text-align:left;padding:3px;">
	<?php echo $record['BoardRes']['sub_id']?> <?php echo $record['BoardRes']['name']?> 投稿日：<?php echo $textCommon->get_datetimewithweek($record['BoardRes']['created'])?><br />
    <?php echo nl2br($record['BoardRes']['comment'])?>
</div>
<hr color="#DED7C8" />
<?php }?>

<div style="text-align:center;padding:3px;">
	<?php echo $this->element('pagenate/i_numbers'); ?>
</div>

<hr color="#DED7C8" />

<?php //start---2013/3/12 障害No.1-4-0008修正 ?>
<?php //start---2013/3/13 障害No.1-4-0011修正 ?>
<?php //if(count($board['BoardRes']) == 0 || (count($board['BoardRes']) != 0 && $board['BoardRes'][count($board['BoardRes'])-1]['sub_id'] != 1000) || $board['Board']['show_order'] <= 2){?>
<?php if(count($board['BoardRes']) == 0 || (count($board['BoardRes']) != 0 && $board['BoardRes'][count($board['BoardRes'])-1]['sub_id'] < 1000) || $board['Board']['show_order'] <= 2){?>
<?php //end---2013/3/13 障害No.1-4-0011修正 ?>
<?php //end---2013/3/12 障害No.1-4-0008修正 ?>
<div style="text-align:right;padding:3px;">
	<a href="<?php echo $linkCommon->get_boards_add_res($board)?>" accesskey="5">[5]書きこむ</a>
</div>
<?php //start---2013/3/12 障害No.1-4-0008修正 ?>
<?php }?>
<?php //end---2013/3/12 障害No.1-4-0008修正 ?>

<hr color="#DED7C8" />

<div style="text-align:center;padding:3px;">
	[<a href="<?php echo $linkCommon->get_boards_top($parent_area)?>">掲示板トップ</a>]
</div>

<hr color="#DED7C8" />

<div style="text-align:center;padding:3px;">
	[<a href="<?php echo $linkCommon->get_top($parent_area)?>">戻る</a>]
</div>

<?php //echo var_dump($board)?>
