
<div data-role="content" data-theme="a">

<h2 class="midashih2">
	炎上掲示板
</h2>

<h3 class="midashih3">
	新規スレッド作成
</h3>
<?php echo $form->create(null, array('type'=>'post', 'action' => ''));?>
<p>
	タイトル：
	<?php echo $form->text('Board.title'); ?>
	<?php echo $form->error('Board.title'); ?>

	名前：
			<?php echo $form->text('BoardRes.name'); ?>
			<?php echo $form->error('BoardRes.name'); ?>
	本文　：
			<?php echo $form->textarea('BoardRes.comment', array('cols' => 80, 'rows' => 10)); ?>
			<?php echo $form->error('BoardRes.comment'); ?>
			</p>

<div style="text-align:center; margin-right:auto; margin-left:auto;">
	<p><?php echo $form->submit('新規スレッド作成', array('div' => false, 'class' => 'btn_post')); ?></p>
</div>
<?php echo $form->end();?>

<hr style="border:1px solid #DED7C8;" />

<div style="text-align:center; margin-right:auto; margin-left:auto;">
	<a href="<?php echo $linkCommon->get_boards_top($parent_area)?>" data-role="button" data-inline="true">掲示板トップ</a>
</div>


</div>



<?php //echo var_dump($list)?>
