
<div style="text-align:right;padding:3px;">
	ようこそ<?php echo $parent_reviewer['Reviewer']['handle']?>様
</div>

<div style="text-align:left;padding:3px;background-color:#FDF4E7">
	<?php if(!empty($parent_reviewer['Reviewer']['title'])){?> <?php echo $parent_reviewer['Reviewer']['title']?> <?php }else{?> <?php echo $parent_reviewer['Reviewer']['handle']?>のデリヘルガイド<?php }?><br />
	<hr color="#DED7C8" />

	<?php echo $parent_reviewer['Reviewer']['handle']?>
	<?php if(!empty($parent_reviewer['Reviewer']['age']) || !empty($parent_reviewer['Reviewer']['sex_id']) || !empty($parent_reviewer['MAddress']['name'])){?>
	(
	<?php if(!empty($parent_reviewer['Reviewer']['age'])){?>
	<?php echo $parent_reviewer['Reviewer']['age'] . '歳'?>
	<?php if(!empty($parent_reviewer['Reviewer']['sex_id']) || !empty($parent_reviewer['MAddress']['name'])) echo '・'?>
	<?php }?>
	<?php if(!empty($parent_reviewer['Reviewer']['sex_id'])){?>
	<?php echo $sex[$parent_reviewer['Reviewer']['sex_id']]?>
	<?php if(!empty($parent_reviewer['MAddress']['name'])) echo '・'?>
	<?php }?>
	<?php if(!empty($parent_reviewer['MAddress']['name'])){?>
	<?php echo $parent_reviewer['MAddress']['name']?>
	<?php }?>
	)
	<?php }?><br /><br />
    女の子の口コミ：<span style="color:#BE0A26"><?php echo $rcommon_review_count[0]['review_count']?></span>件<br />
    口コミの投票数：<span style="color:#BE0A26">
		<?php //start---2013/4/30 障害No.4-0002修正 ?>
		<?php //echo $rcommon_review_count[0]['reviews_good_count_sum']?>
		<?php echo $rcommon_reviews_good_count[0]['reviews_good_count_sum']?>
		<?php //end---2013/4/30 障害No.4-0002修正 ?>
	</span>票<br />
    お店からの新着メール：<span style="color:#BE0A26"><?php echo $rcommon_message_count[0]['message_count']?></span>通
</div>



