<h2 class="heading"><?php echo $parent_shop['Shop']['name'] ?>からのお知らせ</h2>
<div class="infoArea">
<?php if(count($infos) > 0) { ?>
<?php
    foreach($infos AS $key => $record) {
?>
    <table cellspacing="0" cellpadding="0" border="0">
        <tr>            <th class=""><?php echo $record['ShopInfo']['title']; ?></th>


            <td>
                <div>
                    <p><?php echo $record['ShopInfo']['body']; ?></p>
                    <!-- <ul>
                        <li>提示条件：<span>予約時</span></li>
                        <li>利用条件：<span><?php echo $m_target_caption_list[$record['Coupon']['target']]; ?></span></li>
                        <li>有効期限：<span><?php if($record['Coupon']['expire_unlimited'] == 1) { ?>期限なし<?php } else { echo date('Y年m月d日まで', strtotime($record['Coupon']['expire_date'])); } ?></span></li>
                    </ul> -->
                </div>
            </td>
            <!-- <td class="price"><?php echo $record['Coupon']['content']; ?></td> -->
        </tr>
    </table>
<?php
    }
?>
<?php
} else {
?>
    <p>割引クーポンは発行されていません。</p>
<?php
}
?>
</div>
