<!-- rankingMenuArea -->
<div class="rankingMenuArea">
    <div class="inner">
        <p class="side_tt">
            <img src="/img/side_left_label_area.jpg" alt="場所から探す" height="45" width="240">
        </p>
            <ul class="list">
                <?php
                    $cnt = 0;
                    foreach($categories AS $key => $record) {
                ?>
                <li>
                    <a href="<?php echo $linkCommon->get_category_detail($record['MShopsBusinessCategory']['id']); ?>">
                    <?php echo $record['MShopsBusinessCategory']['name']; ?>
                    </a>
                    <?php echo $shop_count[0]['CountsTmp']['shops_count']; ?>
                </li>
                <?php $cnt++; } ?>
            </ul>
        </div>
    </div>
                    <!-- /rankingArea -->
