<div class="sideinfoArea">
	<div class="title title02">
		<h2>what's News</h2>
	</div>
	<ul class="newslist">
	<?php foreach ($info as $i): ?>
		<li>
			<!-- <a href="<?php echo $i['ShopInfo']['user_id'] ?>"> -->
			<a href="<?php echo $this->Html->url(array('controller' => 'users', 'action' => 'index', 'user_id' => $i['ShopInfo']['user_id'])); ?>"
			<p class="shopname"><?php echo $i['Shop']['name']; ?><span class="icon"><img src="/images/icon_up.png" width="22" height="11" alt="UP"></span></p>
			<p class="date"><?php echo date('Y年m月d日 H:i:s', strtotime($i['ShopInfo']['modified'])) ?></p>
			<p class="text"><?php echo $i['ShopInfo']['body']; ?></p>
		</a></li>
	<?php endforeach; ?>
	</ul>
		<!-- //todo::リスト取得後表示 -->
</div>
