<div class="title title10">
    <h2><?php echo $this->Html->image('icon_coupon.png') ?>&nbspクーポンからお店を探す</h2>
</div>

<div class="list">
<ul class="top_coupon">    <li><?php echo $this->Html->image('icon_arrow.png'); ?><a href="#">クーポンを利用できるお店</a></li></ul></div>