<div class="title title11">
    <h2><?php echo $this->Html->image('icon_boards.png'); ?>&nbsp掲示板からお店を探す</h2>
</div>

<div class="list">
<ul class="top_coupon">    <li><?php echo $this->Html->image('icon_arrow.png'); ?><a href="#">最新の掲示板を見る</a></li>    <li><?php echo $this->Html->image('icon_arrow.png'); ?><a href="#">お店別の掲示板（あいうえお順）</a></li></ul></div>