@charset "shift_jis";

#area {
	margin-bottom: 54px;
}

#area h2 {
	border-bottom:1px solid #988989;
	padding-bottom:2px;
	background:#fff url(../img/icon_heading.png) no-repeat center left;
	padding-left:25px;
	margin-top:20px;
	margin-bottom:20px;
	color:#988989;
	font-size:14px;
	font-weight:bold;
}

#area table {
	float: left;
}

#area1,
#area4,
#area2,
#area5 {
	margin-bottom: 20px;
}

#area1,
#area2,
#area3 {
	margin-right: 20px;
}

#area th {
	width: 50px;
	text-align: center;
	vertical-align: middle;
	font-size: 14px;
	font-weight: bold;
	color: #f6359a;
	background: #000000;
}

#area td {
	width: 74px;
	text-align: center;
	vertical-align: middle;
	font-size: 13px;
}

#area .even {
	background: #ececec;
}

#area td {
	height: 76px;
}

#area td a {
	display: block;
	padding: 16px 0;
}

#area td:hover {
	text-decoration: none;
	background-color:#f3f3f3;
}



/* shop_tabs --------------------------------------------------------------------*/
#shop_tabs {
    height: 32px;
}

#shop_tabs.out .list {
    float: left;
    margin-top: 6px;
}
#shop_tabs.out .list li {
    display:inline-block;
}

#shop_tabs.in .list {
    float: left;
    margin: 0px;
}

#shop_tabs.in .list li:first-child{
	background:#333;
	color:#fff;
}
#shop_tabs.in .list li {
    display:inline-block;
	padding:7px 15px;
}

#shop_tabs.in .list li:last-child{
}

#shop_tabs.in .list li a{
	text-decoration:none;
	color:fff;
}


/* Reccomend_Girl 作り直し ここから --------------------------------------------------------------------*/

article.recommend_shop 	{ 
	background: url(../img/ribbon.jpg) top no-repeat; 
	width: 606px; 
	padding-top: 40px;
}
article.recommend_shop h3 {
	color: #FFF; 
	padding-left: 140px; 
	font-size: 1.4em; 
	font-weight: bold; 
	margin-bottom: 20px;
}
article.recommend_shop ul { 
	width: 606px; 
	overflow: hidden;
}
article.recommend_shop ul li { 
	background: url(../img/recommend_bg.png); 
	width: 101px; 
	height: 185px; 
	position: relative; 
	float: left;
}
article.recommend_shop ul li img { 
	position: absolute; 
	top: 18px; 
	left: 3px;
}
article.recommend_shop ul li .new { 
	background: url(../img/new_girl.gif); 
	width: 53px; 
	height: 13px; 
	position: absolute; 
	top:120px; 
	left: 5px; 
	font-size: 0; 
	line-height: 0; 
	text-indent: -9999px;
}
article.recommend_shop ul li .name { 
	position: absolute; 
	top: 142px;
	left:10px;
	width: 80px;
	height: 20px;
	text-align: center; 
	color: #F00; 
	font-weight: bold;
	overflow:hidden;
}
article.recommend_shop ul li .data { 
	position: absolute; 
	top: 158px; 
	width: 100%; 
	text-align: center; 
	font-size: 0.8em;
}

/* Reccomend_Girl 作り直し ここまで --------------------------------------------------------------------*/

/* 店舗管理画面 ここから --------------------------------------------------------------------*/

.small {
	font-size:90%
}

.spot8 {
	color:#D40050;
}

.member_girls > div{
	float:left;
	width:128px;
	padding:12px;
	border-right:1px solid #CBCBCB;
	margin:15px 0;
}
.member_girls > *:nth-child(5n - 1){
	border-right:none;
}

.member_girls div p{
	text-align:center;
}

.member_girls .img img{
	width:120px;
}

.member_girls .btn{
	width:100px;
	margin:5px auto;
}

.member_girls .btn a{
	width:100%;
	padding:5px 0;
	font-size:11px;
	font-weight:normal;
}

.member_girls .name{
	padding:5px 0;
}

.member_girls .name a{
	color:#4C4C80!important;
}

.member_girls .recommend_on{
	margin-bottom:10px;
	color:#D40050;
}

.member_girls .recommend{
	margin-bottom:10px;
	color:#eeeeee;
}

.member_girls_button {
	border: 1px solid #cbcbcb;
    background:      -o-linear-gradient(top, #FFFFFF 50%, #ECECEC 100%);
    background:     -ms-linear-gradient(top, #FFFFFF 50%, #ECECEC 100%);
    background:    -moz-linear-gradient(top, #FFFFFF 50%, #ECECEC 100%);
    background: -webkit-linear-gradient(top, #FFFFFF 50%, #ECECEC 100%);
    background: linear-gradient(top, #FFFFFF 50%, #ECECEC 100%);
	text-align:center;
	border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
	padding:3px;
	color:#666!important;
	text-decoration:none;
}

.clearLine{
	float:none;
	clear: both;
	border-bottom:1px solid #CBCBCB;
}


.new_reviewArea .deleteBtn_edit{
	float:right;
}

.new_reviewArea .deleteBtn_edit > p{
	float:left;	
}

.new_reviewArea .deleteBtn_edit > p:first-child{
	margin-top:5px;
	margin-right:10px;
	padding-right:10px;
	background:url(../img/icon_next.png) no-repeat right 4px;
}

.new_reviewArea .deleteBtn_edit a{
	padding:4px 6px 4px 18px;
	background:url(../img/icon_delete.png) no-repeat 4px center;
}

/* 店舗管理画面 ここまで --------------------------------------------------------------------*/

