.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

div.flickSlideContainer {
	position:relative;
	width:100%;
	border:1px #FFFAF0 solid;
	border-top:0px;
	-webkit-box-sizing:border-box;
	-webkit-box-shadow: rgba(0, 0, 0, 0.0976562) 0px 1px 3px, rgba(255, 255, 255, 0) 0px 0px 0px inset;
}
div.moveWrap {
	position:relative;
	overflow:hidden;
	width:100%;
	height:auto;
	-webkit-box-sizing:border-box;
}
ul.moveWrapBG {
	display:inline-block;
	position:relative;
	width:100%;
	height:auto;
	visibility:hidden;
	-webkit-box-sizing:border-box;
	margin:0;
	padding:0;
}

/*div.moveWrap:after, */
/*
ul.moveWrapBG:after{
	content:'.';
	visibility:hidden;
	width:100%;
	line-height:0;
	clear:both;
}
*/
div.slideMask {
	position:absolute;
	top:0;
	left:0;
	border:4px #FFFAF0 solid;
	-webkit-box-sizing:border-box;
	margin-right:1px;
}
div.moveWrap>ul.move {
	position:relative;
	left:0;
	top:0;
	list-style:none;
	padding:0;
	margin:0;
	width:10000px;
	-webkit-transition:all 0.6s ease-in-out;
	-webkit-transform:translate3d(0,0,0);
	/*-webkit-transition-duration: 400ms;
	-webkit-transition-property: -webkit-transform;
	*/
	margin:0;
	padding:0;
	display:none;
}
div.moveWrap>ul.move li.slideUnit {
    float:left;
    list-style:none;
	padding:0;
	margin:0;
	text-align:center;
	-webkit-box-sizing:border-box;
}
li.slideUnit>div {
    display:inline-block;
	vertical-align:middle;
	text-align:center;
	padding:4px 4px 4px 4px;
	-webkit-box-sizing:border-box;
}
div.flickSlideBottom {
    width:100%;
	margin-top:5px;
}
div.flickSlideBottom div.bottomLeft, div.flickSlideBottom div.bottomRight {
	display:table-cell;
	border:1px #111 solid;
	-webkit-box-sizing:border-box;
	-webkit-box-shadow: rgba(0, 0, 0, 0.0976562) 0px 1px 3px, rgba(255, 255, 255, 1) 0px 0px 0px inset;
	vertical-align:middle;
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#FFFAF0),
		color-stop(0.50, #FFFAF0),
		color-stop(0.50, #FFFFFF),
		to(#FFFAF0));
}
div.flickSlideBottom div.bottomLeft.off, div.flickSlideBottom div.bottomRight.off {
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#FFFAF0),
		to(#FFFFFF));
	-webkit-box-shadow: rgba(0, 0, 0, 0.0976562) 0px 1px 3px, rgba(255, 255, 255, 1) 1px 1px 1px inset;
}
div.flickSlideBottom div.bottomRight {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	border-bottom-right-radius:0px;
	border-top-right-radius:0px;
}
div.flickSlideBottom div.bottomLeft {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	border-bottom-left-radius:0px;
	border-top-left-radius:0px;
}


div.flickSlideBottom div.bottomLeft:after {
	font-size:10px;
    content:'Prev';
	padding:5px;
	width:50px;
	text-align:left;
	display:table-cell;
}
div.flickSlideBottom div.bottomLeft:before {
    content:url(arrowL.png);
	padding:5px;
	text-align:left;
	display:table-cell;
}

div.flickSlideBottom div.bottomRight:before {
	font-size:10px;
    content:'Next';
	padding:5px;
	width:50px;
	text-align:right;
	display:table-cell;
}
div.flickSlideBottom div.bottomRight:after {
    content:url(arrowR.png);
	padding:5px;
	text-align:right;
	display:table-cell;
}
div.flickSlideBottom ul.slidePager {
	display:table-cell;
	width:100%;
	text-align:center;
	margin:0;
	padding:0;
}
div.flickSlideBottom ul.slidePager li.slidePagerPointer {
	display:inline-block;
	background-color:#CCC;
	width:10px;
	height:10px;
	margin:10px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
}
div.flickSlideBottom ul.slidePager li.slidePagerPointer.active {
    -webkit-box-shadow:
		0px 0px 4px rgba(255,0,153,0.8),
		inset 0px 0px 1px rgba(255,000,217,1);
	background-color:#F6C;
}