<section id="middle" class="two">

    <?php // echo $this->element('common/girls_submenu'); ?>

    <div class="title_bar">女の子削除完了</div> 
	<div id="timeLineArea" class="inner">
		<p>女の子の削除が完了しました。</p>

		<div align="center" style="margin-top:40px;">
				<a href="<?php echo $linkCommon->get_girls_index() ?>" class="member_girls_button">一覧に戻る</a>
		</div>
	</div>
</section>
