
<h2 class="shop_h2">女の子管理</h2>

<div class="tabs box">
	<ul>
		<li><a href="<?php echo $linkCommon->get_girls_add() ?>"><span style="color:#fff;">女の子登録</span></a></li>
		<li><a href="<?php echo $linkCommon->get_girls_index() ?>"><span style="color:#fff;">女の子一覧</span></a></li>
		<li><a href="<?php echo $linkCommon->get_girls_orders_index() ?>"><span style="color:#fff;">表示順位編集</span></a></li>
	</ul>
</div> <!-- /tabs -->

<h3 class="rank_h2">女の子削除</h3>

	<?php echo $form->create(null,array('type'=>'post','action'=>""));?>
	<?php echo $form->hidden('Girl.id');?>
	<?php echo $form->hidden('Girl.user_id');?>
	<table class="profileedit_table">
    	<tr>
        	<td class="profileedit_td1"><img src="/images/icon_table.jpg" />名前</td>
            <td class="profileedit_td2"><?php echo $data['Girl']['name']; ?></td>
        </tr>
    	<tr>
        	<td class="profileedit_td1"><img src="/images/icon_table.jpg" />年齢</td>
            <td class="profileedit_td2"><?php echo $data['Girl']['age']; ?>歳</td>
        </tr>
    	<tr>
        	<td class="profileedit_td1"><img src="/images/icon_table.jpg" />バスト</td>
            <td class="profileedit_td2"><?php echo $data['Girl']['bust']; ?>cm</td>
        </tr>
    	<tr>
        	<td class="profileedit_td1"><img src="/images/icon_table.jpg" />カップ</td>
            <td class="profileedit_td2"><?php echo $data['MGirlsCup']['name']; ?></td>
        </tr>
    	<tr>
        	<td class="profileedit_td1"><img src="/images/icon_table.jpg" />ウエスト</td>
            <td class="profileedit_td2"><?php echo $data['Girl']['waist']; ?>cm</td>
        </tr>
    	<tr>
        	<td class="profileedit_td1"><img src="/images/icon_table.jpg" />ヒップ</td>
            <td class="profileedit_td2"><?php echo $data['Girl']['hip']; ?>cm</td>
        </tr>
    	<tr>
        	<td class="profileedit_td1"><img src="/images/icon_table.jpg" />身長</td>
            <td class="profileedit_td2"><?php echo $data['Girl']['body_height']; ?>cm</td>
        </tr>
    </table>

<h3 class="rank_h2">女の子画像</h3>

	<table class="girls_table">
    	<tr>
        	<th class="girls_table_th">女の子画像</th>
           <!--  <th class="girls_table_th">女の子画像2枚目</th> -->
        </tr>
    	<tr>
        	<td class="girls_table_td">
        		<?php //start---2013/4/25 障害No.4-0001修正 ?>
        		<?php echo $imgCommon->get_girl_with_time($data, 'm', 1)?>
        		<?php /*
				<?php if(file_exists(APP_IMG_PATH . 'girl' . DS . $data['Girl']['id'] . DS . $data['Girl']['image_1_m']) && !empty($data['Girl']['image_1_m'])){ ?>
				<img src="<?php echo APP_IMG_URL . 'girl/' . $data['Girl']['id'] . '/' . $data['Girl']['image_1_m'] ?>?<?php echo time();?>"
					width="<?php echo APP_IMG_GIRL_M_WIDTH ?>" height="<?php echo APP_IMG_GIRL_M_HEIGHT ?>" />
				<?php }else{ ?>
				<img src="<?php echo APP_IMG_URL . 'common/girl_m.jpg' ?>" width="<?php echo APP_IMG_GIRL_M_WIDTH ?>" height="<?php echo APP_IMG_GIRL_M_HEIGHT ?>" />
				<?php } ?>
				*/ ?>
				<?php //end---2013/4/25 障害No.4-0001修正 ?>
			</td>
			<!--
            <td class="girls_table_td1">
        		<?php //start---2013/4/25 障害No.4-0001修正 ?>
        		<?php echo $imgCommon->get_girl_with_time($data, 'm', 2)?>
        		<?php /*
				<?php if(file_exists(APP_IMG_PATH . 'girl' . DS . $data['Girl']['id'] . DS . $data['Girl']['image_2_m']) && !empty($data['Girl']['image_2_m'])){ ?>
				<img src="<?php echo APP_IMG_URL . 'girl/' . $data['Girl']['id'] . '/' . $data['Girl']['image_2_m'] ?>?<?php echo time();?>"
					width="<?php echo APP_IMG_GIRL_M_WIDTH ?>" height="<?php echo APP_IMG_GIRL_M_HEIGHT ?>" />
				<?php }else{ ?>
				<img src="<?php echo APP_IMG_URL . 'common/girl_m.jpg' ?>" width="<?php echo APP_IMG_GIRL_M_WIDTH ?>" height="<?php echo APP_IMG_GIRL_M_HEIGHT ?>" />
				<?php } ?>
				*/ ?>
				<?php //end---2013/4/25 障害No.4-0001修正 ?>
			</td>
			-->
        </tr>
		
		<!--
    	<tr>
            <th class="girls_table_th">女の子画像3枚目</th>
            <th class="girls_table_th1">女の子画像4枚目</th>
        </tr>
    	<tr>
        	<td class="girls_table_td">
        		<?php //start---2013/4/25 障害No.4-0001修正 ?>
        		<?php echo $imgCommon->get_girl_with_time($data, 'm', 3)?>
        		<?php /*
				<?php if(file_exists(APP_IMG_PATH . 'girl' . DS . $data['Girl']['id'] . DS . $data['Girl']['image_3_m']) && !empty($data['Girl']['image_3_m'])){ ?>
				<img src="<?php echo APP_IMG_URL . 'girl/' . $data['Girl']['id'] . '/' . $data['Girl']['image_3_m'] ?>?<?php echo time();?>"
					width="<?php echo APP_IMG_GIRL_M_WIDTH ?>" height="<?php echo APP_IMG_GIRL_M_HEIGHT ?>" />
				<?php }else{ ?>
				<img src="<?php echo APP_IMG_URL . 'common/girl_m.jpg' ?>" width="<?php echo APP_IMG_GIRL_M_WIDTH ?>" height="<?php echo APP_IMG_GIRL_M_HEIGHT ?>" />
				<?php } ?>
				*/ ?>
				<?php //end---2013/4/25 障害No.4-0001修正 ?>
			</td>
            <td class="girls_table_td1">
        		<?php //start---2013/4/25 障害No.4-0001修正 ?>
        		<?php echo $imgCommon->get_girl_with_time($data, 'm', 4)?>
        		<?php /*
				<?php if(file_exists(APP_IMG_PATH . 'girl' . DS . $data['Girl']['id'] . DS . $data['Girl']['image_4_m']) && !empty($data['Girl']['image_4_m'])){ ?>
				<img src="<?php echo APP_IMG_URL . 'girl/' . $data['Girl']['id'] . '/' . $data['Girl']['image_4_m'] ?>?<?php echo time();?>"
					width="<?php echo APP_IMG_GIRL_M_WIDTH ?>" height="<?php echo APP_IMG_GIRL_M_HEIGHT ?>" />
				<?php }else{ ?>
				<img src="<?php echo APP_IMG_URL . 'common/girl_m.jpg' ?>" width="<?php echo APP_IMG_GIRL_M_WIDTH ?>" height="<?php echo APP_IMG_GIRL_M_HEIGHT ?>" />
				<?php } ?>
				*/ ?>
				<?php //end---2013/4/25 障害No.4-0001修正 ?>
			</td>
        </tr>
		-->
    </table>



<div align="center" style="margin-top:40px;">
	<?php
	$msg = __($data['Girl']['name'] . 'を削除します。よろしいですか？', true);
	echo $form->submit(__('削除する', true), array('name'=>'delete', 'onClick'=>"return confirm('$msg')",'class' => 'btn_navi'));
	?>
</div>
<?php echo $form->end(); ?>
