<section id="middle" class="two">

    <?php // echo $this->element('common/girls_submenu'); ?>

    <div class="title_bar">女の子編集完了</div> 
    <div id="timeLineArea" class="inner">
		<p>女の子の編集が完了しました。</p>

		<div align="center" style="margin-top:40px;">
				<a href="<?php echo $parent_user['LargeArea']['url'] . $parent_user['User']['id'] . '/girls/' . $girl['Girl']['id'] ?>" target="_blank" class="member_girls_button">確認する</a>
				<a href="<?php echo $linkCommon->get_girls_index() ?>" class="member_girls_button">一覧に戻る</a>
		</div>
	</div>
</section>

