
<div style="text-align:left;padding:5px;font-size:medium;background-color:#EFEBE3">
	女の子管理
</div>

<div style="text-align:center;padding:3px;">
<a href="<?php echo $linkCommon->get_girls_add() ?>">登録</a>｜<a href="<?php echo $linkCommon->get_girls_index() ?>">一覧</a> ｜<a href="<?php echo $linkCommon->get_girls_orders_index() ?>">表示順位</a>
</div>

<div style="text-align:left;padding:3px;background-color:#F4E7D1">
	女の子削除完了
</div>
<div style="text-align:left;padding:3px;">
	女の子の削除が完了しました。
</div>

<div style="text-align:center;padding:3px;">
<a href="<?php echo $linkCommon->get_girls_index() ?>">一覧に戻る</a>
</div>


<?php //echo var_dump($show_order)?>
<?php //echo var_dump($list)?>
