
<div style="text-align:left;padding:5px;font-size:medium;background-color:#EFEBE3">
	女の子削除
</div>

<div style="text-align:center;padding:3px;">
<a href="<?php echo $linkCommon->get_girls_add() ?>">登録</a>｜<a href="<?php echo $linkCommon->get_girls_index() ?>">一覧</a> ｜<a href="<?php echo $linkCommon->get_girls_orders_index() ?>">表示順位</a>
</div>


<?php echo $form->create(null,array('type'=>'post','action'=>"",'encoding' => null));?>
<?php echo $form->hidden('Girl.id');?>
<?php echo $form->hidden('Girl.user_id');?>

<div style="text-align:left;padding:3px;background-color:#F4E7D1">
	名前
</div>
<div style="text-align:left;padding:3px;">
	<?php echo $data['Girl']['name']; ?>
</div>

<div style="text-align:left;padding:3px;background-color:#F4E7D1">
	年齢
</div>
<div style="text-align:left;padding:3px;">
	<?php echo $data['Girl']['age']; ?>歳
</div>

<div style="text-align:left;padding:3px;background-color:#F4E7D1">
	バスト
</div>
<div style="text-align:left;padding:3px;">
	<?php echo $data['Girl']['bust']; ?>cm
</div>

<div style="text-align:left;padding:3px;background-color:#F4E7D1">
	カップ
</div>
<div style="text-align:left;padding:3px;">
	<?php echo $data['MGirlsCup']['name']; ?>
</div>

<div style="text-align:left;padding:3px;background-color:#F4E7D1">
	ウエスト
</div>
<div style="text-align:left;padding:3px;">
	<?php echo $data['Girl']['waist']; ?>cm
</div>

<div style="text-align:left;padding:3px;background-color:#F4E7D1">
	ヒップ
</div>
<div style="text-align:left;padding:3px;">
	<?php echo $data['Girl']['hip']; ?>cm
</div>

<div style="text-align:left;padding:3px;background-color:#F4E7D1">
	身長
</div>
<div style="text-align:left;padding:3px;">
	<?php echo $data['Girl']['body_height']; ?>cm
</div>


<div style="text-align:center;padding:3px;">
<?php echo $form->submit('削除する');?>
</div>


<?php echo $form->end(); ?>





