
<div style="text-align:left;padding:5px;font-size:medium;background-color:#EFEBE3">
	女の子編集
</div>

<div style="text-align:center;padding:3px;">
<a href="<?php echo $linkCommon->get_girls_add() ?>">登録</a>｜<a href="<?php echo $linkCommon->get_girls_index() ?>">一覧</a> ｜<a href="<?php echo $linkCommon->get_girls_orders_index() ?>">表示順位</a>
</div>


<?php echo $form->create(null, array('type'=>'post', 'action' => "",'encoding' => null));?>
<?php echo $form->hidden('Girl.id');?>

<div style="text-align:left;padding:3px;background-color:#F4E7D1">
	名前
</div>
<div style="text-align:left;padding:3px;">
	<?php echo $form->text('Girl.name'); ?>
	<?php echo $form->error('Girl.name'); ?>
</div>

<div style="text-align:left;padding:3px;background-color:#F4E7D1">
	年齢
</div>
<div style="text-align:left;padding:3px;">
	<?php echo $form->select('Girl.age', $m_age,null,array('empty'=>'－')); ?>歳
	<?php echo $form->error('Girl.age'); ?>
</div>

<div style="text-align:left;padding:3px;background-color:#F4E7D1">
	バスト
</div>
<div style="text-align:left;padding:3px;">
	<?php echo $form->select('Girl.bust', $m_bust,null,array('empty'=>'－')); ?>cm
	<?php echo $form->error('Girl.bust'); ?>
</div>

<div style="text-align:left;padding:3px;background-color:#F4E7D1">
	カップ
</div>
<div style="text-align:left;padding:3px;">
	<?php echo $form->select('Girl.girls_cup_id', $m_girls_cups,null,array('empty'=>'－')); ?>
	<?php echo $form->error('Girl.girls_cup_id'); ?>
</div>

<div style="text-align:left;padding:3px;background-color:#F4E7D1">
	ウエスト
</div>
<div style="text-align:left;padding:3px;">
	<?php echo $form->select('Girl.waist', $m_waist,null,array('empty'=>'－')); ?>cm
	<?php echo $form->error('Girl.waist'); ?>
</div>

<div style="text-align:left;padding:3px;background-color:#F4E7D1">
	ヒップ
</div>
<div style="text-align:left;padding:3px;">
	<?php echo $form->select('Girl.hip', $m_hip,null,array('empty'=>'－')); ?>cm
	<?php echo $form->error('Girl.hip'); ?>
</div>

<div style="text-align:left;padding:3px;background-color:#F4E7D1">
	身長
</div>
<div style="text-align:left;padding:3px;">
	<?php echo $form->select('Girl.body_height', $m_body_height,null,array('empty'=>'－')); ?>cm
	<?php echo $form->error('Girl.body_height'); ?>
</div>


<div style="text-align:center;padding:3px;">
<?php echo $form->submit('編集する');?>
</div>


<?php echo $form->end(); ?>

