
<div style="text-align:left;padding:5px;font-size:medium;background-color:#EFEBE3">
	女の子画像登録
</div>

<div style="text-align:left;padding:3px;background-color:#F4E7D1">
	女の子写真（<?php echo $data['Girl']['name']?>さん）
</div>
<div style="text-align:left;padding:3px;">
	<?php for($i = 0; $i < 4; $i++){?>
		･写真<?php echo ($i+1)?>：<a href="<?php echo $linkCommon->get_girls_image($data,$data['Girl']['image_' . ($i+1) . '_l']) ?>">確認する</a>&nbsp;[<a href="mailto:<?php echo VALID_GIRLS_IMAGE_UPLOAD_EMAIL?>?subject=<?php echo $data['Girl']['id']?>_<?php echo ($i+1)?>">投稿する</a>]<br />
	<?php }?>
</div>

<div style="text-align:left;padding:3px;">
投稿する際のメールのタイトル等の変更はしないでくさい。<br />
拡張子｢jpg｣｢gif｣形式の画像のみ、ファイルサイズ3MBまで。<br />
｢幅240px｣、｢高さ320px｣の画像を投稿してください。
</div>

<div style="text-align:center;padding:3px;">
<a href="<?php echo $linkCommon->get_girls_index() ?>">戻る</a>
</div>
