
<div style="text-align:left;padding:5px;font-size:medium;background-color:#EFEBE3">
	女の子管理
</div>

<div style="text-align:center;padding:3px;">
<a href="<?php echo $linkCommon->get_girls_add() ?>">登録</a>｜一覧 ｜<a href="<?php echo $linkCommon->get_girls_orders_index() ?>">表示順位</a>
</div>

<?php foreach($list as $key => $record){?>
	<hr color="#DED7C8" />
	<div style="text-align:left;padding:3px;background-color:#FFFFFF">
	    <a href="<?php echo $parent_user['LargeArea']['url'] . 'i/' . $record['Girl']['user_id'] . '/girls/' . $record['Girl']['id']?>"><?php echo $record['Girl']['name'] . '(' . $record['Girl']['age'] . ')' ?></a><br />
	    <div style="text-align:right;">[<a href="<?php echo $linkCommon->get_girls_edit($record) ?>">編集</a>][<a href="<?php echo $linkCommon->get_girls_imageupload($record) ?>">画像登録</a>][<a href="<?php echo $linkCommon->get_girls_delete($record) ?>">削除</a>]</div>
	</div>
<?php } ?>


