<section id="middle" class="two">

    <?php // echo $this->element('common/girls_submenu'); ?>

    <div class="title_bar">表示順位編集完了</div> 
    <div id="timeLineArea" class="inner">
        <div class="shopTable">
		<p>表示順位の編集が完了しました。</p>

		<div align="center" style="margin-top:40px;">
				<a href="<?php echo $parent_user['LargeArea']['url'] . $parent_user['User']['id'] . '/girls' ?>" target="_blank" class="member_girls_button">確認する</a>
				<a href="<?php echo $linkCommon->get_girls_index() ?>" class="member_girls_button">一覧に戻る</a>
		</div>
	</div>
</section>
