<h2 class="rank_h2">新規スレッド作成完了</h2>

<p style="font-size: 12px;">スレッドの新規作成が完了しました。</p>
<div align="center" style="margin-top: 40px;">
	<a href="<?php echo $linkCommon->get_boards_read($board)?>" class="btn_navi">スレッドを確認する</a>
	<a href="<?php echo $linkCommon->get_boards_top($board)?>" class="btn_navi">掲示板TOPへ戻る</a>
</div>





