
<h2 class="rank_h2">炎上掲示板</h2>

<div style="font-size:13px;margin-top:5px;margin-left:5px;">
<?php foreach($board_list as $key => $record){ ?>
<?php echo $key+1?>. <a href="<?php echo $linkCommon->get_boards_read($record)?>/l50"><?php echo $record['Board']['title']?> (<?php echo $record[0]['count']?>)</a><br />
<?php } ?>
</div>


<?php //echo var_dump($list)?>
