
<div style="text-align:left;padding:5px;font-size:medium;background-color:#EFEBE3">
	レス投稿完了
</div>

<div style="text-align:left;padding:3px;">
	レスの投稿が完了しました。
</div>

<hr color="#DED7C8" />

<div style="text-align:center;padding:3px;">
	<?php //start---2013/3/13 障害No.1-5-0001修正 ?>
	<!-- [<a href="<?php echo $linkCommon->get_boards_read($board)?>">スレッドを確認する</a>] -->
	[<a href="<?php echo $linkCommon->get_boards_read($board)?>/page:<?php echo ceil($board[0]['count'] / $pcount['boards_view_res']) ?>">スレッドを確認する</a>]
	<?php //end---2013/3/13 障害No.1-5-0001修正 ?>
</div>
<hr color="#DED7C8" />

<div style="text-align:center;padding:3px;">
	[<a href="<?php echo $linkCommon->get_boards_top($board)?>">掲示板TOPへ戻る</a>]
</div>
<hr color="#DED7C8" />

<div style="text-align:center;padding:3px;">
	[<a href="<?php echo $linkCommon->get_top($parent_area)?>">トップページへ</a>]
</div>

<?php //echo var_dump($list)?>
