
<div style="text-align:left;padding:5px;font-size:medium;background-color:#EFEBE3">
	炎上掲示板
</div>

<div style="text-align:left;padding:3px;">
	<?php foreach($board_list as $key => $record){ ?>
    	<a href="<?php echo $linkCommon->get_boards_read($record)?>"><?php echo (string)($key+1)?>: <?php echo $record['Board']['title']?> (<?php echo $record[0]['count']?>)</a><br />
	<?php } ?>
</div>

<hr color="#DED7C8" />

<div style="text-align:center;padding:3px;">
	[<a href="<?php echo $linkCommon->get_boards_top($parent_area)?>">戻る</a>]
</div>

<?php //echo var_dump($list)?>
