
<div data-role="content" data-theme="a">

	<h2 class="midashih2">炎上掲示板</h2>

	<h3 class="midashih3">新規スレッド作成完了</h3>
	<p>
		スレッドの新規作成が完了しました。<br />
		<?php //start---2013/3/13 障害No.1-5-0001修正 ?>
		<!-- <a href="<?php echo $linkCommon->get_boards_read($board)?>" data-role="button" data-inline="true">スレッドを確認する</a> -->
		<a href="<?php echo $linkCommon->get_boards_read($board)?>/page:<?php echo ceil($board[0]['count'] / $pcount['boards_view_res']) ?>" data-role="button" data-inline="true">スレッドを確認する</a>
		<?php //end---2013/3/13 障害No.1-5-0001修正 ?>
		<a href="<?php echo $linkCommon->get_boards_top($board)?>" data-role="button" data-inline="true">掲示板TOPへ戻る</a>
	</p>
</div>



<?php //echo var_dump($list)?>





