<div data-role="content" data-theme="a">

<h2 class="midashih2">
	炎上掲示板トップ
</h2>

<?php echo $this->element('pagenate/s_numbers'); ?>

<ul data-role="listview" data-divider-theme="a">

<?php foreach($board_detail_list as $key => $record){ ?>
	<li>
		<?php //start---2013/3/13 障害No.1-5-0001修正 ?>
		<!-- <a href="<?php echo $linkCommon->get_boards_read($record)?>"> -->
		<a href="<?php echo $linkCommon->get_boards_read($record)?>/page:<?php echo ceil($record[0]['count'] / $pcount['boards_view_res']) ?>">
		<?php //end---2013/3/13 障害No.1-5-0001修正 ?>
            <?php echo (string)(($key+1)+($paginator->current()-1)*$pcount['boards_detail'])?>:<?php echo $record['Board']['title']?>
            <span class="ui-li-count"><?php echo $record[0]['count']?></span>
		</a>
    </li>

	<?php } ?>

</ul>

<?php echo $this->element('pagenate/s_numbers'); ?>

<div style="text-align:right; margin:4px 0px;">
	<a href="<?php echo $linkCommon->get_boards_add_board($record)?>" data-role="button" data-inline="true">新規スレッド作成</a>
</div>


<?php echo $form->create(null, array('type'=>'post', 'action' => 'search_result'));?>
<h3 class="midashih3">
	タイトル検索
</h3>
<?php echo $form->text('Boards.search_word'); ?><?php echo $form->submit('検索', array('div' => false, 'data-role' => "button", 'data-inline' => "true")); ?>
<?php echo $form->end();?>


<hr style="border:1px solid #DED7C8;" />

<div style="text-align:center; margin:4px 0px;">
	<?php //start---2013/3/13 障害No.1-5-0001修正 ?>
	<!-- <a href="<?php echo $linkCommon->get_boards_read($board_delete)?>">削除依頼はこちら</a> -->
	<a href="<?php echo $linkCommon->get_boards_read($board_delete)?>/page:<?php echo ceil($board_delete[0]['count'] / $pcount['boards_view_res']) ?>">削除依頼はこちら</a>
	<?php //end---2013/3/13 障害No.1-5-0001修正 ?>
</div>

<hr style="border:1px solid #DED7C8;" />

<div style="text-align:center; margin-right:auto; margin-left:auto;">
	<a href="<?php echo $linkCommon->get_top($parent_area)?>" data-role="button" data-inline="true">戻る</a>
</div>


</div>




<?php //echo var_dump($list)?>
