<div data-role="content" data-theme="a">

<h2 class="midashih2">
	炎上掲示板
</h2>

<?php if(!empty($board_list)){?>
<ul data-role="listview" data-divider-theme="a">
<?php foreach($board_list as $key => $record){ ?>
	<li>
    	<a href="<?php echo $linkCommon->get_boards_read($record)?>">
            <?php echo (string)($key+1)?>:<?php echo $record['Board']['title']?>
            <span class="ui-li-count"><?php echo $record[0]['count']?></span>
		</a>
    </li>
	<?php } ?>
</ul>
<?php }else{?>
	検索条件に一致するスレッドが見つかりませんでした。
<?php }?>

<hr style="border:1px solid #DED7C8;" />

<div style="text-align:center; margin-right:auto; margin-left:auto;">
	<a href="<?php echo $linkCommon->get_boards_top($parent_area)?>" data-role="button" data-inline="true">戻る</a>
</div>


</div>



<?php //echo var_dump($list)?>


