		<div class="pageCounter">
			<span class="num">0</span><span>件のぽっちゃりデリヘルがあります</span>
			<span><img src="/img/left.png" /><!-- a href="#" -->前へ<!-- /a -->　1/1ページ　<!-- a href="#" -->次へ<!-- /a --><img src="/img/right.png" /></span>
		</div>
<?php /*

		<!--shop no1-->
		<div class="shopList_frame">
			<div>
				<a href="/shop" class="shopName">サンプルショップ</a>　<span class="kuchikomi">UP</span><a href="/shop" class="css_btn_class">詳細を見る</a>
			</div>
			<div class="pay_mark clearfix">
				<p class="pay_yoyaku">先行予約OK</p>
				<p class="pay_credit">クレジットOK</p>
				<p class="pay_ryoshu">領収書OK</p>
				<p class="pay_machi">待ち合わせOK</p>
				<p class="pay_cosplay">コスプレあり</p>
				<p class="pay_coupon">クーポンあり</p>
			</div>
		</div>

		<div class="shopList_main clearfix">
			<div>
				<a href="#"><img src="/img/heavy_review_test_img1.png" width="160" height="210" class="img_frame" /></a>
			</div>
			<div>
				<p class="catchCopy"><b><strong>キャッチコピーが入りますキャッチコピーが入りますキャッチコピーが入りますキャッチコピーが入ります</strong></b></p>
				<p>説明文が入ります説明文が入ります説明文が入ります説明文が入ります説明文が入ります説明文が入ります</p>
				<div class="shopListLeft">
					<dl class="clearfix">
						<dt>営業時間</dt>
						<dd>12:00〜0:00</dd>
						<dt>最低料金</dt>
						<dd>16,000円〜</dd>
						<dt>住所</dt>
						<dd>駅前発</dd>
					</dl>
					<p class="shopNum">
						<span class="zaiseki">在籍数:</span><span class="num">25人</span>
						<span class="kuchikomi2">口コミ:</span><span class="num">90件</span>
					</p>
				</div>
				<div class="shopListRight">
					<a href="/shop" class="css_btn_more">詳細を見る</a><a href="#" class="css_btn_bookmark">お気に入りに保存</a><!-- <p><img src="/img/shop_banner.jpg" /></p> -->
				</div>
				<div class="shopListBottom clearfix">
					<ul>
						<li><span class="type1">新規</span><a href="/shop/coupon">ダミーテキストダミーテキストダミーテキストダミーテキスト</a></li>
						<li><span class="type2">会員</span><a href="/shop/coupon">ダミーテキストダミーテキスト</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /shop no1 -->

		<!--shop no2-->
		<div class="shopList_frame">
			<div>
				<a href="/shop" class="shopName">サンプルショップ</a>　<span class="kuchikomi">UP</span><a href="/shop" class="css_btn_class">詳細を見る</a>
			</div>
			<div class="pay_mark clearfix">
				<p class="pay_yoyaku">先行予約OK</p>
				<p class="pay_credit">クレジットOK</p>
				<p class="pay_ryoshu">領収書OK</p>
				<p class="pay_machi">待ち合わせOK</p>
				<p class="pay_cosplay">コスプレあり</p>
				<p class="pay_coupon">クーポンあり</p>
			</div>
		</div>

		<div class="shopList_main clearfix">
			<div>
				<a href="#"><img src="/img/heavy_review_test_img2.png" width="160" height="210" class="img_frame" /></a>
			</div>
			<div>
				<p class="catchCopy"><b><strong>キャッチコピーが入りますキャッチコピーが入りますキャッチコピーが入りますキャッチコピーが入ります</strong></b></p>
				<p>説明文が入ります説明文が入ります説明文が入ります説明文が入ります説明文が入ります説明文が入ります</p>
				<div class="shopListLeft">
					<dl class="clearfix">
						<dt>営業時間</dt>
						<dd>12:00〜0:00</dd>
						<dt>最低料金</dt>
						<dd>16,000円〜</dd>
						<dt>住所</dt>
						<dd>駅前発</dd>
					</dl>
					<p class="shopNum">
						<span class="zaiseki">在籍数:</span><span class="num">25人</span>
						<span class="kuchikomi2">口コミ:</span><span class="num">90件</span>
					</p>
				</div>
				<div class="shopListRight">
					<a href="/shop" class="css_btn_more">詳細を見る</a><a href="#" class="css_btn_bookmark">お気に入りに保存</a><!-- <p><img src="/img/shop_banner.jpg" /></p> -->
				</div>
				<div class="shopListBottom clearfix">
					<ul>
						<li><span class="type1">新規</span><a href="/shop/coupon">ダミーテキストダミーテキストダミーテキストダミーテキスト</a></li>
						<li><span class="type2">会員</span><a href="/shop/coupon">ダミーテキストダミーテキスト</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /shop no2 -->
*/ ?>		
		