<section id="middle" class="full">
    
    <div id="entryArea">
        <div class="head">
        </div>
        
        <!--  body -->
        <div class="body">
            <div class="listHeading">クチコミ投稿のご注意</div>
            <p>ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
            ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
            </p>
            
            <div class="listHeading">（確認）クチコミ投稿フォーム</div>
            <div class="reviewForm">

                <form action="/review/confirm" method="post">
                
                    <div class="reviewForm">
                    <table cellspacing="0" cellpadding="0" border="0" class="noLCS">
                        <tr>
                            <th>店名</th>
                            <td>
                                一夜妻
                            </td>
                            
                        </tr>
                        <tr>
                            <th>女の子</th>
                            <td>
                                中井マダム
                            </td>
                            
                        </tr>
                        <tr>
                            <th>コース／料金</th>
                            <td>
                                60分 15,000円
                            </td>
                        </tr>
                        <tr>
                            <th>ご利用場所</th>
                            <td>
                                ラブホテル
                            </td>
                        </tr>
                    </table>
                    </div>
                    
                    <div class="reviewFormRed">
                    <table cellspacing="0" cellpadding="0" border="0">
                        <tr>
                            <th>ルックス</th>
                            <td>
                                ★★★
                            </td>
                        </tr>
                        <tr>
                            <th>性格</th>
                            <td>
                                ★★☆
                            </td>
                        </tr>
                        <tr>
                            <th>サービス</th>
                            <td>
                                ★☆☆
                            </td>
                        </tr>
                    </table>
                    </div>
                    
                    <div class="reviewForm">
                    <table cellspacing="0" cellpadding="0" border="0" class="noLCS">
                        <tr>
                            <th>クチコミ</th>
                            <td>いろいろサービスが良い。<br />
    最初は安いからフリーで当たりはずれ半々だったけど、良姫見つけてからはその子ばっかり指名になった。<br />
    地元が東京なので、大阪は相場が安く感じるが、ここも例に漏れずコスパがナイスでした。<br />
    大阪離れてから全く行ってないけど、今度大阪行ったら呼んでも良いかもしれない3店舗のうちの1つ。</td>
                        </tr>
                        <tr>
                            <th>この女の子の良さを一言でいうと<br>(※タイトルとして表示されます）</th>
                            <td>仕事の疲れがとれた～そして綺麗</td>
                        </tr>
                    </table>
                    </div>
                    <p class="align_c"><input type="submit" class="submitBtn redBtn" value="入力内容を送信する"></p>
                    
                </form>
                
            </div>

        </div>
        <!--  /body -->
        
    </div>
</section>