<div class="list">
	<ul id="newSlideShow" class="clearfix">
		<li><a href="http://ikebukuro.dhrank.com/12652"><img src="http://img.dhrank.com/shop/12652/image_icon.jpg" alt="" height="100" width="100"></a></li>
		<li><a href="http://ikebukuro.dhrank.com/6240"><img src="http://img.dhrank.com/shop/6240/image_icon.jpg" alt="" height="100" width="100"></a></li>
		<li><img src="http://img.dhrank.com/banner/newshopslide/s.gif" alt="" height="100" width="100"></li>
		<li><img src="http://img.dhrank.com/banner/newshopslide/s.gif" alt="" height="100" width="100"></li>
		<li><img src="http://img.dhrank.com/banner/newshopslide/s.gif" alt="" height="100" width="100"></li>
		<li><img src="http://img.dhrank.com/banner/newshopslide/s.gif" alt="" height="100" width="100"></li>
	</ul>
</div>
