<div class="list">
	<ul id="newSlideShow" class="clearfix">
		<li><a href="http://nagasaki.dhrank.com/8606"><img src="http://img.dhrank.com/shop/8606/image_icon.jpg" alt="" height="100" width="100"></a></li>
		<li><a href="http://nagasaki.dhrank.com/8566"><img src="http://img.dhrank.com/shop/8566/image_icon.jpg" alt="" height="100" width="100"></a></li>
		<li><img src="http://img.dhrank.com/banner/newshopslide/s.gif" alt="" height="100" width="100"></li>
		<li><img src="http://img.dhrank.com/banner/newshopslide/s.gif" alt="" height="100" width="100"></li>
		<li><img src="http://img.dhrank.com/banner/newshopslide/s.gif" alt="" height="100" width="100"></li>
		<li><img src="http://img.dhrank.com/banner/newshopslide/s.gif" alt="" height="100" width="100"></li>
	</ul>
</div>
