<div class="list">
	<ul id="newSlideShow" class="clearfix">
		<li><a href="http://kumamoto.dhrank.com/8512"><img src="http://img.dhrank.com/shop/8512/image_icon.jpg" alt="" height="100" width="100"></a></li>
		<li><a href="http://kumamoto.dhrank.com/8429"><img src="http://img.dhrank.com/shop/8429/image_icon.jpg" alt="" height="100" width="100"></a></li>
		<li><img src="http://img.dhrank.com/banner/newshopslide/s.gif" alt="" height="100" width="100"></li>
		<li><img src="http://img.dhrank.com/banner/newshopslide/s.gif" alt="" height="100" width="100"></li>
		<li><img src="http://img.dhrank.com/banner/newshopslide/s.gif" alt="" height="100" width="100"></li>
		<li><img src="http://img.dhrank.com/banner/newshopslide/s.gif" alt="" height="100" width="100"></li>
	</ul>
</div>
