<div class="mapArea">
	<ul class="list">
		<li><a href="http://osaka.dhrank.com/top"><img src="/img/area/kansai/osaka.png" alt="大阪エリア" height="42" width="250"></a></li>
		<li><a href="http://kyoto.dhrank.com/top"><img src="/img/area/kansai/kyoto.png" alt="京都エリア" height="42" width="250"></a></li>
		<li><a href="http://hyogo.dhrank.com/top"><img src="/img/area/kansai/hyogo.png" alt="兵庫エリア" height="42" width="250"></a></li>
		<li><a href="http://shiga.dhrank.com/top"><img src="/img/area/kansai/shiga.png" alt="滋賀エリア" height="42" width="250"></a></li>
		<li><a href="http://nara.dhrank.com/top"><img src="/img/area/kansai/nara.png" alt="奈良エリア" height="42" width="250"></a></li>
		<li><a href="http://wakayama.dhrank.com/top"><img src="/img/area/kansai/wakayama.png" alt="和歌山エリア" height="42" width="250"></a></li>
	</ul>
</div>
