<div class="mapArea">
	<ul class="list">
		<li><a href="http://aomori.dhrank.com/top"><img src="/img/area/tohoku/aomori.png" alt="青森エリア" height="42" width="250"></a></li>
		<li><a href="http://iwate.dhrank.com/top"><img src="/img/area/tohoku/iwate.png" alt="岩手エリア" height="42" width="250"></a></li>
		<li><a href="http://miyagi.dhrank.com/top"><img src="/img/area/tohoku/miyagi.png" alt="宮城エリア" height="42" width="250"></a></li>
		<li><a href="http://akita.dhrank.com/top"><img src="/img/area/tohoku/akita.png" alt="秋田エリア" height="42" width="250"></a></li>
		<li><a href="http://yamagata.dhrank.com/top"><img src="/img/area/tohoku/yamagata.png" alt="山形エリア" height="42" width="250"></a></li>
		<li><a href="http://fukushima.dhrank.com/top"><img src="/img/area/tohoku/fukushima.png" alt="福島エリア" height="42" width="250"></a></li>
	</ul>
</div>
