<div class="list">
	<ul id="newSlideShow" class="clearfix">
		<li><a href="http://hiroshima.dhrank.com/12721"><img src="http://img.dhrank.com/shop/12721/image_icon.jpg" alt="" height="100" width="100"></a></li>
		<li><a href="http://hiroshima.dhrank.com/12722"><img src="http://img.dhrank.com/shop/12722/image_icon.jpg" alt="" height="100" width="100"></a></li>
		<li><img src="http://img.dhrank.com/banner/newshopslide/s.gif" alt="" height="100" width="100"></li>
		<li><img src="http://img.dhrank.com/banner/newshopslide/s.gif" alt="" height="100" width="100"></li>
		<li><img src="http://img.dhrank.com/banner/newshopslide/s.gif" alt="" height="100" width="100"></li>
		<li><img src="http://img.dhrank.com/banner/newshopslide/s.gif" alt="" height="100" width="100"></li>
	</ul>
</div>
