<div class="list">
	<ul id="newSlideShow" class="clearfix">
		<li><a href="http://shizuoka.dhrank.com/12723"><img src="http://img.dhrank.com/banner/newshopslide/shizuoka/ahcute.jpg" alt="" height="100" width="100"></a></li>
		<li><a href="http://shizuoka.dhrank.com/9408"><img src="http://img.dhrank.com/banner/newshopslide/shizuoka/mechamote.jpg" alt="" height="100" width="100"></a></li>
		<li><a href="http://shizuoka.dhrank.com/12719"><img src="http://img.dhrank.com/banner/newshopslide/shizuoka/kotowarenai.jpg" alt="" height="100" width="100"></a></li>
		<li><a href="http://shizuoka.dhrank.com/12718"><img src="http://img.dhrank.com/banner/newshopslide/shizuoka/deraero.jpg" alt="" height="100" width="100"></a></li>
		<li><a href="http://shizuoka.dhrank.com/11813"><img src="http://img.dhrank.com/banner/newshopslide/shizuoka/cute.jpg" alt="" height="100" width="100"></a></li>
		<li><a href="http://shizuoka.dhrank.com/12716"><img src="http://img.dhrank.com/banner/newshopslide/shizuoka/cutenumadu.jpg" alt="" height="100" width="100"></a></li>
		<li><a href="http://shizuoka.dhrank.com/12715"><img src="http://img.dhrank.com/banner/newshopslide/shizuoka/deeplove.jpg" alt="" height="100" width="100"></a></li>
	</ul>
</div>
