<div class="list">
	<ul id="newSlideShow" class="clearfix">
		<li><a href="http://ishikawa.dhrank.com/10501"><img src="http://img.dhrank.com/shop/10501/image_icon.jpg" alt="" height="100" width="100"></a></li>
		<li><a href="http://ishikawa.dhrank.com/12710"><img src="http://img.dhrank.com/shop/12710/image_icon.jpg" alt="" height="100" width="100"></a></li>
		<li><a href="http://ishikawa.dhrank.com/10447"><img src="http://img.dhrank.com/shop/10447/image_icon.jpg" alt="" height="100" width="100"></a></li>
		<li><a href="http://ishikawa.dhrank.com/12712"><img src="http://img.dhrank.com/shop/12712/image_icon.jpg" alt="" height="100" width="100"></a></li>
		<li><img src="http://img.dhrank.com/banner/newshopslide/s.gif" alt="" height="100" width="100"></li>
		<li><img src="http://img.dhrank.com/banner/newshopslide/s.gif" alt="" height="100" width="100"></li>
	</ul>
</div>
