<div class="list">
	<ul id="newSlideShow" class="clearfix">
		<li><a href="http://kinshicho.dhrank.com/6847"><img src="http://img.dhrank.com/shop/6847/image_icon.jpg" alt="" height="100" width="100"></a></li>
		<li><a href="http://kinshicho.dhrank.com/6857"><img src="http://img.dhrank.com/banner/newshopslide/kinshicho/eplus.jpg" alt="" height="100" width="100"></a></li>
		<li><a href="http://kinshicho.dhrank.com/6862"><img src="http://img.dhrank.com/shop/6862/image_icon.jpg" alt="" height="100" width="100"></a></li>
		<li><a href="http://kinshicho.dhrank.com/6894"><img src="http://img.dhrank.com/shop/6894/image_icon.jpg" alt="" height="100" width="100"></a></li>
		<li><a href="http://kinshicho.dhrank.com/12720"><img src="http://img.dhrank.com/shop/12720/image_icon.jpg" alt="" height="100" width="100"></a></li>
		<li><img src="http://img.dhrank.com/banner/newshopslide/s.gif" alt="" height="100" width="100"></li>
	</ul>
</div>
