<div class="list">
	<ul id="newSlideShow" class="clearfix">
		<li><a href="http://kanagawa.dhrank.com/7297"><img src="http://img.dhrank.com/shop/7297/image_icon.jpg" alt="" height="100" width="100"></a></li>
		<li><a href="http://kanagawa.dhrank.com/11800"><img src="http://img.dhrank.com/shop/11800/image_icon.jpg" alt="" height="100" width="100"></a></li>
		<li><img src="http://img.dhrank.com/banner/newshopslide/s.gif" alt="" height="100" width="100"></li>
		<li><img src="http://img.dhrank.com/banner/newshopslide/s.gif" alt="" height="100" width="100"></li>
		<li><img src="http://img.dhrank.com/banner/newshopslide/s.gif" alt="" height="100" width="100"></li>
		<li><img src="http://img.dhrank.com/banner/newshopslide/s.gif" alt="" height="100" width="100"></li>
	</ul>
</div>
