<div class="body">

    <div class="title title2">
        <h2>REVIEWER LOGIN <span class="small">パスワード変更URL送信完了</span></h2>
    </div>

    <p class="text" style="margin-bottom: 300px;">メールアドレス宛にパスワード変更URLを送信しました。</p>

</div>
