
<h2 class="rank_h2">メールアドレス変更完了</h2>

<div class="login_reviewer">
<p style="text-align:left;font-size:16px;">
メールアドレスの変更が完了しました。
</p>
</div>

<div align="center" style="margin-top:40px;">
<a href="<?php echo $linkCommon->get_accounts_login($parent_area)?>" class="btn_navi">ログイン画面へ</a>
 </div>
