<section id="middle" class="full">
    <div class="title title2">
        <h2>REVIEWER LOGIN <span class="small">レビュアー会員様ログイン</span></h2>
    </div>
    <p class="text">ログインIDとパスワードを入力して、ログインして下さい。 </p>
    
    <div class="formArea">
        <?php echo $form->create(null, array('action' => '')); ?>
<?php
if ($session->check('Message.auth')) {
?>
            <?php echo $session->flash('auth'); ?>
<?php }?>
    
            <table cellspacing="0" cellpadding="0" border="0">
                <tr>
                    <th>ログインID</th>
                    <td>
                        <?php echo $form->text('Reviewer.username', array('size' => 30)); ?>
                    </td>
                    
                </tr>
                <tr>
                    <th>パスワード</th>
                    <td>
                        <?php echo $form->password('Reviewer.password', array('size' => 30)); ?><?php echo $form->error('Reviewer.password'); ?>
                    </td>
                </tr>
            </table>
        
        
            <?php echo $form->checkbox('Reviewer.remember_me')?><label for="login-check" style="font-size:12px;">パスワードを記憶する</label>
    
            <div style="text-align:right">
                <img src="/img/footer_nav_square.png" style="margin-right:3px" /><a href="<?php echo $linkCommon->get_accounts_send_loginid($parent_area);?>">ログインIDを忘れた方はこちら</a><br />
                <img src="/img/footer_nav_square.png" style="margin-right:3px" /><a href="<?php echo $linkCommon->get_accounts_changepassword_send($parent_area);?>">パスワードを忘れた方はこちら</a>
            </div>
    
            <p class="align_c">
                <?php echo $form->submit('ログイン', array('class' => 'redBtn','value'=>'ログイン', 'div' => false)); ?>
            </p>
    
        <?php echo $form->end(); ?>        
        
        <div class="listHeading">レビュアー会員登録をされてない方…</div>

        <p class="text">
        「デリヘル人気口コミランキング」では、自分好みの風俗店探しに役立つサービスが無料でご利用できます。<br />
        他のユーザーのリアルな口コミでお気に入りの風俗店をサーチ！そしてリアルな口コミを書き込み！<br />
        本気で風俗を楽しみたい人のための楽しいホームページです。
        </p>
        <br />
        <p class="text">
        実際に利用した風俗店の感想を口コミし、他のユーザーと共有できます。<br />
        女の子のサービス内容・ルックスなどの項目ごとに5段階評価が可能。あなたが評価した結果が、お店のランキングに反映されます。<br />
        また、レビュアー会員のページにお気に入りのお店・女の子をブックマークし、いつでも簡単に見る事ができます。
        </p>

        <p class="align_c">
            <a href="<?php echo $linkCommon->get_accounts_register($parent_area)?>" class="css_btn_class2">会員登録する</a>
        </p>
    
    </div>

</section>


<?php /*
<h2 class="rank_h2">レビュアー会員・ログイン</h2>

<div class="login_reviewer">

<p style="text-align:center;font-size:16px;">
ログインIDとパスワードを入力して、ログインして下さい。
</p>

<div style="text-align:center;margin-bottom:10px;" class="spot8">
<?php echo $form->create(null, array('action' => '')); ?>
<?php if ($session->check('Message.auth')){ ?>
<?php echo $session->flash('auth'); ?>
<?php }?>
</div>

	<table class="login_table">
    	<tr>
        	<td class="login_td1"><img src="/images/icon_table.jpg" />ログインID</td>
            <td class="login_td2"><?php echo $form->text('Reviewer.username'); ?></td>
        </tr>
    	<tr>
        	<td class="login_td1"><img src="/images/icon_table.jpg" />パスワード</td>
            <td class="login_td2"><?php echo $form->password('Reviewer.password'); ?><?php echo $form->error('Reviewer.password'); ?></td>
        </tr>
    </table>
	<?php echo $form->checkbox('Reviewer.remember_me')?><label for="login-check" style="font-size:12px;">パスワードを記憶する</label>

	<div style="text-align:right">
		<img src="/images/point.png" style="margin-right:3px" /><a href="<?php echo $linkCommon->get_accounts_send_loginid($parent_area);?>">ログインIDを忘れた方はこちら</a><br />
        <img src="/images/point.png" style="margin-right:3px" /><a href="<?php echo $linkCommon->get_accounts_changepassword_send($parent_area);?>">パスワードを忘れた方はこちら</a>
	</div>
</div>


<div align="center" style="margin-top:40px;">
<?php echo $form->submit('ログインする', array('class' => 'submit-login','value'=>'ログインする', 'class' => 'btn_navi')); ?>
<?php echo $form->end(); ?>
</div>

<div style="margin-bottom:20px"/><br /></div>

<h2 class="rank_h2">レビュアー会員登録をされてない方…</h2>

<p class="text">
「デリヘル人気口コミランキング」では、自分好みの風俗店探しに役立つサービスが無料でご利用できます。<br />
他のユーザーのリアルな口コミでお気に入りの風俗店をサーチ！そしてリアルな口コミを書き込み！<br />
本気で風俗を楽しみたい人のための楽しいホームページです。
</p>

<p class="text">
実際に利用した風俗店の感想を口コミし、他のユーザーと共有できます。<br />
女の子のサービス内容・ルックス・スタッフ・お店の対応などの項目ごとに5段階評価が可能。あなたが評価した結果が、お店のランキングに反映されます。<br />
また、レビュアー会員のページにお気に入りのお店・女の子をブックマークし、いつでも簡単に見る事ができます。
</p>

<div align="center" style="margin-top:40px;">
<a href="<?php echo $linkCommon->get_accounts_register($parent_area)?>" class="btn_navi">会員登録する</a>
</div>
*/ ?>
