<div class="body">

    <div class="title title2">
        <h2>REVIEWER REGISTER <span class="small">レビュアー会員新規登録</span></h2>
    </div>

    <p class="text" style="margin-bottom: 300px;">メールアドレス宛にレビュアー登録URLを送信しました。</p>

</div>
