	<div style="text-align:center;margin-bottom:20px;">
		<p><span class="logoarea"><?php echo $parent_area['LargeArea']['name']?></span></p><br />
		<img src="/images/s/18k.png" /><br />
		<p style="margin:20px;">
			当サイト内には、<br />
			成人向けコンテンツが含まれます。<br />
			高校生及び18歳未満の方の<br />
			閲覧・ご入場は固くお断りいたします。
		</p><br />
		<div class="enter">
			<a href="<?php echo $linkCommon->get_top($parent_area)?>" class="enter1">ENTER・18歳以上</a>
		</div><br />
		<a href="http://www.yahoo.co.jp/">18歳未満</a><br />
	</div>
