<h3>レビュアー情報一覧</h3>
<style>
table tr th {
	text-align: center;
}
td.align-center {
	text-align: center;
}
td.align-right {
	text-align: right;
}
</style>

<table>
	<tr style='color: #000066; background-color: #AAAAFF'>
		<th>IDs</th>
		<th>投稿者</th>
		<th>コメント</th>
		<th>通知理由</th>
	</tr>
	<?php var_dump($review_reports_data); ?>
	<?php foreach($review_reports_data as $key => $val) { ?>
	<tr style='color: #000099; background-color: #DDDDFF'>
		<td class="align-center">
			bbbbbb
		</td>
		<td class="align-center">
			みその
		</td>
		<td class="align-center">
			aaaaa
		</td>
		<td>
			営利目的の疑い　０件<br />

		</td>
	</tr>
	<?php } ?>
</table>
