<section id="middle" class="two">

    <div class="title_bar">店舗情報編集完了</div> 
    <div id="timeLineArea" class="inner">
		<p>店舗情報の編集が完了しました。</p>

		<div align="center" style="margin-top:40px;">
				<a href="<?php echo $parent_user['LargeArea']['url'] . $parent_user['User']['id']; ?>" target="_blank" class="member_girls_button">確認する</a>
				<a href="<?php echo $linkCommon->get_shops_index() ?>" class="member_girls_button">店舗情報管理に戻る</a>
		</div>
	</div>
</section>

<?php //echo var_dump($shop);?>
<?php //echo var_dump($today_girls);?>
<?php // echo $this->element('sql_dump'); ?>

