
<div style="text-align:left;padding:5px;font-size:medium;background-color:#EFEBE3">
	店舗情報管理
</div>

<div style="text-align:left;padding:3px;background-color:#F4E7D1">
	店舗情報編集完了
</div>
<div style="text-align:left;padding:3px;">
	店舗情報の編集が完了しました。
</div>

<div style="text-align:center;padding:3px;">
<a href="<?php echo $parent_user['LargeArea']['url'] . 'i/' . $parent_user['User']['id'] ?>" target="_blank">確認する</a>
<a href="<?php echo $linkCommon->get_shops_index() ?>">戻る</a>
</div>



<?php //echo var_dump($shop);?>
<?php //echo var_dump($today_girls);?>

