<!doctype php>
<?php require("fukuoka/parts/head.php"); ?>
<body>
<!-- header -->
<header>
	<div class="container">
		<h1>ランキングと口コミで探せるデリヘル情報サイト・在籍女の子一覧</h1>


		<div class="header_form">
        ようこそ <a href="./fukuoka/shop_index.php" target="_blank">一夜妻</a>様　
        	<p class="redBtn barBtn"><a href="entrance.php">ログアウト</a></p>
        </div>
	</div>
</header>
<!-- / header -->
    
    
    <div id="topic_path">
        <a href="shop_top.php">店舗管理・トップページ</a>
        <a href="shop_add.php">女の子登録</a>
    </div>


	<section class="container">

	<h2 class="heading">一夜妻様・女の子管理</h2>

    	<!-- menu -->
		<section id="menu" class="two">
        	<?php include("./fukuoka/parts/menu_shop.php"); ?>
        </section>

		<!-- middle -->
        
        <section id="middle" class="two">
           
            <div id="shop_tabs" class="out">
                <div class="container">
                    <div class="box clearfix">
                        <div class="list">
                            <ul class="clearfix">
                                <li class="redBtn barBtn"><a href="shop_add.php">女の子登録</a></li>
                                <li class="redBtn barBtn"><a href="shop_girls.php">女の子一覧</a></li>
                                <li class="redBtn barBtn"><a href="shop_orders.php">表示順位変更</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
     
        	<div class="title_bar">女の子登録</div> 
        	<div id="timeLineArea" class="inner">
            
            	<div class="new_reviewArea clearfix">
                	
女の子登録

	<form enctype="multipart/form-data" id="GirlAddForm" method="post" action="/girls/add" accept-charset="utf-8"><div style="display:none;"><input type="hidden" name="_method" value="POST" /></div>	<input type="hidden" name="data[Girl][user_id]" value="26" id="GirlUserId" />	<table class="profileedit_table">
    	<tr>
        	<td class="profileedit_td1"><img src="/images/icon_table.jpg" />名前</td>
            <td class="profileedit_td2">
				<input name="data[Girl][name]" type="text" size="60" id="GirlName" />							</td>
        </tr>
    	<tr>
        	<td class="profileedit_td1"><img src="/images/icon_table.jpg" />年齢</td>
            <td class="profileedit_td2">
				<select name="data[Girl][age]" id="GirlAge">
<option value="">－</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
<option value="24">24</option>
<option value="25">25</option>
<option value="26">26</option>
<option value="27">27</option>
<option value="28">28</option>
<option value="29">29</option>
<option value="30">30</option>
<option value="31">31</option>
<option value="32">32</option>
<option value="33">33</option>
<option value="34">34</option>
<option value="35">35</option>
<option value="36">36</option>
<option value="37">37</option>
<option value="38">38</option>
<option value="39">39</option>
<option value="40">40</option>
<option value="41">41</option>
<option value="42">42</option>
<option value="43">43</option>
<option value="44">44</option>
<option value="45">45</option>
<option value="46">46</option>
<option value="47">47</option>
<option value="48">48</option>
<option value="49">49</option>
<option value="50">50</option>
<option value="51">51</option>
<option value="52">52</option>
<option value="53">53</option>
<option value="54">54</option>
<option value="55">55</option>
<option value="56">56</option>
<option value="57">57</option>
<option value="58">58</option>
<option value="59">59</option>
<option value="60">60</option>
<option value="61">61</option>
<option value="62">62</option>
<option value="63">63</option>
<option value="64">64</option>
<option value="65">65</option>
<option value="66">66</option>
<option value="67">67</option>
<option value="68">68</option>
<option value="69">69</option>
<option value="70">70</option>
<option value="71">71</option>
<option value="72">72</option>
<option value="73">73</option>
<option value="74">74</option>
<option value="75">75</option>
<option value="76">76</option>
<option value="77">77</option>
<option value="78">78</option>
<option value="79">79</option>
<option value="80">80</option>
<option value="81">81</option>
<option value="82">82</option>
<option value="83">83</option>
<option value="84">84</option>
<option value="85">85</option>
<option value="86">86</option>
<option value="87">87</option>
<option value="88">88</option>
<option value="89">89</option>
<option value="90">90</option>
<option value="91">91</option>
<option value="92">92</option>
<option value="93">93</option>
<option value="94">94</option>
<option value="95">95</option>
<option value="96">96</option>
<option value="97">97</option>
<option value="98">98</option>
<option value="99">99</option>
</select>歳
							</td>
        </tr>
    	<tr>
        	<td class="profileedit_td1"><img src="/images/icon_table.jpg" />バスト</td>
            <td class="profileedit_td2">
				<select name="data[Girl][bust]" id="GirlBust">
<option value="">－</option>
<option value="70">70</option>
<option value="71">71</option>
<option value="72">72</option>
<option value="73">73</option>
<option value="74">74</option>
<option value="75">75</option>
<option value="76">76</option>
<option value="77">77</option>
<option value="78">78</option>
<option value="79">79</option>
<option value="80">80</option>
<option value="81">81</option>
<option value="82">82</option>
<option value="83">83</option>
<option value="84">84</option>
<option value="85">85</option>
<option value="86">86</option>
<option value="87">87</option>
<option value="88">88</option>
<option value="89">89</option>
<option value="90">90</option>
<option value="91">91</option>
<option value="92">92</option>
<option value="93">93</option>
<option value="94">94</option>
<option value="95">95</option>
<option value="96">96</option>
<option value="97">97</option>
<option value="98">98</option>
<option value="99">99</option>
<option value="100">100</option>
<option value="101">101</option>
<option value="102">102</option>
<option value="103">103</option>
<option value="104">104</option>
<option value="105">105</option>
<option value="106">106</option>
<option value="107">107</option>
<option value="108">108</option>
<option value="109">109</option>
<option value="110">110</option>
<option value="111">111</option>
<option value="112">112</option>
<option value="113">113</option>
<option value="114">114</option>
<option value="115">115</option>
<option value="116">116</option>
<option value="117">117</option>
<option value="118">118</option>
<option value="119">119</option>
<option value="120">120</option>
<option value="121">121</option>
<option value="122">122</option>
<option value="123">123</option>
<option value="124">124</option>
<option value="125">125</option>
<option value="126">126</option>
<option value="127">127</option>
<option value="128">128</option>
<option value="129">129</option>
<option value="130">130</option>
<option value="131">131</option>
<option value="132">132</option>
<option value="133">133</option>
<option value="134">134</option>
<option value="135">135</option>
<option value="136">136</option>
<option value="137">137</option>
<option value="138">138</option>
<option value="139">139</option>
<option value="140">140</option>
<option value="141">141</option>
<option value="142">142</option>
<option value="143">143</option>
<option value="144">144</option>
<option value="145">145</option>
<option value="146">146</option>
<option value="147">147</option>
<option value="148">148</option>
<option value="149">149</option>
<option value="150">150</option>
</select>cm
							</td>
        </tr>
    	<tr>
        	<td class="profileedit_td1"><img src="/images/icon_table.jpg" />カップ</td>
            <td class="profileedit_td2">
				<select name="data[Girl][girls_cup_id]" id="GirlGirlsCupId">
<option value="">－</option>
<option value="1">Aカップ</option>
<option value="2">Bカップ</option>
<option value="3">Cカップ</option>
<option value="4">Dカップ</option>
<option value="5">Eカップ</option>
<option value="6">Fカップ</option>
<option value="7">Gカップ</option>
<option value="8">Hカップ</option>
<option value="9">Iカップ</option>
<option value="10">Jカップ</option>
<option value="11">Kカップ</option>
<option value="12">Lカップ以上</option>
</select>							</td>
        </tr>
    	<tr>
        	<td class="profileedit_td1"><img src="/images/icon_table.jpg" />ウエスト</td>
            <td class="profileedit_td2">
				<select name="data[Girl][waist]" id="GirlWaist">
<option value="">－</option>
<option value="50">50</option>
<option value="51">51</option>
<option value="52">52</option>
<option value="53">53</option>
<option value="54">54</option>
<option value="55">55</option>
<option value="56">56</option>
<option value="57">57</option>
<option value="58">58</option>
<option value="59">59</option>
<option value="60">60</option>
<option value="61">61</option>
<option value="62">62</option>
<option value="63">63</option>
<option value="64">64</option>
<option value="65">65</option>
<option value="66">66</option>
<option value="67">67</option>
<option value="68">68</option>
<option value="69">69</option>
<option value="70">70</option>
<option value="71">71</option>
<option value="72">72</option>
<option value="73">73</option>
<option value="74">74</option>
<option value="75">75</option>
<option value="76">76</option>
<option value="77">77</option>
<option value="78">78</option>
<option value="79">79</option>
<option value="80">80</option>
<option value="81">81</option>
<option value="82">82</option>
<option value="83">83</option>
<option value="84">84</option>
<option value="85">85</option>
<option value="86">86</option>
<option value="87">87</option>
<option value="88">88</option>
<option value="89">89</option>
<option value="90">90</option>
<option value="91">91</option>
<option value="92">92</option>
<option value="93">93</option>
<option value="94">94</option>
<option value="95">95</option>
<option value="96">96</option>
<option value="97">97</option>
<option value="98">98</option>
<option value="99">99</option>
<option value="100">100</option>
<option value="101">101</option>
<option value="102">102</option>
<option value="103">103</option>
<option value="104">104</option>
<option value="105">105</option>
<option value="106">106</option>
<option value="107">107</option>
<option value="108">108</option>
<option value="109">109</option>
<option value="110">110</option>
<option value="111">111</option>
<option value="112">112</option>
<option value="113">113</option>
<option value="114">114</option>
<option value="115">115</option>
<option value="116">116</option>
<option value="117">117</option>
<option value="118">118</option>
<option value="119">119</option>
<option value="120">120</option>
<option value="121">121</option>
<option value="122">122</option>
<option value="123">123</option>
<option value="124">124</option>
<option value="125">125</option>
<option value="126">126</option>
<option value="127">127</option>
<option value="128">128</option>
<option value="129">129</option>
<option value="130">130</option>
<option value="131">131</option>
<option value="132">132</option>
<option value="133">133</option>
<option value="134">134</option>
<option value="135">135</option>
<option value="136">136</option>
<option value="137">137</option>
<option value="138">138</option>
<option value="139">139</option>
<option value="140">140</option>
<option value="141">141</option>
<option value="142">142</option>
<option value="143">143</option>
<option value="144">144</option>
<option value="145">145</option>
<option value="146">146</option>
<option value="147">147</option>
<option value="148">148</option>
<option value="149">149</option>
<option value="150">150</option>
</select>cm
							</td>
        </tr>
    	<tr>
        	<td class="profileedit_td1"><img src="/images/icon_table.jpg" />ヒップ</td>
            <td class="profileedit_td2">
				<select name="data[Girl][hip]" id="GirlHip">
<option value="">－</option>
<option value="70">70</option>
<option value="71">71</option>
<option value="72">72</option>
<option value="73">73</option>
<option value="74">74</option>
<option value="75">75</option>
<option value="76">76</option>
<option value="77">77</option>
<option value="78">78</option>
<option value="79">79</option>
<option value="80">80</option>
<option value="81">81</option>
<option value="82">82</option>
<option value="83">83</option>
<option value="84">84</option>
<option value="85">85</option>
<option value="86">86</option>
<option value="87">87</option>
<option value="88">88</option>
<option value="89">89</option>
<option value="90">90</option>
<option value="91">91</option>
<option value="92">92</option>
<option value="93">93</option>
<option value="94">94</option>
<option value="95">95</option>
<option value="96">96</option>
<option value="97">97</option>
<option value="98">98</option>
<option value="99">99</option>
<option value="100">100</option>
<option value="101">101</option>
<option value="102">102</option>
<option value="103">103</option>
<option value="104">104</option>
<option value="105">105</option>
<option value="106">106</option>
<option value="107">107</option>
<option value="108">108</option>
<option value="109">109</option>
<option value="110">110</option>
<option value="111">111</option>
<option value="112">112</option>
<option value="113">113</option>
<option value="114">114</option>
<option value="115">115</option>
<option value="116">116</option>
<option value="117">117</option>
<option value="118">118</option>
<option value="119">119</option>
<option value="120">120</option>
<option value="121">121</option>
<option value="122">122</option>
<option value="123">123</option>
<option value="124">124</option>
<option value="125">125</option>
<option value="126">126</option>
<option value="127">127</option>
<option value="128">128</option>
<option value="129">129</option>
<option value="130">130</option>
<option value="131">131</option>
<option value="132">132</option>
<option value="133">133</option>
<option value="134">134</option>
<option value="135">135</option>
<option value="136">136</option>
<option value="137">137</option>
<option value="138">138</option>
<option value="139">139</option>
<option value="140">140</option>
<option value="141">141</option>
<option value="142">142</option>
<option value="143">143</option>
<option value="144">144</option>
<option value="145">145</option>
<option value="146">146</option>
<option value="147">147</option>
<option value="148">148</option>
<option value="149">149</option>
<option value="150">150</option>
</select>cm
							</td>
        </tr>
    	<tr>
        	<td class="profileedit_td1"><img src="/images/icon_table.jpg" />身長</td>
            <td class="profileedit_td2">
				<select name="data[Girl][body_height]" id="GirlBodyHeight">
<option value="">－</option>
<option value="130">130</option>
<option value="131">131</option>
<option value="132">132</option>
<option value="133">133</option>
<option value="134">134</option>
<option value="135">135</option>
<option value="136">136</option>
<option value="137">137</option>
<option value="138">138</option>
<option value="139">139</option>
<option value="140">140</option>
<option value="141">141</option>
<option value="142">142</option>
<option value="143">143</option>
<option value="144">144</option>
<option value="145">145</option>
<option value="146">146</option>
<option value="147">147</option>
<option value="148">148</option>
<option value="149">149</option>
<option value="150">150</option>
<option value="151">151</option>
<option value="152">152</option>
<option value="153">153</option>
<option value="154">154</option>
<option value="155">155</option>
<option value="156">156</option>
<option value="157">157</option>
<option value="158">158</option>
<option value="159">159</option>
<option value="160">160</option>
<option value="161">161</option>
<option value="162">162</option>
<option value="163">163</option>
<option value="164">164</option>
<option value="165">165</option>
<option value="166">166</option>
<option value="167">167</option>
<option value="168">168</option>
<option value="169">169</option>
<option value="170">170</option>
<option value="171">171</option>
<option value="172">172</option>
<option value="173">173</option>
<option value="174">174</option>
<option value="175">175</option>
<option value="176">176</option>
<option value="177">177</option>
<option value="178">178</option>
<option value="179">179</option>
<option value="180">180</option>
<option value="181">181</option>
<option value="182">182</option>
<option value="183">183</option>
<option value="184">184</option>
<option value="185">185</option>
<option value="186">186</option>
<option value="187">187</option>
<option value="188">188</option>
<option value="189">189</option>
<option value="190">190</option>
<option value="191">191</option>
<option value="192">192</option>
<option value="193">193</option>
<option value="194">194</option>
<option value="195">195</option>
<option value="196">196</option>
<option value="197">197</option>
<option value="198">198</option>
<option value="199">199</option>
<option value="200">200</option>
</select>cm
							</td>
        </tr>
    </table>

<h3 class="rank_h2">女の子画像のアップロード</h3>

	<table class="girls_table">
    	<tr>
        	<th class="girls_table_th">女の子画像</th>
           <!--  <th class="girls_table_th">女の子画像2枚目</th> -->
        </tr>
    	<tr>
        	<td class="girls_table_td">
				<input type="file" name="data[Girl][image2_1]" id="GirlImage21" />							</td>
            <td class="girls_table_td1">
				<input type="file" name="data[Girl][image2_2]" id="GirlImage22" />							</td>
        </tr>
    	<tr>
            <th class="girls_table_th">女の子画像3枚目</th>
            <th class="girls_table_th1">女の子画像4枚目</th>
        </tr>
    	<tr>
        	<td class="girls_table_td">
				<input type="file" name="data[Girl][image2_3]" id="GirlImage23" />							</td>
            <td class="girls_table_td1">
				<input type="file" name="data[Girl][image2_4]" id="GirlImage24" />							</td>
        </tr>

    </table>



<span class="small spot8" style="font-size:120%">「横幅240px」、「高さ320px」の画像を推奨しております。<br />
拡張子「jpg」「gif」形式の画像のみ、ファイルサイズ「3MB」まで。 </span>


<div align="center" style="margin-top:40px;">
<div class="submit"><input class="btn_navi" type="submit" value="登録する" /></div></div>
</form>
    
<div style="margin-bottom:20px"><br /></div>

            	</div>
                    
        	</div>
    	</section>
        <!-- / middle -->
        
	</section>

    
    <?php require("fukuoka/parts/footer2.php"); ?>
</body>
</php>