<!doctype php>
<?php require("fukuoka/parts/head.php"); ?>
<body>
<!-- header -->
<header>
	<div class="container">
		<h1>ランキングと口コミで探せるデリヘル情報サイト・在籍女の子一覧</h1>


		<div class="header_form">
        ようこそ <a href="./fukuoka/shop_index.php" target="_blank">一夜妻</a>様　
        	<p class="redBtn barBtn"><a href="entrance.php">ログアウト</a></p>
        </div>
	</div>
</header>
<!-- / header -->
    
    
    <div id="topic_path">
        <a href="shop_top.php">店舗管理・トップページ</a>
        <a href="shop_girls.php">女の子管理</a>
    </div>


	<section class="container">

	<h2 class="heading">一夜妻様・女の子管理</h2>

    	<!-- menu -->
		<section id="menu" class="two">
        	<?php include("./fukuoka/parts/menu_shop.php"); ?>
        </section>

		<!-- middle -->
        
        <section id="middle" class="two">
           
<div id="shop_tabs" class="out">
	<div class="container">
		<div class="box clearfix">
           	<div class="list">
				<ul class="clearfix">
					<li class="redBtn barBtn"><a href="shop_add.php">女の子登録</a></li>
					<li class="redBtn barBtn"><a href="shop_girls.php">女の子一覧</a></li>
					<li class="redBtn barBtn"><a href="shop_orders.php">表示順位変更</a></li>
                </ul>
			</div>
        </div>
	</div>
</div>
     
        	<div class="title_bar">女の子一覧</div> 
        	<div id="timeLineArea" class="inner">
            
            	<div class="new_reviewArea clearfix">
                	
女の子一覧


	<table class="girls_table">
    	<tr>
			<td class="girls_table_td">
				<img src="http://img.dhrank.com/common/girl_m.jpg" width="120" height="160" alt="" /><br />
				<a href="http://testarea.dhrank.com/26/girls/344" target="_blank">name:ルミ子(22)</a><br />
				口コミ 0件<br />
				<a href="/girls/edit/344" class="btn_more">編集</a><a href="/girls/delete/344" class="btn_more">削除</a>
			</td>
			<td class="girls_table_td">
				<img src="http://img.dhrank.com/common/girl_m.jpg" width="120" height="160" alt="" /><br />
				<a href="http://testarea.dhrank.com/26/girls/344" target="_blank">name:ルミ子(22)</a><br />
				口コミ 0件<br />
				<a href="/girls/edit/344" class="btn_more">編集</a><a href="/girls/delete/344" class="btn_more">削除</a>
			</td>
			<td class="girls_table_td">
				<img src="http://img.dhrank.com/common/girl_m.jpg" width="120" height="160" alt="" /><br />
				<a href="http://testarea.dhrank.com/26/girls/344" target="_blank">name:ルミ子(22)</a><br />
				口コミ 0件<br />
				<a href="/girls/edit/344" class="btn_more">編集</a><a href="/girls/delete/344" class="btn_more">削除</a>
			</td>
		</tr>
    </table>
    
<div style="margin-bottom:20px"><br /></div>

            	</div>
                    
        	</div>
    	</section>
        <!-- / middle -->
        
	</section>

    
    <?php require("fukuoka/parts/footer2.php"); ?>
</body>
</php>