<h1>性格ランキング</h1><?php

	foreach($character_datas as $key => $val){
		echo '---------------'.'<br />';
		echo 'お店の名前 : ' . $val['shops']['name'] . '<br />';
		echo "女性の名前 : <a href='http://osakam.19800210.com/{$val['girls']['user_id']}/girls/{$val['girls']['id']}'>" . $val['girls']['name'] . '</a><br />';
		echo '性格の点数 : ' . $val['ranking']['avg'] . '<br />';
		echo '---------------'.'<br />';
	}

?>
