<div class="mapArea">
	<ul class="list">
		<li><a href="#"><img src="/img/side_area_01.png" alt="京都エリア" height="42" width="250"></a></li>
		<li><a href="#"><img src="/img/side_area_02.png" alt="兵庫エリア" height="42" width="250"></a></li>
		<li><a href="#"><img src="/img/side_area_03.png" alt="和歌山エリア" height="42" width="250"></a></li>
		<li><a href="#"><img src="/img/side_area_04.png" alt="滋賀エリア" height="42" width="250"></a></li>
		<li><a href="#"><img src="/img/side_area_05.png" alt="奈良エリア" height="42" width="250"></a></li>
	</ul>
</div>
