<div class="mapArea">
	<ul class="list">
		<li><a href="http://ehime.dhrank.com/top"><img src="/img/area/shikoku/ehime.png" alt="愛媛エリア" height="42" width="250"></a></li>
		<li><a href="http://kagawa.dhrank.com/top"><img src="/img/area/shikoku/kagawa.png" alt="香川エリア" height="42" width="250"></a></li>
		<li><a href="http://kochi.dhrank.com/top"><img src="/img/area/shikoku/kochi.png" alt="高知エリア" height="42" width="250"></a></li>
		<li><a href="http://tokushima.dhrank.com/top"><img src="/img/area/shikoku/tokushima.png" alt="徳島エリア" height="42" width="250"></a></li>
	</ul>
</div>
