<div id="frame">
    <div class="pageCounter"><span class="num">25人</span><span>の在籍者がいます。</span><div>
    <div class="girlsArea">
    <div>
        <p class="img"><img src="/img/dummy.jpg"></p>
        <p class="name">在籍の女の子がいない場合</p>
        <p class="whiteBtn btn"><a href="/review/entry_shop">クチコミを書く</a></p>
    </div>
    <div>
        <p class="img"><img src="/img/heavy_review_test_img1.png"></p>
        <p class="name">名前名前名前</p>
        <p class="whiteBtn btn"><a href="/review/entry_girl">クチコミを書く</a></p>
    </div>
    <div>
        <p class="img"><img src="/img/heavy_review_test_img2.png"></p>
        <p class="name">名前名前名前</p>
        <p class="whiteBtn btn"><a href="/review/entry_girl">クチコミを書く</a></p>
    </div>
    <div>
        <p class="img"><img src="/img/heavy_review_test_img3.png"></p>
        <p class="name">名前名前名前</p>
        <p class="whiteBtn btn"><a href="/review/entry_girl">クチコミを書く</a></p>
    </div>
    <p class="clearLine"></p>
    <div>
        <p class="img"><img src="/img/heavy_review_test_img4.png"></p>
        <p class="name">名前名前名前</p>
        <p class="whiteBtn btn"><a href="/review/entry_girl">クチコミを書く</a></p>
    </div>
    <div>
        <p class="img"><img src="/img/heavy_review_test_img5.png"></p>
        <p class="name">名前名前名前</p>
        <p class="whiteBtn btn"><a href="/review/entry_girl">クチコミを書く</a></p>
    </div>
    <div>
        <p class="img"><img src="/img/heavy_review_test_img4.png"></p>
        <p class="name">名前名前名前</p>
        <p class="whiteBtn btn"><a href="/review/entry_girl">クチコミを書く</a></p>
    </div>
    <div>
        <p class="img"><img src="/img/heavy_review_test_img3.png"></p>
        <p class="name">名前名前名前</p>
        <p class="whiteBtn btn"><a href="/review/entry_girl">クチコミを書く</a></p>
    </div>
    <p class="clearLine"></p>
    <div>
        <p class="img"><img src="/img/heavy_review_test_img2.png"></p>
        <p class="name">名前名前名前</p>
        <p class="whiteBtn btn"><a href="/review/entry_girl">クチコミを書く</a></p>
    </div>
    <div>
        <p class="img"><img src="/img/heavy_review_test_img1.png"></p>
        <p class="name">名前名前名前</p>
        <p class="whiteBtn btn"><a href="/review/entry_girl">クチコミを書く</a></p>
    </div>
    <div>
        <p class="img"><img src="/img/heavy_review_test_img2.png"></p>
        <p class="name">名前名前名前</p>
        <p class="whiteBtn btn"><a href="/review/entry_girl">クチコミを書く</a></p>
    </div>
    <div>
        <p class="img"><img src="/img/heavy_review_test_img3.png"></p>
        <p class="name">名前名前名前</p>
        <p class="whiteBtn btn"><a href="/review/entry_girl">クチコミを書く</a></p>
    </div>
    <p class="clearLine"></p>
    <div>
        <p class="img"><img src="/img/heavy_review_test_img4.png"></p>
        <p class="name">名前名前名前</p>
        <p class="whiteBtn btn"><a href="/review/entry_girl">クチコミを書く</a></p>
    </div>
    <div>
        <p class="img"><img src="/img/heavy_review_test_img5.png"></p>
        <p class="name">名前名前名前</p>
        <p class="whiteBtn btn"><a href="/review/entry_girl">クチコミを書く</a></p>
    </div>
    <div>
        <p class="img"><img src="/img/heavy_review_test_img4.png"></p>
        <p class="name">名前名前名前</p>
        <p class="whiteBtn btn"><a href="/review/entry_girl">クチコミを書く</a></p>
    </div>
    <div>
        <p class="img"><img src="/img/heavy_review_test_img3.png"></p>
        <p class="name">名前名前名前</p>
        <p class="whiteBtn btn"><a href="/review/entry_girl">クチコミを書く</a></p>
    </div>
    <p class="clearLine"></p>
    <a id="close_x" class="close" href="#"></a>
</div>