<!-- header -->
<header>
	<div class="container">
		<h1>ランキングと口コミで探せるデリヘル情報サイト・店舗管理トップ</h1>

		<div class="header_form">
        ようこそ <a href="<?php echo $parent_user['LargeArea']['url'] . $parent_user['User']['id']; ?>" target="_blank"><?php echo $parent_user['Shop']['name']; ?></a> 様　
        	<p class="redBtn barBtn"><a href="/users/logout">ログアウト</a></p>
        </div>
	</div>
</header>
