<?php /* タカモトスマホデザイン入れる為に一旦非表示
<?php if(!empty($paginate_url_param)){?>
<?php  $paginator->options(array('url'=> $paginate_url_param)); ?>
<?php }?>

<div style="text-align:center; margin-right:auto; margin-left:auto;">
<?php  if($this->params["controller"] == 'boards' && $this->params["action"] == 's_read'){?>
<a href="<?php echo $linkCommon->get_boards_read($board)?>" data-role="button" data-inline="true">最初から表示</a>
<?php } ?>
<?php if($paginator->hasPrev()) echo $paginator->prev('前を見る', array('data-role' => "button",'data-inline' => "true"))?><?php if($paginator->hasNext()) echo $paginator->next('次を見る', array('data-role' => "button",'data-inline' => "true"))?>
<?php echo $paginator->numbers(array('first' => 1, 'last' => 1, 'modulus' => 2, 'tag' => 'li', 'separator' => ''));  ?>
</div>

*/?>
