<?php // $paginator->options(array('url' => array('business_category_id' => $this->params['business_category_id']))); ?>

<span>
<?php
if($paginator->hasPrev()) {
?>
<img src="/img/left.png" /><?php echo $paginator->prev('前へ'); ?>
<?php
}
?>
<?php echo $paginator->counter(array('format' => '%page%/%pages%')); ?> ページ
<?php
if($paginator->hasNext()) {
?>
<?php echo $paginator->next('次へ'); ?><img src="/img/right.png" />
<?php
}
?>
</span>
<?php //echo $paginator->numbers(array('first' => 1, 'last' => 1, 'modulus' => 2, 'tag' => 'li', 'separator' => ''));?>

