		<div class="box">
			<a href="http://ishikawa.dhrank.com/10501">
				<img src="http://img.dhrank.com/shop/10501/image_recommend.jpg" width="244"  height="72">
			</a>
			<p class="tt">グラマラス金沢 (GLAMOROUS金沢)</p>
			<p class="caption">デリヘル</p>
			<p>
高級店舗の様なハイクオリティなコンパニオンをロープライスで…。 スタイルの良い女の子や心のこもったサービスができる女の子を厳選しておりますので、 皆さんの気持ちをきっと満たしてくれるはずです・・・ 通常料金よりプラス2,000円でホテル代込みコースもご用意させて頂いております。 当店自慢の美女達と心ゆくまで最高のプレイををお楽しみ下さい。
			</p>
		</div>

		<div class="box">
			<a href="http://ishikawa.dhrank.com/12710">
				<img src="http://img.dhrank.com/shop/12710/image_recommend.jpg" width="244"  height="72">
			</a>
			<p class="tt">かなざわ人妻倶楽部</p>
			<p class="caption">デリヘル</p>
			<p>
当店では 『かなざわ人妻倶楽部』だから出来る最高のひとときをお約束致します 一度出会えば離れられない そんな素敵な奥様達と濃厚で濃密な夢のような時間をご堪能ください!!
			</p>
		</div>
