<!-- box -->
		<div class="box">
			<a href="http://shinagawagotanda.dhrank.com/12672">
				<img src="http://img.dhrank.com/banner/recommend/shinagawa/classmate.jpg" width="244">
			</a>
			<p class="tt">クラスメイト</p>
			<p class="caption">デリヘル</p>
			<p>素人美少女との運命の出会いが此処に!!♪♪錦糸町から素人可憐な未経験お姉さま＆お嬢様を最速ご案内!!★絶対美少女宣言！！業界未経験多数在籍の素人ロリ専門イメクラ★可愛いJKコスで貴方の妄想がリアルな現実に・・・。是非お越しくださいませ！！</p>
		</div>
<!-- /box -->
<!-- box -->
		<div class="box">
			<a href="http://shinagawagotanda.dhrank.com/6599">
				<img src="http://img.dhrank.com/shop/6599/image_recommend.jpg" width="244">
			</a>
			<p class="tt">品川しろうさぎ</p>
			<p class="caption">アロマ・エステ・デリヘル</p>
			<p>都会のしがらみの中で疲れた心と体を大人の日本人女性が貴方を癒します。 
オールヌードの女性から包み込むような手で全身をマッサージされ、体の中から疲れが出て行く感覚。そして、溜まったものを出し尽くす開放感。 
大人の女性が貴方の心と体を開放するため、優しく、指圧・アロマ・オイルで全身をマッサージ。 
貴方はすべてをまかせてリラックスして下さい。 
お客様に合わせたマッサージスタイルで、お客様を癒します。

★オールヌード、相互タッチが無料です。 
70分16,000円（サービス価格） </p>
		</div>
<!-- /box -->
