	<div style="border-bottom:2px solid #c03c61;padding-bottom:2px;">
		<h2 class="link_o2">レビュアー登録完了</h2>
	</div>
    
	<section id="account_done">

		<div class="inner">
        
			<div class=" mar_t_05 steps">
				<img src="../../img/s/step3.gif" width="600" height="100" alt="step3　会員情報入力完了">
			</div>
			
			<div class="mar_b_20 post_bg">

				<p id="p1" class="mar_b_30">デリヘル口コミランキングへの登録が完了しました。</p>
							
							
	<p class="btn_pi">
		<a class="css_btn_class2" href="<?php echo $linkCommon->get_accounts_login($parent_area)?>" class="btn_navi">ログイン画面へ</a>
	</p>
    
				</div>
		</div>

	</section>
	
