@charset "UTF-8";

*html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}


/* reset */
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input { margin: 0; padding: 0; }
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th { font-size: 1em; font-weight: normal; font-style: normal; }

ul,ol { list-style: none; }

fieldset,img { border: none; }

caption,th { text-align: left; }

textarea { font-size: 100%; }

hr { display: none; }

a { text-decoration:none; overflow: hidden; outline: none;}
