@charset "UTF-8";

*html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}

/* reset */
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input { margin: 0; padding: 0; }
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th { font-size: 1em; font-weight: normal; font-style: normal; }
ul,ol { list-style: none; }
fieldset,img { border: none; }
caption,th { text-align: left; }
textarea { font-size: 100%; }
hr { display: none; }
a { text-decoration:none; overflow: hidden; outline: none;}


body			{ color:#888; font-family:"Lucida Grande", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック",  "Lucida Sans Unicode", Arial, Verdana, sans-serif;}
body			{ font-size: 12px; line-height: 1.6em;}
body 			{ background: url(../top-images/bg.gif) repeat-y center #e1dfe2;}

/* common */
.wrap					{ width: 960px; margin:auto; overflow:hidden; position: relative;}
.clear					{ width: 100%; overflow:hidden;}
a						{ color: #888;}
a:hover					{ color: #e40076;}

header 					{ width: 981px; margin: auto; overflow: hidden;}
header 					{ background: url(../top-images/bg_header.gif); color: #e6d4be; height: 30px; padding-bottom: 2px; padding-left: 41px;}
header h1 				{ background: url(../top-images/header_logo.gif) no-repeat left; padding-left: 50px; line-height: 23px; padding-top: 5px;}

footer 					{ width: 940px; padding: 10px 0px 60px 0px; background: #434343; margin: auto; overflow: hidden;}
footer ul 				{ margin: auto; overflow: hidden; width: 849px; font-size: 0; line-height: 0; text-indent: -9999px;}
footer li a 			{ height: 90px; display: block; float: left;}
footer li.b01 a 		{ background: url(../top-images/ft01.gif); width: 194px;}
footer li.b02 a 		{ background: url(../top-images/ft02.gif); width: 202px; margin-left: 20px;}
footer li.b03 a 		{ background: url(../top-images/ft03.gif); width: 199px; margin-left: 20px;}
footer li.b04 a 		{ background: url(../top-images/ft04.gif); width: 194px; margin-left: 20px;}


section 				{ width: 940px; margin: auto; overflow: hidden;}

h2 						{ background: url(../top-images/h2.gif); width: 938px; height: 31px; margin: auto; font-size: 0; line-height: 0; text-indent: -9999px; margin-bottom: 17px;}

#area 					{ border-bottom: 1px solid #CCC; padding: 18px 41px 40px 41px; overflow: hidden;}
#area .map 				{ width: 520px; float: left;}
#area .map area 		{ border: 0; outline: 0;}
#area .map h3,
#area .map ul 			{ font-size: 0; line-height: 0; text-indent: -9999px;}

#area .area 			{ width: 400px; border: 1px solid #E5E5E5; float: right; margin-top: 10px;}
#area .area h3 			{ padding: 5px 15px; background: #eeebdd; border-bottom: 1px solid #E5E5E5;}
#area .area dl 			{ width: 360px; margin: auto; padding: 15px 0 20px 0;}
#area .area dt a		{ background: #ff2468; border-radius: 3px; width: 100px; line-height: 35px; color: #FFF; text-align: center; display: inline-block;}
#area .area dd 			{ padding-left: 120px; margin-top: -32px; min-height: 35px;}
#area .area dd a 		{ margin-right: 12px;}

#link 					{ padding: 40px 41px 40px 41px;}
#link ul 				{ background: url(../top-images/link_bg.gif) bottom no-repeat; padding-bottom: 27px; overflow: hidden; font-size: 0; line-height: 0;text-indent: -9999px;}
#link ul li a			{ width: 175px; height: 175px; float: left; display: block;}
#link ul li.b01 a 		{ background: url(../top-images/link01.gif); margin-bottom: 15px;}
#link ul li.b02 a 		{ background: url(../top-images/link02.gif); margin-left: 16px; margin-bottom: 15px;}
#link ul li.b03 		{ background: url(../top-images/link03.gif); width: 365px; height: 175px; font-size: 0;line-height: 0;text-indent: -9999px; float: left; margin-left: 16px; margin-bottom: 15px;}
#link ul li.b04 a 		{ background: url(../top-images/link04.gif); margin-left: 16px; margin-bottom: 15px;}
#link ul li.b05 a 		{ background: url(../top-images/link05.gif);}
#link ul li.b06 a 		{ background: url(../top-images/link06.gif); margin-left: 16px;}
#link ul li.b07 		{ background: url(../top-images/link07.gif); width: 365px; height: 175px; font-size: 0;line-height: 0;text-indent: -9999px; float: left; margin-left: 16px;}
#link ul li.b08 a 		{ background: url(../top-images/link08.gif); margin-left: 16px;}
#link ul li a:hover 	{ background-position: 0 -175px;}