 @charset "UTF-8";
/* CSS Document */

section h1,
dt {
	background-color: #ffffff;
	border-top: solid 1px #c3bbaa;
	padding: 10px 15px;
	display: block;
	font-size:140%;
	line-height:110%;
	text-decoration: none;
    margin-bottom: -3px;
    cursor: pointer;
    position: relative;
}
section h1:before,
dt:before {
  display: block;
  content: "";
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 50%;
  right: 15px;
  width: 10px;
  height: 10px;
  margin-top: -8px;
  background: #e2cfa5;
}
 
section h1:after,
dt:after {
  display: block;
  content: "";
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 50%;
  right: 15px;
  width: 10px;
  height: 10px;
  margin-top: -13px;
  background: #ffffff;
}
 
section h1.active:before,
dt.active:before {
  margin-top: -2px;
}
 
section h1.active:after,
dt.active:after {
  margin-top: 3px;
}
 
 
 section h2,
dt {
	display: block;
	font-size:100%;
	text-decoration: none;
    margin-bottom: 1px;
    cursor: pointer;
    position: relative;
}
section h2:before,
dt:before {
  display: block;
  content: "";
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 50%;
  right: 15px;
  width: 10px;
  height: 10px;
  margin-top: -8px;
  background: #e2cfa5;
}
 
section h2:after,
dt:after {
  display: block;
  content: "";
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 50%;
  right: 15px;
  width: 10px;
  height: 10px;
  margin-top: -13px;
  background: #fff;
}
 
section h2.active:before,
dt.active:before {
  margin-top: -2px;
}
 
section h2.active:after,
dt.active:after {
  margin-top: 3px;
}


section li,
dd {
    background-color: #FFFFFF;
    border-bottom: solid 1px #D6D6D6;
    padding: 8px 0 8px 24px;
	font-size:14px;
	font-weight:bold;
}
 
section li a {
    position: relative;
    display: block;
	text-decoration:none;
}
 
section li a:before{
  display: block;
  content: "";
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 50%;
  right: 17px;
  width: 10px;
  height: 10px;
  margin-top: -5px;
  background: #f0e8d6;
}
 
section li a:after{
  display: block;
  content: "";
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 50%;
  right: 22px;
  width: 10px;
  height: 10px;
  margin-top: -5px;
  background: #FFFFFF;
}

#comment {
	color:#454546;
	padding:5px;
	text-align:center;
	border-bottom:1px solid #ccc;
	margin-bottom:5px;
}
