@charset "utf-8";
/* CSS Document */

*{
margin: 0;
padding: 0;
}
html,body{
font-size: 90%;
line-height: 1.4;
font-family: "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Verdana, "ＭＳ Ｐゴシック", "MS PGothic", Arial, sans-serif;
/* font-family: ArialMT, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", メイリオ, sans-serif;  */
width: 100%;
 	-webkit-text-size-adjust: none; /* フォントサイズ自動調整 */
}
img{
vertical-align: bottom;
border: none;
}
.ui-btn-text{
white-space: normal;
}
a{ color: #333333;}
li{ list-style:none;}
/*点滅処理*/
@-webkit-keyframes pulse {
 from { opacity: 1.0;}
 to { opacity: 0.5;}
}
.blinking{
-webkit-animation-name: pulse;/* 実行する名前 */
-webkit-animation-duration: 1s;/* 0.3秒かけて実行 */
-webkit-animation-iteration-count:infinite;/* 何回実行するか。infiniteで無限 */
-webkit-animation-timing-function:ease-in-out;/* イーズインアウト */
-webkit-animation-direction: alternate;/* alternateにするとアニメーションが反復 */
-webkit-animation-delay: 0s; /* 実行までの待ち時間 */
}

/*ページTOPボタン*/
#return_top{
background-image: linear-gradient(bottom, rgb(232,232,232) 0%, rgb(255,255,255) 100%);
background-image: -o-linear-gradient(bottom, rgb(232,232,232) 0%, rgb(255,255,255) 100%);
background-image: -moz-linear-gradient(bottom, rgb(232,232,232) 0%, rgb(255,255,255) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(232,232,232) 0%, rgb(255,255,255) 100%);
background-image: -ms-linear-gradient(bottom, rgb(232,232,232) 0%, rgb(255,255,255) 100%);
background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(232,232,232)),
	color-stop(1, rgb(255,255,255))
);
display: block;
width: 65%;
border:1px solid #CCC;
margin: 0 auto 15px auto;
box-sizing: border-box;
box-shadow: 0 0 3px #666666;
border-radius: 15px;
padding: 3px 5px;
text-align: center;
color: #333333;
text-decoration: none;
text-shadow: 1px 1px 0 #FFFFFF;
}
#return_top span{
padding: 2px 0 2px 2px;
line-height: 2;
}


.indent{
text-indent: -1em;
margin-left: 1em;
}

/*オレンジボタン*/
.btn_or{
background-color: #E9E1AC;
background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, white), color-stop(1, #e0dace) );
border: 1px solid #c6c0b0;
text-align: center;
text-shadow: 0 2px 0 #FFFFFF;
width:80%;
border-radius:4px;
margin:20px auto 0 auto;
}

.btn_or a{
color: #333333;
padding: 10px 0;
display:block;
text-decoration: none;
box-sizing: border-box;
}


.btn_gr{
text-align: center;
text-shadow: 0 2px 0 #FFFFFF;
width:80%;
margin:15px auto 0 auto;
}

.btn_gr a{
	border-radius:4px;
	border: solid 1px #d8d3c8;
	background-image: -webkit-linear-gradient(bottom, #e6e6e6, #fff);
	background-image: -moz-linear-gradient(bottom, #e6e6e6, #fff);
	background-image: -o-linear-gradient(bottom, #e6e6e6, #fff);
	background-image: linear-gradient(to top, #e6e6e6, #fff);
	border: 1px solid #ccc;
color: #333333;
padding: 10px 0;
display:block;
text-decoration: none;
box-sizing: border-box;
}



.btn_beige{
text-align: center;
text-shadow: 0 2px 0 #FFFFFF;
width:80%;
margin:15px auto 0 auto;
}

.btn_beige a{
	border-radius:4px;
	border: solid 1px #ccc6b6;
	background-image: -webkit-linear-gradient(bottom, #e8e2d6, #fff);
	background-image: -moz-linear-gradient(bottom, #e8e2d6, #fff);
	background-image: -o-linear-gradient(bottom, #e8e2d6, #fff);
	background-image: linear-gradient(to top, #e8e2d6, #fff);
	border: 1px solid #ccc;
color: #333333;
padding: 10px 0;
display:block;
text-decoration: none;
box-sizing: border-box;
}




.btn_or a span{
background:url(../../img/s/icon2.png) no-repeat left center;
-webkit-background-size: 12px 12px;
padding-left:18px;
}
.btn_left{
	background: #d95376;
	border-bottom: 1px solid #fff;
	text-align: left;
	padding: 0 2%;
}
.btn_left:last-child{
	border-bottom: none;
}
.btn_left a {
	color: #fff;
	padding: 10px 0;
	display:block;
	text-decoration: none;
	box-sizing: border-box;
}

/* ピンクボタン */
.btn_pi {
	text-align: center;
	margin:15px auto;
	width: 90%;
}

.btn_pi a{
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-color: #fef9fe;
	-webkit-box-shadow: inset 0 2px 3px rgba(255,255,255,.75), inset 0 0 5px rgba(255,255,255,.2);
	-moz-box-shadow: inset 0 2px 3px rgba(255,255,255,.75), inset 0 0 5px rgba(255,255,255,.2);
	box-shadow: inset 0 2px 3px rgba(255,255,255,.75), inset 0 0 5px rgba(255,255,255,.2);
	border: solid 1px #dd979f;
	background-image: -webkit-linear-gradient(bottom, #f65769, #fe939b 99%);
	background-image: -moz-linear-gradient(bottom, #f65769, #fe939b 99%);
	background-image: -o-linear-gradient(bottom, #f65769, #fe939b 99%);
	background-image: linear-gradient(to top, #f65769, #fe939b 99%);
	
	color: #fff;
	font-size: 120%;
	padding: 8px 0;
	display:block;
	text-decoration: none;
	box-sizing: border-box;
	font-weight: normal;
}


.btn_pi2 {
	text-align: center;
	margin:3px auto;
}

.btn_pi2 a{
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #fef9fe;
	-webkit-box-shadow: inset 0 2px 3px rgba(255,255,255,.75), inset 0 0 5px rgba(255,255,255,.2);
	-moz-box-shadow: inset 0 2px 3px rgba(255,255,255,.75), inset 0 0 5px rgba(255,255,255,.2);
	box-shadow: inset 0 2px 3px rgba(255,255,255,.75), inset 0 0 5px rgba(255,255,255,.2);
	border: solid 1px #dd979f;
	background-image: -webkit-linear-gradient(bottom, #f65769, #fe939b 99%);
	background-image: -moz-linear-gradient(bottom, #f65769, #fe939b 99%);
	background-image: -o-linear-gradient(bottom, #f65769, #fe939b 99%);
	background-image: linear-gradient(to top, #f65769, #fe939b 99%);
	color: #fff;
	padding: 2px 0;
	display:block;
	text-decoration: none;
	box-sizing: border-box;
	font-weight: normal;
}

.btn_pi3 {
	text-align: center;
	margin:3px auto;
	width:96%;

}

.btn_pi3 a{
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #af2d5b;
	border: solid 1px #dd979f;
	color: #fff;
	padding:5% 0;
	display:block;
	text-decoration: none;
	box-sizing: border-box;
	font-weight: normal;
}



/* 薄いオレンジ */
.btn_org {
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-color: #fce3c4;
	-webkit-box-shadow: inset 0 0 5px rgba(255,255,255,.2);
	-moz-box-shadow: inset 0 0 5px rgba(255,255,255,.2);
	box-shadow: inset 0 0 5px rgba(255,255,255,.2);
	border: solid 1px #f3c486;
	background-image: -webkit-linear-gradient(bottom, #fdd6a5, #fce3c4);
	background-image: -moz-linear-gradient(bottom, #fdd6a5, #fce3c4);
	background-image: -o-linear-gradient(bottom, #fdd6a5, #fce3c4);
	background-image: linear-gradient(to top, #fdd6a5, #fce3c4);
	color: #ec8500;
	text-align: center;
	margin:15px auto;
	width: 90%;
}

.btn_org a{
	color: #ec8500;
	font-size: 120%;
	padding: 8px 0;
	display:block;
	text-decoration: none;
	box-sizing: border-box;
	font-weight: normal;
}

/*灰色ボタン*/
.btn_gray{
background-color: #FFF;
background: -webkit-gradient(linear, left bottom, left top, color-stop(0.48,#F4F3F2), color-stop(0.48,#FCFCFA));
border: 1px solid #CCCCCC;
text-align: center;
text-shadow: 0 1px 0 #FFFFFF;
width:40%;
border-radius:4px;
margin-bottom:30px;
}


.btn_gray a{
padding: 6px 0;_
	padding-left:18px;
text-decoration: none;
color: #333333;	
box-sizing: border-box;
display:block;
}

.btn_gray a span{
	background:url(../../img/s/icon2.png) no-repeat left center;-webkit-background-size: 12px 12px;
	padding-left:18px;
}


/*総合トップボタン*/
.btn_sitetop{
background-color: #FFF;
background:-webkit-gradient(linear, left bottom, left top, color-stop(0.48,#F4F3F2), color-stop(0.48,#FCFCFA));
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
border: 3px double #E6E6E6;
text-shadow: 0 1px 0 #FFFFFF;
width:70%;
border-radius:10px;
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
margin:0 auto 15px auto;
}


.btn_sitetop a{
padding: 10px 0 10px 0;
text-decoration: none;
color: #333333;
text-align: center;
display:block;
box-sizing: border-box;
}

.btn_sitetop a span{
padding: 10px 0 10px 15px;
	background:url(../../img/s/icon2.png) no-repeat left center;-webkit-background-size: 12px 12px;
}
/*ポップアップダイアログ処理*/
#main_container_dialog{
border: 10px solid #333333;
}


/*==========================================*/
/*==コンテンツ==*/
/*==========================================*/
.contents_box{
width: 95%;
margin-left: auto;
margin-right: auto;
}
#shop_name {
	padding: 3% 2% 0;
	font-weight: bold;
	color: #c93f60;
	font-size: 120%;
}
#shop_tt {
	padding: 5%;
	background-color: #f6f4e7;
	border: solid 1px #d8d3c8;
	font-size: 100%;
}
#shop_tt p {
	text-align: center !important;
}
#shop_img {
	margin: 3% auto;
}
#shop_img img{
	width:240px;
	height:320px;
	border:1px solid #ccc;padding:5px;
	padding:5px;
}
#shop_form table {
	width: 100%;
	border-spacing: 0;
	border-bottom: 2px solid #ccc;
}
#shop_form table th,#shop_form table td {
	padding: 2%;
}
#shop_form table th {
	text-align: left;
	border-top: 1px solid #ccc;
	width: 30%;
	padding: 2%;
	background-color:#efefef;
	font-size:90%;
}
#shop_form table td {
	text-align: left;
	border-top: 1px solid #ccc;
	padding: 2%;
	font-size:80%;
}
.gray_tt {
	text-align: left;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background-color: #f3f3f3;
	font-weight: bold;
}

#shop_form .txt {
	font-size:80%;
}


.label {
	font-weight: bold;
	padding: 2% 2% 1%;
	/*color: #6E4444;*/
	/* background: #faf6e5 url(../img/label_bg.gif) 0 0 repeat-x;*/
	background: #404852;
	color: #fff;
	font-size:90%;
	border-bottom: #a39884 1px solid;
}

.label_3 {
	font-weight: bold;
	padding: 2% 2% 1%;
	/*color: #6E4444;*/
	/* background: #faf6e5 url(../img/label_bg.gif) 0 0 repeat-x;*/
	font-size:90%;
	background: #f3f3f3;
	color: #333;
	border-bottom: #a39884 1px solid;
}

.label_4 {
	font-weight: bold;
	padding: 2% 2% 1%;
	/*color: #6E4444;*/
	/* background: #faf6e5 url(../img/label_bg.gif) 0 0 repeat-x;*/
	background: #f3f3f3;
	color: #333;
	font-size:90%;
	border-bottom: #a39884 1px solid;
}


.label_small {
	font-weight: bold;
	padding: 2% 2%;
	/*color: #6E4444;*/
	/* background: #faf6e5 url(../img/label_bg.gif) 0 0 repeat-x;*/
	background: #404852;
	color: #fff;
	font-size: 80%;
}
.label_small .name {
	float: left;
}
.label_small .number {
	float: right;
}
.topic_list  {
	overflow: hidden;
	width: 100%;
}
.topic_list .list {
	width: 105%;
	margin: 0 auto;
}
.topic_list .col {
	float: left;
	width: 30%;
	margin: 1%;
}
.topic_list .col img {
	width: 100%;
	height: auto;
}



#tab {
	background-color: #f6f4e7;
    border-bottom: 1px solid #8e7676;
	margin: 0 auto;
	padding: 0 2%;
	height: 34px;
}
#tab ul {
	text-align: center;
	list-style: none;
}
#tab li {
	display: inline-block;
	background-color: #fef9fe;
	background-image: -webkit-linear-gradient(bottom, #eaeaea, #fff);
	background-image: -moz-linear-gradient(bottom, #eaeaea, #fff);
	background-image: -o-linear-gradient(bottom, #eaeaea, #fff);
	background-image: linear-gradient(to top, #eaeaea, #fff);
	border-left: solid 1px #ccc;
	border-right: solid 1px #ccc;
	border-top: solid 1px #ccc;
	width: 18%;
	text-align:center;
	font-size:60% !important;
	border-top-left-radius: 6px;  /* 左上 */
	border-top-right-radius: 6px; /* 右上 */
   /* ▼Safari,Chrome */
   -webkit-border-top-left-radius: 6px;  /* 左上 */
   -webkit-border-top-right-radius: 6px; /* 右上 */
   /* ▼Firefox */
   -moz-border-radius-topleft: 6px;  /* 左上 */
   -moz-border-radius-topright: 6px; /* 右上 */
}
#tab li a {
	display: block;
	text-decoration: none;
	width: 100%;
	height: 33px;
	line-height: 33px;
	text-align: center;
}
#tab li:last-child {
	margin-right: 0;
}
#tab li:hover{
	color:#ff4fae;
	background:  #efefef;
}

#tab li.select {
	border-left: solid 1px #8e7676;
	border-right: solid 1px #8e7676;
	border-top: solid 1px #8e7676;
	height: 34px;
}


.girls_list {
	padding: 3% 2% 2%;
	width: auto;
	overflow: hidden;
	border-top: #eee 1px solid;
}
.girls_list .inner {
	width: 120%;
}
.girls_list .col {
	float: left;
	width: 19%;
	text-align: center;
	margin-right: 1%;
	margin-bottom: 2%;
	padding-right: 1%;
	border-right: #eee 1px solid;
}
.girls_list .col:last-child {
	border-right: none;
}

.girls_list .tt {
	padding: 2%;
	font-size: 80%;
	border-bottom: #eee 1px dotted;
}
.girls_list .tt a {
	text-decoration: none;
	color: #d95376;
}
.girls_list .caption {
	font-size: 60%;
	padding: 3% 2%;
	line-height: 110%;
}
.girls_list .kuchikomi {
	text-align: left;
	color: #881f30;
	font-size: 56%;
	padding: 2% 2% 3% 13px;
	margin: 0 0 0 3px;
	line-height: 130%;
}
.girls_list .kuchikomi span {
	color: #f4c017;
}

.btm_btns {
	border-top: #eee 1px solid;
}

/* タブ内のグラデ */
.tab_top_grade {
	background-color: #fef9fe;
	background-image: -webkit-linear-gradient(top, #ececec, #fff 12%);
	background-image: -moz-linear-gradient(top, #ececec, #fff 12%);
	background-image: -o-linear-gradient(top, #ececec, #fff 12%);
	background-image: linear-gradient(to bottom, #ececec, #fff 12%);
}
/* 店舗情報*/
.shop_info {
	padding: 3%;
	background-color: #f6f4e7;
	border-top: solid 1px #d8d3c8;
	color: #848486;
}
.font_normal {
	font-weight: normal;
}
.shop_icon {
	margin: 5px 0 0;
}
.shop_icon li {
	float: left;
	margin: 0 5px 5px 0;
	font-size: 60%;
	background-color: #f2dddc;
	border: #e5b5b5 1px solid;
	color: #ab2e4c;
	padding: 1px 5px 0;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.shop_icon li:last-child {
	margin: 0 0 5px 0;
}
.shop_icon li.coupon {
	background-color: #f79647;
	border: #f5882d 1px solid;
	color: #fff;
}
.shop_icon li.kodawari {
	background-color: #6fa1dc;
	border: #3d82c5 1px solid;
	color: #fff;
}
.shop_icon li.mensok {
	background-color: #dcebf0;
	border: #2d6ea4 1px solid;
	color: #2d6ea4;
}
.shop_icon li.pictureok {
	background-color: #f9f2df;
	border: #ebc66e 1px solid;
	color: #ecc46f;
}

.btns_box {
	margin: 10px auto 0;
}
.shop_info .btn_pi,
.btns_box .btn_pi {
	width: 100%;
}
.coupon_mark {
	margin: 0 5px 5px 0;
	font-size: 60%;
	padding: 1px 5px 0;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-color: #f79647;
	border: #f5882d 1px solid;
	color: #fff;
}

.photo_number {
	width:80%;
	margin:0 auto;
	text-align:center;
	margin-top:10px;
}

.photo_number2 {
	width:95%;
	margin:0 auto;
	text-align:center;
	margin-top:10px;
}


.btns {
	border: solid 1px #d8d3c8;
	background-image: -webkit-linear-gradient(bottom, #e6e6e6, #fff);
	background-image: -moz-linear-gradient(bottom, #e6e6e6, #fff);
	background-image: -o-linear-gradient(bottom, #e6e6e6, #fff);
	background-image: linear-gradient(to top, #e6e6e6, #fff);
	border: 1px solid #ccc;
	text-align: center;
	text-shadow: 0 2px 0 #FFFFFF;
	border-radius:4px;
	width: 48%;
}

.btns a{
	color: #333333;
	padding: 8px 0;
	display:block;
	text-decoration: none;
	box-sizing: border-box;
}

.btns2 {
	border: solid 1px #d8d3c8;
	background-image: -webkit-linear-gradient(bottom, #e6e6e6, #fff);
	background-image: -moz-linear-gradient(bottom, #e6e6e6, #fff);
	background-image: -o-linear-gradient(bottom, #e6e6e6, #fff);
	background-image: linear-gradient(to top, #e6e6e6, #fff);
	text-align: center;
	text-shadow: 0 2px 0 #FFFFFF;
	border-radius:4px;
	width: 55px;
	display: inline-block;
	color: #333333;
	text-decoration:none;
	font-weight:bold;
	font-size:60%;
	margin-left:1%;
	margin-right:1%;
	padding: 8px;
}

.btns2_push {
	border: solid 1px #e58994;
	background-color:#ffc5c4;
	box-shadow:rgba(193, 95, 110, 0.51) 3px 3px 3px 1px inset;
	-webkit-box-shadow:rgba(193, 95, 110, 0.51) 3px 3px 3px 1px inset;
	-moz-box-shadow:rgba(193, 95, 110, 0.51) 3px 3px 3px 1px inset;					
	text-align: center;
	border-radius:4px;
	width: 55px;
	display: inline-block;
	color: #333333;
	text-decoration:none;
	font-weight:bold;
	font-size:60%;
	margin-left:1%;
	margin-right:1%;
	padding: 8px;
}



.btns3 {
	border: solid 1px #5ea595;
background: #89bfb2; /* Old browsers */
background: -moz-linear-gradient(top,  #89bfb2 0%, #89bfb2 50%, #519f91 51%, #519f91 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#89bfb2), color-stop(50%,#89bfb2), color-stop(51%,#519f91), color-stop(100%,#519f91)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #89bfb2 0%,#89bfb2 50%,#519f91 51%,#519f91 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #89bfb2 0%,#89bfb2 50%,#519f91 51%,#519f91 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #89bfb2 0%,#89bfb2 50%,#519f91 51%,#519f91 100%); /* IE10+ */
background: linear-gradient(to bottom,  #89bfb2 0%,#89bfb2 50%,#519f91 51%,#519f91 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#89bfb2', endColorstr='#519f91',GradientType=0 ); /* IE6-9 */
	border: 1px solid #ccc;
	text-align: center;
	border-radius:4px;
	width: 58%;
}

.btns3 a{
	color: #ffffff;
	padding: 8px 0;
	display:block;
	font-weight:bold;
	text-decoration: none;
	box-sizing: border-box;
}


.btns4 {
	border: solid 1px #cec8ba;
	background-image: -webkit-linear-gradient(bottom, #e9e3d7, #fff);
	background-image: -moz-linear-gradient(bottom, #e9e3d7, #fff);
	background-image: -o-linear-gradient(bottom, #e9e3d7, #fff);
	background-image: linear-gradient(to top, #e9e3d7, #fff);
	border: 1px solid #ccc;
	text-align: center;
	text-shadow: 0 2px 0 #FFFFFF;
	border-radius:4px;
	width: 38%;
}

.btns4 a{
	color: #333333;
	padding: 8px 0;
	display:block;
	text-decoration: none;
	box-sizing: border-box;
}



.shop_main {
	background-color: #fef9fe;
	background-image: -webkit-linear-gradient(top, #ececec, #fff 12%);
	background-image: -moz-linear-gradient(top, #ececec, #fff 12%);
	background-image: -o-linear-gradient(top, #ececec, #fff 12%);
	background-image: linear-gradient(to bottom, #ececec, #fff 12%);
	padding: 3%;
}
.shop_main .shop_img img {
	width: 100%;
}
.shop_main .main_copy {
	color: #bd375c;
	padding: 2%;
}
.shop_main .sub_copy {
	padding: 2% 3%;
}

.osusume_girl {
	margin: 0 auto;
	text-align: center;
	padding:2px 0;
}
.osusume_girl img {
	width:90px;
	margin:2px;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}

.osusume_girl div {
    float: left;
	width:94px!important;
	margin-right:8px;
}



.coupon_exp {
	background-color: #eee;
	margin: 0 auto;
	padding: 2%;
	border-bottom: #ccc 1px solid;
}
.coupon_exp ul {
	text-align: center;
}
.coupon_exp ul li {
	display: inline-block;
	font-size: 60%;
	color: #666;
	margin-right: 5px;
}
.coupon_exp ul li img {
	margin-right: 3px;
	vertical-align: middle;
}
.category_link {
	background-color: #ab9c85;
	background-image: -webkit-linear-gradient(bottom, #ffe3e4, #fffefe);
	background-image: -moz-linear-gradient(bottom, #ffe3e4, #fffefe);
	background-image: -o-linear-gradient(bottom, #ffe3e4, #fffefe);
	background-image: linear-gradient(to top, #ffe3e4, #fffefe);
	border-bottom: #ccc 1px solid;
	padding: 3%;
}
.category_link a {
	display: block;
	text-decoration: none;
	color: #666;
}
.category_link .category_inner {
	padding-right: 5%;
	background: url(../../img/s/coupon_link_arrow.png) 100% 50% no-repeat;
	background-size: 16px 22px;
}
.category_link .img {
	float: left;
	width: 40%;
	height: auto;
}
.category_link .img img {
	width: 100%;
	height: auto;
}
.category_link .summary {
	float: right;
	width: 50%;
}

.coupon_link {
	background-color: #ab9c85;
	background-image: -webkit-linear-gradient(bottom, #ffe3e4, #fffefe);
	background-image: -moz-linear-gradient(bottom, #ffe3e4, #fffefe);
	background-image: -o-linear-gradient(bottom, #ffe3e4, #fffefe);
	background-image: linear-gradient(to top, #ffe3e4, #fffefe);
	border-bottom: #ccc 1px solid;
	padding: 3%;
}
.coupon_link a {
	display: block;
	text-decoration: none;
	color: #666;
}
.coupon_link img {
	width:93%;
}
.coupon_link .copy {
	font-size: 90%!important;
	color:#e75d7e;
}
.coupon_link .coupon_inner {
	padding-right: 5%;
/*	background: url(../../img/s/coupon_link_arrow.png) 100% 50% no-repeat;
	background-size: 16px 22px; */
}
.coupon_link .otoku {
	background-color: #ff8a90;
	color: #fff;
	padding: 4px 5px 3px;
	font-size: 70%;
}
.coupon_link .price {
	font-size: 150%;
	color: #f54745;
	margin-right: 2%;
	font-weight: bold;
}
.coupon_link .img {
	width:320px;
}

.coupon_link .icon {
	width: 60px;
}
.coupon_link .detail_box {
	margin: 10px 0 0;
}
.coupon_link .detail_box p {
	font-size: 70%;
}
#shop_category_list .detail_box {
	clear: both;
	margin-top: 5px;
}
#shop_category_list .shop_title {
	font-size: 90%;
}
#shop_category_list .txt {
	font-size: 80%;
}
#shop_category_list .detail_box_table {
	float: left;
}
#shop_category_list table {
	font-size: 80%;
}
#shop_category_list table th {
	text-align: left;
	font-weight: normal;
	color: #666;
}
.detail_box_table_number th {
	color: #25a3ec !important;
}
.detail_box_table_review th {
	color: #ff9e34 !important;
}
#shop_category_list .btn_list {
	float: right;
}
#shop_category_list .btn_list p {
	width: 100%;
	height: auto;
	font-size: 85%;
	margin: 0 0 5px 0;
}
#shop_category_list .btn_list .btn_pi a {
	color: #fff;
}
#shop_category_list .detail_box .option {
	background: #fdf7dd;
	border: 1px solid #cccccc;
	font-size: 75%;
	padding: 2%;
	margin-bottom: 2%;
}
#shop_category_list .detail_box .option img {
	display: inline;
}
#shop_category_list .detail_box .option a {
	display: inline;
}

#owner_comment {
	border-top: #ccc 1px solid;
	margin: 10px 0;
}
.label2 {
	background: url(../../img/s/shadow.gif) 0 100% repeat-x;
	padding: 0 10px 10px 0;
}
.label2_2 {
	border-bottom: #ccc 2px solid;
}
.label2_ttl {
	background: url(../../img/s/tt_icon.gif) 10px 50% no-repeat;
	background-size: 20px 20px;
	padding: 13px 0 10px 35px;
	color: #d46985;
	border-bottom: #eee 1px solid;
}
#owner_comment .round_gray_box {
	margin: 2%;
	padding: 3%;
	border: #dad7c6 1px solid;
	border-radius: 10px;
	background-color: #f6f3e2;
}
#owner_comment .round_gray_box .box_ttl {
	color: #6a2f2b;
	font-size: 110%;
	margin-bottom: 10px;
}
#owner_comment .round_gray_box .com_box_left {
	width: 30%;
	color: #666;
	font-size: 80%;
}
#owner_comment .round_gray_box .com_box_left img {
	width: 90%;
	height: auto;
	margin: 10px 0;
}
#owner_comment .round_gray_box .com_box_right {
	width: 70%;
	color: #666;
	font-size: 90%;
}
#owner_comment .round_gray_box .txt_pi {
	color: #d25b77;
}


.btn_area {
	border-top: #ccc 1px solid;
	padding: 1%;
	background-color:#f6f6f6;
}

.btn_area2 {
	margin: 0;
	padding: 4% 0;
	background-color: #e9e9e7;
	background-image: -webkit-linear-gradient(-45deg, #f1f1f1 25%, transparent 25%, transparent 50%, #f1f1f1 50%, #f1f1f1 75%, transparent 75%, transparent);
	background-image: linear-gradient(-45deg, #f1f1f1 25%, transparent 25%, transparent 50%, #f1f1f1 50%, #f1f1f1 75%, transparent 75%, transparent);
	background-size: 5px 5px;/*数字を大きくすれば太く、小さくすれば細くなります。*/
	text-shadow:1px 1px 2px rgba(0,0,0,.3);
}



#line_btn,#mail_btn {
	/*
	border: solid 1px #d8d3c8;
	background-image: -webkit-linear-gradient(bottom, #e6e6e6, #fff);
	background-image: -moz-linear-gradient(bottom, #e6e6e6, #fff);
	background-image: -o-linear-gradient(bottom, #e6e6e6, #fff);
	background-image: linear-gradient(to top, #e6e6e6, #fff);
	*/
	background-color:#ffffff;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 2px solid #ccc;
	text-align: center;
	text-shadow: 0 2px 0 #FFFFFF;
	border-radius:4px;
	margin:15px auto;
	width: 97%;
}

#line_btn a,#mail_btn a{
	color: #333333;
	padding: 8px 0;
	display:block;
	text-decoration: none;
	box-sizing: border-box;
}
#line_btn a span,#mail_btn a span {
	vertical-align: middle;
	margin-right: 10px;
}
#line_btn a span img,#mail_btn a span img {
	width: 10%;
	height: auto;
}

/*グリーンボタン*/
.btn_green {
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-color: #ab9c85;
	-webkit-box-shadow: inset 0 0 5px rgba(255,255,255,.1);
	-moz-box-shadow: inset 0 0 5px rgba(255,255,255,.1);
	box-shadow: inset 0 0 5px rgba(255,255,255,.1);
	border: solid 1px #9bbd4c;
	background-image: -webkit-linear-gradient(bottom, #80ad14, #9fd209);
	background-image: -moz-linear-gradient(bottom, #80ad14, #9fd209);
	background-image: -o-linear-gradient(bottom, #80ad14, #9fd209);
	background-image: linear-gradient(to top, #80ad14, #9fd209);
	color: #fff;
	text-align: center;
	margin:15px auto 0;
	width: 70%;
}

.btn_green a{
	font-size: 90%;
	color: #fff;
	padding: 3px 0;
	display:block;
	text-decoration: none;
	box-sizing: border-box;
	font-weight: normal;
	-webkit-text-shadow:-1px -1px 1px #679300, 1px 1px 1px #679300;
    text-shadow:-1px -1px 1px #679300, 1px 1px 1px #679300;
}

#newsArea {
	margin: 0 0 20px;
}
#newsArea .news_box {
	border-bottom: #ccc 1px solid;
	padding: 3%;
}
#newsArea .news_box .tt {
	color: #d95376;
	font-weight: bold;
	margin-bottom: 5px;
}
#newsArea .news_box .date {
	font-size: 90%;
	font-weight: normal;
	float: right;
}
#newsArea .news_box .txt {
	font-size: 80%;
}

/* 店舗情報ここまで*/

/* ランキング */
.rank_tt {
	background-color: #eee;
	text-align: center;
	padding: 2%;
	font-weight: normal;
	color: #666;
}

.rank_box {
	padding: 2%;
}

.underline {
	border-bottom: 1px solid #c7c7c7;
}

.rank_box .shop_tt a {
	text-decoration:none;
}

.rank_box .shop_tt span {
	background-color: #fe9b02;
	font-size: 75%;
	color: #fff;
	padding: 1px 5px 0;
	margin-left: 10px;
	border-radius: 4px;
	box-shadow: 1px 1px 1px #999;
	vertical-align: text-top;
}
.rank_box .box_left {
	float: left;
	width: 37%;
	margin-top: 10px;
}
.rank_box .box_left img {
	width: 100%;
	height: 82px;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}

.btn_brown {
	background-color: #fff;
	-webkit-box-shadow: inset 0 0 5px rgba(255,255,255,.15);
	-moz-box-shadow: inset 0 0 5px rgba(255,255,255,.15);
	box-shadow: inset 0 0 5px rgba(255,255,255,.15);
	border: solid 1px #c6a950;
	background-image: -webkit-linear-gradient(bottom, #b99c44, #c2a95d 49%, #d2c089 50%);
	background-image: -moz-linear-gradient(bottom, #b99c44, #c2a95d 49%, #d2c089 50%);
	background-image: -o-linear-gradient(bottom, #b99c44, #c2a95d 49%, #d2c089 50%);
	background-image: linear-gradient(to top, #b99c44, #c2a95d 49%, #d2c089 50%);
	color: #fff;
	text-align: center;
	margin:15px 0 0;
	width: 100%;
	border-radius: 4px;
}

.btn_brown a{
	font-size: 90%;
	color: #fff;
	padding: 10px 0;
	display:block;
	text-decoration: none;
	box-sizing: border-box;
	font-weight: normal;
	-webkit-text-shadow:-1px -1px 1px #aa9355, 1px 1px 1px #aa9355;
    text-shadow:-1px -1px 1px #aa9355, 1px 1px 1px #aa9355;
}

.btn_red {
	background-color: #0b8381;
	border: solid 1px #720719;
	background-image: -webkit-linear-gradient(bottom, #8e1d31, #8b1f2e 50%, #9a374b 50%, #b4727c);
	background-image: -moz-linear-gradient(bottom, #8e1d31, #8b1f2e 50%, #9a374b 50%, #b4727c);
	background-image: -o-linear-gradient(bottom, #8e1d31, #8b1f2e 50%, #9a374b 50%, #b4727c);
	background-image: linear-gradient(to top, #8e1d31, #8b1f2e 50%, #9a374b 50%, #b4727c);
	color: #fff;
	text-align: center;
	margin:7px 0 0;
	width: 100%;
	border-radius: 4px;
}

.btn_red a{
	font-size: 90%;
	color: #fff !important;
	padding: 5px 0;
	display:block;
	text-decoration: none;
	box-sizing: border-box;
	font-weight: normal;
	-webkit-text-shadow:-1px -1px 1px #891c2f, 1px 1px 1px #891c2f;
    text-shadow:-1px -1px 1px #891c2f, 1px 1px 1px #891c2f;
}

.rank_box .box_right {
	float: right;
	width: 60%;
	margin-top: 10px;
}

.rank_box .box_right2 {
	float: right;
	width: 25%;
	margin-top: 10px;
}


.rank_box .box_right .rank_txt {
	background: url(../../img/s/gray_arrow.png) 97% 50% no-repeat;
	background-size: 16px 22px;
	padding-right: 10%;
	line-height: 1.0;
	margin-bottom: 5px;
	overflow:hidden;
	height:41px;
}
.rank_box .box_right .rank_txt a {
	text-decoration: none;
	color: #942538;
	font-size: 80%;
}
.rank_box .box_right ul li {
	float: left;
	font-size: 60%;
	color: #666;
	padding: 2px 0 2px 28px;
	line-height: 1.1;
	margin: 0 0 3px;
	display: inline-block;
	vertical-align: middle;
}
.rank_box .box_right2 ul li {
	float: left;
	font-size: 60%;
	color: #666;
	padding: 2px 0 2px 28px;
	line-height: 1.1;
	margin: 0 0 3px;
	display: inline-block;
	vertical-align: middle;
}



.rank_box .box_right ul li.icon_access {
	background: url(../../img/s/rank_icon02.gif) 0 50% no-repeat;
	background-size: 20px 20px;
	width: 80%;
	padding: 8px 0 8px 28px;
}
.rank_box .box_right ul li.icon_people {
	background: url(../../img/s/rank_icon01.gif) 0 50% no-repeat;
	background-size: 20px 20px;
	width: 30%;
}
.rank_box .box_right ul li.icon_price {
	background: url(../../img/s/rank_icon03.gif) 0 50% no-repeat;
	background-size: 20px 20px;
}
.rank_box .box_right ul li.icon_kuchikomi {
	background: url(../../img/s/rank_icon04.gif) 0 50% no-repeat;
	background-size: 20px 20px;
	width: 30%;
}
.rank_box .box_right ul li.icon_kuchikomi_up {
	background: url(../../img/s/rank_icon04_up.gif) 0 50% no-repeat;
	background-size: 20px 20px;
	width: 30%;
}
.rank_box .box_right2 ul li.icon_kuchikomi_up {
	background: url(../../img/s/rank_icon04_up.gif) 0 50% no-repeat;
	background-size: 20px 20px;
	width: 40%;
}
.rank_box .box_right ul li.icon_time {
	background: url(../../img/s/rank_icon05.gif) 0 50% no-repeat;
	background-size: 20px 20px;
}
.rank_box .box_right ul li.icon_time_up {
	background: url(../../img/s/rank_icon05_up.gif) 0 50% no-repeat;
	background-size: 20px 20px;
	width: 39%;
}

.rank_link {
	padding: 3% 2%;
	border-bottom: #ccc 1px solid;
}
.rank_link a {
	font-size: 130%;
	width: 70%;
	text-decoration: none;
	float: left;
	line-height: 180%;
}
.rank_link .icon_kuchikomi2 {
	font-size: 70%;
	color: #666;
	padding: 5px 0 5px 30px;
	line-height: 1.1;
	margin: 0 0 3px;
	background: url(../../img/s/rank_icon04.gif) 0 50% no-repeat;
	background-size: 25px 25px;
	width: 15%;
}

.links {
	cursor: pointer;
}

.banner_area {
	text-align: center;
	padding: 3%;
}
.banner_area img {
	width: 100%;
	height: auto;
}

/* page_navi */
.page_navi {
	background-color: #f0edde;
	margin: 10px 0 0;
	text-align: center;
	padding: 10px 0;
}
.page_navi p {
	display: inline-block;
	margin: 0 2%;
	width: 28%;
}
.page_navi p a {
	display: block;
	text-decoration: none;
	background: #fff;
	border: #ccc 1px solid;
	box-shadow: 0 1px 2px #999999;
	padding: 3% 7%;
	border-radius: 4px;
}

/* page_navi2 */
.page_navi2 {
	background-color: #eeeeee;
	margin: 10px 0 0;
	text-align: center;
	padding: 10px 0;
}
.page_navi2 p {
	display: inline-block;
	margin: 2% 2%;
	width: 28%;
}
.page_navi2 p a {
	display: block;
	text-decoration: none;
	border-radius:4px;
	border: solid 1px #d8d3c8;
	background-image: -webkit-linear-gradient(bottom, #e6e6e6, #fff);
	background-image: -moz-linear-gradient(bottom, #e6e6e6, #fff);
	background-image: -o-linear-gradient(bottom, #e6e6e6, #fff);
	background-image: linear-gradient(to top, #e6e6e6, #fff);
	border: 1px solid #ccc;
	color: #333333;
	padding: 8% 7%;
	border-radius: 4px;
}

/* ランキングここまで */

/* クーポン詳細 */
#couponDetail {
	padding: 3%;
}
#couponArea {
	background: url(../../img/s/coupon_bg.gif) 0 0;
	padding: 10px;
}
.coupon_box {
	background-color: #ffa0b9;
	padding: 2%;
}
.coupon_box .coupon_tt {
	text-align: center;
	margin-bottom: 10px;
}
.coupon_box .coupon_tt img {
	width: 120px;
	height: auto;
}
.coupon_box .coupon_tt .coupon_num {
	display: inline-block;
	background: url(../../img/s/coupon_num_bg.gif) 1px 1px no-repeat;
	background-size: 24px 24px;
	color: #e6007f;
	width: 25px;
	height: 25px;
	line-height: 26px;
	font-size: 75%;
	font-weight: normal;
}
.c_detail_box {
	background-color: #fff;
	border-radius: 6px;
}
.c_detail_box .detail_tt {
	border-bottom: #f97094 1px dotted;
	padding: 10px;
}
.c_detail_box .detail_tt img {
	width: 40px;
	height: 40px;
}
.c_detail_box .detail_tt p {
	display: inline-block;
	vertical-align: middle;
}
.c_detail_box .detail_txt {
	padding: 2%;
	font-size: 120%;
	color: #cb3234;
}
.c_detail_box .detail_exp {
	border-top: #f8cfda 1px solid;
	background-color: #ffe5ec;
	padding: 4%;
	border-radius: 0 0 6px 6px;
	font-size: 80%;
	color: #666;
}
.coupon_date {
	text-align: center;
	margin: 10px auto 3px;
	font-size: 90%;
}

.coupon_btn {
	padding: 7% 0;
	text-align: center;
}
.coupon_btn .btn_pi {
	font-size: 90%;
}
/* クーポン詳細ここまで */

/* 口コミ投稿画面 */
#postArea {
	padding: 3%;
}
#postArea table {
	width: 95%;
}
#postArea table th,
#postArea table td {
	text-align: left;
	padding: 3% 1%;
/*	border-bottom: #ccc 1px dotted; */
}
#postArea table th {
	width: 35%;
	color: #666;
	background-color:#f3f3f3;
}
#postArea table td {
	width: 55%;
}
#postArea .submitBtn {
	margin: 20px auto 10px;
}
#postArea .txt {
	font-size:90%;
	color:#F99;
}

#postArea .txt2 {
	background-color:#f5f2e9;
	padding:2%;
	margin:1px;
	width:95%;
	border-radius:8px;
}

#postArea .required {
	padding:2px;
	background-color:#ff0000;
	color:#ffffff;
	margin:3px;
	margin-left:2px;
	font-size:60%;
}

#postArea select {
	height:30px;
	border:1px solid #ccc;
	background: #fff; 
	padding:5px;
	border-radius: 8px;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	padding-right:30px;
	text-align:left;
	background: #FFF url(../../img/s/select_arrow.jpg) no-repeat right;
}


/* 口コミ投稿画面ここまで */


/*==========================================*/
/*==ヘッダー==*/
/*==========================================*/

header {
	border-top: 1px solid #e82f73;
	width: 100%;
	padding: 0px 0 10px;
}
header #head_left {
	float: left;
	width: 70%;
}
header #head_left2 {
	float: left;
	width: 70%;
}
header #head_left h1,
header #head_left2 h1 {
	float: left;
	font-size: 120%;
	width: 40%;
	margin-top: 8px;
	margin-left: 1%;
}
header #head_left img,
header #head_left2 img {
	vertical-align: middle;
}
header #head_left p {
	margin-top: 19px;
	font-size: 70%;
	letter-spacing:-1px;
	color: #333;
	width: 45%;
	margin-left:10px;
	float: left;
}
header #head_left2 p {
	margin-top: 15px;
	font-size: 78%;
	color: #333;
	width: 58%;
	float: left;
}
header #head_right {
	float: right;
	width: 30%;
}
header #head_right2 {
	float: right;
	width: 32%;
}
header #head_right ul {
	margin-top: 12px;
}
header #head_right ul li {
	float: left;
	width: 30%;
	margin-right: 18%;
}
header #head_right2 ul {
	margin-top: 15px;
	width: 70%;
	float: left;
}
header #head_right2 ul li {
	float: left;
	width: 30%;
	margin-right: 20%;
}
header #head_right img,
header #head_right2 img {
	width: 160%;
	height: 160%;
}
header #head_account_right {
	width: 10%;
	float: right;
}
header #head_account_right2 {
	width: auto;
	float: right;
}
header #head_add_right {
	width: 50%;
	float: right;
}

/* menu */
.button-toggle {
	display: inline-block;
    position: relative;
	right:10px;
    width: 30px;
	height: 30px;
	font-size: 30px;
	line-height: 30px;
    color: #de587b;
    margin-top: 15px;
	cursor:pointer;
	text-align: center;
}
header #head_account_right2 .button-toggle {
	display: inline-block;
    position: relative;
	right: 5px;
    width: 25px;
	height: 25px;
	font-size: 25px;
	line-height: 25px;
    color: #de587b;
    margin-top: 15px;
	cursor:pointer;
	text-align: center;
}

.menu {
	width: 100%;
	overflow: hidden;
	border-top: #e82f73 1px solid;
	background-color: #fef7fa;
}

.menu ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.menu li {
	position: relative;
}
.menu a {
	display: block;
	color: #333;
	text-decoration: none;
	padding: 0 20px 0 26px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #b9b29e;
	height: 36px;
	line-height: 36px;
	font-weight: bold;
	background: #ffe5ec url(../../img/s/menu_arrow.png) 15px 50% no-repeat;
	background: url(../../img/s/menu_arrow.png) 15px 50% no-repeat, -webkit-linear-gradient(bottom, #fff, #ede9e0);
	background: url(../../img/s/menu_arrow.png) 15px 50% no-repeat, -moz-linear-gradient(bottom, #fff, #ede9e0);
	background: url(../../img/s/menu_arrow.png) 15px 50% no-repeat, -o-linear-gradient(bottom, #fff, #ede9e0);
	background: url(../../img/s/menu_arrow.png) 15px 50% no-repeat, linear-gradient(to top, #fff, #ede9e0);
	letter-spacing: 1px;
	font-size: 90%;
}

.menu li.menu_last a {
	background: #ffe5ec url(../../img/s/menu_login.png) 12px 50% no-repeat;
	background: url(../../img/s/menu_login.png) 12px 50% no-repeat, -webkit-linear-gradient(bottom,#fff, #fae3ea);
	background: url(../../img/s/menu_login.png) 12px 50% no-repeat, -moz-linear-gradient(bottom, #fff, #fae3ea);
	background: url(../../img/s/menu_login.png) 12px 50% no-repeat, -o-linear-gradient(bottom, #fff, #fae3ea);
	background: url(../../img/s/menu_login.png) 12px 50% no-repeat, linear-gradient(to top, #fff, #fae3ea);
}

/******************/


#header_btn_01 {
	height: 20%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #f2f2f2;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.38);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.38);
	box-shadow: 0 0 5px rgba(0,0,0,.38);
	border: solid 1px #e6e6e6;
	background-image: -webkit-linear-gradient(bottom, #e1e1e4 49%, #f1f1f1 51%);
	background-image: -moz-linear-gradient(bottom, #e1e1e4 49%, #f1f1f1 51%);
	background-image: -o-linear-gradient(bottom, #e1e1e4 49%, #f1f1f1 51%);
	background-image: linear-gradient(to top, #e1e1e4 49%, #f1f1f1 51%);
	float: left;
	text-align: center;
	width: 100%;
}
#header_btn_01 a {
	text-decoration: none;
}
#header_btn_02 {
	height: 20%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #f2f2f2;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.38);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.38);
	box-shadow: 0 0 5px rgba(0,0,0,.38);
	border: solid 1px #e6e6e6;
	background-image: -webkit-linear-gradient(bottom, #e1e1e4 49%, #f1f1f1 51%);
	background-image: -moz-linear-gradient(bottom, #e1e1e4 49%, #f1f1f1 51%);
	background-image: -o-linear-gradient(bottom, #e1e1e4 49%, #f1f1f1 51%);
	background-image: linear-gradient(to top, #e1e1e4 49%, #f1f1f1 51%);
	float: left;
	text-align: center;
	width: 100%;
}
#header_btn_02 a {
	text-decoration: none;
}

.name_display {
	background: #f0f0f0;
	border-top: 1px solid #c7c7c7;
	border-bottom: 1px solid #c7c7c7;
	clear: both;
	padding: 5px 10px;
}

#header_inner{
padding: 5px 2px 5px 2px;
}
#logo{
margin:0;
padding: 5px 0 0 0;
float: left;
width: 200px;
}
#header_menu{
float: right;
}
#header_menu ul{
list-style: none;
}
#header_menu ul li{
	margin-bottom:3px;
}
.global_menu_out{
background: -webkit-gradient(linear, right top, left top, from(#AE8B39), to(#EFCE76));
background-image: -moz-linear-gradient(right top , #AE8B39, #EFCE76);
padding:2px 0 2px 0;
height:51px;
}

.global_menu{
background: -webkit-gradient(linear, right top, left top, from(#FF6000), to(#FF832F));
background-image: -moz-linear-gradient(right top , #FF6000, #FF832F);
height:51px;
}
.global_menu ul{
display: table;
box-sizing: border-box;
border-collapse: collapse;
width: 100%;
margin: 0 auto;
}
.global_menu ul li{
display: table-cell;
text-align: center;
vertical-align: middle;
box-sizing: border-box;
list-style: none;
}

.global_menu ul li a{
display: block;
background: url(../../img/s/icon.jpg) no-repeat;
background-position:right center;
padding:0px 1px 0 0;
height:51px;
}

.global_menu ul li a img{
	padding-top:5px;
}

.small {
	font-size: 11px;
}



/*==========================================*/
/*==商品ラインナップ==*/
/*==========================================*/

#menu{
background: -webkit-gradient(linear, right top, left top, from(#AE8B39), to(#EFCE76));
background-image: -moz-linear-gradient(right top , #AE8B39, #EFCE76);
padding: 5px 5px 10px 5px;
margin-bottom:10px;
}

#menu a{
	text-decoration:none;
	color: #333333;
	display:block;
}


#category{

}

#category li{
background-image: -moz-linear-gradient(bottom, #F0F0F0 0%, white 100%);
background-image: -webkit-linear-gradient(bottom, #F0F0F0 0%, white 100%);
background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #F0F0F0), color-stop(1, white) );
display: block;
border: 3px double #DBDBDB;
list-style:none;
padding: 0px 0px 0px 10px;
border-radius: 2px;
text-align:left;
width:95%;
margin:0 auto;
font-size:95%;
box-shadow: 0 0 4px #CCC;
}

#op span a{
	background:url(../img/icon2.png) no-repeat left center;-webkit-background-size: 12px 12px;
	padding-left:22px;
}

#op span{
background:url(../img/bg_optionskin.png)  no-repeat right bottom;
background-size:40%;
display:block;
padding:15px 0;
}

#make span{
background:url(../img/bg_makeup.png)  no-repeat right bottom;
background-size:40%;
display:block;
padding:15px 0;
}

#make span a{
	background:url(../img/icon2.png) no-repeat left center;-webkit-background-size: 12px 12px;
	padding-left:22px;
}

#hair span{
background:url(../img/bg_haircare.png) no-repeat right bottom;
background-size:40%;
display:block;
padding:15px 0;
}

#hair span a{
	background:url(../img/icon2.png) no-repeat left center;-webkit-background-size: 12px 12px;
	padding-left:22px;
}

#supple span{
background:url(../img/bg_supplement.png) no-repeat right bottom;
background-size:40%;
display:block;
padding:15px 0;
}

#supple span a{
	background:url(../img/icon2.png) no-repeat left center;-webkit-background-size: 12px 12px;
	padding-left:22px;
}

.etc{
background-image: -moz-linear-gradient(bottom, #F0F0F0 0%, white 100%);
background-image: -webkit-linear-gradient(bottom, #F0F0F0 0%, white 100%);
background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #F0F0F0), color-stop(1, white) );
display: block;
border: 3px double #DBDBDB;
list-style:none;
padding: 10px 0px 10px 10px;
border-radius: 2px;
text-align:left;
width:95%;
margin:0 auto;
font-size:95%;
}


.etc a{
	background:url(../img/icon2.png) no-repeat left center;-webkit-background-size: 12px 12px;
	padding-left:22px;
}
.kensuu {
	margin: 0 0 3%;
	padding: 1% 2%;
	position: relative;
	display: inline-block;
	width: 96%;
	color: #666;
	background: #f0edde;
	z-index: 0;
}
.kensuu2 {
	margin: 2% 2% 5%;
	padding: 0.5% 3%;
	position: relative;
	display: inline-block;
	width: 90%;
	color: #fff;
	background: #404952;
	border-radius: 4px;
	z-index: 0;
}
.kensuu:after {
	content: "";
	position: absolute;
	bottom: -10px; left: 10%;
	margin-left: -8px;
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 10px 10px 0 10px;
	border-color: #f0edde transparent transparent transparent;
}
.kensuu2:after {
	content: "";
	position: absolute;
	bottom: -10px; left: 10%;
	margin-left: -8px;
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 10px 10px 0 10px;
	border-color: #404952 transparent transparent transparent;
}
.kensuu span {
	color: #c9395d;
	padding: 0 3px;
}
.kensuu2 span {
	color: #b23d58;
	padding: 0 3px;
}



/*==========================================*/
/*==共通帯==*/
/*==========================================*/

.obi{
	background:url(../img/ttl_bg.jpg) no-repeat;
	background-size:100%;
	color:#FFF;
	text-align:left;
	padding:9px 0 9px 10px;
 font-size:88%;
	letter-spacing:0.1em;
}

.obi2 a{
color:#FFF;
	font-size:88%;
}


.obi2{
background: -webkit-gradient(linear, right top, left top, from(#FF6000), to(#FF832F));
background-image: -moz-linear-gradient(right top , #FF6000, #FF832F);
border-radius: 5px 5px 0 0;
margin:0 auto;
color:#FFF;
padding:13px 0;
width:100%;
font-weight:bold;
font-size: 112%;
border-bottom: 3px double #FEE9B1;
}


/*==========================================*/
/*==アコーディオンメニュー==*/
/*==========================================*/

.acordion{
background-image: -moz-linear-gradient(bottom, #F0F0F0 0%, white 100%);
background-image: -webkit-linear-gradient(bottom, #F0F0F0 0%, white 100%);
background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #F0F0F0), color-stop(1, white) );
display: block;
border: 3px double #DBDBDB;
border-radius: 2px;
text-align:left;
width:98%;
}

.acordion p{
	background:url(../img/icon2.png) no-repeat left center;-webkit-background-size: 12px 12px;
	padding-left:22px;
	float:left;
}
 
.trigger{
    padding:15px 15px 15px 10px;
    border-radius:2px;
	font-size:88%;
	background: url(../img/bg_step.png) no-repeat right center;
	background-size:40%;
}
 
.trigger.active{
    border-radius:2px 2px 0 0;
    border-bottom:1px solid #cfcfcf;
}
 
.acordion_tree{
    padding:15px;
    font-size:75%;
}
 
.open-close {
    float:right;
    display:block;
    height:21px;
    width:21px;
    background:url(../img/open.png) no-repeat;
    -webkit-background-size:21px 21px;
}
 
.trigger.active .open-close{
    background:url(../img/close.png) no-repeat;
    -webkit-background-size:21px 21px;
}

/*==========================================*/
/*==4ステップメニュー==*/
/*==========================================*/

.h{
width:90%;
background:url(../../img/s/bg_step_about.jpg) no-repeat right bottom;
background-size:30%;
text-align:left;
border-radius:5px;
padding:15px;
margin:0 auto 5px auto;
background-color:#FFF;
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
border: 1px solid #DBDBDB;
font-size:110%;
}

.h_tt {
	color: #ea4154;
	font-size: 18px;
}
.h .inner .txt {
	background: #dddddd;
	width: 62%;
	margin-left: 15px;
	padding: 15px;
	font-size: 80%;

}
.simple_nav01 span a{
background:url(../../img/s/icon2.png) no-repeat left center;
	-webkit-background-size: 12px 12px;
	padding:0 0 0 20px;
}




.simple_nav02{
width:90%;
height:20px;
background:url(../../img/s/bg_set.jpg) no-repeat right bottom;
background-size:30%;
text-align:left;
border-radius:5px;
padding:15px;
margin:0 auto 5px auto;
background-color:#FFF;
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
border: 1px solid #DBDBDB;
font-size:110%;
}

.simple_nav02 span a{
background:url(../../img/s/icon2.png) no-repeat left center;
	-webkit-background-size: 12px 12px;
	padding:0 0 0 20px;
}



.simple_nav03{
width:90%;
height:20px;
background:url(../../img/s/bg_soap.jpg) no-repeat right bottom;
background-size:30%;
text-align:left;
border-radius:5px;
padding:15px;
margin:0 auto 5px auto;
background-color:#FFF;
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
border: 1px solid #DBDBDB;
font-size:110%;
}

.simple_nav03 span a{
background:url(../img/icon2.png) no-repeat left center;
	-webkit-background-size: 12px 12px;
	padding:0 0 0 20px;
}

.simple_nav04{
width:90%;
height:20px;
background:url(../../img/s/bg_spray.jpg) no-repeat right bottom;
background-size:30%;
text-align:left;
border-radius:5px;
padding:15px;
margin:0 auto 5px auto;
background-color:#FFF;
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
border: 1px solid #DBDBDB;
font-size:110%;
}

.simple_nav04 span a{
background:url(../../img/s/icon2.png) no-repeat left center;
	-webkit-background-size: 12px 12px;
	padding:0 0 0 20px;
}

.simple_nav05{
width:90%;
height:20px;
background:url(../../img/s/bg_cream.jpg) no-repeat right bottom;
background-size:30%;
text-align:left;
border-radius:5px;
padding:15px;
margin:0 auto 2px auto;
background-color:#FFF;
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
border: 1px solid #DBDBDB;
font-size:110%;
}

.simple_nav05 span a{
background:url(../../img/s/icon2.png) no-repeat left center;
	-webkit-background-size: 12px 12px;
	padding:0 0 0 20px;
}


/*==========================================*/
/*==フッター==*/
/*==========================================*/
footer{background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #efebe0), color-stop(1, white) );
	background: -moz-linear-gradient(top, #f6f1de, #ffffff);
	background: -webkit-gradient(linear, left top, left bottom, from(#f6f1de), to(#ffffff));
	padding-top:5px;
}
#footer_nav{
width: 95%;
display: table;
margin: 0 auto 10px auto;
}
#footer_nav .f_left,
#footer_nav .f_right{
background-color: #FFF;
background: -webkit-gradient(linear, left bottom, left top, color-stop(0.48,#F4F3F2), color-stop(0.48,#FCFCFA));
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
display: table-cell;
width: 50%;
box-sizing: border-box;
text-decoration: none;
color: #333333;
border: 1px solid #CCCCCC;
padding: 10px 0;
text-align: center;
text-shadow: 0 1px 0 #FFFFFF; 
}
#footer_nav .f_left{
float: none;
border-radius: 10px 0 0 10px;
}
#footer_nav .f_right{
float: none;
border-radius: 0 10px 10px 0;
border-left: none;
}

#footer_nav .f_left span,
#footer_nav .f_right span{
background:url(../../img/s/icon2.png) no-repeat left center;-webkit-background-size: 12px 12px;
padding:0 0 0 16px;
}

#footer-menu1 {
    border-radius: 10px 10px 10px 10px;
border:#CCC solid 1px;
	margin:0 auto 20px auto;
	width:94%;
	font-size:88%;
}

#footer-menu1 ul{
	padding:1px;
}

#footer-menu1-list li {
	border-radius: 5px 0px 0px 0px;
	list-style:none;
    width: 50%;
    float: left;
    border-bottom:#CCC solid 1px;
    border-right:#CCC solid 1px;
text-shadow: 0 1px 0 #FFFFFF;
text-align:center;	
background-color: #FFF;
background: -webkit-gradient(linear, left bottom, left top, color-stop(0.48,#F4F3F2), color-stop(0.48,#FCFCFA));
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);	
}



#footer-menu1-list li a {
display: block;
text-decoration:none;
color: #333333;
padding:10px 0;
}


#footer-menu1-list .f_m_right {
    width: 49%;
    float: left;
    border-right: 0px solid #CCC;
	border-radius: 0px 5px 0px 0px;	
}


#footer-menu1-list .listbottom_r {
    border-bottom: 0px solid #CCC;
	border-radius: 0px 0px 0px 5px;		
}

#footer-menu1-list .listbottom_l {
    border-bottom: 0px solid #CCC;
	border-radius: 0px 0px 5px 0px;		
}


.fot-link {
	padding: 15px 10px 0;
	text-align: center;
}
.fot-link li {
	display: inline;
	border-right: 1px solid #c0b7a1;
	margin: 0 8px 0 0;
	padding: 0 8px 0 0;
	line-height: 1;
}
.fot-link .cmn-btn-beg {
	display: block;
	width: auto;
	height: 35px;
	margin: 0 0 15px;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd7c9));
	background: linear-gradient(to bottom, #fff, #ddd7c9);
}
.fot-link .cmn-btn-beg a {
	display: block;
	padding: 10px 0;
	font-size: 13px;
	text-decoration: none;
}
.fot-link li:nth-last-child(4) {
	border-right: none;
}
.fot-link li:last-child {
	border-right: none;
	margin: 0;
	padding: 0;
}
.fot-link li a {
	display: inline-block;
	margin-bottom: 20px;
	color: #333;
	font-size: 12px;
	text-decoration: underline;
	line-height: 1;
}
.fot-link .pup {
	display: block;
	margin: 0 -10px 15px;
	padding: 0;
	border-right: none;
	border-top: solid 1px #d7d1c3;
	border-bottom: solid 1px #d7d1c3;
	background-color: #fff;
}
.fot-link .pup a {
	display: block;
	margin-bottom: 0;
	padding: 10px;
	color: #068681;
	font-size: 13px;
	line-height: 1.4;
	text-decoration: none;
}
.fot-link .pup .icon-up {
	display: inline-block;
	width: 21px;
	height: 11px;
	background-position: -50px 0;
	vertical-align: baseline;
}


#tel{
font-size:88%;
border-radius: 5px;	
border: 1px solid #FF832F;
margin:0 auto 15px auto;
width:97%;
text-align:left;
	background:#FFF;
}

.obi2 a{
color:#FFF;
	font-size:88%;
}

.bc-inr a{
	text-decoration:none;
}

/*
.obi2,
.obi3{
background: -webkit-gradient(linear, right top, left top, from(#FF6000), to(#FF832F));
background-image: -moz-linear-gradient(right top , #FF6000, #FF832F);
border-radius: 5px 5px 0 0;
margin:0 auto;
color:#FFF;
padding:13px 0;
width:100%;
font-weight:bold;
font-size: 112%;
border-bottom: 3px double #FEE9B1;
}*/

.obi3{
font-size:88%;
text-align:left;
font-weight:normal;
padding:9px 0 9px 5%;
width:95%;
}



.tel_in{
	display:block;
	margin:0 auto;
	padding:10px;
}


#tel dt{
	border-top: 1px solid #FF832F;
	letter-spacing:0.1em;
}

#tel dt span{
	font-weight:bold;
    color:#BE9C48;
	display: block;
padding: 5px 0 2px 10px;
	border-top: 1px solid #969696;
	border-top: 1px solid #FFF;
}

#tel dd{
	margin-bottom:8px;
	padding:0 0 0 10px;

}

#copyright{
background: -webkit-gradient(linear, right top, left top, from(#ddd7c9), to(#fff));
background-image: -moz-linear-gradient(right top , #ddd7c9, #fff);
padding:5px 0 5px 0;
text-align: center;
font-size: 11px;
}

footer address{
background: -webkit-gradient(linear, right top, left top, from(#FF6000), to(#FF832F));
background-image: -moz-linear-gradient(right top , #FF6000, #FF832F);
color: #FFFFFF;
font-style: normal;
padding: 10px 0;
text-align: center;
font-size: 12px;
margin-bottom: 10px;
}


#secure{
background: -webkit-gradient(linear, right top, left top, from(#AE8B39), to(#EFCE76));
background-image: -moz-linear-gradient(right top , #AE8B39, #EFCE76);
padding:3px 0 0 0;
font-size:65%;
text-align:left;
}

#secure_in{
	background:#FFF;
	padding:5px 0;
}


.se_left{
width: 20%;
float: left;
box-sizing: border-box;
}

.se_right{
width: 60%;
float: right;
box-sizing: border-box;
padding-left:10px;
}

/* cmn-bread
------------------------------------------------------- */
#cmn-bread {
	position: relative;
	height: 26px;
	overflow: hidden;
	margin-bottom: 2px;
	padding: 0;
	border-top: 1px solid #c0b8a3;
	border-bottom: 1px solid #c0b8a3;
	background: #d7d1c3;
}
#cmn-bread ul {
	display: inline-block;
	white-space: nowrap;
	background-color: #f3f0e9;
}
#cmn-bread li {
	display: inline-block;
}
#cmn-bread li a,
#cmn-bread li > span {
	display: block;
	position: relative;
	float: left;
	padding: 0 2px 0 13px;
	color: #333;
}
#cmn-bread li a {
	background-color: #f3f0e9;
}
#cmn-bread li > span {
	background-color: #d7d1c3;
}
#cmn-bread li a span,
#cmn-bread li > span {
	display: block;
	font-size: 12px;
	line-height: 26px;
}
#cmn-bread li a:after {
	content: " ";
	display: block;
	width: 0;
	height: 0;
	border-top: 16px solid transparent;
	border-bottom: 14px solid transparent;
	border-left: 9px solid #f3f0e9;/* 三角の幅 */
	position: absolute;
	top: 50%;
	margin-top: -16px;
	left: 100%;
	z-index: 2;
}
#cmn-bread li a:before {
	content: " ";
	display: block;
	width: 0;
	height: 0;
	border-top: 16px solid transparent;
	border-bottom: 14px solid transparent;
	border-left: 9px solid #bfb7a2;
	position: absolute;
	top: 50%;
	margin-top: -16px;
	margin-left: 1px;
	left: 100%;
	z-index: 1;
}
#cmn-bread li:first-child {
	position: absolute;
	left: 0;
	z-index: 1000;
}
#cmn-bread li:first-child a,
#cmn-bread li:first-child > span {
	width: 36px;
	padding: 0;
	background: url("../../img/s/ico_bred_home.png") no-repeat 11px 5px #f3f0e9;
	background-size: 16px 15px;
}
#cmn-bread li:first-child a span {
	overflow: hidden;
	width: 36px;
	height: 0;
	padding: 26px 0 0 0;
	color: rgba(0, 0, 0, 0);
	font-size: 1px;
}
#cmn-bread li:nth-child(2) {
	padding-left: 37px;
}
#cmn-bread ul { /* ２階層の時にAndroidで非リンクにハイライトしてしまう対策 */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
#cmn-bread ul a { /* 同上 */
	-webkit-tap-highlight-color: rgba(0,0,0,0.2);
}


/*==========================================*/
/*==オレンジボックスリンク==*/
/*==========================================*/

.link_o{
/*background-color: #FFF;
background: -webkit-gradient(linear, left bottom, left top, color-stop(0.48,#c13e60), color-stop(0.48,#e45c80));
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
padding:5px 0;
margin-bottom:20px;
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
color: #fff;
text-align: center;*/
	background-color: #fef9fe;
	background-image: -webkit-linear-gradient(top, #e35d80, #c03c61);
	background-image: -moz-linear-gradient(top, #e35d80, #c03c61);
	background-image: -o-linear-gradient(top, #e35d80, #c03c61);
	background-image: linear-gradient(to bottom, #e35d80, #c03c61);
	
	padding: 6px 0 5px;
	text-align: center;
	color: #fff;
	font-weight: normal;
}

.link_o a{
	padding:0 0 0 16px;
	background:url(../../img/s/icon2.png) no-repeat left center;
	-webkit-background-size: 12px 12px;
	text-decoration:none;
	color: #333333;
	text-shadow: 1px 1px 0 #FFFFFF;
}

.link_o2 {
/*background-color: #FFF;
background: -webkit-gradient(linear, left bottom, left top, color-stop(0.48,#c13e60), color-stop(0.48,#e45c80));
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
padding:5px 0;
margin-bottom:20px;
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
color: #fff;
text-align: center;*/
	background-color: #fef9fe;
	background-image: -webkit-linear-gradient(top, #e35d80, #c03c61);
	background-image: -moz-linear-gradient(top, #e35d80, #c03c61);
	background-image: -o-linear-gradient(top, #e35d80, #c03c61);
	background-image: linear-gradient(to bottom, #e35d80, #c03c61);
	
	padding: 6px 0 5px;
	text-align: center;
	color: #fff;
	font-weight: bold;
}


.link_pi{
	font-weight: bold;
	padding: 2% 2% 1%;
	color: #6E4444;
	background: #faf6e5 url(../../img/s/label_bg.gif) 0 0 repeat-x;
	border-bottom: #a39884 1px solid;
/*background-color: #FFF;
background: -webkit-gradient(linear, left bottom, left top, color-stop(0.48,#c13e60), color-stop(0.48,#e45c80));
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
padding:5px 10px;
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
color: #fff;*/
}



/*==========================================*/
/*==パンくず==*/
/*==========================================*/
#pankuzu {
    padding: 6px 5px 6px 5px;
}
#pankuzu ul li {
    float: left;
    font-size: 60%;
    color: rgb(0, 0, 0);
    margin-right: 5px;
}
#pankuzu ul li a{
	display:block;
    padding-right: 12px;
	color: #333333;
	background:url(../../img/s/pan_arrow.png) 100% 5px no-repeat;
	-webkit-background-size: 5px 5px;
}


/*==========================================*/
/*==各コンテンツフッターリンく==*/
/*==========================================*/


#bt_nav{
border-bottom:solid 1px #DDDDDD;
border-top:solid 1px #DDDDDD;
background: #F9F9F9;
margin: 0 auto 30px auto;
width:100%;
padding:10px 0 10px 0;
}


#bt_nav ul {
width:95%;
margin:0 auto;
display:block;
}

#bt_nav ul li {
display: inline-block;
	margin-right:2px;
	font-size:65%;
}

#bt_nav ul li a{
color: #333333;
}

.out {
background: -webkit-gradient(linear, right top, left top, from(#AE8B39), to(#EFCE76));
background-image: -moz-linear-gradient(right top , #AE8B39, #EFCE76);
padding: 4px 0;
margin-bottom:30px;
margin-top:30px;
}


/*.inner {
	width:100%;
}*/

/*サイドバー
---------------------------------------------------------------*/
 
#modal { display: none; }
 
#modal h2{
    font-size:18px;
    border-bottom:1px solid #fff;
}
 
#modal h2,
#modal ul li a{
    padding:10px 0;
}
 
#modal ul{
    margin-bottom:20px;
}
 
#modal ul li a{
    border-bottom:1px dashed #6f6f6f;
    display:block;
    color:#fff;
}
 
.close{
    font-weight:bold;
}
 
.close a{
    color:#000;
    padding:3px 10px;
    background:#ccc;
}
 
.open{
    display:block;
    padding:7px;
    float:right;
    margin-top:5px; background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #e5e5e5), color-stop(0.00, #ffffff));
    background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    background: linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    -webkit-background-size:20px 20px;
    border-radius:3px;
    border:1px solid #e0e0e0;
}
 
.open img{
    vertical-align:middle;
}

#pageslide {
    /* These styles MUST be included. Do not change. */
    display: none;
    position: absolute;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 999999;
 
    /* Specify the width of your pageslide here */
    width: 260px;
    padding: 20px;
 
    /* These styles are optional, and describe how the pageslide will look */
    background-color: #333;
    color: #FFF;
    -webkit-box-shadow: inset 0 0 5px 5px #222;
    -moz-shadow: inset 0 0 5px 5px #222;
    box-shadow: inset 0 0 5px 5px #222;
}
.topic_tt {
	color: #ef5766;
	font-weight: bold;
	padding: 2% 3%;
	margin: 3%;
	
	border-bottom: #ef5766 1px dotted;
	border-left: #ef5766 5px solid;
}

/* メニューアイコン */
/*.ico-menu {
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 20px;
    height: 0;
    padding-top: 18px;
    background: #de587b;
    margin-top: 15px;
}

.ico-menu::before,
.ico-menu::after {
    position: absolute;
    left: 0;
    content: "";
    width: 20px;
    height: 0;
    border-top: 3px solid #fff;
}

.ico-menu::before {
    top: 4px;
}

.ico-menu::after {
    bottom: 4px;
}*/
#rogin_area label {
	clear: both !important;
}
#rogin_area input[type=text],#rogin_area input[type=password] {
	-webkit-border-radius: 12px; 
	-moz-border-radius: 12px; 
	border-radius: 12px;
	border: 1px solid #CCC;
	height: 30px;
	width: 100%;
	margin: 0 auto;
}
#rogin_area .inner_box {
	width: 80%;
	margin: 0 auto;
	font-size:90%;
	background-color:#f0efed;
}
#rogin_area .btn_pi {
	width: 80%;
	margin: 15px auto 0;
}

.top_new_review_box {
    margin-bottom: 5px;
    padding: 2% 1%;
    border-bottom: 1px dotted #c5c5c5;
}
.top_new_review_box .img {
    float: left;
    width: 30%;
}
.top_new_review_box .img img {
	padding: 3px;
	border: 1px solid #eeeeee;
}
.top_new_review_box .summary {
    float: right;
    width: 70%;	
    margin-bottom: 3%;
}
.top_new_review_box .summary .name {
  font-size: 90%;
}
.top_new_review_box .summary .name a {
	color: #cf4c6e;
	font-weight: bold;
}
.top_new_review_box .summary .option_follow {
  font-size: 70%;
}
.top_new_review_box .summary .option_review {
	background:  url(../../img/s/review_mark.png) no-repeat left 0;
	padding-left: 20px;
  font-size: 70%;
}
.top_new_review_box .summary .cat {
	font-size: 70%;
}
.top_new_review_box .summary .caption {
	background: #f0f0f0;
	border: 1px solid #d0cccd;
	border-radius: 2px;
  font-size: 70%;
  padding: 2px;
}
.top_new_review_box .btn {
	float: right;
}
#shibori_cat {
	padding: 15px 0;
	border-top: 1px dotted #ccc;
	border-bottom: 1px dotted #CCC;
}
#shibori_cat select {
background-color: #FFF;
background: -webkit-gradient(linear, left bottom, left top, color-stop(0.48,#F4F3F2), color-stop(0.48,#FCFCFA));
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
border: 1px solid #CCCCCC;
text-align: center;
text-shadow: 0 1px 0 #FFFFFF;
width:80%;
border-radius:10px;
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
margin: 0 auto;
display: block;
height: 30px;
}
.btn_2col {
	text-align: center;
	margin: 0 auto;
	width:80%;
}
.btn_2col li {
	float: left;
	width: 50%;

}
.btn_2col li a {
	background-color: #FFF;
background: -webkit-gradient(linear, left bottom, left top, color-stop(0.48,#F4F3F2), color-stop(0.48,#FCFCFA));
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
border: 1px solid #CCCCCC;
text-align: center;
text-shadow: 0 1px 0 #FFFFFF;
width:90%;
border-radius:6px;
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
margin-bottom:30px;
display: block;
padding: 15px 0;
text-decoration: none;
}


#all_shop_rank_area {
	padding-top: 15px;
}
#all_shop_rank_area .link_arrow {
	background: url(../../img/s/green_arrow.png) 97% 50% no-repeat;
	background-size: 16px 22px;
}
#all_shop_rank_area .tt {
    font-size: 110%;
    margin-top: 5px;
	font-weight:bold;
}
#all_shop_rank_area .rank{
    font-size: 110%;
    margin-top: 5px;
	font-weight:bold;
}

.all_rank_box {
    margin-top: -1px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #c5c5c5;
}
.all_rank_box .img {
    width: 20%;
    float: left;
    margin-right: 1%;
    text-align: center;
}
.all_rank_box .img span {
	font-size: 160%;
	font-weight: bold;
}
.all_rank_box .img2 {
    float: left;
    padding:2px;
	border:1px solid #eee;
}
.all_rank_box .summary .caption {
	margin-bottom: 5px;
}
.all_rank_box .summary {
    width:62%;
}

.all_rank_box .summary .option .cat {
	color: #704d4b;
}
.all_rank_box .summary .info {
    margin-bottom: 5px;
}
.all_rank_box .summary .tt {
    font-size: 110%;
    margin-top: 5px;
	font-weight:bold;
}

.link_arrow {
	background: url(../../img/s/green_arrow.png) 97% 50% no-repeat;
	background-size: 16px 22px;
}

#reference_box .box_inner {
	border-bottom: 1px solid #e82f73;
	padding: 10px;
}
#reference_box .box_inner .img {
	float: left;
}
#reference_box .box_inner .tt {
	color: #f05364;
}
#reference_box .box_inner .cat {
	background: #e82f73;
	border: 1px solid #de3c78;
	border-radius: 4px;
	padding: 3px;
	color: #fff;
	font-size: 10px;
}
#reference_box .box_inner .option {
	float: left;
	margin-left: 15px;
}

/* レビューのレビュー */

#pickup_box .box_inner {
	margin: 0 auto 0;
	/* border-bottom: #ccc 1px solid;
	padding-bottom: 2%; */
}
#pickup_box .pickup_box_summary {
	background: #f3f3f3;
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	padding: 1% 2%;
}
#pickup_box .pickup_box_summary .profile_img {
	float: left;
}
#pickup_box .pickup_box_summary .profile_img img {
	width: 30px;
	height: 30px;
	margin-right:5px;
}
#pickup_box .box_inner .font08 {
	color: #999;
}
#pickup_box .box_inner .review {
	font-size: 70%;
	letter-spacing:-1px;
}
#pickup_box .box_inner .review img {
	width: 8%;
	height:auto;
}
#pickup_box .box_inner .review .cow {
	color: #f05364;
	font-weight: bold;
	margin: 0 5px;
}
#pickup_box .box_inner .name a {
	text-decoration: none;
	color: #333;
	font-weight: bold;
}
#pickup_box .box_inner .name span {
	float: right;
}
#pickup_box .box_inner .img {
	float: left;
	width: 20%;
	margin-left: 2%;
	margin-top: 2%;
}
#pickup_box .box_inner .summary {
	width: 65%;
	float: right;
	margin-right: 2%;
	margin-top: 2%;
}
#pickup_box .link_arrow {
	background: url(../../img/s/green_arrow.png) 97% 50% no-repeat;
	background-size: 16px 22px;
}
#pickup_box .box_inner .summary .btn_gray {
	font-size: 80%;
	width: 90%;
}

#pickup_box .box_inner .caption a {
	color: #f05364;
	font-weight: bold;
}
#pickup_box .box_inner .caption span {
	margin-left: 10px;
}
#pickup_box .box_inner .tt {
	color: #f05364;
}

#pickup_box .box_inner .txt {
  font-size: 90%!important;
  color:#555;
  height:64px;
  overflow:hidden;
}
#pickup_box .box_inner .day {
  font-size: 80%;
  text-align:right;
}


#pickup_box .box_inner .cat {
	background: #e82f73;
	border: 1px solid #de3c78;
	border-radius: 4px;
	padding: 3px;
	color: #fff;
	font-size: 10px;
}
#pickup_box .box_inner .option {
	float: left;
	margin-left: 15px;
}

#pickup_box .course_mark{
	display: inline-block;
	float:right;
}

#pickup_box .course_mark span{
	margin-right:5px;
	font-size:80%;
	padding:1px 7px 1px 7px;
	border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
	height:13px;
}

#pickup_box .course_mark span.new{
	border:1px solid #e291a4;
	color:#e291a4;
	background:#fbdee2;
}

#pickup_box .course_mark span.target{
	border:1px solid #e5bc62;
	color:#e5bc62;
	background:#fcf2de;
}

#rankingArea {
	margin: 0 auto 0;
	/* border-bottom: #ccc 1px solid; */
	margin-top:5px;
	padding-bottom: 2%;
}


/* レビューのレビュートップページ */

#pickup_box_top .box_inner {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #c5c5c5;
}
#pickup_box_top .box_inner .font08 {
	color: #999;
}
#pickup_box_top .box_inner .review {
	font-size: 70%;
}
#pickup_bo_topx .box_inner .review .cow {
	color: #f05364;
	font-weight: bold;
	margin: 0 5px;
}
#pickup_box_top .box_inner .name a {
	text-decoration: none;
	color: #333;
	font-weight: bold;
}
#pickup_box_top .box_inner .name span {
	float: right;
}
#pickup_box_top .box_inner .img {
    float: left;
    padding:2px;
	border:1px solid #eee;
}
#pickup_box_top .box_inner .summary {
	width: 65%;
	float: right;
	margin-right: 2%;
}
#pickup_box_top .link_arrow {
	background: url(../../img/s/green_arrow.png) 97% 50% no-repeat;
	background-size: 16px 22px;
}
#pickup_box_top .box_inner .summary .btn_gray {
	font-size: 80%;
	width: 90%;
}

#pickup_box_top .box_inner .caption a {
	color: #f05364;
	font-weight: bold;
}
#pickup_box_top .box_inner .caption span {
	margin-left: 10px;
}
#pickup_box_top .box_inner .tt {
	color: #f05364;
}
#pickup_box_top .box_inner .txt {
	font-size: 80%;
	margin: 2% 0; 
}
#pickup_box_top .link_arrow .txt {
	font-size: 80%;
	margin: 2% 8% 2% 0; 
}
#pickup_box_top .box_inner .cat {
	background: #e82f73;
	border: 1px solid #de3c78;
	border-radius: 4px;
	padding: 3px;
	color: #fff;
	font-size: 10px;
}
#pickup_box_top .box_inner .option {
	float: left;
	margin-left: 15px;
}



/* レビューのレビュー */

#review_box .box_inner {
	margin: 0 auto 0;
	border-bottom: #ccc 1px solid;
	padding-bottom: 2%;
}
#review_box .review_box_summary {
	background: #f3f3f3;
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	padding: 1% 2%;
}
#review_box .review_box_summary .profile_img {
	float: left;
}
#review_box .review_box_summary .profile_img img {
	width: 30px;
	height: 30px;
	margin-right:5px;
}
#review_box .box_inner .font08 {
	color: #999;
}
#review_box .box_inner .review {
	font-size: 70%;
}
#review_box .box_inner .review img {
	width: 8%;
	height:auto;
}
#review_box .box_inner .review .cow {
	color: #f05364;
	font-weight: bold;
	margin: 0 5px;
}
#review_box .box_inner .name a {
	text-decoration: none;
	color: #333;
	font-weight: bold;
}
#review_box .box_inner .name span {
	float: right;
}
#review_box .box_inner .summary {
	margin-right: 2%;
	margin-top: 2%;
}
#review_box .link_arrow {
	background: url(../../img/s/green_arrow.png) 97% 50% no-repeat;
	background-size: 16px 22px;
}
#review_box .box_inner .summary .btn_gray {
	font-size: 80%;
	width: 90%;
}

#review_box .box_inner .caption a {
	color: #f05364;
	font-weight: bold;
	text-decoration: none;
}
#review_box .box_inner .caption span {
	margin-left: 10px;
}
#review_box .box_inner .tt {
	color: #f05364;
}
#review_box .box_inner .txt {
  font-size: 90%!important;
  color:#555;
	margin: 2% 0; 
}
#review_box .link_arrow .txt {
	font-size: 80%;
	margin: 2% 8% 2% 0; 
}
#review_box .box_inner .cat {
	background: #e82f73;
	border: 1px solid #de3c78;
	border-radius: 4px;
	padding: 3px;
	color: #fff;
	font-size: 10px;
}
#review_box .box_inner .option {
	float: left;
	margin-left: 15px;
}

#review_box .course_mark{
	display: inline-block;
	float:right;
	margin-top:7px;
}

#review_box .course_mark span{
	margin-right:5px;
	font-size:80%;
	padding:1px 7px 1px 7px;
	border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
	height:13px;
}

#review_box .course_mark span.new{
	border:1px solid #e291a4;
	color:#e291a4;
	background:#fbdee2;
}

#review_box .course_mark span.target{
	border:1px solid #e5bc62;
	color:#e5bc62;
	background:#fcf2de;
}
#review_box .score{
	border-top:1px solid #ccc;
	padding:1%;
}
#review_box .date {
	font-size: 70%;
	color:#333;
	font-weight: normal;
	float: right;
}


/* review_navi */
.review_navi {
	background-color: #eee;
	margin:0;
	text-align: center;
	padding: 5px 0;
	border-bottom:2px solid #ccc;
}
.review_navi p {
	display: inline-block;
	margin: 0 2%;
	font-weight:bold;
	width: 28%;
}
/*
.review_navi p a {
	display: block;
	text-decoration: none;
	background: #fff;
	border: #ccc 1px solid;
	box-shadow: 0 1px 2px #999999;
	padding: 3% 7%;
	border-radius: 4px;
}
*/


/* レビューの詳細 */

#review_detail_box .box_inner {
	margin: 0 auto 0;
	width:95%;
	padding-bottom: 2%;
}
#review_detail_box .pickup_box_summary {
	background: #f3f3f3;
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	padding: 1% 2%;
    border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border:1px solid #ccc;
}
#review_detail_box .review_detail_body {
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
#review_detail_box .pickup_box_summary .profile_img {
	float: left;
}
#review_detail_box .pickup_box_summary .profile_img img {
	width: 30px;
	height: 30px;
	margin-right:5px;
}
#review_detail_box .box_inner .font08 {
	color: #999;
}
#review_detail_box .box_inner .review {
	font-size: 70%;
}
#review_detail_box .box_inner .review img {
	width: 8%;
	height:auto;
	vertical-align: middle;
}
#review_detail_box .box_inner .review .cow {
	font-weight: bold;
	margin: 0 5px;
}
#review_detail_box .box_inner .name a {
	text-decoration: none;
	color: #333;
	font-weight: bold;
	margin-top:5px;
}
#review_detail_box .box_inner .name span {
	float: right;
}

#review_detail_box .box_inner .summary {
	padding:5px;
}
#review_detail_box .box_inner .summary .btn_gray {
	font-size: 80%;
	width: 90%;
}

#review_detail_box .box_inner .caption {
	color: #f05364;
	font-weight: bold;
	margin:5px;
}
#review_detail_box .box_inner .caption span {
	margin-left: 10px;
}
#review_detail_box .box_inner .tt {
	color: #f05364;
}
#review_detail_box .box_inner .txt {
	font-size: 90%;
	color:#555;
	margin: 2% 0; 
}
#review_detail_box .box_inner .day {
	font-size: 80%;
	text-align:right;
	color:#666;
}
#review_detail_box .box_inner .cat {
	background: #e82f73;
	border: 1px solid #de3c78;
	border-radius: 4px;
	padding: 3px;
	color: #fff;
	font-size: 10px;
}
#review_detail_box .box_inner .option {
	float: left;
	margin-left: 15px;
}


#review_detail_box .course_mark{
	display:inline;
}

#review_detail_box .course_mark span{
	margin-right:5px;
	font-size:9px;
	padding:1px 7px 1px 7px;
	border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
	height:13px;
}

#review_detail_box .course_mark span.new{
	border:1px solid #e291a4;
	color:#e291a4;
	background:#fbdee2;
}

#review_detail_box .course_mark span.target{
	border:1px solid #e5bc62;
	color:#e5bc62;
	background:#fcf2de;
}
#review_detail_box .score{
	border-top:1px solid #ccc;
	padding:1%;
}

#review_detail_box .score_head{
	border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
	background: #f3f3f3;
	padding:5px;
	margin-right:5px;
}


.favoriteBtn{
	margin-top:6px;
	float:right;
}

.favoriteBtn a{
	font-weight:normal!important;
	font-size:11px;
	background:url(../../img/s/icon_save.png) no-repeat 4px center;
	padding:4px 6px 4px 23px;
}

.delete2Btn a{
	font-weight:normal!important;
	font-size:11px;
	background:url(../../img/s/icon_delete.png) no-repeat 4px center;
	padding:4px 6px 4px 23px;
}



#review_detail_box .favoriteBtn{
	float:right;
}

#review_detail_box .favoriteBtn a{
	font-weight:normal!important;
	font-size:11px;
	background:url(../../img/s/icon_save.png) no-repeat 4px center;
	padding:4px 6px 4px 23px;
}

#review_detail_box .reportBtn{
	float:left;
}

#review_detail_box .reportBtn a{
	padding:4px 6px 4px 18px;
	background:url(../../img/s/icon_report.png) no-repeat 4px center;
}

#review_detail_box .thanksBtn{
	float:right;
}

#review_detail_box .thanksBtn > p{
	float:left;	
}

#review_detail_box .thanksBtn > p:first-child{
	margin-top:5px;
	margin-right:10px;
	padding-right:10px;
	background:url(../../img/s/icon_next.png) no-repeat right 4px;
}

#review_detail_box .thanksBtn a{
	padding:4px 6px 4px 18px;
	background:url(../../img/s/icon_heart.png) no-repeat 4px center;
}

#review_detail_box .deleteBtn{
	float:left;
}

#review_detail_box .deleteBtn a{
	padding:4px 6px;
}

#review_detail_box .customBtn{
	float:right;
}

#review_detail_box .customBtn a{
	padding:4px 6px;
}




/* 口コミのランキング */

.review_ranking_box {
	margin: 0 auto 0;
	border-bottom: #ccc 1px solid;
	padding-bottom: 2%;
}
.review_ranking_box .pickup_box_summary {
	background: #f3f3f3;
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	padding: 1% 2%;
}
.review_ranking_box .pickup_box_summary .profile_img {
	float: left;
}
.review_ranking_box .pickup_box_summary .profile_img img {
	width: 20%;
	height: auto;
}
.review_ranking_box .box_inner .font08 {
	color: #999;
}
.review_ranking_box .box_inner .review {
	font-size: 70%;
}
.review_ranking_box .box_inner .review img {
	width: 8%;
	height:auto;
}
.review_ranking_box .box_inner .review .cow {
	color: #f05364;
	font-weight: bold;
	margin: 0 5px;
}
.review_ranking_box .box_inner .name a {
	text-decoration: none;
	color: #333;
	font-weight: bold;
}
.review_ranking_box .box_inner .name span {
	float: right;
}
.review_ranking_box .box_inner .img {
    float: left;
    padding:2px;
	border:1px solid #eee;
}
.review_ranking_box .box_inner .summary {
	width: 65%;
	float: right;
	margin-right: 2%;
	margin-top: 2%;
}
.review_ranking_box .link_arrow {
	background: url(../../img/s/green_arrow.png) 97% 50% no-repeat;
	background-size: 16px 22px;
}
.review_ranking_box .box_inner .summary .btn_gray {
	font-size: 80%;
	width: 90%;
}

.review_ranking_box .box_inner .caption {
	color: #f05364 !important;
	font-weight: bold;
	margin-right: 20px;
	margin-top: 3px;
}
.review_ranking_box .box_inner .caption a {
		color: #f05364;
}
.review_ranking_box .box_inner .review_number {
	margin-top: 4px;
	font-size: 80%;
}
.review_ranking_box .box_inner .review_number a {
	color: #f05364;
	font-size: 80%;
}
.review_ranking_box .box_inner .tt {
	color: #f05364;
	font-size: 80%;
}
.review_ranking_box .box_inner .txt {
	font-size: 80%;
	margin: 2% 0; 
}
.review_ranking_box .link_arrow .txt {
	font-size: 80%;
	margin: 1% 8% 1% 0; 
}
.review_ranking_box .box_inner .cat {
	background: #e82f73;
	border: 1px solid #de3c78;
	border-radius: 4px;
	padding: 3px;
	color: #fff;
	font-size: 10px;
}
.review_ranking_box .box_inner .option {
	float: left;
	margin-left: 15px;
}
.review_ranking_box .newest_review {
	font-size: 70%;
	background:#FAF7F0;
	padding: 1%;
	display: inline;
}
.review_ranking_box .newest_review#newest_review_01 {
	background: #e5d99c;
	color: #212322;
}
.review_ranking_box .newest_review#newest_review_02 {
	background: #cccccc;
	color: #212322;
}
.review_ranking_box .newest_review#newest_review_03 {
	background: #ddccb0;
	color: #212322;
}

.review_ranking_box .rank_name {
	font-size: 100%;
}



/* 口コミのランキング トップページ */

.review_ranking_box_top {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #c5c5c5;
}
.review_ranking_box_top .pickup_box_summary {
	background: #f3f3f3;
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	padding: 1% 2%;
}
.review_ranking_box_top .pickup_box_summary .profile_img {
	float: left;
}
.review_ranking_box_top .pickup_box_summary .profile_img img {
	width: 20%;
	height: auto;
}
.review_ranking_box_top .box_inner .font08 {
	color: #999;
}
.review_ranking_box_top .box_inner .review {
	font-size: 70%;
}
.review_ranking_box_top .box_inner .review img {
	width: 8%;
	height:auto;
}
.review_ranking_box_top .box_inner .review .cow {
	color: #f05364;
	font-weight: bold;
	margin: 0 5px;
}
.review_ranking_box_top .box_inner .name a {
	text-decoration: none;
	color: #333;
	font-weight: bold;
}
.review_ranking_box_top .box_inner .name span {
	float: right;
}
.review_ranking_box_top .box_inner .img {
    float: left;
    padding:2px;
	border:1px solid #eee;
}
.review_ranking_box_top .box_inner .summary {
	width: 60%;
	float: right;
	margin-right: 2%;
	margin-top: 2%;
}
.review_ranking_box_top .link_arrow {
	background: url(../../img/s/green_arrow.png) 97% 50% no-repeat;
	background-size: 16px 22px;
}
.review_ranking_box_top .box_inner .summary .btn_gray {
	font-size: 80%;
	width: 90%;
}

.review_ranking_box_top .box_inner .caption {
	color: #f05364 !important;
	font-weight: bold;
	margin-right: 20px;
	margin-top: 3px;
}
.review_ranking_box_top .box_inner .caption a {
		color: #f05364;
}
.review_ranking_box_top .box_inner .review_number {
	margin-top: 4px;
	font-size: 80%;
}
.review_ranking_box_top .box_inner .review_number a {
	color: #f05364;
	font-size: 80%;
}
.review_ranking_box_top .box_inner .tt {
	color: #f05364;
	font-size: 80%;
}
.review_ranking_box_top .box_inner .txt {
	font-size: 80%;
	margin: 2% 0; 
}
.review_ranking_box_top .link_arrow .txt {
	font-size: 80%;
	margin: 1% 8% 1% 0; 
}
.review_ranking_box_top .box_inner .cat {
	background: #e82f73;
	border: 1px solid #de3c78;
	border-radius: 4px;
	padding: 3px;
	color: #fff;
	font-size: 10px;
}
.review_ranking_box_top .box_inner .option {
	float: left;
	margin-left: 15px;
}
.review_ranking_box_top .newest_review {
	font-size: 80%;
	background:  #47a080;
	padding: 1%;
	display: inline;
	color: #fff;
	width:100%;
}
.review_ranking_box_top .newest_review#newest_review_01 {
	background: #e5d99c;
	color: #212322;
}
.review_ranking_box_top .newest_review#newest_review_02 {
	background: #cccccc;
	color: #212322;
}
.review_ranking_box_top .newest_review#newest_review_03 {
	background: #ddccb0;
	color: #212322;
}

.review_ranking_box_top .rank_name {
	font-size: 100%;
}


/* 店舗TOPのPICK UP BOX */
#pickup_box2 .box_inner {
	margin: 0 auto 0;
	border-bottom: #ccc 1px solid;
	padding-bottom: 2%;
}
#pickup_box2 .box_inner .img {
	float: left;
	width: 40%;
	margin-left: 2%;
	margin-top: 2%;
}
#pickup_box2 .box_inner .img img {
	width: 100%;
	height: auto;
}
#pickup_box2 .box_inner .summary {
	width: 55%;
	float: right;
	margin-right: 2%;
	margin-top: 2%;
}
#pickup_box2 .box_inner .caption a {
	color: #068681;
	font-weight: bold;
}
#pickup_box2 .box_inner .caption span {
	margin-left: 10px;
}
#pickup_box2 .box_inner .tt {
	color: #f05364;
}
#pickup_box2 .box_inner .txt {
	font-size: 90%;
	color:#555;
	margin: 2% 0; 
}

#pickup_box2 .box_inner .stars .new_icon {
	background: #e18a21;
	color: #fff;
	font-size:80%;
	padding:2px 3px;
	margin-right: 6px;
}
#pickup_box2 .box_inner .stars img {
	vertical-align: middle;
}
#pickup_box2 .box_inner .stars .rate {
	font-size:70%;
	margin-left: 3px;
}
.pagenation {
	background: #f0edde;
	padding: 5%;
	position: relative;
	margin-bottom: 15px;
}
.pagenation .before {
	position: absolute;
	left: 1%;
	top: 15px;
	width: 20%;
}
.pagenation .before a {
	background-color: #FFF;
background: -webkit-gradient(linear, left bottom, left top, color-stop(0.48,#F4F3F2), color-stop(0.48,#FCFCFA));
border: 1px solid #CCCCCC;
text-align: center;
text-shadow: 0 1px 0 #FFFFFF;
border-radius:4px;
padding: 5% 5%;
display: block;
text-decoration: none;
}
.pagenation .number {
	text-align: center;
}
.pagenation .next {
	position: absolute;
	right: 1%;
	top: 15px;
	width: 20%;
}
.pagenation .next a {
	background-color: #FFF;
background: -webkit-gradient(linear, left bottom, left top, color-stop(0.48,#F4F3F2), color-stop(0.48,#FCFCFA));
border: 1px solid #CCCCCC;
text-align: center;
text-shadow: 0 1px 0 #FFFFFF;
border-radius:4px;
padding: 5% 5%;
display: block;
text-decoration: none;
}

/*******/

#account_form .inner {
	padding: 2%;
}

#account_form .steps,
#account_done .steps {
	margin-bottom: 10px;
}
#account_form .steps img,
#account_done .steps img {
	width: 100%;
	height: auto;
}

#account_form dt {
/*background-color: #FFF;
background: -webkit-gradient(linear, left bottom, left top, color-stop(0.48,#F4F3F2), color-stop(0.48,#FCFCFA));
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
border-top: 1px solid #CCCCCC;
border-bottom: 1px solid #CCCCCC;
text-shadow: 0 1px 0 #FFFFFF;*/
width:94%;
/*-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);*/
border-left: #a08f75 5px solid;
margin: 0 auto;
display: block;
padding: 1% 1% 1% 2%;
margin: 2% 2% 0;
font-size: 90%;
color: #666;
}
#account_form dd {
padding: 2% 2% 3%;
border-bottom: #ccc 1px dotted;
}
#account_form #doui {
	margin: 10px 0 0;
	background-color: #fff;
	padding: 2% 3%;
	font-size: 80%;
	border-radius: 4px;
}
#account_form #doui a {
	color: #D95376;
}
#account_form #doui .doui_check {
	padding: 10px 0 0;
	font-size: 110%;
}

#account_form .form_btns p {
	width: 80%;
}

#account_form .txt {
	margin: 10px;
	font-size: 80%;
}
#account_form table {
	width: 95%;
}
#account_form table *{
	vertical-align:middle;
}
#account_form table th,
#account_formt table td {
	text-align: left;
	padding: 2% 1%;
	font-size: 80%;
	letter-spacing:-1px;
}
#account_form table th {
	width: 35%;
	color: #666;
	background-color:#f3f3f3;
}
#account_form table td{
	width: 55%;
}
#account_form  .submitBtn {
	margin: 20px auto 10px;
}
#account_form span {
	padding:2px;
	background-color:#ff0000;
	color:#ffffff;
	margin:3px;
	margin-left:10px;
	font-size:60%;
}

#account_form select {
	height:30px;
	border:1px solid #ccc;
	background: #fff; 
	padding:5px;
	border-radius: 8px;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	padding-right:30px;
	text-align:left;
	background: #FFF url(../../img/s/select_arrow.jpg) no-repeat right;
}




input {border:solid 1px #ccc; background: #fff; width:95%; font-size:100%; padding:5px; border-radius: 8px;}
input.field_s { width:12%; margin-right: 5px; }
input.field_m { width:20%; margin-right: 5px; }
input:focus,input:hover {border:solid 1px #CC476B;}
textarea {border:solid 1px #ccc; width:95%; font-size:120%; padding:5px; border-radius: 8px;}
textarea:focus,textarea:hover {border:solid 1px #999;}

input[type=radio],
input[type=checkbox] {
	width: auto;
    display: inline-block;
    margin-right: 6px;
}
input[type="submit"] {
	width: 100%;
	font-size: 120%;
	margin: 0; 
	padding: 10px 0; 
	-webkit-box-shadow: inset 0 0 5px rgba(255,255,255,.15);
	-moz-box-shadow: inset 0 0 5px rgba(255,255,255,.15);
	box-shadow: inset 0 0 5px rgba(255,255,255,.15);
	border: solid 1px #c6a950;
	background-image: -webkit-linear-gradient(bottom, #b99c44, #c2a95d 49%, #d2c089 50%);
	background-image: -moz-linear-gradient(bottom, #b99c44, #c2a95d 49%, #d2c089 50%);
	background-image: -o-linear-gradient(bottom, #b99c44, #c2a95d 49%, #d2c089 50%);
	background-image: linear-gradient(to top, #b99c44, #c2a95d 49%, #d2c089 50%);
	color: #FFF; 
	-webkit-appearance: none; 
	border-radius: 4px;
	text-align: center;
}
.btn_pi input[type="submit"]{
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-color: #fef9fe;
	-webkit-box-shadow: inset 0 2px 3px rgba(255,255,255,.75), inset 0 0 5px rgba(255,255,255,.2);
	-moz-box-shadow: inset 0 2px 3px rgba(255,255,255,.75), inset 0 0 5px rgba(255,255,255,.2);
	box-shadow: inset 0 2px 3px rgba(255,255,255,.75), inset 0 0 5px rgba(255,255,255,.2);
	border: solid 1px #dd979f;
	background-image: -webkit-linear-gradient(bottom, #f65769, #fe939b 99%);
	background-image: -moz-linear-gradient(bottom, #f65769, #fe939b 99%);
	background-image: -o-linear-gradient(bottom, #f65769, #fe939b 99%);
	background-image: linear-gradient(to top, #f65769, #fe939b 99%);
	color: #fff;
	text-align: center;
	width: 100%;
	margin: 0; 
	padding: 6px 0;
}
.btn_gr  input[type="submit"]{
	border: solid 1px #d8d3c8;
	background-image: -webkit-linear-gradient(bottom, #e6e6e6, #fff);
	background-image: -moz-linear-gradient(bottom, #e6e6e6, #fff);
	background-image: -o-linear-gradient(bottom, #e6e6e6, #fff);
	background-image: linear-gradient(to top, #e6e6e6, #fff);
	border: 1px solid #ccc;
	width: 100%;
	text-align: center;
	text-shadow: 0 2px 0 #FFFFFF;
	border-radius:4px;
	margin: 0; 
	padding: 6px 0;
	color: #333333;
}

.btn_green2  input[type="submit"]{
	border: solid 1px #5ea595;
background: #89bfb2; /* Old browsers */
background: -moz-linear-gradient(top,  #89bfb2 0%, #89bfb2 50%, #519f91 51%, #519f91 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#89bfb2), color-stop(50%,#89bfb2), color-stop(51%,#519f91), color-stop(100%,#519f91)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #89bfb2 0%,#89bfb2 50%,#519f91 51%,#519f91 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #89bfb2 0%,#89bfb2 50%,#519f91 51%,#519f91 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #89bfb2 0%,#89bfb2 50%,#519f91 51%,#519f91 100%); /* IE10+ */
background: linear-gradient(to bottom,  #89bfb2 0%,#89bfb2 50%,#519f91 51%,#519f91 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#89bfb2', endColorstr='#519f91',GradientType=0 ); /* IE6-9 */
	border: 1px solid #ccc;
	width: 100%;
	text-align: center;
	text-shadow: 0 2px 0 #333333;
	border-radius:4px;
	margin: 0; 
	padding: 6px 0;
	color: #ffffff;
	font-weight:bold;
}


#account_done .inner {
	padding: 2%;
}
#account_done #p1 {
	font-size: 110%;
	width:80%;
	margin:0 auto;
}
#newsArea .col {
width:90%;
background:url(../../img/s/bg_step_about.jpg) no-repeat right bottom;
background-size:30%;
text-align:left;
border-radius:5px;
padding:15px;
margin:0 auto 5px auto;
background-color:#FFF;
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
border: 1px solid #DBDBDB;
font-size:110%;
}
#newsArea .col .tt {
	color: #ea4154;
	font-size: 18px;
}
#newsArea .col .txt {
	background: #dddddd;
	width: 62%;
	margin-left: 15px;
	padding: 15px;
	font-size: 80%;
}
.label h2 {
	font-size: 100%;
}

/*==========================================*/
/*==会員エリア==*/
/*==========================================*/
#account_box .list {
	padding: 2% 0;
}

.pickup_box_summary {
	border-bottom:1px solid #ccc;
}

.pickup_box_summary .profile_img {
	float: left;
	margin-right:5px;
	margin-bottom:5px;
}

.account_box .course_mark{
	display: inline-block;
}

.account_box .cow{
	font-size: 80%;
}

.account_box .course_mark span{
	font-size:80%;
	padding:1px 7px 1px 7px;
	border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.account_box .course_mark span.new{
	border:1px solid #e291a4;
	color:#e291a4;
	background:#fbdee2;
}
.account_box .course_mark span.target{
	border:1px solid #e5bc62;
	color:#e5bc62;
	background:#fcf2de;
}



.account_box {
	background:  #fff;
	width: 94%;
	margin: 0 auto 3%;
	border: 1px solid #f4f4f4;
	padding: 3% 2%;
	border-radius: 4px;
}
.account_box .tt {
	font-size: 90%;
	margin-bottom: 1%;
}
.account_box a {
	text-decoration: none;
	color: #d95376;
}
.shop_title a {
	text-decoration: none;
	color: #d95376;
	font-weight: bold;
}
.account_box .head .user_img {
	float: left;
}
.account_box .head .head_summary {
	float: left;
	margin-left: 10px;
	margin-top: 5px;
	width: 80%;
}
.account_box .date {
	font-size: 70%;
}
.account_box .title {
	font-weight: bold;
}
.account_box .review_box {
	background:  #fff;
	padding: 2%;
}
.review_box_tt {
	font-size: 90%;
	margin-bottom: 1%;
	color: #068681;
	font-weight: bold;
}
.review_box_txt {
	font-size: 80%;
}
#account_area_profile {
	padding: 5%;
}
#account_area_profile .img {
	float: left;
	margin-right: 3%;
}
#account_area_profile .summary {
	float: left;
}
#account_area_profile .image_ver {
	font-size: 80%;
	color: #d95376;
}
#account_area_profile .image_ver a{
		color: #d95376;
		text-decoration: none;
}
.label_list {
	color: #666;
	background: #eeeeee;
	padding: 3%;
}
.label_content {
	border: 1px solid #d3cec8;
	padding: 3%;
}
#favorite_girl_area {
	margin-top: 15px;
}
#favorite_girl_area .list {
	width: 98%;
	margin: 0 auto;
	text-align:center;
}
#favorite_girl_area .col {
	float: left;
	width: 30%;
	margin-bottom: 15px;
	margin-right:10px;
}

#favorite_girl_area .img {
	width: 100px;
	margin-bottom:4px;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}

.favorite_topic_area .btn {
	width: 100px;
	margin-top:7px;
}
	
	
	
.favorite_topic_btn .img {
	width: 100%;
	height: auto;
}
#top_new_review_tt {
  background:  url(../../img/s/top_new_review_tt_bg.png) repeat-x;
  color: #333;
  font-weight: bold;
  font-size: 90%;
}
#reference_box_tt {
  background: url(../../img/s/reference_box_tt_bg.png) repeat-x;
  color: #333;
  font-weight: bold;
  font-size: 90%;
}
.ranking_box .head {
	padding: 0 2%;
	border-top: 1px solid #cacaca;
}
.ranking_box .head .rank_img {
	float: left;
	margin-right: 2%;
}
.ranking_box .head .summary {
	float: left;
	width:60%;
}
.ranking_box .right_img {
	float: right;
}
.ranking_box .content2 {
	padding: 2% 3%;
}
.ranking_box .content .title a {
	text-decoration: none;
	color: #df26c9;
}
.ranking_box .head {
	background: #f5f2ed;
	padding: 1% 2%;
}

#ranking_01 {
	background: #f8f3dd !important;
}
#ranking_02 {
	background: #eeeeee !important;
}
#ranking_03 {
	background: #efe2da !important;
}
.new_mark_ico img {
	width: 10%;
	height: auto;
}

#girl_tt {
	color: #d56885;

}


/* ==========================================================================
   common area
   ========================================================================== */
   
.redBtn{
	background:-moz-linear-gradient( center top, #FF858E 5%, #F74B5F 100% );
	background:-ms-linear-gradient( top, #FF858E 5%, #F74B5F 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF858E', endColorstr='#F74B5F');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #FF858E), color-stop(100%, #F74B5F) );
	text-align:center;
	border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.redBtn a{
	color:#FFF!important;
	text-decoration:none;
	display:block;
}

.whiteBtn{
	border: 1px solid #cbcbcb;
    background:      -o-linear-gradient(top, #FFFFFF 50%, #ECECEC 100%);
    background:     -ms-linear-gradient(top, #FFFFFF 50%, #ECECEC 100%);
    background:    -moz-linear-gradient(top, #FFFFFF 50%, #ECECEC 100%);
    background: -webkit-linear-gradient(top, #FFFFFF 50%, #ECECEC 100%);
    background: linear-gradient(top, #FFFFFF 50%, #ECECEC 100%);
	text-align:center;
	border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.whiteBtn a{
	color:#666!important;
	text-decoration:none;
}


#abouts {
}
#abouts .txt {
	margin: 10px;
	font-size: 80%;
}


.contact .txt {
	margin: 10px;
	font-size: 80%;
}
.contact table {
	width: 95%;
}
.contact table *{
	vertical-align:middle;
}
.contact table th,
.contact table td {
	text-align: left;
	padding: 2% 1%;
	font-size: 80%;
	border-bottom: #ccc 1px dotted;
}
.contact table th {
	width: 30%;
	color: #666;
	background-color:#f3f3f3;
}
.contact table td{
	width: 60%;
}
.contact  .submitBtn {
	margin: 20px auto 10px;
}
.contact span {
	padding:2px;
	background-color:#ff0000;
	color:#ffffff;
	margin:3px;
	margin-left:10px;
	font-size:60%;
}

/* 2014.11.14 19:13 更新 */
.point {
	color:#CD4D72;
	font-weight:bold;
	margin-right:3px;
}

/* 2014.12.15 18:45 更新 */
/* --- ↓flexslider --- */
/*スライド部*/
.slider{
	position:relative;
}
/*ページャー*/
.flex-control-paging{
	position:absolute;
	bottom:-20px;
	left:50%;
}
.flex-control-paging li{
	float:left;
	padding-right:5px;
	position:relative;
	left:-50%;
}
.flex-control-paging li:last-child{
	padding-right:0;
}
.flex-control-paging li a{
	display:block;
	width:10px;
	height:10px;
	text-indent:-9999px;
	background-color:#aaa;
	border-radius:10px;
	cursor:pointer;
}
.flex-control-paging li a.flex-active{
	background-color:#f081b3;
}

/* ランキング ページャー*/
#rankingAccess .flex-control-paging{
	bottom:10px;
}

/* 前・後ボタン*/
.flex-direction-nav li a{
	position:absolute;
	display:block;
	top:100%;
	padding: 3px;
	margin: 3px;
	box-shadow: 0 0 4px #666666;
	border-radius:7px;
	width: 50px;
	font-size:75%;
	text-decoration:none;
	color: #BF0000;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #dedede));
	background:-webkit-linear-gradient(top, #fff 0%, #dedede 100%);
	background:linear-gradient(to bottom, #ffffff 0%,#dedede 100%);
	text-align:center;
}
.flex-direction-nav li .flex-prev{
	left:0;
}
.flex-direction-nav li .flex-next{
	right:0;
}
.flex-direction-nav li .flex-disabled{
	opacity:0.3;
}

