.boards_area .display_page
{
    *zoom: 1;
}
.boards_area .display_page:before,
.boards_area .display_page:after
{
    display: table;

    content: '';
}
.boards_area .display_page:after
{
    clear: both;
}

.txt_red
{
    color: #c00;
}

.txt_pink
{
    color: #e74098;
}

.boards_area
{
    box-sizing: border-box;
    margin: 0 10px;
}
.boards_area a
{
    text-decoration: none;
}
.boards_area .fa
{
    margin-right: 3px;
}
.boards_area .btn_comment
{
    font-size: 14px;

    width: 220px;
    margin: 20px auto;

    text-align: center;

    border-radius: 5px;
    background: #e74098;
}
.boards_area .btn_comment a
{
    display: block;

    padding: 10px;

    text-decoration: none;

    color: #fff;
}
.boards_area .thread_nav
{
    overflow: hidden;

    padding: 10px 0;
}
.boards_area .thread_nav .link_top
{
    display: inline-block;
    float: left;
}
.boards_area .thread_nav .link_top,
.boards_area .thread_nav .link_prev,
.boards_area .thread_nav .link_next
{
    padding: 10px;

    border-radius: 5px;
    background: #f0f0f0;
}
.boards_area .thread_nav .link_top a,
.boards_area .thread_nav .link_prev a,
.boards_area .thread_nav .link_next a
{
    font-size: 14px;

    text-decoration: none;
}
.boards_area .thread_nav .link_top .fa,
.boards_area .thread_nav .link_prev .fa,
.boards_area .thread_nav .link_next .fa
{
    position: relative;
    top: -2px;
}
.boards_area .thread_nav .link_top .fa
{
    margin-right: 5px;
}
.boards_area .thread_nav .link_prev .fa
{
    margin-right: 5px;
}
.boards_area .thread_nav .link_next .fa
{
    margin-left: 5px;
}
.boards_area .thread_nav ul
{
    float: right;

    text-align: right;
}
.boards_area .thread_nav ul li
{
    display: inline-block;

    margin-left: 10px;
}
.boards_area .thread_nav ul li:first-child
{
    margin-left: 0;
}
.boards_area .res_block
{
    position: relative;
    z-index: 0;

    padding: 10px 0;

    border-top: 1px solid #ddd;
}
.boards_area .res_block:first-child
{
    margin: 0;
    padding: 0;

    border: none;
}
.boards_area .res_block .res_num
{
    font-size: 14px;
    font-weight: bold;

    color: #e74098;
}
.boards_area .res_block .res_num .fa
{
    position: relative;
    top: -2px;
}
.boards_area .res_block .res_body
{
    font-size: 14px;

    padding: 5px 0 10px;
}
.boards_area .res_block .res_info .post_name
{
    margin: 0 10px 0 0;
}
.boards_area .thread_main,
.boards_area .thread_top
{
    padding: 10px;

    border-radius: 5px;
    background: #f0f0f0;
}
.boards_area .thread_header
{
    overflow: hidden;
}
.boards_area .thread_header .res_num
{
    display: inline-block;
    float: left;
}
.boards_area .thread_header .thread_title
{
    font-size: 18px;
    font-weight: bold;

    display: inline-block;
    float: left;

    margin: 0 0 0 10px;
}
.boards_area .display_page
{
    position: relative;
    z-index: 1;

    margin: 0 0 5px;
}
.boards_area .display_page .fa-sort-desc
{
    position: relative;
    top: -3px;

    margin-left: 3px;
}
.boards_area .display_page .res_nums
{
    display: inline-block;
    float: left;
}
.boards_area .display_page .thread_pages
{
    display: inline-block;
    float: right;
}
.boards_area .display_page .thread_pages a
{
    color: #222;
}
.boards_area .display_page .page_jump
{
    font-size: 14px;

    position: absolute;
    top: 30px;
    right: 0;

    display: none;

    padding: 5px;

    border: 4px solid #ddd;
    border-radius: 5px;
    background: #fff;
}
.boards_area .display_page .page_jump:after,
.boards_area .display_page .page_jump:before
{
    position: absolute;
    bottom: 100%;
    left: 50%;

    width: 0;
    height: 0;

    content: ' ';
    pointer-events: none;

    border: solid transparent;
}
.boards_area .display_page .page_jump:after
{
    margin-left: -10px;

    border-width: 10px;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
}
.boards_area .display_page .page_jump:before
{
    margin-left: -16px;

    border-width: 16px;
    border-color: rgba(221, 221, 221, 0);
    border-bottom-color: #ddd;
}
.boards_area .display_page .page_jump li
{
    border-top: 1px solid #ddd;
}
.boards_area .display_page .page_jump li:first-child
{
    border: none;
}
.boards_area .display_page .page_jump a
{
    position: relative;

    display: block;

    padding: 5px 20px 5px 5px;

    color: #222;
}
.boards_area .display_page .page_jump a:after
{
    position: absolute;
    top: 50%;
    right: 10px;

    display: block;

    width: 7px;
    height: 7px;
    margin-top: -4px;

    content: '';
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);

    border-top: solid 2px #4d4d4d;
    border-right: solid 2px #4d4d4d;
}

#modal_post
{
    margin: 0 auto 20px;
}
#modal_post .boards_area
{
    padding: 10px;

    border-radius: 5px;
    background: #f0f0f0;
}
#modal_post .thread_title
{
    font-size: 18px;
    font-weight: bold;

    display: inline-block;

    margin: 0 10px 5px;
}
#modal_post input[type='text'],
#modal_post textarea
{
    font-size: 16px;

    padding: 5px;

    border: 1px solid #dedede;
    border-radius: 5px;
}
#modal_post input.name
{
    width: 270px;
}
#modal_post textarea.comment
{
    width: 270px;
    height: 100px;
}
#modal_post dl
{
    margin: 0 0 20px;
}
#modal_post dl dt,
#modal_post dl dd
{
    padding: 5px 0;
}
#modal_post dl dt
{
    font-size: 14px;
    font-weight: bold;

    margin: 5px 0 0;
}
#modal_post dl dt:first-child
{
    margin: 0;
}
#modal_post .btn_post
{
    font-size: 14px;

    width: 220px;
    margin: 20px auto;

    text-align: center;

    border-radius: 5px;
    background: #e74098;
}
#modal_post .btn_post a
{
    display: block;

    padding: 10px;

    text-decoration: none;

    color: #fff;
}
#modal_post .caption
{
    font-weight: bold;

    margin: 0 0 5px;
}
#modal_post .caution_list
{
    margin: 0 0 20px 15px;
}
#modal_post .caution_list li
{
    list-style-type: decimal;
}

#modal_tree .boards_area
{
    margin: 0 10px 10px;
    padding: 10px;

    border-radius: 5px;
    background: #f0f0f0;
}
#modal_tree .boards_area.nostyle
{
    margin: 0 10px;
    padding: 0;

    background: none;
}
#modal_tree .thread_top
{
    padding: 0;
}
#modal_tree .res_block
{
    margin: 0;
}
#modal_tree .btn_thread_top
{
    font-size: 14px;
    font-weight: bold;

    width: 100%;
    margin: 20px auto;

    text-align: center;

    border-radius: 5px;
    background: #e74098;
}
#modal_tree .btn_thread_top .fa
{
    position: absolute;
    top: 10px;
    left: 15px;

    margin: 0 5px 0 0;
}
#modal_tree .btn_thread_top a
{
    line-height: 40px;

    position: relative;

    display: block;

    height: 40px;
    padding: 5px 20px 5px 5px;

    text-decoration: none;

    color: #fff;
}
#modal_tree .btn_thread_top a:after
{
    position: absolute;
    top: 50%;
    right: 10px;

    display: block;

    width: 7px;
    height: 7px;
    margin-top: -4px;

    content: '';
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);

    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
}

.post_thanks
{
    font-size: 16px;
    font-weight: bold;

    margin: 40px 0;

    text-align: center;
}

.btn_prev
{
    font-size: 14px;

    width: 220px;
    margin: 20px auto;

    text-align: center;

    border-radius: 5px;
    background: #e74098;
}
.btn_prev a
{
    display: block;

    padding: 10px;

    text-decoration: none;

    color: #fff;
}
