<?php
$news_modified ="";
foreach($news_list as $key => $record){
	$news_modified_tmp = date('Y/m/d', strtotime($record[0]['news_modified']));
	if($news_modified != $news_modified_tmp){?>
		<div style="text-align:left;padding:3px;">
			<?php echo $news_modified_tmp?>の更新情報
		</div>
		<div style="text-align:left;padding:3px;">
		<?php $news_modified = $news_modified_tmp;
	}?>

	<?php if($record[0]['id'] == 'Shop'){?>
		<!-- <?php echo date('G：i', strtotime($record[0]['news_modified']))?> --><a href="<?php echo $linkCommon->get_user_shop($record)?>"><?php echo $record['Shop']['name']?></a>を追加<br />
	<?php }elseif($record[0]['id'] == 'Girl'){?>
		<!-- <?php echo date('G：i', strtotime($record[0]['news_modified']))?> --><a href="<?php echo $linkCommon->get_user_shop($record)?>"><?php echo $record['Shop']['name']?></a>に
			<a href="<?php echo $linkCommon->get_user_girl($record)?>"><?php echo $record['Girl']['name'] ?>ちゃん</a>追加<br />
	<?php }elseif($record[0]['id'] == 'Review'){?>
		<!-- <?php echo date('G：i', strtotime($record[0]['news_modified']))?> --><a href="<?php echo $linkCommon->get_user_shop($record)?>"><?php echo $record['Shop']['name']?></a>の
					<a href="<?php echo $linkCommon->get_user_girl($record)?>"><?php echo $record['Girl']['name'] ?>ちゃん</a>
				<a href="<?php echo $linkCommon->get_user_review($record)?>">口コミ</a>報告<br />
	<?php }?>

<?php if(empty($news_list[$key+1][0]['news_modified']) ||
$news_modified_tmp != date('Y/m/d',
strtotime($news_list[$key+1][0]['news_modified']))){?>

		</div>
		<hr color="#DED7C8" />
	<?php }?>
<?php }?>


