<?php
$news_modified ="";
foreach($news_list as $key => $record){
	$news_modified_tmp = date('Y/m/d', strtotime($record[0]['news_modified']));
	if($news_modified != $news_modified_tmp){?>
		<?php $news_modified = $news_modified_tmp;}?>

	<?php if($record[0]['id'] == 'Shop'){?>
		<div><p class="tt"><?php echo $record['Shop']['name']?>を追加</p><p class="date"><?php echo date('G：i', strtotime($record[0]['news_modified']))?></p></div>
	<?php }elseif($record[0]['id'] == 'Girl'){?>
		<div><p class="tt"><?php echo $record['Shop']['name']?>に<?php echo $record['Girl']['name'] ?>ちゃん追加</p><p class="date"><?php echo date('G：i', strtotime($record[0]['news_modified']))?></p></div>
	<?php }elseif($record[0]['id'] == 'Review'){?>
			<div><p class="tt"><?php echo $record['Shop']['name']?>の<?php echo $record['Girl']['name'] ?>ちゃん口コミ報告</p><p class="date"><?php echo date('G：i', strtotime($record[0]['news_modified']))?></p></div>
	<?php }?>

<?php if(empty($news_list[$key+1][0]['news_modified']) ||
$news_modified_tmp != date('Y/m/d',
strtotime($news_list[$key+1][0]['news_modified']))){?>

	<?php }?>
<?php }?>
