<div class="mapArea">
	<ul class="list">
		<li><a href="http://aichi.dhrank.com/top"><img src="/img/area/tokai/nagoya.png" alt="愛知(名古屋)エリア" height="42" width="250"></a></li>
		<li><a href="http://gifu.dhrank.com/top"><img src="/img/area/tokai/gifu.png" alt="岐阜エリア" height="42" width="250"></a></li>
		<li><a href="http://mie.dhrank.com/top"><img src="/img/area/tokai/mie.png" alt="三重エリア" height="42" width="250"></a></li>
		<li><a href="http://shizuoka.dhrank.com/top"><img src="/img/area/tokai/shizuoka.png" alt="静岡エリア" height="42" width="250"></a></li>
	</ul>
</div>
