<div class="mapArea">
	<ul class="list">
		<li><a href="http://toyama.dhrank.com/top"><img src="/img/area/hokushinetsu/toyama.png" alt="富山エリア" height="42" width="250"></a></li>
		<li><a href="http://ishikawa.dhrank.com/top"><img src="/img/area/hokushinetsu/ishikawa.png" alt="石川エリア" height="42" width="250"></a></li>
		<li><a href="http://fukui.dhrank.com/top"><img src="/img/area/hokushinetsu/fukui.png" alt="福井エリア" height="42" width="250"></a></li>
		<li><a href="http://nagano.dhrank.com/top"><img src="/img/area/hokushinetsu/nagano.png" alt="長野エリア" height="42" width="250"></a></li>
		<li><a href="http://niigata.dhrank.com/top"><img src="/img/area/hokushinetsu/niigata.png" alt="新潟エリア" height="42" width="250"></a></li>
		<li><a href="http://yamanashi.dhrank.com/top"><img src="/img/area/hokushinetsu/yamanashi.png" alt="山梨エリア" height="42" width="250"></a></li>
	</ul>
</div>
