	<div class="title title05">
		<h2>RECOMMEND SHOP<span class="small">おすすめ店舗</span></h2>
	</div>

	<div class="wrapper clearfix">

		<div class="box">
			<a href="http://miyazaki.dhrank.com/12653">
				<img src="http://img.dhrank.com/shop/12653/image_recommend.jpg" width="191" height="56">
			</a>
			<p class="tt">しろうさぎ</p>
			<p class="caption">人妻デリヘル</p>
			<p>人妻と普通ではいられなくなる雰囲気に、我を忘れのめり込む・・・ 限られた時間の中で、今日も自由に存分に貴方と楽しみたい！！ 今日も、刺激がある貴方に会えるのを楽しみにしています！！ 
			</p>
		</div>

		<div class="box">
			<a href="http://miyazaki.dhrank.com/12655">
				<img src="http://img.dhrank.com/shop/12655/image_recommend.jpg" width="191" height="56">
			</a>
			<p class="tt">トロピカル</p>
			<p class="caption">アロマ・エステ・デリヘル</p>
			<p>宮崎市及び近辺地域の皆様お待たせしました!!! ！！11月28日(金)！地域初！！ 『ソフトタッチアロマ☆トロピカル』 をオープンしました。 お客様方に愛され続けるお店を目指し、在籍キャスト及びスタッフ一同お客様方の気持ちになり日々努力いたしますので、『ソフトタッチアロマ☆トロピカル』をよろしくお願いいたします。 
			</p>
		</div>

		<div class="box">
			<a href="http://miyazaki.dhrank.com/12657">
				<img src="http://img.dhrank.com/shop/12657/image_recommend.jpg" width="191" height="56">
			</a>
			<p class="tt">ママらんど宮崎店</p>
			<p class="caption">デリヘル</p>
			<p>そんな大人な女性たちと過ごせる時間
			</p>
		</div>

		<div class="box">
			<a href="http://miyazaki.dhrank.com/12658">
				<img src="http://img.dhrank.com/shop/12658/image_recommend.jpg" width="191" height="56">
			</a>
			<p class="tt">名門宮崎さくら附属女学院</p>
			<p class="caption">デリヘル</p>
			<p>
いつもいつも当店『さくら女学院』をご贔屓くださってるお客様、本当にいつも有り難うございます。 男性スタッフ一同、在籍の女の子一同、こんな文章での形ではありますが感謝の気持ちをお伝えさせてください。 これからも女の子また男性スタッフ一同、お客様が当店を選んで良かったと思って頂けるように心底努力していく所存で有りますので、どうぞ宜しくお願い致します。
			</p>
		</div>

		<div class="box">
			<a href="http://miyazaki.dhrank.com/12682">
				<img src="http://img.dhrank.com/shop/12682/image_recommend.jpg" width="191" height="56">
			</a>
			<p class="tt">ウインディー</p>
			<p class="caption">デリヘル</p>
			<p>
最高のサービスで最高のお時間をお過ごし下さい。 お客様に満足して頂けるように日々努力していきますので、どうぞ宜しくお願いします♪
			</p>
		</div>

		<div class="box">
			<a href="http://miyazaki.dhrank.com/12786">
				<img src="http://img.dhrank.com/shop/12786/image_recommend.jpg" width="191" height="56">
			</a>
			<p class="tt">延岡　花の都～人妻の都～</p>
			<p class="caption">デリヘル</p>
			<p>
イイ女が、お客様に尽くす。
その姿だけでも、欲求が高まります！

また当店では
人気の特別コースをご用意しております！
≪花の都スペシャル夢の『3Pコース』≫
男のロマンを意識して、お客様には濃いプレイをお楽しみ頂きます！
			</p>
		</div>
		
		<div class="box">
			<a href="http://miyazaki.dhrank.com/12796">
				<img src="http://img.dhrank.com/shop/12796/image_recommend.jpg" width="191" height="56">
			</a>
			<p class="tt">アップルティ宮崎店</p>
			<p class="caption">アロマ・エステ・デリヘル</p>
			<p>
			</p>
		</div>
		
	</div>
