	<div class="title title05">
		<h2>RECOMMEND SHOP<span class="small">おすすめ店舗</span></h2>
	</div>

	<div class="wrapper clearfix">

		<div class="box">
			<a href="http://oita.dhrank.com/12807">
				<img src="http://img.dhrank.com/shop/12807/image_recommend.jpg" width="191" height="56">
			</a>
			<p class="tt">アップルティ大分店</p>
			<p class="caption">アロマ・エステ・デリヘル</p>
			<p>

			</p>
		</div>

	</div>