<!-- box -->
	<div class="box clearfix">
		<div class="rankNum">
			<img src="/img/crown_2.png" alt="" width="78"><br />
			<img src="/img/arrow_up.png" alt="" width="78">
		</div>
		<p class="img"><img src="/img/news_shop_test_img2.png" alt="" height="80" width="80" class="img_frame"></p>
		<div class="summary">
			<p class="tt"><a href="/shop">coming soon</a></p>
			<div class="scoreInfo">
				<p>
					<img src="/img/star_on.png">
					<img src="/img/star_on.png">
					<img src="/img/star_on.png">
					<img src="/img/star_off.png">
					<img src="/img/star_off.png">
					<span class="score">3.15</span>
				</p>
			</div>
			<p class="cat">カテゴリ：デリヘル</p>
			<p class="link"><a href="#">レビュー 12件</a></p>
		</div>
		<div class="comment">
			<p>coming soon</p>
		</div>
	</div>


<!-- box -->
	<div class="box clearfix">
		<div class="rankNum">
			<img src="/img/crown_2.png" alt="" width="78"><br />
			<img src="/img/arrow_up.png" alt="" width="78">
		</div>
		<p class="img"><img src="/img/news_shop_test_img2.png" alt="" height="80" width="80" class="img_frame"></p>
		<div class="summary">
			<p class="tt"><a href="/shop">coming soon</a></p>
			<div class="scoreInfo">
				<p>
					<img src="/img/star_on.png">
					<img src="/img/star_on.png">
					<img src="/img/star_on.png">
					<img src="/img/star_off.png">
					<img src="/img/star_off.png">
					<span class="score">3.15</span>
				</p>
			</div>
			<p class="cat">カテゴリ：デリヘル</p>
			<p class="link"><a href="#">レビュー 12件</a></p>
		</div>
		<div class="comment">
			<p>coming soon</p>
		</div>
	</div>

<!-- box -->
	<div class="box clearfix">
		<div class="rankNum">
			<img src="/img/crown_3.png" alt="" width="78"><br />
			<img src="/img/arrow_down.png" alt="" width="78">
		</div>
		<p class="img"><img src="/img/news_shop_test_img2.png" alt="" height="80" width="80" class="img_frame"></p>
		<div class="summary">
			<p class="tt"><a href="/shop">coming soon</a></p>
			<div class="scoreInfo">
				<p>
					<img src="/img/star_on.png">
					<img src="/img/star_on.png">
					<img src="/img/star_on.png">
					<img src="/img/star_off.png">
					<img src="/img/star_off.png">
					<span class="score">3.15</span> 
				</p>
			</div>
			<p class="cat">カテゴリ：デリヘル</p> 
			<p class="link"><a href="#">レビュー 12件</a></p>
		</div>
		<div class="comment">
			<p>coming soon</p>
		</div>
	</div>
