	<div class="box_inner bigger">
		<div class="clearfix links link_arrow">
			<p class="img"><a href="<?php echo $linkCommon->get_user_girl($record); ?>"><?php echo $imgCommon->get_girl_with_time($record, array(75, 100), 1, null, 'img_frame'); ?></a></p>
			<div class="summary">
				<p class="caption">
<?php
	if($ii + 1 <= 3) {
?>
				<img src="/img/s/small_rank_<?php echo ($ii + 1); ?>_mark.png" alt="" width="25">
<?php } else { ?>
				<span class="num"><?php echo ($ii + 1) ?>位</span>
<?php } ?>
				<img src="/img/s/<?php echo $rank_image; ?>" alt="" width="30">
				<a href="<?php echo $linkCommon->get_user_girl($record); ?>"><?php echo $record['Girl']['name']; ?></a>
				<span class="font10"><?php echo $record['Girl']['age']; ?>歳</span></p>
				<p class="review">
<?php
	$score = round($record[0]['total_average'], 2);
	for($ii = 1; $ii <= 5; $ii++) {
	$suffix = ($ii <= $score) ? 'on' : 'off';
?>
					<img src="/img/star_<?php echo $suffix; ?>.png">
<?php } ?>
				<span class="cow">レビュー<?php echo $record[0]['total_cnt']; ?>件</span></p>
				<p class="tt mar_t_05"><?php echo $categories_value_list[$record['Shop']['shops_business_category_id']];?>/<?php echo $record['Shop']['name']; ?></p>
				<p class="txt"><?php echo nl2br($textCommon->get_substr_tagstrip_text($record['Girl']['owner_comment'], 16)); ?></p>
			</div>
		</div>
	</div>
