						<div class="box_inner bigger">
							<div class="clearfix links link_arrow">
								<p class="img"><a href="<?php echo $linkCommon->get_user_girl($record); ?>"><?php echo $imgCommon->get_girl_with_time($record, array(75, 100), 1, null, 'img_frame'); ?></a></p>
								<div class="summary">
									<p class="caption">
<?php
if($ii + 1 <= 3) {
?>
										<img src="/img/s/small_rank_<?php echo ($ii + 1); ?>_mark.png" alt="" width="25">
<?php } else { ?>
										<p class="num"><?php echo ($ii + 1) ?></p>
<?php } ?>
										<img src="/img/s/<?php echo $rank_image; ?>" alt="" width="30">
										<a href="<?php echo $linkCommon->get_user_girl($record); ?>"><?php echo mb_strimwidth($record['Girl']['name'],0,12,'…'); ?></a><span class="font10"><?php echo $record['Girl']['age']; ?>歳</span>
									</p>
									<p class="review">
<?php
$score = round($record[0]['total_average'], 2);
for($ii = 1; $ii <= 5; $ii++) {
    $suffix = ($ii <= $score) ? 'on' : 'off';
?>
										<img src="/img/star_<?php echo $suffix; ?>.png">
<?php } ?>
					                    <span class="cow">レビュー<?php echo $record[0]['total_cnt']; ?>件</span></p>
									<p class="shop" style="font-size:80%;"><?php echo $record['Shop']['name']; ?></p>
									<span class="cow" style="font-size:80%;">カテゴリ：<?php echo $categories_value_list[$record['Shop']['shops_business_category_id']];?></span> 
									<p class="txt"><?php echo nl2br($textCommon->get_substr_tagstrip_text($record['Girl']['owner_comment'], 16)); ?></p>
								</div>
							</div>
						</div>
