<?php
	$opentime = date('H:i', strtotime($record['System']['open_time']));
	$closetime = date('H:i', strtotime($record['System']['close_time']));
?>
<!-- shop -->
		<div class="rank_box underline">
			<div class="clearfix">
				<p class="shop_tt f_left"><a href="<?php echo $linkCommon->get_user_shop($record); ?>" class="shopName"><?php echo $record['Shop']['name']; ?></a></p>
				<div class="box_right2 f_right">
					<ul>
						<li class="icon_kuchikomi_up">口コミ<br><?php echo $record[0]['review_cnt']; ?>件</li>
					</ul>
				</div>
			</div>
		</div><!-- /shop -->
