	<div class="name_display">
<?php
	// ログイン時
	if(!empty($parent_reviewer)) {
?>
		<p>こんにちは <?php echo $parent_reviewer['Reviewer']['handle']; ?>さん </p>
<?php
// 未ログイン時
} else {
?>
		<p>ゲストさん</p>
<?php } ?>
	</div>
