	<footer>
<?php // echo $this->element('common/breadcrumb', array("breadcrumb" => $breadcrumb)); ?>
<?php /*
		<nav id="cmn-bread" class="jq-app-bc" data-bc-no-edge-scroll="left">
			<ul class="bc-inr">
				<li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/top/" itemprop="url"><span itemprop="title">HOME</span></a></li>
				<li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"></li>
			</ul>
		</nav>
*/ ?>
		<ul class="fot-link">
			<li><a href="<?php echo $linkCommon->get_abouts($record = null)?>">当サイトについて</a></li>
			<li><a href="<?php echo $linkCommon->get_terms($record = null)?>">ご利用規約</a></li>
			<li><a href="<?php echo $linkCommon->get_contacts($record = null)?>">お問い合わせ</a></li>
		</ul>
	</footer>
	<div id="copyright">Copyright © <?php echo $parent_area['LargeArea']['name']?>口コミデリヘルランキング All Rights Reserved.</div>
