	<section id="pickup_box2">
<?php if(!empty($pic_review)){ ?>
		<p id="pickup_box_tt" class="link_pi">Pick UP 口コミ</p>
<?php } ?>
<?php
	$cnt = min(count($pic_review), 1);
	for ($ii = 0; $ii < $cnt; $ii++) {
		echo $this->element('s_common/_pickup_shop', array("record" => $pic_review[$ii]));
	}
?>
	</section>
<?php // print_r($pic_review); ?>
