	<div class="shop_main">
<?php if($parent_shop['UsersAuthority']['is_shop_header_image'] == 1) { ?>
		<div class="shop_img center">
			<?php echo $imgCommon->get_shop_with_time($parent_shop, 'header_sp', true, ''); ?>
		</div>
<?php } ?>

<?php // print_r($parent_shop); ?>
		<p class="main_copy"><?php echo $parent_shop['Shop']['about_title']; ?></p>
		<p class="sub_copy font10"><?php echo nl2br($parent_shop['Shop']['about_contents']); ?></p>
	</div>
