	<section id="owner_comment">
		<div class="label2"><h3 class="label2_ttl">店長からのお知らせ</h3></div>
		<div class="round_gray_box">
			<div class="clearfix">
				<div class="f_left com_box_left"><?php echo $imgCommon->get_shop_with_time($parent_shop, 'icon', array(75, 75)); ?>
					<p>店舗名</p>
					<p class="txt_pi"><?php echo $parent_shop['Shop']['name']; ?></p>
				</div>
				<div class="f_right com_box_right">
					<p class="comment"><?php echo $parent_shop['Shop']['infomation']; ?></p>
				</div>
			</div>
		</div>
	</section><!-- /#owner_comment-->
