			<ul class="list clearfix">
<?php
	foreach($categories AS $key => $record) {
?>
				<li><a href="<?php echo $linkCommon->get_category_detail($record['MShopsBusinessCategory']['id']); ?>"><?php echo $record['MShopsBusinessCategory']['name']; ?></a></li>
<?php } ?>
			</ul>



	