<h2 class="heading">口コミレビュー</h2>
<div class="new_reviewArea clearfix">

<?php
$cnt = 0;
	$cnt = count($new_shop_review);

for ($ii = 0; $ii < $cnt; $ii++) {
    echo $this->element('common/_review', array("record" => $new_shop_review[$ii]));
}
?>
</div>
