<div class="reviewerIconArea">
    <img src="/img/news_shop_test_img2.png" height="100" width="100" />
    <p>一夜妻様</p>
</div>
<ul>
    <li class="select"><a href="/manager">トップページ</a></li>
    <li><a href="/manager/shop">店舗情報管理</a></li>
    <li><a href="/manager/girl">女の子管理</a></li>
    <li><a href="/manager/sys">システム管理</a></li>
    <li><a href="/manager/coupon">クーポン管理</a></li>
    <li><a href="/manager/review">口コミ管理</a></li>
</ul>
