<div class="pickupArea clearfix">
<?php
$cnt = min(count($recommend_girls), 6);
if($cnt > 0) { 
    for ($ii = 0; $ii < $cnt; $ii++) {
        $record = $recommend_girls[$ii];
?>
<dl>

    <dt><?php echo $record['MGirlsRecommendType']['name']; ?>がオススメ</dt>
    <dd>
        <div>
            <p class="name"><a href="<?php echo $linkCommon->get_user_girl($record); ?>"><?php echo $record['Girl']['name']; ?></a></p>
            <p><?php echo mb_substr(strip_tags($record['Girl']['owner_comment']),0,24).'…'; ?></p>

<?php /*
            <p><?php echo $record['Girl']['owner_comment']; ?></p>
<?php */ ?>
            
        </div>
        <div class="img">
            <?php echo $imgCommon->get_girl_with_time($record, 'l'); ?>
        </div>
    </dd>
</dl>
<?php
    }
}
?>

<?php /*
<dl>
    <dt>サービスがオススメ</dt>
    <dd>
        <div>
            <p class="name"><a href="/shop/detail">さくら</a></p>
            <p>綺麗系・色白Fカップ美女の入店です！</p>
        </div>
        <div class="img">
            <img src="/img/girl_image_big2.jpg" width="240" />
        </div>
        <!-- <p class="shop">サンプル店舗名</p> -->
    </dd>
</dl>

<dl>
    <dt>性格がオススメ</dt>
    <dd>
        <div>
            <p class="name"><a href="/shop/detail">ももか</a></p>
            <p>☆完全業界未経験の女性です☆</p>
        </div>
        <div class="img">
            <img src="/img/girl_image_big3.jpg" width="240" />
        </div>
        <!-- <p class="shop">サンプル店舗名</p> -->
    </dd>
</dl>

<dl>
    <dt>感度抜群がオススメ</dt>
    <dd>
        <div>
            <p class="name"><a href="/shop/detail">あいら</a></p>
            <p>細身なのにお胸は誰もが目を引く美巨乳Dカップ！</p>
        </div>
        <div class="img">
            <img src="/img/girl_image_big4.jpg" width="240" />
        </div>
        <!-- <p class="shop">サンプル店舗名</p> -->
    </dd>
</dl>

<dl>
    <dt>パイパンがオススメ</dt>
    <dd>
        <div>
            <p class="name"><a href="/shop/detail">あやめ</a></p>
            <p>物腰柔らかで優しい雰囲気がある彼女。</p>
        </div>
        <div class="img">
            <img src="/img/girl_image_big5.jpg" width="240" />
        </div>
        <!-- <p class="shop">サンプル店舗名</p> -->
    </dd>
</dl>

<dl>
    <dt>美乳がオススメ</dt>
    <dd>
        <div>
            <p class="name"><a href="/shop/detail">りな</a></p>
            <p>完全未経験の女性が入店となりました。</p>
        </div>
        <div class="img">
            <img src="/img/girl_image_big6.jpg" width="240" />
        </div>
        <!-- <p class="shop">サンプル店舗名</p> -->
    </dd>
</dl>

<?php */ ?>
</div>
