<div class="header clearfix">
    <div>
        <?php echo $imgCommon->get_shop_with_time($parent_shop, 'profile'); ?>    </div><!-- 0804変更　変更前width160px -->
    <div style="height:234px; overflow:hidden">
        <p class="catchCopy_shop"><?php echo $parent_shop['Shop']['about_title']; ?></p>
        <p><?php echo nl2br($parent_shop['Shop']['about_contents']); ?></p>
    </div>
</div>