<div class="topicArea">
	<p class="side_tt"><img src="/img/sidetopic_tt.png" alt="このエリアのイチオシのお店" height="40" width="250"></p>
	<div id="topicSlider_wrapper">

<?php
if(empty($topic_shop)) {
	echo $this->element('takamoto_side_wide/' . $parent_area['LargeArea']['id']);
} else {
?>
		<div id="topicSlider" class="inner">
<?php
	$cnt = min(count($topic_shop), 15);
	for($ii = 0; $ii < $cnt; $ii++) {
		$record = $topic_shop[$ii];
		$link = $linkCommon->get_user_shop($record);
		if($ii % 5 == 0) {
?>
			<div class="list">
<?php
		}
?>
				<div class="box">
					<div class="clearfix col01">
						<p class="img">
							<a href="<?php echo $link; ?>">
								<?php echo $imgCommon->get_shop_with_time($record, 'icon', array(100, 100)); ?>
<!--
								<img src="/img/news_shop_test_img1.png" alt="" height="100" width="100">
-->
							</a>
						</p>
						<p class="tt"><a href="<?php echo $link; ?>"><?php echo $record['Shop']['name']; ?></a></p>
						<p class="summary"><?php echo $categories_value_list[$record['Shop']['shops_business_category_id']]; ?></p>
					</div>
					<p class="txt"><?php echo $textCommon->get_substr_tagstrip_text($record['Shop']['about_contents'], 50); ?></p>
				</div>
<?php
		if($ii % 5 == 4 || $ii == $cnt - 1) {
?>
			</div>
			<!-- /list -->
<?php
		}
	}
?>
		</div>
		<!-- /topicSlider -->
<?php
}
?>

<?php /*
				<div class="box">
					<div class="clearfix col01">
						<p class="img"><a href="/shop"><img src="/img/news_shop_test_img1.png" alt="" height="100" width="100"></a></p>
						<p class="tt"><a href="/shop">奥様と秘密の関係</a></p>
						<p class="summary">デリヘル</p>
					</div>
					<p class="txt">大阪（新大阪、梅田、難波、日本橋）で人妻・奥様系デリヘル（デリバリーヘルス）と言えば『奥様と秘密の関係』です。</p>
				</div>
				<div class="box">
					<div class="clearfix col01">
						<p class="img"><a href="/shop"><img src="/img/news_shop_test_img2.png" alt="" height="100" width="100"></a></p>
						<p class="tt"><a href="/shop">一夜妻</a></p>
						<p class="summary">人妻デリヘル</p>
					</div>
					<p class="txt">南大阪発の人妻総合デリヘル厳選奥様達をホテルやご自宅へ！お陰様でリピーター様数　南大阪ナンバー１</p>
				</div>
				<div class="box">
					<div class="clearfix col01">
						<p class="img"><a href="/shop"><img src="/img/news_shop_test_img3.png" alt="" height="100" width="100"></a></p>
						<p class="tt"><a href="/shop">ドMカンパニー</a></p>
						<p class="summary">デリヘル</p>
					</div>
					<p class="txt">関西で随一の激安店♪女の子の質も言うことなし！！！☆激安価格なのに【ハイレベル】な女の子をお届け！ </p>
				</div>
				<div class="box">
					<div class="clearfix col01">
						<p class="img"><a href="/shop"><img src="/img/news_shop_test_img4.png" alt="" height="100" width="100"></a></p>
						<p class="tt"><a href="/shop">ドしろーと娘十三校</a></p>
						<p class="summary">デリヘル</p>
					</div>
					<p class="txt">遂にグランドオープン！！ドしろうと娘『大阪十三校』☆彡激カワ素人娘が制服ノーパン姿であなた様のもとに・・・普段では味わえないふしだらなシチュエーションをお楽しみ下さいませ！！</p>
				</div>
				<div class="box">
					<div class="clearfix col01">
						<p class="img"><a href="/shop"><img src="/img/news_shop_test_img5.png" alt="" height="100" width="100"></a></p>
						<p class="tt"><a href="/shop">ピンクの仔豚</a></p>
						<p class="summary">ぽっちゃりデリヘル</p>
					</div>
					<p class="txt">おっぱいが好きでたまらない、女性の絶妙なふんわり感・ぷにぷに感を堪能したい！そんな貴男の為の巨乳・ぽちゃかわメイド専門店『ピンクの仔豚』です。</p>
				</div>
			</div>
			<div class="list">
				<div class="box">
					<div class="clearfix col01">
						<p class="img"><a href="/shop"><img src="/img/news_shop_test_img1.png" alt="" height="100" width="100"></a></p>
						<p class="tt"><a href="/shop">奥様と秘密の関係</a></p>
						<p class="summary">デリヘル</p>
					</div>
					<p class="txt">大阪（新大阪、梅田、難波、日本橋）で人妻・奥様系デリヘル（デリバリーヘルス）と言えば『奥様と秘密の関係』です。</p>
				</div>
				<div class="box">
					<div class="clearfix col01">
						<p class="img"><a href="/shop"><img src="/img/news_shop_test_img2.png" alt="" height="100" width="100"></a></p>
						<p class="tt"><a href="/shop">一夜妻</a></p>
						<p class="summary">人妻デリヘル</p>
					</div>
					<p class="txt">南大阪発の人妻総合デリヘル厳選奥様達をホテルやご自宅へ！お陰様でリピーター様数　南大阪ナンバー１</p>
				</div>
				<div class="box">
					<div class="clearfix col01">
						<p class="img"><a href="/shop"><img src="/img/news_shop_test_img3.png" alt="" height="100" width="100"></a></p>
						<p class="tt"><a href="/shop">ドMカンパニー</a></p>
						<p class="summary">デリヘル</p>
					</div>
					<p class="txt">関西で随一の激安店♪女の子の質も言うことなし！！！☆激安価格なのに【ハイレベル】な女の子をお届け！ </p>
				</div>
				<div class="box">
					<div class="clearfix col01">
						<p class="img"><a href="/shop"><img src="/img/news_shop_test_img4.png" alt="" height="100" width="100"></a></p>
						<p class="tt"><a href="/shop">ドしろーと娘十三校</a></p>
						<p class="summary">デリヘル</p>
					</div>
					<p class="txt">遂にグランドオープン！！ドしろうと娘『大阪十三校』☆彡激カワ素人娘が制服ノーパン姿であなた様のもとに・・・普段では味わえないふしだらなシチュエーションをお楽しみ下さいませ！！</p>
				</div>
				<div class="box">
					<div class="clearfix col01">
						<p class="img"><a href="/shop"><img src="/img/news_shop_test_img5.png" alt="" height="100" width="100"></a></p>
						<p class="tt"><a href="/shop">ピンクの仔豚</a></p>
						<p class="summary">ぽっちゃりデリヘル</p>
					</div>
					<p class="txt">おっぱいが好きでたまらない、女性の絶妙なふんわり感・ぷにぷに感を堪能したい！そんな貴男の為の巨乳・ぽちゃかわメイド専門店『ピンクの仔豚』です。</p>
				</div>
			</div>
		</div>
*/ ?>
	</div>
	<!-- /topicSlider_wrapper -->
</div>
<!-- /topicArea -->