<div class="voiceArea">	<div class="title title06">
		<h2>投稿者ランキング</h2>	</div>	<div class="list">		<?php foreach ($reviewer as $r): ?>		<div class="box clearfix">

			<div class="img">

				<a href="<?php //echo $linkCommon->get_reviewer_reviews($r['ranking_id']); ?>">

					<?php echo $this->Html->image('face/face'. sprintf("%03d", $r['rankings']['avatar_id']) .'.png', array('width' => '50')); ?>

				</a>

			</div>

			<div class="summary">

				<p class="tt">

					<span><?php echo $r['rankings']['ranking_name']; ?></span>さん

				</p>

				<p class="txt">

					<?php echo $r['rankings']['ranking_comment']; ?>

				</p>

				<!-- <p class="option">

					<?php //echo $textCommon->escape_empty($record, 'MReviewersAge.name', '年代不明'); ?>

					<?php //echo $textCommon->escape_empty($record, 'MReviewersJob.name', '職業不明'); ?>

				</p> -->

			</div>

		</div>
		<?php endforeach; ?>		<?php echo $this->Html->link('投稿者ランキングへ', 'ranking'); ?><?php//// 	foreach($reviewer as $r)
// 	{
// 		echo ""
// 	}
//
//
//
//
//
// $cnt = min(count($new_reviewer), 5);////
// for($ii = 0; $ii < $cnt; $ii++) {////
// 	$record = $new_reviewer[$ii];////
// 	$avatar_id = $record['Reviewer']['avatar_id'] > 0 ? $record['Reviewer']['avatar_id'] : 1;////
?>
		<!-- <div class="box clearfix">
			<div class="img">
				<a href="<?php //echo $linkCommon->get_reviewer_reviews($record); ?>">
					<?php //echo $imgCommon->get_reviewer_avatar($record, array(50,50), 'img_frame'); ?>
				</a>
			</div>
			<div class="summary">
				<p class="tt">
					<span><?php //echo $record['Reviewer']['handle']; ?></span>さん
				</p>
				<p class="txt">
					<?php //echo $record['Reviewer']['comment']; ?>
				</p>
				<p class="option">
					<?php //echo $textCommon->escape_empty($record, 'MReviewersAge.name', '年代不明'); ?>
					<?php //echo $textCommon->escape_empty($record, 'MReviewersJob.name', '職業不明'); ?>
				</p>
			</div>
		</div> -->
<?php////
// }////
?>
	</div>
</div>


<?php /*
	<div class="list">
		<div class="box clearfix">
			<div class="img"><a href="#"><img src="/img/tab_topictoukou_img1.png" alt="" height="50" width="50" class="img_frame"></a></div>
			<div class="summary">
				<p class="tt"><span>デリヘル貴族</span>さん</p>
				<p class="txt">デリヘル専門のデリヘル貴族です。たまにソープも行きます。</p>
				<p class="option">30代後半 会社員</p>
			</div>
		</div>
		<div class="box clearfix">
			<div class="img"><a href="#"><img src="/img/tab_topictoukou_img2.png" alt="" height="50" width="50" class="img_frame"></a></div>
			<div class="summary">
				<p class="tt"><span>キャベツさん太郎</span>さん</p>
				<p class="txt">お笑いなどのバラエティー番組を見るのが大好きです♪</p>
				<p class="option">40代後半 自営業</p>
			</div>
		</div>
		<div class="box clearfix">
			<div class="img"><a href="#"><img src="/img/tab_topictoukou_img3.png" alt="" height="50" width="50" class="img_frame"></a></div>
			<div class="summary">
				<p class="tt"><span>ハチミツボーイ</span>さん</p>
				<p class="txt">仕事はサラリーマンで土日が休みです！スポーツが大好きです！</p>
				<p class="option">20代後半 アルバイト</p>
			</div>
		</div>
		<div class="box clearfix">
			<div class="img"><a href="#"><img src="/img/tab_topictoukou_img1.png" alt="" height="50" width="50" class="img_frame"></a></div>
			<div class="summary">
				<p class="tt"><span>デリヘル貴族</span>さん</p>
				<p class="txt">デリヘル専門のデリヘル貴族です。たまにソープも行きます。</p>
				<p class="option">30代後半 会社員</p>
			</div>
		</div>
		<div class="box clearfix">
			<div class="img"><a href="#"><img src="/img/tab_topictoukou_img2.png" alt="" height="50" width="50" class="img_frame"></a></div>
			<div class="summary">
				<p class="tt"><span>キャベツさん太郎</span>さん</p>
				<p class="txt">お笑いなどのバラエティー番組を見るのが大好きです♪</p>
				<p class="option">40代後半 自営業</p>
			</div>
		</div>
	</div>
</div>
*/ ?>