<!-- rankingMenuArea --><div class="rankingMenuArea reviewArea">	<div class="inner">		<p class="side_tt"><img src="/img/side_left_label_review.jpg" alt="口コミから探す" height="45" width="240"></p>		<ul class="list">			<li><strong><a href="#">口コミを投稿する</a></strong></li>			<li><a href="#">最新から順番に見る</a></li>			<li><a href="#">お店別の口コミ</a></li>			<li><a href="#">エリア別の口コミ</a></li>			<li><a href="#">投稿者ランキング</a></li>		</ul>	</div></div><!-- /rankingArea -->
