
<div style="text-align:left;padding:5px;font-size:medium;background-color:#EFEBE3">
	口コミ投票完了
</div>

<div style="text-align:left;padding:3px;">
	口コミの投票が完了しました。
</div>

<hr color="#DED7C8" />

<div style="text-align:center;padding:3px;">
	[<a href="<?php echo $linkCommon->get_user_review($review)?>">口コミへ戻る</a>]
</div>
<hr color="#DED7C8" />

<div style="text-align:center;padding:3px;">
	[<a href="<?php echo $linkCommon->get_top($parent_area)?>">トップページへ</a>]
</div>

<?php //echo var_dump($list)?>
