
<div style="text-align:left;padding:5px;font-size:medium;background-color:#EFEBE3">
	女の子一覧
</div>

<?php foreach($girls as $key => $record){ ?>
<div style="text-align:left;padding:3px;">
    	<a href="<?php echo $linkCommon->get_user_girl($record)?>"><?php echo $record['Girl']['name'] ?></a><br />
    	<?php echo $textCommon->get_3size($record)?><br />
    	<span style="color:#0B72B5;">口コミ  <?php echo $record[0]['count']?>件</span>
</div>
<hr color="#DED7C8" />
<?php } ?>

<?php echo $this->element('pagenate/i_numbers'); ?>

<hr color="#DED7C8" />

<div style="text-align:center;padding:3px;">
	[<a href="<?php echo $linkCommon->get_top($parent_area)?>">戻る</a>]
</div>