


<h3 class="rank_h2" style="margin-top:5px;">女の子プロフィール</h3>

<?php echo $this->element('s_girl_profile'); ?>



<h2 class="midashih2">
	<?php echo $girl['Girl']['name']?>さんの口コミ
</h2>

<div class="review_end">
	口コミの投稿ありがとうございました。
</div>

<div style="text-align:center; margin-right:auto; margin-left:auto;">
<a href="<?php echo $linkCommon->get_user_review($data)?>" data-role="button" data-inline="true">確認する</a>
<a href="<?php echo $linkCommon->get_user_girl($data)?>" data-role="button" data-inline="true">女の子へ戻る</a>
</div>
