		<div class="box">
			<a href="http://osaka.dhrank.com/4897">
				<img src="http://img.dhrank.com/shop/4897/image_recommend.jpg" width="244" height="72">
			</a>
			<p class="tt">クラブバーニング</p>
			<p class="caption">高級デリヘル</p>
			<p>当店では、容姿端麗なのはもとより、品格とマナーを備えた最高級の女性のみを揃えております。 Tバック・ガーターベルト・網タイツorストッキングは標準装備とさせていただき、”大人のいい女”を演出いたしました。 全てはお客様にご満足していただくために、120％のサービスを。 日々の疲れを癒す安らぎと喜びを、そして「バーニング」の名に恥じぬ情熱的で刺激に溢れたひとときをご堪能下さい。</p>
		</div>
<box>

		<div class="box">
			<a href="http://osaka.dhrank.com/5255">
				<img src="http://img.dhrank.com/shop/5255/image_recommend.jpg" width="244" height="72">
			</a>
			<p class="tt">ドMカンパニー大阪店</p>
			<p class="caption">デリヘル</p>
			<p>【掲載時限定イベント！！】 完全細身！！完全ドＭ！！ オールオプション完全無料！! ◎高級店レベルの女の子をお約束！！ 赤字覚悟の大大大・・・サービス！！ ８０分９０００円！！ １００分１３０００円！！(超お得！) １３０分１７０００円！！ １９０分２５０００円！！ ２５０分３３０００円！！ ※ＡＦコースは１００分以上のコースからになります！！ ※受付時に【田村割り】と必ずお伝えください！！ 受付後のイベント適用は不可となります！</p>
		</div>
<box>
