<!-- box -->
		<div class="box">
			<a href="http://fukuoka.dhrank.com/4673">
				<img src="http://img.dhrank.com/shop/4673/image_recommend.jpg" width="244">
			</a>
			<p class="tt">博多美人妻</p>
			<p class="caption">人妻デリヘル</p>
			<p>博多美人の人妻が、貴男の心と身体を癒します愛が込められた本当のサービスで至福の世界を…。在籍している女性は全て当店が厳選を重ねた美女となっています。接客・おもてなし・性格と。ただ快感を満足させるだけではなく、さらにその先の一歩を堪能できます。</p>
		</div>
<!-- /box -->

<!-- box -->
		<div class="box">
			<a href="http://fukuoka.dhrank.com/12679">
				<img src="http://img.dhrank.com/shop/12679/image_recommend.jpg" width="244">
			</a>
			<p class="tt">博多人妻.jp</p>
			<p class="caption">デリヘル</p>
			<p>今月のキャンペーンは指名料無料です!!
当店で安く楽しくお遊び下さい。</p>
		</div>
<!-- /box -->
