		<div class="box">
			<a href="http://okayama.dhrank.com/8970">
				<img src="http://img.dhrank.com/shop/8970/image_recommend.jpg" width="244">
			</a>
			<p class="tt">club ONLY ONE(クラブオンリーワン)</p>
			<p class="caption">デリヘル</p>
			<p>最高級出張クラブ オンリーワン［OnlyOne］女性の質とサービスにこだわりました。絶対の自信を持って最高級美女との時間を味わって頂く事をお約束いたします。</p>
		</div>
<!-- box -->