
<div style="text-align:center;padding:10px;">
	<img src="/images/i/index.jpg" /><br />

<div style="text-align:center;padding:2px;background-color:#97BF12;color:#ffffff;font-weight:bold;margin-bottom:5px;">
	<?php echo $parent_area['LargeArea']['name']?>
</div>

	<img src="/images/i/18k.jpg" /><br />

	当サイト内には、<br />
    成人向けコンテンツが含まれます。<br />
	高校生及び18歳未満の方の<br />
    閲覧・ご入場は固くお断りいたします。
</div>



<div style="text-align:center;padding:10px;background-color:#97BF12;color:#ffffff;font-weight:bold;font-size:medium;">
	<a href="top" style="color:#ffffff">ENTER・18歳以上</a>
</div>

<div style="text-align:center;padding:10px;">
	[<a href="http://www.yahoo.jp">18歳未満</a>]
</div>

<div style="text-align:center;margin-top:10px;">
<!--	<a href="https://twitter.com/"><img src="/images/i/twitter.png" border="0" /></a><br /> -->
	<a href="http://fuuzoku-seo.net/m/"><img src="/images/i/seo.jpg" border="0" /></a><br />
<!--	<a href="http://www.sho-ya.biz/i/"><img src="/images/i/shoya24.gif" border="0" /></a> -->
</div>




