
<h2 class="shop_h2">口コミ管理</h2>

<h3 class="rank_h2">口コミ削除完了</h3>

<p style="text-align:left;font-size:16px;">
口コミの削除が完了しました。
</p>


<div align="center" style="margin-top:40px;">
<a href="<?php echo $linkCommon->get_reviews_index() ?>" class="btn_navi">一覧に戻る</a>
</div>




<?php //echo var_dump($shop);?>
<?php //echo var_dump($today_girls);?>

