		<div class="pageCounter">
			<span class="num">1</span><span>件のアロマ・エステ・デリヘルがあります</span>
			<span><img src="/img/left.png" /><!-- a href="#" -->前へ<!-- /a -->　1/1ページ　<!-- a href="#" -->次へ<!-- /a --><img src="/img/right.png" /></span>
		</div>

		<!--shop no1-->
		<div class="shopList_frame">
			<div>
				<a href="http://ikebukuro.dhrank.com/6240" class="shopName">蜜系アロマ＆回春エステ～Energy～エナジー</a>　<span class="kuchikomi">UP</span>
				<a href="http://ikebukuro.dhrank.com/6240" class="css_btn_class">詳細を見る</a>
			</div>
			<div class="pay_mark clearfix">
				<!-- p class="pay_yoyaku">先行予約OK</p -->
				<p class="pay_credit">クレジットOK</p>
				<p class="pay_ryoshu">領収書OK</p>
				<!-- p class="pay_machi">待ち合わせOK</p -->
				<!-- p class="pay_cosplay">コスプレあり</p -->
				<p class="pay_coupon">クーポンあり</p>
			</div>
		</div>

		<div class="shopList_main clearfix">
			<div>
				<a href="http://ikebukuro.dhrank.com/6240"><img src="http://img.dhrank.com/shop/6240/image_list.jpg" width="160" height="210" class="img_frame" /></a>
			</div>
			<div>
				<p class="catchCopy"><b><strong>▼デリヘルに飽き飽きしている貴男のための濃密回春エステ▼</strong></b></p>
				<p>日本人&美巨乳専門店!『ヌクだけの風俗はもう嫌だ!』と心底お考えの皆様に♪本気の甘い接客と蜜のようにとろける本格マッサージ♪虜になる...</p>
				<div class="shopListLeft">
					<dl class="clearfix">
						<dt>営業時間</dt>
						<dd>14:00〜04:00</dd>
						<dt>最低料金</dt>
						<dd>19000円〜</dd>
						<dt>住所</dt>
						<dd>池袋発～都内23区</dd>
					</dl>
					<p class="shopNum">
						<span class="zaiseki">在籍数:</span><span class="num">48人</span>
						<span class="kuchikomi2">口コミ:</span><span class="num">0件</span>
					</p>
				</div>
				<div class="shopListRight">
					<a href="http://ikebukuro.dhrank.com/6240" class="css_btn_more">詳細を見る</a><a href="#" class="css_btn_bookmark">お気に入りに保存</a><!-- <p><img src="/img/shop_banner.jpg" /></p> -->
				</div>
				<div class="shopListBottom clearfix">
					<ul>
						<li><span class="type1">新規</span>coming soon</li>
						<li><span class="type2">会員</span>coming soon</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /shop no1 -->
