<h1>掲示板</h1>
<form action="/s/test_boards/add/" method="POST">
<?php
	if (isset($validationErrors))
	{
		foreach($validationErrors as $key => $val)
		{
        	echo 'エラー： '. $val . '<br/>';
		}
	}
?>
お名前：<input type="text" name="name" value="" /><br />
内容：<textarea name="comment" cols="80" rows="10">
</textarea><br />
<input type="submit" name="submit" value="投稿" />
</form>
<table>
<?php
	foreach($boards_data as $key => $val)
	{
		echo '<tr>';
		echo '<td>'.$val['TestBoards']['id'] . ': ' . htmlspecialchars($val['TestBoards']['name']). 'さん</td>';
		echo '</tr>';
		echo '<tr>';
		echo '<td>書き込み内容:</td>';
		echo '</tr>';
		echo '<tr>';
		echo '<td>' . nl2br(htmlspecialchars($val['TestBoards']['comment'])) . '</td>';
		echo '</tr>';
	}
?>
</table>
