
<div style="text-align:left;padding:5px;font-size:medium;background-color:#EFEBE3">
	口コミ投稿・エラー
</div>

<div style="text-align:left;padding:3px;">
	投稿することが出来ません。詳しくはお問い合わせください。
</div>

<hr color="#DED7C8" />

<div style="text-align:center;padding:3px;">
	[<a href="<?php echo $linkCommon->get_user_shop($parent_shop)?>">店舗トップへ</a>]
</div>
<hr color="#DED7C8" />

<div style="text-align:center;padding:3px;">
	[<a href="<?php echo $linkCommon->get_top($parent_area)?>">トップページへ</a>]
</div>

<?php //echo var_dump($list)?>
