

<h2 class="midashih2">
	口コミ投稿・エラー
</h2>

<div>
	投稿することが出来ません。詳しくはお問い合わせください。
</div>

<div style="text-align:center; margin-right:auto; margin-left:auto;">
<a href="<?php echo $linkCommon->get_user_shop($parent_shop)?>" data-role="button" data-inline="true">店舗トップへ</a>
</div>
