<?php	if(strstr($this->Html->url(), 'area'))	{		$paginator->options(array('url' => array('small_area_id' => $this->Session->read('Area.smallArea'))));	}	elseif(strstr($this->Html->url(), 'category'))	{		$paginator->options(array('url' => array('business_category_id' => $this->params['business_category_id'])));	}?>

<div class="page_navi">
<?php
	if($paginator->hasPrev()) {
?>
		<p><?php echo $paginator->prev('戻る'); ?></p>
<?php
	}
?>
<?php /*
	echo $paginator->numbers(array(
		'tag' => 'li',
		'separator' => '',
	));
*/ ?>

            <?php echo $this->element('s_pagenate/numbers'); ?>


<?php
	if($paginator->hasNext()) {
?>
	<p><?php echo $paginator->next('次へ'); ?></p>
<?php
	}
?>
</div>
<?php //echo $paginator->numbers(array('first' => 1, 'last' => 1, 'modulus' => 2, 'tag' => 'li', 'separator' => ''));?>



<!--
		<div class="page_navi">
			<p><a href="#">戻る</a></p>
			<p>2/5ページ</p>
			<p><a href="#">次へ</a></p>
		</div>
-->
