
<h3>禁止個体識別番号一覧</h3>

<table>
	<tr style='color: #000066; background-color: #AAAAFF'>
		<th>設定日</th>
		<th>個体識別番号</th>
		<th>解除</th>
	</tr>

	<?php foreach($list as $record){ ?>
	<tr style='color: #000099; background-color: #DDDDFF'>
		<td><?php echo $record['VetoUidReview']['created'] ?></td>
		<td><?php echo $record['VetoUidReview']['name'] ?></td>
		<td><a href="/reviews/cancel_veto_uid/<?php echo $record['VetoUidReview']['id'] ?>">解除</a></td>
	</tr>
	<?php } ?>
</table>