
<h3>禁止IPアドレス一覧</h3>

<table>
	<tr style='color: #000066; background-color: #AAAAFF'>
		<th>設定日</th>
		<th>IPアドレス</th>
		<th>解除</th>
	</tr>

	<?php foreach($list as $record){ ?>
	<tr style='color: #000099; background-color: #DDDDFF'>
		<td><?php echo $record['VetoIpAddressReview']['created'] ?></td>
		<td><?php echo $record['VetoIpAddressReview']['name'] ?></td>
		<td><a href="/reviews/cancel_veto_ip_address/<?php echo $record['VetoIpAddressReview']['id'] ?>">解除</a></td>
	</tr>
	<?php } ?>
</table>