    <div class="bottom_banner">
        <img src="<?php echo APP_IMG_URL. 'shop/' .$bottom_banner[0]['Shop']['user_id']. '/' .$bottom_banner[0]['Shop']['image_list_sp']; ?>" alt="イメージリストSP画像" width="100%"/>
    </div>
