	<section id="shop_category_box">


			<div id="search_box">

	<?php echo $form->create(null, array('url' => '/s/search', 'id' => 'SearchForm')); ?>
		<!-- 検索フォーム -->
				<input type="hidden" name="data[Search][type]" id="shop" value="shop" checked="">	
				<input id="keywords4" type="text" name="data[Search][text]" />
				<input id="searchBtn4" type="image" src="/img/s/top_search_btn.png" onclick="do_search();">
		<!-- / 検索フォーム -->
	<?php echo $form->end(); ?>

		</div>
