	<footer>
		<ul class="fot-link">
			<li><a href="<?php echo $linkCommon->get_abouts($record = null)?>">当サイトについて</a></li>
			<li><a href="<?php echo $linkCommon->get_terms($record = null)?>">ご利用規約</a></li>
			<li><a href="<?php echo $linkCommon->get_contacts($record = null)?>">お問い合わせ</a></li>
		</ul>
	</footer>
	<div id="copyright">Copyright © <?php echo $parent_area['LargeArea']['name']?>口コミデリヘルランキング All Rights Reserved.</div>