		<h3 class="label_3">他の女の子の口コミ</h3>
		<section>
			<div id="newSlideShow2" class="osusume_girl" >
<?php
$cnt = count($other_girls);
foreach($other_girls AS $key => $record) {
	if($key % 6 == 0) {
?>
<?php
	}
?>
				<div><a href="<?php echo $linkCommon->get_user_girl($record); ?>"><?php echo $imgCommon->get_girl_with_time($record, array(90, 120), 1); ?></a></div>
<?php
    if($key % 6 == 5 || $key == $cnt - 1) {
?>

<?php
    }
}
?>
			</div>
		</section>
