<p id="shop_img" class="center"><?php echo $imgCommon->get_girl($girl, 'l', 1, 'ph01')?></p>


<div id="mainImages" class="mainImageInit">
	<ul>
		<?php for($i=0;$i<3;$i++){?><li id="mainImage"><?php echo $imgCommon->get_girl($girl, 'l', $i+1)?></li><?php }?>
	</ul>
</div>

<?php /*
		<?php if($parent_reviewer){?>
		<?php
		$this->Html->script('jquery');

		$this->Js->get('#bookmark_girl');
		//start---2013/3/13 障害No.1-6-0002修正
		//$request = $this->Js->request('/' . $parent_shop['User']['id'] . '/getAjax_update_bookmark_girl/' . $girl['Girl']['id'],
		$request = $this->Js->request('/s/' . $parent_shop['User']['id'] . '/getAjax_update_bookmark_girl/' . $girl['Girl']['id'],
		//end---2013/3/13 障害No.1-6-0002修正
				array(
						'method' => 'get',
						'sync' => true,
						'update' => '#bookmark_girl',
				)
		);
		$this->Js->event('click',$request);
		echo $this->Js->writeBuffer();
		?>
		<div style="vertical-align:top;float:right">
		<a href="#" style="position:bottom">
		<span id="bookmark_girl">
			<?php if($bookmark_girl == 0){?>
			<img src="/images/s/bookmark.png" width="63px" />
			<?php }else{?>
			<img src="/images/s/bookmark_off.png" width="63px" />
			<?php }?>
		</span>
		</a>
		</div>
		<?php }else{?>
		<a href="<?php echo $linkCommon->get_accounts_login($parent_area);?>"><img src="/images/s/bookmark.png" style="vertical-align:top;float:right" width="63px" /></a>
		<?php }?>
*/ ?>

		<p class="btn_gr" style="margin-bottom:10px"><a href="#">お気に入りの女の子に追加</a></p>

		<h3 class="label_3">プロフィール</h3>
		<table>
			<tr>
				<th>名前</th>
				<td><?php echo $girl['Girl']['name']?></td>
			</tr>
			<tr>
				<th>年齢</th>
				<td><?php echo $girl['Girl']['age']?>歳</td>
			</tr>
		</table>

		<p class="btn_pi"><a href="../post.html">口コミを投稿する</a></p>

		<h3 class="label_3">スタイル</h3>
		<table>
			<tr>
				<th>身長</th>
				<td><?php echo $girl['Girl']['body_height']?>cm</td>
			</tr>
			<tr>
				<th>3サイズ</th>
				<td><?php echo $textCommon->get_3size_on_profile($girl)?></td>
			</tr>
		</table>

		<h3 class="label_3">店長からのコメント</h3>
		<p class="txt"><?php echo $girl['Girl']['owner_comment']?></p>

		<h3 class="label">新着口コミ(<?php echo $girl['Girl']['name']?>)</h3>

<?php if($this->params["action"] != 's_add_review_girl' && $this->params["action"] != 's_add_review_girl_confirm' && $this->params["action"] != 's_add_review_girl_end'){?>
<p style="margin-top:20px; text-align:center">
	<a href="<?php echo $linkCommon->get_user_add_review_girl($girl)?>" class="btn_post">この女の子の口コミを投稿する</a>
<!--	<a href="<?php echo $linkCommon->get_user_add_review_girl($girl)?>" class="btn_post"><?php echo $girl['Girl']['name']?>さんの口コミを投稿する</a> -->
</p>
<?php }?>


<br />






