		<p class="btn_left"><a href="<?php echo $linkCommon->get_user_shop($parent_shop); ?>">このお店のトップページ</a></p>
		<p class="btn_left"><a href="<?php echo $linkCommon->get_user_girls($parent_shop); ?>">このお店の女の子一覧</a></p>
<?php
	// 有料の場合のみ
	if($parent_shop['UsersAuthority']['is_show_all_contents_by_shop'] == 1) {
?>
		<p class="btn_left"><a href="<?php echo $linkCommon->get_user_coupons($parent_shop); ?>">このお店のクーポン情報</a></p>
<?php } ?>
		<p class="btn_left"><a href="<?php echo $linkCommon->get_user_systems($parent_shop); ?>">このお店のシステム</a></p>
<?php
	// 有料の場合のみ
	if($parent_shop['UsersAuthority']['is_show_all_contents_by_shop'] == 1) {
?>
		<p class="btn_left"><a href="<?php echo $linkCommon->get_user_reviews($parent_shop); ?>">このお店の口コミ</a></p>
<?php } ?>
		<p class="btn_left"><a href="../../">総合トップ</a></p>
