	<h3 class="label">新着口コミ</h3>
	<section id="pickup_box">
<?php
	$cnt = 0;
	$cnt = count($new_shop_review);
	for ($ii = 0; $ii < $cnt; $ii++) {
		echo $this->element('s_common/_shop_review', array("record" => $new_shop_review[$ii]));
	}
?>
	</section>
