	<section id="top_pickup_box">
		<p id="top_new_review_tt" class="link_pi">新着口コミ</p>
<?php
$cnt = min(count($new_review), 5);
for ($ii = 0; $ii < $cnt; $ii++) {
	echo $this->element('s_common/_review_newest', array("record" => $new_review[$ii]));
}
?>
		<p class="btn_pi"><a href="/s/newest">もっと見る</a></p>
	</section><!-- /#pickup_box-->
<?php // print_r($new_review); ?>
