<script>
function do_search() {
	$('#SearchForm').submit();
}
</script>
	<section id="shop_category_box">
		<p id="shop_category_box_tt" class="link_pi">お店を探す</p>

			<div id="search_box">

	<?php echo $form->create(null, array('url' => '/s/search', 'id' => 'SearchForm')); ?>
		<!-- 検索フォーム -->
				<input type="hidden" name="data[Search][type]" id="shop" value="shop" checked=""><!-- 	
				 --><input id="keywords4" type="text" name="data[Search][text]" /><!-- 
				 --><input id="searchBtn4" type="image" src="/img/s/top_search_btn.png" onclick="do_search();">
		<!-- / 検索フォーム -->
	<?php echo $form->end(); ?>

		</div>

<!--
<form action="./mc/result.html" name="searchform4" id="searchform4" method="get" class="clearfix">
<input name="keywords4" id="keywords4" value="" type="text" />
<input name="searchBtn4" id="searchBtn4" type="image" src="/img/s/top_search_btn.png" alt="検索">
</form>

<input type="radio" name="data[Search][type]" id="shop" value="shop" checked="">
<label for="shop" class="switch-shop">店名</label>
<input type="radio" name="data[Search][type]" id="girl" value="girl">
<label for="girl" class="switch-girl">女の子</label>
<input type="text" name="data[Search][text]">
<p class="redBtn barBtn"><a href="#" onclick="do_search();">検索</a></p>
-->
