	<section id="reference_box">
		<p id="reference_box_tt" class="link_pi">参考になった口コミランキング</p>
		<div class="clearfix">
			<p class="f_right font08 mar_t_05 mar_b_05">毎週日曜日更新！</p>
		</div>
<?php
	$cnt = min(count($helpful_review), 3);
	for ($ii = 0; $ii < $cnt; $ii++) {
		$record = $helpful_review[$ii];
		$rank_image = 'arrow_up2.png';
	// 急上昇
	// if($record['SummaryData']['prev_rank'] > 5 && $record['SummaryData']['rank'] <= 3) {
	// 	$rank_image = 'arrow_up2.png';
	// } else if($record['SummaryData']['prev_rank'] == $record['SummaryData']['rank']) {
	// 	// ステイ
	// 	$rank_image = 'arrow_stay.png';
	// } else if($record['SummaryData']['prev_rank'] < $record['SummaryData']['rank']) {
	// 	// ダウン
	// 	$rank_image = 'arrow_down.png';
	// } else {
	// 	// アップ
	// 	$rank_image = 'arrow_up.png';
	// }

	$param = array(
		'record' => $record,
		'ii' => $ii,
		'rank_image' => $rank_image,
	);
	echo $this->element('s_common/_review_ranking', $param);
}
?>
	</section>
<?php // print_r($new_review); ?>
