		<section id="shop_topic_box">
			<p id="shop_topic_box_tt" class="link_pi">お店激押し売れっ子</p>
			<div id="girlsSlideShow"  class="list">
<?php
if(!empty($recommend_girls)) {
	foreach($recommend_girls AS $key => $record) {
?>
				<div><a href="<?php echo $linkCommon->get_user_girl($record); ?>"><?php echo $imgCommon->get_girl_with_time($record, array(120, 160)); ?></a></div>
<?php
	}
}
?>
			</div>
		</section>
		<p class="btn_pi"><a href="/s/recommend/girl">もっと見る</a></p>

