			<div class="all_rank_box clearfix links link_arrow">
				<p class="img2 mar_r_15"><a href="<?php echo $linkCommon->get_user_shop($record); ?>"><?php echo $imgCommon->get_shop_with_time($record, 'icon', array(100, 100)); ?></a></p>
				<div class="summary" style="margin-top:8px;">
<?php
	if($ii + 1 <= 3) {
?>
					<p><span><img src="/img/s/small_rank_<?php echo ($ii + 1); ?>_mark.png" height="28" width="25">
<?php } else { ?>
					<p class="num"><?php echo ($ii + 1) ?>位
<?php } ?>
					<img src="/img/s/<?php echo $rank_image; ?>" height="28" width="25"></span></p>
				</div>
				<div class="tt"><?php echo mb_strimwidth($record['Shop']['name'],0,40, "…"); ?></div>
				<p class="caption"><?php echo $categories_value_list[$record['Shop']['shops_business_category_id']];?></p>
				<p class="option"><span class="cat">口コミ <?php echo $record[0]['total_cnt']; ?>件</span>
<?php if($record['Coupon']['cnt'] > 0) { ?>
					<span class="coupon_mark">クーポン発行</span>
<?php
	}
?>
				</p>
			</div>
<?php // print_r($record); ?>