		<div class="btn_area">
			<p id="line_btn"><a href="line://msg/text/<?php echo $parent_area['LargeArea']['name']?>口コミデリヘルランキング 
			<?php echo (empty($_SERVER["HTTPS"]) ? "http://" : "https://") . $_SERVER["HTTP_HOST"] . $_SERVER["REQUEST_URI"];?>"><span><img src="/img/line_ico.png" height="130" width="131"></span>LINEで送る</a></p>
			<p id="mail_btn"><a href="mailto:?body=<?php echo $parent_area['LargeArea']['name']?>口コミデリヘルランキング <?php echo (empty($_SERVER["HTTPS"]) ? "http://" : "https://") . $_SERVER["HTTP_HOST"] . $_SERVER["REQUEST_URI"];?>"><span><img src="/img/mail_ico2.png" height="130" width="131"></span>メールで送る</a></p>
		</div>
