		<h3 class="label">店長さんのオススメ！</h3>
		<section>
			<div id="newSlideShow2" class="list">
<?php
$cnt = min(count($recommend_girls), 6);
if($cnt > 0) { 
    for ($ii = 0; $ii < $cnt; $ii++) {
        $record = $recommend_girls[$ii];
?>
				 <div><a href="<?php echo $linkCommon->get_user_girl($record); ?>"><?php echo $imgCommon->get_girl_with_time($record, 'm'); ?></a></div>
<?php
    }
}
?>

</div>
		</section>
