	<section id="pickup_box2">
		<p id="pickup_box_tt" class="link_pi">Pick UP 口コミ</p>
<?php
$cnt = min(count($pic_review), 1);
for ($ii = 0; $ii < $cnt; $ii++) {
	echo $this->element('s_common/_pic_newest', array("record" => $pic_review[$ii]));
}
?>
	</section>
<?php // print_r($pic_review); ?>
