<h3>店舗アカウントを登録できません。<br />大エリアを先に登録してください。</h3>

<?php //start---2013/3/1 障害No.1-1-0002修正 ?>
<?php if($parent_admin['Admin']['is_auth_large_areas'] == 1){?>
<a href="/large_areas/add">大エリア登録画面へ</a><br />
<?php }?>
<?php //end---2013/3/1 障害No.1-1-0002修正 ?>

<a href="/">トップページへ</a>
