<section id="middle" class="two">
    <div class="title_bar">プロフィール画像変更</div> 
    <div class="inner profileTable">
    
    <form enctype="multipart/form-data" id="UserEditForm" method="post" action="/reviewer/profile" accept-charset="utf-8">
    
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td align="center">
                    <img src="/img/tab_topictoukou_img1.png" width="100px" /><br />
                    <input type="radio" name="usericon" value="1">この画像にする
                </td>
                <td align="center">
                    <img src="/img/tab_topictoukou_img2.png" width="100px" /><br />
                    <input type="radio" name="usericon" value="2">この画像にする
                </td>
                <td align="center">
                    <img src="/img/tab_topictoukou_img3.png" width="100px" /><br />
                    <input type="radio" name="usericon" value="3">この画像にする
                </td>
                <td align="center">
                    <img src="/img/tab_topictoukou_img4.png" width="100px" /><br />
                    <input type="radio" name="usericon" value="4">この画像にする
                </td>
                <td align="center">
                    <img src="/img/tab_topictoukou_img5.png" width="100px" /><br />
                    <input type="radio" name="usericon" value="5">この画像にする
                </td>
            </tr>
        </table>  
        
        <div align="center" style="margin-top:40px;">
        <div class="submit"><input class="btn_navi" type="submit" value="変更する" /></div></div>
    </form>
              
    </div>
</section>