
<div style="text-align:center;padding:3px;">
    	<?php echo $imgCommon->get_girl($girl, 'm', 1, 'main_girl')?><br />
 <!--   	<?php for($i=0;$i<4;$i++){?>[<a href="<?php echo $linkCommon->get_girls_image($girl, 'l', $i+1)?>"><?php echo (string)($i+1)?></a>]<?php }?> -->
</div>

<div style="text-align:left;padding:3px;background-color:#FDF4E7">
    	<table width="240">
		<tr><td width="50%" style="font-size:medium;"><?php echo $girl['Girl']['name']?><span style="font-size:x-small;">(<?php echo $girl['Girl']['age']?>)</span></td>
        <td width="50%" align="right">
		<?php if($parent_reviewer){?>
		[<a href="<?php echo $linkCommon->get_user_add_girls_bookmark_end($girl)?>"><?php if($bookmark_girl == 0){?>ブックマーク追加<?php }else{?>ブックマーク登録済<?php }?></a>]
		<?php }else{?>
		[<a href="<?php echo $linkCommon->get_accounts_login($parent_area);?>">ブックマーク追加</a>]
		<?php }?>
        </td></tr>
		</table><br />
        <?php echo $girl['Girl']['body_height']?>cm - <?php echo $textCommon->get_3size_on_profile($girl)?>
</div>

<?php if($this->params["action"] != 'i_add_review_girl' && $this->params["action"] != 'i_add_review_girl_confirm' && $this->params["action"] != 'i_add_review_girl_end'){?>
<div style="text-align:center;padding:3px;">

	[<a href="<?php echo $linkCommon->get_user_add_review_girl($girl)?>?guid=ON">この女の子の口コミを投稿する</a>]

<?php //start---2013/3/6 障害No.3-0003修正 ?>
<!--	[<a href="<?php echo $linkCommon->get_user_add_review_girl($girl)?>?guid=ON"><?php echo $girl['Girl']['name']?>さんの口コミを投稿する</a>] -->
<?php //end---2013/3/6 障害No.3-0003修正 ?>
</div>
<?php }?>


