		<div class="pageCounter">
			<span class="num">3</span><span>件のデリヘルがあります</span>
			<span><img src="/img/left.png" /><!-- a href="#" -->前へ<!-- /a -->　1/1ページ　<!-- a href="#" -->次へ<!-- /a --><img src="/img/right.png" /></span>
		</div>

<!-- shop -->
		<div class="shopList_frame">
			<div>
				<a href="http://miyazaki.dhrank.com/12657" class="shopName">ママらんど宮崎店</a>　<span class="kuchikomi">UP</span>
				<a href="http://miyazaki.dhrank.com/12657" class="css_btn_class">詳細を見る</a>
			</div>
			<div class="pay_mark clearfix">
				<!-- p class="pay_yoyaku">先行予約OK</p>
				<p class="pay_credit">クレジットOK</p>
				<p class="pay_ryoshu">領収書OK</p>
				<p class="pay_machi">待ち合わせOK</p>
				<p class="pay_cosplay">コスプレあり</p>
				<p class="pay_coupon">クーポンあり</p -->
			</div>
		</div>
		<div class="shopList_main clearfix">
			<div>
				<a href="http://miyazaki.dhrank.com/12657"><img src="http://img.dhrank.com/shop/12657/image_list.jpg" width="160" height="210" class="img_frame" /></a>
			</div>
			<div>
				<p class="catchCopy"><b><strong>綺麗なママは好きですか？</strong></b></p>
				<p>そんな大人な女性たちと過ごせる時間</p>
				<div class="shopListLeft">
					<dl class="clearfix">
						<dt>営業時間</dt>
						<dd>10:00〜02:00</dd>
						<dt>最低料金</dt>
						<dd>8,000円〜</dd>
						<dt>住所</dt>
						<dd>宮崎市発</dd>
					</dl>
					<p class="shopNum">
						<span class="zaiseki">在籍数:</span><span class="num">19人</span>
						<span class="kuchikomi2">口コミ:</span><span class="num">0件</span>
					</p>
				</div>
				<div class="shopListRight">
					<a href="http://miyazaki.dhrank.com/12657" class="css_btn_more">詳細を見る</a><a href="#" class="css_btn_bookmark">お気に入りに保存</a><!-- <p><img src="/img/shop_banner.jpg" /></p> -->
				</div>
				<div class="shopListBottom clearfix">
					<ul>
						<li><span class="type1">新規</span>coming soon</li>
						<li><span class="type2">会員</span>coming soon</li>
					</ul>
				</div>
			</div>
		</div>
<!-- /shop -->

<!-- shop -->
		<div class="shopList_frame">
			<div>
				<a href="http://miyazaki.dhrank.com/12658" class="shopName">名門宮崎さくら附属女学院</a>　<span class="kuchikomi">UP</span>
				<a href="http://miyazaki.dhrank.com/12658" class="css_btn_class">詳細を見る</a>
			</div>
			<div class="pay_mark clearfix">
				<!-- p class="pay_yoyaku">先行予約OK</p>
				<p class="pay_credit">クレジットOK</p>
				<p class="pay_ryoshu">領収書OK</p>
				<p class="pay_machi">待ち合わせOK</p>
				<p class="pay_cosplay">コスプレあり</p>
				<p class="pay_coupon">クーポンあり</p -->
			</div>
		</div>

		<div class="shopList_main clearfix">
			<div>
				<a href="http://miyazaki.dhrank.com/12658"><img src="http://img.dhrank.com/shop/12658/image_list.jpg" width="160" height="210" class="img_frame" /></a>
			</div>
			<div>
				<p class="catchCopy"><b><strong>ー名門宮崎　さくら付属女学院ー宮崎最高峰の厳選美女が登校中ー</strong></b></p>
				<p>
いつもいつも当店『さくら女学院』をご贔屓くださってるお客様、本当にいつも有り難うございます。 男性スタッフ一同、在籍の女の子一同、こ...
				</p>
				<div class="shopListLeft">
					<dl class="clearfix">
						<dt>営業時間</dt>
						<dd>10:00〜03:00</dd>
						<dt>最低料金</dt>
						<dd>12,000円〜</dd>
						<dt>住所</dt>
						<dd>宮崎市発</dd>
					</dl>
					<p class="shopNum">
						<span class="zaiseki">在籍数:</span><span class="num">40人</span>
						<span class="kuchikomi2">口コミ:</span><span class="num">0件</span>
					</p>
				</div>
				<div class="shopListRight">
					<a href="http://miyazaki.dhrank.com/12658" class="css_btn_more">詳細を見る</a><a href="#" class="css_btn_bookmark">お気に入りに保存</a><!-- <p><img src="/img/shop_banner.jpg" /></p> -->
				</div>
				<div class="shopListBottom clearfix">
					<ul>
						<li><span class="type1">新規</span>coming soon</li>
						<li><span class="type2">会員</span>coming soon</li>
					</ul>
				</div>
			</div>
		</div>
<!-- /shop -->

<!-- shop -->
		<div class="shopList_frame">
			<div>
				<a href="http://miyazaki.dhrank.com/12682" class="shopName">ウインディー</a>　<span class="kuchikomi">UP</span>
				<a href="http://miyazaki.dhrank.com/12682" class="css_btn_class">詳細を見る</a>
			</div>
			<div class="pay_mark clearfix">
				<!-- p class="pay_yoyaku">先行予約OK</p -->
				<p class="pay_credit">クレジットOK</p>
				<!-- p class="pay_ryoshu">領収書OK</p>
				<p class="pay_machi">待ち合わせOK</p>
				<p class="pay_cosplay">コスプレあり</p>
				<p class="pay_coupon">クーポンあり</p -->
			</div>
		</div>

		<div class="shopList_main clearfix">
			<div>
				<a href="http://miyazaki.dhrank.com/12682"><img src="http://img.dhrank.com/shop/12682/image_list.jpg" width="160" height="210" class="img_frame" /></a>
			</div>
			<div>
				<p class="catchCopy"><b><strong>【サービス】【質】【礼儀】にこだわっています☆</strong></b></p>
				<p>
最高のサービスで最高のお時間をお過ごし下さい。 お客様に満足して頂けるように日々努力していきますので、どうぞ宜しくお願いします♪
				</p>
				<div class="shopListLeft">
					<dl class="clearfix">
						<dt>営業時間</dt>
						<dd>10:00〜03:00</dd>
						<dt>最低料金</dt>
						<dd>12,000円〜</dd>
						<dt>住所</dt>
						<dd>都城市</dd>
					</dl>
					<p class="shopNum">
						<span class="zaiseki">在籍数:</span><span class="num">24人</span>
						<span class="kuchikomi2">口コミ:</span><span class="num">0件</span>
					</p>
				</div>
				<div class="shopListRight">
					<a href="http://miyazaki.dhrank.com/12682" class="css_btn_more">詳細を見る</a><a href="#" class="css_btn_bookmark">お気に入りに保存</a><!-- <p><img src="/img/shop_banner.jpg" /></p> -->
				</div>
				<div class="shopListBottom clearfix">
					<ul>
						<li><span class="type1">新規</span>coming soon</li>
						<li><span class="type2">会員</span>coming soon</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /shop no4 -->

