		<div class="pageCounter">
			<span class="num">2</span><span>件のデリヘルがあります</span>
			<span><img src="/img/left.png" /><!-- a href="#" -->前へ<!-- /a -->　1/1ページ　<!-- a href="#" -->次へ<!-- /a --><img src="/img/right.png" /></span>
		</div>

		<!-- shop no1 -->
		<div class="shopList_frame">
			<div>
				<a href="http://shinjyuku.dhrank.com/11798" class="shopName">東京ラブエッセンス</a>　<span class="kuchikomi">UP</span>
				<a href="http://shinjyuku.dhrank.com/11798" class="css_btn_class">詳細を見る</a>
			</div>
			<div class="pay_mark clearfix">
				<p class="pay_yoyaku">先行予約OK</p>
				<p class="pay_credit">クレジットOK</p>
				<p class="pay_ryoshu">領収書OK</p>
				<p class="pay_machi">待ち合わせOK</p>
				<p class="pay_cosplay">コスプレあり</p>
				<!-- p class="pay_coupon">クーポンあり</p -->
			</div>
		</div>

		<div class="shopList_main clearfix">
			<div>
				<a href="http://shinjyuku.dhrank.com/11798"><img src="http://img.dhrank.com/shop/11798/image_list.jpg" width="160" height="210" class="img_frame" /></a>
			</div>
			<div>
				<p class="catchCopy"><b><strong>ハイクラス、ハイクオリティな東京ラブエッセンス！極上の素人娘を最速でお届け♪</strong></b></p>
				<p>素人未経験多数在籍！！キレイでカワイイ厳選美少女と♪
待ち合わせOK＆デリバリー！！
素人系美少女だけ…</p>
				<div class="shopListLeft">
					<dl class="clearfix">
						<dt>営業時間</dt>
						<dd>15:30〜05:00</dd>
						<dt>最低料金</dt>
						<dd>17000円〜</dd>
						<dt>住所</dt>
						<dd>新宿発</dd>
					</dl>
					<p class="shopNum">
						<span class="zaiseki">在籍数:</span><span class="num">76人</span>
						<span class="kuchikomi2">口コミ:</span><span class="num">5件</span>
					</p>
				</div>
				<div class="shopListRight">
					<a href="http://shinjyuku.dhrank.com/11798" class="css_btn_more">詳細を見る</a><a href="#" class="css_btn_bookmark">お気に入りに保存</a><!-- <p><img src="/img/shop_banner.jpg" /></p> -->
				</div>
				<div class="shopListBottom clearfix">
					<ul>
						<li><span class="type1">新規</span>coming soon</li>
						<li><span class="type2">会員</span>coming soon</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /shop no1 -->

		<!-- shop no2 -->
		<div class="shopList_frame">
			<div>
				<a href="http://shinjyuku.dhrank.com/12663" class="shopName">東京デリヘル Club Moet</a>　<span class="kuchikomi">UP</span>
				<a href="http://shinjyuku.dhrank.com/12663" class="css_btn_class">詳細を見る</a>
			</div>
			<div class="pay_mark clearfix">
				<p class="pay_yoyaku">先行予約OK</p>
				<p class="pay_credit">クレジットOK</p>
				<p class="pay_ryoshu">領収書OK</p>
				<p class="pay_machi">待ち合わせOK</p>
				<p class="pay_cosplay">コスプレあり</p>
				<p class="pay_coupon">クーポンあり</p>
			</div>
		</div>

		<div class="shopList_main clearfix">
			<div>
				<a href="http://shinjyuku.dhrank.com/12663"><img src="http://img.dhrank.com/shop/12663/image_list.jpg" width="160" height="210" class="img_frame" /></a>
			</div>
			<div>
				<p class="catchCopy"><b><strong>日本初のオールジャンル店！</strong></b></p>
				<p>風俗業界に激震が走る！日本初のデリヘル！
その名も「オールジャンル専門店ClubMoet新宿」
完全業界初の試みで風俗遊びの可能精が無限に広がる...</p>
				<div class="shopListLeft">
					<dl class="clearfix">
						<dt>営業時間</dt>
						<dd>15:00〜05:00</dd>
						<dt>最低料金</dt>
						<dd>9999円〜</dd>
						<dt>住所</dt>
						<dd>東京23区近郊</dd>
					</dl>
					<p class="shopNum">
						<span class="zaiseki">在籍数:</span><span class="num">20人</span>
						<span class="kuchikomi2">口コミ:</span><span class="num">0件</span>
					</p>
				</div>
				<div class="shopListRight">
					<a href="http://shinjyuku.dhrank.com/12663" class="css_btn_more">詳細を見る</a><a href="#" class="css_btn_bookmark">お気に入りに保存</a><!-- <p><img src="/img/shop_banner.jpg" /></p> -->
				</div>
				<div class="shopListBottom clearfix">
					<ul>
						<li><span class="type1">新規</span>coming soon</li>
						<li><span class="type2">会員</span>coming soon</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /shop no2 -->
