		<div class="pageCounter">
			<span class="num">4</span><span>件の人妻デリヘルがあります</span>
			<span><img src="/img/left.png" /><!-- a href="#" -->前へ<!-- /a -->　1/1ページ　<!-- a href="#" -->次へ<!-- /a --><img src="/img/right.png" /></span>
		</div>

<!--shop no1-->
		<div class="shopList_frame">
			<div>
				<a href="http://osaka.dhrank.com/12593" class="shopName">奥様と縁むすび。十三1号店</a>　<span class="kuchikomi">UP</span>
				<a href="http://osaka.dhrank.com/12593" class="css_btn_class">詳細を見る</a>
			</div>
			<div class="pay_mark clearfix">
				<p class="pay_yoyaku">先行予約OK</p>
				<!-- p class="pay_credit">クレジットOK</p -->
				<!-- p class="pay_ryoshu">領収書OK</p -->
				<!-- p class="pay_machi">待ち合わせOK</p -->
				<!-- p class="pay_cosplay">コスプレあり</p -->
				<!-- p class="pay_coupon">クーポンあり</p -->
			</div>
		</div>

		<div class="shopList_main clearfix">
			<div>
				<a href="http://osaka.dhrank.com/12593"><img src="http://img.dhrank.com/shop/12593/image_list.jpg" width="160" height="210" class="img_frame" /></a>
			</div>
			<div>
				<p class="catchCopy"><b><strong>厳選された美人奥様をお安いお値段でご案内！</strong></b></p>
				<p>清楚で淫乱な”新感覚”人妻専門店 待ち合わせ型＆デリバリーヘルス</p>
				<div class="shopListLeft">
					<dl class="clearfix">
						<dt>営業時間</dt>
						<dd>09:00〜09:00</dd>
						<dt>最低料金</dt>
						<dd>11000円〜</dd>
						<dt>住所</dt>
						<dd>　</dd>
					</dl>
					<p class="shopNum">
						<span class="zaiseki">在籍数:</span><span class="num">22人</span>
						<span class="kuchikomi2">口コミ:</span><span class="num">5件</span>
					</p>
				</div>
				<div class="shopListRight">
					<a href="http://osaka.dhrank.com/12593" class="css_btn_more">詳細を見る</a><a href="#" class="css_btn_bookmark">お気に入りに保存</a><!-- <p><img src="/img/shop_banner.jpg" /></p> -->
				</div>
				<div class="shopListBottom clearfix">
					<ul>
						<li><span class="type1">新規</span>coming soon</li>
						<li><span class="type2">会員</span>coming soon</li>
					</ul>
				</div>
			</div>
		</div>
<!-- /shop no1 -->

<!--shop no2-->
		<div class="shopList_frame">
			<div>
				<a href="http://osaka.dhrank.com/4818" class="shopName">奥様と秘密の関係　大阪店</a>　<span class="kuchikomi">UP</span>
				<a href="http://osaka.dhrank.com/4818" class="css_btn_class">詳細を見る</a>
			</div>
			<div class="pay_mark clearfix">
				<p class="pay_yoyaku">先行予約OK</p>
				<!-- p class="pay_credit">クレジットOK</p -->
				<!-- p class="pay_ryoshu">領収書OK</p -->
				<!-- p class="pay_machi">待ち合わせOK</p -->
				<!-- p class="pay_cosplay">コスプレあり</p -->
				<!-- p class="pay_coupon">クーポンあり</p -->
			</div>
		</div>

		<div class="shopList_main clearfix">
			<div>
				<a href="http://osaka.dhrank.com/4818"><img src="http://img.dhrank.com/shop/4818/image_list.jpg" width="160" height="210" class="img_frame" /></a>
			</div>
			<div>
				<p class="catchCopy"><b><strong>AV女優『青山葵』さんプロデュース企画！</strong></b></p>
				<p>美しく濃厚なエロスを兼ね備えたAV女優『青山葵』さんが、当店を期間限定でプロデュース！ 青山葵さんと当店　梨々子奥様と夢のコラボ！ 只今...</p>
				<div class="shopListLeft">
					<dl class="clearfix">
						<dt>営業時間</dt>
						<dd>09:00〜09:00</dd>
						<dt>最低料金</dt>
						<dd>10000円〜</dd>
						<dt>住所</dt>
						<dd>　</dd>
					</dl>
					<p class="shopNum">
						<span class="zaiseki">在籍数:</span><span class="num">123人</span>
						<span class="kuchikomi2">口コミ:</span><span class="num">39件</span>
					</p>
				</div>
				<div class="shopListRight">
					<a href="http://osaka.dhrank.com/4818" class="css_btn_more">詳細を見る</a><a href="#" class="css_btn_bookmark">お気に入りに保存</a><!-- <p><img src="/img/shop_banner.jpg" /></p> -->
				</div>
				<div class="shopListBottom clearfix">
					<ul>
						<li><span class="type1">新規</span>coming soon</li>
						<li><span class="type2">会員</span>coming soon</li>
					</ul>
				</div>
			</div>
		</div>
<!-- /shop no2 -->

<!--shop no3-->
		<div class="shopList_frame">
			<div>
				<a href="http://osaka.dhrank.com/11902" class="shopName">ドMな奥様　梅田兎我野店</a>　<span class="kuchikomi">UP</span>
				<a href="http://osaka.dhrank.com/11902" class="css_btn_class">詳細を見る</a>
			</div>
			<div class="pay_mark clearfix">
				<!-- p class="pay_yoyaku">先行予約OK</p -->
				<!-- p class="pay_credit">クレジットOK</p -->
				<!-- p class="pay_ryoshu">領収書OK</p -->
				<!-- p class="pay_machi">待ち合わせOK</p -->
				<!-- p class="pay_cosplay">コスプレあり</p -->
				<!-- p class="pay_coupon">クーポンあり</p -->
			</div>
		</div>

		<div class="shopList_main clearfix">
			<div>
				<a href="http://osaka.dhrank.com/11902"><img src="http://img.dhrank.com/shop/11902/image_list.jpg" width="160" height="210" class="img_frame" /></a>
			</div>
			<div>
				<p class="catchCopy"><b><strong>　</strong></b></p>
				<p>　</p>
				<div class="shopListLeft">
					<dl class="clearfix">
						<dt>営業時間</dt>
						<dd>09:00〜09:00</dd>
						<dt>最低料金</dt>
						<dd>円〜</dd>
						<dt>住所</dt>
						<dd>　</dd>
					</dl>
					<p class="shopNum">
						<span class="zaiseki">在籍数:</span><span class="num">5人</span>
						<span class="kuchikomi2">口コミ:</span><span class="num">3件</span>
					</p>
				</div>
				<div class="shopListRight">
					<a href="http://osaka.dhrank.com/11902" class="css_btn_more">詳細を見る</a><a href="#" class="css_btn_bookmark">お気に入りに保存</a><!-- <p><img src="/img/shop_banner.jpg" /></p> -->
				</div>
				<div class="shopListBottom clearfix">
					<ul>
						<li><span class="type1">新規</span>coming soon</li>
						<li><span class="type2">会員</span>coming soon</li>
					</ul>
				</div>
			</div>
		</div>
<!-- /shop no3 -->

<!--shop no4-->
		<div class="shopList_frame">
			<div>
				<a href="http://osaka.dhrank.com/12090" class="shopName">梅田人妻秘密倶楽部</a>　<span class="kuchikomi">UP</span>
				<a href="http://osaka.dhrank.com/12090" class="css_btn_class">詳細を見る</a>
			</div>
			<div class="pay_mark clearfix">
				<p class="pay_yoyaku">先行予約OK</p>
				<p class="pay_credit">クレジットOK</p>
				<p class="pay_ryoshu">領収書OK</p>
				<!-- p class="pay_machi">待ち合わせOK</p -->
				<p class="pay_cosplay">コスプレあり</p>
				<!-- p class="pay_coupon">クーポンあり</p -->
			</div>
		</div>

		<div class="shopList_main clearfix">
			<div>
				<a href="http://osaka.dhrank.com/12090"><img src="http://img.dhrank.com/shop/12090/image_list.jpg" width="160" height="210" class="img_frame" /></a>
			</div>
			<div>
				<p class="catchCopy"><b><strong>　</strong></b></p>
				<p>　</p>
				<div class="shopListLeft">
					<dl class="clearfix">
						<dt>営業時間</dt>
						<dd>09:00〜09:00</dd>
						<dt>最低料金</dt>
						<dd>円〜</dd>
						<dt>住所</dt>
						<dd>　</dd>
					</dl>
					<p class="shopNum">
						<span class="zaiseki">在籍数:</span><span class="num">5人</span>
						<span class="kuchikomi2">口コミ:</span><span class="num">1件</span>
					</p>
				</div>
				<div class="shopListRight">
					<a href="http://osaka.dhrank.com/12090" class="css_btn_more">詳細を見る</a><a href="#" class="css_btn_bookmark">お気に入りに保存</a><!-- <p><img src="/img/shop_banner.jpg" /></p> -->
				</div>
				<div class="shopListBottom clearfix">
					<ul>
						<li><span class="type1">新規</span>coming soon</li>
						<li><span class="type2">会員</span>coming soon</li>
					</ul>
				</div>
			</div>
		</div>
<!-- /shop no4 -->
