
<div class="link_o"><h2>お問い合わせ送信完了</h2></div>


<section class="contact">

	<p class="txt">
    	お問い合わせの送信が完了しました。<br />
    	ご返信またはご連絡申し上げますので、お待ち頂きます様お願い致します。
    </p>

</section>
    
<p><br /></p>
    
<p class="btn_pi"><a href="<?php echo $linkCommon->get_top($parent_area)?>">トップページへ</a></p>
