	<div style="border-bottom:2px solid #c03c61;padding-bottom:2px;">
		<h2 class="link_o2">パスワード変更URL送信完了</h2>
	</div>

    <p class="text" style="margin-bottom: 20px;">メールアドレス宛にパスワード変更URLを送信しました。</p>

