
<div style="text-align:left;padding:5px;font-size:medium;background-color:#EFEBE3">
	新規スレッド作成
</div>

<?php echo $form->create(null, array('type'=>'post', 'action' => 'add_board' . '?guid=ON','encoding' => null));?>
<div style="text-align:left;padding:3px;">
	タイトル：<br />
	<?php echo $form->text('Board.title'); ?>
	<?php echo $form->error('Board.title'); ?><br />
    名前：<br />
	<?php echo $form->text('BoardRes.name'); ?>
	<?php echo $form->error('BoardRes.name'); ?><br />
    本文：<br />
	<?php echo $form->textarea('BoardRes.comment', array('cols' => 30, 'rows' => 4)); ?>
	<?php echo $form->error('BoardRes.comment'); ?><br />
    <?php echo $form->submit('新規スレッド作成', array('div' => false)); ?>
</div>
<?php echo $form->end();?>

<hr color="#DED7C8" />

<div style="text-align:center;padding:3px;">
	[<a href="<?php echo $linkCommon->get_boards_top($parent_area)?>">掲示板トップ</a>]
</div>

<hr color="#DED7C8" />


<div style="text-align:center;padding:3px;">
	[<a href="<?php echo $linkCommon->get_top($parent_area)?>">戻る</a>]
</div>

<?php //echo var_dump($list)?>


