
<div style="text-align:left;padding:5px;font-size:medium;background-color:#EFEBE3">
	炎上掲示板トップ
</div>

<?php echo $form->create(null, array('type'=>'post', 'action' => 'search_result','encoding' => null));?>
<div style="text-align:center;padding:3px;">
	タイトル検索：<?php echo $form->text('Boards.search_word'); ?><?php echo $form->submit('検索', array('div' => false)); ?>
</div>
<?php echo $form->end();?>

<hr color="#DED7C8" />

<div style="text-align:left;padding:3px;">
	<?php foreach($board_detail_list as $key => $record){ ?>
		<?php //start---2013/3/13 障害No.1-5-0001修正 ?>
		<!-- <a href="<?php echo $linkCommon->get_boards_read($record)?>"> -->
		<a href="<?php echo $linkCommon->get_boards_read($record)?>/page:<?php echo ceil($record[0]['count'] / $pcount['boards_view_res']) ?>">
		<?php //end---2013/3/13 障害No.1-5-0001修正 ?>
			<?php echo (string)(($key+1)+($paginator->current()-1)*$pcount['boards_detail'])?>: <?php echo $record['Board']['title']?> (<?php echo $record[0]['count']?>)
		</a><br />
	<?php } ?>
</div>

<hr color="#DED7C8" />

<div style="text-align:center;padding:3px;">
	<?php echo $this->element('pagenate/i_numbers'); ?>
</div>

<hr color="#DED7C8" />

<div style="text-align:right;padding:3px;">
	[<a href="<?php echo $linkCommon->get_boards_add_board($record)?>">新規スレッド作成</a>]
</div>

<hr color="#DED7C8" />

<div style="text-align:center;padding:3px;">
	<?php //start---2013/3/13 障害No.1-5-0001修正 ?>
	<!-- <a href="<?php echo $linkCommon->get_boards_read($board_delete)?>">削除依頼はこちら</a> -->
	<a href="<?php echo $linkCommon->get_boards_read($board_delete)?>/page:<?php echo ceil($board_delete[0]['count'] / $pcount['boards_view_res']) ?>">削除依頼はこちら</a>
	<?php //end---2013/3/13 障害No.1-5-0001修正 ?>
</div>

<hr color="#DED7C8" />

<div style="text-align:center;padding:3px;">
	[<a href="<?php echo $linkCommon->get_top($parent_area)?>">戻る</a>]
</div>

<?php //echo var_dump($list)?>
