
<h2 class="rank_h2">炎上掲示板</h2>

<span style="font-size:13px;margin:4px;">
｜<a href="<?php echo $linkCommon->get_boards_top($parent_area)?>">戻る</a>｜<a href="<?php echo $linkCommon->get_boards_read($board)?>">全部</a>｜<a href="<?php echo $linkCommon->get_boards_read($board)?>/1-">1-</a> ｜<a href="<?php echo $linkCommon->get_boards_read($board)?>/l50">最新50</a>｜
</span>

<div class="bbs_preview">
	<div class="bbs_title">
    	<span class="spot4"><?php echo $board['Board']['title']?></span>
    </div>

	<dl>
		<?php foreach($board['BoardRes'] as $key => $record){?>
		<dt><?php echo $record['sub_id']?> <?php echo $record['name']?> 投稿日：<?php echo $textCommon->get_datetimewithweek($record['created'])?></dt>
			<dd><?php echo nl2br($record['comment'])?></dd>
		<?php }?>
	</dl>

	<div class="bbs_write">
		<?php //start---2013/3/12 障害No.1-4-0008修正 ?>
		<?php //if($board['BoardRes'][count($board['BoardRes'])-1]['sub_id'] != 1000 || $board['Board']['show_order'] <= 2){?>
		<?php //start---2013/3/13 障害No.1-4-0011修正 ?>
		<?php //if(count($board['BoardRes']) == 0 || (count($board['BoardRes']) != 0 && $board['BoardRes'][count($board['BoardRes'])-1]['sub_id'] != 1000) || $board['Board']['show_order'] <= 2){?>
		<?php if(count($board['BoardRes']) == 0 || (count($board['BoardRes']) != 0 && $board['BoardRes'][count($board['BoardRes'])-1]['sub_id'] < 1000) || $board['Board']['show_order'] <= 2){?>
		<?php //end---2013/3/13 障害No.1-4-0011修正 ?>
		<?php //end---2013/3/12 障害No.1-4-0008修正 ?>
			<?php //start---2013/3/5 障害No.2-0020修正 ?>
			<?php //echo $form->create(null, array('type'=>'post', 'action' => ''));?>
			<?php echo $form->create(null, array('type'=>'post', 'url' => '/' . $this->params['url']['url']));?>
			<?php //end---2013/3/5 障害No.2-0020修正 ?>
			<?php echo $form->hidden('BoardRes.board_id', array('value' => $board['Board']['id'])); ?>
	        <?php echo $form->submit('書き込む', array('div' => false)); ?>&nbsp; 名前：<?php echo $form->text('BoardRes.name'); ?><?php echo $form->error('BoardRes.name'); ?><br />
			<?php echo $form->textarea('BoardRes.comment', array('cols' => 60, 'rows' => 6)); ?>
			<?php echo $form->error('BoardRes.comment'); ?>
			<?php echo $form->end();?>
		<?php }?>
        <a href="<?php echo $linkCommon->get_boards_top($parent_area)?>">掲示板に戻る</a> <a href="<?php echo $linkCommon->get_boards_read($board)?>">全部</a> <a href="<?php echo $linkCommon->get_boards_read($board)?>/<?php echo $boardres_before?>">前100</a> <a href="<?php echo $linkCommon->get_boards_read($board)?>/<?php echo $boardres_after?>">次100</a>  <a href="<?php echo $linkCommon->get_boards_read($board)?>/l50">最新50</a>
    </div>
</div>
<?php //echo var_dump($list)?>
