
<h2 class="midashih2">
	炎上掲示板
</h2>

<h3 class="midashih3">
	「<?php echo $board['Board']['title']?>」に書きこむ
</h3>

<?php echo $form->create(null, array('type'=>'post', 'action' => 'add_res/' . $board['Board']['id']));?>
<?php echo $form->hidden('BoardRes.board_id', array('value' => $board['Board']['id'])); ?>
<p>
	名前：
	<?php echo $form->text('BoardRes.name'); ?><?php echo $form->error('BoardRes.name'); ?><br />
	本文　：
    <?php echo $form->textarea('BoardRes.comment', array('cols' => 60, 'rows' => 6)); ?>
	<?php echo $form->error('BoardRes.comment'); ?>
</p>

<div style="text-align:center; margin-right:auto; margin-left:auto;">
	<p><?php echo $form->submit('書き込む', array('div' => false, 'class' => 'btn_post')); ?></p>
</div>

<?php echo $form->end();?>

<hr style="border:1px solid #DED7C8;" />

<div style="text-align:center; margin-right:auto; margin-left:auto;">
	<a href="<?php echo $linkCommon->get_boards_top($board)?>" data-role="button" data-inline="true">戻る</a>
</div>



<?php //echo var_dump($list)?>
