<div data-role="content" data-theme="a">

	<h2 class="midashih2">炎上掲示板</h2>

	<h3 class="midashih3">掲示板投稿エラー</h3>
	<p>
		投稿ができません。詳しくはお問い合わせください。<br />
		<a href="<?php echo $linkCommon->get_boards_top($parent_area)?>" data-role="button" data-inline="true">掲示板TOPへ戻る</a>
	</p>
</div>



<?php //echo var_dump($list)?>





