

<div data-role="content" data-theme="a">

<h2 class="midashih2">
	炎上掲示板
</h2>

<h3 class="midashih3">
<?php echo $board['Board']['title']?>
</h3>
<div style="text-align:center; margin-right:auto; margin-left:auto;background-color:#fdf4e7; margin:4px 0px;">
<?php echo $this->element('pagenate/s_numbers'); ?>
</div>


<ul data-role="listview" data-divider-theme="a">
<?php //start---2013/3/13 障害No.1-5-0002修正 ?>
<?php if(!empty($board['BoardRes'][0]) && $paginator->current() != 1){?>
	<li>
		<p style="font-size:15px;margin:4px 0px;color:#333333"><?php echo $board['BoardRes'][0]['sub_id']?> <?php echo $board['BoardRes'][0]['name']?><br /><span class="small">投稿日：<?php echo $textCommon->get_datetimewithweek($board['BoardRes'][0]['created'])?></span></p>
     	<?php echo nl2br($board['BoardRes'][0]['comment'])?>
    </li>
<?php }?>
<?php //end---2013/3/13 障害No.1-5-0002修正 ?>

<?php foreach($boardres as $key => $record){?>
	<li>
		<p style="font-size:15px;margin:4px 0px;color:#333333"><?php echo $record['BoardRes']['sub_id']?> <?php echo $record['BoardRes']['name']?><br /><span class="small">投稿日：<?php echo $textCommon->get_datetimewithweek($record['BoardRes']['created'])?></span></p>
     	<?php echo nl2br($record['BoardRes']['comment'])?>
    </li>
<?php }?>
</ul>


<div style="text-align:center; margin-right:auto; margin-left:auto;background-color:#fdf4e7; margin:4px 0px;">
<?php echo $this->element('pagenate/s_numbers'); ?>
</div>

<?php //start---2013/3/12 障害No.1-4-0008修正 ?>
<?php //start---2013/3/13 障害No.1-4-0011修正 ?>
<?php //if(count($board['BoardRes']) == 0 || (count($board['BoardRes']) != 0 && $board['BoardRes'][count($board['BoardRes'])-1]['sub_id'] != 1000) || $board['Board']['show_order'] <= 2){?>
<?php if(count($board['BoardRes']) == 0 || (count($board['BoardRes']) != 0 && $board['BoardRes'][count($board['BoardRes'])-1]['sub_id'] < 1000) || $board['Board']['show_order'] <= 2){?>
<?php //end---2013/3/13 障害No.1-4-0011修正 ?>
<?php //end---2013/3/12 障害No.1-4-0008修正 ?>
<div style="text-align:right; margin:4px 0px;">
	<a href="<?php echo $linkCommon->get_boards_add_res($board)?>" data-role="button" data-inline="true">書きこむ</a>
</div>
<?php //start---2013/3/12 障害No.1-4-0008修正 ?>
<?php }?>
<?php //end---2013/3/12 障害No.1-4-0008修正 ?>

<hr style="border:1px solid #DED7C8;" />

<div style="text-align:center; margin-right:auto; margin-left:auto;">
	<a href="<?php echo $linkCommon->get_boards_top($parent_area)?>" data-role="button" data-inline="true">掲示板トップ</a>
</div>


</div>



<?php //echo var_dump($board)?>
