
<div style="text-align:left;padding:5px;font-size:medium;background-color:#EFEBE3">
	最新の口コミ
</div>

<hr color="#DED7C8" />

<?php foreach($new_review as $key => $record){?>
<div style="text-align:left;padding:3px;">
	<div style="float: left; margin-right: 3px; width:60px;">
		<?php echo $imgCommon->get_girl($record, 's')?>
    </div>
	<div style="pdding:2px;">
    	<span style="color:#BE0A26;"><?php echo $record['Shop']['name'] ?></span><br />
        <a href="<?php echo $linkCommon->get_user_girl($record)?>"><?php echo $record['Girl']['name'] ?></a><br />
    	評価<span style="color:#BE0A26;"><?php echo round($record[0]['girl_avg'],2)?></span> - <?php echo date('Y年n月', strtotime($record['Review']['created'])) ?><br />
    	<?php echo $textCommon->get_substr_tagstrip_text($record['Review']['comment'],APP_CSIZE_TOP_REVIEW_COMMENT_I);?><br />
        <div style="text-align:right;">[<a href="<?php echo $linkCommon->get_user_review($record)?>">続きを読む</a>]</div>
    </div><div style="clear:both" clear="all"></div>
</div>

<hr color="#DED7C8" />

<?php }?>



<div style="text-align:left;padding:5px;font-size:medium;background-color:#EFEBE3">
	デリヘルランキング
</div>
<div style="text-align:left;padding:3px;">
	<?php foreach($m_shops_business_categories as $key => $record){?>
	<img src="/images/i/crown.jpg" /><a href="<?php echo $linkCommon->get_ranking($parent_area, $record['MShopsBusinessCategory']['id'])?>"><?php echo $record['MShopsBusinessCategory']['name']?> </a><br />
	<?php }?>
</div>

<div style="text-align:left;padding:5px;font-size:medium;background-color:#EFEBE3">
	お店一覧を見る
</div>
<div style="text-align:left;padding:3px;">
	[<a href="<?php echo $linkCommon->get_shops($parent_area)?>/kana/1">あ行のお店</a>][<a href="<?php echo $linkCommon->get_shops($parent_area)?>/kana/2">か行のお店</a>][<a href="<?php echo $linkCommon->get_shops($parent_area)?>/kana/3">さ行のお店</a>]<br />
	[<a href="<?php echo $linkCommon->get_shops($parent_area)?>/kana/4">た行のお店</a>][<a href="<?php echo $linkCommon->get_shops($parent_area)?>/kana/5">な行のお店</a>][<a href="<?php echo $linkCommon->get_shops($parent_area)?>/kana/6">は行のお店</a>]<br />
	[<a href="<?php echo $linkCommon->get_shops($parent_area)?>/kana/7">ま行のお店</a>][<a href="<?php echo $linkCommon->get_shops($parent_area)?>/kana/8">や行のお店</a>][<a href="<?php echo $linkCommon->get_shops($parent_area)?>/kana/9">ら行のお店</a>]<br />
	[<a href="<?php echo $linkCommon->get_shops($parent_area)?>/kana/10">わ行のお店</a>]
</div>

<div style="text-align:left;padding:5px;font-size:medium;background-color:#EFEBE3">
	更新情報
</div>
<?php echo $this->element('sidebar/i_news'); ?>

<!--

<div style="text-align:center;padding:3px;">
	<a href="<?php echo $linkCommon->get_boards_top($parent_area)?>"><img src="/images/i/bbs.jpg" /></a>
</div>



<hr color="#DED7C8" />

<div style="text-align:left;padding:3px;">
	■<a href="http://twitter.com">TWITTER</a>
</div>


<hr color="#DED7C8" />

-->

<div style="text-align:left;padding:3px;">
	├レビュアー・<a href="<?php echo $linkCommon->get_accounts_login($parent_area)?>">ログイン</a>/<a href="<?php echo $linkCommon->get_accounts_register($parent_area)?>">新規登録</a><br />
	├<a href="<?php echo APP_MEMBER_URL?>i/">店舗会員ログイン</a><br />
	├<a href="<?php echo $linkCommon->get_abouts($parent_area)?>">当サイトについて</a><br />
	├<a href="<?php echo $linkCommon->get_terms($parent_area)?>">ご利用規約</a><br />
	└<a href="<?php echo $linkCommon->get_contacts($parent_area)?>">お問い合わせ</a>
</div>



