<div style="text-align:center">	<img src="http://img.dhrank.com/common/index.png" style="margin-top:50px;margin-bottom:25px;"/><br />
	<span class="logoarea"><?php echo $parent_area['LargeArea']['name']?></span>
	<br />
	<img src="/images/18k.png" style="margin-top:40px;margin-bottom:20px;" /><br />
	当サイト内には、成人向けコンテンツが含まれます。<br />
	高校生及び18歳未満の方の閲覧・ご入場は固くお断りいたします。
	<p style="margin-top:20px;font-weight:bold;font-size:120%;">
		<a href="top">18歳以上</a>・<a href="http://www.yahoo.co.jp/">18歳未満</a>
	</p>
	<p style="margin-top:30px;margin-bottom:40px;">
		<?php echo $parent_area['LargeArea']['name']?>デリヘル口コミランキングではデリヘル店情報をランキング形式にて紹介しています。<br />
		<?php echo $parent_area['LargeArea']['name']?>の地域に密着したデリヘル店情報、さらにデリヘルギャルのレビュー・口コミ情報を完全無料で配信！<br />
		安全・安心して遊べるデリヘル店をご案内します。
	</p>
</div>
<!-- <a href="https://twitter.com"><img src="/images/twitter.png" target="_blank" class="link" /></a>
<a href="http://fuuzoku-seo.net"><img src="/images/seo.jpg" target="_blank" class="link" /></a>
<a href="http://www.sho-ya.biz"><img src="/images/shoya24.gif" target="_blank" class="link" /></a> -->
<div>

<!-- 地域リンク集 -->
<?php /*foreach($list as $key => $record) {?>
<div style="float: left;margin:10px;">
	<a href="<?php echo $record['AreaIndexLink']['url']?>" target="_blank">
		<img src="<?php echo APP_IMG_URL . 'link/area_index/' . $record['AreaIndexLink']['banner']?>" /><br />
		<?php echo $record['AreaIndexLink']['name']?>
	</a>
</div>
<?php } */?>
</div>