@charset 'UTF-8';
*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    font-family: 'メイリオ', 'Meiryo', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Verdana, 'ＭＳ Ｐゴシック', 'MS PGothic', Arial, sans-serif;
    font-size: 90%;
    line-height: 1.4;
    /* font-family: ArialMT, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", メイリオ, sans-serif;  */

    width: 100%;

    -webkit-text-size-adjust: none;
    /* フォントサイズ自動調整 */
}

img
{
    vertical-align: bottom;

    border: none;
}

.ui-btn-text
{
    white-space: normal;
}

a
{
    color: #333;
}

li
{
    list-style: none;
}

/*点滅処理*/
@-webkit-keyframes pulse
{
    from
    {
        opacity: 1.0;
    }
    to
    {
        opacity: .5;
    }
}
.blinking
{
    -webkit-animation-name: pulse;
    /* 実行する名前 */
    -webkit-animation-duration: 1s;
    /* 何回実行するか。infiniteで無限 */
    -webkit-animation-timing-function: ease-in-out;
    /* alternateにするとアニメーションが反復 */
    -webkit-animation-delay: 0s;
    /* 0.3秒かけて実行 */
    -webkit-animation-iteration-count: infinite;
    /* イーズインアウト */
    -webkit-animation-direction: alternate;
    /* 実行までの待ち時間 */
}

/*ページTOPボタン*/
#return_top
{
    display: block;

    box-sizing: border-box;
    width: 65%;
    margin: 0 auto 15px auto;
    padding: 3px 5px;

    text-align: center;
    text-decoration: none;

    color: #333;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-image:         linear-gradient(bottom, #e8e8e8 0%, white 100%);
    background-image: -webkit-linear-gradient(bottom, #e8e8e8 0%, white 100%);
    background-image:     -ms-linear-gradient(bottom, #e8e8e8 0%, white 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e8e8e8), color-stop(1, white));
    box-shadow: 0 0 3px #666;
    text-shadow: 1px 1px 0 #fff;
}

#return_top span
{
    line-height: 2;

    padding: 2px 0 2px 2px;
}

.indent
{
    margin-left: 1em;

    text-indent: -1em;
}

/*オレンジボタン*/
.btn_or
{
    width: 80%;
    margin: 20px auto 0 auto;

    text-align: center;

    border: 1px solid #c6c0b0;
    border-radius: 4px;
    background-color: #e9e1ac;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(1, #e0dace));
    text-shadow: 0 2px 0 #fff;
}

.btn_or a
{
    display: block;

    box-sizing: border-box;
    padding: 10px 0;

    text-decoration: none;

    color: #333;
}

.btn_gr
{
    width: 80%;
    margin: 15px auto 0 auto;

    text-align: center;

    text-shadow: 0 2px 0 #fff;
}

.btn_gr a
{
    display: block;

    box-sizing: border-box;
    padding: 10px 0;

    text-decoration: none;

    color: #333;
    border: solid 1px #d8d3c8;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-image: -webkit-linear-gradient(bottom, #e6e6e6, #fff);
    background-image:         linear-gradient(to top, #e6e6e6, #fff);
}

.btn_beige
{
    width: 80%;
    margin: 15px auto 0 auto;

    text-align: center;

    text-shadow: 0 2px 0 #fff;
}

.btn_beige a
{
    display: block;

    box-sizing: border-box;
    padding: 10px 0;

    text-decoration: none;

    color: #333;
    border: solid 1px #ccc6b6;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-image: -webkit-linear-gradient(bottom, #e8e2d6, #fff);
    background-image:         linear-gradient(to top, #e8e2d6, #fff);
}

.btn_or a span
{
    padding-left: 18px;

    background: url(../../img/s/icon2.png) no-repeat left center;
    -webkit-background-size: 12px 12px;
}

.btn_left
{
    padding: 0 2%;

    text-align: left;

    border-bottom: 1px solid #fff;
    background: #d95376;
}

.btn_left:last-child
{
    border-bottom: none;
}

.btn_left a
{
    display: block;

    box-sizing: border-box;
    padding: 10px 0;

    text-decoration: none;

    color: #fff;
}

/* ピンクボタン */
.btn_pi
{
    width: 90%;
    margin: 15px auto;

    text-align: center;
}

.btn_pi a
{
    font-size: 120%;
    font-weight: normal;

    display: block;

    box-sizing: border-box;
    padding: 8px 0;

    text-decoration: none;

    color: #fff;
    border: solid 1px #dd979f;
    border-radius: 4px;
    background-color: #fef9fe;
    background-image: -webkit-linear-gradient(bottom, #f65769, #fe939b 99%);
    background-image:         linear-gradient(to top, #f65769, #fe939b 99%);
    box-shadow: inset 0 2px 3px rgba(255, 255, 255, .75), inset 0 0 5px rgba(255, 255, 255, .2);
}

.btn_pi2
{
    margin: 3px auto;

    text-align: center;
}

.btn_pi2 a
{
    font-weight: normal;

    display: block;

    box-sizing: border-box;
    padding: 2px 0;

    text-decoration: none;

    color: #fff;
    border: solid 1px #dd979f;
    border-radius: 3px;
    background-color: #fef9fe;
    background-image: -webkit-linear-gradient(bottom, #f65769, #fe939b 99%);
    background-image:         linear-gradient(to top, #f65769, #fe939b 99%);
    box-shadow: inset 0 2px 3px rgba(255, 255, 255, .75), inset 0 0 5px rgba(255, 255, 255, .2);
}

.btn_pi3
{
    width: 96%;
    margin: 3px auto;

    text-align: center;
}

.btn_pi3 a
{
    font-weight: normal;

    display: block;

    box-sizing: border-box;
    padding: 5% 0;

    text-decoration: none;

    color: #fff;
    border: solid 1px #dd979f;
    border-radius: 3px;
    background-color: #af2d5b;
}

/* 薄いオレンジ */
.btn_org
{
    width: 90%;
    margin: 15px auto;

    text-align: center;

    color: #ec8500;
    border: solid 1px #f3c486;
    border-radius: 4px;
    background-color: #fce3c4;
    background-image: -webkit-linear-gradient(bottom, #fdd6a5, #fce3c4);
    background-image:         linear-gradient(to top, #fdd6a5, #fce3c4);
    box-shadow: inset 0 0 5px rgba(255, 255, 255, .2);
}

.btn_org a
{
    font-size: 120%;
    font-weight: normal;

    display: block;

    box-sizing: border-box;
    padding: 8px 0;

    text-decoration: none;

    color: #ec8500;
}

/*灰色ボタン*/
.btn_gray
{
    width: 40%;
    margin-bottom: 30px;

    text-align: center;

    border: 1px solid #ccc;
    border-radius: 4px;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(.48, #f4f3f2), color-stop(.48, #fcfcfa));
    background-color: #fff;
    text-shadow: 0 1px 0 #fff;
}

.btn_gray a
{
    display: block;

    box-sizing: border-box;
    padding: 6px 0;
    padding-left: 18px;

    text-decoration: none;

    color: #333;
}

.btn_gray a span
{
    padding-left: 18px;

    background: url(../../img/s/icon2.png) no-repeat left center;
    -webkit-background-size: 12px 12px;
}

/*総合トップボタン*/
.btn_sitetop
{
    width: 70%;
    margin: 0 auto 15px auto;

    border: 3px double #e6e6e6;
    border-radius: 10px;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(.48, #f4f3f2), color-stop(.48, #fcfcfa));
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    text-shadow: 0 1px 0 #fff;
}

.btn_sitetop a
{
    display: block;

    box-sizing: border-box;
    padding: 10px 0 10px 0;

    text-align: center;
    text-decoration: none;

    color: #333;
}

.btn_sitetop a span
{
    padding: 10px 0 10px 15px;

    background: url(../../img/s/icon2.png) no-repeat left center;
    -webkit-background-size: 12px 12px;
}

/*ポップアップダイアログ処理*/
#main_container_dialog
{
    border: 10px solid #333;
}

/*==========================================*/
/*==コンテンツ==*/
/*==========================================*/
.contents_box
{
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}

#shop_name
{
    font-size: 120%;
    font-weight: bold;

    padding: 3% 2% 0;

    color: #c93f60;
}

#shop_tt
{
    font-size: 100%;

    padding: 5%;

    border: solid 1px #d8d3c8;
    background-color: #f6f4e7;
}

#shop_tt p
{
    text-align: center !important;
}

#shop_img
{
    margin: 3% auto;
}

#shop_img img
{
    width: 240px;
    height: 320px;
    padding: 5px;
    padding: 5px;

    border: 1px solid #ccc;
}

#shop_form table
{
    width: 100%;

    border-spacing: 0;

    border-bottom: 2px solid #ccc;
}

#shop_form table th,
#shop_form table td
{
    padding: 2%;
}

#shop_form table th
{
    font-size: 90%;

    width: 30%;
    padding: 2%;

    text-align: left;

    border-top: 1px solid #ccc;
    background-color: #efefef;
}

#shop_form table td
{
    font-size: 80%;

    padding: 2%;

    text-align: left;

    border-top: 1px solid #ccc;
}

.gray_tt
{
    font-weight: bold;

    text-align: left;

    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #f3f3f3;
}

#shop_form .txt
{
    font-size: 80%;
}

.label
{
    font-size: 90%;
    font-weight: bold;

    padding: 2% 2% 1%;

    color: #fff;
    border-bottom: #a39884 1px solid;
    /*color: #6E4444;*/
    /* background: #faf6e5 url(../img/label_bg.gif) 0 0 repeat-x;*/
    background: #404852;
}

.label_3
{
    /*color: #6E4444;*/
    /* background: #faf6e5 url(../img/label_bg.gif) 0 0 repeat-x;*/
    font-size: 90%;
    font-weight: bold;

    padding: 2% 2% 1%;

    color: #333;
    border-bottom: #a39884 1px solid;
    background: #f3f3f3;
}

.label_4
{
    font-size: 90%;
    font-weight: bold;

    margin-bottom: 5px;
    padding: 2% 2% 1%;

    color: #333;
    border-bottom: #a39884 1px solid;
    /*color: #6E4444;*/
    /* background: #faf6e5 url(../img/label_bg.gif) 0 0 repeat-x;*/
    background: #f3f3f3;
}

.label_small
{
    font-size: 80%;
    font-weight: bold;

    padding: 2% 2%;

    color: #fff;
    /*color: #6E4444;*/
    /* background: #faf6e5 url(../img/label_bg.gif) 0 0 repeat-x;*/
    background: #404852;
}

.label_small .name
{
    float: left;
}

.label_small .number
{
    float: right;
}

.topic_list
{
    overflow: hidden;

    width: 100%;
}

.topic_list .list
{
    width: 105%;
    margin: 0 auto;
}

.topic_list .col
{
    float: left;

    width: 30%;
    margin: 1%;
}

.topic_list .col img
{
    width: 100%;
    height: auto;
}

#tab
{
    height: 34px;
    margin: 0 auto;
    padding: 0 2%;

    border-bottom: 1px solid #8e7676;
    background-color: #f6f4e7;
}

#tab ul
{
    list-style: none;

    text-align: center;
}

#tab li
{
    font-size: 60% !important;

    display: inline-block;

    width: 18%;

    text-align: center;

    border-top: solid 1px #ccc;
    border-right: solid 1px #ccc;
    border-left: solid 1px #ccc;
    /* 右上 */
    /* ▼Safari,Chrome */
    -webkit-border-top-left-radius: 6px;
    /* 右上 */
    /* ▼Firefox */
    -moz-border-radius-topleft: 6px;
            border-top-left-radius: 6px;
    /* 左上 */
    -webkit-border-top-right-radius: 6px;
    /* 左上 */
    -moz-border-radius-topright: 6px;
    /* 左上 */
            border-top-right-radius: 6px;
    background-color: #fef9fe;
    background-image: -webkit-linear-gradient(bottom, #eaeaea, #fff);
    background-image:         linear-gradient(to top, #eaeaea, #fff);
    /* 右上 */
}

#tab li a
{
    line-height: 33px;

    display: block;

    width: 100%;
    height: 33px;

    text-align: center;
    text-decoration: none;
}

#tab li:last-child
{
    margin-right: 0;
}

#tab li:hover
{
    color: #ff4fae;
    background: #efefef;
}

#tab li.select
{
    height: 34px;

    border-top: solid 1px #8e7676;
    border-right: solid 1px #8e7676;
    border-left: solid 1px #8e7676;
}

.girls_list
{
    overflow: hidden;

    width: auto;
    padding: 3% 2% 2%;

    border-top: #eee 1px solid;
}

.girls_list .inner
{
    width: 120%;
}

.girls_list .col
{
    float: left;

    width: 19%;
    margin-right: 1%;
    margin-bottom: 2%;
    padding-right: 1%;

    text-align: center;

    border-right: #eee 1px solid;
}

.girls_list .col:last-child
{
    border-right: none;
}

.girls_list .tt
{
    font-size: 80%;

    padding: 2%;

    border-bottom: #eee 1px dotted;
}

.girls_list .tt a
{
    text-decoration: none;

    color: #d95376;
}

.girls_list .caption
{
    font-size: 60%;
    line-height: 110%;

    padding: 3% 2%;
}

.girls_list .kuchikomi
{
    font-size: 56%;
    line-height: 130%;

    margin: 0 0 0 3px;
    padding: 2% 2% 3% 13px;

    text-align: left;

    color: #881f30;
}

.girls_list .kuchikomi span
{
    color: #f4c017;
}

.btm_btns
{
    border-top: #eee 1px solid;
}

/* タブ内のグラデ */
.tab_top_grade
{
    background-color: #fef9fe;
    background-image: -webkit-linear-gradient(top, #ececec, #fff 12%);
    background-image:         linear-gradient(to bottom, #ececec, #fff 12%);
}

/* 店舗情報*/
.shop_info
{
    padding: 3%;

    color: #848486;
    border-top: solid 1px #d8d3c8;
    background-color: #f6f4e7;
}

.font_normal
{
    font-weight: normal;
}

.shop_icon
{
    margin: 5px 0 0;
}

.shop_icon li
{
    font-size: 60%;

    float: left;

    margin: 0 5px 5px 0;
    padding: 1px 5px 0;

    color: #ab2e4c;
    border: #e5b5b5 1px solid;
    border-radius: 4px;
    background-color: #f2dddc;
}

.shop_icon li:last-child
{
    margin: 0 0 5px 0;
}

.shop_icon li.coupon
{
    color: #fff;
    border: #f5882d 1px solid;
    background-color: #f79647;
}

.shop_icon li.kodawari
{
    color: #fff;
    border: #3d82c5 1px solid;
    background-color: #6fa1dc;
}

.shop_icon li.mensok
{
    color: #2d6ea4;
    border: #2d6ea4 1px solid;
    background-color: #dcebf0;
}

.shop_icon li.pictureok
{
    color: #ecc46f;
    border: #ebc66e 1px solid;
    background-color: #f9f2df;
}

.btns_box
{
    margin: 10px auto 0;
}

.shop_info .btn_pi,
.btns_box .btn_pi
{
    width: 100%;
}

.coupon_mark
{
    font-size: 60%;

    margin: 0 5px 5px 0;
    padding: 1px 5px 0;

    color: #fff;
    border: #f5882d 1px solid;
    border-radius: 4px;
    background-color: #f79647;
}

.photo_number
{
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;

    text-align: center;
}

.photo_number2
{
    width: 95%;
    margin: 0 auto;
    margin-top: 10px;

    text-align: center;
}

.btns
{
    width: 48%;

    text-align: center;

    border: solid 1px #d8d3c8;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-image: -webkit-linear-gradient(bottom, #e6e6e6, #fff);
    background-image:         linear-gradient(to top, #e6e6e6, #fff);
    text-shadow: 0 2px 0 #fff;
}

.btns a
{
    display: block;

    box-sizing: border-box;
    padding: 8px 0;

    text-decoration: none;

    color: #333;
}

.btns2
{
    font-size: 60%;
    font-weight: bold;

    display: inline-block;

    width: 55px;
    margin-right: 1%;
    margin-left: 1%;
    padding: 8px;

    text-align: center;
    text-decoration: none;

    color: #333;
    border: solid 1px #d8d3c8;
    border-radius: 4px;
    background-image: -webkit-linear-gradient(bottom, #e6e6e6, #fff);
    background-image:         linear-gradient(to top, #e6e6e6, #fff);
    text-shadow: 0 2px 0 #fff;
}

.btns2_push
{
    font-size: 60%;
    font-weight: bold;

    display: inline-block;

    width: 55px;
    margin-right: 1%;
    margin-left: 1%;
    padding: 8px;

    text-align: center;
    text-decoration: none;

    color: #333;
    border: solid 1px #e58994;
    border-radius: 4px;
    background-color: #ffc5c4;
    -webkit-box-shadow: rgba(193, 95, 110, .51) 3px 3px 3px 1px inset;
       -moz-box-shadow: rgba(193, 95, 110, .51) 3px 3px 3px 1px inset;
            box-shadow: rgba(193, 95, 110, .51) 3px 3px 3px 1px inset;
}

.btns3
{
    width: 58%;

    text-align: center;

    border: solid 1px #5ea595;
    /* IE6-9 */
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #89bfb2;
    /* Old browsers */
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #89bfb2), color-stop(50%, #89bfb2), color-stop(51%, #519f91), color-stop(100%, #519f91));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #89bfb2 0%, #89bfb2 50%, #519f91 51%, #519f91 100%);
    /* Chrome10+,Safari5.1+ */
    /* Opera 11.10+ */
    /* IE10+ */
    background:         linear-gradient(to bottom, #89bfb2 0%, #89bfb2 50%, #519f91 51%, #519f91 100%);
    /* W3C */

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#89bfb2', endColorstr='#519f91',GradientType=0 );
}

.btns3 a
{
    font-weight: bold;

    display: block;

    box-sizing: border-box;
    padding: 8px 0;

    text-decoration: none;

    color: #fff;
}

.btns4
{
    width: 38%;

    text-align: center;

    border: solid 1px #cec8ba;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-image: -webkit-linear-gradient(bottom, #e9e3d7, #fff);
    background-image:         linear-gradient(to top, #e9e3d7, #fff);
    text-shadow: 0 2px 0 #fff;
}

.btns4 a
{
    display: block;

    box-sizing: border-box;
    padding: 8px 0;

    text-decoration: none;

    color: #333;
}

.shop_main
{
    padding: 3%;

    background-color: #fef9fe;
    background-image: -webkit-linear-gradient(top, #ececec, #fff 12%);
    background-image:         linear-gradient(to bottom, #ececec, #fff 12%);
}

.shop_main .shop_img img
{
    width: 100%;
}

.shop_main .main_copy
{
    padding: 2%;

    color: #bd375c;
}

.shop_main .sub_copy
{
    padding: 2% 3%;
}

.osusume_girl
{
    margin: 0 auto;
    padding: 2px 0;

    text-align: center;
}

.osusume_girl img
{
    width: 90px;
    margin: 2px;

    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}

.osusume_girl div
{
    float: left;

    width: 94px !important;
    margin-right: 8px;
}

.coupon_exp
{
    margin: 0 auto;
    padding: 2%;

    border-bottom: #ccc 1px solid;
    background-color: #eee;
}

.coupon_exp ul
{
    text-align: center;
}

.coupon_exp ul li
{
    font-size: 60%;

    display: inline-block;

    margin-right: 5px;

    color: #666;
}

.coupon_exp ul li img
{
    margin-right: 3px;

    vertical-align: middle;
}

.category_link
{
    padding: 3%;

    border-bottom: #ccc 1px solid;
    background-color: #ab9c85;
    background-image: -webkit-linear-gradient(bottom, #ffe3e4, #fffefe);
    background-image:         linear-gradient(to top, #ffe3e4, #fffefe);
}

.category_link a
{
    display: block;

    text-decoration: none;

    color: #666;
}

.category_link .category_inner
{
    padding-right: 5%;

    background: url(../../img/s/coupon_link_arrow.png) 100% 50% no-repeat;
    background-size: 16px 22px;
}

.category_link .img
{
    float: left;

    width: 40%;
    height: auto;
}

.category_link .img img
{
    width: 100%;
    height: auto;
}

.category_link .summary
{
    float: right;

    width: 50%;
}

.coupon_link
{
    padding: 3%;

    border-bottom: #ccc 1px solid;
    background-color: #ab9c85;
    background-image: -webkit-linear-gradient(bottom, #ffe3e4, #fffefe);
    background-image:         linear-gradient(to top, #ffe3e4, #fffefe);
}

.coupon_link a
{
    display: block;

    text-decoration: none;

    color: #666;
}

.coupon_link img
{
    width: 93%;
}

.coupon_link .copy
{
    font-size: 90% !important;

    color: #e75d7e;
}

.coupon_link .coupon_inner
{
    padding-right: 5%;
    /*	background: url(../../img/s/coupon_link_arrow.png) 100% 50% no-repeat;
  	background-size: 16px 22px; */
}

.coupon_link .otoku
{
    font-size: 70%;

    padding: 4px 5px 3px;

    color: #fff;
    background-color: #ff8a90;
}

.coupon_link .price
{
    font-size: 150%;
    font-weight: bold;

    margin-right: 2%;

    color: #f54745;
}

.coupon_link .img
{
    width: 320px;
}

.coupon_link .icon
{
    width: 60px;
}

.coupon_link .detail_box
{
    margin: 10px 0 0;
}

.coupon_link .detail_box p
{
    font-size: 70%;
}

#shop_category_list .detail_box
{
    clear: both;

    margin-top: 5px;
}

#shop_category_list .shop_title
{
    font-size: 90%;
}

#shop_category_list .txt
{
    font-size: 80%;
}

#shop_category_list .detail_box_table
{
    float: left;
}

#shop_category_list table
{
    font-size: 80%;
}

#shop_category_list table th
{
    font-weight: normal;

    text-align: left;

    color: #666;
}

.detail_box_table_number th
{
    color: #25a3ec !important;
}

.detail_box_table_review th
{
    color: #ff9e34 !important;
}

#shop_category_list .btn_list
{
    float: right;
}

#shop_category_list .btn_list p
{
    font-size: 85%;

    width: 100%;
    height: auto;
    margin: 0 0 5px 0;
}

#shop_category_list .btn_list .btn_pi a
{
    color: #fff;
}

#shop_category_list .detail_box .option
{
    font-size: 75%;

    margin-bottom: 2%;
    padding: 2%;

    border: 1px solid #ccc;
    background: #fdf7dd;
}

#shop_category_list .detail_box .option img
{
    display: inline;
}

#shop_category_list .detail_box .option a
{
    display: inline;
}

#owner_comment
{
    margin: 10px 0;

    border-top: #ccc 1px solid;
}

.label2
{
    padding: 0 10px 10px 0;

    background: url(../../img/s/shadow.gif) 0 100% repeat-x;
}

.label2_2
{
    border-bottom: #ccc 2px solid;
}

.label2_ttl
{
    padding: 13px 0 10px 35px;

    color: #d46985;
    border-bottom: #eee 1px solid;
    background: url(../../img/s/tt_icon.gif) 10px 50% no-repeat;
    background-size: 20px 20px;
}

#owner_comment .round_gray_box
{
    margin: 2%;
    padding: 3%;

    border: #dad7c6 1px solid;
    border-radius: 10px;
    background-color: #f6f3e2;
}

#owner_comment .round_gray_box .box_ttl
{
    font-size: 110%;

    margin-bottom: 10px;

    color: #6a2f2b;
}

#owner_comment .round_gray_box .com_box_left
{
    font-size: 80%;

    width: 30%;

    color: #666;
}

#owner_comment .round_gray_box .com_box_left img
{
    width: 90%;
    height: auto;
    margin: 10px 0;
}

#owner_comment .round_gray_box .com_box_right
{
    font-size: 90%;

    width: 70%;

    color: #666;
}

#owner_comment .round_gray_box .txt_pi
{
    color: #d25b77;
}

.btn_area
{
    padding: 1%;

    border-top: #ccc 1px solid;
    background-color: #f6f6f6;
}

.btn_area2
{
    margin: 0;
    padding: 4% 0;

    background-color: #e9e9e7;
    background-image: -webkit-linear-gradient(-45deg, #f1f1f1 25%, transparent 25%, transparent 50%, #f1f1f1 50%, #f1f1f1 75%, transparent 75%, transparent);
    background-image: -webkit-linear-gradient(135deg, #f1f1f1 25%, transparent 25%, transparent 50%, #f1f1f1 50%, #f1f1f1 75%, transparent 75%, transparent);
    background-image:         linear-gradient(-45deg, #f1f1f1 25%, transparent 25%, transparent 50%, #f1f1f1 50%, #f1f1f1 75%, transparent 75%, transparent);
    background-size: 5px 5px;
    /*数字を大きくすれば太く、小さくすれば細くなります。*/
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
}

#line_btn,
#mail_btn
{
    width: 97%;
    margin: 15px auto;

    text-align: center;

    border-right: 1px solid #ccc;
    border-bottom: 2px solid #ccc;
    border-left: 1px solid #ccc;
    border-radius: 4px;
    /*
  border: solid 1px #d8d3c8;
  background-image: -webkit-linear-gradient(bottom, #e6e6e6, #fff);
  background-image: -moz-linear-gradient(bottom, #e6e6e6, #fff);
  background-image: -o-linear-gradient(bottom, #e6e6e6, #fff);
  background-image: linear-gradient(to top, #e6e6e6, #fff);
  */
    background-color: #fff;
    text-shadow: 0 2px 0 #fff;
}

#line_btn a,
#mail_btn a
{
    display: block;

    box-sizing: border-box;
    padding: 8px 0;

    text-decoration: none;

    color: #333;
}

#line_btn a span,
#mail_btn a span
{
    margin-right: 10px;

    vertical-align: middle;
}

#line_btn a span img,
#mail_btn a span img
{
    width: 10%;
    height: auto;
}

/*グリーンボタン*/
.btn_green
{
    width: 70%;
    margin: 15px auto 0;

    text-align: center;

    color: #fff;
    border: solid 1px #9bbd4c;
    border-radius: 4px;
    background-color: #ab9c85;
    background-image: -webkit-linear-gradient(bottom, #80ad14, #9fd209);
    background-image:         linear-gradient(to top, #80ad14, #9fd209);
    box-shadow: inset 0 0 5px rgba(255, 255, 255, .1);
}

.btn_green a
{
    font-size: 90%;
    font-weight: normal;

    display: block;

    box-sizing: border-box;
    padding: 3px 0;

    text-decoration: none;

    color: #fff;
            text-shadow: -1px -1px 1px #679300, 1px 1px 1px #679300;

    -webkit-text-shadow: -1px -1px 1px #679300, 1px 1px 1px #679300;
}

#newsArea
{
    margin: 0 0 20px;
}

#newsArea .news_box
{
    padding: 3%;

    border-bottom: #ccc 1px solid;
}

#newsArea .news_box .tt
{
    font-weight: bold;

    margin-bottom: 5px;

    color: #d95376;
}

#newsArea .news_box .date
{
    font-size: 90%;
    font-weight: normal;

    float: right;
}

#newsArea .news_box .txt
{
    font-size: 80%;
}

/* 店舗情報ここまで*/
/* ランキング */
.rank_tt
{
    font-weight: normal;

    padding: 2%;

    text-align: center;

    color: #666;
    background-color: #eee;
}

.rank_box
{
    padding: 2%;
}

.underline
{
    border-bottom: 1px solid #c7c7c7;
}

.rank_box .shop_tt a
{
    text-decoration: none;
}

.rank_box .shop_tt span
{
    font-size: 75%;

    margin-left: 10px;
    padding: 1px 5px 0;

    vertical-align: text-top;

    color: #fff;
    border-radius: 4px;
    background-color: #fe9b02;
    box-shadow: 1px 1px 1px #999;
}

.rank_box .box_left
{
    float: left;

    width: 37%;
    margin-top: 10px;
}

.rank_box .box_left img
{
    width: 100%;
    height: 82px;

    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}

.btn_brown
{
    width: 100%;
    margin: 15px 0 0;

    text-align: center;

    color: #fff;
    border: solid 1px #c6a950;
    border-radius: 4px;
    background-color: #fff;
    background-image: -webkit-linear-gradient(bottom, #b99c44, #c2a95d 49%, #d2c089 50%);
    background-image:         linear-gradient(to top, #b99c44, #c2a95d 49%, #d2c089 50%);
    box-shadow: inset 0 0 5px rgba(255, 255, 255, .15);
}

.btn_brown a
{
    font-size: 90%;
    font-weight: normal;

    display: block;

    box-sizing: border-box;
    padding: 10px 0;

    text-decoration: none;

    color: #fff;
            text-shadow: -1px -1px 1px #aa9355, 1px 1px 1px #aa9355;

    -webkit-text-shadow: -1px -1px 1px #aa9355, 1px 1px 1px #aa9355;
}

.btn_red
{
    width: 100%;
    margin: 7px 0 0;

    text-align: center;

    color: #fff;
    border: solid 1px #720719;
    border-radius: 4px;
    background-color: #0b8381;
    background-image: -webkit-linear-gradient(bottom, #8e1d31, #8b1f2e 50%, #9a374b 50%, #b4727c);
    background-image:         linear-gradient(to top, #8e1d31, #8b1f2e 50%, #9a374b 50%, #b4727c);
}

.btn_red a
{
    font-size: 90%;
    font-weight: normal;

    display: block;

    box-sizing: border-box;
    padding: 5px 0;

    text-decoration: none;

    color: #fff !important;
            text-shadow: -1px -1px 1px #891c2f, 1px 1px 1px #891c2f;

    -webkit-text-shadow: -1px -1px 1px #891c2f, 1px 1px 1px #891c2f;
}

.rank_box .box_right
{
    float: right;

    width: 60%;
    margin-top: 10px;
}

.rank_box .box_right2
{
    float: right;

    width: 25%;
    margin-top: 10px;
}

.rank_box .box_right .rank_txt
{
    line-height: 1.0;

    overflow: hidden;

    height: 41px;
    margin-bottom: 5px;
    padding-right: 10%;

    background: url(../../img/s/gray_arrow.png) 97% 50% no-repeat;
    background-size: 16px 22px;
}

.rank_box .box_right .rank_txt a
{
    font-size: 80%;

    text-decoration: none;

    color: #942538;
}

.rank_box .box_right ul li
{
    font-size: 60%;
    line-height: 1.1;

    display: inline-block;
    float: left;

    margin: 0 0 3px;
    padding: 2px 0 2px 28px;

    vertical-align: middle;

    color: #666;
}

.rank_box .box_right2 ul li
{
    font-size: 60%;
    line-height: 1.1;

    display: inline-block;
    float: left;

    margin: 0 0 3px;
    padding: 2px 0 2px 28px;

    vertical-align: middle;

    color: #666;
}

.rank_box .box_right ul li.icon_access
{
    width: 80%;
    padding: 8px 0 8px 28px;

    background: url(../../img/s/rank_icon02.gif) 0 50% no-repeat;
    background-size: 20px 20px;
}

.rank_box .box_right ul li.icon_people
{
    width: 30%;

    background: url(../../img/s/rank_icon01.gif) 0 50% no-repeat;
    background-size: 20px 20px;
}

.rank_box .box_right ul li.icon_price
{
    background: url(../../img/s/rank_icon03.gif) 0 50% no-repeat;
    background-size: 20px 20px;
}

.rank_box .box_right ul li.icon_kuchikomi
{
    width: 30%;

    background: url(../../img/s/rank_icon04.gif) 0 50% no-repeat;
    background-size: 20px 20px;
}

.rank_box .box_right ul li.icon_kuchikomi_up
{
    width: 30%;

    background: url(../../img/s/rank_icon04_up.gif) 0 50% no-repeat;
    background-size: 20px 20px;
}

.rank_box .box_right2 ul li.icon_kuchikomi_up
{
    width: 40%;

    background: url(../../img/s/rank_icon04_up.gif) 0 50% no-repeat;
    background-size: 20px 20px;
}

.rank_box .box_right ul li.icon_time
{
    background: url(../../img/s/rank_icon05.gif) 0 50% no-repeat;
    background-size: 20px 20px;
}

.rank_box .box_right ul li.icon_time_up
{
    width: 39%;

    background: url(../../img/s/rank_icon05_up.gif) 0 50% no-repeat;
    background-size: 20px 20px;
}

.rank_link
{
    padding: 3% 2%;

    border-bottom: #ccc 1px solid;
}

.rank_link a
{
    font-size: 130%;
    line-height: 180%;

    float: left;

    width: 70%;

    text-decoration: none;
}

.rank_link .icon_kuchikomi2
{
    font-size: 70%;
    line-height: 1.1;

    width: 15%;
    margin: 0 0 3px;
    padding: 5px 0 5px 30px;

    color: #666;
    background: url(../../img/s/rank_icon04.gif) 0 50% no-repeat;
    background-size: 25px 25px;
}

.links
{
    cursor: pointer;
}

.banner_area
{
    padding: 3%;

    text-align: center;
}

.banner_area img
{
    width: 100%;
    height: auto;
}

/* page_navi */
.page_navi
{
    margin: 10px 0 0;
    padding: 10px 0;

    text-align: center;

    background-color: #f0edde;
}

.page_navi p
{
    display: inline-block;

    width: 28%;
    margin: 0 2%;
}

.page_navi p a
{
    display: block;

    padding: 3% 7%;

    text-decoration: none;

    border: #ccc 1px solid;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 1px 2px #999;
}

/* page_navi2 */
.page_navi2
{
    margin: 10px 0 0;
    padding: 10px 0;

    text-align: center;

    background-color: #eee;
}

.page_navi2 p
{
    display: inline-block;

    width: 28%;
    margin: 2% 2%;
}

.page_navi2 p a
{
    display: block;

    padding: 8% 7%;

    text-decoration: none;

    color: #333;
    border: solid 1px #d8d3c8;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-radius: 4px;
    background-image: -webkit-linear-gradient(bottom, #e6e6e6, #fff);
    background-image:         linear-gradient(to top, #e6e6e6, #fff);
}

/* ランキングここまで */
/* クーポン詳細 */
#couponDetail
{
    padding: 3%;
}

#couponArea
{
    padding: 10px;

    background: url(../../img/s/coupon_bg.gif) 0 0;
}

.coupon_box
{
    padding: 2%;

    background-color: #ffa0b9;
}

.coupon_box .coupon_tt
{
    margin-bottom: 10px;

    text-align: center;
}

.coupon_box .coupon_tt img
{
    width: 120px;
    height: auto;
}

.coupon_box .coupon_tt .coupon_num
{
    font-size: 75%;
    font-weight: normal;
    line-height: 26px;

    display: inline-block;

    width: 25px;
    height: 25px;

    color: #e6007f;
    background: url(../../img/s/coupon_num_bg.gif) 1px 1px no-repeat;
    background-size: 24px 24px;
}

.c_detail_box
{
    border-radius: 6px;
    background-color: #fff;
}

.c_detail_box .detail_tt
{
    padding: 10px;

    border-bottom: #f97094 1px dotted;
}

.c_detail_box .detail_tt img
{
    width: 40px;
    height: 40px;
}

.c_detail_box .detail_tt p
{
    display: inline-block;

    vertical-align: middle;
}

.c_detail_box .detail_txt
{
    font-size: 120%;

    padding: 2%;

    color: #cb3234;
}

.c_detail_box .detail_exp
{
    font-size: 80%;

    padding: 4%;

    color: #666;
    border-top: #f8cfda 1px solid;
    border-radius: 0 0 6px 6px;
    background-color: #ffe5ec;
}

.coupon_date
{
    font-size: 90%;

    margin: 10px auto 3px;

    text-align: center;
}

.coupon_btn
{
    padding: 7% 0;

    text-align: center;
}

.coupon_btn .btn_pi
{
    font-size: 90%;
}

/* クーポン詳細ここまで */
/* 口コミ投稿画面 :変更150403 */
#postArea
{
    padding: 3%;
}

#postArea table
{
    width: 95%;
}

#postArea table th,
#postArea table td
{
    padding: 3% 1%;

    text-align: left;
    /*	border-bottom: #ccc 1px dotted; */
}

#postArea table th
{
    width: 41%;

    color: #666;
    background-color: #f3f3f3;
}

#postArea table td
{
    width: 55%;
}

#postArea .submitBtn
{
    margin: 20px auto 10px;
}

#postArea .txt
{
    font-size: 90%;

    color: #f99;
}

#postArea .txt2
{
    width: 95%;
    margin: 1px;
    padding: 2%;

    border-radius: 8px;
    background-color: #f5f2e9;
}

#postArea .required
{
    font-size: 60%;

    margin: 3px;
    margin-left: 2px;
    padding: 2px;

    color: #fff;
    background-color: #f00;
}

#postArea select
{
    height: 30px;
    margin: 3px auto;
    padding: 5px;
    padding-right: 30px;

    text-align: left;

    border: 1px solid #ccc;
    border-radius: 8px;
    background: #fff;
    background: #fff url(../../img/s/select_arrow.jpg) no-repeat right;

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

#postArea *
{
    margin: 0 auto;
}

#ReviewComment
{
    /*text-align:center;*/
}

/* 口コミ投稿画面ここまで */
/*==========================================*/
/*==ヘッダー==*/
/*==========================================*/
header
{
    width: 100%;
    padding: 0 0 10px;

    border-top: 1px solid #e82f73;
}

header #head_left
{
    float: left;

    width: 70%;
}

header #head_left2
{
    float: left;

    width: 70%;
}

header #head_left h1,
header #head_left2 h1
{
    font-size: 120%;

    float: left;

    width: 40%;
    margin-top: 8px;
    margin-left: 1%;
}

header #head_left img,
header #head_left2 img
{
    vertical-align: middle;
}

header #head_left p
{
    font-size: 70%;

    float: left;

    width: 45%;
    margin-top: 19px;
    margin-left: 10px;

    letter-spacing: -1px;

    color: #333;
}

header #head_left2 p
{
    font-size: 78%;

    float: left;

    width: 58%;
    margin-top: 15px;

    color: #333;
}

header #head_right
{
    float: right;

    width: 30%;
}

header #head_right2
{
    float: right;

    width: 32%;
}

header #head_right ul
{
    margin-top: 12px;
}

header #head_right ul li
{
    float: left;

    width: 30%;
    margin-right: 18%;
}

header #head_right2 ul
{
    float: left;

    width: 70%;
    margin-top: 15px;
}

header #head_right2 ul li
{
    float: left;

    width: 30%;
    margin-right: 20%;
}

header #head_right img,
header #head_right2 img
{
    /*width: 160%;
  height: 160%;*/
    max-width: 160%;
    max-height: 160%;
}

header #head_account_right
{
    float: right;

    width: 10%;
}

header #head_account_right2
{
    float: right;

    width: auto;
}

header #head_add_right
{
    float: right;

    width: 50%;
}

/* menu */
.button-toggle
{
    font-size: 30px;
    line-height: 30px;

    position: relative;
    right: 10px;

    display: inline-block;

    width: 30px;
    height: 30px;
    margin-top: 15px;

    cursor: pointer;
    text-align: center;

    color: #de587b;
}

header #head_account_right2 .button-toggle
{
    font-size: 25px;
    line-height: 25px;

    position: relative;
    right: 5px;

    display: inline-block;

    width: 25px;
    height: 25px;
    margin-top: 15px;

    cursor: pointer;
    text-align: center;

    color: #de587b;
}

.menu
{
    overflow: hidden;

    width: 100%;

    border-top: #e82f73 1px solid;
    background-color: #fef7fa;
}

.menu ul
{
    margin: 0;
    padding: 0;

    list-style: none;
}

.menu li
{
    position: relative;
}

.menu a
{
    font-size: 90%;
    font-weight: bold;
    line-height: 36px;

    display: block;

    height: 36px;
    padding: 0 20px 0 26px;

    text-decoration: none;
    letter-spacing: 1px;

    color: #333;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #b9b29e;
    background: #ffe5ec url(../../img/s/menu_arrow.png) 15px 50% no-repeat;
    background: url(../../img/s/menu_arrow.png) 15px 50% no-repeat, -webkit-linear-gradient(bottom, #fff, #ede9e0);
    background: url(../../img/s/menu_arrow.png) 15px 50% no-repeat, linear-gradient(to top, #fff, #ede9e0);
}

.menu li.menu_last a
{
    background: #ffe5ec url(../../img/s/menu_login.png) 12px 50% no-repeat;
    background: url(../../img/s/menu_login.png) 12px 50% no-repeat, -webkit-linear-gradient(bottom, #fff, #fae3ea);
    background: url(../../img/s/menu_login.png) 12px 50% no-repeat, linear-gradient(to top, #fff, #fae3ea);
}

/******************/
#header_btn_01
{
    float: left;

    width: 100%;
    height: 20%;

    text-align: center;

    border: solid 1px #e6e6e6;
    border-radius: 4px;
    background-color: #f2f2f2;
    background-image: -webkit-linear-gradient(bottom, #e1e1e4 49%, #f1f1f1 51%);
    background-image:         linear-gradient(to top, #e1e1e4 49%, #f1f1f1 51%);
    box-shadow: 0 0 5px rgba(0, 0, 0, .38);
}

#header_btn_01 a
{
    text-decoration: none;
}

#header_btn_02
{
    float: left;

    width: 100%;
    height: 20%;

    text-align: center;

    border: solid 1px #e6e6e6;
    border-radius: 4px;
    background-color: #f2f2f2;
    background-image: -webkit-linear-gradient(bottom, #e1e1e4 49%, #f1f1f1 51%);
    background-image:         linear-gradient(to top, #e1e1e4 49%, #f1f1f1 51%);
    box-shadow: 0 0 5px rgba(0, 0, 0, .38);
}

#header_btn_02 a
{
    text-decoration: none;
}

.name_display
{
    clear: both;

    padding: 5px 10px;

    border-top: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
    background: #f0f0f0;
}

#header_inner
{
    padding: 5px 2px 5px 2px;
}

#logo
{
    float: left;

    width: 200px;
    margin: 0;
    padding: 5px 0 0 0;
}

#header_menu
{
    float: right;
}

#header_menu ul
{
    list-style: none;
}

#header_menu ul li
{
    margin-bottom: 3px;
}

.global_menu_out
{
    height: 51px;
    padding: 2px 0 2px 0;

    background: -webkit-gradient(linear, right top, left top, from(#ae8b39), to(#efce76));
    background-image: -moz-linear-gradient(right top, #ae8b39, #efce76);
}

.global_menu
{
    height: 51px;

    background: -webkit-gradient(linear, right top, left top, from(#ff6000), to(#ff832f));
    background-image: -moz-linear-gradient(right top, #ff6000, #ff832f);
}

.global_menu ul
{
    display: table;

    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;

    border-collapse: collapse;
}

.global_menu ul li
{
    display: table-cell;

    box-sizing: border-box;

    list-style: none;

    text-align: center;
    vertical-align: middle;
}

.global_menu ul li a
{
    display: block;

    height: 51px;
    padding: 0 1px 0 0;

    background: url(../../img/s/icon.jpg) no-repeat;
    background-position: right center;
}

.global_menu ul li a img
{
    padding-top: 5px;
}

.small
{
    font-size: 11px;
}

/*==========================================*/
/*==商品ラインナップ==*/
/*==========================================*/
#menu
{
    margin-bottom: 10px;
    padding: 5px 5px 10px 5px;

    background: -webkit-gradient(linear, right top, left top, from(#ae8b39), to(#efce76));
    background-image: -moz-linear-gradient(right top, #ae8b39, #efce76);
}

#menu a
{
    display: block;

    text-decoration: none;

    color: #333;
}

#category li
{
    font-size: 95%;

    display: block;

    width: 95%;
    margin: 0 auto;
    padding: 0 0 0 10px;

    list-style: none;

    text-align: left;

    border: 3px double #dbdbdb;
    border-radius: 2px;
    background-image: -webkit-linear-gradient(bottom, #f0f0f0 0%, white 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f0f0f0), color-stop(1, white));
    box-shadow: 0 0 4px #ccc;
}

#op span a
{
    padding-left: 22px;

    background: url(../img/icon2.png) no-repeat left center;
    -webkit-background-size: 12px 12px;
}

#op span
{
    display: block;

    padding: 15px 0;

    background: url(../img/bg_optionskin.png) no-repeat right bottom;
    background-size: 40%;
}

#make span
{
    display: block;

    padding: 15px 0;

    background: url(../img/bg_makeup.png) no-repeat right bottom;
    background-size: 40%;
}

#make span a
{
    padding-left: 22px;

    background: url(../img/icon2.png) no-repeat left center;
    -webkit-background-size: 12px 12px;
}

#hair span
{
    display: block;

    padding: 15px 0;

    background: url(../img/bg_haircare.png) no-repeat right bottom;
    background-size: 40%;
}

#hair span a
{
    padding-left: 22px;

    background: url(../img/icon2.png) no-repeat left center;
    -webkit-background-size: 12px 12px;
}

#supple span
{
    display: block;

    padding: 15px 0;

    background: url(../img/bg_supplement.png) no-repeat right bottom;
    background-size: 40%;
}

#supple span a
{
    padding-left: 22px;

    background: url(../img/icon2.png) no-repeat left center;
    -webkit-background-size: 12px 12px;
}

.etc
{
    font-size: 95%;

    display: block;

    width: 95%;
    margin: 0 auto;
    padding: 10px 0 10px 10px;

    list-style: none;

    text-align: left;

    border: 3px double #dbdbdb;
    border-radius: 2px;
    background-image: -webkit-linear-gradient(bottom, #f0f0f0 0%, white 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f0f0f0), color-stop(1, white));
}

.etc a
{
    padding-left: 22px;

    background: url(../img/icon2.png) no-repeat left center;
    -webkit-background-size: 12px 12px;
}

.kensuu
{
    position: relative;
    z-index: 0;

    display: inline-block;

    width: 96%;
    margin: 0 0 3%;
    padding: 1% 2%;

    color: #666;
    background: #f0edde;
}

.kensuu2
{
    position: relative;
    z-index: 0;

    display: inline-block;

    width: 90%;
    margin: 2% 2% 5%;
    padding: .5% 3%;

    color: #fff;
    border-radius: 4px;
    background: #404952;
}

.kensuu:after
{
    position: absolute;
    bottom: -10px;
    left: 10%;

    display: block;

    width: 0;
    height: 0;
    margin-left: -8px;

    content: '';

    border-width: 10px 10px 0 10px;
    border-style: solid;
    border-color: #f0edde transparent transparent transparent;
}

.kensuu2:after
{
    position: absolute;
    bottom: -10px;
    left: 10%;

    display: block;

    width: 0;
    height: 0;
    margin-left: -8px;

    content: '';

    border-width: 10px 10px 0 10px;
    border-style: solid;
    border-color: #404952 transparent transparent transparent;
}

.kensuu span
{
    padding: 0 3px;

    color: #c9395d;
}

.kensuu2 span
{
    padding: 0 3px;

    color: #b23d58;
}

/*==========================================*/
/*==共通帯==*/
/*==========================================*/
.obi
{
    font-size: 88%;

    padding: 9px 0 9px 10px;

    text-align: left;
    letter-spacing: .1em;

    color: #fff;
    background: url(../img/ttl_bg.jpg) no-repeat;
    background-size: 100%;
}

.obi2 a
{
    font-size: 88%;

    color: #fff;
}

.obi2
{
    font-size: 112%;
    font-weight: bold;

    width: 100%;
    margin: 0 auto;
    padding: 13px 0;

    color: #fff;
    border-bottom: 3px double #fee9b1;
    border-radius: 5px 5px 0 0;
    background: -webkit-gradient(linear, right top, left top, from(#ff6000), to(#ff832f));
    background-image: -moz-linear-gradient(right top, #ff6000, #ff832f);
}

/*==========================================*/
/*==アコーディオンメニュー==*/
/*==========================================*/
.acordion
{
    display: block;

    width: 98%;

    text-align: left;

    border: 3px double #dbdbdb;
    border-radius: 2px;
    background-image: -webkit-linear-gradient(bottom, #f0f0f0 0%, white 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f0f0f0), color-stop(1, white));
}

.acordion p
{
    float: left;

    padding-left: 22px;

    background: url(../img/icon2.png) no-repeat left center;
    -webkit-background-size: 12px 12px;
}

.trigger
{
    font-size: 88%;

    padding: 15px 15px 15px 10px;

    border-radius: 2px;
    background: url(../img/bg_step.png) no-repeat right center;
    background-size: 40%;
}

.trigger.active
{
    border-bottom: 1px solid #cfcfcf;
    border-radius: 2px 2px 0 0;
}

.acordion_tree
{
    font-size: 75%;

    padding: 15px;
}

.open-close
{
    display: block;
    float: right;

    width: 21px;
    height: 21px;

    background: url(../img/open.png) no-repeat;
    -webkit-background-size: 21px 21px;
}

.trigger.active .open-close
{
    background: url(../img/close.png) no-repeat;
    -webkit-background-size: 21px 21px;
}

/*==========================================*/
/*==4ステップメニュー==*/
/*==========================================*/
.h
{
    font-size: 110%;

    width: 90%;
    margin: 0 auto 5px auto;
    padding: 15px;

    text-align: left;

    border: 1px solid #dbdbdb;
    border-radius: 5px;
    background: url(../../img/s/bg_step_about.jpg) no-repeat right bottom;
    background-color: #fff;
    background-size: 30%;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

.h_tt
{
    font-size: 18px;

    color: #ea4154;
}

.h .inner .txt
{
    font-size: 80%;

    width: 62%;
    margin-left: 15px;
    padding: 15px;

    background: #ddd;
}

.simple_nav01 span a
{
    padding: 0 0 0 20px;

    background: url(../../img/s/icon2.png) no-repeat left center;
    -webkit-background-size: 12px 12px;
}

.simple_nav02
{
    font-size: 110%;

    width: 90%;
    height: 20px;
    margin: 0 auto 5px auto;
    padding: 15px;

    text-align: left;

    border: 1px solid #dbdbdb;
    border-radius: 5px;
    background: url(../../img/s/bg_set.jpg) no-repeat right bottom;
    background-color: #fff;
    background-size: 30%;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

.simple_nav02 span a
{
    padding: 0 0 0 20px;

    background: url(../../img/s/icon2.png) no-repeat left center;
    -webkit-background-size: 12px 12px;
}

.simple_nav03
{
    font-size: 110%;

    width: 90%;
    height: 20px;
    margin: 0 auto 5px auto;
    padding: 15px;

    text-align: left;

    border: 1px solid #dbdbdb;
    border-radius: 5px;
    background: url(../../img/s/bg_soap.jpg) no-repeat right bottom;
    background-color: #fff;
    background-size: 30%;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

.simple_nav03 span a
{
    padding: 0 0 0 20px;

    background: url(../img/icon2.png) no-repeat left center;
    -webkit-background-size: 12px 12px;
}

.simple_nav04
{
    font-size: 110%;

    width: 90%;
    height: 20px;
    margin: 0 auto 5px auto;
    padding: 15px;

    text-align: left;

    border: 1px solid #dbdbdb;
    border-radius: 5px;
    background: url(../../img/s/bg_spray.jpg) no-repeat right bottom;
    background-color: #fff;
    background-size: 30%;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

.simple_nav04 span a
{
    padding: 0 0 0 20px;

    background: url(../../img/s/icon2.png) no-repeat left center;
    -webkit-background-size: 12px 12px;
}

.simple_nav05
{
    font-size: 110%;

    width: 90%;
    height: 20px;
    margin: 0 auto 2px auto;
    padding: 15px;

    text-align: left;

    border: 1px solid #dbdbdb;
    border-radius: 5px;
    background: url(../../img/s/bg_cream.jpg) no-repeat right bottom;
    background-color: #fff;
    background-size: 30%;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

.simple_nav05 span a
{
    padding: 0 0 0 20px;

    background: url(../../img/s/icon2.png) no-repeat left center;
    -webkit-background-size: 12px 12px;
}

/*==========================================*/
/*==フッター==*/
/*==========================================*/
footer
{
    padding-top: 5px;

    background: -moz-linear-gradient(top, #f6f1de, #fff);
    background: -webkit-gradient(linear, left top, left bottom, from(#f6f1de), to(#fff));
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #efebe0), color-stop(1, white));
}

#footer_nav
{
    display: table;

    width: 95%;
    margin: 0 auto 10px auto;
}

#footer_nav .f_left,
#footer_nav .f_right
{
    display: table-cell;

    box-sizing: border-box;
    width: 50%;
    padding: 10px 0;

    text-align: center;
    text-decoration: none;

    color: #333;
    border: 1px solid #ccc;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(.48, #f4f3f2), color-stop(.48, #fcfcfa));
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    text-shadow: 0 1px 0 #fff;
}

#footer_nav .f_left
{
    float: none;

    border-radius: 10px 0 0 10px;
}

#footer_nav .f_right
{
    float: none;

    border-left: none;
    border-radius: 0 10px 10px 0;
}

#footer_nav .f_left span,
#footer_nav .f_right span
{
    padding: 0 0 0 16px;

    background: url(../../img/s/icon2.png) no-repeat left center;
    -webkit-background-size: 12px 12px;
}

#footer-menu1
{
    font-size: 88%;

    width: 94%;
    margin: 0 auto 20px auto;

    border: #ccc solid 1px;
    border-radius: 10px 10px 10px 10px;
}

#footer-menu1 ul
{
    padding: 1px;
}

#footer-menu1-list li
{
    float: left;

    width: 50%;

    list-style: none;

    text-align: center;

    border-right: #ccc solid 1px;
    border-bottom: #ccc solid 1px;
    border-radius: 5px 0 0 0;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(.48, #f4f3f2), color-stop(.48, #fcfcfa));
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    text-shadow: 0 1px 0 #fff;
}

#footer-menu1-list li a
{
    display: block;

    padding: 10px 0;

    text-decoration: none;

    color: #333;
}

#footer-menu1-list .f_m_right
{
    float: left;

    width: 49%;

    border-right: 0 solid #ccc;
    border-radius: 0 5px 0 0;
}

#footer-menu1-list .listbottom_r
{
    border-bottom: 0 solid #ccc;
    border-radius: 0 0 0 5px;
}

#footer-menu1-list .listbottom_l
{
    border-bottom: 0 solid #ccc;
    border-radius: 0 0 5px 0;
}

.fot-link
{
    padding: 15px 10px 0;

    text-align: center;
}

.fot-link li
{
    line-height: 1;

    display: inline;

    margin: 0 8px 0 0;
    padding: 0 8px 0 0;

    border-right: 1px solid #c0b7a1;
}

.fot-link .cmn-btn-beg
{
    display: block;

    box-sizing: border-box;
    width: auto;
    height: 35px;
    margin: 0 0 15px;
    padding: 0;

    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd7c9));
    background: -webkit-linear-gradient(top, #fff, #ddd7c9);
    background:         linear-gradient(to bottom, #fff, #ddd7c9);
}

.fot-link .cmn-btn-beg a
{
    font-size: 13px;

    display: block;

    padding: 10px 0;

    text-decoration: none;
}

.fot-link li:nth-last-child(4)
{
    border-right: none;
}

.fot-link li:last-child
{
    margin: 0;
    padding: 0;

    border-right: none;
}

.fot-link li a
{
    font-size: 12px;
    line-height: 1;

    display: inline-block;

    margin-bottom: 20px;

    text-decoration: underline;

    color: #333;
}

.fot-link .pup
{
    display: block;

    margin: 0 -10px 15px;
    padding: 0;

    border-top: solid 1px #d7d1c3;
    border-right: none;
    border-bottom: solid 1px #d7d1c3;
    background-color: #fff;
}

.fot-link .pup a
{
    font-size: 13px;
    line-height: 1.4;

    display: block;

    margin-bottom: 0;
    padding: 10px;

    text-decoration: none;

    color: #068681;
}

.fot-link .pup .icon-up
{
    display: inline-block;

    width: 21px;
    height: 11px;

    vertical-align: baseline;

    background-position: -50px 0;
}

#tel
{
    font-size: 88%;

    width: 97%;
    margin: 0 auto 15px auto;

    text-align: left;

    border: 1px solid #ff832f;
    border-radius: 5px;
    background: #fff;
}

.obi2 a
{
    font-size: 88%;

    color: #fff;
}

.bc-inr a
{
    text-decoration: none;
}

/*
.obi2,
.obi3{
background: -webkit-gradient(linear, right top, left top, from(#FF6000), to(#FF832F));
background-image: -moz-linear-gradient(right top , #FF6000, #FF832F);
border-radius: 5px 5px 0 0;
margin:0 auto;
color:#FFF;
padding:13px 0;
width:100%;
font-weight:bold;
font-size: 112%;
border-bottom: 3px double #FEE9B1;
}*/
.obi3
{
    font-size: 88%;
    font-weight: normal;

    width: 95%;
    padding: 9px 0 9px 5%;

    text-align: left;
}

.tel_in
{
    display: block;

    margin: 0 auto;
    padding: 10px;
}

#tel dt
{
    letter-spacing: .1em;

    border-top: 1px solid #ff832f;
}

#tel dt span
{
    font-weight: bold;

    display: block;

    padding: 5px 0 2px 10px;

    color: #be9c48;
    border-top: 1px solid #969696;
    border-top: 1px solid #fff;
}

#tel dd
{
    margin-bottom: 8px;
    padding: 0 0 0 10px;
}

#copyright
{
    font-size: 11px;

    padding: 5px 0 5px 0;

    text-align: center;

    background: -webkit-gradient(linear, right top, left top, from(#ddd7c9), to(#fff));
    background-image: -moz-linear-gradient(right top, #ddd7c9, #fff);
}

footer address
{
    font-size: 12px;
    font-style: normal;

    margin-bottom: 10px;
    padding: 10px 0;

    text-align: center;

    color: #fff;
    background: -webkit-gradient(linear, right top, left top, from(#ff6000), to(#ff832f));
    background-image: -moz-linear-gradient(right top, #ff6000, #ff832f);
}

#secure
{
    font-size: 65%;

    padding: 3px 0 0 0;

    text-align: left;

    background: -webkit-gradient(linear, right top, left top, from(#ae8b39), to(#efce76));
    background-image: -moz-linear-gradient(right top, #ae8b39, #efce76);
}

#secure_in
{
    padding: 5px 0;

    background: #fff;
}

.se_left
{
    float: left;

    box-sizing: border-box;
    width: 20%;
}

.se_right
{
    float: right;

    box-sizing: border-box;
    width: 60%;
    padding-left: 10px;
}

/* cmn-bread
------------------------------------------------------- */
#cmn-bread
{
    position: relative;

    overflow: hidden;

    height: 26px;
    /*margin-bottom: 2px;*/
    padding: 0;

    border-top: 1px solid #c0b8a3;
    border-bottom: 1px solid #c0b8a3;
    background: #d7d1c3;
}

#cmn-bread ul
{
    display: inline-block;

    white-space: nowrap;

    background-color: #f3f0e9;
}

#cmn-bread li
{
    display: inline-block;
}

#cmn-bread li a,
#cmn-bread li > span
{
    position: relative;

    display: block;
    float: left;

    padding: 0 2px 0 13px;

    color: #333;
}

#cmn-bread li a
{
    background-color: #f3f0e9;
}

#cmn-bread li > span
{
    background-color: #d7d1c3;
}

#cmn-bread li a span,
#cmn-bread li > span
{
    font-size: 12px;
    line-height: 26px;

    display: block;
}

#cmn-bread li a:after
{
    /* 三角の幅 */
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 100%;

    display: block;

    width: 0;
    height: 0;
    margin-top: -16px;

    content: ' ';

    border-top: 16px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 9px solid #f3f0e9;
}

#cmn-bread li a:before
{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 100%;

    display: block;

    width: 0;
    height: 0;
    margin-top: -16px;
    margin-left: 1px;

    content: ' ';

    border-top: 16px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 9px solid #bfb7a2;
}

#cmn-bread li:first-child
{
    position: absolute;
    z-index: 1000;
    left: 0;
}

#cmn-bread li:first-child a,
#cmn-bread li:first-child > span
{
    width: 36px;
    padding: 0;

    background: url('../../img/s/ico_bred_home.png') no-repeat 11px 5px #f3f0e9;
    background-size: 16px 15px;
}

#cmn-bread li:first-child a span
{
    font-size: 1px;

    overflow: hidden;

    width: 36px;
    height: 0;
    padding: 26px 0 0 0;

    color: transparent;
}

#cmn-bread li:nth-child(2)
{
    padding-left: 37px;
}

#cmn-bread ul
{
    /* ２階層の時にAndroidで非リンクにハイライトしてしまう対策 */
    -webkit-tap-highlight-color: transparent;
}

#cmn-bread ul a
{
    /* 同上 */
    -webkit-tap-highlight-color: rgba(0, 0, 0, .2);
}

/*==========================================*/
/*==オレンジボックスリンク==*/
/*==========================================*/
.link_o
{
    font-weight: normal;

    padding: 6px 0 5px;

    text-align: center;

    color: #fff;
    /*background-color: #FFF;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0.48,#c13e60), color-stop(0.48,#e45c80));
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  padding:5px 0;
  margin-bottom:20px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #fff;
  text-align: center;*/
    background-color: #fef9fe;
    background-image: -webkit-linear-gradient(top, #e35d80, #c03c61);
    background-image:         linear-gradient(to bottom, #e35d80, #c03c61);
}

.link_o a
{
    padding: 0 0 0 16px;

    text-decoration: none;

    color: #333;
    background: url(../../img/s/icon2.png) no-repeat left center;
    -webkit-background-size: 12px 12px;
    text-shadow: 1px 1px 0 #fff;
}

.link_o2
{
    font-weight: bold;

    padding: 6px 0 5px;

    text-align: center;

    color: #fff;
    /*background-color: #FFF;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0.48,#c13e60), color-stop(0.48,#e45c80));
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  padding:5px 0;
  margin-bottom:20px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #fff;
  text-align: center;*/
    background-color: #fef9fe;
    background-image: -webkit-linear-gradient(top, #e35d80, #c03c61);
    background-image:         linear-gradient(to bottom, #e35d80, #c03c61);
}

.link_pi
{
    font-weight: bold;

    padding: 2% 2% 1%;

    color: #6e4444;
    border-bottom: #a39884 1px solid;
    background: #faf6e5 url(../../img/s/label_bg.gif) 0 0 repeat-x;
    /*background-color: #FFF;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0.48,#c13e60), color-stop(0.48,#e45c80));
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  padding:5px 10px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #fff;*/
}

/*==========================================*/
/*==パンくず==*/
/*==========================================*/
#pankuzu
{
    padding: 6px 5px 6px 5px;
}

#pankuzu ul li
{
    font-size: 60%;

    float: left;

    margin-right: 5px;

    color: black;
}

#pankuzu ul li a
{
    display: block;

    padding-right: 12px;

    color: #333;
    background: url(../../img/s/pan_arrow.png) 100% 5px no-repeat;
    -webkit-background-size: 5px 5px;
}

/*==========================================*/
/*==各コンテンツフッターリンく==*/
/*==========================================*/
#bt_nav
{
    width: 100%;
    margin: 0 auto 30px auto;
    padding: 10px 0 10px 0;

    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    background: #f9f9f9;
}

#bt_nav ul
{
    display: block;

    width: 95%;
    margin: 0 auto;
}

#bt_nav ul li
{
    font-size: 65%;

    display: inline-block;

    margin-right: 2px;
}

#bt_nav ul li a
{
    color: #333;
}

.out
{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 4px 0;

    background: -webkit-gradient(linear, right top, left top, from(#ae8b39), to(#efce76));
    background-image: -moz-linear-gradient(right top, #ae8b39, #efce76);
}

/*.inner {
	width:100%;
}*/
/*サイドバー
---------------------------------------------------------------*/
#modal
{
    display: none;
}

#modal h2
{
    font-size: 18px;

    border-bottom: 1px solid #fff;
}

#modal h2,
#modal ul li a
{
    padding: 10px 0;
}

#modal ul
{
    margin-bottom: 20px;
}

#modal ul li a
{
    display: block;

    color: #fff;
    border-bottom: 1px dashed #6f6f6f;
}

.close
{
    font-weight: bold;
}

.close a
{
    padding: 3px 10px;

    color: #000;
    background: #ccc;
}

.open
{
    display: block;
    float: right;

    margin-top: 5px;
    padding: 7px;

    border: 1px solid #e0e0e0;
    border-radius: 3px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1, #e5e5e5), color-stop(0, #fff));
    background: -webkit-linear-gradient(top, #fff 0%, #e5e5e5 100%);
    background:         linear-gradient(top, #fff 0%, #e5e5e5 100%);
    -webkit-background-size: 20px 20px;
}

.open img
{
    vertical-align: middle;
}

#pageslide
{
    position: absolute;
    position: fixed;
    z-index: 999999;
    top: 0;
    /* These styles MUST be included. Do not change. */

    display: none;
    /* Specify the width of your pageslide here */

    width: 260px;
    height: 100%;
    padding: 20px;

    color: #fff;
    /* These styles are optional, and describe how the pageslide will look */
    background-color: #333;
    -webkit-box-shadow: inset 0 0 5px 5px #222;
            box-shadow: inset 0 0 5px 5px #222;

    -moz-shadow: inset 0 0 5px 5px #222;
}

.topic_tt
{
    font-weight: bold;

    margin: 3%;
    padding: 2% 3%;

    color: #ef5766;
    border-bottom: #ef5766 1px dotted;
    border-left: #ef5766 5px solid;
}

/* メニューアイコン */
/*.ico-menu {
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 20px;
    height: 0;
    padding-top: 18px;
    background: #de587b;
    margin-top: 15px;
}

.ico-menu::before,
.ico-menu::after {
    position: absolute;
    left: 0;
    content: "";
    width: 20px;
    height: 0;
    border-top: 3px solid #fff;
}

.ico-menu::before {
    top: 4px;
}

.ico-menu::after {
    bottom: 4px;
}*/
#rogin_area label
{
    clear: both !important;
}

#rogin_area input[type=text],
#rogin_area input[type=password]
{
    width: 100%;
    height: 30px;
    margin: 0 auto;

    border: 1px solid #ccc;
    border-radius: 12px;
}

#rogin_area .inner_box
{
    font-size: 90%;

    width: 80%;
    margin: 0 auto;

    background-color: #f0efed;
}

#rogin_area .btn_pi
{
    width: 80%;
    margin: 15px auto 0;
}

.top_new_review_box
{
    margin-bottom: 5px;
    padding: 2% 1%;

    border-bottom: 1px dotted #c5c5c5;
}

.top_new_review_box .img
{
    float: left;

    width: 30%;
}

.top_new_review_box .img img
{
    padding: 3px;

    border: 1px solid #eee;
}

.top_new_review_box .summary
{
    float: right;

    width: 70%;
    margin-bottom: 3%;
}

.top_new_review_box .summary .name
{
    font-size: 90%;
}

.top_new_review_box .summary .name a
{
    font-weight: bold;

    color: #cf4c6e;
}

.top_new_review_box .summary .option_follow
{
    font-size: 70%;
}

.top_new_review_box .summary .option_review
{
    font-size: 70%;

    padding-left: 20px;

    background: url(../../img/s/review_mark.png) no-repeat left 0;
}

.top_new_review_box .summary .cat
{
    font-size: 70%;
}

.top_new_review_box .summary .caption
{
    font-size: 70%;

    padding: 2px;

    border: 1px solid #d0cccd;
    border-radius: 2px;
    background: #f0f0f0;
}

.top_new_review_box .btn
{
    float: right;
}

#shibori_cat
{
    padding: 15px 0;

    border-top: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
}

#shibori_cat select
{
    display: block;

    width: 80%;
    height: 30px;
    margin: 0 auto;

    text-align: center;

    border: 1px solid #ccc;
    border-radius: 10px;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(.48, #f4f3f2), color-stop(.48, #fcfcfa));
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    text-shadow: 0 1px 0 #fff;
}

.btn_2col
{
    width: 80%;
    margin: 0 auto;

    text-align: center;
}

.btn_2col li
{
    float: left;

    width: 50%;
}

.btn_2col li a
{
    display: block;

    width: 90%;
    margin-bottom: 30px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;

    border: 1px solid #ccc;
    border-radius: 6px;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(.48, #f4f3f2), color-stop(.48, #fcfcfa));
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    text-shadow: 0 1px 0 #fff;
}

#all_shop_rank_area
{
    padding-top: 15px;
}

#all_shop_rank_area .link_arrow
{
    background: url(../../img/s/green_arrow.png) 97% 50% no-repeat;
    background-size: 16px 22px;
}

#all_shop_rank_area .tt
{
    font-size: 110%;
    font-weight: bold;

    margin-top: 5px;
}

#all_shop_rank_area .rank
{
    font-size: 110%;
    font-weight: bold;

    margin-top: 5px;
}

.all_rank_box
{
    margin-top: -1px;
    margin-bottom: 5px;
    padding-bottom: 5px;

    border-bottom: 1px dotted #c5c5c5;
}

.all_rank_box .img
{
    float: left;

    width: 20%;
    margin-right: 1%;

    text-align: center;
}

.all_rank_box .img span
{
    font-size: 160%;
    font-weight: bold;
}

.all_rank_box .img2
{
    float: left;

    padding: 2px;

    border: 1px solid #eee;
}

.all_rank_box .summary .caption
{
    margin-bottom: 5px;
}

.all_rank_box .summary
{
    width: 62%;
}

.all_rank_box .summary .option .cat
{
    color: #704d4b;
}

.all_rank_box .summary .info
{
    margin-bottom: 5px;
}

.all_rank_box .summary .tt
{
    font-size: 110%;
    font-weight: bold;

    margin-top: 5px;
}

.link_arrow
{
    background: url(../../img/s/green_arrow.png) 97% 50% no-repeat;
    background-size: 16px 22px;
}

#reference_box .box_inner
{
    padding: 10px;

    border-bottom: 1px solid #e82f73;
}

#reference_box .box_inner .img
{
    float: left;
}

#reference_box .box_inner .tt
{
    color: #f05364;
}

#reference_box .box_inner .cat
{
    font-size: 10px;

    padding: 3px;

    color: #fff;
    border: 1px solid #de3c78;
    border-radius: 4px;
    background: #e82f73;
}

#reference_box .box_inner .option
{
    float: left;

    margin-left: 15px;
}

/* レビューのレビュー */
#pickup_box .box_inner
{
    margin: 0 auto 0;
    /* border-bottom: #ccc 1px solid;
  padding-bottom: 2%; */
}

#pickup_box .pickup_box_summary
{
    padding: 1% 2%;

    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    background: #f3f3f3;
}

#pickup_box .pickup_box_summary .profile_img
{
    float: left;
}

#pickup_box .pickup_box_summary .profile_img img
{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

#pickup_box .box_inner .font08
{
    color: #999;
}

#pickup_box .box_inner .review
{
    font-size: 70%;

    letter-spacing: -1px;
}

#pickup_box .box_inner .review img
{
    width: 8%;
    height: auto;
}

#pickup_box .box_inner .review .cow
{
    font-weight: bold;

    margin: 0 5px;

    color: #f05364;
}

#pickup_box .box_inner .name a
{
    font-weight: bold;

    text-decoration: none;

    color: #333;
}

#pickup_box .box_inner .name span
{
    float: right;
}

#pickup_box .box_inner .img
{
    float: left;

    width: 20%;
    margin-top: 2%;
    margin-left: 2%;
}

#pickup_box .box_inner .summary
{
    float: right;

    width: 65%;
    margin-top: 2%;
    margin-right: 2%;
}

#pickup_box .link_arrow
{
    background: url(../../img/s/green_arrow.png) 97% 50% no-repeat;
    background-size: 16px 22px;
}

#pickup_box .box_inner .summary .btn_gray
{
    font-size: 80%;

    width: 90%;
}

#pickup_box .box_inner .caption a
{
    font-weight: bold;

    color: #f05364;
}

#pickup_box .box_inner .caption span
{
    margin-left: 10px;
}

#pickup_box .box_inner .tt
{
    color: #f05364;
}

#pickup_box .box_inner .txt
{
    font-size: 90% !important;

    overflow: hidden;

    height: 64px;

    color: #555;
}

#pickup_box .box_inner .day
{
    font-size: 80%;

    text-align: right;
}

#pickup_box .box_inner .cat
{
    font-size: 10px;

    padding: 3px;

    color: #fff;
    border: 1px solid #de3c78;
    border-radius: 4px;
    background: #e82f73;
}

#pickup_box .box_inner .option
{
    float: left;

    margin-left: 15px;
}

#pickup_box .course_mark
{
    display: inline-block;
    float: right;
}

#pickup_box .course_mark span
{
    font-size: 80%;

    height: 13px;
    margin-right: 5px;
    padding: 1px 7px 1px 7px;

    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
}

#pickup_box .course_mark span.new
{
    color: #e291a4;
    border: 1px solid #e291a4;
    background: #fbdee2;
}

#pickup_box .course_mark span.target
{
    color: #e5bc62;
    border: 1px solid #e5bc62;
    background: #fcf2de;
}

#rankingArea
{
    margin: 0 auto 0;
    /* border-bottom: #ccc 1px solid; */
    margin-top: 5px;
    padding-bottom: 2%;
}

/* レビューのレビュートップページ */
#pickup_box_top .box_inner
{
    margin-bottom: 10px;
    padding-bottom: 5px;

    border-bottom: 1px dotted #c5c5c5;
}

#pickup_box_top .box_inner .font08
{
    color: #999;
}

#pickup_box_top .box_inner .review
{
    font-size: 70%;
}

#pickup_bo_topx .box_inner .review .cow
{
    font-weight: bold;

    margin: 0 5px;

    color: #f05364;
}

#pickup_box_top .box_inner .name a
{
    font-weight: bold;

    text-decoration: none;

    color: #333;
}

#pickup_box_top .box_inner .name span
{
    float: right;
}

#pickup_box_top .box_inner .img
{
    float: left;

    padding: 2px;

    border: 1px solid #eee;
}

#pickup_box_top .box_inner .summary
{
    float: right;

    width: 65%;
    margin-right: 2%;
}

#pickup_box_top .link_arrow
{
    background: url(../../img/s/green_arrow.png) 97% 50% no-repeat;
    background-size: 16px 22px;
}

#pickup_box_top .box_inner .summary .btn_gray
{
    font-size: 80%;

    width: 90%;
}

#pickup_box_top .box_inner .caption a
{
    font-weight: bold;

    color: #f05364;
}

#pickup_box_top .box_inner .caption span
{
    margin-left: 10px;
}

#pickup_box_top .box_inner .tt
{
    color: #f05364;
}

#pickup_box_top .box_inner .txt
{
    font-size: 80%;

    margin: 2% 0;
}

#pickup_box_top .link_arrow .txt
{
    font-size: 80%;

    margin: 2% 8% 2% 0;
}

#pickup_box_top .box_inner .cat
{
    font-size: 10px;

    padding: 3px;

    color: #fff;
    border: 1px solid #de3c78;
    border-radius: 4px;
    background: #e82f73;
}

#pickup_box_top .box_inner .option
{
    float: left;

    margin-left: 15px;
}

/* レビューのレビュー */
#review_box .box_inner
{
    margin: 0 auto 0;
    padding-bottom: 2%;

    border-bottom: #ccc 1px solid;
}

#review_box .review_box_summary
{
    padding: 1% 2%;

    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    background: #f3f3f3;
}

#review_box .review_box_summary .profile_img
{
    float: left;
}

#review_box .review_box_summary .profile_img img
{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

#review_box .box_inner .font08
{
    color: #999;
}

#review_box .box_inner .review
{
    font-size: 70%;
}

#review_box .box_inner .review img
{
    width: 8%;
    height: auto;
}

#review_box .box_inner .review .cow
{
    font-weight: bold;

    margin: 0 5px;

    color: #f05364;
}

#review_box .box_inner .name a
{
    font-weight: bold;

    text-decoration: none;

    color: #333;
}

#review_box .box_inner .name span
{
    float: right;
}

#review_box .box_inner .summary
{
    margin-top: 2%;
    margin-right: 2%;
}

#review_box .link_arrow
{
    background: url(../../img/s/green_arrow.png) 97% 50% no-repeat;
    background-size: 16px 22px;
}

#review_box .box_inner .summary .btn_gray
{
    font-size: 80%;

    width: 90%;
}

#review_box .box_inner .caption a
{
    font-weight: bold;

    text-decoration: none;

    color: #f05364;
}

#review_box .box_inner .caption span
{
    margin-left: 10px;
}

#review_box .box_inner .tt
{
    color: #f05364;
}

#review_box .box_inner .txt
{
    font-size: 90% !important;

    margin: 2% 0;

    color: #555;
}

#review_box .link_arrow .txt
{
    font-size: 80%;

    margin: 2% 8% 2% 0;
}

#review_box .box_inner .cat
{
    font-size: 10px;

    padding: 3px;

    color: #fff;
    border: 1px solid #de3c78;
    border-radius: 4px;
    background: #e82f73;
}

#review_box .box_inner .option
{
    float: left;

    margin-left: 15px;
}

#review_box .course_mark
{
    display: inline-block;
    float: right;

    margin-top: 7px;
}

#review_box .course_mark span
{
    font-size: 80%;

    height: 13px;
    margin-right: 5px;
    padding: 1px 7px 1px 7px;

    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
}

#review_box .course_mark span.new
{
    color: #e291a4;
    border: 1px solid #e291a4;
    background: #fbdee2;
}

#review_box .course_mark span.target
{
    color: #e5bc62;
    border: 1px solid #e5bc62;
    background: #fcf2de;
}

#review_box .score
{
    padding: 1%;

    border-top: 1px solid #ccc;
}

#review_box .date
{
    font-size: 70%;
    font-weight: normal;

    float: right;

    color: #333;
}

/* review_navi */
.review_navi
{
    margin: 0;
    padding: 5px 0;

    text-align: center;

    border-bottom: 2px solid #ccc;
    background-color: #eee;
}

.review_navi p
{
    font-weight: bold;

    display: inline-block;

    width: 28%;
    margin: 0 2%;
}

/*
.review_navi p a {
	display: block;
	text-decoration: none;
	background: #fff;
	border: #ccc 1px solid;
	box-shadow: 0 1px 2px #999999;
	padding: 3% 7%;
	border-radius: 4px;
}
*/
/* レビューの詳細 */
#review_detail_box .box_inner
{
    width: 95%;
    margin: 0 auto 0;
    padding-bottom: 2%;
}

#review_detail_box .pickup_box_summary
{
    padding: 1% 2%;

    border: 1px solid #ccc;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #f3f3f3;
}

#review_detail_box .review_detail_body
{
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#review_detail_box .pickup_box_summary .profile_img
{
    float: left;
}

#review_detail_box .pickup_box_summary .profile_img img
{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

#review_detail_box .box_inner .font08
{
    color: #999;
}

#review_detail_box .box_inner .review
{
    font-size: 70%;
}

#review_detail_box .box_inner .review img
{
    width: 8%;
    height: auto;

    vertical-align: middle;
}

#review_detail_box .box_inner .review .cow
{
    font-weight: bold;

    margin: 0 5px;
}

#review_detail_box .box_inner .name a
{
    font-weight: bold;

    margin-top: 5px;

    text-decoration: none;

    color: #333;
}

#review_detail_box .box_inner .name span
{
    float: right;
}

#review_detail_box .box_inner .summary
{
    padding: 5px;
}

#review_detail_box .box_inner .summary .btn_gray
{
    font-size: 80%;

    width: 90%;
}

#review_detail_box .box_inner .caption
{
    font-weight: bold;

    margin: 5px;

    color: #f05364;
}

#review_detail_box .box_inner .caption span
{
    margin-left: 10px;
}

#review_detail_box .box_inner .tt
{
    color: #f05364;
}

#review_detail_box .box_inner .txt
{
    font-size: 90%;

    margin: 2% 0;

    color: #555;
}

#review_detail_box .box_inner .day
{
    font-size: 80%;

    text-align: right;

    color: #666;
}

#review_detail_box .box_inner .cat
{
    font-size: 10px;

    padding: 3px;

    color: #fff;
    border: 1px solid #de3c78;
    border-radius: 4px;
    background: #e82f73;
}

#review_detail_box .box_inner .option
{
    float: left;

    margin-left: 15px;
}

#review_detail_box .course_mark
{
    display: inline;
}

#review_detail_box .course_mark span
{
    font-size: 9px;

    height: 13px;
    margin-right: 5px;
    padding: 1px 7px 1px 7px;

    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
}

#review_detail_box .course_mark span.new
{
    color: #e291a4;
    border: 1px solid #e291a4;
    background: #fbdee2;
}

#review_detail_box .course_mark span.target
{
    color: #e5bc62;
    border: 1px solid #e5bc62;
    background: #fcf2de;
}

#review_detail_box .score
{
    padding: 1%;

    border-top: 1px solid #ccc;
}

#review_detail_box .score_head
{
    margin-right: 5px;
    padding: 5px;

    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    background: #f3f3f3;
}

.favoriteBtn
{
    float: right;

    margin-top: 6px;
}

.favoriteBtn a
{
    font-size: 11px;
    font-weight: normal !important;

    padding: 4px 6px 4px 23px;

    background: url(../../img/s/icon_save.png) no-repeat 4px center;
}

.delete2Btn a
{
    font-size: 11px;
    font-weight: normal !important;

    padding: 4px 6px 4px 23px;

    background: url(../../img/s/icon_delete.png) no-repeat 4px center;
}

#review_detail_box .favoriteBtn
{
    float: right;
}

#review_detail_box .favoriteBtn a
{
    font-size: 11px;
    font-weight: normal !important;

    padding: 4px 6px 4px 23px;

    background: url(../../img/s/icon_save.png) no-repeat 4px center;
}

#review_detail_box .reportBtn
{
    float: left;
}

#review_detail_box .reportBtn a
{
    padding: 4px 6px 4px 18px;

    background: url(../../img/s/icon_report.png) no-repeat 4px center;
}

#review_detail_box .thanksBtn
{
    float: right;
}

#review_detail_box .thanksBtn > p
{
    float: left;
}

#review_detail_box .thanksBtn > p:first-child
{
    margin-top: 5px;
    margin-right: 10px;
    padding-right: 10px;

    background: url(../../img/s/icon_next.png) no-repeat right 4px;
}

#review_detail_box .thanksBtn a
{
    padding: 4px 6px 4px 18px;

    background: url(../../img/s/icon_heart.png) no-repeat 4px center;
}

#review_detail_box .deleteBtn
{
    float: left;
}

#review_detail_box .deleteBtn a
{
    padding: 4px 6px;
}

#review_detail_box .customBtn
{
    float: right;
}

#review_detail_box .customBtn a
{
    padding: 4px 6px;
}

/* 口コミのランキング */
.review_ranking_box
{
    margin: 0 auto 0;
    padding-bottom: 2%;

    border-bottom: #ccc 1px solid;
}

.review_ranking_box .pickup_box_summary
{
    padding: 1% 2%;

    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    background: #f3f3f3;
}

.review_ranking_box .pickup_box_summary .profile_img
{
    float: left;
}

.review_ranking_box .pickup_box_summary .profile_img img
{
    width: 20%;
    height: auto;
}

.review_ranking_box .box_inner .font08
{
    color: #999;
}

.review_ranking_box .box_inner .review
{
    font-size: 70%;
}

.review_ranking_box .box_inner .review img
{
    width: 8%;
    height: auto;
}

.review_ranking_box .box_inner .review .cow
{
    font-weight: bold;

    margin: 0 5px;

    color: #f05364;
}

.review_ranking_box .box_inner .name a
{
    font-weight: bold;

    text-decoration: none;

    color: #333;
}

.review_ranking_box .box_inner .name span
{
    float: right;
}

.review_ranking_box .box_inner .img
{
    float: left;

    padding: 2px;

    border: 1px solid #eee;
}

.review_ranking_box .box_inner .summary
{
    float: right;

    width: 65%;
    margin-top: 2%;
    margin-right: 2%;
}

.review_ranking_box .link_arrow
{
    background: url(../../img/s/green_arrow.png) 97% 50% no-repeat;
    background-size: 16px 22px;
}

.review_ranking_box .box_inner .summary .btn_gray
{
    font-size: 80%;

    width: 90%;
}

.review_ranking_box .box_inner .caption
{
    font-weight: bold;

    margin-top: 3px;
    margin-right: 20px;

    color: #f05364 !important;
}

.review_ranking_box .box_inner .caption a
{
    color: #f05364;
}

.review_ranking_box .box_inner .review_number
{
    font-size: 80%;

    margin-top: 4px;
}

.review_ranking_box .box_inner .review_number a
{
    font-size: 80%;

    color: #f05364;
}

.review_ranking_box .box_inner .tt
{
    font-size: 80%;

    color: #f05364;
}

.review_ranking_box .box_inner .txt
{
    font-size: 80%;

    margin: 2% 0;
}

.review_ranking_box .link_arrow .txt
{
    font-size: 80%;

    margin: 1% 8% 1% 0;
}

.review_ranking_box .box_inner .cat
{
    font-size: 10px;

    padding: 3px;

    color: #fff;
    border: 1px solid #de3c78;
    border-radius: 4px;
    background: #e82f73;
}

.review_ranking_box .box_inner .option
{
    float: left;

    margin-left: 15px;
}

.review_ranking_box .newest_review
{
    font-size: 70%;

    display: inline;

    padding: 1%;

    background: #faf7f0;
}

.review_ranking_box .newest_review#newest_review_01
{
    color: #212322;
    background: #e5d99c;
}

.review_ranking_box .newest_review#newest_review_02
{
    color: #212322;
    background: #ccc;
}

.review_ranking_box .newest_review#newest_review_03
{
    color: #212322;
    background: #ddccb0;
}

.review_ranking_box .rank_name
{
    font-size: 100%;
}

/* 口コミのランキング トップページ */
.review_ranking_box_top
{
    margin-bottom: 10px;
    padding-bottom: 5px;

    border-bottom: 1px dotted #c5c5c5;
}

.review_ranking_box_top .pickup_box_summary
{
    padding: 1% 2%;

    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    background: #f3f3f3;
}

.review_ranking_box_top .pickup_box_summary .profile_img
{
    float: left;
}

.review_ranking_box_top .pickup_box_summary .profile_img img
{
    width: 20%;
    height: auto;
}

.review_ranking_box_top .box_inner .font08
{
    color: #999;
}

.review_ranking_box_top .box_inner .review
{
    font-size: 70%;
}

.review_ranking_box_top .box_inner .review img
{
    width: 8%;
    height: auto;
}

.review_ranking_box_top .box_inner .review .cow
{
    font-weight: bold;

    margin: 0 5px;

    color: #f05364;
}

.review_ranking_box_top .box_inner .name a
{
    font-weight: bold;

    text-decoration: none;

    color: #333;
}

.review_ranking_box_top .box_inner .name span
{
    float: right;
}

.review_ranking_box_top .box_inner .img
{
    float: left;

    padding: 2px;

    border: 1px solid #eee;
}

.review_ranking_box_top .box_inner .summary
{
    float: right;

    width: 60%;
    margin-top: 2%;
    margin-right: 2%;
}

.review_ranking_box_top .link_arrow
{
    background: url(../../img/s/green_arrow.png) 97% 50% no-repeat;
    background-size: 16px 22px;
}

.review_ranking_box_top .box_inner .summary .btn_gray
{
    font-size: 80%;

    width: 90%;
}

.review_ranking_box_top .box_inner .caption
{
    font-weight: bold;

    margin-top: 3px;
    margin-right: 20px;

    color: #f05364 !important;
}

.review_ranking_box_top .box_inner .caption a
{
    color: #f05364;
}

.review_ranking_box_top .box_inner .review_number
{
    font-size: 80%;

    margin-top: 4px;
}

.review_ranking_box_top .box_inner .review_number a
{
    font-size: 80%;

    color: #f05364;
}

.review_ranking_box_top .box_inner .tt
{
    font-size: 80%;

    color: #f05364;
}

.review_ranking_box_top .box_inner .txt
{
    font-size: 80%;

    margin: 2% 0;
}

.review_ranking_box_top .link_arrow .txt
{
    font-size: 80%;

    margin: 1% 8% 1% 0;
}

.review_ranking_box_top .box_inner .cat
{
    font-size: 10px;

    padding: 3px;

    color: #fff;
    border: 1px solid #de3c78;
    border-radius: 4px;
    background: #e82f73;
}

.review_ranking_box_top .box_inner .option
{
    float: left;

    margin-left: 15px;
}

.review_ranking_box_top .newest_review
{
    font-size: 80%;

    display: inline;

    width: 100%;
    padding: 1%;

    color: #fff;
    background: #47a080;
}

.review_ranking_box_top .newest_review#newest_review_01
{
    color: #212322;
    background: #e5d99c;
}

.review_ranking_box_top .newest_review#newest_review_02
{
    color: #212322;
    background: #ccc;
}

.review_ranking_box_top .newest_review#newest_review_03
{
    color: #212322;
    background: #ddccb0;
}

.review_ranking_box_top .rank_name
{
    font-size: 100%;
}

/* 店舗TOPのPICK UP BOX */
#pickup_box2 .box_inner
{
    margin: 0 auto 0;
    padding-bottom: 2%;

    border-bottom: #ccc 1px solid;
}

#pickup_box2 .box_inner .img
{
    float: left;

    width: 40%;
    margin-top: 2%;
    margin-left: 2%;
}

#pickup_box2 .box_inner .img img
{
    width: 100%;
    height: auto;
}

#pickup_box2 .box_inner .summary
{
    float: right;

    width: 55%;
    margin-top: 2%;
    margin-right: 2%;
}

#pickup_box2 .box_inner .caption a
{
    font-weight: bold;

    color: #068681;
}

#pickup_box2 .box_inner .caption span
{
    margin-left: 10px;
}

#pickup_box2 .box_inner .tt
{
    color: #f05364;
}

#pickup_box2 .box_inner .txt
{
    font-size: 90%;

    margin: 2% 0;

    color: #555;
}

#pickup_box2 .box_inner .stars .new_icon
{
    font-size: 80%;

    margin-right: 6px;
    padding: 2px 3px;

    color: #fff;
    background: #e18a21;
}

#pickup_box2 .box_inner .stars img
{
    vertical-align: middle;
}

#pickup_box2 .box_inner .stars .rate
{
    font-size: 70%;

    margin-left: 3px;
}

.pagenation
{
    position: relative;

    margin-bottom: 15px;
    padding: 5%;

    background: #f0edde;
}

.pagenation .before
{
    position: absolute;
    top: 15px;
    left: 1%;

    width: 20%;
}

.pagenation .before a
{
    display: block;

    padding: 5% 5%;

    text-align: center;
    text-decoration: none;

    border: 1px solid #ccc;
    border-radius: 4px;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(.48, #f4f3f2), color-stop(.48, #fcfcfa));
    background-color: #fff;
    text-shadow: 0 1px 0 #fff;
}

.pagenation .number
{
    text-align: center;
}

.pagenation .next
{
    position: absolute;
    top: 15px;
    right: 1%;

    width: 20%;
}

.pagenation .next a
{
    display: block;

    padding: 5% 5%;

    text-align: center;
    text-decoration: none;

    border: 1px solid #ccc;
    border-radius: 4px;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(.48, #f4f3f2), color-stop(.48, #fcfcfa));
    background-color: #fff;
    text-shadow: 0 1px 0 #fff;
}

/*******/
#account_form .inner
{
    padding: 2%;
}

#account_form .steps,
#account_done .steps
{
    margin-bottom: 10px;
}

#account_form .steps img,
#account_done .steps img
{
    width: 100%;
    height: auto;
}

#account_form dt
{
    font-size: 90%;

    display: block;
    /*background-color: #FFF;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0.48,#F4F3F2), color-stop(0.48,#FCFCFA));
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  text-shadow: 0 1px 0 #FFFFFF;*/

    width: 94%;
    margin: 0 auto;
    margin: 2% 2% 0;
    padding: 1% 1% 1% 2%;

    color: #666;
    /*-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);*/
    border-left: #a08f75 5px solid;
}

#account_form dd
{
    padding: 2% 2% 3%;

    border-bottom: #ccc 1px dotted;
}

#account_form #doui
{
    font-size: 80%;

    margin: 10px 0 0;
    padding: 2% 3%;

    border-radius: 4px;
    background-color: #fff;
}

#account_form #doui a
{
    color: #d95376;
}

#account_form #doui .doui_check
{
    font-size: 110%;

    padding: 10px 0 0;
}

#account_form .form_btns p
{
    width: 80%;
}

#account_form .txt
{
    font-size: 80%;

    margin: 10px;
}

#account_form table
{
    width: 95%;
}

#account_form table *
{
    vertical-align: middle;
}

#account_form table th,
#account_formt table td
{
    font-size: 80%;

    padding: 2% 1%;

    text-align: left;
    letter-spacing: -1px;
}

#account_form table th
{
    width: 35%;

    color: #666;
    background-color: #f3f3f3;
}

#account_form table td
{
    width: 55%;
}

#account_form .submitBtn
{
    margin: 20px auto 10px;
}

#account_form span
{
    font-size: 60%;

    margin: 3px;
    margin-left: 10px;
    padding: 2px;

    color: #fff;
    background-color: #f00;
}

#account_form select
{
    height: 30px;
    padding: 5px;
    padding-right: 30px;

    text-align: left;

    border: 1px solid #ccc;
    border-radius: 8px;
    background: #fff;
    background: #fff url(../../img/s/select_arrow.jpg) no-repeat right;

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

input
{
    font-size: 100%;

    width: 95%;
    padding: 5px;

    border: solid 1px #ccc;
    border-radius: 8px;
    background: #fff;
}

input.field_s
{
    width: 12%;
    margin-right: 5px;
}

input.field_m
{
    width: 20%;
    margin-right: 5px;
}

input:focus,
input:hover
{
    border: solid 1px #cc476b;
}

textarea
{
    font-size: 120%;

    width: 95%;
    padding: 5px;

    border: solid 1px #ccc;
    border-radius: 8px;
}

textarea:focus,
textarea:hover
{
    border: solid 1px #999;
}

input[type=radio],
input[type=checkbox]
{
    display: inline-block;

    width: auto;
    margin-right: 6px;
}

input[type='submit']
{
    font-size: 120%;

    width: 100%;
    margin: 0;
    padding: 10px 0;

    text-align: center;

    color: #fff;
    border: solid 1px #c6a950;
    border-radius: 4px;
    background-image: -webkit-linear-gradient(bottom, #b99c44, #c2a95d 49%, #d2c089 50%);
    background-image:         linear-gradient(to top, #b99c44, #c2a95d 49%, #d2c089 50%);
    box-shadow: inset 0 0 5px rgba(255, 255, 255, .15);

    -webkit-appearance: none;
}

.btn_pi input[type='submit']
{
    width: 100%;
    margin: 0;
    padding: 6px 0;

    text-align: center;

    color: #fff;
    border: solid 1px #dd979f;
    border-radius: 4px;
    background-color: #fef9fe;
    background-image: -webkit-linear-gradient(bottom, #f65769, #fe939b 99%);
    background-image:         linear-gradient(to top, #f65769, #fe939b 99%);
    box-shadow: inset 0 2px 3px rgba(255, 255, 255, .75), inset 0 0 5px rgba(255, 255, 255, .2);
}

.btn_gr input[type='submit']
{
    width: 100%;
    margin: 0;
    padding: 6px 0;

    text-align: center;

    color: #333;
    border: solid 1px #d8d3c8;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-image: -webkit-linear-gradient(bottom, #e6e6e6, #fff);
    background-image:         linear-gradient(to top, #e6e6e6, #fff);
    text-shadow: 0 2px 0 #fff;
}

.btn_green2 input[type='submit']
{
    font-weight: bold;

    width: 100%;
    margin: 0;
    padding: 6px 0;

    text-align: center;

    color: #fff;
    border: solid 1px #5ea595;
    /* IE6-9 */
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #89bfb2;
    /* Old browsers */
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #89bfb2), color-stop(50%, #89bfb2), color-stop(51%, #519f91), color-stop(100%, #519f91));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #89bfb2 0%, #89bfb2 50%, #519f91 51%, #519f91 100%);
    /* Chrome10+,Safari5.1+ */
    /* Opera 11.10+ */
    /* IE10+ */
    background:         linear-gradient(to bottom, #89bfb2 0%, #89bfb2 50%, #519f91 51%, #519f91 100%);
    text-shadow: 0 2px 0 #333;
    /* W3C */

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#89bfb2', endColorstr='#519f91',GradientType=0 );
}

#account_done .inner
{
    padding: 2%;
}

#account_done #p1
{
    font-size: 110%;

    width: 80%;
    margin: 0 auto;
}

#newsArea .col
{
    font-size: 110%;

    width: 90%;
    margin: 0 auto 5px auto;
    padding: 15px;

    text-align: left;

    border: 1px solid #dbdbdb;
    border-radius: 5px;
    background: url(../../img/s/bg_step_about.jpg) no-repeat right bottom;
    background-color: #fff;
    background-size: 30%;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

#newsArea .col .tt
{
    font-size: 18px;

    color: #ea4154;
}

#newsArea .col .txt
{
    font-size: 80%;

    width: 62%;
    margin-left: 15px;
    padding: 15px;

    background: #ddd;
}

.label h2
{
    font-size: 100%;
}

/*==========================================*/
/*==会員エリア==*/
/*==========================================*/
#account_box .list
{
    padding: 2% 0;
}

.pickup_box_summary
{
    border-bottom: 1px solid #ccc;
}

.pickup_box_summary .profile_img
{
    float: left;

    margin-right: 5px;
    margin-bottom: 5px;
}

.account_box .course_mark
{
    display: inline-block;
}

.account_box .cow
{
    font-size: 80%;
}

.account_box .course_mark span
{
    font-size: 80%;

    padding: 1px 7px 1px 7px;

    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
}

.account_box .course_mark span.new
{
    color: #e291a4;
    border: 1px solid #e291a4;
    background: #fbdee2;
}

.account_box .course_mark span.target
{
    color: #e5bc62;
    border: 1px solid #e5bc62;
    background: #fcf2de;
}

.account_box
{
    width: 94%;
    margin: 0 auto 3%;
    padding: 3% 2%;

    border: 1px solid #f4f4f4;
    border-radius: 4px;
    background: #fff;
}

.account_box .tt
{
    font-size: 90%;

    margin-bottom: 1%;
}

.account_box a
{
    text-decoration: none;

    color: #d95376;
}

.shop_title a
{
    font-weight: bold;

    text-decoration: none;

    color: #d95376;
}

.account_box .head .user_img
{
    float: left;
}

.account_box .head .head_summary
{
    float: left;

    width: 80%;
    margin-top: 5px;
    margin-left: 10px;
}

.account_box .date
{
    font-size: 70%;
}

.account_box .title
{
    font-weight: bold;
}

.account_box .review_box
{
    padding: 2%;

    background: #fff;
}

.review_box_tt
{
    font-size: 90%;
    font-weight: bold;

    margin-bottom: 1%;

    color: #068681;
}

.review_box_txt
{
    font-size: 80%;
}

#account_area_profile
{
    padding: 5%;
}

#account_area_profile .img
{
    float: left;

    margin-right: 3%;
}

#account_area_profile .summary
{
    float: left;
}

#account_area_profile .image_ver
{
    font-size: 80%;

    color: #d95376;
}

#account_area_profile .image_ver a
{
    text-decoration: none;

    color: #d95376;
}

.label_list
{
    padding: 3%;

    color: #666;
    background: #eee;
}

.label_content
{
    padding: 3%;

    border: 1px solid #d3cec8;
}

#favorite_girl_area
{
    margin-top: 15px;
}

#favorite_girl_area .list
{
    width: 98%;
    margin: 0 auto;

    text-align: center;
}

#favorite_girl_area .col
{
    float: left;

    width: 30%;
    margin-right: 10px;
    margin-bottom: 15px;
}

#favorite_girl_area .img
{
    width: 100px;
    margin-bottom: 4px;

    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}

.favorite_topic_area .btn
{
    width: 100px;
    margin-top: 7px;
}

.favorite_topic_btn .img
{
    width: 100%;
    height: auto;
}

/* new_searchArea --------------------------------------------------------------------*/
#top_new_search
{
    background-color: #f0ece3;
}

#top_new_search
{
    -webkit-border-top-left-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
}

#top_new_search .forms
{
    padding-top: 5px;
    padding-bottom: 10px;

    text-align: center;
}

#top_new_search .forms form
{
    display: table;

    width: 100%;
}

#top_new_search .forms input.form
{
    display: table-cell;

    box-sizing: border-box;
    width: auto;
    height: 33px;

    vertical-align: top;

    border-radius: 0;
}

#top_new_search .forms input.submit
{
    display: inline-block;
    zoom: 1;

    width: 41.5px;
    height: 33px;
    margin: 0;
    margin-left: -1px;
    padding: 0;

    vertical-align: top;

    border: none;
    border-radius: 0;
    /* Fix for IE7 */

    *display: inline;
    /* Fix for IE7 */
    appearance: normal;
}

#top_new_search .cate ul li
{
    font-size: .9em;

    display: table-cell;

    width: 25%;
    padding-top: 5px;
    padding-bottom: 10px;

    text-align: center;

    border: solid 1px #c2bda9;
}

#top_new_search .cate ul li a
{
    text-decoration: none;
}

#top_new_search .cate ul li small
{
    font-size: .3em;
}

#top_new_search .cate ul li img
{
    max-width: 100%;
    max-height: 100%;
}

#top_new_review_tt
{
    font-size: 90%;
    font-weight: bold;

    color: #333;
    background: url(../../img/s/top_new_review_tt_bg.png) repeat-x;
}

#reference_box_tt
{
    font-size: 90%;
    font-weight: bold;

    color: #333;
    background: url(../../img/s/reference_box_tt_bg.png) repeat-x;
}

.ranking_box .head
{
    padding: 0 2%;

    border-top: 1px solid #cacaca;
}

.ranking_box .head .rank_img
{
    float: left;

    margin-right: 2%;
}

.ranking_box .head .summary
{
    float: left;

    width: 60%;
}

.ranking_box .right_img
{
    float: right;
}

.ranking_box .content2
{
    padding: 2% 3%;
}

.ranking_box .content .title a
{
    text-decoration: none;

    color: #df26c9;
}

.ranking_box .head
{
    padding: 1% 2%;

    background: #f5f2ed;
}

#ranking_01
{
    background: #f8f3dd !important;
}

#ranking_02
{
    background: #eee !important;
}

#ranking_03
{
    background: #efe2da !important;
}

.new_mark_ico img
{
    width: 10%;
    height: auto;
}

#girl_tt
{
    color: #d56885;
}

/* ==========================================================================
   common area
   ========================================================================== */
.redBtn
{
    text-align: center;

    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    background: -ms-linear-gradient(top, #ff858e 5%, #f74b5f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #ff858e), color-stop(100%, #f74b5f));

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF858E', endColorstr='#F74B5F');
}

.redBtn a
{
    display: block;

    text-decoration: none;

    color: #fff !important;
}

.whiteBtn
{
    text-align: center;

    border: 1px solid #cbcbcb;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    background: -webkit-linear-gradient(top, #fff 50%, #ececec 100%);
    background:         linear-gradient(top, #fff 50%, #ececec 100%);
}

.whiteBtn a
{
    text-decoration: none;

    color: #666 !important;
}

#abouts .txt
{
    font-size: 80%;

    margin: 10px;
}

.contact .txt
{
    font-size: 80%;

    margin: 10px;
}

.contact table
{
    width: 95%;
}

.contact table *
{
    vertical-align: middle;
}

.contact table th,
.contact table td
{
    font-size: 80%;

    padding: 2% 1%;

    text-align: left;

    border-bottom: #ccc 1px dotted;
}

.contact table th
{
    width: 30%;

    color: #666;
    background-color: #f3f3f3;
}

.contact table td
{
    width: 60%;
}

.contact .submitBtn
{
    margin: 20px auto 10px;
}

.contact span
{
    font-size: 60%;

    margin: 3px;
    margin-left: 10px;
    padding: 2px;

    color: #fff;
    background-color: #f00;
}

/* 2014.11.14 19:13 更新 */
.point
{
    font-weight: bold;

    margin-right: 3px;

    color: #cd4d72;
}

/* 2014.12.15 18:45 更新 */
/* --- ↓flexslider --- */
/*スライド部*/
.slider
{
    position: relative;
}

/*ページャー*/
.flex-control-paging
{
    position: absolute;
    bottom: -20px;
    left: 50%;
}

.flex-control-paging li
{
    position: relative;
    left: -50%;

    float: left;

    padding-right: 5px;
}

.flex-control-paging li:last-child
{
    padding-right: 0;
}

.flex-control-paging li a
{
    display: block;

    width: 10px;
    height: 10px;

    cursor: pointer;
    text-indent: -9999px;

    border-radius: 10px;
    background-color: #aaa;
}

.flex-control-paging li a.flex-active
{
    background-color: #f081b3;
}

/* ランキング ページャー*/
#rankingAccess .flex-control-paging
{
    bottom: 10px;
}

/* 前・後ボタン*/
.flex-direction-nav li a
{
    font-size: 75%;

    position: absolute;
    top: 100%;

    display: block;

    width: 50px;
    margin: 3px;
    padding: 3px;

    text-align: center;
    text-decoration: none;

    color: #bf0000;
    border-radius: 7px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #dedede));
    background: -webkit-linear-gradient(top, #fff 0%, #dedede 100%);
    background: -webkit-linear-gradient(top, #fff 0%, #dedede 100%);
    background:         linear-gradient(to bottom, #fff 0%, #dedede 100%);
    box-shadow: 0 0 4px #666;
}

.flex-direction-nav li .flex-prev
{
    left: 0;
}

.flex-direction-nav li .flex-next
{
    right: 0;
}

.flex-direction-nav li .flex-disabled
{
    opacity: .3;
}

.footer_menu a
{
    display: block;

    padding: 10px 15px;

    text-decoration: none;

    border-top: solid 1px #c3bbaa;
    background-color: #cdbecf;
    background-image: -webkit-linear-gradient(bottom, #f2eee5, #fff);
    background-image:         linear-gradient(to top, #f2eee5, #fff);
}
.footer_menu li ul
{
    display: none;
}
.footer_menu li ul a
{
    background: #f3f3f3;
    background-image: none;
}
