	<div class="container">
<!-- eyecatchArea -->
		<div id="eyecatchArea">

			<div class="inner clearfix">
				<div class="left">
					<div id="slider1_wrapper">
						<div id="slider1">
							<div><a href="http://aichi.dhrank.com/5308/"><img src="http://img.dhrank.com/banner/bigbanner/aichi/aitokkyu640x420.jpg" height="210" width="320"></a></div>
							<div><a href="http://aichi.dhrank.com/11786/"><img src="http://img.dhrank.com/banner/bigbanner/aichi/chokuapo640x420.jpg" height="210" width="320"></a></div>
							<div><a href="http://aichi.dhrank.com/12559/"><img src="http://img.dhrank.com/banner/bigbanner/aichi/fujiko640x420.jpg" height="210" width="320"></a></div>
							<div><a href="http://aichi.dhrank.com/11790/"><img src="http://img.dhrank.com/banner/bigbanner/aichi/kairaku640x420.jpg" height="210" width="320"></a></div>
							<div><a href="http://aichi.dhrank.com/8186/"><img src="http://img.dhrank.com/banner/bigbanner/aichi/sokuapo640x420.jpg" height="210" width="320"></a></div>
							<div><a href="http://aichi.dhrank.com/11787/"><img src="http://img.dhrank.com/banner/bigbanner/aichi/choku0930640x420.jpg" height="210" width="320"></a></div>
							<div><a href="http://aichi.dhrank.com/11789/"><img src="http://img.dhrank.com/banner/bigbanner/aichi/amore640x420.jpg" height="210" width="320"></a></div>
							<div><a href="http://aichi.dhrank.com/10925/"><img src="http://img.dhrank.com/banner/bigbanner/aichi/aiangel640x420.jpg" height="210" width="320"></a></div>


						</div>
<?php /* 非表示中
	<div id="slider1">
		<div><a href="http://aichi.dhrank.com/5308/"><img src="http://img.dhrank.com/banner/bigbanner/aichi/aitokkyu640x420.jpg" height="210" width="320"></a></div>
		<div><a href="http://aichi.dhrank.com/11786/"><img src="http://img.dhrank.com/banner/bigbanner/aichi/chokuapo640x420.jpg" height="210" width="320"></a></div>
		<div><a href="http://aichi.dhrank.com/12559/"><img src="http://img.dhrank.com/banner/bigbanner/aichi/fujiko640x420.jpg" height="210" width="320"></a></div>
		<div><a href="http://aichi.dhrank.com/11790/"><img src="http://img.dhrank.com/banner/bigbanner/aichi/kairaku640x420.jpg" height="210" width="320"></a></div>
		<div><a href="http://aichi.dhrank.com/8186/"><img src="http://img.dhrank.com/banner/bigbanner/aichi/sokuapo640x420.jpg" height="210" width="320"></a></div>
	</div>
*/ ?>
					</div>
					<div id="slider2_wrapper">
						<div id="slider2">
							<?php echo $this->element('sidebar/news'); ?>
<?php /* 非表示中
<div><p class="tt"></p>
<p class="date">2014.09.11</p></div>
<div><p class="tt">ホテルヘルス&デリバリーヘルス　ドＭな奥様　谷九店の レンちゃん 口コミ報告 </p>
<p class="date">2014.09.11</p></div>
<div><p class="tt">関西美人妻グループの 水野　聖子ちゃん 口コミ報告 </p>
<p class="date">2014.09.11</p></div>
<div><p class="tt">クラブアリュールの 鈴音（すずね）ちゃん 口コミ報告 </p>
<p class="date">2014.09.11</p></div>
*/ ?>
						</div>
					</div>
				</div>

				<div class="right">
					<div id="slider3_wrapper">
						<div id="slider3">
							<div><a href="http://aichi.dhrank.com/5308/"><img src="http://img.dhrank.com/banner/bigbanner/aichi/aitokkyu1000x435.jpg" alt="" height="300" width="500"></a></div>
							<div><a href="http://aichi.dhrank.com/11786/"><img src="http://img.dhrank.com/banner/bigbanner/aichi/chokuapo1000x600.jpg" alt="" height="300" width="500"></a></div>
							<div><a href="http://aichi.dhrank.com/12559/"><img src="http://img.dhrank.com/banner/bigbanner/aichi/fujiko1000x600.jpg" alt="" height="300" width="500"></a></div>
							<div><a href="http://aichi.dhrank.com/11790/"><img src="http://img.dhrank.com/banner/bigbanner/aichi/kairaku1000x600.jpg" alt="" height="300" width="500"></a></div>
							<div><a href="http://aichi.dhrank.com/8186/"><img src="http://img.dhrank.com/banner/bigbanner/aichi/sokuapo1000x600.jpg" alt="" height="300" width="500"></a></div>
							<div><a href="http://aichi.dhrank.com/11787/"><img src="http://img.dhrank.com/banner/bigbanner/aichi/choku09301000x600.jpg" alt="" height="300" width="500"></a></div>
							<div><a href="http://aichi.dhrank.com/11789/"><img src="http://img.dhrank.com/banner/bigbanner/aichi/amore100x600.jpg" alt="" height="300" width="500"></a></div>
							<div><a href="http://aichi.dhrank.com/10925/"><img src="http://img.dhrank.com/banner/bigbanner/aichi/aiangel1000x600.jpg" alt="" height="300" width="500"></a></div>
						</div>
<?php /* 非表示中
						<div id="slider3">
							<div><a href="http://aichi.dhrank.com/5308/"><img src="http://img.dhrank.com/banner/bigbanner/aichi/aitokkyu1000x435.jpg" alt="" height="300" width="500"></a></div>
							<div><a href="http://aichi.dhrank.com/11786/"><img src="http://img.dhrank.com/banner/bigbanner/aichi/chokuapo1000x600.jpg" alt="" height="300" width="500"></a></div>
							<div><a href="http://aichi.dhrank.com/12559/"><img src="http://img.dhrank.com/banner/bigbanner/aichi/fujiko1000x600.jpg" alt="" height="300" width="500"></a></div>
							<div><a href="http://aichi.dhrank.com/11790/"><img src="http://img.dhrank.com/banner/bigbanner/aichi/kairaku1000x600.jpg" alt="" height="300" width="500"></a></div>
							<div><a href="http://aichi.dhrank.com/8186/"><img src="http://img.dhrank.com/banner/bigbanner/aichi/sokuapo1000x600.jpg" alt="" height="300" width="500"></a></div>
						</div>
*/ ?>
					</div>
				</div>
			</div>
		</div>
<!-- / mainArea -->
	</div>
