/*
* jQuery Mobile Framework Git Build: SHA1: c2d61e2e592c67519d9a9ed0ba796fa44787e136 <> Date: Tue Sep 25 10:38:12 2012 -0700
* http://jquerymobile.com
*
* Copyright 2012 jQuery Foundation and other contributors
* Released under the MIT license.
* http://jquery.org/license
*
*/


/* Swatches */

/* A
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-a {
	border: 1px solid #cccccc /*{a-bar-border}*/;
	background: #fff1de /*{a-bar-background-color}*/;
	color: #333333 /*{a-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{a-bar-shadow-x}*/ 0px /*{a-bar-shadow-y}*/ 0 /*{a-bar-shadow-radius}*/  /*{a-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #fff1de /*{a-bar-background-start}*/), to( #fff1de /*{a-bar-background-end}*/)); /* Saf4 , Chrome */
	background-image: -webkit-linear-gradient( #fff1de /*{a-bar-background-start}*/, #fff1de /*{a-bar-background-end}*/); /* Chrome 10 , Saf5.1  */
	background-image:    -moz-linear-gradient( #fff1de /*{a-bar-background-start}*/, #fff1de /*{a-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #fff1de /*{a-bar-background-start}*/, #fff1de /*{a-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #fff1de /*{a-bar-background-start}*/, #fff1de /*{a-bar-background-end}*/); /* Opera 11.10  */
	background-image:         linear-gradient( #fff1de /*{a-bar-background-start}*/, #fff1de /*{a-bar-background-end}*/);
}
.ui-bar-a .ui-link-inherit {
	color: #333333 /*{a-bar-color}*/;
}

.ui-bar-a,
.ui-bar-a input,
.ui-bar-a select,
.ui-bar-a textarea,
.ui-bar-a button {
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-a,
.ui-overlay-a {
	border: 1px solid #cccccc /*{a-body-border}*/;
	color: #333333 /*{a-body-color}*/;
	text-shadow: 0 /*{a-body-shadow-x}*/ 0px /*{a-body-shadow-y}*/ 0 /*{a-body-shadow-radius}*/  /*{a-body-shadow-color}*/;
	background: #ffffff /*{a-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ffffff /*{a-body-background-start}*/), to( #ffffff /*{a-body-background-end}*/)); /* Saf4 , Chrome */
	background-image: -webkit-linear-gradient( #ffffff /*{a-body-background-start}*/, #ffffff /*{a-body-background-end}*/); /* Chrome 10 , Saf5.1  */
	background-image:    -moz-linear-gradient( #ffffff /*{a-body-background-start}*/, #ffffff /*{a-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #ffffff /*{a-body-background-start}*/, #ffffff /*{a-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #ffffff /*{a-body-background-start}*/, #ffffff /*{a-body-background-end}*/); /* Opera 11.10  */
	background-image:         linear-gradient( #ffffff /*{a-body-background-start}*/, #ffffff /*{a-body-background-end}*/);
}
.ui-overlay-a {
	background-image: none;
	border-width: 0;
}
.ui-body-a,
.ui-body-a input,
.ui-body-a select,
.ui-body-a textarea,
.ui-body-a button {
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-a .ui-link-inherit {
	color: #333333 /*{a-body-color}*/;
}

.ui-btn-up-a {
	border: 1px solid #cccccc /*{a-bup-border}*/;
	background: #ffffff /*{a-bup-background-color}*/;
	font-weight: bold;
	color: #333333 /*{a-bup-color}*/;
	text-shadow: 0 /*{a-bup-shadow-x}*/ 1px /*{a-bup-shadow-y}*/ 0 /*{a-bup-shadow-radius}*/ #ffffff /*{a-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ffffff /*{a-bup-background-start}*/), to( #ffffff /*{a-bup-background-end}*/)); /* Saf4 , Chrome */
	background-image: -webkit-linear-gradient( #ffffff /*{a-bup-background-start}*/, #ffffff /*{a-bup-background-end}*/); /* Chrome 10 , Saf5.1  */
	background-image:    -moz-linear-gradient( #ffffff /*{a-bup-background-start}*/, #ffffff /*{a-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #ffffff /*{a-bup-background-start}*/, #ffffff /*{a-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #ffffff /*{a-bup-background-start}*/, #ffffff /*{a-bup-background-end}*/); /* Opera 11.10  */
	background-image:         linear-gradient( #ffffff /*{a-bup-background-start}*/, #ffffff /*{a-bup-background-end}*/);
}
.ui-btn-up-a:visited,
.ui-btn-up-a a.ui-link-inherit {
	color: #333333 /*{a-bup-color}*/;
}
.ui-btn-hover-a {
	border: 1px solid #cccccc /*{a-bhover-border}*/;
	background: #fff1de /*{a-bhover-background-color}*/;
	font-weight: bold;
	color: #333333 /*{a-bhover-color}*/;
	text-shadow: 0 /*{a-bhover-shadow-x}*/ 1px /*{a-bhover-shadow-y}*/ 0 /*{a-bhover-shadow-radius}*/ #ffffff /*{a-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #fff1de /*{a-bhover-background-start}*/), to( #fff1de /*{a-bhover-background-end}*/)); /* Saf4 , Chrome */
	background-image: -webkit-linear-gradient( #fff1de /*{a-bhover-background-start}*/, #fff1de /*{a-bhover-background-end}*/); /* Chrome 10 , Saf5.1  */
	background-image:    -moz-linear-gradient( #fff1de /*{a-bhover-background-start}*/, #fff1de /*{a-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #fff1de /*{a-bhover-background-start}*/, #fff1de /*{a-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #fff1de /*{a-bhover-background-start}*/, #fff1de /*{a-bhover-background-end}*/); /* Opera 11.10  */
	background-image:         linear-gradient( #fff1de /*{a-bhover-background-start}*/, #fff1de /*{a-bhover-background-end}*/);
}
.ui-btn-hover-a:visited,
.ui-btn-hover-a:hover,
.ui-btn-hover-a a.ui-link-inherit {
	color: #333333 /*{a-bhover-color}*/;
}
.ui-btn-down-a {
	border: 1px solid #cccccc /*{a-bdown-border}*/;
	background: #d6d6d6 /*{a-bdown-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{a-bdown-color}*/;
	text-shadow: 0 /*{a-bdown-shadow-x}*/ 1px /*{a-bdown-shadow-y}*/ 0 /*{a-bdown-shadow-radius}*/ #7a982d /*{a-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #a2c600 /*{a-bdown-background-start}*/), to( #94b739 /*{a-bdown-background-end}*/)); /* Saf4 , Chrome */
	background-image: -webkit-linear-gradient( #a2c600 /*{a-bdown-background-start}*/, #94b739 /*{a-bdown-background-end}*/); /* Chrome 10 , Saf5.1  */
	background-image:    -moz-linear-gradient( #a2c600 /*{a-bdown-background-start}*/, #94b739 /*{a-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #a2c600 /*{a-bdown-background-start}*/, #94b739 /*{a-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #a2c600 /*{a-bdown-background-start}*/, #94b739 /*{a-bdown-background-end}*/); /* Opera 11.10  */
	background-image:         linear-gradient( #a2c600 /*{a-bdown-background-start}*/, #94b739 /*{a-bdown-background-end}*/);
}
.ui-btn-down-a:visited,
.ui-btn-down-a:hover,
.ui-btn-down-a a.ui-link-inherit {
	color: #ffffff /*{a-bdown-color}*/;
}
.ui-btn-up-a,
.ui-btn-hover-a,
.ui-btn-down-a {
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}


/* Structure */

/* links within "buttons"
-----------------------------------------------------------------------------------------------------------*/

a.ui-link-inherit {
	text-decoration: none !important;
}


/* Active class used as the "on" state across all themes
-----------------------------------------------------------------------------------------------------------*/
.ui-btn-active {
	border: 1px solid #cccccc /*{global-active-border}*/;
	background: #a2c600 /*{global-active-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{global-active-color}*/;
	cursor: pointer;
	text-shadow: 0 /*{global-active-shadow-x}*/ 1px /*{global-active-shadow-y}*/ 0 /*{global-active-shadow-radius}*/ #7a982d /*{global-active-shadow-color}*/;
	text-decoration: none;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #a2c600 /*{global-active-background-start}*/), to( #94b739 /*{global-active-background-end}*/)); /* Saf4 , Chrome */
	background-image: -webkit-linear-gradient( #a2c600 /*{global-active-background-start}*/, #94b739 /*{global-active-background-end}*/); /* Chrome 10 , Saf5.1  */
	background-image:    -moz-linear-gradient( #a2c600 /*{global-active-background-start}*/, #94b739 /*{global-active-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #a2c600 /*{global-active-background-start}*/, #94b739 /*{global-active-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #a2c600 /*{global-active-background-start}*/, #94b739 /*{global-active-background-end}*/); /* Opera 11.10  */
	background-image:         linear-gradient( #a2c600 /*{global-active-background-start}*/, #94b739 /*{global-active-background-end}*/);
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-btn-active:visited,
.ui-btn-active:hover,
.ui-btn-active a.ui-link-inherit {
	color: #ffffff /*{global-active-color}*/;
}


/* button inner top highlight
-----------------------------------------------------------------------------------------------------------*/

.ui-btn-inner {
	border-top: 1px solid 	#fff;
	border-color: 			rgba(255,255,255,.3);
}


/* corner rounding classes
-----------------------------------------------------------------------------------------------------------*/

.ui-corner-tl {
	-moz-border-radius-topleft: .6em /*{global-radii-blocks}*/;
	-webkit-border-top-left-radius: .6em /*{global-radii-blocks}*/;
	border-top-left-radius: .6em /*{global-radii-blocks}*/;
}
.ui-corner-tr {
	-moz-border-radius-topright: .6em /*{global-radii-blocks}*/;
	-webkit-border-top-right-radius: .6em /*{global-radii-blocks}*/;
	border-top-right-radius: .6em /*{global-radii-blocks}*/;
}
.ui-corner-bl {
	-moz-border-radius-bottomleft: .6em /*{global-radii-blocks}*/;
	-webkit-border-bottom-left-radius: .6em /*{global-radii-blocks}*/;
	border-bottom-left-radius: .6em /*{global-radii-blocks}*/;
}
.ui-corner-br {
	-moz-border-radius-bottomright: .6em /*{global-radii-blocks}*/;
	-webkit-border-bottom-right-radius: .6em /*{global-radii-blocks}*/;
	border-bottom-right-radius: .6em /*{global-radii-blocks}*/;
}
.ui-corner-top {
	-moz-border-radius-topleft: .6em /*{global-radii-blocks}*/;
	-webkit-border-top-left-radius: .6em /*{global-radii-blocks}*/;
	border-top-left-radius: .6em /*{global-radii-blocks}*/;
	-moz-border-radius-topright: .6em /*{global-radii-blocks}*/;
	-webkit-border-top-right-radius: .6em /*{global-radii-blocks}*/;
	border-top-right-radius: .6em /*{global-radii-blocks}*/;
}
.ui-corner-bottom {
	-moz-border-radius-bottomleft: .6em /*{global-radii-blocks}*/;
	-webkit-border-bottom-left-radius: .6em /*{global-radii-blocks}*/;
	border-bottom-left-radius: .6em /*{global-radii-blocks}*/;
	-moz-border-radius-bottomright: .6em /*{global-radii-blocks}*/;
	-webkit-border-bottom-right-radius: .6em /*{global-radii-blocks}*/;
	border-bottom-right-radius: .6em /*{global-radii-blocks}*/;
	}
.ui-corner-right {
	-moz-border-radius-topright: .6em /*{global-radii-blocks}*/;
	-webkit-border-top-right-radius: .6em /*{global-radii-blocks}*/;
	border-top-right-radius: .6em /*{global-radii-blocks}*/;
	-moz-border-radius-bottomright: .6em /*{global-radii-blocks}*/;
	-webkit-border-bottom-right-radius: .6em /*{global-radii-blocks}*/;
	border-bottom-right-radius: .6em /*{global-radii-blocks}*/;
}
.ui-corner-left {
	-moz-border-radius-topleft: .6em /*{global-radii-blocks}*/;
	-webkit-border-top-left-radius: .6em /*{global-radii-blocks}*/;
	border-top-left-radius: .6em /*{global-radii-blocks}*/;
	-moz-border-radius-bottomleft: .6em /*{global-radii-blocks}*/;
	-webkit-border-bottom-left-radius: .6em /*{global-radii-blocks}*/;
	border-bottom-left-radius: .6em /*{global-radii-blocks}*/;
}
.ui-corner-all {
	-moz-border-radius: .6em /*{global-radii-blocks}*/;
	-webkit-border-radius: .6em /*{global-radii-blocks}*/;
	border-radius: .6em /*{global-radii-blocks}*/;
}
.ui-corner-none {
	-moz-border-radius: 				   0;
	-webkit-border-radius: 				   0;
	border-radius: 						   0;
}

/* Form field separator
-----------------------------------------------------------------------------------------------------------*/
.ui-br {
	border-bottom: rgb(130,130,130);
	border-bottom: rgba(130,130,130,.3);
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

/* Interaction cues
-----------------------------------------------------------------------------------------------------------*/
.ui-disabled {
	filter: Alpha(Opacity=30);
	opacity: .3;
	zoom: 1;
}
.ui-disabled,
.ui-disabled a {
	cursor: default !important;
	pointer-events: none;
}

/* Icons
-----------------------------------------------------------------------------------------------------------*/

.ui-icon,
.ui-icon-searchfield:after {
	background: #7a982d /*{global-icon-color}*/;
	background: rgba(122,152,45,0.4) /*{global-icon-disc}*/;
	background-image: url(images/icons-18-white.png) /*{global-icon-set}*/;
	background-repeat: no-repeat;
	-moz-border-radius: 				9px;
	-webkit-border-radius: 				9px;
	border-radius: 						9px;
}


/* Alt icon color
-----------------------------------------------------------------------------------------------------------*/

.ui-icon-alt {
	background: 						#fff;
	background: 						rgba(255,255,255,.3);
	background-image: url(images/icons-18-black.png);
	background-repeat: no-repeat;
}

/* HD/"retina" sprite
-----------------------------------------------------------------------------------------------------------*/

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 240dpi) {

	.ui-icon-plus, .ui-icon-minus, .ui-icon-delete, .ui-icon-arrow-r,
	.ui-icon-arrow-l, .ui-icon-arrow-u, .ui-icon-arrow-d, .ui-icon-check,
	.ui-icon-gear, .ui-icon-refresh, .ui-icon-forward, .ui-icon-back,
	.ui-icon-grid, .ui-icon-star, .ui-icon-alert, .ui-icon-info, .ui-icon-home, .ui-icon-search, .ui-icon-searchfield:after,
	.ui-icon-checkbox-off, .ui-icon-checkbox-on, .ui-icon-radio-off, .ui-icon-radio-on {
		background-image: url(images/icons-36-white.png);
		-moz-background-size: 776px 18px;
		-o-background-size: 776px 18px;
		-webkit-background-size: 776px 18px;
		background-size: 776px 18px;
	}
	.ui-icon-alt {
		background-image: url(images/icons-36-black.png);
	}
}

/* plus minus */
.ui-icon-plus {
	background-position: 	-0 50%;
}
.ui-icon-minus {
	background-position: 	-36px 50%;
}

/* delete/close */
.ui-icon-delete {
	background-position: 	-72px 50%;
}

/* arrows */
.ui-icon-arrow-r {
	background-position: 	-108px 50%;
}
.ui-icon-arrow-l {
	background-position: 	-144px 50%;
}
.ui-icon-arrow-u {
	background-position: 	-180px 50%;
}
.ui-icon-arrow-d {
	background-position: 	-216px 50%;
}

/* misc */
.ui-icon-check {
	background-position: 	-252px 50%;
}
.ui-icon-gear {
	background-position: 	-288px 50%;
}
.ui-icon-refresh {
	background-position: 	-324px 50%;
}
.ui-icon-forward {
	background-position: 	-360px 50%;
}
.ui-icon-back {
	background-position: 	-396px 50%;
}
.ui-icon-grid {
	background-position: 	-432px 50%;
}
.ui-icon-star {
	background-position: 	-468px 50%;
}
.ui-icon-alert {
	background-position: 	-504px 50%;
}
.ui-icon-info {
	background-position: 	-540px 50%;
}
.ui-icon-home {
	background-position: 	-576px 50%;
}
.ui-icon-search,
.ui-icon-searchfield:after {
	background-position: 	-612px 50%;
}
.ui-icon-checkbox-off {
	background-position: 	-684px 50%;
}
.ui-icon-checkbox-on {
	background-position: 	-648px 50%;
}
.ui-icon-radio-off {
	background-position: 	-756px 50%;
}
.ui-icon-radio-on {
	background-position: 	-720px 50%;
}


/* checks,radios */
.ui-checkbox .ui-icon,
.ui-selectmenu-list .ui-icon {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.ui-icon-checkbox-off,
.ui-icon-radio-off {
	background-color: transparent;
}
.ui-checkbox-on .ui-icon,
.ui-radio-on .ui-icon {
	background-color: #a2c600 /*{global-active-background-color}*/; /* NOTE: this hex should match the active state color. It's repeated here for cascade */
}

/* loading icon */
.ui-icon-loading {
	background: url(images/ajax-loader.gif);
	background-size: 46px 46px;
}


/* Button corner classes
-----------------------------------------------------------------------------------------------------------*/

.ui-btn-corner-tl {
	-moz-border-radius-topleft: 1em /*{global-radii-buttons}*/;
	-webkit-border-top-left-radius: 1em /*{global-radii-buttons}*/;
	border-top-left-radius: 1em /*{global-radii-buttons}*/;
}
.ui-btn-corner-tr {
	-moz-border-radius-topright: 1em /*{global-radii-buttons}*/;
	-webkit-border-top-right-radius: 1em /*{global-radii-buttons}*/;
	border-top-right-radius: 1em /*{global-radii-buttons}*/;
}
.ui-btn-corner-bl {
	-moz-border-radius-bottomleft: 1em /*{global-radii-buttons}*/;
	-webkit-border-bottom-left-radius: 1em /*{global-radii-buttons}*/;
	border-bottom-left-radius: 1em /*{global-radii-buttons}*/;
}
.ui-btn-corner-br {
	-moz-border-radius-bottomright: 1em /*{global-radii-buttons}*/;
	-webkit-border-bottom-right-radius: 1em /*{global-radii-buttons}*/;
	border-bottom-right-radius: 1em /*{global-radii-buttons}*/;
}
.ui-btn-corner-top {
	-moz-border-radius-topleft: 1em /*{global-radii-buttons}*/;
	-webkit-border-top-left-radius: 1em /*{global-radii-buttons}*/;
	border-top-left-radius: 1em /*{global-radii-buttons}*/;
	-moz-border-radius-topright: 1em /*{global-radii-buttons}*/;
	-webkit-border-top-right-radius: 1em /*{global-radii-buttons}*/;
	border-top-right-radius: 1em /*{global-radii-buttons}*/;
}
.ui-btn-corner-bottom {
	-moz-border-radius-bottomleft: 1em /*{global-radii-buttons}*/;
	-webkit-border-bottom-left-radius: 1em /*{global-radii-buttons}*/;
	border-bottom-left-radius: 1em /*{global-radii-buttons}*/;
	-moz-border-radius-bottomright: 1em /*{global-radii-buttons}*/;
	-webkit-border-bottom-right-radius: 1em /*{global-radii-buttons}*/;
	border-bottom-right-radius: 1em /*{global-radii-buttons}*/;
}
.ui-btn-corner-right {
	 -moz-border-radius-topright: 1em /*{global-radii-buttons}*/;
	-webkit-border-top-right-radius: 1em /*{global-radii-buttons}*/;
	border-top-right-radius: 1em /*{global-radii-buttons}*/;
	-moz-border-radius-bottomright: 1em /*{global-radii-buttons}*/;
	-webkit-border-bottom-right-radius: 1em /*{global-radii-buttons}*/;
	border-bottom-right-radius: 1em /*{global-radii-buttons}*/;
}
.ui-btn-corner-left {
	-moz-border-radius-topleft: 1em /*{global-radii-buttons}*/;
	-webkit-border-top-left-radius: 1em /*{global-radii-buttons}*/;
	border-top-left-radius: 1em /*{global-radii-buttons}*/;
	-moz-border-radius-bottomleft: 1em /*{global-radii-buttons}*/;
	-webkit-border-bottom-left-radius: 1em /*{global-radii-buttons}*/;
	border-bottom-left-radius: 1em /*{global-radii-buttons}*/;
}
.ui-btn-corner-all {
	-moz-border-radius: 1em /*{global-radii-buttons}*/;
	-webkit-border-radius: 1em /*{global-radii-buttons}*/;
	border-radius: 1em /*{global-radii-buttons}*/;
}

/* radius clip workaround for cleaning up corner trapping */
.ui-corner-tl,
.ui-corner-tr,
.ui-corner-bl,
.ui-corner-br,
.ui-corner-top,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-left,
.ui-corner-all,
.ui-btn-corner-tl,
.ui-btn-corner-tr,
.ui-btn-corner-bl,
.ui-btn-corner-br,
.ui-btn-corner-top,
.ui-btn-corner-bottom,
.ui-btn-corner-right,
.ui-btn-corner-left,
.ui-btn-corner-all {
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

/* Overlay / modal
-----------------------------------------------------------------------------------------------------------*/

.ui-overlay {
	background: #666;
	filter: Alpha(Opacity=50);
	opacity: .5;
	position: absolute;
	width: 100%;
	height: 100%;
}
.ui-overlay-shadow {
	-moz-box-shadow: 0px 0px 12px 			rgba(0,0,0,.6);
	-webkit-box-shadow: 0px 0px 12px 		rgba(0,0,0,.6);
	box-shadow: 0px 0px 12px 				rgba(0,0,0,.6);
}
.ui-shadow {
	-moz-box-shadow: 0px 1px 3px /*{global-box-shadow-size}*/ rgba(102,102,102,0.2) /*{global-box-shadow-color}*/;
	-webkit-box-shadow: 0px 1px 3px /*{global-box-shadow-size}*/ rgba(102,102,102,0.2) /*{global-box-shadow-color}*/;
	box-shadow: 0px 1px 3px /*{global-box-shadow-size}*/ rgba(102,102,102,0.2) /*{global-box-shadow-color}*/;
}
.ui-bar-a .ui-shadow,
.ui-bar-b .ui-shadow ,
.ui-bar-c .ui-shadow  {
	-moz-box-shadow: 0px 1px 0 				rgba(255,255,255,.3);
	-webkit-box-shadow: 0px 1px 0 			rgba(255,255,255,.3);
	box-shadow: 0px 1px 0 					rgba(255,255,255,.3);
}
.ui-shadow-inset {
	-moz-box-shadow: inset 0px 1px 4px 		rgba(0,0,0,.2);
	-webkit-box-shadow: inset 0px 1px 4px 	rgba(0,0,0,.2);
	box-shadow: inset 0px 1px 4px 			rgba(0,0,0,.2);
}
.ui-icon-shadow {
	-moz-box-shadow: 0px 1px 0 rgba(255,255,255,.4) /*{global-icon-shadow}*/;
	-webkit-box-shadow: 0px 1px 0 rgba(255,255,255,.4) /*{global-icon-shadow}*/;
	box-shadow: 0px 1px 0 rgba(255,255,255,.4) /*{global-icon-shadow}*/;
}

/* Focus state - set here for specificity (note: these classes are added by JavaScript)
-----------------------------------------------------------------------------------------------------------*/

.ui-btn:focus, .ui-link-inherit:focus {
	outline: 0;
}
.ui-btn.ui-focus {
	z-index: 1;
}
.ui-focus,
.ui-btn:focus {
	-moz-box-shadow: inset 0px 0px 3px #a2c600 /*{global-active-background-color}*/, 0px 0px 9px #a2c600 /*{global-active-background-color}*/;
	-webkit-box-shadow: inset 0px 0px 3px #a2c600 /*{global-active-background-color}*/, 0px 0px 9px #a2c600 /*{global-active-background-color}*/;
	box-shadow: inset 0px 0px 3px #a2c600 /*{global-active-background-color}*/, 0px 0px 9px #a2c600 /*{global-active-background-color}*/;
}
.ui-input-text.ui-focus,
.ui-input-search.ui-focus {
	-moz-box-shadow: 0px 0px 12px #a2c600 /*{global-active-background-color}*/;
	-webkit-box-shadow: 0px 0px 12px #a2c600 /*{global-active-background-color}*/;
	box-shadow: 0px 0px 12px #a2c600 /*{global-active-background-color}*/;
}

/* unset box shadow in browsers that don't do it right
-----------------------------------------------------------------------------------------------------------*/

.ui-mobile-nosupport-boxshadow * {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

/* ...and bring back focus */
.ui-mobile-nosupport-boxshadow .ui-focus,
.ui-mobile-nosupport-boxshadow .ui-btn:focus,
.ui-mobile-nosupport-boxshadow .ui-link-inherit:focus {
	outline-width: 1px;
	outline-style: auto;
}

/* 改造
-----------------------------------------------------------------------------------------------------------*/

a {
	color: #E7511E /*{a-body-link-color}*/;
}

a:visited {
    color: #F29400 /*{a-body-link-visited}*/;
}

a:hover {
	color: #F29400 /*{a-body-link-hover}*/;
}

a:active {
	color: #F29400 /*{a-body-link-active}*/;
}



.enter {
	background-color:#7AA43D;
	padding:5px;
	font-size:18px;
	font-weight:bold;
	text-align:center;
	margin-bottom:10px;
	color:#ffffff;
}

.enter1 {
	text-decoration: none;
	color:#ffffff;
}

.enter1 a {
	text-decoration: none;
	color:#ffffff;
}

.enter1 a:hover {
	text-decoration: none;
	color:#ffffff;
}

.enter1 a:visited {
	text-decoration: none;
	color:#ffffff;
}

/* ヘッダー
-----------------------------------------------------------------------------------------------------------*/
.header {
	background-image:url(/images/s/header.png) ;
	background-repeat:repeat-x;
	height:41px;
	width:100%;
}

.head_inner {
	width:320px;
	height:41px;
	margin-left:auto;
	margin-right:auto;
}

/* 見出しタグ(H2)
-----------------------------------------------------------------------------------------------------------*/
.midashih2 {
	background-image:url(/images/s/h2.png) ;
	background-repeat:repeat-x;
	height:32px;
	line-height:32px;
	padding-left:5px;
	width:100%;
	font-size:16px;
	font-weight:normal;
	margin:0px;
}

.midashih2_kuchikomi {
	background-image:url(/images/s/h2_kuchikomi.png) ;
	background-repeat:repeat-x;
	color:#ffffff;
	font-weight:bold;
	height:32px;
	line-height:36px;
	padding-left:5px;
	width:100%;
	font-size:16px;
	margin:0px;
}

/* 見出しタグ(H3)
-----------------------------------------------------------------------------------------------------------*/
.midashih3 {
	background-color:#FBF3E8;
	line-height:32px;
	padding-left:5px;
	width:100%;
	font-size:16px;
	font-weight:normal;
	margin:0px;
}


/* 地域年齢認証
-----------------------------------------------------------------------------------------------------------*/
.area_logo {
	background-image:url(/images/s/logo.png) ;
	background-repeat:no-repeat;
	background-position:top;
	height:195px;
	width:100%;
	margin-bottom:20px;
	text-align:center;
	background-size: 223px auto;
}

.logoarea {
	font-size: 10px;
	line-height:12px;
	font-weight:bold;
	color: #ffffff;
	background: #a4c653;
	padding: 2px 6px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	position:relative;
	top:80px;
	letter-spacing:1px;
}


.titlearea {
	font-size: 10px;
	line-height:12px;
	font-weight:bold;
	color: #ffffff;
	background: #a4c653;
	padding: 2px 4px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	top:10px;
	left:3px;
	letter-spacing:-1px;
	margin-left:2px;
}

/* 見出しスポット
-----------------------------------------------------------------------------------------------------------*/

.spot1 {
	color:#E7511E;
	font-size:16px;
}

.spot4 {
	color:#BE0A26;
}

.spot5 {
	font-size:16px;
	color:#BE0A26;
	margin-right:2px;
}


.small {
	font-size:11px;
}

/* お店ページ
-----------------------------------------------------------------------------------------------------------*/

.shop_top {
	background-color:#fff1de;
	padding:5px 0px;
}

.shop_top_1 {
	width: 95%;
	margin-right:auto;
	margin-left:auto;
}

.shop_top_2 {
	width: 97%;
	height:15px;
	padding:2px 0px;
	margin-right:auto;
	margin-left:auto;
}

.shop_score3 {
	background-color:#ffffff;
	border:1px solid #D8CDB4;
	padding-left:2px;
	padding-right:2px;
	padding-top:1px;
	padding-bottom:1px;
	height:18px;
	font-size:9px;
	text-align:center;
	letter-spacing:-1px;
	overflow:hidden
}

.shop_score4 {
	background-color:#ffffff;
	border:1px solid #D8CDB4;
	padding-left:2px;
	padding-right:2px;
	padding-top:1px;
	padding-bottom:1px;
	height:18px;
	font-size:9px;
	text-align:center;
	letter-spacing:-1px;
	overflow:hidden
}

.shop_score5 {
	background-color:#ffffff;
	border:1px solid #D8CDB4;
	width:100%;
	padding:2px;
	height:18px;
	font-size:10px;
	text-align:center;
	letter-spacing:-0.8px;
	overflow:hidden
}

.shop_score6 {
	background-color:#ffffff;
	border:1px solid #D8CDB4;
	width:100%;
	padding:2px;
	height:18px;
	font-size:10px;
	text-align:center;
	letter-spacing:-0.2px;
	overflow:hidden
}


/* 女の子プロフィール
-----------------------------------------------------------------------------------------------------------*/

.profile {
	background-color:#fff1de;
	padding:4px;
	margin:4px 0px;
}

/* レビュアーページ
-----------------------------------------------------------------------------------------------------------*/

.reviewer_top {
	margin: 0px;
	padding:5px;
	font-size:13px;
background: rgb(229,229,229); /* Old browsers */

/* IE9 SVG, needs conditional override of 'filter' to 'none' */

background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIlIiBzdG9wLWNvbG9yPSIjZDFkMWQxIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNDglIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);

background: -moz-linear-gradient(top,  rgba(229,229,229,1) 0%, rgba(209,209,209,1) 2%, rgba(255,255,255,1) 48%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,1)), color-stop(2%,rgba(209,209,209,1)), color-stop(48%,rgba(255,255,255,1))); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(209,209,209,1) 2%,rgba(255,255,255,1) 48%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(209,209,209,1) 2%,rgba(255,255,255,1) 48%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(209,209,209,1) 2%,rgba(255,255,255,1) 48%); /* IE10+ */

background: linear-gradient(to bottom,  rgba(229,229,229,1) 0%,rgba(209,209,209,1) 2%,rgba(255,255,255,1) 48%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */


}


/* CSSボタン
-----------------------------------------------------------------------------------------------------------*/

.btn_post {
	font-size: 16px;
	color: #ffffff;
	padding:5px 10px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	line-height:100%;
	text-decoration: none;
background: #a2c600; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2EyYzYwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5NGI3MzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #a2c600 0%, #94b739 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a2c600), color-stop(100%,#94b739)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a2c600 0%,#94b739 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a2c600 0%,#94b739 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a2c600 0%,#94b739 100%); /* IE10+ */
background: linear-gradient(to bottom,  #a2c600 0%,#94b739 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2c600', endColorstr='#94b739',GradientType=0 ); /* IE6-8 */
	border: 1px solid #dddddd;
}

.btn_post:hover {
	text-decoration: none;
	color: #FFFFFF;
	background: #7caa43;
	border: 1px solid #dddddd;
}

.btn_post:visited {
	color: #FFFFFF;
}

.btn_vote {
	font-size: 13px;
	color: #ffffff;
	margin-left:6px;
	margin-top:5px;
	margin-bottom:5px;
	padding: 3px 10px;
	text-decoration: none;
background: #a2c600; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2EyYzYwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5NGI3MzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #a2c600 0%, #94b739 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a2c600), color-stop(100%,#94b739)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a2c600 0%,#94b739 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a2c600 0%,#94b739 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a2c600 0%,#94b739 100%); /* IE10+ */
background: linear-gradient(to bottom,  #a2c600 0%,#94b739 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2c600', endColorstr='#94b739',GradientType=0 ); /* IE6-8 */
	border: 1px solid #dddddd;
}

.btn_vote:hover {
	color: #FFFFFF;
	background: #7caa43;
	border: 1px solid #dddddd;
}

.btn_vote:visited {
	color: #FFFFFF;
}

/* フキダシ
----------------------------------------------------------- */

.arrow_box {
position: relative;
background: #FBF3E8;
border: 2px solid #D8CDB4;
margin-top:10px;
font-size:14px;
}

.arrow_box:after, .arrow_box:before {
top: 100%;
border: solid transparent;
content: " ";
height: 0;
width: 0;
position: absolute;
pointer-events: none;
}

.arrow_box:after {
border-color: rgba(251, 243, 232, 0);
border-top-color: #FBF3E8;
border-width: 12px;
left: 50%;
margin-left: -12px;
}

.arrow_box:before {
border-color: rgba(216, 205, 180, 0);
border-top-color: #D8CDB4;
border-width: 15px;
left: 50%;
margin-left: -15px;
}

.profile_preview_right {
	float:right;
	font-size:11px;
	margin-top:4px;
	height:28px;
}

/* 口コミ
----------------------------------------------------------- */
.kuchikomi {
	border-bottom:1px solid #C6C7C8;
	padding:5px;
}

.kuchikomi_txt {
	font-size:14px;
	margin-bottom:5px;
}


.vote {
	float:right;
	font-size:12px;
	text-align:right;
	margin-top:10px;
	margin-right:10px;
}

.review_end {
	border:1px solid #C6C7C8;
	margin-top:10px;
	margin-right: auto;
	margin-left: auto;
	font-size:14px;
	width:90%;
	padding:5px;
	color:#D40050;
	text-align:center;
}


/* パンくず Apple like
----------------------------------*/
.simple {
        list-style: none;
        overflow: hidden;
        color: #777;
        font: 10px Verdana, sans-serif;
        background: #fff;
        border: 1px solid #dedede;
		margin: 0 0 0 -30px;
}
.simple li {
        float: left;
        line-height: 30px;
        text-shadow: 0 1px 0 white;
		margin-left:-30px;
}
.simple li a {
        color: #666;
        text-decoration: none;
        padding: 0 10px 0 20px;
        background: #eee;
        background: -webkit-gradient(linear, left top, right top,
                from(#fff),
                color-stop(0.85,#efefef),
                to(#efefef));
        display: block;
        float: left;
}
.simple li a::after {
        position: relative;
        display: block;
        margin-top: -15px;
        margin-left: auto;
        margin-right: -15px;
        height: 15px;
        width: 10px;
        content: " ";
        -webkit-transform: skew(-30deg);
        background: #efefef;
        border-right: 1px solid #d6d6d6;
}
.simple li a::before {
        float: right;
        display: block;
        margin-bottom: -15px;
        margin-left: auto;
        margin-right: -15px;
        height: 15px;
        width: 10px;
        content: " ";
        -webkit-transform: skew(30deg);
        background: #efefef;
        border-right: 1px solid #d6d6d6;
}
.simple li:first-child a {padding-left: 10px;}
.simple li:last-child {
        padding-left: 20px;
        background: transparent !important;
        color: black;
}
.simple li a:hover {color: #d31;}


/* クリアフィクス
----------------------------------------------------------- */
.clear {
clear:both;
}