<?php
$news_modified ="";
foreach($news_list as $key => $record){
	$news_modified_tmp = date('Y-m-d', strtotime($record[0]['news_modified']));
	if($news_modified != $news_modified_tmp){?>
		<dl class="new">
		<dt><?php echo $news_modified_tmp?></dt>
		<?php $news_modified = $news_modified_tmp;
	}?>

	<?php if($record[0]['id'] == 'Shop'){?>
		<dd>【<font class="n_color1">新規店</font>】<?php echo $record['Shop']['name']?>を追加 - <?php echo date('G:i', strtotime($record[0]['news_modified']))?></dd>
	<?php }elseif($record[0]['id'] == 'Girl'){?>
		<dd>【<font class="n_color2">新人</font>】<?php echo $record['Shop']['name']?>に<?php echo $record['Girl']['name']?>ちゃん追加 - <?php echo date('G:i', strtotime($record[0]['news_modified']))?></dd>
	<?php }elseif($record[0]['id'] == 'Review'){?>
		<dd>【<font class="n_color6">口コミ</font>】<?php echo $record['Shop']['name']?>の
			<?php echo $record['Girl']['name'] ?>ちゃん
		口コミ更新 - <?php echo date('G:i', strtotime($record[0]['news_modified']))?></dd>
	<?php }?>

<?php if(empty($news_list[$key+1][0]['news_modified']) ||
$news_modified_tmp != date('Y-m-d',
strtotime($news_list[$key+1][0]['news_modified']))){?>

		</dl>
		<hr />
	<?php }?>
<?php }?>

