            
                <form action="/review/confirm" method="post">
                
                <div class="reviewForm">
                <table cellspacing="0" cellpadding="0" border="0" class="noLCS">
                    <tr>
                        <th>店名</th>
                        <td>
                        <!--    一夜妻  -->
                        </td>
                        
                    </tr>
                    <tr>
                        <th>女の子</th>
                        <td>
                        <!--    中井マダム   -->
                        </td>
                        
                    </tr>
                    <tr>
                        <th>コース／料金</th>
                        <td>
                            <select name="minute">
                                <option value="">---</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                                <option value="25">25</option>
                                <option value="30">30</option>
                                <option value="35">35</option>
                                <option value="40">40</option>
                                <option value="45">45</option>
                                <option value="50">50</option>
                                <option value="55">55</option>
                                <option value="60">60</option>
                                <option value="65">65</option>
                                <option value="70">70</option>
                                <option value="75">75</option>
                                <option value="80">80</option>
                                <option value="85">85</option>
                                <option value="90">90</option>
                                <option value="95">95</option>
                                <option value="100">100</option>
                                <option value="105">105</option>
                                <option value="110">110</option>
                                <option value="115">115</option>
                                <option value="120">120</option>
                                </select>分
                                <select name="price">
                                <option value="">------</option>
                                <option value="2000">2000</option>
                                <option value="3000">3000</option>
                                <option value="4000">4000</option>
                                <option value="5000">5000</option>
                                <option value="6000">6000</option>
                                <option value="7000">7000</option>
                                <option value="8000">8000</option>
                                <option value="9000">9000</option>
                                <option value="10000">10000</option>
                                <option value="11000">11000</option>
                                <option value="12000">12000</option>
                                <option value="13000">13000</option>
                                <option value="14000">14000</option>
                                <option value="15000">15000</option>
                                <option value="16000">16000</option>
                                <option value="17000">17000</option>
                                <option value="18000">18000</option>
                                <option value="19000">19000</option>
                                <option value="20000">20000</option>
                                <option value="21000">21000</option>
                                <option value="22000">22000</option>
                                <option value="23000">23000</option>
                                <option value="24000">24000</option>
                                <option value="25000">25000</option>
                                <option value="26000">26000</option>
                                <option value="27000">27000</option>
                                <option value="28000">28000</option>
                                <option value="29000">29000</option>
                                <option value="30000">30000</option>
                                <option value="31000">31000</option>
                                <option value="32000">32000</option>
                                <option value="33000">33000</option>
                                <option value="34000">34000</option>
                                <option value="35000">35000</option>
                                <option value="36000">36000</option>
                                <option value="37000">37000</option>
                                <option value="38000">38000</option>
                                <option value="39000">39000</option>
                                <option value="40000">40000</option>
                                <option value="41000">41000</option>
                                <option value="42000">42000</option>
                                <option value="43000">43000</option>
                                <option value="44000">44000</option>
                                <option value="45000">45000</option>
                                <option value="46000">46000</option>
                                <option value="47000">47000</option>
                                <option value="48000">48000</option>
                                <option value="49000">49000</option>
                                <option value="50000">50000</option>
                                <option value="51000">51000</option>
                                <option value="52000">52000</option>
                                <option value="53000">53000</option>
                                <option value="54000">54000</option>
                                <option value="55000">55000</option>
                                <option value="56000">56000</option>
                                <option value="57000">57000</option>
                                <option value="58000">58000</option>
                                <option value="59000">59000</option>
                                <option value="60000">60000</option>
                                <option value="61000">61000</option>
                                <option value="62000">62000</option>
                                <option value="63000">63000</option>
                                <option value="64000">64000</option>
                                <option value="65000">65000</option>
                                <option value="66000">66000</option>
                                <option value="67000">67000</option>
                                <option value="68000">68000</option>
                                <option value="69000">69000</option>
                                <option value="70000">70000</option>
                                <option value="71000">71000</option>
                                <option value="72000">72000</option>
                                <option value="73000">73000</option>
                                <option value="74000">74000</option>
                                <option value="75000">75000</option>
                                <option value="76000">76000</option>
                                <option value="77000">77000</option>
                                <option value="78000">78000</option>
                                <option value="79000">79000</option>
                                <option value="80000">80000</option>
                                <option value="81000">81000</option>
                                <option value="82000">82000</option>
                                <option value="83000">83000</option>
                                <option value="84000">84000</option>
                                <option value="85000">85000</option>
                                <option value="86000">86000</option>
                                <option value="87000">87000</option>
                                <option value="88000">88000</option>
                                <option value="89000">89000</option>
                                <option value="90000">90000</option>
                                <option value="91000">91000</option>
                                <option value="92000">92000</option>
                                <option value="93000">93000</option>
                                <option value="94000">94000</option>
                                <option value="95000">95000</option>
                                <option value="96000">96000</option>
                                <option value="97000">97000</option>
                                <option value="98000">98000</option>
                                <option value="99000">99000</option>
                                <option value="100000">100000</option>                       
                        	</select>円
                        </td>
                    </tr>
                    <tr>
                        <th>ご利用場所</th>
                        <td>
                            <select name="place">
                                <option value="ラブホテル">ラブホテル</option>
                                <option value="ビジネスホテル">ビジネスホテル</option>
                                <option value="自宅">自宅</option>
                                <option value="店舗">店舗</option>
                                <option value="その他">その他</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>指名</th>
                        <td>
                            <select name="place">
                                <option value="新規">新規</option>
                                <option value="リピート">リピート</option>
                            </select>
                            ・
                            <select name="place">
                                <option value="本指名">本指名</option>
                                <option value="写真指名">写真指名</option>
                                <option value="フリー">フリー</option>
                                <option value="おすすめ">おすすめ</option>
                            </select>
                        </td>
                    </tr>
                </table>
                </div>
                
               <div class="circle">女の子を3つのカテゴリーから評価して下さい。</div>
                
                <div class="reviewFormRed">
                <table cellspacing="0" cellpadding="0" border="0">
                    <tr>
                        <th>L(ルックス)</th>
                        <td>
                            <select name="looks">
                                <option value="">採点してください</option>
                                <option value="1">★☆☆☆☆</option>
                                <option value="2">★★☆☆☆</option>
                                <option value="3">★★★☆☆</option>
                                <option value="4">★★★★☆</option>
                                <option value="5">★★★★★</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>S(サービス)</th>
                        <td>
                            <select name="character">
                                <option value="">採点してください</option>
                                <option value="1">★☆☆☆☆</option>
                                <option value="2">★★☆☆☆</option>
                                <option value="3">★★★☆☆</option>
                                <option value="4">★★★★☆</option>
                                <option value="5">★★★★★</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>C(性格)</th>
                        <td>
                            <select name="service">
                                <option value="">採点してください</option>
                                <option value="1">★☆☆☆☆</option>
                                <option value="2">★★☆☆☆</option>
                                <option value="3">★★★☆☆</option>
                                <option value="4">★★★★☆</option>
                                <option value="5">★★★★★</option>
                            </select>
                        </td>
                    </tr>
                </table>
                </div>
                
                <div class="circle">ルックス、性格、サービス等で特に何が良かったのか（上記「口コミ投稿のご注意」参照）を、みなさんが参考にしやすいように書いて下さい。</div>
                
                <div class="reviewForm">
                <table cellspacing="0" cellpadding="0" border="0" class="noLCS">
                    <tr>
                        <th>口コミ</th>
                        <td><textarea></textarea></td>
                    </tr>
                    <tr>
                        <th>この女の子の良さを一言でいうと<br>(※タイトルとして表示されます）</th>
                        <td><input type="text" size="60"></td>
                    </tr>
                </table>
                </div>
                <p class="align_c"><input type="submit" class="submitBtn redBtn" value="入力内容を確認する"></p>
			</form>
<br style="clear:both;" />