<!-- recommendUserArea --> 
<div class="recommendUserArea">
    <p>おすすめのユーザー</p>
    <div class="box clearfix">
        <div class="img"><a href="#"><img src="/img/tab_topictoukou_img1.png" alt="" class="img_frame"></a></div>
        <div class="summary">
            <p class="name"><span>デリヘル貴族</span>さん</p>
            <p class="num">200フォロワー</p>
            <p class="followBtn">フォローする</p>
        </div>
    </div>
    <div class="box clearfix">
        <div class="img"><a href="#"><img src="/img/tab_topictoukou_img2.png" alt="" class="img_frame"></a></div>
        <div class="summary">
            <p class="name"><span>キャベツさん太郎</span>さん</p>
            <p class="num">200フォロワー</p>
            <p class="followBtn">フォローする</p>
        </div>

    </div>
    <div class="box clearfix">
        <div class="img"><a href="#"><img src="/img/tab_topictoukou_img3.png" alt="" class="img_frame"></a></div>
        <div class="summary">
            <p class="name"><span>ハチミツボーイ</span>さん</p>
            <p class="num">200フォロワー</p>
            <p class="followBtn">フォローする</p>
        </div>

    </div>
    <div class="box clearfix">
        <div class="img"><a href="#"><img src="/img/tab_topictoukou_img1.png" alt="" class="img_frame"></a></div>
        <div class="summary">
            <p class="name"><span>デリヘル貴族</span>さん</p>
            <p class="num">200フォロワー</p>
            <p class="followBtn">フォローする</p>
        </div>
    </div>

    <div class="box clearfix">
        <div class="img"><a href="#"><img src="/img/tab_topictoukou_img2.png" alt="" class="img_frame"></a></div>
        <div class="summary">
            <p class="name"><span>キャベツさん太郎</span>さん</p>
            <p class="num">200フォロワー</p>
            <p class="followBtn">フォローする</p>
        </div>
    </div>
    
</div>
<!-- /recommendUserArea --> 