<div class="ranking">
	<p>デリヘルランキング</p>
    <ul>
<?php
foreach($categories AS $key => $record) {
    // ログイン時
    if(!empty($parent_reviewer)) {
        $link = $linkCommon->get_ranking_category($record);
    } else {
        $link = $linkCommon->get_accounts_register($parent_area);
    }
?>
        <li><a href="<?php echo $link; ?>"><?php echo $record['MShopsBusinessCategory']['name']; ?></a></li>
<?php } ?>
	</ul>
</div>

<?php // print_r($ranking_category); ?>
