	
	<div class="link_o"><h2>口コミ投稿</h2></div>    
	
	<section id="shop_form">
		<div class="label2_2 tab_top_grade"><h3 class="label2_ttl">女の子をお選び下さい</h3></div>
		<div id="search_box" style="text-align:center;">
			<input type="text" size="20" id="Search1" placeholder="絞り込み検索" style="width:93%;margin:0 auto;">
		</div>	

    <div class="pageCounter">
        <!-- <span class="num"> --><span style="color:#df6884;font-weight:bold;font-size:120%;"><?php echo count($girl_list); ?>人</span><span>の在籍者がいます。</span>
    <div>

    
<div class="girls_list" id="MyBookmark1">
	<div class="clearfix inner">   
    
    <div class="girlsArea">
        <div class="col">
            <p class="img"><a href="<?php echo $linkCommon->get_post_review($shop_id); ?>"><img src="/img/dummy.jpg" width="60" /></a></p>
            <p class="name" style="font-size:80%;"><!-- 在籍の女の子が -->いない場合</p>
          <!--  <p class="whiteBtn btn">クチコミを書く</p> -->
        </div>
        
<?php
$column_cnt = 1;
foreach($girl_list AS $ii => $record) {
?>

        <div class="col">
            <p class="img"><a href="<?php echo $linkCommon->get_post_review($record['Shop']['id'], $record['Girl']['id']); ?>"><?php echo $imgCommon->get_girl_with_time($record, 's'); ?></a></p>
            <p class="name" style="font-size:80%;"><?php echo $record['Girl']['name']; ?></p>
         <!--   <p class="whiteBtn btn"><a href="<?php echo $linkCommon->get_post_review($record['Shop']['id'], $record['Girl']['id']); ?>">クチコミを書く</a></p> -->
        </div>

<?php
    $column_cnt++;
    if($column_cnt >= 4) {
        $column_cnt = 0;
?>
        <p class="clearLine"></p>
<?php
    }
}
?>
			</div>
		</div>
	</section><!--/#shop_form-->
