<div id="topicSlider" class="inner">
	<div class="list">

		<div class="box">
			<div class="clearfix col01">
				<p class="img"><a href="http://shinagawagotanda.dhrank.com/12672"><img src="http://img.dhrank.com/shop/12672/image_icon.jpg" alt="" height="100" width="100"></a></p>
				<p class="tt"><a href="http://shinagawagotanda.dhrank.com/12672">クラスメイト</a></p>
				<p class="summary">デリヘル</p>
			</div>
			<p class="txt">素人美少女との運命の出会いが此処に!!♪♪錦糸町から素人可憐な未経験お姉さま＆</p>
		</div>

		<div class="box">
			<div class="clearfix col01">
				<p class="img"><a href="http://shinagawagotanda.dhrank.com/6599"><img src="http://img.dhrank.com/shop/6599/image_icon.jpg" alt="" height="100" width="100"></a></p>
				<p class="tt"><a href="http://shinagawagotanda.dhrank.com/6599">品川しろうさぎ</a></p>
				<p class="summary">アロマ・エステ・デリヘル</p>
			</div>
			<p class="txt">都会のしがらみの中で疲れた心と体を大人の日本人女性が貴方を癒します。 </p>
		</div>

		<div class="box">
			<div class="clearfix col01">
				<p class="img"><a href="http://shinagawagotanda.dhrank.com/12673"><img src="http://img.dhrank.com/shop/12673/image_icon.jpg" alt="" height="100" width="100"></a></p>
				<p class="tt"><a href="http://shinagawagotanda.dhrank.com/12673">プリンセス東京</a></p>
				<p class="summary">デリヘル</p>
			</div>
			<p class="txt">プリンセス東京ではハイレベルな女の子を求めるが故に総在籍数はまだ多くはありません。しかしながら、</p>
		</div>

		<div class="box">
			<div class="clearfix col01">
				<p class="img"><a href="http://shinagawagotanda.dhrank.com/12674"><img src="http://img.dhrank.com/shop/12674/image_icon.jpg" alt="" height="100" width="100"></a></p>
				<p class="tt"><a href="http://shinagawagotanda.dhrank.com/12674">CLUB-G</a></p>
				<p class="summary">その他</p>
			</div>
			<p class="txt">アイマスクと手枷をされて若い女の子に弄ばれる極上受け身プレイ！Ｍ男性ならずとも、</p>
		</div>

		<div class="box">
			<div class="clearfix col01">
				<p class="img"><a href="http://shinagawagotanda.dhrank.com/12685"><img src="http://img.dhrank.com/banner/newshopslide/shinagawa/touch.jpg" alt="" height="100" width="100"></a></p>
				<p class="tt"><a href="http://shinagawagotanda.dhrank.com/12685">新橋たっちG</a></p>
				<p class="summary">その他</p>
			</div>
			<p class="txt"></p>
		</div>

	</div>
</div>
