	<p id="top_new_review_tt" class="link_pi">新着口コミ</p>
	<div class="clearfix">
		<p class="f_right font09 mar_t_10 mar_b_10">口コミ一覧（新着順）</p>
	</div>
	<section id="pickup_box">
<?php
$cnt = count($new_review);
	for ($ii = 0; $ii < $cnt; $ii++) {
		echo $this->element('s_common/_review_newest_into', array("record" => $new_review[$ii]));
	}
?>
<?php /*
	<div class="page_navi">
		<p><a href="#">戻る</a></p>
		<p>2/5ページ</p>
		<p><a href="#">次へ</a></p>
	</div>
*/ ?>
<?php // echo $this->element('s_pagenate/footer_pagenate'); ?>
</section>

<?php echo $this->element('s_common/footer_banner'); ?>

	
	
<nav id="cmn-bread" class="jq-app-bc" data-bc-no-edge-scroll="left">
	<ul class="bc-inr">
		<li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="http://dhrank.com/s/" itemprop="url"><span itemprop="title">HOME</span></a></li>
		<li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="./top/" itemprop="url"><span itemprop="title"><?php echo $parent_area['LargeArea']['name']?></span></a></li>
		<li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="./" itemprop="url"><span itemprop="title">新着口コミ</span></a></li>
	</ul>
</nav>