<?php
if(isset($this->params['business_category_id'])) {
	$paginator->options(array('url' => array('business_category_id' => $this->params['business_category_id'])));
}
?>

<ul class="pageNav03 clear">
<?php
if($paginator->hasPrev()) {
?>
<li><?php echo $paginator->prev('前へ'); ?></li>
<?php
}
?>
<?php
echo $paginator->numbers(array(
	'tag' => 'li',
	'separator' => '',
));
?>
<?php
if($paginator->hasNext()) {
?>
<li><?php echo $paginator->next('次へ'); ?></li>
<?php
}
?>
</ul>
<?php //echo $paginator->numbers(array('first' => 1, 'last' => 1, 'modulus' => 2, 'tag' => 'li', 'separator' => ''));?>

