    <div class="pageCounter">
        <span class="num"><?php echo count($girl_list); ?>人</span><span>の在籍者がいます。</span>
    <div>
    <div class="girlsArea">
        <div>
            <p class="img"><img src="/img/dummy.jpg"></p>
            <p class="name">在籍の女の子がいない場合</p>
            <p class="whiteBtn btn"><a href="<?php echo $linkCommon->get_post_review($shop_id); ?>">クチコミを書く</a></p>
        </div>
<?php
$column_cnt = 1;
foreach($girl_list AS $ii => $record) {
?>
        <div>
            <p class="img"><?php echo $imgCommon->get_girl_with_time($record, 's'); ?></p>
            <p class="name"><?php echo $record['Girl']['name']; ?></p>
            <p class="whiteBtn btn"><a href="<?php echo $linkCommon->get_post_review($record['Shop']['id'], $record['Girl']['id']); ?>">クチコミを書く</a></p>
        </div>
<?php
    $column_cnt++;
    if($column_cnt >= 4) {
        $column_cnt = 0;
?>
        <p class="clearLine"></p>
<?php
    }
}
?>

