	<div class="link_o"><h2>店舗検索</h2></div>
	<section id="shop_category_box">
		<div class="inner_box">
<!-- shopSearch -->
<?php echo $this->element('s_common/entry_search'); ?>
<!-- /shopSearch -->
			<div class="shopList">
<!-- shopCategory -->
<?php echo $this->element('s_common/top_shop_category'); ?>
<!-- /shopCategory -->
<?php if(!empty($shop_list)) { ?>
				<p class="btn_pi"><a href="<?php echo $linkCommon->s_get_post_review(); ?>">お店が無い場合はこちら</a></p>
<?php } ?>
				</div>
			</div>
<!--  /body -->
		</div>
	</section>
