        <div class="list">
            <ul id="newSlideShow" class="clearfix">
                <li><a href="/shop"><img src="/img/news_shop_test_img5.png" alt="" height="100" width="100"></a></li>
                <li><a href="/shop"><img src="/img/news_shop_test_img5.png" alt="" height="100" width="100"></a></li>
                <li><a href="/shop"><img src="/img/news_shop_test_img5.png" alt="" height="100" width="100"></a></li>
                <li><a href="/shop"><img src="/img/news_shop_test_img5.png" alt="" height="100" width="100"></a></li>
                <li><a href="/shop"><img src="/img/news_shop_test_img5.png" alt="" height="100" width="100"></a></li>
            </ul>
        </div>
