<div class="list">
	<ul id="newSlideShow" class="clearfix">
		<li><a href="http://chiba.dhrank.com/12659"><img src="http://img.dhrank.com/shop/12659/image_icon.jpg" alt="" height="100" width="100"></a></li>
		<li><a href="http://chiba.dhrank.com/8024"><img src="http://img.dhrank.com/shop/8024/image_icon.jpg" alt="" height="100" width="100"></a></li>
		<li><a href="http://chiba.dhrank.com/12676"><img src="http://img.dhrank.com/shop/12676/image_icon.jpg" alt="" height="100" width="100"></a></li>
		<li><a href="http://chiba.dhrank.com/12686"><img src="http://img.dhrank.com/banner/newshopslide/chiba/pinksapphire.jpg" alt="" height="100" width="100"></a></li>
		<li><a href="http://chiba.dhrank.com/12687"><img src="http://img.dhrank.com/banner/newshopslide/chiba/sakurahime.jpg" alt="" height="100" width="100"></a></li>
		<li><img src="http://img.dhrank.com/banner/newshopslide/s.gif" alt="" height="100" width="100"></li>
	</ul>
</div>
