<div class="list">
	<ul id="newSlideShow" class="clearfix">
		<li><a href="http://shinjyuku.dhrank.com/11798"><img src="http://img.dhrank.com/shop/11798/image_icon.jpg" alt="" height="100" width="100"></a></li>
		<li><a href="http://shinjyuku.dhrank.com/12663"><img src="http://img.dhrank.com/shop/12663/image_icon.jpg" alt="" height="100" width="100"></a></li>
		<li><a href="http://shinjyuku.dhrank.com/12671"><img src="http://img.dhrank.com/shop/12671/image_icon.jpg" alt="" height="100" width="100"></a></li>
		<li><img src="http://img.dhrank.com/banner/newshopslide/s.gif" alt="" height="100" width="100"></li>
		<li><img src="http://img.dhrank.com/banner/newshopslide/s.gif" alt="" height="100" width="100"></li>
		<li><img src="http://img.dhrank.com/banner/newshopslide/s.gif" alt="" height="100" width="100"></li>
	</ul>
</div>
