<div class="list">
	<ul id="newSlideShow" class="clearfix">
		<li><a href="http://nagano.dhrank.com/12709"><img src="http://img.dhrank.com/banner/newshopslide/nagano/milkshake.jpg" alt="" height="100" width="100"></a></li>
		<li><img src="http://img.dhrank.com/banner/newshopslide/s.gif" alt="" height="100" width="100"></li>
		<li><img src="http://img.dhrank.com/banner/newshopslide/s.gif" alt="" height="100" width="100"></li>
		<li><img src="http://img.dhrank.com/banner/newshopslide/s.gif" alt="" height="100" width="100"></li>
		<li><img src="http://img.dhrank.com/banner/newshopslide/s.gif" alt="" height="100" width="100"></li>
		<li><img src="http://img.dhrank.com/banner/newshopslide/s.gif" alt="" height="100" width="100"></li>
	</ul>
</div>
