<div class="list">
	<ul id="newSlideShow" class="clearfix">
		<li><a href="http://shibuya.dhrank.com/12665"><img src="http://img.dhrank.com/shop/12665/image_icon.jpg" alt="" height="100" width="100"></a></li>
		<li><a href="http://shibuya.dhrank.com/6396"><img src="http://img.dhrank.com/shop/6396/image_icon.jpg" alt="" height="100" width="100"></a></li>
		<li><img src="http://img.dhrank.com/banner/newshopslide/s.gif" alt="" height="100" width="100"></li>
		<li><img src="http://img.dhrank.com/banner/newshopslide/s.gif" alt="" height="100" width="100"></li>
		<li><img src="http://img.dhrank.com/banner/newshopslide/s.gif" alt="" height="100" width="100"></li>
		<li><img src="http://img.dhrank.com/banner/newshopslide/s.gif" alt="" height="100" width="100"></li>
	</ul>
</div>
