<div class="list">
	<ul id="newSlideShow" class="clearfix">
		<li><a href="http://shinagawagotanda.dhrank.com/6599"><img src="http://img.dhrank.com/shop/6599/image_icon.jpg" alt="" height="100" width="100"></a></li>
		<li><a href="http://shinagawagotanda.dhrank.com/12672"><img src="http://img.dhrank.com/shop/12672/image_icon.jpg" alt="" height="100" width="100"></a></li>
		<li><a href="http://shinagawagotanda.dhrank.com/12673"><img src="http://img.dhrank.com/shop/12673/image_icon.jpg" alt="" height="100" width="100"></a></li>
		<li><a href="http://shinagawagotanda.dhrank.com/12674"><img src="http://img.dhrank.com/shop/12674/image_icon.jpg" alt="" height="100" width="100"></a></li>
		<li><a href="http://shinagawagotanda.dhrank.com/12685"><img src="http://img.dhrank.com/banner/newshopslide/shinagawa/touch.jpg" alt="" height="100" width="100"></a></li>
		<li><img src="http://img.dhrank.com/banner/newshopslide/s.gif" alt="" height="100" width="100"></li>
	</ul>
</div>
