<div class="title title01">
	<h2>ご利用規約 <span class="small"></span></h2>
</div>

<div id="term">

    <p class="text">
    当サイトは、当サイトが提供するサービスである「デリヘルクチコミランキング」の利用について、以下のとおり利用規約を定めます（以下「本規約」といいます。）。 「デリヘルクチコミランキング」の利用者（以下「お客様」といいます。）は、予め本規約に同意した上で、「デリヘルクチコミランキング」を利用するものとします。 なお、本規約の内容は、必要に応じて変更することがございますので、「デリヘルクチコミランキング」をご利用の際には、最新の利用規約をご参照ください。
    </p>
    
    <div class="listHeading">第1条　「デリヘルクチコミランキング」の目的</div>
    
    <p class="text">
    「デリヘルクチコミランキング」（以下「当サイト」と言い変える場合があります。）は、お客様によって投稿された風俗店に関するコメント・画像等（以下お客様から当サイトに投稿された情報を総称して「口コミ」といいます。）を公開することで、他の当サイト閲覧者が風俗店を選ぶ際の参考として活用していただくことを主な目的としています。
    </p>
    
    
    <div class="listHeading">第2条　会員登録手続</div>
    
    <p class="text">
    お客様は、当サイト所定の手続に従い、ゲスト会員（以下「ゲスト会員」といいます。）及び、レビュアー会員（以下「レビュアー会員」といい、ゲスト会員と併せて、「会員」といいます。）の登録手続を行うことができるものとします。当サイトは、ゲスト会員、レビュアー会員、及び会員ではないお客様とで、当サイトにおいて提供するサービスを異ならせることがあります。提供されるサービスの内容等は当サイトが任意に決定し、又は随時変更できることができるものとします。
    </p>
    
    <div class="listHeading">第3条　ログインアカウント等の登録・管理</div>
    
    <p class="text">
    お客様は、ログインアカウント及びパスワード（以下「ログインアカウント等」といいます。）の登録・管理等をご自身の責任において行うものとし、お客様の管理不十分、使用上の過誤、第三者の使用等により生じた損害について、当サイトは一切の責任を負わないものとします。また、お客様は、ログインアカウント等にかかるサービス（当サイト以外の運営するサービスを含み、以降同様とする。）の利用をご自身の責任において利用するものとし、当該サービスの利用については当該サービスの運営者が規定する各規約の定めに従うものとします。ログインアカウント等にかかるサービスを利用したことにより生じた損害、当該サービス運営者とお客様の間に生じたトラブル等について当サイトは一切の責任を負わないものとします。
    </p>
    
    <div class="listHeading">第4条　プライバシーについて</div>
    
    <p class="text">
    （１）個人情報の取り扱いについて<br />
    ［1］利用目的<br />
    当サイトは、お客様に対して当サイトを提供するにあたり、必要な一定のお客様の個人情報を取得しますが、これらの個人情報の利用目的は以下のとおりです。<br />
    a．ログイン時における本人確認のため<br />
    b．個人を識別できない形式に加工した上、統計データを作成するなど当サイトサービスの利用促進のため<br />
    c．当サイトに関し、必要に応じてお客様に対し連絡をするため<br />
    ［2］第三者提供<br />
    当サイトは、以下のいずれかに該当する場合を除き、お客様の個人情報を第三者へ開示又は提供いたしません。<br />
    a．お客様の同意があるとき<br />
    b．お客様を識別することができない状態で統計的なデータとして開示・提供するとき<br />
    c．法令に基づくとき<br />
    d．人の生命、身体又は財産の保護のために必要な場合で、お客様の同意を得ることが困難なとき<br />
    e．国の機関若しくは地方公共団体又はその委託を受けた者が法令の定める事務を遂行することに対して協力する必要があるときに、お客様の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき<br />
    ［3］業務委託<br />
    当サイトは取得した個人情報の取扱いの全部又は一部を、必要な保護措置を講じた上、上記利用目的に必要な範囲において、委託する場合があります。<br />
    ［4］開示、訂正・削除、利用停止等<br />
    お客様が、ご自身の個人情報の利用目的の通知、開示、訂正・追加・削除、利用停止又は消去の請求を行う場合は、「個人情報の取扱いについて　3．」に定めた方法にてお受けいたします。<br />
    ［5］その他<br />
    すべての項目にご入力いただけなかった場合、当サイトの全部又は一部が利用できない場合がありますのでご了解下さい。<br />
    （２）クッキー、Ｗｅｂビーコンについて<br />
    当サイトを利用していただくお客様により良いサービスを提供するためにクッキー（Cookie）、Webビーコンを使うことがあります。<br /> 
    クッキーは、お客様のブラウザ設定によりクッキーの受け取りを拒否したり、制限できますが、その際は、当サイトの利用において制約を受ける場合があります。Webビーコンの使用に関しては、お客様側で制限することが出来ない場合があります。 <br />
    当サイトはこれらの技術をお客様の個人情報を取得する目的では使用していません。 <br />
    クッキー、Webビーコンに関しましては、下記の説明をご覧ください。<br />
    ［1］クッキー（Cookie）について<br />
    クッキーは、Webサイトの提供者がWebブラウザを通してサイト利用者のコンピュータに一時的にデータを記録する仕組みです。クッキーには、サイト利用者に関する情報や最後にサイトを訪れた日時、そのサイトの訪問回数などが記録させることができ、サイト利用者の識別、お客様認証システムやWWWによるサービスをお客様毎にカスタマイズするサービス等で利用されます。<br />
    ［2］Webビーコンについて<br />
    Webビーコンとは、透明な画像ファイルやスクリプト等を使用してお客様のアクセス状況を把握するもので、サイト利用者の識別、Webサイトの利用状況等の統計的情報を取得するために利用されています。<br />
    ［3］IR情報としての利用について<br />
    当サイトは、お客様による当サイトの利用に関しクッキー又はWebビーコンを用いて計測された利用者数、ページビュー数などの統計データを、IR情報として公開することがあります。
    </p>
    
    <div class="listHeading">第5条　「デリヘルクチコミランキング」の利用について</div>
    
    <p class="text">
    （1）「デリヘルクチコミランキング」の転用・転売の禁止<br />
    ［1］お客様は、「デリヘルクチコミランキング」について、その全部あるいは一部を問わず、営業活動その他の営利を目的とした行為又はそれに準ずる行為やそのための準備行為を目的として、利用又はアクセスしてはならないものとします。また、その他、宗教活動、政治活動などの目的での利用又はアクセスも行ってはならないものとします。<br />
    ［2］「デリヘルクチコミランキング」へ投稿された口コミを無断転載・無断利用することは禁止します。ただし、当該投稿をした本人は除きます。<br />
    ［3］口コミを投稿した本人による当該口コミの利用等本規約が特に認めた場合を除き、当サイトに掲載されている口コミを利用して利益を得た場合には、当サイトはその利益相当額の金員を請求できる権利を有するものとします。<br />
    （2）「デリヘルクチコミランキング」の変更・停止<br />
    当サイトはお客様へご提供している「デリヘルクチコミランキング」を当サイトの都合により変更することがございます。また、災害・事故、その他緊急事態が発生した際には、当サイトを停止する場合がありますので、予めご了承ください。なお、事前にお客様の承諾を得ることなく当サイトを変更・停止等したことにより、お客様又は第三者が損害を受けたとしても、当サイトは一切の補償はいたしません。<br />
    （3）「デリヘルクチコミランキング」の利用に必要となる設備<br />
    お客様が当サイトをご利用になるためには、webにアクセスしていただく必要があります。なおwebへのアクセスについては、お客様は自らの責任と費用で必要な機器、ソフトウェアを適切に準備、操作していただく必要があり、当サイトはお客様がwebにアクセスするための準備、方法などについては一切関与いたしておりません。<br />
    （4）口コミの投稿及び著作権等<br />
    ［1］「デリヘルクチコミランキング」に口コミ投稿を行う際には、レビュアー会員登録が必要となります。<br />
    ［2］「デリヘルクチコミランキング」に口コミを投稿されるにあたっては、当サイトが別途定めるガイドラインについても遵守していただきます。 このガイドラインは、本規約の一部を構成するものとし、このガイドラインを含めたものが本規約となります。<br />
    ［3］レビュアー会員が当サイトに口コミの投稿を行った時点で、当該口コミの国内外における複製、公衆送信、頒布、翻訳・翻案等、著作権法上の権利（当サイトから第三者に対する再使用許諾権を含みます。）を、当該著作権の存続期間の満了日まで、レビュアー会員が当サイトに対して無償で利用することを許諾したものとします。<br />
    ［4］レビュアー会員ご自身が投稿された口コミに関する複製、公衆送信、頒布、翻訳・翻案等、著作権法上の権利を全て有していることを、当該レビュアー会員に保証していただきますので、著作権法上の権利の有無については十分に注意して投稿を行ってください。また、第三者の著作物等を利用して投稿を行う場合には、レビュアー会員の責任と負担において前記③の許諾に必要な権利処理がなされていることを前提とさせていただきますので、第三者の著作物等を利用される場合にも十分に注意をして投稿を行ってください。<br />
    ［5］当サイト若しくは当サイトから再使用許諾を受けた第三者が、レビュアー会員の口コミを当サイトのサイト内や提携サイトへのコンテンツ提供などにおいて利用する場合がございます。この際、レビュアー会員の口コミの一部を要約・抜粋したり、投稿された写真（画像）のサイズ変更・切り抜きを行うなど一部改変等する場合がございます。また、レビュアー会員の口コミを利用する場合には、レビュアー会員が投稿した際のハンドルネームを表示させていただく場合がございます。なお、レビュアー会員の口コミにつきましては細心の注意を払って利用させていただきますが、万が一、当該改変行為がレビュアー会員の名誉・声望等を侵害している場合には、当サイトまでご連絡ください。<br />
    ［6］当サイト若しくは当サイトから再使用許諾を受けた第三者が、レビュアー会員の口コミを利用する場合には、地域制限、著作権表示義務その他付随条件はないものとし、レビュアー会員による利用許諾の期間はレビュアー会員の著作権が存続する限りとします。また、ロイヤリティ等の対価は一切発生しないものとします。<br />
    ［7］当サイト又は第三者がレビュアー会員の口コミを利用したことによってレビュアー会員又は第三者が受けた損害については、当サイトでは一切の補償をいたしません。<br />
    （5） 口コミ投稿における外部サービス連携<br />
    ［1］当サイトにおいて口コミを投稿する際に、レビュアー会員がtwitter・Facebook等の外部サービス（以下「外部サービス」といいます。）との連携機能を利用する場合、レビュアー会員は、かかる連携により、レビュアー会員が作成した口コミの外部サービスへの投稿を当サイトがレビュアー会員に代行して行うこと、及び、当サイトがレビュアー会員に代行して外部サービスへの投稿にあたり、当該口コミに関連するウェブページへのURLを付加して投稿することを予め承諾するものとします。なお、レビュアー会員は、連携機能を利用してログインする際に、当サイトがデータにアクセスすることについての許可を求められることがあり、かかる内容を確認の上、許可した場合に限り、連携機能を利用することができるものとします。<br />
    ［2］外部サービスのユーザーIDの登録・利用を含む全ての外部サービスの利用（レビュアー会員が作成した口コミの外部サービスへの投稿を含みます。）については、レビュアー会員は、外部サービスの運営者が規定する各規約の定めに従うものとします。<br />
    ［3］外部サービスを利用する場合、レビュアー会員は、自己の責任において当該サービスを利用するものとし、当サイトは、当該サービスを利用したことにより生じた損害、当該サービスの運営者・利用者等との間に生じたトラブルその他の当該サービスに関連する一切の事項について何らの責任も負わないものとします。
    </p>
    
    <div class="listHeading">第6条　免責事項</div>
    
    <p class="text">
    当サイトは、お客様ご自身の責任においてご利用いただきます。また、以下の各号につき予めご了承いただくものとします。<br />
    （1）口コミの内容<br />
    当サイトは、掲載された口コミの内容に関していかなる保証もいたしません。お客様のご判断でご利用ください。また、掲載された口コミによって生じたお客様の損害（お客様が作成した各種コンテンツによるコンピュータ・ウィルス感染被害なども含みます）や、お客様同士のトラブル等に対し、当サイトは一切の補償及び関与をいたしません。<br />
    （2）リンク先サイト<br />
    当サイトは、当サイトからリンクされた第三者が運営するサイトに関して、いかなる保証もいたしません。お客様のご判断でご利用ください。また、リンク先で生じた損害や、お客様同士のトラブル等に対し、当サイトは一切の補償及び関与をいたしません。<br />
    （3）口コミの削除<br />
    当サイトは、お客様からの自己責任に基づく口コミの投稿によって成り立っているコミュニティですが、お客様皆様に快適にご利用いただくため、下記に該当・類似する口コミが発見された場合、予告無く、当該口コミを当サイト上から削除する場合があります。<br />
    なお、削除対象に該当するか否かは、全て当サイトが判断いたします。 <br />
    また、6．（5）に従い連携された外部サービス上に掲載された口コミに関しては、第三者が運営するサービス・ウェブサイトでの表示であるため、当サイトが削除等の措置を講じることはいたしません。<br />
    ［1］ガイドラインに反するもの<br />
    ［2］公序良俗に反するもの<br />
    ［3］当サイトの趣旨、又は口コミの対象となるお店やお取り寄せ商品と関係のないもの（日記を除く）<br />
    ［4］有害なプログラム・スクリプト等を含むもの<br />
    ［5］営利を目的としたものや個人的な売買・譲渡を持ちかける内容、宣伝行為に関するもの<br />
    ［6］その他、当サイトの管理運営を妨げる等、当サイトが不適切と判断したもの
    </p>
    
    <div class="listHeading">第7条　著作権、財産権その他の権利</div>
    
    <p class="text">
    （1）当サイトに含まれているコンテンツ及び個々の情報､商標､画像､広告､デザイン等に関する著作権､商標権その他の知的財産権、及びその他の財産権は全て当サイト又は正当な権利者に帰属しています｡<br />
    （2）当サイト及び関連して使用されている全てのソフトウェアは､知的財産権に関する法令等により保護されている財産権を含んでいます｡<br />
    （3）お客様は､当サイト若しくは著作権その他の知的財産権及びその他の財産権を有する第三者から利用･使用を許諾されている場合､又は､法令により権利者からの許諾なく利用若しくは使用することを許容されている場合を除き、当サイト及び当サイトの内容について複製､編集､改変､掲載､転載､公衆送信､配布､販売､提供､翻訳・翻案その他あらゆる利用又は使用を行ってはなりません｡<br />
    （4）お客様が前各号に反する行為によって被った損害については､当サイトは一切の責任を負わないものとします｡また､お客様がこれらの行為によって利益を得た場合､当サイトはその利益相当額を請求できる権利を有するものとします｡
    </p>
    
    <div class="listHeading">第8条　禁止行為</div>
    
    <p class="text">
    （1）お客様が当サイトを利用するに際して、次の行為を行うことを禁止します。<br />
    ［1］法令上又は本規約若しくはガイドライン上特に認められている場合を除き、当サイトの提供する情報を当サイトの事前の同意なく、複写、若しくはその他の方法により再生、複製、送付、譲渡、頒布、配布、転売、又はこれらの目的で使用するために保管すること<br />
    ［2］本規約又はガイドラインに違反すること<br />
    ［3］公序良俗に反すること<br />
    ［4］違法行為・犯罪的行為・重大な危険行為に結びつくこと又はこれらを助長すること<br />
    ［5］当サイト、他のお客様又は第三者の知的財産権（著作権、意匠権、実用新案権、商標権、特許権、ノウハウが含まれますがこれに限定されません）を侵害すること<br />
    ［6］他のお客様又は第三者の権利又は利益を違法に侵害し、又はそのおそれがあること<br />
    ［7］当サイトの運営を妨げること、又は当サイトの信用を毀損すること<br />
    ［8］当サイト会員登録時に虚偽の申告をすること<br />
    ［9］同一人物が複数のレビュアー会員登録を行うこと<br />
    ［10］ID及びパスワードの不正使用又は他のお客様又は第三者に使用させること<br />
    ［11］面識のない異性との出会い等を目的として当サイトの機能を利用すること<br />
    ［12］その他、当サイトが不適切と判断すること<br />
    （2）お客様により前項各号に該当する行為又は当サイトの趣旨・目的に照らして不適切であると当サイトが判断する行為がなされた場合、当サイトは当該お客様に対して、当サイトの利用の停止その他当サイトが適切と判断する措置（以下「利用停止措置」といいます。）をとることができるものとします｡なお、利用停止措置はお客様の帰責性の有無にかかわらず当サイトの裁量・判断に基づき行うことができるものとし、利用停止措置を行った理由については､その如何を問わずお客様に対して一切お答えいたしかねます｡加えて、利用停止措置に起因してお客様に生じた損害については､当サイトは一切の責任を負わないものとします｡
    </p>
    
    <div class="listHeading">第9条　退会手続</div>
    
    <p class="text">
    （1）当サイト会員が退会を希望する場合は、当サイトの所定の退会手続を行うものとします。<br />
    （2）当サイト会員は、退会手続を行った場合、当サイトでご利用いただいていた当サイト会員のアカウントに関する一切の権利、特典を失うものとします。<br />
    （3）当サイト会員は、退会手続によっても、自らの投稿した口コミ内容は削除されないことを予め承諾するものとします。<br />
    （4）当サイト会員が退会手続を完了した場合、又は、当サイトと当サイト会員との間の本規約に基づく契約が終了した場合であっても、3．ログインアカウント等の登録・管理、4．プライバシーについて、5．当サイトの利用について（1）・（2）・（4）・（5）[3]、6．免責事項、7． 著作権、財産権その他の権利、8．禁止行為、11．準拠法及び裁判管轄はなお有効とします。
    </p>
    
    <div class="listHeading">第10条　本規約の変更</div>
    
    <p class="text">
    当サイトは、本規約の内容を変更することができるものとします｡その場合、当サイト上での告知その他当サイトが適当と認める方法により告知するものとします。告知した場合、当該変更の効力が生じ、お客様が当該変更を承諾したものとします。
    </p>
    
    <div class="listHeading">第11条　準拠法及び裁判管轄</div>
    
    <p class="text">
    本規約は、日本法に基づき解釈されるものとし、本規約に関して訴訟の必要が生じた場合には、東京地方裁判所を第一審の専属的合意管轄裁判所とします。
    </p>

</div>