/* 位置仕様 --------------------------------------------------- */
.aling_l{ text-align:left;}
.align_c{ text-align:center;}
.align_r{ text-align:right;}

/* フロート仕様 --------------------------------------------------- */
.float_l{ float: left; }
.float_r{ float: right; }
.clear_b{ clear: both; }

/* パディング仕様 --------------------------------------------------- */
.p0{padding:0px!important;}
.p5{padding:5px!important;}
.p10{padding:10px!important;}
.p15{padding:15px!important;}
.p20{padding:20px!important;}
.p25{padding:25px!important;}
.p30{padding:30px!important;}

.pt10{padding-top:10px;}
.pt20{padding-top:20px;}
.pt30{padding-top:30px;}
.pt40{padding-top:40px;}
.pt50{padding-top:50px;}

.pb0{padding-bottom:0px;}
.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb25{padding-bottom:25px;}
.pb30{padding-bottom:30px;}
.pb35{padding-bottom:35px;}
.pb40{padding-bottom:40px;}

/* マージン仕様 --------------------------------------------------- */
.m0{margin:0px!important;}
.m5{margin:5px!important;}
.m10{margin:10px!important;}
.m15{margin:15px!important;}
.m20{margin:20px!important;}
.m25{margin:25px!important;}
.m30{margin:30px!important;}

.mt0{margin-top:0px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt25{margin-top:25px;}
.mt30{margin-top:30px;}
.mt35{margin-top:35px;}
.mt40{margin-top:40px;}
.mt50{margin-top:50px;}
.mt60{margin-top:60px;}

.mb0{margin-bottom:0px;}
.mb2{margin-bottom: 2px; }
.mb3{margin-bottom: 3px; }
.mb4{margin-bottom: 4px; }
.mb5{margin-bottom:5px;}
.mb8{margin-bottom:8px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb25{margin-bottom:25px;}
.mb30{margin-bottom:30px;}
.mb35{margin-bottom:35px;}
.mb40{margin-bottom:40px;}

.mb45{margin-bottom:45px;}
.mb50{margin-bottom:50px;}
.mb55{margin-bottom:55px;}
.mb60{margin-bottom:60px;}
.mb70{margin-bottom:70px;}
.mb80{margin-bottom:80px;}
.mb100{margin-bottom:100px;}

.ml{margin-left: 0;}
.ml5{margin-left: 5px;}
.ml10{margin-left: 10px;}
.ml15{margin-left: 15px;}
.ml20{margin-left: 20px;}
.ml25{margin-left: 25px;}
.ml30{margin-left: 30px;}
.ml35{margin-left: 35px;}
.ml40{margin-left: 40px;}
.ml45{margin-left: 45px;}
.ml50{margin-left: 50px;}
.ml60{margin-left: 60px;}
.ml85{margin-left: 85px;}
.ml100{margin-left: 100px;}
.ml110{margin-left:110px;}
.ml150{margin-left:150px;}
.ml170{margin-left:170px;}
.ml190{margin-left:190px;}

.mr{margin-right: 0;}
.mr5{margin-right: 5px;}
.mr7{margin-right: 7px;}
.mr10{margin-right: 10px;}
.mr15{margin-right: 15px;}
.mr20{margin-right: 20px;}
.mr25{margin-right: 25px;}
.mr30{margin-right: 30px;}
.mr35{margin-right: 35px;}
.mr40{margin-right: 40px;}
.mr45{margin-right: 45px;}

/* 横幅％仕様 --------------------------------------------------- */
.w100{width:100%!important;}
.w75{width:75%!important;}
.w50{width:50%!important;}
.w25{width:25%!important;}
.w10{width:10%!important;}

/* 横幅px仕様 */
.w10{width:10px;}
.w20{width:20px;}
.w30{width:30px;}
.w40{width:40px;}
.w50{width:50px;}
.w100{width:100px;}
.w120{width: 120px;}
.w130{width: 130px;}
.w140{width: 140px;}
.w150{width: 150px;}
.w180{width: 180px;}
.w200{width:200px;}
.w250{width:250px;}
.w300{width:300px;}
.w330{width: 330px;}
.w350{width:350px;}
.w380{width:380px;}
.w400{width:400px;}
.w420{width:420px;}
.w450{width:450px;}
.w460{width:460px;}
.w480{width:480px;}

/* デフォルト --------------------------------------------------- */
html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 12px;
    line-height: 1.4;
}

table{
	font-size: 12px!important;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}
h1 {
    margin: 0;
    padding: 0;
}
.sub_title {
    position: relative;
}
.sub_title span {
    position: absolute;
    right: 15px;
    top: 5px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

.bold{font-weight:bold;}
.italic{ font-style: italic;}

.b	{ font-weight: bold !important; }
.n	{ font-weight: normal !important; }

.font_9{font-size: 9px;}
.font_10{font-size: 10px;}
.font_11{font-size: 11px;}
.font_12{font-size: 12px;}
.font_13{font-size: 13px;}
.font_14{font-size: 14px;}
.font_15{font-size: 15px;}
.font_16{font-size: 16px;}
.font_18{font-size: 18px;}
.font_20{font-size: 20px;}
.font_22{font-size: 22px;}
.font_24{font-size: 24px;}

.c_red{color: #FF0000;}

.c_orange{color: #F07E00;}

.c_blue{color: #000066;}

.c_green{color: #9BC614;}

.c_black{color: #333333;}

.c_white{color: #FFFFFF;}

.c_point{color: #b54263;}



.mar_none{margin: 0;}
.relative { position: relative; }

/*LINE HEIGHT*/

.lh120{ line-height: 120%;}
.lh130{ line-height: 130%;}
.lh140{ line-height: 140%;}
.lh150{ line-height: 150%;}
.lh160{ line-height: 160%;}
.lh170{ line-height: 170%;}
.lh180{ line-height: 180%;}
.lh190{ line-height: 190%;}
.lh200{ line-height: 200%;}
.lh210{ line-height: 210%;}
.lh230{ line-height: 230%;}
.lh250{ line-height: 250%;}


.le2{ letter-spacing:2px;}
.le4{ letter-spacing: 4px;}
.le6{ letter-spacing:6px;}

/* FOREGROUND */
.fgRed		{ color: #FF0000; }
.fgDRed		{ color: #DD0000; }
.fgWRed		{ color: #A5184B; }
.fgPink		{ color: #CC4466; }
.fgPink2	{ color: #EC98AB; }
.fgBPink	{ color: #CC0066; }
.fgLPink	{ color: #FFBDBD; }
.fgGray		{ color: #666666; }
.fgLGray	{ color: #999999; }
.fgLGray2	{ color: #7F7F7F; }
.fgLLGray	{ color: #595959; }
.fgLLLGray	{ color: #CCCCCC; }
.fgDGray	{ color: #555555; }
.fgBrown	{ color: #553333; }
.fgRbrown	{ color: #632523; }
.fgLOrange	{ color: #E68855; }
.fgOrange	{ color: #E46C0A; }
.fgOrange2	{ color: #FF6600; }
.fgDOragne	{ color: #CC6633; }
.fgBlue		{ color: #0000FF; }
.fgOcher	{ color: #909000; }
.fgkhaki	{ color: #4A452A; }
.fgLkhaki	{ color: #91AC8A; }
.fgWhite	{ color: #FFFFFF; }
.fgBlack	{ color: #333333; }
.fgPurple	{ color: #7030A0; }
.fgPurple2	{ color: #9966CC; }
.fgDBlue	{ color: #7D8888; }
