<!doctype php>
<?php require("fukuoka/parts/head.php"); ?>
<body>
<!-- header -->
<header>
	<div class="container">
		<h1>ランキングと口コミで探せるデリヘル情報サイト・店舗情報管理</h1>


		<div class="header_form">
        ようこそ <a href="./fukuoka/shop_index.php" target="_blank">一夜妻</a>様　
        	<p class="redBtn barBtn"><a href="entrance.php">ログアウト</a></p>
        </div>
	</div>
</header>
<!-- / header -->
    
    
    <div id="topic_path">
        <a href="shop_top.php">店舗管理・トップページ</a>
        <a href="shop_reviews.php">クチコミ管理</a>
    </div>

	<section class="container">

	<h2 class="heading">一夜妻様・クチコミ管理</h2>

    	<!-- menu -->
		<section id="menu" class="two">
        	<?php include("./fukuoka/parts/menu_shop.php"); ?>
        </section>

		<!-- middle -->
        <section id="middle" class="two">
        	<div class="title_bar">クチコミ管理</div> 
        	<div id="timeLineArea" class="inner">
            
            	<div class="new_reviewArea clearfix">
                	
クチコミ管理


どうしよう

<div style="margin-bottom:20px"><br /></div>

            	</div>
                    
        	</div>
    	</section>
        <!-- / middle -->
        
	</section>

    
    <?php require("fukuoka/parts/footer2.php"); ?>
</body>
</php>