<!doctype php>
<?php require("fukuoka/parts/head.php"); ?>
<body>
<!-- header -->
<header>
	<div class="container">
		<h1>ランキングと口コミで探せるデリヘル情報サイト・店舗情報管理</h1>


		<div class="header_form">
        ようこそ <a href="./fukuoka/shop_index.php" target="_blank">一夜妻</a>様　
        	<p class="redBtn barBtn"><a href="entrance.php">ログアウト</a></p>
        </div>
	</div>
</header>
<!-- / header -->
    
    
    <div id="topic_path">
        <a href="shop_top.php">店舗管理・トップページ</a>
        <a href="shop_shops.php">店舗情報管理</a>
    </div>

	<section class="container">

	<h2 class="heading">一夜妻様・店舗基本情報管理</h2>

    	<!-- menu -->
		<section id="menu" class="two">
        	<?php include("./fukuoka/parts/menu_shop.php"); ?>
        </section>

		<!-- middle -->
        <section id="middle" class="two">
        	<div class="title_bar">店舗基本情報管理</div> 
        	<div id="timeLineArea" class="inner">
            
            	<div class="new_reviewArea clearfix">
                	
店舗基本情報


	<form enctype="multipart/form-data" id="ShopIndexForm" method="post" action="/shops/index/26" accept-charset="utf-8"><div style="display:none;"><input type="hidden" name="_method" value="POST" /></div>	<input type="hidden" name="data[Shop][id]" value="26" id="ShopId" />	<input type="hidden" name="data[Shop][user_id]" value="26" id="ShopUserId" />	<input type="hidden" name="data[Shop][name]" value="テスト3" id="ShopName" />	<input type="hidden" name="data[Shop][phone_number]" value="092-000-0000" id="ShopPhoneNumber" />	<input type="hidden" name="data[Shop][email]" value="dummy4@testshop.com" id="ShopEmail" />	<input type="hidden" name="data[Shop][banner]" value="" id="ShopBanner" />		<input type="hidden" name="data[Shop][rank_1]" value="" id="ShopRank1" />		<input type="hidden" name="data[Shop][rank_2]" value="" id="ShopRank2" />		<input type="hidden" name="data[Shop][rank_3]" value="" id="ShopRank3" />		<input type="hidden" name="data[Shop][rank_4]" value="" id="ShopRank4" />		<input type="hidden" name="data[Shop][rank_5]" value="" id="ShopRank5" />		<input type="hidden" name="data[Shop][rank_6]" value="" id="ShopRank6" />	
	<table class="profileedit_table">
    	<tr>
        	<td class="profileedit_td1"><img src="/images/icon_table.jpg" />店名</td>
            <td class="profileedit_td2">テスト3</td>
        </tr>
    	<tr>
        	<td class="profileedit_td1"><img src="/images/icon_table.jpg" />電話番号</td>
            <td class="profileedit_td2">092-000-0000</td>
        </tr>
    	<tr>
        	<td class="profileedit_td1"><img src="/images/icon_table.jpg" />ジャンル</td>
            <td class="profileedit_td2">
				<select name="data[Shop][shops_business_category_id]" id="ShopShopsBusinessCategoryId">
<option value="">選んで下さい</option>
<option value="1" selected="selected">デリヘル</option>
<option value="2">人妻デリヘル</option>
<option value="3">待ち合わせデリヘル</option>
<option value="4">高級デリヘル</option>
<option value="5">アロマ・エステ・デリヘル</option>
<option value="6">ぽっちゃりデリヘル</option>
<option value="7">韓デリ・外国人・デリヘル</option>
<option value="8">その他</option>
</select>							</td>
        </tr>
    	<tr>
        	<td class="profileedit_td1"><img src="/images/icon_table.jpg" />メールアドレス</td>
            <td class="profileedit_td2">dummy4@testshop.com<br />
            <span class="small spot8">パスワード等の変更の際に使います。<br />
										携帯のメールアドレスでご登録の方はdhrank.comからのメールを受信できるよう<br />
                                        ドメイン設定をお願いします。</span></td>
        </tr>
    	<tr>
        	<td class="profileedit_td1"><img src="/images/icon_table.jpg" />女の子画像用<br />携帯メールアドレス</td>
            <td class="profileedit_td2">
				<input name="data[Shop][girls_mobile_email]" type="text" size="60" value="" id="ShopGirlsMobileEmail" />				<br />
            <span class="small spot8">モバイル用管理画面から女の子画像をアップロードする場合は<br />
こちらにアップロードを行う携帯電話のメールアドレスをご入力ください。</span></td>
        </tr>
		    	<tr>
        	<td class="profileedit_td1"><img src="/images/icon_table.jpg" />ホームページアドレス</td>
            <td class="profileedit_td2">
            	PC版<br />
				<input name="data[Shop][url_pc]" type="text" size="60" value="" id="ShopUrlPc" />				<br />
            	携帯版<br />
				<input name="data[Shop][url_mobile]" type="text" size="60" value="" id="ShopUrlMobile" />				<br />
            	スマートフォン版<br />
				<input name="data[Shop][url_smartphone]" type="text" size="60" value="" id="ShopUrlSmartphone" />				</td>
        </tr>
		    </table>

	
	<table class="girls_table">
    	<tr>
        	<th class="girls_table_th">ランキングページ画像1枚目</th>
            <th class="girls_table_th">ランキングページ画像2枚目</th>
            <th class="girls_table_th1">ランキングページ画像3枚目</th>
        </tr>
    	<tr>
        	<td class="girls_table_td">
								<img src="http://img.dhrank.com/common/rank.jpg" width="120" height="160" />
								<br />
				<input type="file" name="data[Shop][rank2_1]" id="ShopRank21" /><br />
				<input type="hidden" name="data[Shop][delete_rank_1]" id="ShopDeleteRank1_" value="0" /><input type="checkbox" name="data[Shop][delete_rank_1]" value="1" id="ShopDeleteRank1" />削除			</td>
            <td class="girls_table_td">
								<img src="http://img.dhrank.com/common/rank.jpg" width="120" height="160" />
								<br />
				<input type="file" name="data[Shop][rank2_2]" id="ShopRank22" /><br />
				<input type="hidden" name="data[Shop][delete_rank_2]" id="ShopDeleteRank2_" value="0" /><input type="checkbox" name="data[Shop][delete_rank_2]" value="1" id="ShopDeleteRank2" />削除            </td>
            <td class="girls_table_td1">
								<img src="http://img.dhrank.com/common/rank.jpg" width="120" height="160" />
								<br />
				<input type="file" name="data[Shop][rank2_3]" id="ShopRank23" /><br />
				<input type="hidden" name="data[Shop][delete_rank_3]" id="ShopDeleteRank3_" value="0" /><input type="checkbox" name="data[Shop][delete_rank_3]" value="1" id="ShopDeleteRank3" />削除            </td>
        </tr>
    	<tr>
        	<th class="girls_table_th">ランキングページ画像4枚目</th>
            <th class="girls_table_th">ランキングページ画像5枚目</th>
            <th class="girls_table_th1">ランキングページ画像6枚目</th>
        </tr>
    	<tr>
        	<td class="girls_table_td">
								<img src="http://img.dhrank.com/common/rank.jpg" width="120" height="160" />
								<br />
				<input type="file" name="data[Shop][rank2_4]" id="ShopRank24" /><br />
				<input type="hidden" name="data[Shop][delete_rank_4]" id="ShopDeleteRank4_" value="0" /><input type="checkbox" name="data[Shop][delete_rank_4]" value="1" id="ShopDeleteRank4" />削除			</td>
            <td class="girls_table_td">
								<img src="http://img.dhrank.com/common/rank.jpg" width="120" height="160" />
								<br />
				<input type="file" name="data[Shop][rank2_5]" id="ShopRank25" /><br />
				<input type="hidden" name="data[Shop][delete_rank_5]" id="ShopDeleteRank5_" value="0" /><input type="checkbox" name="data[Shop][delete_rank_5]" value="1" id="ShopDeleteRank5" />削除            </td>
            <td class="girls_table_td1">
								<img src="http://img.dhrank.com/common/rank.jpg" width="120" height="160" />
								<br />
				<input type="file" name="data[Shop][rank2_6]" id="ShopRank26" /><br />
				<input type="hidden" name="data[Shop][delete_rank_6]" id="ShopDeleteRank6_" value="0" /><input type="checkbox" name="data[Shop][delete_rank_6]" value="1" id="ShopDeleteRank6" />削除            </td>
        </tr>
    </table>



<span class="small spot8" style="font-size:120%">「横幅120px」、「高さ160px」の画像を推奨しております。<br />
拡張子「jpg」「gif」形式の画像のみ、ファイルサイズ「3MB」まで。 </span>


<div align="center" style="margin-top:40px;">
<div class="submit"><input class="btn_navi" type="submit" value="保存する" /></div></div>


</form>
<div style="margin-bottom:20px"><br /></div>

            	</div>
                    
        	</div>
    	</section>
        <!-- / middle -->
        
	</section>

    
    <?php require("fukuoka/parts/footer2.php"); ?>
</body>
</php>