<div class="label"><h2>お気に入りの女の子</h2></div>
	<section id="favorite_girl_area">
		<div class="list clearfix">
		
<?php
$cnt = 0;
foreach($favorite_girls as $key => $record) {
?>
            <div class="col">
                <p class="img">
                    <?php echo $imgCommon->get_girl_with_time($record, array(100, 133)); ?>
                </p>
                <p class="name"><?php echo $record['Girl']['name']; ?></p>

                <p><?php echo $record['LargeArea']['name']; ?></p>
                <p><?php echo $record['Shop']['name']; ?></p>
                <p class="btn bookmarkGirl" data="<?php echo $record['Girl']['id']; ?>" mode="delete">
                	<a href="#" class="css_btn_class">
	                	<img src="../../img/s/favorite_topic_btn.png" alt="お気に入り削除" width="100">
                	</a>
                </p>
           </div>
<?php
    $cnt++;
}
?>

    </div>
</section>
<script>
function delete_favorite() {

    if(!confirm('女の子をお気に入りから外しても宜しいでしょうか？')) {
        return false;
    }

    // TODO 実装
}
</script>
	<p class="btn_left"><a href="<?php echo $linkCommon->get_mypage_profile($record = null)?>">My Top</a></p>
	<p class="btn_left"><a href="<?php echo $linkCommon->get_mypage_top($record = null)?>">自分の更新</a></p>
	<p class="btn_left"><a href="<?php echo $linkCommon->get_mypage_myreview($record = null)?>">Myレビュー</a></p>
	<p class="btn_left"><a href="<?php echo $linkCommon->get_mypage_follow($record = null)?>">フォローしている</a></p>
	<p class="btn_left"><a href="<?php echo $linkCommon->get_mypage_follower($record = null)?>">フォローされている</a></p>
	<p class="btn_left"><a href="<?php echo $linkCommon->get_mypage_favorite_shop($record = null)?>">お気に入りのお店</a></p>
<!--	<p class="btn_left"><a href="<?php echo $linkCommon->get_mypage_favorite_girl($record = null)?>">お気に入りの女の子</a></p> -->
	<p class="btn_left"><a href="<?php echo $linkCommon->get_mypage_favorite_review($record = null)?>">お気に入りのレビュー</a></p>
	<p class="btn_left"><a href="<?php echo $linkCommon->get_mypage_profile_edit($record = null)?>">会員情報の確認・変更</a></p>