		<div class="box">
			<a href="../12664/">
				<img src="http://img.dhrank.com/shop/12664/image_recommend.jpg" width="244">
			</a>
			<p class="tt">絶対領域</p>
			<p class="caption">デリヘル</p>
			<p>業界初の現役女子大生専門店！
圧倒的な女子レベル！驚異的なリピーター率の高さを実感してください。
都内屈指の可愛い女の子ばかりを妥協なく厳選採用しております
新人女子大生が毎日体験入店中！
お問い合わせくださいませ ♪

※女子大生専門店は当店のオリジナルです。類似店にご注意下さい！！</p>
		</div>
		<div class="box">
			<a href="../12654/">
				<img src="http://img.dhrank.com/shop/12654/image_recommend.jpg" width="244">
			</a>
			<p class="tt">LEGEND-レジェンド-</p>
			<p class="caption">デリヘル</p>
			<p>皆様の中には既存の風俗店で物足りない 思いもされている方も多いのではないでしょうか？ 本来のデリヘルは癒しだと思い 当店では厳選された美少女・美女達が お客様のところへ伺い身体だけでは無く心身ともに 究極な癒しをご提供させて頂きます。 豊橋のデリバリーヘルス LEGEND-レジェンド-とは お客様の心も身体も癒す 一味違ったデリヘルだと感じて頂けるよう スタッフ一同、お客様に誠心誠意を尽くし 最高のサービスをご提供させて頂く事をここにお約束致します。</p>
		</div>
<box>