		<div class="box">
			<a href="http://kumamoto.dhrank.com/8512">
				<img src="http://img.dhrank.com/shop/8512/image_recommend.jpg" width="244">
			</a>
			<p class="tt">プラチナ人妻クラブ</p>
			<p class="caption">人妻デリヘル</p>
			<p>色気、清楚感、人妻にしか持てないフェロモンを持ち合わせた美人妻。「主人との事情に。。。」と自己の快感の為に業界未経験の好奇心のエロ妻。とても気を使っている綺麗な肌、胸の形は重力に反して張りがあり腰から足への曲線はまさに絶品。一見清楚ですがベットでは淫ら。。そんなギャップと淫らな妻がお好きな方に自信をもってお薦めします。</p>
		</div>
<!-- box -->

		<div class="box">
			<a href="http://kumamoto.dhrank.com/8429">
				<img src="http://img.dhrank.com/shop/8429/image_recommend.jpg" width="244">
			</a>
			<p class="tt">ラブハート </p>
			<p class="caption">デリヘル</p>
			<p>在籍する女の子たち全員が

エッチな性格をしているから

サービス精神がめっちゃ旺盛なんです!!

“ぽっちゃりコース”もあり

巨乳・ぽっちゃり系好きの貴男にはお勧めです!

早速コールして『ラブハート』で最高なひとときを☆</p>
		</div>
<!-- box -->