		<div class="box">
			<a href="http://uenouguisudani.dhrank.com/12667">
				<img src="http://img.dhrank.com/shop/12667/image_recommend.jpg" width="244"  height="72">
			</a>
			<p class="tt">Club CAST</p>
			<p class="caption">デリヘル</p>
			<p>
鶯谷クラブキャストをご覧いただきありがとうございます 在籍キャストはみんな平成生まれの 　現役学生を中心にカフェ店員や オシャンティなショップ店員などなど…♪ どんな要望にも応えられる自信があります！ お気軽にお問い合わせください♪ 
			</p>
		</div>

		<div class="box">
			<a href="http://uenouguisudani.dhrank.com/6295">
				<img src="http://img.dhrank.com/shop/6295/image_recommend.jpg" width="244"  height="72">
			</a>
			<p class="tt">アフタースクール</p>
			<p class="caption">デリヘル</p>
			<p>
学園生徒が制服のままあなたのもとへ。。。 イケナイ妄想を実現化しちゃう 若い素人さんばかりの学校ですヽ(^◇^*)/ 当店は若い子専門制服コスデリヘル店♪ 現役学生がむっちゃくちゃカワユイ女の子たちがお気に入りの制服を着てお伺いします♪ 若くて好奇心たっぷりの20代前半の女の子ばかりを集めているので、 リアルな学生と付き合っている気分に浸れますよ～♪
			</p>
		</div>

