<style>
table tr  {
	text-align: center;
}
td.align-center {
	text-align: center;
}
td.align-right {
	text-align: right;
}
</style>

<h3>役職管理変更完了画面</h3>
<br />
<h4>役職の変更を行いました</h4>
<a href="/m_reviewers_position/">役職管理一覧画面に戻る</a>
