@charset "shift_jis";

html{
	height:100%;
    font: 100.01% Verdana, sans-serif;
}

body {
	font-size: 12px;
	color: #1A171B;
	margin: 0px;
	padding: 0px;
	text-align: center;
	background-color: #FFFFFF;
    font-size: 75%;
}


h1,h2,h3,p,ul,li,dl,dt,dd{
	margin: 0px;
	padding: 0px;
}

ul{
	list-style-type: none;
}
img {
	border: none;
}

input,textarea,select {
	font-size: 1em;
}

table {
	border-collapse:collapse;
	font-size: 100%;
}

#main > #main_right {height:auto;}

/*リンクカラー*/
a {
	color: #E7511E;
	text-decoration: none;
}

/*カーソルオーバー時のリンクカラー*/
a:hover {
	color: #E7511E;
	text-decoration: underline;
}



/*コンテナー
---------------------------------------------------------------------------*/
#container {
	text-align: left;
	width: 1150px;
	margin-right: auto;
	margin-left: auto;
}



/*ヘッダー
---------------------------------------------------------------------------*/
#header {
	position: relative;
	width: 100%;
	background-color:#FDF4E7;
	text-align: left;
}

#header h1 {
	font-size: 9px;
	font-weight: normal;
}

/*ヘッダーTOP
---------------------------------------------------------------------------*/
#header_top {
	width: 100%;
	height:90px;
	background-image: url(../images/header_bg.png);
}

#header_top h1 {
	font-size: 9px;
	font-weight: normal;
	text-align:left;
}

#header_top img {
	vertical-align: bottom;
	margin-right:6px;
}

#header_wrap {
	text-align: left;
	width: 1150px;
	margin-right: auto;
	margin-left: auto;
}


.header_left {
	float:left;
	lext-align:left;
	margin-top:20px;
	width:600px;
}

.header_right {
	float:right;
	margin-top:16px;
}


.login {
	font-size: 9px;
	position:absolute;
	top:0px;
	right:0px;
}

/*３カラムを囲むボックス
---------------------------------------------------------------------------*/
#contents {
	clear: left;
	width: 100%;
	height: 100%;
}


/*中央ブロック
---------------------------------------------------------------------------*/
#main {
	text-align: center;
	width: 1150px;
	height:100%;
	background-image: url("../images/bg.png");
	background-repeat:repeat-y;
}

#main_index {
	text-align: center;
	width: 1150px;
	height:100%;
}


#main p {
	padding: 0.5em 10px 1em;	/*中央ブロックの段落タグの余白*/
}



/*エリア選択
---------------------------------------------------------------------------*/

#top_left {
	width: 480px;
	float:left;
	margin-right:20px;
}

#top_right {
	width: 650px;
	float:right;
	margin-top:5px;
	text-align:left;
}

#top_left table{
	border:solid 1px #D8CDB4;
	width:480px;
	margin-left:8px;
	margin-bottom:20px;
	letter-spacing:-1px;
}

#top_left th{
	background-color:#EFEBE3;
	font-size:14px;
	text-align:left;
	padding:4px;
}

#top_left td{
	padding:4px;
	font-size:10px
}


#top_right h2 {
	border-top:solid 2px #915E36;
	background-image:url(../images/top_h2.jpg);
	background-repeat:repeat-x;
	font-size:14px;
	font-weight:normal;
	text-align:left;
	padding-top: 4px;
	margin-top:5px;
	margin-bottom:10px;
	height:28px;
	line-height:20px;
	padding-left:5px;
}

.top_right_area {
	margin-bottom:12px;
}

.top_right_area2 {
	float:left;
	width:315px;
	margin-right:10px;
	margin-bottom:12px;
}

.top_right_area3 {
	float:left;
	width:315px;
	margin-bottom:12px;
}


.top_block {
	width:232px;
	float:left;
	text-align:center;
}

#top_link {
	text-align:center;
}

.qr {
	border: solid 1px #C6C7C8;
}

/*フッター（最下部のコピーライトなど）
---------------------------------------------------------------------------*/
#footer {
	clear: both;
	width: 1150px;
	text-align: center;
	margin-top:10px;
	border-top: 1px solid #bfbfbf;
	padding-top: 1em;
	padding-bottom: 1em;
}

.copy {
	font-size:10px;
	margin-top:24px;
}

.footer_link {
	width:80%;
	font-size:9px;
	line-height:180%;
	text-align:center;
	margin-top:30px;
	margin-right: auto;
	margin-left: auto;
}

/*年齢認証ページ
---------------------------------------------------------------------------*/
.logo {
	margin-top:60px;
	margin-bottom:15px;
}

.18k {
	margin-right: auto;
	margin-left: auto;
}

.link {
	margin: 10px;
}

.logo_area {
	margin-top:60px;
	margin-bottom:15px;
	width:537px;
	height:469px;
	background-image:url(../images/index.png);
	background-repeat: no-repeat;
	margin-right: auto;
	margin-left: auto;
}

.logoarea {
	font-size: 20px;
	color: #ffffff;
	background: #a4c653;
	font-weight:bold;
	padding: 3px 10px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	position:relative;
	top:200px;
	letter-spacing:1spx;
}



/*パンくずリスト
---------------------------------------------------------------------------*/
.breadcrumb {
	margin:5px;
	text-align:left;
	font-size:10px;
}


/*メインコンテンツ
---------------------------------------------------------------------------*/

#main_left {
	width: 210px;
	float:left;
	height:100%;
	margin-right:5px
}

#main_center {
	float:left;
	width: 720px;
	text-align:left;
	margin-right:5px;
}

#main_right {
	width: 210px;
	float:right;
	text-align:center;
	margin-bottom:10px;
}

.right_banner {
	margin-top:5px;
	margin-bottom:5px;
}

/*真ん中メニュー
---------------------------------------------------------------------------*/

.main_midashi {
	border-top:solid 2px #915E36;
	background-image:url(../images/top_h2.jpg);
	background-repeat:repeat-x;
	font-size:16px;
	text-align:left;
	padding-top:2px;
	padding-left:8px;
	line-height:24px;
	font-weight:normal;
	height:32px;
}

.top_kuchikomi0 {
	width:720px;
	height:96px;
	background-color:#FDF4E7;
	padding-top:10px;
	margin-top:2px;
	border-top:2px solid #915E36;
	border-bottom:1px dashed #C6C7C8;
}

.top_kuchikomi1 {
	width:720px;
	height:96px;
	padding-top:10px;
	background-color:#FDF4E7;
	border-bottom:1px dashed #C6C7C8;
}

.top_kuchikomi2 {
	width:720px;
	height:96px;
	padding-top:10px;
	border-bottom:1px dashed #C6C7C8;
}

.top_kuchikomi3 {
	width:720px;
	height:96px;
	padding-top:10px;
	border-bottom:2px solid #915E36;
}

/*ランキングページ
---------------------------------------------------------------------------*/

.rank_h2 {
	border-top:solid 2px #D8CDB4;
	border-bottom:solid 2px #D8CDB4;
	background-color:#FBF3E8;
	font-size:14px;
	line-height:20px;
	text-align:left;
	padding-top:2px;
	padding-left:8px;
	font-weight:normal;
	height:24px;
}

.rank_midashi {
	font-weight:normal;
	background-image:url(../images/rank_midashi.png);
	background-repeat:no-repeat;
	height:36px;
	text-align:left
}

.rank_midashi_left {
	font-size:12px;
	line-height:21px;
	font-weight:bold;
	color: #FFFFFF;
	float: left;
	text-align:center;
	width:20px;
	margin-left:6px;
	margin-top:9px;
	letter-spacing:-1px;
}


.rank_midashi_middle {
	font-size:14px;
	text-align:left;
	margin-top:8px;
	margin-left:10px;
	float: left;
	line-height:21px;
	height:34px;
}

.rank_midashi_right {
	font-size:11px;
	color: #333;
	float: right;
	margin-top:6px;
	margin-right:11px;
	height:34px;
}


.rank_img {
	margin-top:-10px
}


/*店舗ページ
---------------------------------------------------------------------------*/

.shop_h2 {
	font-weight:normal;
	background-image:url(../images/rank_midashi.png);
	background-repeat:no-repeat;
	font-size:14px;
	line-height:24px;
	padding-left:36px;
	padding-top:8px;
	height:32px;
	text-align:left
}

.shop_h2_genre {
	font-size:75%;
	text-align:left
}

.shop_h2_bookmark {
	float:right;
	text-align:right;
	margin-top:5px;
	margin-right:10px;
	height:30px;
}

.shop_top {
	width:720px;
	height:132px;
}

.shop_top_left {
	width:196px;
	height:122px;
	float:left;
	text-align:center;
}

.shop_top_left_score1 {
	border:1px solid #B28D2E;
	background-color:#D8CDB4;
	width:172px;
	height:90px;
	text-align:center;
	margin-right: auto;
	margin-left: auto;
}

.shop_top_left_score2 {
	border:1px solid #B28D2E;
	background-color:#FFFFFF;
	width:164px;
	height:82px;
	text-align:center;
	margin:3px;
}

.shop_top_left_score3 {
	background-color:#FBF3E8;
	width:153px;
	height:28px;
	line-height:22px;
	text-align:center;
	margin-right: auto;
	margin-left: auto;
}


.shop_top_center {
	width:241px;
	height:132px;
	float:left;
}

.shop_top_table {
	width:230px;
	height:106px;
	margin-top:5px;
	margin-right: auto;
	margin-left: auto;
}

.shop_top_td1 {
	background-color:#F4E7D1;
	padding:2px;
	text-align:left;
}

.shop_top_td1_1 {
	background-color:#F4E7D1;
	padding:2px;
	width:100px;
	text-align:left;
}

.shop_top_td2 {
	background-color:#FBF3E8;
	padding:1px;
}

.shop_top_td3 {
	background-color:#FFFFFF;
	padding:1px;
	text-align:center;
	width:18px;
}

.shop_top_right {
	width:283px;
	height:122px;
	text-align:left;
	background-image:url(../images/shop_top_right.png);
	background-repeat:no-repeat;
	background-position:top;
	float:right;
	letter-spacing:-1px;
}

.shop_top_otoiawase {
	border-bottom:1px solid #87888A;
	width:262px;
	padding:2px;
	margin-top:1px;
	margin-left:8px;
	margin-bottom:-3px;
	font-size:12px;
	line-height:20px;
}

.shop_tel {
	font-size:27px;
	font-weight:bold;
	color:#BE0A26;
	margin-left:4px;
	margin-bottom:0px;
	line-height:36px;
}

.shop_top_otsutae {
	margin-top:-5px;
	margin-left:8px;
	line-height:110%;
	letter-spacing:-1px;
}

.shop_score1 {
	width:720px;
	height:22px;
	text-align:center;
	font-size:11px;
	padding-top:10px;
	background-color:#FBF3E8;
}


.shop_score3 {
	background-color:#ffffff;
	border:1px solid #D8CDB4;
	width:98%;
	padding:4px;
	height:18px;
	text-align:center;
	overflow:hidden
}

.shop_score4 {
	background-color:#ffffff;
	border:1px solid #D8CDB4;
	width:98%;
	padding:4px;
	height:18px;
	text-align:center;
	overflow:hidden
}

/*店舗ページ・メニュー
---------------------------------------------------------------------------*/

ul.shop_menu {
    width:100%;
    margin-top:5px;
    font-size:14px;
	font-weight:bold;
    padding-left:0;
    margin-left:0;

}

.shop_menu_li {
    list-style:none;
    background:url('../images/shop_menu_off.png');
    width:179px;
    height:42px;
	border-left:1px solid #9C9E9F;
    float:left;

}

.shop_menu_li a {
	text-decoration: none;
	color:#000000;
}

.shop_menu_li a:visited {
	text-decoration: none;
	color:#000000;
}

.shop_menu_li_on a {
	text-decoration: none;
	color:#000000;
}

.shop_menu_li_on a:visited {
	text-decoration: none;
	color:#000000;
}


.shop_menu_li:hover {
    list-style:none;
    background:url('../images/shop_menu_on.png');
    width:179px;
    height:42px;
	border-left:1px solid #9C9E9F;
    float:left;
	color:#000000;
}

.shop_menu_li_on {
    list-style:none;
    background:url('../images/shop_menu_on.png');
    width:179px;
    height:42px;
	border-left:1px solid #9C9E9F;
    float:left
}




.shop_menu_li_green {
    list-style:none;
    background:url('../images/shop_menu_right_off.png');
    width:179px;
    height:42px;
	text-align:center;
    float:left;
}

.shop_menu_li_green a {
	text-decoration: none;
	color:#FFFFFF;
}

.shop_menu_li_green a:visited {
	text-decoration: none;
	color:#FFFFFF;
}

.shop_menu_li_green_on a {
	text-decoration: none;
	color:#FFFFFF;
}

.shop_menu_li_green_on a:visited {
	text-decoration: none;
	color:#FFFFFF;
}



.shop_menu_li_green:hover {
    list-style:none;
    background:url('../images/shop_menu_right_on.png');
    width:179px;
    height:42px;
    float:left;
}

.shop_menu_li_green_on {
    list-style:none;
    background:url('../images/shop_menu_right_on.png');
    width:179px;
    height:42px;
	text-align:center;
    float:left
}

.shop_menu_text {
	margin-left:32px;
	line-height: 42px;
}

.shop_menu_text_green {
	line-height: 42px;
}



/*レビュアーページ・メニュー
---------------------------------------------------------------------------*/

ul.reviewer_menu {
    width:100%;
    margin-top:5px;
    font-size:12px;
	font-weight:bold;
    padding-left:0;
    margin-left:0;

}

.reviewer_menu_li {
    list-style:none;
    background:url('../images/shop_menu_off.png');
    width:143px;
    height:42px;
	border-left:1px solid #9C9E9F;
    float:left;

}

.reviewer_menu_li a {
	text-decoration: none;
	color:#000000;
}

.reviewer_menu_li a:visited {
	text-decoration: none;
	color:#000000;
}

.reviewer_menu_li_on a {
	text-decoration: none;
	color:#000000;
}

.reviewer_menu_li_on a:visited {
	text-decoration: none;
	color:#000000;
}


.reviewer_menu_li:hover {
    list-style:none;
    background:url('../images/shop_menu_on.png');
    width:143px;
    height:42px;
	border-left:1px solid #9C9E9F;
    float:left;
	color:#000000;
}

.reviewer_menu_li_on {
    list-style:none;
    background:url('../images/shop_menu_on.png');
    width:142px;
    height:42px;
	border-left:1px solid #9C9E9F;
    float:left
}

.reviewer_menu_text {
	margin-left:28px;
	line-height: 42px;
}

.reviewer_menu_text_green {
	line-height: 42px;
}


/*口コミプレビュー
---------------------------------------------------------------------------*/

.kuchikomi_preview {
	width:720px;
	height:170px;
	margin-right: auto;
	margin-left: auto;
	margin-top:5px;
	border-top:2px solid #D8CDB4;
	border-bottom:2px solid #D8CDB4;
}

.kuchikomi_preview_wrap {
	width:700px;
	height:160px;
	margin-right: auto;
	margin-left: auto;
	margin-top:5px;
}

.kuchikomi_preview_wrap_left {
	width:120px;
	height:160px;
	margin-right:5px;
	float:left;
}

.kuchikomi_preview_wrap_right {
	width:575px;
	height:160px;
	float:right;
}

.kuchikomi_preview_wrap_right_top {
	width:100%;
	height:28px;
	font-size:16px;
	line-height:28px;
	font-weight:normal;
	padding-left:5px;
	color:#D40050;
	background-color:#ECEDED;
	border-bottom:1px solid #D9DADB;
}

.kuchikomi_preview_wrap_right_middle {
	width:575px;
	height:24px;
	padding-top:3px;
	padding-left:5px;
	float:right;
}

.kuchikomi_preview_wrap_right_bottom {
	width:575px;
	font-size:14px;
	line-height:24px;
	margin-top:5px;
	padding-left:5px;
	float:right;
}

.kuchikomi_preview_wrap_right_bottom_delete {
	width:575px;
	text-align:center;
	color:#D40050;
	font-size:16px;
	margin-top:5px;
	line-height:400%;
	padding-left:5px;
	float:right;
}

.preview_right {
	float:right;
	font-size:12px;
	line-height:24px;
	letter-spacing:-1px;
	margin-top:4px;
	height:28px;
}

.review_link {
	float:right;
	text-align:right;
	margin-top:3px;
	margin-right:10px;
}



/*女の子一覧
---------------------------------------------------------------------------*/

.girls_list {
	width:720px;
	margin-right: auto;
	margin-left: auto;
	margin-top:5px;
}

.girls_list_enter {
	width:131px;
	height:220px;
	font-size:10px;
	padding:3px;
	line-height:140%;
	text-align:center;
	background-color:#FBF3E8;
	border:1px solid #E9E9EA;
	margin-left:4px;
	margin-bottom:5px;
	float:left;
}

.girls_list_enter_top {
	height:202px;
	font-size:10px;
	line-height:130%;
	text-align:center;
}

.girls_list_enter_bottom {
	height:16px;
	font-size:10px;
	text-align:center;
}

.girls_list_kuchikomi {
	color:#0B72B5;
}


/*女の子プロフィール
---------------------------------------------------------------------------*/

.girls_profile_left {
	width:240px;
	margin-top:4px;
	margin-right:5px;
	float:left
}

.girls_profile_right {
	margin-top:4px;
	width:475px;
	text-align:center;
	float:right
}

.profile_table {
	border:2px solid #D8CDB4;
	width:460px;
	margin-bottom:5px;
	margin-right: auto;
	margin-left: auto;
}

.profile_td1 {
	border:1px dashed #D8CDB4;
	text-align:left;
	font-size:14px;
	width:112px;
	padding:8px;
}

.profile_td2 {
	border:1px dashed #D8CDB4;
	text-align:left;
	font-size:18px;
	padding:8px;
}

.profile_td1 img {
	margin-right:5px;
}


/*プロフィール編集
---------------------------------------------------------------------------*/

.profileedit_table {
	border:2px solid #D8CDB4;
	width:720px;
	margin-top:5px;
	margin-bottom:5px;
	margin-right: auto;
	margin-left: auto;
}

.profileedit_td1 {
	border:1px dashed #D8CDB4;
	text-align:left;
	font-size:14px;
	width:160px;
	padding:8px;
}

.profileedit_td2 {
	border:1px dashed #D8CDB4;
	text-align:left;
	font-size:14px;
	padding:8px;
}

.profileedit_td1 img {
	margin-right:5px;
}




/*女の子プロフィール口コミ
---------------------------------------------------------------------------*/

.profile_kuchikomi_preview {
	width:720px;
	margin-top:5px;
	padding-top:5px;
	padding-bottom:5px;
	position:relative;
	border-top:2px solid #D8CDB4;
	border-bottom:2px solid #D8CDB4;
}

.profile_kuchikomi_preview_wrap {
	width:715px;
}

.profile_kuchikomi_preview_wrap_right {
	width:100%;
}

.profile_kuchikomi_preview_wrap_right_top {
	width:100%;
	height:28px;
	line-height:24px;
	font-size:16px;
	font-weight:normal;
	padding-left:5px;
	color:#D40050;
	background-color:#ECEDED;
	border-bottom:1px solid #D9DADB;
}

.profile_kuchikomi_preview_wrap_right_middle {
	width:98%;
	font-size:12px;
	height:24px;
	padding-top:3px;
	padding-left:5px;
	float:right;
}

.profile_kuchikomi_preview_wrap_right_bottom {
	width:98%;
	font-size:14px;
	line-height:21px;
	margin-top:5px;
	padding-left:5px;
	float:right;
}

.profile_kuchikomi_preview_wrap_right_bottom_delete {
	width:98%;
	text-align:center;
	color:#D40050;
	font-size:16px;
	margin-top:5px;
	line-height:400%;
	padding-left:5px;
	float:right;
}

.profile_preview_right {
	float:right;
	font-size:11px;
	margin-top:4px;
	height:28px;
}

.vote {
	float:right;
	font-size:12px;
	text-align:right;
	margin-top:10px;
	margin-right:10px;
}

/*レビュアー個人ページ
---------------------------------------------------------------------------*/
.reviewer_head {
	width:720px;
	min-height:120px;
	background-image:url(../images/review_bg.png);
	background-repeat:no-repeat;
	background-position:top;
	font-size:12px;
	margin-right: auto;
	margin-left: auto;
}

.reviewer_h2 {
	padding-top:5px;
	padding-left:10px;
	font-weight:normal;
	font-size:20px;
}

.reviewer_score {
	border-bottom:1px solid #9C9E9F;
	width:97%;
	text-align:right;
	padding:5px;
	margin-right: auto;
	margin-left: auto;
}

.reviewer_comment {
	width:97%;
	text-align:left;
	padding:5px;
	margin-right: auto;
	margin-left: auto;
}


/*レビュー投稿テーブル
---------------------------------------------------------------------------*/
.review_table {
	border:2px solid #D8CDB4;
	width:720px;
	margin-top:5px;
	margin-right: auto;
	margin-left: auto;
}

.review_td1 {
	border:1px dashed #D8CDB4;
	text-align:left;
	font-size:14px;
	width:110px;
	padding:8px;
}

.review_td2 {
	border:1px dashed #D8CDB4;
	text-align:left;
	font-size:16px;
	width:610px;
	padding:8px;
}

.review_td1 img {
	margin-right:5px;
}

.review_star {
	padding:2px;
	font-size:10px;
	float:left;
	width:48px;
	height:14px;
	margin-left:5px;
	margin-right:5px;
	text-align:center;
	background-color:#C6C7C8;
}

.review_end {
	border:1px solid #C6C7C8;
	margin-top:20px;
	margin-right: auto;
	margin-left: auto;
	font-size:18px;
	width:80%;
	padding:20px;
	color:#D40050;
	text-align:center;
}

/*料金・システムテーブル
---------------------------------------------------------------------------*/
.system_table {
	border:2px solid #D8CDB4;
	width:720px;
	margin-top:5px;
	margin-right: auto;
	margin-left: auto;
}

.system_td1 {
	border:1px dashed #D8CDB4;
	text-align:left;
	font-size:14px;
	width:200px;
	padding:8px;
}

.system_td2 {
	border:1px dashed #D8CDB4;
	text-align:left;
	font-size:14px;
	width:520px;
	padding:8px;
}

.system_td1 img {
	margin-right:5px;
}


/*お店一覧
---------------------------------------------------------------------------*/

ul.headletter {
	margin: 5px;
	padding: 0;
	font-size: 16px;
	text-align: center;
}
ul.headletter li {
	list-style: none;
	display: inline;
	margin: 0;
	padding: 0;
}
ul.headletter li a {
	display: -moz-inline-box; /* firefox2 対応 */
	display: inline-block;
	padding: 0.25em 0.4em;
	margin: 0.2em;
	border: 1px #CCCCCC solid;
}

ul.headletter li a:link,
ul.headletter li a:visited {
	border-color: #CCCCCC;
	color: #000000;
}
ul.headletter li a:hover,
ul.headletter li a:active {
	border-color: #CCCCCC;
	background-color: #FBF3E8;
	text-decoration:none
}

.shoplist_h3 {
	width:714px;
	height:31px;
	background-image:url(../images/shop_h3.png);
	background-repeat:repeat-x;
	padding-left:5px;
	font-size:14px;
	font-weight:normal;
	line-height:31px;
}

.shoplist_table {
	border:2px solid #D8CDB4;
	width:714px;
	margin-top:3px;
	margin-bottom:5px;
	margin-right: auto;
	margin-left: auto;
}

.shoplist_th1 {
	border:1px dashed #D8CDB4;
	text-align:center;
	font-size:11px;
	width:150px;
	background-color:#FBF3E8;
	padding:8px;
	font-weight:normal;
}

.shoplist_th2 {
	border:1px dashed #D8CDB4;
	text-align:center;
	font-size:11px;
	width:50px;
	background-color:#FBF3E8;
	padding:8px;
	font-weight:normal;
}

.shoplist_th3 {
	border-bottom:1px dashed #D8CDB4;
	border-right:2px solid #D8CDB4;
	text-align:center;
	font-size:11px;
	width:150px;
	background-color:#FBF3E8;
	padding:8px;
	font-weight:normal;
}

.shoplist_td1 {
	border:1px dashed #D8CDB4;
	text-align:left;
	font-size:11px;
	width:150px;
	padding:4px;
}

.shoplist_td2 {
	border:1px dashed #D8CDB4;
	text-align:center;
	font-size:11px;
	width:50px;
	padding:4px;
}

.shoplist_td3 {
	border-bottom:1px dashed #D8CDB4;
	border-right:2px solid #D8CDB4;
	text-align:left;
	font-size:11px;
	width:150px;
	padding:4px;
}

.shoplist_td1 img {
	margin-right:3px;
}


/*掲示板
---------------------------------------------------------------------------*/

.bbs_search {
	background-color:#F6F6F6;
	padding:5px;
	text-align:center;
	margin-right: auto;
	margin-left: auto;
	margin-top:5px;
	margin-bottom:5px;
	width:60%
}

.bbs_list {
	background-color:#FDF4E7;
	padding:10px;
	text-align:left;
	margin-right: auto;
	margin-left: auto;
	margin-top:5px;
	margin-bottom:5px;
	width:95%
}

.bbs_preview {
	border:2px solid #D8CDB4;
	padding:5px;
	text-align:left;
	margin-right: auto;
	margin-left: auto;
	margin-top:5px;
	margin-bottom:5px;
	width:95%
}

.bbs_title {
	padding:5px;
	font-size:14px;
	text-align:left;
	margin-bottom:5px;
}

.bbs_preview dl{
	font-size:14px;
	margin-left:10px
}

.bbs_preview dt{
	font-size:14px;
	margin-left:10px
}


.bbs_preview dd{
	font-size:14px;
	margin-left:20px;
	margin-bottom:20px
}

.bbs_write {
	padding:10px;
	font-size:14px;
	text-align:left;
	margin-bottom:5px;
}

.bbs_post {
	background-color:#FDF4E7;
	padding:10px;
	font-size:13px;
	text-align:left;
	margin-right: auto;
	margin-left: auto;
	margin-top:5px;
	margin-bottom:5px;
	width:95%
}


/*店舗管理画面
---------------------------------------------------------------------------*/

.shop_right_table {
	width:200px;
	height:106px;
	margin-top:5px;
	margin-right: auto;
	margin-left: auto;
}

.shop_right_td1 {
	background-color:#F4E7D1;
	padding:2px;
	text-align:left;
	width:78px;
}

.shop_right_td1_1 {
	background-color:#F4E7D1;
	padding:2px;
	width:100px;
	text-align:left;
}

.shop_right_td2 {
	background-color:#FBF3E8;
	text-align:left;
	padding:1px;
}

.shop_right_td3 {
	padding:1px;
	text-align:center;
	width:18px;
}

.shop_right_table2 {
	width:200px;
	margin-top:5px;
	margin-bottom:5px;
	margin-right: auto;
	margin-left: auto;
}


.shop_right_score_left {
	width:22px;
	text-align:center;
	margin-right:2px;
}

.shop_right_score {
	background-color:#ffffff;
	border:1px solid #D8CDB4;
	width:174px;
	font-size:10px;
	text-align:center;
	letter-spacing:-1px;
}


/*店舗管理画面・店舗情報
---------------------------------------------------------------------------*/

.girls_table {
	width:720px;
	border:2px solid #D8CDB4;
}

.girls_table_th {
	background-color:#FBF3E8;
	font-size:14px;
	text-align:left;
	padding:5px;
	border-right:2px solid #D8CDB4;
	border-top:2px solid #D8CDB4;
	font-weight:normal;
}

.girls_table_th1 {
	background-color:#FBF3E8;
	font-size:14px;
	text-align:left;
	padding:5px;
	border-top:2px solid #D8CDB4;
	font-weight:normal;
}

.girls_table_td {
	text-align:center;
	padding:5px;
	border-right:2px solid #D8CDB4;
	border-bottom:2px solid #D8CDB4;
}

.girls_table_td1 {
	text-align:center;
	border-bottom:2px solid #D8CDB4;
	padding:5px;
}

.tabs {
	border-bottom:1px solid #cfcfcf;
	margin:15px 0;
}

.tabs a {
	color:#303030;
}
.tabs a span {
	color:#303030;
}
.tabs .ui-tabs-selected a {
	color:#fff;
}
.tabs .ui-tabs-selected a span {
	color:#fff;
}

.tabs ul {margin:0; padding:0; list-style-type:none;}
.tabs ul li {display:inline; margin:0; padding:0;}
.tabs a {float:left; margin-right:3px; padding-left:4px; background-color: #97BF12; text-decoration:none;font-weight:bold;}
.tabs a span {float:left; display:block; padding:8px 15px 6px 11px;}
.tabs a:hover, .tabs a:hover span { text-decoration:underline;background-color: #7AA43D; font-weight:bold;}
.ui-tabs-hide {display: none !important;}
.tabs {border-bottom:1px solid #cfcfcf;}
.tabs a {color:#303030;}
.tabs a span {color:#303030;}
.tabs .ui-tabs-selected a {color:#fff;}
.tabs .ui-tabs-selected a span {color:#fff;}
.box {min-height:1px;}
.box:after {display:block; visibility:hidden; clear:both; line-height:0; font-size:0; content:".";}


/*店舗管理・レビュー
---------------------------------------------------------------------------*/

.shop_review_preview {
	width:720px;
	margin-top:5px;
	margin-bottom:5px;
	padding-top:5px;
	padding-bottom:5px;
	position:relative;
	border-top:2px solid #D8CDB4;
	border-bottom:2px solid #D8CDB4;
}

.shop_review_preview_wrap {
	width:715px;
}

.shop_review_wrap_left {
	width:120px;
	margin-right:5px;
	float:left;
}


.shop_review_wrap_right {
	width:590px;
	float:right;
}

.shop_review_wrap_right_top {
	width:100%;
	height:28px;
	font-size:16px;
	font-weight:normal;
	padding-left:5px;
	color:#D40050;
	background-color:#ECEDED;
	border-bottom:1px solid #D9DADB;
}

.shop_review_wrap_right_middle {
	width:98%;
	height:24px;
	padding-top:3px;
	padding-left:5px;
	float:right;
}

.shop_review_wrap_right_bottom {
	width:98%;
	font-size:14px;
	margin-top:5px;
	padding-left:5px;
	float:right;
}


/*レビュアー会員・ログイン
---------------------------------------------------------------------------*/

.login_reviewer {
	width:460px;
	margin-top:10px;
	margin-right: auto;
	margin-left: auto;
}

.login_table {
	border:2px solid #D8CDB4;
	width:460px;
	margin-bottom:5px;
	margin-right: auto;
	margin-left: auto;
}

.login_td1 {
	border:1px dashed #D8CDB4;
	text-align:left;
	font-size:14px;
	width:112px;
	padding:8px;
}

.login_td2 {
	border:1px dashed #D8CDB4;
	text-align:left;
	font-size:18px;
	padding:8px;
}

.login_td1 img {
	margin-right:5px;
}

/*新規登録
---------------------------------------------------------------------------*/

.submit_table {
	border:2px solid #D8CDB4;
	width:460px;
	margin-bottom:5px;
	margin-right: auto;
	margin-left: auto;
}

.submit_td1 {
	border:1px dashed #D8CDB4;
	text-align:left;
	font-size:14px;
	width:140px;
	padding:8px;
}

.submit_td2 {
	border:1px dashed #D8CDB4;
	text-align:left;
	font-size:18px;
	padding:8px;
}

.submit_td1 img {
	margin-right:5px;
}


/*お問い合わせ
---------------------------------------------------------------------------*/

.contact_table {
	border:2px solid #D8CDB4;
	width:560px;
	margin-bottom:5px;
	margin-right: auto;
	margin-left: auto;
}

.contact_td1 {
	border:1px dashed #D8CDB4;
	text-align:left;
	font-size:14px;
	width:152px;
	padding:8px;
}

.contact_td2 {
	border:1px dashed #D8CDB4;
	text-align:left;
	font-size:16px;
	padding:8px;
}

.contact_td1 img {
	margin-right:5px;
}



/*トップページ口コミ
---------------------------------------------------------------------------*/

.kuchikomi_wrap {
	width:700px;
	height:80px;
	margin-right: auto;
	margin-left: auto;
}

.kuchikomi_left {
	width:60px;
	height:80px;
	margin-right:8px;
	float:left;
}

.kuchikomi_right {
	width:100%;
	height:80px;
}

.kuchikomi_right_top {
	width:100%;
	height:24px;
}

.kuchikomi_right_top_left {
	height:24px;
	float:left;
}

.kuchikomi_right_top_right {
	width:100%;
	height:24px;
	text-align:right;
}

.kuchikomi_heart {
vertical-align: text-bottom;
}

.kuchikomi_heart_right {
vertical-align: text-bottom;
width:14px;
height:15px;
}

.kuchikomi_right_bottom {
	font-size:16px;
	line-height:1.5;
	width:100%;
	height:60px;
}

.kuchikomi_link {
	float:right
}

.score {
	margin-left:5px;
}

/*トップページランキング上位3位
---------------------------------------------------------------------------*/

.ranking_table {
	border:solid 1px #D8CDB4;
	width:350px;
	height:290px;
	margin:5px;
	float:left;
}

.ranking_th {
	background-color:#EFEBE3;
	height:24px;
	font-size:13px;
	text-align:left;
	padding:4px;
}

.ranking_td {
	padding:4px;
	max-height:500px;
}

.rank_left {
	width:30px;
	margin-left:10px;
	margin-right:10px;
	float:left;
}

.rank_right {
	text-align:left;
}

.rank_link {
	font-size:14px;
	line-height:28px;
}

.rank_line {
	height: 1px;
	background-color: #87888A;
	border: none;
	color: #87888A;
	width:90%;
}

.rank_button {
	width:300px;
	background-color:#0C0;
	text-align:right;
}




/*ブックマーク
---------------------------------------------------------------------------*/

.bookmark_shop {
	width:720px;
	margin-right: auto;
	margin-left: auto;
	margin-top:5px;
	border-top:2px solid #D8CDB4;
	border-bottom:2px solid #D8CDB4;
}

.bookmark_shop_wrap {
	width:340px;
	margin-right:12px;
	margin-top:5px;
	text-align:center;
	margin-bottom:3px;
	padding:3px;
	float:left;
}

.bookmark_table {
	border:1px solid #D8CDB4;
	width:350px;
	margin-bottom:5px;
	margin-right: auto;
	margin-left: auto;
}

.bookmark_td1 {
	border:1px dashed #D8CDB4;
	text-align:left;
	font-size:14px;
	width:80px;
	padding:4px;
}

.bookmark_td2 {
	border:1px dashed #D8CDB4;
	text-align:left;
	font-size:14px;
	padding:4px;
}

.bookmark_td1 img {
	margin-right:5px;
}


/*お店からのメッセージ
---------------------------------------------------------------------------*/

.message_shop {
	width:720px;
	margin-right: auto;
	margin-left: auto;
	height:40px;
	margin-top:5px;
	margin-bottom:-5px;
	border-top:2px solid #D8CDB4;
	border-bottom:2px solid #D8CDB4;
}

.message_shop_wrap {
	width:700px;
	margin-right: auto;
	margin-left: auto;
}

.message_shop_wrap_left {
	font-size:18px;
	line-height:40px;
	text-align:left;
	float:left;
}

.message_shop_wrap_right {
	font-size:10px;
	line-height:40px;
	text-align:right;
	float:right;
}

.message_shop_more {
	width:720px;
	margin-right: auto;
	margin-left: auto;
	margin-top:5px;
	margin-bottom:-5px;
	border-top:2px solid #D8CDB4;
	border-bottom:2px solid #D8CDB4;
}

.message_shop_wrap_top {
	font-size:18px;
	line-height:40px;
	text-align:left;
	border-bottom:1px solid #D8CDB4;
}

.message_shop_wrap_bottom {
	font-size:14px;
	margin-bottom:10px;
}


/*左ブロック内の「外出先からもご覧になれます」部分
---------------------------------------------------------------------------*/

.top_kuchikomi0 {
	width:720px;
	height:96px;
	background-color:#FDF4E7;
	border-top:2px solid #915E36;
	border-bottom:1px dashed #C6C7C8;
}



/*左メニュー
---------------------------------------------------------------------------*/

#main_left table{
	border:solid 1px #D8CDB4;
	width:200px;
	margin-left:8px;
	margin-bottom:10px;
	letter-spacing:-1px;
}

#main_left th{
	background-color:#EFEBE3;
	font-size:13px;
	text-align:left;
	line-height:24px;
	padding:4px;
}

#main_left td{
	padding:4px;
	max-height:200px;
	height: auto !important;
}

.left_ul {
	margin:0; padding:0;
	padding-bottom:5px;
	color: #000000;
}

.left_li {
	font-size:13px;
	list-style:none;
    padding-left:28px;
	background:  url(../images/crown.jpg) no-repeat 10px 0.3em;
	text-align:left;
    line-height:28px;
	letter-spacing:-1px;
}

.left_li a {
	text-decoration: none;
	color:#000000;
}

.left_li a:visited {
	text-decoration: none;
	color:#000000;
}


/*左ブロック内の「更新情報」部分
---------------------------------------------------------------------------*/
#main_left dl.new {
	height: 260px;
	overflow: auto;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 1em;
	text-align:left;
}

#main_left dl.new dt {
	font-weight: bold;
	line-height:160%;
}

#main_left dl.new dd {
	border-bottom: 1px dotted #cccccc;
	line-height:160%;
}

#main_left hr {
	background-color:#B1B3B4;
	border: none;
	color:#B1B3B4;
	width:90%;
}

/*左ブロック内の「外出先からもご覧になれます」部分
---------------------------------------------------------------------------*/

.qr {
	border: solid 1px #C6C7C8;
}

.qr_code {
	width:72px;
	margin-right:4px;
	float:left;
}

.qr_text {
	text-align:left;
	font-size:10px;
	line-height:140%;
}

/*div全体をリンク
---------------------------------------------------------------------------*/

.linkbox{
	width:720px;
}

.box_hover{
	background:#FCF7F0;
	cursor:pointer;
}

.none{
	text-indent:-9999px;
	height:0px;
	overflow:hidden;
}

.readmore {
	margin-top:-10px;
}


/*ボタン
---------------------------------------------------------------------------*/

.btn_post {
	font-size: 21px;
	color: #ffffff;
	padding:10px 20px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	line-height:100%;
background: #a2c600; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2EyYzYwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5NGI3MzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #a2c600 0%, #94b739 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a2c600), color-stop(100%,#94b739)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a2c600 0%,#94b739 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a2c600 0%,#94b739 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a2c600 0%,#94b739 100%); /* IE10+ */
background: linear-gradient(to bottom,  #a2c600 0%,#94b739 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2c600', endColorstr='#94b739',GradientType=0 ); /* IE6-8 */
	border: 1px solid #dddddd;
}

.btn_post:hover {
	font-size: 21px;
	text-decoration: none;
	color: #FFFFFF;
	background: #7caa43;
	border: 1px solid #dddddd;
}


.btn_official {
	font-size: 13px;
	color: #ffffff;
	padding:5px 40px;
	width:250px;
	height:26px;
	text-align:center;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	line-height:100%;
background: #a2c600; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2EyYzYwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5NGI3MzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #a2c600 0%, #94b739 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a2c600), color-stop(100%,#94b739)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a2c600 0%,#94b739 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a2c600 0%,#94b739 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a2c600 0%,#94b739 100%); /* IE10+ */
background: linear-gradient(to bottom,  #a2c600 0%,#94b739 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2c600', endColorstr='#94b739',GradientType=0 ); /* IE6-8 */
}

.btn_official:hover {
	font-size: 13px;
	text-decoration: none;
	color: #FFFFFF;
	background: #7caa43;
	letter-spacing:-1px;
	border: 1px solid #dddddd;
}



.btn_navi {
	font-size: 18px;
	color: #ffffff;
	padding: 5px 40px;
	line-height:32px;
	text-align:center;
	margin:10px;
	line-height:100%;
background: #a2c600; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2EyYzYwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5NGI3MzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #a2c600 0%, #94b739 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a2c600), color-stop(100%,#94b739)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a2c600 0%,#94b739 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a2c600 0%,#94b739 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a2c600 0%,#94b739 100%); /* IE10+ */
background: linear-gradient(to bottom,  #a2c600 0%,#94b739 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2c600', endColorstr='#94b739',GradientType=0 ); /* IE6-8 */

	border: 1px solid #dddddd;
}

.btn_navi:hover {
	text-decoration: none;
	color: #FFFFFF;
	font-weight:bold;
	background: #7caa43;
	border: 1px solid #dddddd;
}

.btn_back {
	font-size: 24px;
	color: #ffffff;
	padding: 5px 40px;
	text-align:center;
	margin:50px;
	line-height:100%;
background: #a2c600; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2EyYzYwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5NGI3MzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #a2c600 0%, #94b739 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a2c600), color-stop(100%,#94b739)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a2c600 0%,#94b739 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a2c600 0%,#94b739 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a2c600 0%,#94b739 100%); /* IE10+ */
background: linear-gradient(to bottom,  #a2c600 0%,#94b739 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2c600', endColorstr='#94b739',GradientType=0 ); /* IE6-8 */
	border: 1px solid #dddddd;
}

.btn_back:hover {
	font-size: 24px;
	text-decoration: none;
	color: #FFFFFF;
	font-weight:bold;
	background: #7caa43;
	border: 1px solid #dddddd;
}


.btn_on {
	font-size: 14px;
	color: #ffffff;
	line-height:normal;
	font-weight:bold;
	text-align:center;
	width:84px;
	height:34px;
	line-height:34px;
	float:left;
	margin-left:5px;
	margin-bottom:5px;

background: #a2c600; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2EyYzYwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5NGI3MzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #a2c600 0%, #94b739 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a2c600), color-stop(100%,#94b739)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a2c600 0%,#94b739 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a2c600 0%,#94b739 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a2c600 0%,#94b739 100%); /* IE10+ */
background: linear-gradient(to bottom,  #a2c600 0%,#94b739 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2c600', endColorstr='#94b739',GradientType=0 ); /* IE6-8 */

	border: 1px solid #dddddd;
	letter-spacing:-1px;
	display: block
}

.btn_on:hover {
	font-size: 14px;
	text-decoration: none;
	font-weight:bold;
	color: #FFFFFF;
	width:84px;
	height:34px;
	line-height:34px;
	background: #7caa43;
	letter-spacing:-1px;
	border: 1px solid #dddddd;
	display: block
}

.btn_shop {
	font-size: 12px;
	color: #ffffff;
	float:left;
	margin-left:10px;
	margin-top:5px;
	margin-bottom:5px;
	width:80px;
	height:24px;
	line-height:24px;

background: #a2c600; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2EyYzYwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5NGI3MzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #a2c600 0%, #94b739 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a2c600), color-stop(100%,#94b739)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a2c600 0%,#94b739 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a2c600 0%,#94b739 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a2c600 0%,#94b739 100%); /* IE10+ */
background: linear-gradient(to bottom,  #a2c600 0%,#94b739 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2c600', endColorstr='#94b739',GradientType=0 ); /* IE6-8 */

	border: 1px solid #dddddd;
	letter-spacing:-1px;
	display: block
}

.btn_shop:hover {
	text-decoration: none;
	font-weight:bold;
	color: #FFFFFF;
	width:80px;
	height:24px;
	line-height:24px;
	background: #7caa43;
	letter-spacing:-1px;
	border: 1px solid #dddddd;
	display: block
}


.btn_shopnavi {
	font-size: 18px;
	color: #ffffff;
	text-align:center;
	width:195px;
	height:48px;
	line-height:48px;
	display:block;
background: #a2c600; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2EyYzYwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5NGI3MzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #a2c600 0%, #94b739 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a2c600), color-stop(100%,#94b739)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a2c600 0%,#94b739 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a2c600 0%,#94b739 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a2c600 0%,#94b739 100%); /* IE10+ */
background: linear-gradient(to bottom,  #a2c600 0%,#94b739 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2c600', endColorstr='#94b739',GradientType=0 ); /* IE6-8 */
	border: 1px solid #dddddd;
}

.btn_shopnavi:hover {
	text-decoration: none;
	font-weight:bold;
	color: #FFFFFF;
	background: #7caa43;
	border: 1px solid #dddddd;
	display: block
}


.btn_vote {
	font-size: 14px;
	color: #ffffff;
	margin-left:12px;
	margin-top:5px;
	margin-bottom:5px;
	padding: 3px 10px;
background: #a2c600; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2EyYzYwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5NGI3MzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #a2c600 0%, #94b739 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a2c600), color-stop(100%,#94b739)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a2c600 0%,#94b739 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a2c600 0%,#94b739 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a2c600 0%,#94b739 100%); /* IE10+ */
background: linear-gradient(to bottom,  #a2c600 0%,#94b739 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2c600', endColorstr='#94b739',GradientType=0 ); /* IE6-8 */
	border: 1px solid #dddddd;
}

.btn_vote:hover {
	text-decoration: none;
	color: #FFFFFF;
	background: #7caa43;
	border: 1px solid #dddddd;
}

.btn_off {
	font-size: 14px;
	color: #ffffff;
	font-weight:bold;
	text-align:center;
	width:84px;
	height:34px;
	line-height:34px;
	float:left;
	margin-left:5px;
	margin-bottom:5px;

background: #cdcfd0; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NkY2ZkMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiMmI0YjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #cdcfd0 0%, #b2b4b5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdcfd0), color-stop(100%,#b2b4b5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #cdcfd0 0%,#b2b4b5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #cdcfd0 0%,#b2b4b5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #cdcfd0 0%,#b2b4b5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #cdcfd0 0%,#b2b4b5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdcfd0', endColorstr='#b2b4b5',GradientType=0 ); /* IE6-8 */

	border: 1px solid #dddddd;
	letter-spacing:-3px;
	display: block
}

.btn_on1 {
	font-size: 10px;
	color: #ffffff;
	background: #a4c653;
	width: 100px;
	line-height:20px;
	padding: 3px 10px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	margin-bottom:5px;
	display:inline block;
}

.btn_on2 {
	font-size: 11px;
	color:#FFF;
	background: #a4c653;
	width: 100px;
	line-height:20px;
	padding: 2px 8px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin-right:5px;
	display:inline block;
}

.btn_more {
	font-size: 12px;
	color: #ffffff;
	margin-left:12px;
	margin-top:5px;
	margin-bottom:5px;
	padding: 3px 10px;
	line-height:24px;
	text-align:center;

background: #a2c600; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2EyYzYwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5NGI3MzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #a2c600 0%, #94b739 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a2c600), color-stop(100%,#94b739)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a2c600 0%,#94b739 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a2c600 0%,#94b739 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a2c600 0%,#94b739 100%); /* IE10+ */
background: linear-gradient(to bottom,  #a2c600 0%,#94b739 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2c600', endColorstr='#94b739',GradientType=0 ); /* IE6-8 */

	border: 1px solid #dddddd;
	letter-spacing:-1px;
}

.btn_more:hover {
	text-decoration: none;
	font-weight:bold;
	color: #FFFFFF;
	background: #7caa43;
	letter-spacing:-1px;
	border: 1px solid #dddddd;
}


.btn_rank {
	font-size: 11px;
	color: #ffffff;
	margin-top:5px;
	margin-bottom:5px;
	width:60px;
	height:16px;
	line-height:16px;
	text-align:center;

background: #a2c600; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2EyYzYwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5NGI3MzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #a2c600 0%, #94b739 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a2c600), color-stop(100%,#94b739)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a2c600 0%,#94b739 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a2c600 0%,#94b739 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a2c600 0%,#94b739 100%); /* IE10+ */
background: linear-gradient(to bottom,  #a2c600 0%,#94b739 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2c600', endColorstr='#94b739',GradientType=0 ); /* IE6-8 */

	border: 1px solid #dddddd;
	letter-spacing:-1px;
	display: block

}

.btn_rank:hover {
	text-decoration: none;
	font-weight:bold;
	color: #FFFFFF;
	background: #7caa43;
	letter-spacing:-1px;
	border: 1px solid #dddddd;
}


.btn_bookmark {
	font-size: 10px;
	color: #ffffff;
	padding: 2px 5px;
	position:bottom;
background: #a2c600; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2EyYzYwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5NGI3MzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #a2c600 0%, #94b739 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a2c600), color-stop(100%,#94b739)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a2c600 0%,#94b739 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a2c600 0%,#94b739 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a2c600 0%,#94b739 100%); /* IE10+ */
background: linear-gradient(to bottom,  #a2c600 0%,#94b739 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2c600', endColorstr='#94b739',GradientType=0 ); /* IE6-8 */

	border: 1px solid #dddddd;
}

.btn_bookmark:hover {
	text-decoration: none;
	color: #FFFFFF;
	background: #7caa43;
	border: 1px solid #dddddd;
}



/*その他
---------------------------------------------------------------------------*/
.color1 {
	color: #ff476d;
}
.look {
	background-color: #f5f5f5;
}
.access {
	font-size:10px;
	margin-top:28px;
	margin-bottom:12px;
}

.spot1 {
	color: #f18419;
}

.spot2 {
	font-size:16px;
	color:#D40050;
}

.spot3 {
	font-size:20px;
	color:#D40050;
}

.spot4 {
	font-size:18px;
	color:#D40050;
}

.spot5 {
	font-size:21px;
	line-height:24px;
	color:#D40050;
	font-weight:bold;
}

.spot6 {
	color: #BE0A26;
}

.spot7 {
	font-size:24px;
	color:#E7511E;
}

.spot8 {
	color:#D40050;
}


.small {
	font-size:90%
}


/* フキダシ
----------------------------------------------------------- */

.arrow_box {
position: relative;
background: #FBF3E8;
border: 2px solid #D8CDB4;
margin-top:10px;
font-size:14px;
}

.arrow_box:after, .arrow_box:before {
top: 100%;
border: solid transparent;
content: " ";
height: 0;
width: 0;
position: absolute;
pointer-events: none;
}

.arrow_box:after {
border-color: rgba(251, 243, 232, 0);
border-top-color: #FBF3E8;
border-width: 12px;
left: 50%;
margin-left: -12px;
}

.arrow_box:before {
border-color: rgba(216, 205, 180, 0);
border-top-color: #D8CDB4;
border-width: 15px;
left: 50%;
margin-left: -15px;
}

/* エラーメッセージ
----------------------------------------------------------- */
.error-message{
	color:#ff0000;
	font-weight:bold;
}

/* クリアフィクス
----------------------------------------------------------- */
.clear {
clear:both;
}

/*sql-dump DEBUG*/
.cake-sql-log {
    background:#000;
    color:#FFF;
    font-size:9.5px;
}
.cake-sql-log:after {
    content : "";
    display : block;
    height : 0;
    clear : both;
}
.cake-sql-log caption {
    background-color:#CC3300;
    color:#FFF;
}
.cake-sql-log:hover {
    top:auto;
    bottom:0;
}
.cake-sql-log td {
    padding:3px;
    border:1px solid #999;
    background-color:#EEE;
    color:#000;
}