<h3>地域リンク集（インデックス）表示順位編集（大エリア選択）</h3>

<table class="normal">
	<tr>
		<th>大エリア</th>
	</tr>
	<?php foreach($large_area as $key => $record){?>
	<tr>
		<td>
			<a href="/area_index_links/change_link_order2/<?php echo $record['LargeArea']['id'] ?>"><?php echo $record['LargeArea']['name'] ?>（<?php echo $link_order[$record['LargeArea']['link_order_index']]?>）</a>
		</td>
	</tr>
	<?php } ?>
</table>
<?php //echo var_dump($large_area)?>