<div class="mapArea">
	<ul class="list">
		<li><a href="http://tottori.dhrank.com/top"><img src="/img/area/chugoku/tottori.png" alt="鳥取エリア" height="42" width="250"></a></li>
		<li><a href="http://shimane.dhrank.com/top"><img src="/img/area/chugoku/shimane.png" alt="島根エリア" height="42" width="250"></a></li>
		<li><a href="http://okayama.dhrank.com/top"><img src="/img/area/chugoku/okayama.png" alt="岡山エリア" height="42" width="250"></a></li>
		<li><a href="http://hiroshima.dhrank.com/top"><img src="/img/area/chugoku/hiroshima.png" alt="広島エリア" height="42" width="250"></a></li>
		<li><a href="http://yamaguchi.dhrank.com/top"><img src="/img/area/chugoku/yamaguchi.png" alt="山口エリア" height="42" width="250"></a></li>
	</ul>
</div>
