<div class="mapArea">
	<ul class="list">
		<li><a href="http://ibaraki.dhrank.com/top"><img src="/img/area/kitakanto/ibaragi.png" alt="茨城エリア" height="42" width="250"></a></li>
		<li><a href="http://tochigi.dhrank.com/top"><img src="/img/area/kitakanto/tochigi.png" alt="栃木エリア" height="42" width="250"></a></li>
		<li><a href="http://gunma.dhrank.com/top"><img src="/img/area/kitakanto/gunma.png" alt="群馬エリア" height="42" width="250"></a></li>
	</ul>
</div>
