<div class="mapArea">
	<ul class="list">
		<li><a href="http://fukuoka.dhrank.com/top"><img src="/img/area/kyushu/fukuoka.png" alt="福岡エリア" height="42" width="250"></a></li>
		<li><a href="http://saga.dhrank.com/top"><img src="/img/area/kyushu/saga.png" alt="佐賀エリア" height="42" width="250"></a></li>
		<li><a href="http://oita.dhrank.com/top"><img src="/img/area/kyushu/oita.png" alt="大分エリア" height="42" width="250"></a></li>
		<li><a href="http://nagasaki.dhrank.com/top"><img src="/img/area/kyushu/nagasaki.png" alt="長崎エリア" height="42" width="250"></a></li>
		<li><a href="http://kumamoto.dhrank.com/top"><img src="/img/area/kyushu/kumamoto.png" alt="熊本エリア" height="42" width="250"></a></li>
		<li><a href="http://miyazaki.dhrank.com/top"><img src="/img/area/kyushu/miyazaki.png" alt="宮崎エリア" height="42" width="250"></a></li>
		<li><a href="http://kagoshima.dhrank.com/top"><img src="/img/area/kyushu/kagoshima.png" alt="鹿児島エリア" height="42" width="250"></a></li>
		<li><a href="http://okinawa.dhrank.com/top"><img src="/img/area/kyushu/okinawa.png" alt="沖縄エリア" height="42" width="250"></a></li>
	</ul>
</div>
