<section id="middle" class="full">

    <div class="title title2">
        <h2>REVIEWER LOGIN <span class="small">レビュアー会員様ログイン</span></h2>
    </div>

    <p class="text">ログインIDとパスワードを入力して、ログインして下さい。 </p>
    
    <div class="formArea">
   		<form action="/reviewer" method="post">
    
            <table cellspacing="0" cellpadding="0" border="0">
                <tr>
                    <th>ログインID</th>
                    <td>
                        <input type="text" size="30">
                    </td>
                    
                </tr>
                <tr>
                    <th>パスワード</th>
                    <td>
                        <input type="text" size="30">
                    </td>
                </tr>
            </table>
        
        
            <input type="hidden" name="data[User][remember_me]" id="UserRememberMe_" value="0" /><input type="checkbox" name="data[User][remember_me]" value="1" id="UserRememberMe" /><label for="login-check" style="font-size:12px;">パスワードを記憶する</label>
    
    
            <div style="text-align:right">
            <img src="/img/footer_nav_square.png" style="margin-right:3px" /><a href="#">ログインIDを忘れた方はこちら</a><br />
            <img src="/img/footer_nav_square.png" style="margin-right:3px" /><a href="#">パスワードを忘れた方はこちら</a>
            </div>
    
            <p class="align_c"><input type="submit" class="redBtn" value="ログイン"></p>
    
    	</form>
        
    	<div class="listHeading">レビュアー会員登録をされてない方…</div>

        <p class="text">
        「デリヘル人気口コミランキング」では、自分好みの風俗店探しに役立つサービスが無料でご利用できます。<br />
        他のユーザーのリアルな口コミでお気に入りの風俗店をサーチ！そしてリアルな口コミを書き込み！<br />
        本気で風俗を楽しみたい人のための楽しいホームページです。
        </p>
		<br />
        <p class="text">
        実際に利用した風俗店の感想を口コミし、他のユーザーと共有できます。<br />
        女の子のサービス内容・ルックス・スタッフ・お店の対応などの項目ごとに5段階評価が可能。あなたが評価した結果が、お店のランキングに反映されます。<br />
        また、レビュアー会員のページにお気に入りのお店・女の子をブックマークし、いつでも簡単に見る事ができます。
        </p>

		<p class="align_c"><a href="/regist" class="css_btn_class2">会員登録する</a></p>
    
	</div>

</section>