<div id="area" class="section clearfix">
<h2>エリア選択・東京</h2>

<table id="area1">
	<tr>
        <th rowspan="2">東京</th>
        <td><a href="/top">新宿</a></td>
        <td><a href="/top">池袋</a></td>
        <td><a href="/top">渋谷</a></td>
        <td><a href="/top">品川・<br />五反田</a></td>
        <td><a href="/top">銀座・新橋</a></td>
        <td><a href="/top">上野・鴬谷</a></td>
    </tr>
</table>
</div>