<?php if(!empty($paginate_url_param)){?>
<?php $paginator->options(array('url'=> $paginate_url_param)); ?>
<?php }?>

<div style="text-align:center; margin-top:10px;">
<?php if($this->params["controller"] == 'boards' && $this->params["action"] == 'i_read'){?>
<a href="<?php echo $linkCommon->get_boards_read($board)?>" accesskey="1">最初から表示</a>
<?php }?>
<?php if($paginator->hasPrev()) echo $paginator->prev('[*]前', array('accesskey' => "*"))?> <?php if($paginator->hasNext()) echo $paginator->next('次[#]', array('accesskey' => "#"))?>
</div>
<?php //echo $paginator->numbers(array('first' => 1, 'last' => 1, 'modulus' => 2, 'tag' => 'li', 'separator' => ''));?>

