@charset "utf-8";

#scrollUp {
	width:38px;
	height:38px;
	bottom: 20px;
	right: 20px;
	background: url(../img/top.png) no-repeat top;
	text-indent:-9999px;
	outline:none;
}


/* ==========================================================================
   common area
   ========================================================================== */
   
.redBtn{
	background:-moz-linear-gradient( center top, #FF858E 5%, #F74B5F 100% );
	background:-ms-linear-gradient( top, #FF858E 5%, #F74B5F 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF858E', endColorstr='#F74B5F');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #FF858E), color-stop(100%, #F74B5F) );
	text-align:center;
	border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.redBtn a{
	color:#FFF!important;
	text-decoration:none;
	display:block;
}

.whiteBtn{
	border: 1px solid #cbcbcb;
    background:      -o-linear-gradient(top, #FFFFFF 50%, #ECECEC 100%);
    background:     -ms-linear-gradient(top, #FFFFFF 50%, #ECECEC 100%);
    background:    -moz-linear-gradient(top, #FFFFFF 50%, #ECECEC 100%);
    background: -webkit-linear-gradient(top, #FFFFFF 50%, #ECECEC 100%);
    background: linear-gradient(top, #FFFFFF 50%, #ECECEC 100%);
	text-align:center;
	border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.whiteBtn a{
	color:#666!important;
	text-decoration:none;
	display:block;
}

/* img_frame/画像の枠囲み --------------------------------------------------------------------*/
.img_frame {
    padding:2px;
	border:1px solid #eee;
}
   
/* header --------------------------------------------------------------------*/
header {
    background: url(../img/head_top_bg.png) repeat;
    height: 25px;
	padding-top:2px;
	border-bottom:2px solid #E4007F;
}

header h1 {
	background: url(../img/header_logo.gif) no-repeat left; 
	padding-left: 50px; 
	line-height: 23px;
    color: #d4bdab;
    font-size: 10px;
	padding-top:1px;
    float: left;
}

header h1 span{
    font-size: 13px;
    font-weight:bold;
	line-height:13px;
}

.header_form {
	padding-top:2px;
    float: right;
    color: #d4bdab;
}

.header_form a {
    color: #fff;
    text-decoration: none;
}


.header_form *{
	display:inline-block;
	vertical-align:top;
}

.barBtn a{
	padding:2px 10px;
}

.header_form input[type=text] {
	height:20px;
}

.radioBox input{
	display:none;
}

.radioBox label{
	display: block;
	float: left;
	cursor: pointer;
	width: 40px;
	margin: 3px;
	color:#999;
	font-size: 12px;
	text-align: center;
	transition: .searchType;
	text-decoration:underline;
}

.radioBox input[type="radio"]:checked + .switch-shop {
	color:#fff;
}
.radioBox input[type="radio"]:checked + .switch-girl {
	color:#fff;
}

/* topic_path --------------------------------------------------------------------*/
#topic_path{
	width:880px;
    margin:10px auto 18px auto;
}
#topic_path a:first-child:before{
	content: url("../img/icon_home.png");
	margin-right:5px;
}

#topic_path a:after{
	margin:0 10px;
	content: url("../img/right.png");
}

#topic_path a:last-child:after{
	margin:0;
	content: "";
}

/* container --------------------------------------------------------------------*/
.container {
    width: 880px;
    overflow: hidden;
    margin: 0px auto;
}

.container_footer {
    width: 880px;
    overflow: hidden;
    margin: 0 auto;
}

/* info_bar --------------------------------------------------------------------*/
#info_bar {
    background: #59524c;
    height: 32px;
}

#info_bar.out .list {
    float: right;
    margin-top: 6px;
}
#info_bar.out .list li {
    display:inline-block;
}

#info_bar.out .list li.nickname {
	margin-right: 20px;
	color: white;
	font-weight: bold;
}

#info_bar.in .list {
    float: left;
    margin: 0px;
}

#info_bar.in .list li.selected {
	background:#333;
	color:#fff;
}
#info_bar.in .list li {
    display:inline-block;
	padding:7px 15px;
}

#info_bar.in .list li:last-child{
}

#info_bar.in .list li a{
	text-decoration:none;
	color:fff;
}

/* middle --------------------------------------------------------------------*/
#middle {
    float: left;
}

/* 2c */
#middle.wide{
	width: 675px;
	margin-right:20px;
}

#middle.narrow{
	width: 606px;
	margin-right:20px;
}

/* 1c */
#middle.full {
	width: 880px;
}

#middle a{
	color: #CD4D72;
}

/* ==========================================================================
   eyecatch slider
   ========================================================================== */

#eyecatchArea {
    background:  url(../img/main_contents_bg.jpg) no-repeat;
    width: 890px;
    height: 330px;
    margin: 10px 0;
}
#eyecatchArea .left {
    float: left;
}
#eyecatchArea .right {
    margin-right: 23px;
    margin-top: 16px;
    float: right;
}
/* slider1 */
#slider1_wrapper {
    width: 318px;
    height: 240px;
    margin-left: 25px;
    margin-top: 16px;
}
#slider1_wrapper .bx-prev {
    z-index: 999;
    background:  url(../img/mainarea_slider01_left.png) no-repeat;
    width: 15px;
    height: 38px;
    left: -15px;
}
#slider1_wrapper .bx-next {
    z-index: 999;
    background:  url(../img/mainarea_slider01_right.png) no-repeat;
    width: 15px;
    height: 38px;
    right: -15px;
}
#slider1 {
    width: 318px;
    text-align: left;
}
#slider1_wrapper .bx-pager {
    width: 100px;
    margin-left: 240px;
}
#slider1_wrapper .bx-pager-item {
}
/* slider2 */
#slider2_wrapper {
    background: #fff;
    border-radius: 2px;
    padding: 10px 15px;
    height: 35px;
    width: 288px;
    margin-left: 25px;
	overflow:hidden;
}
#slider2_wrapper .bx-prev {
    z-index: 999;
    background:  url(../img/mainarea_slider02_left.jpg) no-repeat;
    width: 15px;
    height: 38px;
    left: -15px;
}
#slider2_wrapper .bx-next {
    z-index: 1000;
    background:  url(../img/mainarea_slider02_right.jpg) no-repeat;
    width: 15px;
    height: 38px;
    right: -15px;
}
#slider2_wrapper .bx-pager-item {
    display: none;
}
#slider2_wrapper #slider2 {
    margin-left: 15px;
}
#slider2_wrapper .tt {
    color: #e4007e;
    font-weight: bold;
    margin-bottom: 2px;
	line-height:110%;
	width:90%;
}
#slider2_wrapper .date {
    font-size: 11px;
	font-weight:bold;
}

/* slider3 */
#slider3_wrapper {
    width: 500px;
    height: 300px;
    margin-left: 0px;
    margin-top: 0px;
}

#slider3_wrapper .bx-prev {
    z-index: 999;
    background:  url(../img/mainarea_slider01_left.png) no-repeat;
    width: 15px;
    height: 38px;
    left: -15px;
}
#slider3_wrapper .bx-next {
    z-index: 999;
    background:  url(../img/mainarea_slider01_right.png) no-repeat;
    width: 15px;
    height: 38px;
    right: -15px;
}

#slider3_wrapper .bx-pager {
    width: 100px;
    margin-left: 230px;
}
#slider3_wrapper .bx-pager-item {
}

#slider3 {
    width: 500px;
    text-align: left;
}

.target {
    background:  url(../img/target_img.png) no-repeat right 2px;
    padding-right: 18px;
}

/* ==========================================================================
   two column
   ========================================================================== */
#middle.two{
	width:655px;
	background:#eee;
	float:left;
	margin:0 0 0 10px;
	padding:25px;
	font-size:12px!important;
	position:relative;
}


#middle.two .inner{
	padding:50px 20px 20px 20px;
	background:#FFF;
	box-shadow:rgba(209, 209, 209, 0.65098) 0px 0px 6px 3px;
	-webkit-box-shadow:rgba(209, 209, 209, 0.65098) 0px 0px 6px 3px;
	-moz-box-shadow:rgba(209, 209, 209, 0.65098) 0px 0px 6px 3px;
}

.title_bar{
	background:#59524c;
    height: 22px;
	color:#fff;
	font-size:14px;
	padding:5px 10px;
	position:absolute;
	width:635px;
}
.title_bar span{
	float:right;
	padding-left:16px;
	font-size:11px;
	margin-top:3px;
	background:url(../img/mini_arrow.png) no-repeat left 1px;	
}
.title_bar span a{
	text-decoration:none;
	color:#fff!important;	
}

/* マイページ用 */
#timeLineArea .new_reviewArea .box{
	margin-left:50px;
}

#timeLineArea .new_reviewArea .summary{
	width: 430px!important;
}
/*
#reviewListArea .new_reviewArea.mark:first-child:before{
	clear:both;
	float:none;
}
*/

#timeLineArea .girlsArea > div{
	border:none;
	margin-left:50px;
	text-align:center;
	width:246px;
}

#timeLineArea .girlsArea div > *{
	float:none;
	clear:both;
	margin:0 auto;
	width:246px;
}

#middle.two #timeLineArea .girlsArea img{
	width:180px;
	height:auto;
}

#timeLineArea #pay_shopList {
	margin-left:50px;
}

#timeLineArea .shopList_main > div{
/*	float:none!important; */
}

#reviewListArea .new_reviewArea .summary{
	width: 480px;
}
#reviewListArea .new_reviewArea .box{
	padding:10px;
}

#middle.two .shopList_main{
	width:587px;
	padding:0px 14px 20px 14px;
}

#middle.two .shopList_main > div{
/*	width:587px; */
}

#middle.two .shopList_main.narrow{
	width:537px;
	padding:0px 14px 20px 14px;
}
#timeLineArea .shopList_main.narrow > div{
	width:537px!important;
}

#middle.two .girlsArea > div{
	padding:0 5px;
	width:143px;
}

#middle.two .girlsArea img{
	width:120px;
	height:auto;
}

/* profileTable */
.profileTable table{
	border-collapse:collapse;
	width:100%;
	table-layout:auto;
	color:#333333;
	margin:10px 0;
}
.profileTable table *{
	vertical-align:middle;
}

.profileTable table th{
	border:none;
	padding:10px;
	text-align:left;
	width:20%;
}
.profileTable table td{
	border:none;
	padding:10px;
	text-align:left;
	width:30%;	
}

/* timeLine */
.timeLine{
	margin:30px 0 10px 0;
}
.timeLine:first-child{
	margin:0px 0 10px 0;
}
.timeLine > div{
	float:left;	
}

.timeLine .text{
	margin-left:10px;
	padding:5px 0;	
}

.timeLine .date{
	font-weight:bold!important;
	float:none!important;
}

/* followArea */
#followArea .box{
	padding:10px 0;
	border-bottom:1px dotted #ccc;	
}
#followArea .box > *{
	float:left;
}

#followArea .box .img{
	width:86px;
	margin-right:10px;
}
#followArea .box .summary{
	width:390px;
}

#followArea .box .summary > p{
	margin-top:3px;
}

#followArea .box .summary .name{
	color:#CD4D72;
	font-size:14px;
	font-weight:bold;
}

#followArea .box .summary .num{
	margin-left:15px;	
}
#followArea .box .btn{
	width:120px;
}

#followArea .box .summary .category{
	background:#EFEFEF;
	padding:3px 5px;
	margin-right:10px;
	color:#333;
	font-size:11px;
	border:1px solid #ccc;
	border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

/* ==========================================================================
   menu
   ========================================================================== */
#menu.two{
	width:165px;
	float: left;
	font-size:12px!important;
}

#menu.two > div{
	margin-bottom: 15px;
	padding:5px 5px 0 5px;
}
#menu.two .reviewerIconArea{
	text-align:center;
	font-size:11px;	
}

#menu.two .reviewerIconArea img{
/*	margin-bottom:10px;	*/
	border:1px solid #D8D5C9;
	padding:3px;
}

#menu.two .reviewerIconArea a{
	text-decoration:none;	
}

#menu.two ul{
	padding-bottom:20px;
	margin-bottom:20px;
	border-bottom:1px solid #ccc;
}

#menu.two ul li{
	height:30px;
	line-height:30px;
	font-weight:bold;
	padding-left:20px;
	color:#CD4D72;
}
#menu.two ul li a{
	text-decoration:none;	
}

#menu.two ul li.select{
	background:url(../img/menu_bg.png) no-repeat center right;
	color:#333;
}

/* followBox */
.followBox{
	margin::20px 0!important;
	border-bottom:1px solid #ccc;
}

.followBox > p{
	color:#CD4D72;
	font-weight:bold;
}

.followBox .img{
	margin-bottom:20px;	
}
.followBox .img p{
	float:left;
	margin-right:3px;
	margin-bottom:3px;
}

.followBox .img p:nth-child(4n){
	margin-right:0;
}

.followBox img{
	width:30px;
	height:30px;
	display:block;
}

/* recommendUserArea */
.recommendUserArea > p:first-child{
	font-weight:bold;
	margin-bottom:15px;
}
.recommendUserArea .box {
	margin-bottom:20px;
}
.recommendUserArea .img{
	float:left;
	margin-right:4px;
}

.recommendUserArea .img img{
	width:30px;
	height:30px;
	display:block;
}

.recommendUserArea .summary{
	float:left;
	width:115px;
	color:#666;
}

.recommendUserArea .name{
	color:#CD4D72;
	font-weight:bold;
	font-size:11px;
}
.recommendUserArea .num{
	font-size:11px;
}
.recommendUserArea .followBtn{
	padding-left:20px;
	font-size:11px;
	background:url(../img/arrow.jpg) no-repeat left center;
	font-weight:bold;
}

/* ==========================================================================
   side
   ========================================================================== */
   
#side {
    float: right;
	font-size:12px!important;
}

/* three --------------------------------------------------------------------*/

#side.three{
	width:185px;
	float: left;
	font-size:12px!important;
}

#side.three > div{
	margin-bottom: 15px;
	padding:5px 5px 0 5px;
}

/* narrow --------------------------------------------------------------------*/

#side.narrow{
	width:173px;
	background:#FAF7F0;
	padding:5px 5px 0 5px;
	border:1px solid #D8D5C9
	/*
	border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
	*/
}

#side.narrow > p{
	color:#E84557;
	font-weight:bold;
	font-size:14px;
}

#side.narrow > div{
	background:#FFF;
	margin-bottom:5px;
	padding:9px;
	border:1px solid #D8D5C9;
	/*
	border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
	*/
}

.css_btn_login{
	color:#E84557;
	font-weight:bold;
	text-align:center;
	font-size:14px;
	margin:5px 0;
	display:block;
	padding:5px 0;
	border:1px solid #E5848E;
	border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
	background:-moz-linear-gradient( center top, #ffffff 5%, #FAE5E8 100% );
	background:-ms-linear-gradient( top, #ffffff 5%, #FAE5E8 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#FAE5E8');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ffffff), color-stop(100%, #FAE5E8) );
}

#side.narrow .panel{
	background:#A9A398;
	color:#fff;
	padding:5px;
	margin-bottom:5px;
	font-weight:bold;
	border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

#side a:link{
	color:#4C4C80;
}

#side.narrow ul li{
	margin-top:5px;
}

#side.narrow ul li a{
	color:#4C4C80;
	text-decoration:underline;
}

#side .category ul li{
	border-bottom:1px solid #D8D5C9;
	padding-bottom:5px;
}

#side .category ul li:last-child{
	border-bottom:none;
}

#side .ranking > p{
	padding-left:10px;
	background:url(../img/icon_next.png) no-repeat center left;
}

/* wide --------------------------------------------------------------------*/
#side.wide{
	width:250px;
}

#side.wide > div{
	margin-bottom: 15px;
}

#side.wide .recommendShopArea{
    width: 250px;
}

/* recommendArea */
#side.wide .recommendShopArea .box {
    border: 1px solid #CCC;
    width: 244px;
	height:244px;
    padding: 2px;
	margin-bottom:5px;
	overflow:hidden
}
.recommendShopArea .box .list {
    margin: 0 15px;
}
.recommendShopArea .box img {
	display:block;
	margin:0 auto;
	height:72px;
}
.recommendShopArea .box .tt {
    font-weight: bold;
	padding-bottom:5px;
    border-bottom: 1px solid #CCC;
    margin: 5px;
}
.recommendShopArea .box .caption {
    font-size: 11px;
    margin-left: 5px;
    margin-bottom: 5px;
}
.recommendShopArea .box .txt {
    margin-left: 5px;
}

/* rankingMenuArea */
.rankingMenuArea {
	background:  url(../img/side_bg.jpg);
	padding: 5px;
	margin-bottom:10px;
}
.rankingMenuArea .inner {
	background:  #fff;
	padding-bottom: 5px;
}
.rankingMenuArea .list {
	margin: 0 10px;
}
.rankingMenuArea .list li:first-child{
	margin-top:5px;
}

.rankingMenuArea .list li {
	border-bottom: 1px solid #ccc;
	padding: 5px 0;
	margin-bottom: 5px;
}
.rankingMenuArea .list a {
	text-decoration: none;
	color: #333;
	background:  url(../img/left_square.jpg) no-repeat left 0;
	padding-left: 15px;
}

/* topicArea */
.topicArea .img {
    padding:2px;
	border:1px solid #eee;
	margin-right:5px；
}
.topicArea .inner {
    padding-top: 5px;
    width: 246px;
}
.topicArea .box {
    margin: 0 10px 10px 10px;
    padding: 5px 0;
	border-bottom: 1px dotted #ccc;
}
.topicArea .tt {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 5px;
}
.topicArea .col01 {
    margin-bottom: 10px;
}
.topicArea .img {
    float: left;
}
.topicArea .summary {
    margin-bottom: 5px;
    float: left;
    margin-left: 5px;
}

#topicSlider {
    width: 100%;
	background:none;
}

#topicSlider_wrapper {
	background:none;
    margin-left: 0px;
    margin-top: 0px;
	bo.new_reviewArea .shop , .new_reviewArea .name{
	color:#CD4D72;
}

.new_reviewArea .course{
	margin-top:15px;
	display:inline;
	
}

.new_reviewArea .scoreType{
	margin-bottom:15px;	
}
.new_reviewArea .course span{
	font-size:11px;
}

.new_reviewArea .course_mark{
	display:inline;
}


.new_reviewArea .pickup {
	background:#FEF7DB;
	padding:10px;
	margin-bottom:10px;	
/*	margin-right:5px;
	font-size:11px;
	padding:0px 10px 2px 10px;
	float:right;
	border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
	background:#ffffff;
	border:solid 1px #ff0000;
	font-weight:bold;
	color:#ff0000; */
}


.new_reviewArea .course_mark span{
	margin-right:5px;
	font-size:9px;
	padding:1px 5px 1px 5px;
	float:right;
	border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
	height:13px;
}

.new_reviewArea .course_mark span.new{
	border:1px solid #e291a4;
	color:#e291a4;
	background:#fbdee2;
	letter-spacing:-1px;
}

.new_reviewArea .course_mark span.target{
	border:1px solid #e5bc62;
	color:#e5bc62;
	background:#fcf2de;
	letter-spacing:-1px;
}

.new_reviewArea .scoreInfo{
	margin-top:10px;
	font-weight:bold;
}

/* レビューランキング */
.review_ranking .wrapper > *{
	float:left;	
}
.review_ranking .wrapper .box{
	width: 495px!important;
}

.review_ranking .scoreInfo{
	margin:7px 0 0 0;	
}

.review_ranking .summary{
	width:380px;
}

.review_ranking .course , .review_ranking .course_mark{
	display:block;
	margin:0;
}
.review_ranking .course > *, .review_ranking .course_mark > *{
	float:left!important;
}

.review_ranking .scoreType{
	margin:0!important;	
}

/* ここまで */

/*
.new_reviewArea .date {
	float:right;
	font-weight:normal;
}
*/

.new_reviewArea .score {
	font-weight:bold;
	line-height:100%;
	margin-top:2px;
	margin-left:2px;
}

.new_reviewArea .answer {
	border-top:1px dotted #ccc;
	margin-top:5px;
	padding-top:5px;
}

.new_reviewArea .favoriteBtn{
	float:right;
}

.new_reviewArea .favoriteBtn a{
	font-weight:normal!important;
	font-size:11px;
	background:url(../img/icon_save.png) no-repeat 4px center;
	padding:4px 6px 4px 23px;
}

.new_reviewArea .reportBtn{
	float:left;
}

.new_reviewArea .reportBtn a{
	padding:4px 6px 4px 18px;
	background:url(../img/icon_report.png) no-repeat 4px center;
}

.new_reviewArea .thanksBtn{
	float:right;
}

.new_reviewArea .thanksBtn > p{
	float:left;	
}

.new_reviewArea .thanksBtn > p:first-child{
	margin-top:5px;
	margin-right:10px;
	padding-right:10px;
	background:url(../img/icon_next.png) no-repeat right 4px;
}

.new_reviewArea .thanksBtn a{
	padding:4px 6px 4px 18px;
	background:url(../img/icon_heart.png) no-repeat 4px center;
}

.new_reviewArea .deleteBtn{
	float:left;
}

.new_reviewArea .deleteBtn a{
	padding:4px 6px;
}

.new_reviewArea .customBtn{
	float:right;
}

.new_reviewArea .customBtn a{
	padding:4px 6px;
}

/* pickupArea */
.tabInner .pickupArea > dl{
	width:310px;
	float:left;
	margin:20px 0;
}

.tabInner .pickupArea > dl:nth-child(odd){
	margin-right:55px;
}

.tabInner .pickupArea dt{
	border-bottom:1px solid #988989;
	padding-bottom:2px;
	background:#fff url(../img/icon_heading.png) no-repeat center left;
	padding-left:25px;
	margin-bottom:20px;
	color:#988989;
	font-size:14px;
	font-weight:bold;
}

.tabInner .pickupArea .img{
	margin:10px 0;
	text-align:center;
}

.tabInner .pickupArea .name{
	color:#666;
	font-weight:bold;
	font-size:14px;
	margin-bottom:10px;
}

.tabInner .pickupArea .shop{
	color:#999;
	font-size:11px;
}

.catchCopy {
	color: #CD4D72;
	font-size: 16px;
	font-weight:bold;
	margin-bottom:5px;
	height:42px;
	overflow:hidden;
}

.catchCopy_shop {
	color: #CD4D72;
	font-size: 16px;
	font-weight:bold;
	margin-bottom:5px;
}

.catchCopy a{
	color: #CD4D72;
	text-decoration:none;
}

.categoryComment {
	height:32px;
	overflow:hidden;
}

/* shopTable */
.shopTable{margin-bottom:20px;}
.shopTable table{
	border-collapse:collapse;
	width:100%;
	table-layout:auto;
	color:#333333;
	margin:10px 0;
}
.shopTable table *{
	vertical-align:middle;
}

.shopTable table th{
	border:#CCCCCC solid 1px;
	border-collapse:collapse;
	padding:10px;
	text-align:left;
	background:#FAF7F0 url(../img/table_line.jpg) repeat-x top;
	width:20%;
}
.shopTable table td{
	border:#CCCCCC solid 1px;
	border-collapse:collapse;
	padding:10px;
	text-align:left;	
	background-color:#FFF;
}

/* noticeArea */
.noticeArea{
	background:#FAF7F0;
	padding:10px;
}

.noticeArea .name{
	font-weight:bold;	
}

.noticeArea > div{
	float:left;
}

.noticeArea .img{
	width:239px;
	border-right:1px dotted #999;
}
.noticeArea .img > *{
	float:left;
}

.noticeArea p{
	margin:5px 10px 0 10px;
}

.noticeArea .text{
	width:415px;
}

/* couponArea */
.couponArea {
}

.couponArea table{
	border-collapse:collapse;
	width:100%;
	color:#333333;
	margin-top:10px;
	border:#CCCCCC solid 1px;
}
.couponArea table *{
	vertical-align:middle;
}

.couponArea table th{
	border:#CCCCCC solid 1px;
	border-collapse:collapse;
	text-align:left;
	font-weight:bold;
	text-align:center;
	color:#fff;
	width:24px;
	padding:10px 0;
	font-size:16px;
}

.type1{background:#fb615f!important;}
.type2{background:#FF9E34!important;}
.type3{background:#628EB1!important;}
.type9{background:#628EB1!important;}

.couponArea table td{
	border-collapse:collapse;
	padding:10px;
	text-align:left;	
	background-color:#FFF;
}

.couponArea table .price{
	font-size:15px;
}

.couponArea td:last-child{
	color:#FF0000;
<!--	font-weight:bold; -->
	width:110px;
	background-color:#FAF7F0;
	border:#CCCCCC solid 1px;
	text-align:center;
}
.couponArea ul{
	margin-top:10px;
}
.couponArea ul li{
	float:left;
	font-size:11px;
	color:#CC4466;
	border-left:1px solid #666;
	padding-left:5px;
	margin-right:5px;
	letter-spacing:-1px;
}
.couponArea ul li:first-child{
	border:none;
	padding:0;
}

.couponArea ul li span{
	color:#666;
}

/* girlsArea */
.girlsArea > div{
	float:left;
	width:146px;
	height:260px;
	padding:10px;
	border-right:1px solid #CBCBCB;
	margin:20px 0;
}
.girlsArea > *:nth-child( 4n ){
	border-right:none;
}

.girlsArea div p{
	text-align:center;
}

.girlsArea .img img{
	width:120px;
	height:160px;
}

.girlsArea .btn{
	width:100px;
	margin:5px auto;
}

.girlsArea .btn a{
	width:100%;
	padding:5px 0;
	font-size:11px;
	font-weight:normal;
}

.girlsArea .name{
	padding:10px 0;
}

.girlsArea .name a{
	color:#4C4C80!important;
}

.girlsArea .review img{
	margin-top:-2px;
	margin-right:5px;
}
.clearLine{
	float:none;
	clear: both;
	border-bottom:1px solid #CBCBCB;
}


/* girlsArea_result */
.girlsArea_result > div{
	float:left;
	width:130px;
	height:260px;
	padding:10px;
	border-right:1px solid #CBCBCB;
	margin:20px 0;
}
.girlsArea_result > *:nth-child( 5n-1 ){
	border-right:none;
}

.girlsArea_result div p{
	text-align:center;
}

.girlsArea_result .img img{
	width:120px;
	height:160px;
}

.girlsArea_result .btn{
	width:100px;
	margin:5px auto;
}

.girlsArea_result .btn a{
	width:100%;
	padding:5px 0;
	font-size:11px;
	font-weight:normal;
}

.girlsArea_result .name{
	padding:10px 0;
}

.girlsArea .name a{
	color:#4C4C80!important;
}

.girlsArea_result .review img{
	margin-top:-2px;
	margin-right:5px;
}


/* detailArea */
.detailArea{
	font-size:12px!important;
	margin-bottom:10px;
}
.detailArea > *:first-child{
	float:left;
	width:240px;
}

.detailArea > *:last-child{
	float:right;
	width:400px;
}
.detailArea .imgList{
	border-bottom:1px solid #CBCBCB;
}

.detailArea .imgList img{
	margin:10px 7px 10px 0;
	display:block;
	float:left;
}

.detailArea .imgList img:last-child{
	margin:10px 0;
}

.detailArea .entryreviewBtn{
	margin:10px 0 10px auto;
	padding:0;
	width:120px;
	
}

.detailArea .entryreviewBtn a{
	padding:5px 0;
	color:#fff;
	font-size:11px;
}

.detailArea .btn{
	border:1px solid #CBCBCB;
	border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
	width:120px;
	margin:10px auto;
}

.detailArea .btn a{
	font-size:11px;
	width:100%;
	padding:5px 0;
	display:block;
	text-decoration:none;
	text-align:center;
	color:#666!important;
}
.detailArea .comment{
	padding-bottom:20px;
	border-bottom:1px solid #ccc;	
}

.detailArea dl dt{
	background:#FAF7F0;
	padding:5px 10px;
	margin-bottom:10px;	
	font-weight:bold;
}

.detailArea table{
	border-collapse:collapse;
	width:100%;
	table-layout:auto;
	color:#333333;
	margin:10px 0;
}
.detailArea table.list *{
	vertical-align:middle;
}

.detailArea table.list th{
	border-bottom:#CCCCCC solid 1px;
	border-collapse:collapse;
	padding:10px;
	text-align:left;
	width:30%;
	color:#CD4D72;
}
.detailArea table.list td{
	border-bottom:#CCCCCC solid 1px;
	border-collapse:collapse;
	padding:10px 10px 10px 0;
	text-align:left;
}

/*
.detailArea table.option *{
	vertical-align:middle;
}

.detailArea table.option th{
	border:none;
	border-collapse:collapse;
	padding:5px;
	text-align:left;
	width:15%;
	color:#CD4D72;
}
.detailArea table.option td{
	border:none;
	border-collapse:collapse;
	padding:5px 10px 5px 0;
	text-align:left;
	display:inline-block;
}

.detailArea table.option td p{
	background:#E96771;
	padding:3px;
	color:#fff;
	display:inline;
	margin-right:5px;
}

*/
.supplement{
	border:#CCCCCC solid 1px;
	padding:10px;
}

.supplement .tt{
	font-weight:bold;
	color:#CD4D72;
}

#girlsSlider {
	width: 615px;
    height: 240px;
}

#girlsSlider a{
	float:left;
	margin-right:15px;
}

#girlsSlider a:last-child{
	margin-right:0px;
}


#girlsSliderWrapper .bx-prev {
    z-index: 9999;
    width: 15px;
    height: 38px;
	left:-30px;
	
	border: 1px solid #cbcbcb;
    background:      -o-linear-gradient(top, #FFFFFF 50%, #ECECEC 100%);
    background:     -ms-linear-gradient(top, #FFFFFF 50%, #ECECEC 100%);
    background:    -moz-linear-gradient(top, #FFFFFF 50%, #ECECEC 100%);
    background: -webkit-linear-gradient(top, #FFFFFF 50%, #ECECEC 100%);
    background: linear-gradient(top, #FFFFFF 50%, #ECECEC 100%);
	background-image:url(../img/icon_prev.png);
	background-position:center center;
	background-repeat:no-repeat;
	text-align:center;
	border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
#girlsSliderWrapper .bx-next {
    z-index: 9999;
    width: 15px;
    height: 38px;
	right:-30px;
	
	border: 1px solid #cbcbcb;
    background:      -o-linear-gradient(top, #FFFFFF 50%, #ECECEC 100%);
    background:     -ms-linear-gradient(top, #FFFFFF 50%, #ECECEC 100%);
    background:    -moz-linear-gradient(top, #FFFFFF 50%, #ECECEC 100%);
    background: -webkit-linear-gradient(top, #FFFFFF 50%, #ECECEC 100%);
    background: linear-gradient(top, #FFFFFF 50%, #ECECEC 100%);
	background-image:url(../img/icon_next.png);
	background-position:center center;
	background-repeat:no-repeat;
	text-align:center;
	border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

/* ispot --------------------------------------------------------------------*/
#ispotArea .list .box {
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #c5c5c5;
}
#ispotArea .list .box .img {
    width: 78px;
    float: left;
}
#ispotArea .list .box .summary {
    width: 520px;
    float: right;
}
#ispotArea .num {
    margin-left: 10px;
}
#ispotArea .list .box .summary .info {
    margin-bottom: 5px;
}
#ispotArea .list .box .summary .tt {
    margin-bottom: 10px;
}
#ispotArea .infomation .box {
    background-image:url(../img/bg_dot.gif);
    width: 291px;
	height:156px;
}

#ispotArea .infomation .box > div{
	margin:5px;
	padding:5px;
	height:135px;
	background:#fff;
}
#ispotArea .infomation .box .txt {
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#ispotArea .list .box .txt a {
    color: #e4007e !important;
    font-weight: bold;
}
#ispotArea .infomation .box .img {
    float: left;
}
#ispotArea .infomation .box {
    float: left;
    margin: 5px 5px 0;
}
#ispotArea .tt {
	font-weight:bold;
	font-size:13px;
}
#ispotArea .infomation .box .link {
    float: right;
    margin-right: 10px;
    font-size: 11px;
}
#top_banner {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
}

#ispotArea .score {
	font-weight:bold;
	line-height:100%;
	margin-top:2px;
	margin-left:2px;
}

/* ==========================================================================
   review
   ========================================================================== */

#entryArea{
}

#entryArea .head{
	background:#999;
	height:200px;
	margin-bottom:20px;
}

#entryArea .body{
	
}

.listFilter{
	margin-bottom:10px;
}

.listFilter table{
	border-collapse:collapse;
	width:100%;
	table-layout:auto;
	color:#333333;
	margin-bottom:10px;
}
.listFilter table *{
	vertical-align:middle;
}

.listFilter table th{
	border:#fff solid 1px;
	border-collapse:collapse;
	padding:10px;
	text-align:left;
	background:#FF858E;
	width:30%;
	color:#fff;
}
.listFilter table td{
	border:#fff solid 1px;
	border-collapse:collapse;
	padding:10px;
	background:#FFE3E6;
	text-align:left;
}

.listFilter table td input{
	width:200px;
}

#entryArea .listHeading{
	border-bottom:1px solid #988989;
	padding-bottom:2px;
	background:#fff url(../img/icon_heading.png) no-repeat center left;
	padding-left:25px;
	margin-top:20px;
	margin-bottom:20px;
	color:#988989;
	font-size:14px;
	font-weight:bold;
}

#entryArea .listHeading span{
	font-size:13px;
	margin-left:20px;
	font-weight:normal;
}


.shopList table{
	border-collapse:collapse;
	width:100%;
	table-layout:auto;
	margin:10px 0;
}
.shopList table *{
	vertical-align:middle;
}

.shopList table th{
	border:#CCCCCC solid 1px;
	border-collapse:collapse;
	padding:10px;
	text-align:left;
	background:#FAF7F0 url(../img/table_line.jpg) repeat-x top;
	width:20%;
}
	
.shopList table td{
	border:#CCCCCC solid;
	border-width:1px 0;
	border-collapse:collapse;
	padding:10px;
	text-align:left;
}
.shopList table td:last-child{
	border:#CCCCCC solid;
	border-width:1px 1px 1px 0;
	border-collapse:collapse;
	width:20%;
	padding:10px;
	text-align:left;
}

.shopList table .btn{
	padding:5px 0;
}

.shopList table .btn a{
	display:block;
	width:100%;
	padding:5px 0;
}

.idk {
	color:#988989;
	font-weight:bold;
	font-size:14px;
	background:#FAF7F0 url(../img/table_line.jpg) repeat-x top;
}


#frame{
	background:#fff;
	padding:5px;
	display:none;
	width:710px;
	height:600px;
	overflow:scroll;
}


.reviewForm table{
	border-collapse:collapse;
	width:100%;
	table-layout:auto;
	color:#333333;
	margin:10px auto;
}
.reviewForm table *{
	vertical-align:middle;
}
.reviewForm table th{
	border:#CCCCCC solid 1px;
	border-collapse:collapse;
	padding:10px;
	text-align:left;
	background:#FAF7F0 url(../img/table_line.jpg) repeat-x top;
	width:30%;
}
.reviewForm table td{
	border:#CCCCCC solid 1px;
	border-collapse:collapse;
	padding:10px;
	text-align:left;	
	background-color:#FFF;
}
.reviewForm span {
	padding:2px;
	background-color:#ff0000;
	color:#ffffff;
	margin:3px;
	margin-left:10px;
	font-size:80%;
}

.reviewFormRed table{
	border-collapse:collapse;
	width:100%;
	table-layout:auto;
	margin:10px 0;
}
.reviewFormRed table *{
	vertical-align:middle;
}
.reviewFormRed table th{
	border:#CCCCCC solid 1px;
	border-collapse:collapse;
	background:#FFE3E6;
	padding:10px;
	text-align:left;
	width:30%;
}
.reviewFormRed table td{
	border:#CCCCCC solid 1px;
	border-collapse:collapse;
	padding:10px;
	text-align:left;
}
.reviewFormRed span {
	padding:2px;
	background-color:#ff0000;
	color:#ffffff;
	margin:3px;
	margin-left:10px;
	font-size:80%;
}

.circle {
	background:#ffffff url(../img/circle.png) no-repeat left center;
	margin:5px;
	padding-left:15px;
}

/*
.reviewForm table{
	border-collapse:collapse;
	width:100%;
	table-layout:auto;
	margin:10px 0;
}
.reviewForm table *{
	vertical-align:middle;
}
.reviewForm table th{
	border:#CCCCCC solid 1px;
	border-collapse:collapse;
	background:#FFE3E6;
	padding:10px;
	text-align:left;
	width:30%;
}
.reviewForm table td{
	border:#CCCCCC solid 1px;
	border-collapse:collapse;
	padding:10px;
	text-align:left;
}
*/

.reviewForm table textarea{
	width:95%;
	height:200px;	
}

input.submitBtn {
    padding: 15px 40px;
    font-size: 1.2em;
    border-style: none;
	color:#fff;
}
a.submitBtn {
    padding: 15px 40px;
    font-size: 1.2em;
    border-style: none;
	color:#fff;
}



/* categoryArea --------------------------------------------------------------------*/
#categoryArea {
    margin-bottom: 20px;
}
#categoryArea .list {
}
#categoryArea .list .box {
    width: 290px;
    float: left;
}

#categoryArea .list .box:nth-child(odd){
	margin-right:25px;
}

#categoryArea .list .tt {
    margin-bottom: 5px;
    background:  url(../img/top_category_square.png) no-repeat left 0;
    padding-left: 20px;
}
#categoryArea .list .box {
    margin-bottom: 15px;
}
#categoryArea .list .box .img {
    float: left;
    padding:2px;
	border:1px solid #eee;
}
#categoryArea .list .box .txt {
    float: left;
    width: 190px;
    margin-left: 10px;
}


/* recommendGirlsArea --------------------------------------------------------------------*/
#recommendGirlsArea {
    width: 606px;
    overflow: hidden;
	margin-bottom:20px;
}
#recommendGirlsArea .shop{
	margin-top:20px;	
}

#recommendGirlsArea .shop:first-child{
	margin-top:0;
}

#recommendGirlsArea .shop *{
	float:left;
}

#recommendGirlsArea .shop a{
	margin-left:20px;
	padding-top:23px;
}

#recommendGirlsArea .list {
    width: 606px;
	padding-bottom:20px;
}
#recommendGirlsArea .list div {
    float: left;
	width:94px!important;
	margin-right:8px;
}

#recommendGirlsArea .list div:last-child{
	margin-right:0px!important;
}

#recommendGirlsArea .list div p{
	width:90px;
}

#recommendGirlsArea .list p:first-child{
	text-align:center;
}

#recommendGirlsArea .list img{
	width:90px;
}

#recommendGirlsArea .list .name {
    color: #CD4D72;
    font-size: 10px;
	font-weight:bold;
	padding:2px 0;
	overflow:hidden;
	width:90x;
	height:14px;
}
#recommendGirlsArea .list .info {
    background: #030303;
    color: #fff;
    font-size: 11px;
	padding:2px;
	overflow:hidden;
	width:90px;
	height:15px;
}

/*
#recommend02Area .box {
    border: 1px solid #CCC;
    width: 296px;
    padding: 3px 0;
}
#recommend02Area .box .list {
    margin: 0 15px;
}
#recommend02Area .box .img {
    text-align: center;
    margin-bottom: 5px;
}
#recommend02Area .box .tt {
    font-weight: bold;
    font-size: 14px;
    border-bottom: 1px solid #bcdcd1;
    margin: 0 5px 5px;
}
#recommend02Area .box .caption {
    font-size: 11px;
    margin-left: 5px;
    margin-bottom: 5px;
}
#recommend02Area .box .txt {
    margin-left: 5px;
}
*/

/* recommendShopArea --------------------------------------------------------------------*/
#middle #recommendShopArea{
	width: 606px;
    overflow: hidden;
	margin-bottom:20px;
}

#middle #recommendShopArea .box{
	background:#fff;
/*	border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px; */
	border:1px solid #ccc;
	padding:3px;
	float:left;
	margin-right:3px;
	margin-bottom:5px;
	height:180px;
	overflow:hidden;
}

#middle #recommendShopArea .wrapper{
/*	padding:8px;
	background:#F3E3E2;
	border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px; */
}

#middle #recommendShopArea .wrapper > *:nth-child(3n){
	margin-right:0;	
}

#middle #recommendShopArea .box img{
	width:191px;
	height:65px;
}

#middle #recommendShopArea .box p{
	width:191px;
}

#middle #recommendShopArea .box .tt {
    font-weight: bold;
	padding-bottom:5px;
    border-bottom: 1px solid #CCC;
}
#middle #recommendShopArea .box .caption {
    font-size: 11px;
    margin-bottom: 5px;
}
/* shopTab --------------------------------------------------------------------*/

/* ==========================================================================
   free_shopList
   ========================================================================== */

#free_shopList {
    margin-bottom: 20px;
}
#free_shopList .list li {
    float: left;
    margin-left: 4px;
    margin-right: 4px;
    padding:2px;
	border:1px solid #eee;
}

.shopList .tt {
    font-weight: bold;
	padding-bottom:5px;
}

.shopList_frame {
	background-color:#f2f2f2;
	border:1px solid #d6d6d6;
	border-radius: 4px;        /* CSS3草案 */  
    -webkit-border-radius: 4px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 4px;   /* Firefox用 */ 
	margin-bottom:10px;
}

.shopList_frame .shopName{
	font-weight:bold;
	font-size:16px;
	color: #E74098;
}

.shopList_frame > div{
	padding:3px 5px 0 5px;
	overflow:hidden;
}

.shopList_frame > div:first-child{
	height:24px;
	border-bottom:2px solid #7E6F5E;
}

.shopList_frame .pay_mark{
	border:none;	
}

.kuchikomi {
	color:#ffffff;
	background-color:#ff9e34;
	text-align:center;
	padding:2px;
	font-size:9px;
	margin: 3px 5px;
	font-weight:bold;
}

#free_shopList hr {
	margin: 4px 0 ;
	border:none;
    border-top:solid 2px #7e6f5e;
    height:2px;
    color:#7e6f5e;
}


/* ==========================================================================
   pay_shopList
   ========================================================================== */

#pay_shopList {
	padding-top:18px;
    margin-bottom: 20px;
}
#pay_shopList .list li {
    float: left;
    margin-left: 4px;
    margin-right: 4px;
    padding:2px;
	border:1px solid #eee;
}
.shopList_main{
	padding-bottom:10px;
	margin-bottom:12px;
	border-bottom:2px solid #ACACAC;
}

.shopList_main > div:first-child{
	float:left;
}
.shopList_main > div:last-child{
	float:right;
	width:420px;	/*0804修正	修正前420px*/
}

.shopList_main dl{
	margin:2px 0;
}

.shopList_main dl > *{
	line-height:20px;
	width:240px;
}

.shopList_main dl dt{
	color: #7F7F7F;
	font-weight:bold;
	width:60px;
	float:left;
	letter-spacing:-1px;
}

.shopList_main dd{
	letter-spacing:-1px;
}

.shopListLeft{
	float:left;
	width:160px;
}

.shopListRight{
	float:right;
	text-align:center;
}

.shopListRight img{
	margin-top:5px;
}

.shopListBottom{
	clear:both;
	float:none;
}

.shopListBottom ul{
	margin-top:5px;	
}

.shopListBottom ul li{
	background:#fdf7dd;
	border:1px solid #ccc;
	padding:3px 5px;
}
/*
.shopListBottom ul li:last-child{
	border-width:0px 1px 1px 1px;
}
*/
.shopListBottom ul li span{
	font-size:10px;
	padding:2px;
	color:#fff;
	margin-right:15px;
}

/* title ----------------------------------------------------------- */
.title{
	background: url("../img/top_ttl_bg_02.png") left top repeat-x;
	height:50px;
}

.title h2{
	float: left;
	padding: 11px 0 5px 11px;
	color: #333;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	margin:0px;
}

.title .moreBtn{
	float: right;
	padding:2px 5px 0 5px;
	margin:13px 10px 0 0;
	color:#fff;
	font-size:11px;
}

.title .moreBtn a{
	display:inline;
}

.title  a:hover .moreBtn {
	color:#fff;
}

.title .ttl-sub {
	float: left;
	margin: 15px 0 0 10px;
	color: #666;
	font-size: 85%;
}

.title .small{
	font-size:75%;
	margin-left:10px;
}

.title a{
	text-decoration:none;
}

.title01{background-position: 0 0;}
.title01:hover{background-position: 0 -50px;}
.title01 a:hover h2{color: #925f96;}

.title02{background-position: 0 -200px;}
.title02:hover{background-position: 0 -250px;}
.title02 a:hover h2{color: #4ac4bf;}

.title03{background-position: 0 -100px;}
.title03:hover{background-position: 0 -150px;}
.title03 a:hover h2{color: #ad9039;}

.title04{background-position: 0 -400px;}
.title04:hover{background-position: 0 -450px;}
.title04 a:hover h2{color: #eb6e7c;}

.title05{background-position: 0 -500px;}
.title05:hover{background-position: 0 -550px;}
.title05 a:hover h2{color: #da7fca;}

.title06{background-position: 0 -600px;}
.title06:hover{background-position: 0 -650px;}
.title06 a:hover h2{color: #f1834d;}

.title07{background-position: 0 -700px;}
.title07:hover{background-position: 0 -750px;}
.title07 a:hover h2{color: #c67794;}

/* ページカウンター
----------------------------------------------------------- */

.pageCounter{}
.pageCounter .num{
	font-size:16px;
	font-weight:bold;
	color: #b54263;
	margin-right:5px;
}

.pageCounter > span:last-child{
	float:right;
	padding-top:3px!important;
}

/* ページ送り
----------------------------------------------------------- */

.pageNav03 {
	/zoom: 1;
	overflow: hidden;
	margin: 0 0 10px;
	padding: 10px;
}

.pageNav03 li {
	float: left;
	margin: 0 1px 1px 0;
}

.pageNav03 li span,
.pageNav03 li a,
.pageNav03 li.current {
	float: left;
	padding: 5px 10px;
	background: #fff;
}

#main ul.pageNav03 li a:hover {
	background: #ffc;
}

/*==============================================
*
* LeftContents
*
================================================*/

#twoContents {
	margin-top: 10px;
	width:880px;
}
#centerContents {
	width: 440px;
	float: left;
	margin-left: 15px;
}
#leftContents {
	width: 645px;
	float: left;

}

/* shopInfo ----------------------------------------------------------- */

.shopInfo {
	width: 645px;
	padding: 15px 15px 0;
	background:#FAF7F0;
}

.shopInfo .img {
	float: left;
	margin-right: 5px;
    padding:2px;
	border:1px solid #eee;
}

.shopInfo .img img{
	width:90px;
	height:90px;
}
.shopInfo .summary {
	float: left;
	width: 390px;
}

.shopInfo .summary .tt {
	font-weight: bold;
	font-size: 16px;
}
.shopInfo .summary .caption {
	font-size: 11px;
	color: #666;
}

/*
.shopInfo .summary .address {
	border-top: 1px solid #CCC;
	padding-top: 5px;
	margin-top: 5px;
	font-size: 18px;
	font-weight: bold;
	color: #E94430;
}
.shopInfo .summary .address span {
	font-size: 11px !important;
}
*/
.shopInfo .btn {
	float: right;
	margin-left: 10px;
	width: 140px;
}
.shopInfo .btn p {
	margin-bottom: 5px;
}

.entryreviewBtn{
	padding:22px 0;
	font-size:14px;
	color:#fff;
}
/*
.entryreviewBtn a{
	padding:22px 0;
	font-size:14px;
}
*/

.favoriteBtn{}
.favoriteBtn a{
	padding:5px 0;
	font-weight:normal;
}

.pay_mark{
	padding-bottom:5px;
	margin-bottom:5px;
	border-bottom:1px dotted #999;
}

.pay_mark > p{
	text-align:center;
	font-size:8px;
	margin-right: 2px;
	padding:1px 1px;
	float:left;
	
	border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

@-moz-document url-prefix() {
	.pay_mark > p {
		font-size:10px;
	}
}

.pay_mark > p:last-child{
	margin-right: 0;
}

.pay_yoyaku {
	color:#c54c69;
	background-color:#ffe5e3;
	border:1px solid #e5c1c1;
}

.pay_credit {
	color:#c54c69;
	background-color:#ffe5e3;
	border:1px solid #e5c1c1;
}


.pay_ryoshu {
	color:#c54c69;
	background-color:#ffe5e3;
	border:1px solid #e5c1c1;
}


.pay_machi {
	color:#c54c69;
	background-color:#ffe5e3;
	border:1px solid #e5c1c1;
}


.pay_cosplay {
	color:#ffffff;
	background-color:#ff9e34;
	border:1px solid #f2f2f2;
}


.pay_coupon {
	color:#628eb1;
	background-color:#deebf1;
	border:1px solid #769dba;
}

.shopInfo .biz{
	float:left;
	width:290px;
}

.shopInfo .shopNum{
	float:right;
}

.shopNum .num{
	font-size:12px;
	color: #b54263;
}

.kuchikomi2 {
	color:#ff9e34;
	font-size:12px;
}

.zaiseki {
	color:#25a3ec;
	font-size:12px;
}

.setsumei {
	color: #333333;
	font-weight:bold;
	margin:5px 0;
}

/*
#shopInfoNav {
	clear: both;
	margin-top: 10px;
}
 #rightShopInfoNav li {
	float: left;
	margin-right: 1px;
}
店のキャッチコピー */


#rightShopNews .label {
	border: 1px solid #CCC;
	font-weight: bold;
	font-size: 14px;
	color: #439121;
	padding: 2px;
}
#rightShopNews .tt {
	margin: 15px 0;
	padding: 10px 5px;
	color: #439121;
	font-weight: bold;
	background: -moz-linear-gradient(top center, #fff 0%, #CCC 100%);
	background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#CCC));
	background: linear-gradient(top center, #fff 0%, #CCC 100%);
	border: 1px solid #439121;
}
#rightShopNews .img {
	float: left;
}
#rightShopNews .txt {
	float: right;
	width: 530px;
}
#rightShopNews .btn {
	margin-top: 10px;
}
#rightShopNews .date {
	float: right;
}

/*==============================================
*
* RightContents
*
================================================*/
#rightContents {
	width: 185px;
	float: right;
}

#sideLoginArea {
	background:  url(../img/side_bg.jpg);
	padding: 5px;
}
#sideLoginArea .inner {
	background:  #fff;
	padding-bottom: 5px;
}
#sideLoginArea .inner .side_tt {
	margin-bottom: 15px;
}
#sideLoginArea .inner .box input[type=text] {
	border: 1px solid #CCC;
}
#sideLoginArea .inner .box {
	margin-left: 10px;
}
#sideLoginArea .inner .box p {
	margin-bottom: 10px;
}
#sideLoginArea .inner .btn {
	text-align: center;
}
#sideLoginArea .inner .summary {
	margin: 0 5px;
}
#sideRankingArea {
	background:  url(../img/side_bg.jpg);
	padding: 5px;
}
#sideRankingArea .inner {
	background:  #fff;
	padding-bottom: 5px;
}
#sideRankingArea .list {
	margin: 0 10px;
}
#sideRankingArea .list li {
	border-bottom: 1px solid #ccc;
	padding: 5px 0;
	margin-bottom: 5px;
}
#sideRankingArea .list a {
	text-decoration: none;
	color: #333;
	background:  url(../img/left_square.jpg) no-repeat left 0;
	padding-left: 15px;
}
#sideTopicRanking {
	margin: 15px 0;
}
#sideTopicRanking .inner {
	background: #D4EBE3;
	padding: 5px 5px;
}
#sideTopicRanking .content {
	background: #fff;
	border-radius: 4px;
	padding: 0 5px;
}
#sideTopicRanking .content .label {
	border-bottom: 1px solid #D4EBE3;
	padding: 5px 0;
}
#sideTopicRanking .content .list li {
	border-bottom: 1px solid #D4EBE3;
	padding: 5px 0;
}
#sideTopicRanking .content .list li:last-child {
	border: none;
}
#sideTopicRanking .content .list li a {
	text-decoration: none;
	color: #6ABF9E;
}

.topic_tt {
	font-weight: bold;
	font-size: 15px;
	border-bottom: 2px solid #DDDDDD;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

/* ==========================================================================
   term
   ========================================================================== */


#term{
	margin-bottom:20px;
}

#term .listHeading{
	border-bottom:1px solid #988989;
	padding-bottom:2px;
	background:#fff url(../img/icon_heading.png) no-repeat center left;
	padding-left:25px;
	margin-top:20px;
	margin-bottom:20px;
	color:#988989;
	font-size:14px;
	font-weight:bold;
}

#term .text{
	margin-left:10px;
	padding:5px 0;	
}


/* ==========================================================================
   common area
   ========================================================================== */
   
.formArea {
}
   
.formArea table{
	border-collapse:collapse;
	width:100%;
	table-layout:auto;
	color:#333333;
	margin:10px auto;
}
.formArea table *{
	vertical-align:middle;
}
.formArea table th{
	border:#CCCCCC solid 1px;
	border-collapse:collapse;
	padding:10px;
	text-align:left;
	background:#FAF7F0 url(../img/table_line.jpg) repeat-x top;
	width:30%;
}
.formArea table td{
	border:#CCCCCC solid 1px;
	border-collapse:collapse;
	padding:10px;
	text-align:left;	
	background-color:#FFF;
}
.formArea span {
	padding:2px;
	background-color:#ff0000;
	color:#ffffff;
	margin:3px;
	margin-left:10px;
	font-size:80%;
}

.formArea .redBtn{
	padding:3px 5px;
	display:inline;	
	padding: 15px 40px;
    font-size: 1.2em;
    border-style: none;
	color:#fff;
}

.listHeading{
	border-bottom:1px solid #988989;
	padding-bottom:2px;
	background:#fff url(../img/icon_heading.png) no-repeat center left;
	padding-left:25px;
	margin-top:20px;
	margin-bottom:20px;
	color:#988989;
	font-size:14px;
	font-weight:bold;
}

/* btn
----------------------------------------------------------- */

.css_btn_class {
	font-size:11px;
	font-weight:bold;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #dcdcdc;
	padding:3px 8px;
	text-decoration:none;
	background:-moz-linear-gradient( center top, #ffffff 5%, #ebebeb 100% );
	background:-ms-linear-gradient( top, #ffffff 5%, #ebebeb 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ebebeb');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ffffff), color-stop(100%, #ebebeb) );
	background-color:#ffffff;
	color:#737273;
	display:inline-block;
	text-shadow:1px 1px 0px #ffffff;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
 	-moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
 	box-shadow:inset 1px 1px 0px 0px #ffffff;
	float:right;
}.css_btn_class:hover {
	background:-moz-linear-gradient( center top, #ebebeb 5%, #ffffff 100% );
	background:-ms-linear-gradient( top, #ebebeb 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#ffffff');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ebebeb), color-stop(100%, #ffffff) );
	background-color:#ebebeb;
}.css_btn_class:active {
	position:relative;
	top:1px;
}
.css_btn_class:a { color:#737273!important; text-decoration:none!important;} 
.css_btn_class:link, .css_btn_class:visited { color:#737273 !important;text-decoration:none!important; }
.css_btn_class:hover { color:#737273 !important; }
.css_btn_class:active { color:#333333 !important; } 


.css_btn_bookmark {
	font-size:11px;
	font-weight:normal;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #dbdbdb;
	padding:5px 12px;
	text-decoration:none;
	background:-moz-linear-gradient( center top, #ffffff 18%, #e6e3e6 87% );
	background:-ms-linear-gradient( top, #ffffff 18%, #e6e3e6 87% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e3e6');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(18%, #ffffff), color-stop(87%, #e6e3e6) );
	background-color:#ffffff;
	color:#777777;
	display:inline-block;
	text-shadow:1px 1px 0px #ffffff;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
 	-moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
 	box-shadow:inset 1px 1px 0px 0px #ffffff;
	margin:3px;
	float:right;
}.css_btn_bookmark:hover {
	background:-moz-linear-gradient( center top, #e6e3e6 18%, #ffffff 87% );
	background:-ms-linear-gradient( top, #e6e3e6 18%, #ffffff 87% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e3e6', endColorstr='#ffffff');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(18%, #e6e3e6), color-stop(87%, #ffffff) );
	background-color:#e6e3e6;
}.css_btn_bookmark:active {
	position:relative;
	top:1px;
}

.css_btn_bookmark:a { color:#737273 !important; }
.css_btn_bookmark:link, .css_btn_class:visited { color:#737273 !important; }
.css_btn_bookmark:hover { color:#737273 !important; }
.css_btn_bookmark:active { color:#333333 !important; } 

.css_btn_more {
	font-size:11px;
	font-weight:normal;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #e6a8aa;
	padding:5px 12px;
	text-decoration:none;
	background:-moz-linear-gradient( center top, #FF858E 5%, #F74B5F 100% );
	background:-ms-linear-gradient( top, #FF858E 5%, #F74B5F 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF858E', endColorstr='#F74B5F');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #FF858E), color-stop(100%, #F74B5F) );
	color:#ffffff;
	display:inline-block;
	margin:3px;
	float:right;
}.css_btn_more:hover {
	background:-moz-linear-gradient( center top, #F74B5F 5%, #FF858E 100% );
	background:-ms-linear-gradient( top, #F74B5F 5%, #FF858E 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F74B5F', endColorstr='#FF858E');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #F74B5F), color-stop(100%, #FF858E) );
}.css_btn_more:active {
	position:relative;
	top:1px;
}

.css_btn_more:a { color:#FFFFFF !important; }
.css_btn_more:link, .css_btn_more:visited { color:#FFFFFF !important; }
.css_btn_more:hover { color:#FFFFFF !important; }
.css_btn_more:active { color:#FFFFFF !important; } 



.css_btn_class2 {
	font-size:14px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #dcdcdc;
	padding:15px 24px;
	margin:20px;
	text-decoration:none;
	background:-moz-linear-gradient( center top, #ffffff 5%, #ebebeb 100% );
	background:-ms-linear-gradient( top, #ffffff 5%, #ebebeb 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ebebeb');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ffffff), color-stop(100%, #ebebeb) );
	background-color:#ffffff;
	color:#737273;
	display:inline-block;
	text-shadow:1px 1px 0px #ffffff;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
 	-moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
 	box-shadow:inset 1px 1px 0px 0px #ffffff;
}.css_btn_class2:hover {
	background:-moz-linear-gradient( center top, #ebebeb 5%, #ffffff 100% );
	background:-ms-linear-gradient( top, #ebebeb 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#ffffff');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ebebeb), color-stop(100%, #ffffff) );
	background-color:#ebebeb;
}.css_btn_class2:active {
	position:relative;
	top:1px;
}
.css_btn_class2:a { color:#737273 !important; } 
.css_btn_class2:link, .css_btn_class:visited { color:#737273 !important; }
.css_btn_class2:hover { color:#737273 !important; }
.css_btn_class2:active { color:#333333 !important; } 


/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
.backtotop {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 30px;
}
.backtotop p a {
    background: #a1b413;
    display: block;
    border-radius: 3px;
    padding: 5px 0;
}
.backtotop p a:hover {
    opacity: 0.5;
}

/* ==========================================================================
   jQuery - lightbox_me
   ========================================================================== */

#sign_up {
	-moz-border-radius: 6px;
	background: #eef2f7;
	-webkit-border-radius: 6px;
	border: 1px solid #536376;
	-webkit-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;
	-moz-box-shadow:  rgba(0,0,0,.6) 0px 2px 12px;;
	padding: 14px 22px;
	width: 400px;
	position: relative;
	display: none;
}

#close_x {
	background:  url(../img/close.png) no-repeat;
	width: 24px;
	height: 23px;
	overflow: hidden;
	line-height: 1000px;
	display: block;
	position: absolute; top: 5px; right: 5px;
}

/* 2014.11.14 19:13 更新 */
.point {
	color:#CD4D72;
	font-weight:bold;
	margin-right:3px;
}

/*年齢認証ページ
---------------------------------------------------------------------------*/
.logo {
	margin-top:60px;
	margin-bottom:15px;
}

.18k {
	margin-right: auto;
	margin-left: auto;
}


.logo_area {
	margin-top:60px;
	width:300px;
	height:400px;
	background-image:url(http://img.dhrank.com/common/girl_l.jpg);
	background-repeat: no-repeat;
	margin-right: auto;
	margin-left: auto;
}

.logoarea {
	font-size: 16px;
	color: #ffffff;
	background: #e71873;
	font-weight:bold;
	padding: 3px 10px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	letter-spacing:1px;
}