		<div class="pageCounter">
			<span class="num">1</span><span>件の人妻デリヘルがあります</span>
			<span><img src="/img/left.png" /><!-- a href="#" -->前へ<!-- /a -->　1/1ページ　<!-- a href="#" -->次へ<!-- /a --><img src="/img/right.png" /></span>
		</div>

<!--shop no1-->
		<div class="shopList_frame">
			<div>
				<a href="http://ishikawa.dhrank.com/10447" class="shopName">金沢美人妻クラブ</a>　<span class="kuchikomi">UP</span>
				<a href="http://ishikawa.dhrank.com/10447" class="css_btn_class">詳細を見る</a>
			</div>
			<div class="pay_mark clearfix">
				<!-- p class="pay_yoyaku">先行予約OK</p -->
				<!-- p class="pay_credit">クレジットOK</p -->
				<!-- p class="pay_ryoshu">領収書OK</p -->
				<!-- p class="pay_machi">待ち合わせOK</p -->
				<!-- p class="pay_cosplay">コスプレあり</p -->
				<!-- p class="pay_coupon">クーポンあり</p -->
			</div>
		</div>

		<div class="shopList_main clearfix">
			<div>
				<a href="http://ishikawa.dhrank.com/10447"><img src="http://img.dhrank.com/shop/10447/image_list.jpg" width="160" height="210" class="img_frame" /></a>
			</div>
			<div>
				<p class="catchCopy"><b><strong>▼金沢屈指のハイクオリティ人妻店▼</strong></b></p>
				<p>ピュア美人妻・プレミア美人妻・セクシー美人妻・ナチュラル美人妻も揃って入店致しました！！ ～安全・安心・信頼の金沢Ｎｏ,1クラス！美...</p>
				<div class="shopListLeft">
					<dl class="clearfix">
						<dt>営業時間</dt>
						<dd>09:30〜04:00</dd>
						<dt>最低料金</dt>
						<dd>12000円〜</dd>
						<dt>住所</dt>
						<dd>金沢発</dd>
					</dl>
					<p class="shopNum">
						<span class="zaiseki">在籍数:</span><span class="num">67人</span>
						<span class="kuchikomi2">口コミ:</span><span class="num">0件</span>
					</p>
				</div>
				<div class="shopListRight">
					<a href="http://ishikawa.dhrank.com/10447" class="css_btn_more">詳細を見る</a><a href="#" class="css_btn_bookmark">お気に入りに保存</a><!-- <p><img src="/img/shop_banner.jpg" /></p> -->
				</div>
				<div class="shopListBottom clearfix">
					<ul>
						<li><span class="type1">新規</span>coming soon</li>
						<li><span class="type2">会員</span>coming soon</li>
					</ul>
				</div>
			</div>
		</div>
<!-- /shop no1 -->

