<section id="middle" class="two">

    <div class="title_bar">クーポン削除完了</div> 
    <div id="timeLineArea" class="inner">
		<p>クーポンの削除が完了しました。</p>

		<div align="center" style="margin-top:40px;">
<!--
			<a href="<?php echo $parent_user['LargeArea']['url'] . $parent_user['User']['id'] ?>/systems" target="_blank" class="member_girls_button">確認する</a>
-->
			<a href="<?php echo $linkCommon->get_coupons_index() ?>" class="member_girls_button">クーポン管理に戻る</a>
		</div>
	</div>
</section>

<?php //echo var_dump($shop);?>
<?php //echo var_dump($today_girls);?>
<?php // echo $this->element('sql_dump'); ?>

