<div class="container">
	<!-- eyecatchArea -->
    <div id="eyecatchArea">
    
		<div class="inner clearfix">
			<div class="left">
				<div id="slider1_wrapper">
					<div id="slider1">
				<!--  <div><a href="#"><img src="/img/mainarea_slider00_img.jpg" height="210" width="320"></a></div> -->
					<div><a href="http://miyazaki.dhrank.com/12682"><img src="http://img.dhrank.com/banner/bigbanner/miyazaki/windy640x420.jpg" height="210" width="320"></a></div>
				<!--  <div><a href="shop_index.php"><img src="/img/mainarea_slider01_img.jpg" height="210" width="320"></a></div>
					  <div><a href="shop_index.php"><img src="/img/mainarea_slider01_img.jpg" height="210" width="320"></a></div>
					  <div><a href="shop_index.php"><img src="/img/mainarea_slider01_img.jpg" height="210" width="320"></a></div> -->
					</div>
				</div>

				<div id="slider2_wrapper">
					<div id="slider2">
						<?php echo $this->element('sidebar/news'); ?>
					</div>
				</div>
			</div>

			<div class="right">
            	<div id="slider3_wrapper">
                	<div id="slider3">
					<!--	<div><img src="/img/mainarea_mainimg1.jpg" alt="" height="300" width="500"></div> -->
							<div><a href="http://miyazaki.dhrank.com/12682"><img src="http://img.dhrank.com/banner/bigbanner/miyazaki/windy1000x435.jpg" alt="" height="300" width="500"></a></div>
                      <!--  <div><img src="/img/mainarea_mainimg1.jpg" alt="" height="300" width="500"></div>
                        <div><img src="/img/mainarea_mainimg1.jpg" alt="" height="300" width="500"></div>
                        <div><img src="/img/mainarea_mainimg1.jpg" alt="" height="300" width="500"></div> -->
            		</div>
            	</div>
			</div>
		</div>
        
	</div>
	<!-- / mainArea -->
</div>