
<h3>全国リンク集表示順</h3>

<?php echo $form->create(null,array('type'=>'post','action'=>'')); ?>
<?php echo $form->hidden('Meta.id'); ?>
<?php echo $form->hidden('Meta.name'); ?>
<table>
	<tr>
		<th width="300">表示順</th>
		<td><?php echo $form->select('Meta.value',$link_order,null,array('empty'=>'選んでください')); ?>
		<?php echo $form->error('Meta.value'); ?></td>
	</tr>
</table>
<?php echo $form->end('送信'); ?>

