	<div class="title title05">
		<h2>RECOMMEND SHOP<span class="small">おすすめ店舗</span></h2>
	</div>

	<div class="wrapper clearfix">

		<div class="box">
			<a href="http://nagano.dhrank.com/12709/">
				<img src="http://img.dhrank.com/banner/recommend/nagano/milkshake.jpg" width="191" height="56">
			</a>
			<p class="tt">ミルクシェイク</p>
			<p class="caption">デリヘル</p>
			<p>
　
			</p>
		</div>

	</div>
