	<div class="title title05">
		<h2>RECOMMEND SHOP<span class="small">おすすめ店舗</span></h2>
	</div>

	<div class="wrapper clearfix">

		<div class="box">
			<a href="http://fukui.dhrank.com/12713">
				<img src="http://img.dhrank.com/shop/12713/image_recommend.jpg" width="191" height="56">
			</a>
			<p class="tt">クラブトパーズ</p>
			<p class="caption">デリヘル</p>
			<p>
福井に、心と体を解き放つ特別なひとときを… 貴方と彼女の一時の出会いが、生命と美の象徴である宝石のごとく、いつまでも色褪せない素敵な思い出になりますように… 当店の妥協なき審査基準により、厳選された女性のみ在籍しております。 代わり映えのない日常に、比類ない美しき花を一輪、添えてみてはいかがでしょうか。
			</p>
		</div>

	</div>