	<div class="title title05">
		<h2>RECOMMEND SHOP<span class="small">おすすめ店舗</span></h2>
	</div>

	<div class="wrapper clearfix">

		<div class="box">
			<a href="http://nagasaki.dhrank.com/8606"><img src="http://img.dhrank.com/shop/8606/image_recommend.jpg" width="191" height="56"></a>
			<p class="tt">ティンカーベル</p>
			<p class="caption">デリヘル</p>
			<p>佐世保で一番の信頼と実績!!貴方のオンリーワンがきっと見つかります。
１０代～人妻さんまで幅広く厳選して在籍してます。
きっと貴方好みの女の子が見つかりますよ♪♪
			</p>
		</div>

		<div class="box">
			<a href="http://nagasaki.dhrank.com/8566"><img src="http://img.dhrank.com/shop/8566/image_recommend.jpg" width="191" height="56"></a>
			<p class="tt">HAREM</p>
			<p class="caption">デリヘル</p>
			<p>女の子のレベルに徹底的にこだわり、妥協のないサービス教育でお客様を確実に満足させて頂きます。
お客様第一主義を掲げ、最高のデリバリーヘルスを目指す!それが「ハーレム」の志です。
			</p>
		</div>


		<div class="box">
			<a href="http://nagasaki.dhrank.com/8571"><img src="http://img.dhrank.com/shop/8571/image_recommend.jpg" width="191" height="56"></a>
			<p class="tt">アップルティ長崎店</p>
			<p class="caption">アロマ・エステ・デリヘル</p>
			<p>
			</p>
		</div>


	</div>
