	<div class="title title05">
		<h2>RECOMMEND SHOP<span class="small">おすすめ店舗</span></h2>
	</div>

	<div class="wrapper clearfix">

		<div class="box">
			<a href="http://shinagawagotanda.dhrank.com/12672">
				<img src="http://img.dhrank.com/banner/recommend/shinagawa/classmate.jpg" width="191" height="56">
			</a>
			<p class="tt">クラスメイト</p>
			<p class="caption">デリヘル</p>
			<p>素人美少女との運命の出会いが此処に!!♪♪錦糸町から素人可憐な未経験お姉さま＆お嬢様を最速ご案内!!★絶対美少女宣言！！業界未経験多数在籍の素人ロリ専門イメクラ★可愛いJKコスで貴方の妄想がリアルな現実に・・・。是非お越しくださいませ！！</p>
		</div>

		<div class="box">
			<a href="http://shinagawagotanda.dhrank.com/6599">
				<img src="http://img.dhrank.com/shop/6599/image_recommend.jpg" width="191" height="56">
			</a>
			<p class="tt">品川しろうさぎ</p>
			<p class="caption">アロマ・エステ・デリヘル</p>
			<p>都会のしがらみの中で疲れた心と体を大人の日本人女性が貴方を癒します。 
オールヌードの女性から包み込むような手で全身をマッサージされ、体の中から疲れが出て行く感覚。そして、溜まったものを出し尽くす開放感。 
大人の女性が貴方の心と体を開放するため、優しく、指圧・アロマ・オイルで全身をマッサージ。 
貴方はすべてをまかせてリラックスして下さい。 
お客様に合わせたマッサージスタイルで、お客様を癒します。

★オールヌード、相互タッチが無料です。 
70分16,000円（サービス価格）</p>
		</div>

		<div class="box">
			<a href="http://shinagawagotanda.dhrank.com/12673">
				<img src="http://img.dhrank.com/shop/12673/image_recommend.jpg" width="191" height="56">
			</a>
			<p class="tt">プリンセス東京</p>
			<p class="caption">デリヘル</p>
			<p>プリンセス東京ではハイレベルな女の子を求めるが故に総在籍数はまだ多くはありません。
しかしながら、都内屈指のハイレベルデリバリーヘルスとなるべく、採用面接を厳しく行っておりますので、いわゆる「ハズレ」的なコンパニオンは皆無と自負しております！！値段だけが安い大衆店、値段ばかりが高い高級店などを利用して失敗した経験のあるお客様なら、なおさら当店の良さをご理解いただける自信があります！

少数精鋭・厳選したコンパニオンのみを皆様のもとへとお届けし、お客様に必ずご満足して楽しんでいただける様、今後もスタッフ一同日々努力してまいります！</p>
		</div>

		<div class="box">
			<a href="http://shinagawagotanda.dhrank.com/12674">
				<img src="http://img.dhrank.com/shop/12674/image_recommend.jpg" width="191" height="56">
			</a>
			<p class="tt">CLUB-G</p>
			<p class="caption">その他</p>
			<p>アイマスクと手枷をされて若い女の子に弄ばれる極上受け身プレイ！Ｍ男性ならずとも、是非体験してみてください。新たな自分を発見できるかもしれません！ミステリアスな五反田には官能的な風俗店が沢山あります。その中でも『CLUB G』は拘束プレイを中心にした風俗店です。拘束に感じる男性の方……。

ぜひ一度ご来店頂けますようお待ち申し上げます。</p>
		</div>

		<div class="box">
			<a href="http://shinagawagotanda.dhrank.com/12685">
				<img src="http://img.dhrank.com/shop/12685/image_recommend.jpg" width="191" height="56">
			</a>
			<p class="tt">新橋たっち</p>
			<p class="caption">その他</p>
			<p>「学園・コスプレ・ナース」といった人気のコスプレを
若くてキュートな10代、20代前半の女のコ達に着せて、
もしも痴漢ができるとしたら…!?
そんなイケナイ妄想を現実のものにできちゃうイメクラ「新橋たっち」。
ロリ好き、コスプレ好き、そしてイメクラ好きは行かないと絶対に損するぞ！</p>
		</div>

		<div class="box">
			<a href="http://shinagawagotanda.dhrank.com/6768">
				<img src="http://img.dhrank.com/shop/6788/image_recommend.jpg" width="191" height="56">
			</a>
			<p class="tt">人妻時代69</p>
			<p class="caption">人妻デリヘル</p>
			<p>
人妻派遣型ヘルス　人妻時代69

20代の若妻～40代の熟女妻まで
素人奥様と普段味わえない『秘密の関係』になってみては？？

フリーでのお遊びも、タイプ指名⇒無料になってますので、安心してお遊び下さい。
サービスもお客様に満足して頂けるように、心がけております。
			</p>
		</div>


	</div>

