	<div class="title title05">
		<h2>RECOMMEND SHOP<span class="small">おすすめ店舗</span></h2>
	</div>

	<div class="wrapper clearfix">

		<div class="box">
			<a href="http://kochi.dhrank.com/12775">
				<img src="http://img.dhrank.com/shop/12775/image_recommend.jpg" width="191" height="56">
			</a>
			<p class="tt">クイーン</p>
			<p class="caption">デリヘル</p>
			<p>
四国トップクラスの美女達と、恋人気分を楽しみませんか？？
			</p>
		</div>

	</div>