<!doctype php>
<?php require("fukuoka/parts/head.php"); ?>
<body>
<!-- header -->
<header>
	<div class="container">
		<h1>ランキングと口コミで探せるデリヘル情報サイト・在籍女の子一覧</h1>


		<div class="header_form">
        ようこそ <a href="./fukuoka/shop_index.php" target="_blank">一夜妻</a>様　
        	<p class="redBtn barBtn"><a href="entrance.php">ログアウト</a></p>
        </div>
	</div>
</header>
<!-- / header -->
    
    
    <div id="topic_path">
        <a href="shop_top.php">店舗管理・トップページ</a>
        <a href="shop_shops.php">表示順位変更</a>
    </div>


	<section class="container">

	<h2 class="heading">一夜妻様・女の子管理</h2>

    	<!-- menu -->
		<section id="menu" class="two">
        	<?php include("./fukuoka/parts/menu_shop.php"); ?>
        </section>

		<!-- middle -->
        
        <section id="middle" class="two">
           
<div id="shop_tabs" class="out">
	<div class="container">
		<div class="box clearfix">
           	<div class="list">
				<ul class="clearfix">
					<li class="redBtn barBtn"><a href="shop_add.php">女の子登録</a></li>
					<li class="redBtn barBtn"><a href="shop_girls.php">女の子一覧</a></li>
					<li class="redBtn barBtn"><a href="shop_orders.php">表示順位変更</a></li>
                </ul>
			</div>
        </div>
	</div>
</div>
     
        	<div class="title_bar">女の子表示順位編集</div> 
        	<div id="timeLineArea" class="inner">
            
            	<div class="new_reviewArea clearfix">
                	
女の子表示順位編集


	<form id="GirlIndexForm" method="post" action="/girls_orders" accept-charset="utf-8"><div style="display:none;"><input type="hidden" name="_method" value="POST" /></div>	<table class="profileedit_table">
		    	<tr>
        	<td class="profileedit_td1"><img src="/images/icon_table.jpg" />name:ルミ子(22)</td>
            <td class="profileedit_td2">
				<select name="data[Girl][0][show_order]" id="Girl0ShowOrder">
<option value="">選択してください</option>
<option value="1">1</option>
</select>番目に表示
				<input type="hidden" name="data[Girl][0][id]" value="344" id="Girl0Id" />			</td>
        </tr>
		    	<tr>
        	<td class="profileedit_td1"><img src="/images/icon_table.jpg" />name:ルミ子(22)</td>
            <td class="profileedit_td2">
				<select name="data[Girl][0][show_order]" id="Girl0ShowOrder">
<option value="">選択してください</option>
<option value="2">2</option>
</select>番目に表示
				<input type="hidden" name="data[Girl][0][id]" value="344" id="Girl0Id" />			</td>
        </tr>
		    	<tr>
        	<td class="profileedit_td1"><img src="/images/icon_table.jpg" />name:ルミ子(22)</td>
            <td class="profileedit_td2">
				<select name="data[Girl][0][show_order]" id="Girl0ShowOrder">
<option value="">選択してください</option>
<option value="3">3</option>
</select>番目に表示
				<input type="hidden" name="data[Girl][0][id]" value="344" id="Girl0Id" />			</td>
        </tr>
        
		    </table>

<div align="center" style="margin-top:40px;">
<div class="submit"><input class="btn_navi" type="submit" value="表示順位変更" /></div></div>
</form>
    
<div style="margin-bottom:20px"><br /></div>

            	</div>
                    
        	</div>
    	</section>
        <!-- / middle -->
        
	</section>

    
    <?php require("fukuoka/parts/footer2.php"); ?>
</body>
</php>