		<div class="pageCounter">
			<span class="num">2</span><span>件のその他のデリヘルがあります</span>
			<span><img src="/img/left.png" /><!-- a href="#" -->前へ<!-- /a -->　1/1ページ　<!-- a href="#" -->次へ<!-- /a --><img src="/img/right.png" /></span>
		</div>

		<!-- shop no1 -->
		<div class="shopList_frame">
			<div>
				<a href="http://shinagawagotanda.dhrank.com/12674" class="shopName">CLUB-G</a>　<span class="kuchikomi">UP</span>
				<a href="http://shinagawagotanda.dhrank.com/12674" class="css_btn_class">詳細を見る</a>
			</div>
			<div class="pay_mark clearfix">
				<!-- p class="pay_yoyaku">先行予約OK</p -->
				<!-- p class="pay_credit">クレジットOK</p -->
				<!-- p class="pay_ryoshu">領収書OK</p -->
				<!-- p class="pay_machi">待ち合わせOK</p -->
				<p class="pay_cosplay">コスプレあり</p>
				<!-- p class="pay_coupon">クーポンあり</p -->
			</div>
		</div>

		<div class="shopList_main clearfix">
			<div>
				<a href="http://shinagawagotanda.dhrank.com/12674"><img src="http://img.dhrank.com/shop/12674/image_list.jpg" width="160" height="210" class="img_frame" /></a>
			</div>
			<div>
				<p class="catchCopy"><b><strong>▼拘束プレイのことなら『CLUB G』 にお任せ！▼</strong></b></p>
				<p>アイマスクと手枷をされて若い女の子に弄ばれる極上受け身プレイ！Ｍ男性ならずとも、是非体験してみてください。新たな自分を発見できるかも...</p>
				<div class="shopListLeft">
					<dl class="clearfix">
						<dt>営業時間</dt>
						<dd>12:00〜23:00</dd>
						<dt>最低料金</dt>
						<dd>13000円〜</dd>
						<dt>住所</dt>
						<dd>五反田発～</dd>
					</dl>
					<p class="shopNum">
						<span class="zaiseki">在籍数:</span><span class="num">17人</span>
						<span class="kuchikomi2">口コミ:</span><span class="num">0件</span>
					</p>
				</div>
				<div class="shopListRight">
					<a href="http://shinagawagotanda.dhrank.com/12674" class="css_btn_more">詳細を見る</a><a href="#" class="css_btn_bookmark">お気に入りに保存</a><!-- <p><img src="/img/shop_banner.jpg" /></p> -->
				</div>
				<div class="shopListBottom clearfix">
					<ul>
						<li><span class="type1">新規</span>coming soon</li>
						<li><span class="type2">会員</span>coming soon</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /shop no1 -->


		<!-- shop no2 -->
		<div class="shopList_frame">
			<div>
				<a href="http://shinagawagotanda.dhrank.com/12685" class="shopName">新橋たっち</a>　<span class="kuchikomi">UP</span>
				<a href="http://shinagawagotanda.dhrank.com/12685" class="css_btn_class">詳細を見る</a>
			</div>
			<div class="pay_mark clearfix">
				<!-- p class="pay_yoyaku">先行予約OK</p -->
				<!-- p class="pay_credit">クレジットOK</p -->
				<!-- p class="pay_ryoshu">領収書OK</p -->
				<!-- p class="pay_machi">待ち合わせOK</p -->
				<!-- p class="pay_cosplay">コスプレあり</p -->
				<!-- p class="pay_coupon">クーポンあり</p -->
			</div>
		</div>

		<div class="shopList_main clearfix">
			<div>
				<a href="http://shinagawagotanda.dhrank.com/12685"><img src="http://img.dhrank.com/shop/12685/image_list.jpg" width="160" height="210" class="img_frame" /></a>
			</div>
			<div>
				<p class="catchCopy"><b><strong>　</strong></b></p>
				<p>　</p>
				<div class="shopListLeft">
					<dl class="clearfix">
						<dt>営業時間</dt>
						<dd>09:00〜09:00</dd>
						<dt>最低料金</dt>
						<dd>　</dd>
						<dt>住所</dt>
						<dd>円〜</dd>
					</dl>
					<p class="shopNum">
						<span class="zaiseki">在籍数:</span><span class="num">58人</span>
						<span class="kuchikomi2">口コミ:</span><span class="num">0件</span>
					</p>
				</div>
				<div class="shopListRight">
					<a href="http://shinagawagotanda.dhrank.com/12685" class="css_btn_more">詳細を見る</a><a href="#" class="css_btn_bookmark">お気に入りに保存</a><!-- <p><img src="/img/shop_banner.jpg" /></p> -->
				</div>
				<div class="shopListBottom clearfix">
					<ul>
						<li><span class="type1">新規</span>coming soon</li>
						<li><span class="type2">会員</span>coming soon</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /shop no2 -->
