
<?php
$news_modified ="";
foreach($news_list as $key => $record){
	$news_modified_tmp = date('Y/m/d', strtotime($record[0]['news_modified']));
	if($news_modified != $news_modified_tmp){?>
		<div data-role="collapsible" data-collapsed="true">
		<h3><?php echo $news_modified_tmp?></h3>
 		<p>
		<?php $news_modified = $news_modified_tmp;
	}?>

	<?php if($record[0]['id'] == 'Shop'){?>
		<!-- <?php echo date('G：i', strtotime($record[0]['news_modified']))?> -->【<font style="color:#FF6347">新店</font>】<a href="<?php echo $linkCommon->get_user_shop($record)?>"><?php echo $record['Shop']['name']?></a>を追加<br />
	<?php }elseif($record[0]['id'] == 'Girl'){?>
		<!-- <?php echo date('G：i', strtotime($record[0]['news_modified']))?> -->【<font style="color:#1E90FF">新人</font>】<a href="<?php echo $linkCommon->get_user_shop($record)?>"><?php echo $record['Shop']['name']?></a>に
			<a href="<?php echo $linkCommon->get_user_girl($record)?>"><?php echo $record['Girl']['name'] ?>ちゃん</a>追加<br />
	<?php }elseif($record[0]['id'] == 'Review'){?>
		<!-- <?php echo date('G：i', strtotime($record[0]['news_modified']))?> -->【<font style="color:#1E90FF">口コミ</font>】<a href="<?php echo $linkCommon->get_user_shop($record)?>"><?php echo $record['Shop']['name']?></a>の
					<a href="<?php echo $linkCommon->get_user_girl($record)?>"><?php echo $record['Girl']['name'] ?>ちゃん</a>
				<a href="<?php echo $linkCommon->get_user_review($record)?>">口コミ</a>報告<br />
	<?php }?>

<?php if(empty($news_list[$key+1][0]['news_modified']) ||
$news_modified_tmp != date('Y/m/d',
strtotime($news_list[$key+1][0]['news_modified']))){?>

		</p>
		</div>
	<?php }?>
<?php }?>

