<h1>口コミ検索</h1><h2>非掲載理由一覧</h2>
<table border="1">
<?php
	foreach ($datas as $key => $val)
	{
		echo '<tr>';
		echo '<td>ID:</td><td>' . $val['reviews']['id'] . '</td>';
		echo '</tr>';
		echo '<tr>';
		echo '<td>レビュー内容</td><td>' . $val['reviews']['comment']. '</td>';
		echo '</tr>';
		echo '<td>通報理由</td><td>' . $val['reviews_reports']['comment']. '</td>';
		echo '</tr>';
		echo '<td>非掲載の理由</td><td>' . $val['m_reviews_reports_types']['name']. '</td>';
		echo '</tr>';
	}
?>
</table>
