<h1>口コミ検索</h1>

<h2>お店別の口コミ</h2>

<h2>
<?php
	echo $kana_line;
?>
行</h2>
<table border="1">
<?php
	foreach($review_datas as $key => $val)
	{
		if (($key % 3) == 0) echo '<tr>';
		echo '<td><a href="http://osakam.19800210.com/'.$val['Shop']['user_id'].'">' . $val['Shop']['name']. '</a> 口コミ('.$val[0]['cnt'].'件)</td>';
		if (($key % 3) == 2) echo '</tr>';

	}
?>
</table>
