
<script type="text/javascript">
<!--
<?php for($i=0;$i<4;$i++){?>
function changeImagePcPhoto<?php echo (string)($i+1)?>(){
	<?php if($girl['Girl']['image_' . (string)($i+1) . '_l']){ ?>
		<?php //start---2013/4/25 障害No.4-0001修正 ?>
		//document.main_girl.src="<?php echo APP_IMG_URL . 'girl/' . $girl['Girl']['id'] . '/' . $girl['Girl']['image_' . (string)($i+1) . '_l'] ?>";
		document.main_girl.src="<?php echo APP_IMG_URL . 'girl/'. $girl['Girl']['user_id'] . '/' . $girl['Girl']['id'] . '/' . $girl['Girl']['image_' . (string)($i+1) . '_l'] ?>";
		<?php //end---2013/4/25 障害No.4-0001修正 ?>
	<?php }else{ ?>
		document.main_girl.src="<?php echo APP_IMG_URL . 'common/girl_l.jpg' ?>";
	<?php } ?>
}
<?php } ?>
// -->
</script>

<div class="girls_profile_left">
	<?php echo $imgCommon->get_girl($girl, 'l', 1, 'main_girl')?><br  />
<!--	<?php for($i=0;$i<4;$i++){?><a href="" onmouseover="changeImagePcPhoto<?php echo (string)($i+1)?>()"><?php echo $imgCommon->get_girl($girl, 's', $i+1)?></a><?php }?> -->
</div>
<div class="girls_profile_right">

	<table class="profile_table">
    	<tr>
        	<td class="profile_td1"><img src="/images/icon_table.jpg" />名前</td>
            <td class="profile_td2"><span class="spot6"><?php echo $girl['Girl']['name']?></span></td>
        </tr>
    	<tr>
        	<td class="profile_td1"><img src="/images/icon_table.jpg" />年齢</td>
            <td class="profile_td2"><?php echo $girl['Girl']['age']?><span class="small">歳</span></td>
        </tr>
    	<tr>
        	<td class="profile_td1"><img src="/images/icon_table.jpg" />3サイズ</td>
            <td class="profile_td2"><?php echo $textCommon->get_3size_on_profile($girl)?></td>
        </tr>
    	<tr>
        	<td class="profile_td1"><img src="/images/icon_table.jpg" />身長</td>
            <td class="profile_td2"><?php echo $girl['Girl']['body_height']?><span class="small">cm</span></td>
        </tr>
    </table>

<p style="text-align:right">
		<?php if($parent_reviewer){?>
		<?php
		$this->Html->script('jquery');

		$this->Js->get('#bookmark_girl');
		$request = $this->Js->request('/' . $parent_shop['User']['id'] . '/getAjax_update_bookmark_girl/' . $girl['Girl']['id'],
				array(
						'method' => 'get',
						'sync' => true,
						'update' => '#bookmark_girl',
				)
		);
		$this->Js->event('click',$request);
		echo $this->Js->writeBuffer();
		?>
		<a href="#" style="position:bottom">
		<span id="bookmark_girl">
			<?php if($bookmark_girl == 0){?>
			<img src="/images/bookmark.png" />
			<?php }else{?>
			<img src="/images/bookmark_off.png" />
			<?php }?>
		</span>
		</a>
		<?php }else{?>
		<a href="<?php echo $linkCommon->get_accounts_login($parent_area);?>"><img src="/images/bookmark.png" /></a>
		<?php }?>
</p>
<?php if($this->params["action"] != 'add_review_girl' && $this->params["action"] != 'add_review_girl_confirm' && $this->params["action"] != 'add_review_girl_end'){?>
<p style="margin-top:20px;">
	<a href="<?php echo $linkCommon->get_user_add_review_girl($girl)?>" class="btn_post">この女の子の口コミを投稿する</a>
<!--
	<a href="<?php echo $linkCommon->get_user_add_review_girl($girl)?>" class="btn_post"><?php echo $girl['Girl']['name']?>さんの口コミを投稿する</a>
	-->
</p>
<?php }?>

</div>

<br class="clear" />