<div style="padding:10px; text-align:center;">
	<?php echo $imgCommon->get_girl($girl, 'l', 1, 'main_girl')?>
</div>

<!--
<div id="mainImages" class="mainImageInit">
	<ul>
		<?php for($i=0;$i<4;$i++){?><li id="mainImage"><?php echo $imgCommon->get_girl($girl, 'l', $i+1)?></li><?php }?>
	</ul>
</div>
-->

<div class="profile">
	<?php echo $girl['Girl']['name']?> &nbsp; <span class="small"><?php echo $girl['Girl']['age']?>歳</span><br />
	<div class="small"><?php echo $girl['Girl']['body_height']?>cm &nbsp; <?php echo $textCommon->get_3size_on_profile($girl)?>

		<?php if($parent_reviewer){?>
		<?php
		$this->Html->script('jquery');

		$this->Js->get('#bookmark_girl');
		//start---2013/3/13 障害No.1-6-0002修正
		//$request = $this->Js->request('/' . $parent_shop['User']['id'] . '/getAjax_update_bookmark_girl/' . $girl['Girl']['id'],
		$request = $this->Js->request('/s/' . $parent_shop['User']['id'] . '/getAjax_update_bookmark_girl/' . $girl['Girl']['id'],
		//end---2013/3/13 障害No.1-6-0002修正
				array(
						'method' => 'get',
						'sync' => true,
						'update' => '#bookmark_girl',
				)
		);
		$this->Js->event('click',$request);
		echo $this->Js->writeBuffer();
		?>
		<div style="vertical-align:top;float:right">
		<a href="#" style="position:bottom">
		<span id="bookmark_girl">
			<?php if($bookmark_girl == 0){?>
			<img src="/images/s/bookmark.png" width="63px" />
			<?php }else{?>
			<img src="/images/s/bookmark_off.png" width="63px" />
			<?php }?>
		</span>
		</a>
		</div>
		<?php }else{?>
		<a href="<?php echo $linkCommon->get_accounts_login($parent_area);?>"><img src="/images/s/bookmark.png" style="vertical-align:top;float:right" width="63px" /></a>
		<?php }?>

	</div>
</div>


<?php if($this->params["action"] != 's_add_review_girl' && $this->params["action"] != 's_add_review_girl_confirm' && $this->params["action"] != 's_add_review_girl_end'){?>
<p style="margin-top:20px; text-align:center">
	<a href="<?php echo $linkCommon->get_user_add_review_girl($girl)?>" class="btn_post">この女の子の口コミを投稿する</a>
<!--	<a href="<?php echo $linkCommon->get_user_add_review_girl($girl)?>" class="btn_post"><?php echo $girl['Girl']['name']?>さんの口コミを投稿する</a> -->
</p>
<?php }?>


<br />






