@charset 'UTF-8';
#scrollUp
{
    right: 20px;
    bottom: 20px;

    width: 38px;
    height: 38px;

    text-indent: -9999px;

    outline: none;
    background: url(../img/top.png) no-repeat top;
}

/* ==========================================================================
   common area
   ========================================================================== */
.redBtn
{
    text-align: center;

    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    background-image: -webkit-linear-gradient(bottom, #ff858d 5%, #f74b5f 100%);
    background-image: -webkit-linear-gradient(top, #ff858d 5%, #f74b5f 100%);
    background-image:         linear-gradient(to bottom, #ff858d 5%, #f74b5f 100%);
}
.redBtn a
{
    display: block;

    text-decoration: none;

    color: #fff !important;
}

.whiteBtn
{
    text-align: center;

    border: 1px solid #cbcbcb;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    background-image: -webkit-linear-gradient(bottom, white 50%, #ececec 100%);
    background-image: -webkit-linear-gradient(top, white 50%, #ececec 100%);
    background-image:         linear-gradient(to bottom, white 50%, #ececec 100%);
}
.whiteBtn a
{
    display: block;

    text-decoration: none;

    color: #666 !important;
}

/* img_frame/画像の枠囲み --------------------------------------------------------------------*/
.img_frame
{
    padding: 2px;

    border: 1px solid #eee;
}

/* header --------------------------------------------------------------------*/
header
{
    height: 25px;
    padding-top: 2px;

    border-bottom: 2px solid #e4007f;
    background: url(../img/head_top_bg.png) repeat;
}
header h1
{
    font-size: 10px;
    line-height: 23px;

    float: left;

    padding-top: 1px;
    padding-left: 50px;

    color: #d4bdab;
    background: url(../img/header_logo.gif) no-repeat left;
}
header h1 span
{
    font-size: 13px;
    font-weight: bold;
    line-height: 13px;
}

.header_form
{
    float: right;

    padding-top: 2px;

    color: #d4bdab;
}
.header_form a
{
    text-decoration: none;

    color: #fff;
}
.header_form *
{
    display: inline-block;

    vertical-align: top;
}

.barBtn a
{
    padding: 2px 10px;
}

.header_form input[type=text]
{
    height: 20px;
}

.radioBox input
{
    display: none;
}
.radioBox label
{
    font-size: 12px;

    display: block;
    float: left;

    width: 40px;
    margin: 3px;

    cursor: pointer;
    text-align: center;
    text-decoration: underline;

    color: #999;
}
.radioBox input[type='radio']:checked + .switch-shop,
.radioBox input[type='radio']:checked + .switch-girl
{
    color: #fff;
}

/* topic_path --------------------------------------------------------------------*/
#topic_path
{
    width: 880px;
    margin: 10px auto 18px auto;
}
#topic_path a:first-child:before
{
    margin-right: 5px;

    content: url('../img/icon_home.png');
}
#topic_path a:after
{
    margin: 0 10px;

    content: url('../img/right.png');
}
#topic_path a:last-child:after
{
    margin: 0;

    content: '';
}

/* container --------------------------------------------------------------------*/
.container
{
    overflow: hidden;

    width: 880px;
    margin: 0 auto;
}

.container_footer
{
    overflow: hidden;

    width: 880px;
    margin: 0 auto;
}

/* info_bar --------------------------------------------------------------------*/
#info_bar
{
    height: 32px;

    background: #59524c;
}
#info_bar.out .list
{
    float: right;

    margin-top: 6px;
}
#info_bar.out .list li
{
    display: inline-block;
}
#info_bar.out .list li.nickname
{
    font-weight: bold;

    margin-right: 20px;

    color: white;
}
#info_bar.in .list
{
    float: left;

    margin: 0;
}
#info_bar.in .list li
{
    display: inline-block;

    padding: 7px 15px;
}
#info_bar.in .list li.selected
{
    color: #fff;
    background: #333;
}
#info_bar.in .list li a
{
    text-decoration: none;

    color: fff;
}

/* middle --------------------------------------------------------------------*/
#middle
{
    float: left;
}
#middle a
{
    color: #cd4d72;
}
#middle.wide
{
    width: 675px;
    margin-right: 20px;
}
#middle.narrow
{
    width: 606px;
    margin-right: 20px;
}
#middle.full
{
    width: 880px;
}

/* 2c */
/* 1c */
/* ==========================================================================
   eyecatch slider
   ========================================================================== */
#eyecatchArea
{
    width: 890px;
    height: 330px;
    margin: 10px 0;

    background: url(../img/main_contents_bg.jpg) no-repeat;
}
#eyecatchArea .left
{
    float: left;
}
#eyecatchArea .right
{
    float: right;

    margin-top: 16px;
    margin-right: 23px;
}

/* slider1 */
#slider1_wrapper
{
    width: 318px;
    height: 240px;
    margin-top: 16px;
    margin-left: 25px;
}
#slider1_wrapper .bx-prev
{
    z-index: 999;
    left: -15px;

    width: 15px;
    height: 38px;

    background: url(../img/mainarea_slider01_left.png) no-repeat;
}
#slider1_wrapper .bx-next
{
    z-index: 999;
    right: -15px;

    width: 15px;
    height: 38px;

    background: url(../img/mainarea_slider01_right.png) no-repeat;
}

#slider1
{
    width: 318px;

    text-align: left;
}

#slider1_wrapper .bx-pager
{
    width: 100px;
    margin-left: 240px;
}

/* slider2 */
#slider2_wrapper
{
    overflow: hidden;

    width: 288px;
    height: 35px;
    margin-left: 25px;
    padding: 10px 15px;

    border-radius: 2px;
    background: #fff;
}
#slider2_wrapper .bx-prev
{
    z-index: 999;
    left: -15px;

    width: 15px;
    height: 38px;

    background: url(../img/mainarea_slider02_left.jpg) no-repeat;
}
#slider2_wrapper .bx-next
{
    z-index: 1000;
    right: -15px;

    width: 15px;
    height: 38px;

    background: url(../img/mainarea_slider02_right.jpg) no-repeat;
}
#slider2_wrapper .bx-pager-item
{
    display: none;
}
#slider2_wrapper #slider2
{
    margin-left: 15px;
}
#slider2_wrapper .tt
{
    font-weight: bold;
    line-height: 110%;

    width: 90%;
    margin-bottom: 2px;

    color: #e4007e;
}
#slider2_wrapper .date
{
    font-size: 11px;
    font-weight: bold;
}

/* slider3 */
#slider3_wrapper
{
    width: 500px;
    height: 300px;
    margin-top: 0;
    margin-left: 0;
}
#slider3_wrapper .bx-prev
{
    z-index: 999;
    left: -15px;

    width: 15px;
    height: 38px;

    background: url(../img/mainarea_slider01_left.png) no-repeat;
}
#slider3_wrapper .bx-next
{
    z-index: 999;
    right: -15px;

    width: 15px;
    height: 38px;

    background: url(../img/mainarea_slider01_right.png) no-repeat;
}
#slider3_wrapper .bx-pager
{
    width: 100px;
    margin-left: 230px;
}

#slider3
{
    width: 500px;

    text-align: left;
}

.target
{
    padding-right: 18px;

    background: url(../img/target_img.png) no-repeat right 2px;
}

/* ==========================================================================
   two column
   ========================================================================== */
#middle.two
{
    font-size: 12px !important;

    position: relative;

    float: left;

    width: 655px;
    margin: 0 0 0 10px;
    padding: 25px;

    background: #eee;
}
#middle.two .inner
{
    padding: 50px 20px 20px 20px;

    background: #fff;
    -webkit-box-shadow: rgba(209, 209, 209, .65098) 0 0 6px 3px;
       -moz-box-shadow: rgba(209, 209, 209, .65098) 0 0 6px 3px;
            box-shadow: rgba(209, 209, 209, .65098) 0 0 6px 3px;
}

.title_bar
{
    font-size: 14px;

    position: absolute;

    width: 635px;
    height: 22px;
    padding: 5px 10px;

    color: #fff;
    background: #59524c;
}
.title_bar span
{
    font-size: 11px;

    float: right;

    margin-top: 3px;
    padding-left: 16px;

    background: url(../img/mini_arrow.png) no-repeat left 1px;
}
.title_bar span a
{
    text-decoration: none;

    color: #fff !important;
}

/* マイページ用 */
#timeLineArea .new_reviewArea .box
{
    margin-left: 50px;
}
#timeLineArea .new_reviewArea .summary
{
    width: 430px !important;
}
#timeLineArea .girlsArea > div
{
    width: 246px;
    margin-left: 50px;

    text-align: center;

    border: none;
}
#timeLineArea .girlsArea div > *
{
    float: none;
    clear: both;

    width: 246px;
    margin: 0 auto;
}

/*
#reviewListArea .new_reviewArea.mark:first-child:before{
	clear:both;
	float:none;
}
*/
#middle.two #timeLineArea .girlsArea img
{
    width: 180px;
    height: auto;
}

#timeLineArea #pay_shopList
{
    margin-left: 50px;
}
#timeLineArea .shopList_main > div
{
    /*	float:none!important; */
}

#reviewListArea .new_reviewArea .summary
{
    width: 480px;
}
#reviewListArea .new_reviewArea .box
{
    padding: 10px;
}

#middle.two .shopList_main
{
    width: 587px;
    padding: 0 14px 20px 14px;
}
#middle.two .shopList_main > div
{
    /*	width:587px; */
}
#middle.two .shopList_main.narrow
{
    width: 537px;
    padding: 0 14px 20px 14px;
}

#timeLineArea .shopList_main.narrow > div
{
    width: 537px !important;
}

#middle.two .girlsArea > div
{
    width: 143px;
    padding: 0 5px;
}
#middle.two .girlsArea img
{
    width: 120px;
    height: auto;
}

/* profileTable */
.profileTable table
{
    width: 100%;
    margin: 10px 0;

    table-layout: auto;
    border-collapse: collapse;

    color: #333;
}
.profileTable table *
{
    vertical-align: middle;
}
.profileTable table th
{
    width: 20%;
    padding: 10px;

    text-align: left;

    border: none;
}
.profileTable table td
{
    width: 30%;
    padding: 10px;

    text-align: left;

    border: none;
}

/* timeLine */
.timeLine
{
    margin: 30px 0 10px 0;
}
.timeLine:first-child
{
    margin: 0 0 10px 0;
}
.timeLine > div
{
    float: left;
}
.timeLine .text
{
    margin-left: 10px;
    padding: 5px 0;
}
.timeLine .date
{
    font-weight: bold !important;

    float: none !important;
}

/* followArea */
#followArea .box
{
    padding: 10px 0;

    border-bottom: 1px dotted #ccc;
}
#followArea .box > *
{
    float: left;
}
#followArea .box .img
{
    width: 86px;
    margin-right: 10px;
}
#followArea .box .summary
{
    width: 390px;
}
#followArea .box .summary > p
{
    margin-top: 3px;
}
#followArea .box .summary .name
{
    font-size: 14px;
    font-weight: bold;

    color: #cd4d72;
}
#followArea .box .summary .num
{
    margin-left: 15px;
}
#followArea .box .btn
{
    width: 120px;
}
#followArea .box .summary .category
{
    font-size: 11px;

    margin-right: 10px;
    padding: 3px 5px;

    color: #333;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    background: #efefef;
}

/* ==========================================================================
   menu
   ========================================================================== */
#menu.two
{
    font-size: 12px !important;

    float: left;

    width: 165px;
}
#menu.two > div
{
    margin-bottom: 15px;
    padding: 5px 5px 0 5px;
}
#menu.two .reviewerIconArea
{
    font-size: 11px;

    text-align: center;
}
#menu.two .reviewerIconArea img
{
    padding: 3px;
    /*	margin-bottom:10px;	*/

    border: 1px solid #d8d5c9;
}
#menu.two .reviewerIconArea a
{
    text-decoration: none;
}
#menu.two ul
{
    margin-bottom: 20px;
    padding-bottom: 20px;

    border-bottom: 1px solid #ccc;
}
#menu.two ul li
{
    font-weight: bold;
    line-height: 30px;

    height: 30px;
    padding-left: 20px;

    color: #cd4d72;
}
#menu.two ul li a
{
    text-decoration: none;
}
#menu.two ul li.select
{
    color: #333;
    background: url(../img/menu_bg.png) no-repeat center right;
}

/* followBox */
.followBox
{
    margin: 20px 0 !important;

    border-bottom: 1px solid #ccc;
}
.followBox > p
{
    font-weight: bold;

    color: #cd4d72;
}
.followBox .img
{
    margin-bottom: 20px;
}
.followBox .img p
{
    float: left;

    margin-right: 3px;
    margin-bottom: 3px;
}
.followBox .img p:nth-child(4n)
{
    margin-right: 0;
}
.followBox img
{
    display: block;

    width: 30px;
    height: 30px;
}

/* recommendUserArea */
.recommendUserArea > p:first-child
{
    font-weight: bold;

    margin-bottom: 15px;
}
.recommendUserArea .box
{
    margin-bottom: 20px;
}
.recommendUserArea .img
{
    float: left;

    margin-right: 4px;
}
.recommendUserArea .img img
{
    display: block;

    width: 30px;
    height: 30px;
}
.recommendUserArea .summary
{
    float: left;

    width: 115px;

    color: #666;
}
.recommendUserArea .name
{
    font-size: 11px;
    font-weight: bold;

    color: #cd4d72;
}
.recommendUserArea .num
{
    font-size: 11px;
}
.recommendUserArea .followBtn
{
    font-size: 11px;
    font-weight: bold;

    padding-left: 20px;

    background: url(../img/arrow.jpg) no-repeat left center;
}

/* ==========================================================================
   side
   ========================================================================== */
#side
{
    font-size: 12px !important;

    float: right;
}
#side.three
{
    font-size: 12px !important;

    float: left;

    width: 185px;
}
#side.three > div
{
    margin-bottom: 15px;
    padding: 5px 5px 0 5px;
}
#side.narrow
{
    width: 173px;
    padding: 5px 5px 0 5px;

    border: 1px solid #d8d5c9;
    background: #faf7f0;
}
#side.narrow > p
{
    font-size: 14px;
    font-weight: bold;

    color: #e84557;
}
#side.narrow > div
{
    margin-bottom: 5px;
    padding: 9px;

    border: 1px solid #d8d5c9;
    background: #fff;
    /*
  	border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
  	*/
}

/* three --------------------------------------------------------------------*/
/* narrow --------------------------------------------------------------------*/
.css_btn_login
{
    font-size: 14px;
    font-weight: bold;

    display: block;

    margin: 5px 0;
    padding: 5px 0;

    text-align: center;

    color: #e84557 !important;
    border: 1px solid #e5848e;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    background-image: -webkit-linear-gradient(bottom, white 5%, #fae5e9 100%);
    background-image: -webkit-linear-gradient(top, white 5%, #fae5e9 100%);
    background-image:         linear-gradient(to bottom, white 5%, #fae5e9 100%);
}

#side.narrow .panel
{
    font-weight: bold;

    margin-bottom: 5px;
    padding: 5px;

    color: #fff;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    background: #a9a398;
}
#side a.redLink:link
{
    color: #e84557;
}
#side a:link
{
    color: #4c4c80;
}
#side.narrow ul li
{
    margin-top: 5px;
}
#side.narrow ul li a
{
    text-decoration: underline;

    color: #4c4c80;
}
#side .category ul li
{
    padding-bottom: 5px;

    border-bottom: 1px solid #d8d5c9;
}
#side .category ul li:last-child
{
    border-bottom: none;
}
#side .ranking > p
{
    padding-left: 10px;

    background: url(../img/icon_next.png) no-repeat center left;
}
#side.wide
{
    width: 250px;
}
#side.wide > div
{
    margin-bottom: 15px;
}
#side.wide .recommendShopArea
{
    width: 250px;
}
#side.wide .recommendShopArea .box
{
    overflow: hidden;

    width: 244px;
    /*height: 244px;*/
    margin-bottom: 5px;
    padding: 2px;

    border: 1px solid #ccc;
}

/* wide --------------------------------------------------------------------*/
/* recommendArea */
.recommendShopArea .box .list
{
    margin: 0 15px;
}
.recommendShopArea .box img
{
    display: block;

    height: 72px;
    margin: 0 auto;
}
.recommendShopArea .box .tt
{
    font-weight: bold;

    margin: 5px;
    padding-bottom: 5px;

    border-bottom: 1px solid #ccc;
}
.recommendShopArea .box .caption
{
    font-size: 11px;

    margin-bottom: 5px;
    margin-left: 5px;
}
.recommendShopArea .box .txt
{
    margin-left: 5px;
}

/* rankingMenuArea */
.rankingMenuArea
{
    margin-bottom: 10px;
    padding: 5px;

    background: url(../img/side_bg.jpg);
}
.rankingMenuArea .inner
{
    background: #fff;
}
.rankingMenuArea .list
{
    margin: 0 10px;
}
.rankingMenuArea .list li
{
    padding: 10px 0;

    border-top: 1px solid #ccc;
}
.rankingMenuArea .list li:first-child
{
    border: none;
}
.rankingMenuArea .list a
{
    padding-left: 15px;

    text-decoration: none;

    color: #333;
    background: url(../img/left_square.jpg) no-repeat left 0;
}

.rankingMenuArea .shop_count
{
    float:right;
    text-align:center;
    width:2em;
    padding:2px;
    background-color:#FADDF6;
    color:#BD426D;
    border-radius:3px;
}



/* siderankArea */
.siderankArea .box
{
    padding: 5px 0;

    border-bottom: solid 1px #e4e4e4;
}
.siderankArea .rankNum
{
    float: left;

    width: 40px;

    text-align: center;
}
.siderankArea .rankImg
{
    float: left;

    width: 50px;

    border: solid 1px #e4e4e4;
}
.siderankArea .rankCmt
{
    float: left;

    width: 148px;
    padding: 0 5px;
}
.siderankArea .rankCmt .name a
{
    font-weight: bold;

    text-decoration: none;

    color: #f37c90;
}

.rankLink
{
    font-weight: bold;

    margin-top: 5px;

    text-align: right;

    color: #4f504b;
}
.rankLink img
{
    margin-left: 5px;
}
.rankLink a
{
    font-size: 10px;

    color: #444;
}

/* couponArea, boardsArea */
#couponArea .title,
#boardsArea .title
{
    height: 40px;
    margin-bottom: 15px;

    color: #000;
    border-bottom: solid 1px #000;
    background-image: none;
}

#couponArea a,
#boardsArea a
{
    font-size: 1.2em;
    font-weight: bold;

    color: #59569b;
}

#couponArea li,
#boardsArea li
{
    padding: 0 10px;
    padding-top: 5px;
}

/* reviewArea */
.reviewArea strong
{
    font-size: 1.2em;
    font-weight: bold;
}
.reviewArea .list li:nth-of-type(1) a
{
    color: #be4570 !important;
    background: url('../img/icon_pink.png') no-repeat left 0;
}

/* topicArea */
.topicArea .img
{
    margin-right: 5px；;
    padding: 2px;

    border: 1px solid #eee;
}
.topicArea .inner
{
    width: 246px;
    padding-top: 5px;
}
.topicArea .box
{
    margin: 0 10px 10px 10px;
    padding: 5px 0;

    border-bottom: 1px dotted #ccc;
}
.topicArea .box p.txt
{
    word-wrap:break-word;
}

.topicArea .tt
{
    font-size: 12px;
    font-weight: bold;

    margin-bottom: 5px;
}
.topicArea .col01
{
    margin-bottom: 10px;
}
.topicArea .img
{
    float: left;
}
.topicArea .summary
{
    float: left;

    margin-bottom: 5px;
    margin-left: 5px;
}

#topicSlider
{
    width: 100%;

    background: none;
}

#topicSlider_wrapper
{
    margin-top: 0;
    margin-left: 0;

    border-right: 2px solid #e4e4e4;
    border-bottom: 2px solid #e4e4e4;
    border-left: 2px solid #e4e4e4;
    border-radius: 2px;
    background: none;
}

/*
#topicSlider_wrapper .bx-prev {
    z-index: 999;
    background:  url(../img/mainarea_slider01_left.png) no-repeat;
    width: 15px;
    height: 38px;
    left: -15px;
}
#topicSlider_wrapper .bx-next {
    z-index: 999;
    background:  url(../img/mainarea_slider01_right.png) no-repeat;
    width: 15px;
    height: 38px;
    right: -15px;
}

#topicSlider_wrapper .bx-pager {
    width: 100px;
    margin-left: 230px;
}
#slider3_wrapper .bx-pager-item {
}
*/
/* voiceArea */
.voiceArea .box
{
    padding: 15px 0;

    border-bottom: 1px solid #ccc;
}
.voiceArea .box > *
{
    float: left;
}
.voiceArea .box > *:first-child
{
    margin-right: 10px;
}
.voiceArea .summary
{
    width: 184px;
}
.voiceArea .option
{
    font-size: 11px;

    margin-top: 5px;

    color: #666;
}
.voiceArea .tt span
{
    font-weight: bold;

    color: #cd4d72;
}

/* mapArea */
.mapArea li
{
    margin-bottom: 5px;
}

/* mailArea */
.mailArea
{
    width: 268px;
    margin-bottom: 15px;
    padding: 15px 0;

    border: 1px solid #ffd4e8;
    border-radius: 4px;
    background: #ffeef6;
}
.mailArea .txt
{
    margin: 10px 0;
    padding: 0 15px;
}
.mailArea .btn
{
    text-align: center;
}

/* footer --------------------------------------------------------------------*/
footer
{
    margin-top: 30px;
}

#footer_nav
{
    height: 30px;
    padding-top: 10px;

    background: url(../img/footer_nav_bg.png) repeat-x;
}
#footer_nav li
{
    font-size: 12px;

    float: left;

    margin-right: 10px;
    padding-left: 15px;

    background: url(../img/footer_nav_square.png) no-repeat left center;
}
#footer_nav li a
{
    text-decoration: none;

    color: #fff;
}
#footer_nav li a:hover
{
    text-decoration: underline;
}

#footer_main
{
    min-height: 230px;
    padding-top: 50px;

    background: #35302b;
}

#footer_logo
{
    margin-bottom: 20px;
}

#copyright
{
    font-size: 9px !important;

    color: #a1968d;
}

#footer_main01
{
    float: left;

    width: 200px;
}

#footer_main02
{
    float: left;

    width: 508px;
    height: 272px;
    margin-left: 150px;

    color: #fff;
    background: url(../img/footer_main_02.jpg) no-repeat;
}
#footer_main02 a
{
    color: #fff;
}

#footer_main03
{
    float: right;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em)
{
    /* Style adjustments for viewports that meet the condition */
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi)
{
    /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print
{
    *
    {
        color: #000 !important;
        background: transparent !important;
        /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a
    {
        text-decoration: underline;
    }
    a:visited
    {
        text-decoration: underline;
    }
    a[href]:after
    {
        content: ' (' attr(href) ')';
    }

    abbr[title]:after
    {
        content: ' (' attr(title) ')';
    }

    /*
   * Don't show links for images, or javascript/internal links
   */
    .ir a:after
    {
        content: '';
    }

    a[href^='javascript:']:after,
    a[href^='#']:after
    {
        content: '';
    }

    pre,
    blockquote
    {
        border: 1px solid #999;

        page-break-inside: avoid;
    }

    thead
    {
        display: table-header-group;
        /* h5bp.com/t */
    }

    tr
    {
        page-break-inside: avoid;
    }

    img
    {
        max-width: 100% !important;

        page-break-inside: avoid;
    }

    @page
    {
        margin: .5cm;
    }
    p,
    h2,
    h3
    {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3
    {
        page-break-after: avoid;
    }
}
/* ==========================================================================
   top
   ========================================================================== */
/* new_searchArea --------------------------------------------------------------------*/
#top_new_search
{
    background-color: #f0ece3;
}

/* new_shopArea --------------------------------------------------------------------*/
#new_shopArea,
#new_shopArea2
{
    margin-bottom: 20px;
}

#new_shopArea .list li,
#new_shopArea2 .list li
{
    float: left;

    margin-right: 6px;
    margin-left: 6px;
}

#new_shopArea img,
#new_shopArea2 img
{
    width: 100px;
    height: 100px;
    padding: 2px;

    border: 1px solid #eee;
}

/* scoreInfo --------------------------------------------------------------------*/
.scoreInfo
{
    vertical-align: middle;
}
.scoreInfo > *
{
    display: inline;

    margin-right: 5px;

    vertical-align: middle;
}
.scoreInfo img
{
    margin: -4px 0 0 0;
}
.scoreInfo .date
{
    font-weight: bold;
}
.scoreInfo .mark
{
    font-size: 10px;

    padding: 3px 5px;

    color: #fff;
    background: #e28a30;
}
.scoreInfo .score
{
    font-weight: bold;

    margin-left: 2px;
}

/* heavy_reviewArea --------------------------------------------------------------------*/
#heavy_reviewArea
{
    margin-bottom: 20px;
}
#heavy_reviewArea .box
{
    margin-bottom: 5px;
    padding-bottom: 10px;

    border-bottom: 1px dotted #c5c5c5;
}
#heavy_reviewArea .img_girl
{
    float: left;

    padding: 2px;

    border: 1px solid #eee;
}
#heavy_reviewArea .summary
{
    float: right;

    width: 500px;
}
#heavy_reviewArea .summary .tt
{
    font-size: 13px;
    font-weight: bold;

    margin-top: 5px;
    margin-bottom: 5px;
}
#heavy_reviewArea .course span
{
    font-size: 11px;
}
#heavy_reviewArea .course_mark
{
    display: inline;
}
#heavy_reviewArea .pickup
{
    margin-bottom: 10px;
    padding: 10px;

    background: #fef7db;
}
#heavy_reviewArea .course_mark span
{
    font-size: 9px;

    height: 13px;
    margin-left: 3px;
    padding: 1px 5px 1px 5px;

    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
}
#heavy_reviewArea .course_mark span.new
{
    letter-spacing: -1px;

    color: #e291a4;
    border: 1px solid #e291a4;
    background: #fbdee2;
}
#heavy_reviewArea .course_mark span.target
{
    letter-spacing: -1px;

    color: #e5bc62;
    border: 1px solid #e5bc62;
    background: #fcf2de;
}
#heavy_reviewArea .scoreInfo
{
    font-weight: bold;

    margin-top: 4px;
}

/* tabArea --------------------------------------------------------------------*/
#tabsArea
{
    position: relative;

    height: 407px;
    margin-top: 30px;
    margin-bottom: 20px;
}

#tabs
{
    margin-bottom: 10px;

    border-bottom: 2px solid #ccc;
}
#tabs li
{
    /*font-size:120%;*/
    font-size: 100%;
    font-weight: bold;

    float: left;

    width: 130px;
    padding: 5px;

    list-style: none;

    text-align: center;

    color: #666;
    border-top: solid 1px #ccc;
    border-right: solid 1px #ccc;
    border-left: solid 1px #ccc;
    /* 右上 */
    /* ▼Safari,Chrome */
    -webkit-border-top-left-radius: 6px;
    /* 右上 */
    /* ▼Firefox */
    -moz-border-radius-topleft: 6px;
            border-top-left-radius: 6px;
    /* 左上 */
    -webkit-border-top-right-radius: 6px;
    /* 左上 */
    -moz-border-radius-topright: 6px;
    /* 左上 */
            border-top-right-radius: 6px;
    background: url(../img/tab_down.gif) repeat-x;
    /* 右上 */
}
#tabs li:hover
{
    cursor: pointer;

    color: #cd4d72;
    background: url(../img/tab_hover.gif) repeat-x;
}
#tabs li.select
{
    color: #cd4d72;
    background: url(../img/tab_hover.gif) repeat-x;
}

.content_wrap
{
    position: relative;

    clear: left;
}
.content_wrap > .categoryRankingArea
{
    position: absolute;
    top: 0;
    left: 0;
}

#tabsArea .redBtn
{
    display: inline;
    float: right;

    padding: 3px 5px;
}

/* ContentsTabArea --------------------------------------------------------------------*/
#ContentsTabArea
{
    position: relative;

    height: 1100px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#tabs
{
    margin-bottom: 10px;

    border-bottom: 2px solid #ccc;
}
#tabs li
{
    /*font-size:120%;*/
    font-size: 100%;
    font-weight: bold;

    float: left;

    width: 130px;
    padding: 5px;

    list-style: none;

    text-align: center;

    color: #666;
    border-top: solid 1px #ccc;
    border-right: solid 1px #ccc;
    border-left: solid 1px #ccc;
    /* 右上 */
    /* ▼Safari,Chrome */
    -webkit-border-top-left-radius: 6px;
    /* 右上 */
    /* ▼Firefox */
    -moz-border-radius-topleft: 6px;
            border-top-left-radius: 6px;
    /* 左上 */
    -webkit-border-top-right-radius: 6px;
    /* 左上 */
    -moz-border-radius-topright: 6px;
    /* 左上 */
            border-top-right-radius: 6px;
    background: url(../img/tab_down.gif) repeat-x;
    /* 右上 */
}
#tabs li:hover
{
    cursor: pointer;

    color: #cd4d72;
    background: url(../img/tab_hover.gif) repeat-x;
}
#tabs li.select
{
    color: #cd4d72;
    background: url(../img/tab_hover.gif) repeat-x;
}
#tabs li.rank_comment
{
    font-size: 80%;
    font-weight: bold;

    width: 160px;
    padding: 10px 5px 0;

    text-align: center;

    border-top: none;
    border-right: none;
    border-left: none;
    /* ▼Safari,Chrome */
    -webkit-border-top-left-radius: none;
    /* ▼Firefox */
    -moz-border-radius-topleft: none;
            border-top-left-radius: none;
    -webkit-border-top-right-radius: none;
    -moz-border-radius-topright: none;
            border-top-right-radius: none;
    background: none;
}

.content_wrap
{
    position: relative;

    clear: left;
}
.content_wrap > .categoryRankingArea
{
    position: absolute;
    top: 0;
    left: 0;
}

#ContentsTabArea .redBtn
{
    font-size: 1.2em;

    display: inline;

    padding: 3px 5px;
    padding: 15px 40px;

    color: #fff;
    border-style: none;
}
#ContentsTabArea .listHeading
{
    font-size: 14px;
    font-weight: bold;

    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 2px;
    padding-left: 25px;

    color: #988989;
    border-bottom: 1px solid #988989;
    background: #fff url(../img/icon_heading.png) no-repeat center left;
}
#ContentsTabArea table textarea
{
    width: 95%;
    height: 200px;
}

/* ==========================================================================
   ranking
   ========================================================================== */
.rankNum
{
    width: 90px;
}
.rankNum .num
{
    font-size: 24px;
    font-weight: bold;

    width: 78px;

    text-align: center;
}
.rankNum .num:after
{
    font-size: 14px;
    font-weight: normal;

    content: ' 位';
}

/* categoryRankingArea --------------------------------------------------------------------*/
.categoryRankingArea .box
{
    margin-bottom: 15px;
    padding-bottom: 10px;

    border-bottom: 1px dotted #c5c5c5;
}
.categoryRankingArea .box > *
{
    float: left;
}
.categoryRankingArea .box .rankNum
{
    float: left;

    width: 78px;
    margin-right: 10px;
}
.categoryRankingArea .box .img
{
    float: left;

    width: 82px;

    text-align: center;
}

#middle.narrow .categoryRankingArea .box .summary
{
    float: left;

    width: 200px;
    margin-left: 10px;
}
#middle.narrow .categoryRankingArea .box .comment
{
    float: left;
    overflow: hidden;

    width: 210px;
    height: 86px;
    margin-left: 10px;
}
#middle.narrow .categoryRankingArea .rv .summary
{
    float: left;

    width: 420px;
    margin-left: 10px;
}
#middle.wide .categoryRankingArea .box .summary
{
    float: left;

    width: 200px;
    margin-left: 10px;
}
#middle.wide .categoryRankingArea .box .comment
{
    float: left;
    overflow: hidden;

    width: 280px;
    height: 86px;
    margin-left: 10px;
}
#middle.wide .categoryRankingArea .rv .summary
{
    float: left;

    width: 490px;
    margin-left: 10px;
}

.categoryRankingArea .box .name
{
    font-weight: bold;

    margin-bottom: 10px;
}
.categoryRankingArea .rv .reviewNum
{
    margin-left: 20px;
}
.categoryRankingArea .rv .lbl
{
    margin: 5px 0;
    padding: 2px;

    background: #faf7f0;
}
.categoryRankingArea .rv .lbl.one
{
    background: #e4da9d;
}
.categoryRankingArea .rv .lbl.two
{
    background: #ccc;
}
.categoryRankingArea .rv .lbl.three
{
    background: #dcccb2;
}
.categoryRankingArea .box .summary .info
{
    overflow: hidden;

    height: 15px;
    margin-top: 5px;
}
.categoryRankingArea .box .summary .tt
{
    font-size: 15px;
    font-weight: bold;

    margin: 5px 0 5px 0;
}
.categoryRankingArea .box .summary .tt2
{
    font-size: 15px;
    font-weight: bold;

    margin: 0;
}
.categoryRankingArea .box .score
{
    font-weight: bold;
    line-height: 100%;

    margin-top: 2px;
    margin-left: 2px;
}
.categoryRankingArea .box .cat,
.categoryRankingArea .box .link
{
    font-size: 11px;
}

/* ==========================================================================
   shop
   ========================================================================== */
#shopMainImg
{
    width: 675px;
    margin-bottom: 10px;
    /*
  	height:400px;
  */

    background: #ddd;
}
#shopMainImg img
{
    max-height: 400px;
}

/* shopTab --------------------------------------------------------------------*/
.tab
{
    border-bottom: 2px solid #9a8889;
    background-color: #faf7f0;
}

.shopTab
{
    line-height: 24px;

    width: 655px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;

    list-style: none;
    /* position: relative; */
}
.shopTab li
{
    font-size: 13px;
    /*
  	border-top-left-radius: 6px;
      border-top-right-radius: 6px;
  	*/

    position: relative;
    z-index: 0;
    top: 2;

    display: inline-block;

    width: 115px;
    margin: 0 0;
    padding: 8px 0;

    text-align: center;

    color: #676767;
    border: solid #cbcbcb;
    border-width: 1px 1px 0 1px;
    background-image: -webkit-linear-gradient(bottom, white 50%, #ececec 100%);
    background-image: -webkit-linear-gradient(top, white 50%, #ececec 100%);
    background-image:         linear-gradient(to bottom, white 50%, #ececec 100%);
}
.shopTab a
{
    font-weight: bold;

    display: block;

    text-decoration: none;

    color: #666 !important;
}
.shopTab li.selected
{
    z-index: 2;

    margin: 0 -1px;

    color: #666;
    border: 2px solid #9a8889 !important;
    border-bottom-color: #fff !important;
    background: #fff;
}
.shopTab li:hover
{
    margin: 0 -1px;

    cursor: pointer;

    border: 2px solid #9a8889;
    border-bottom-width: 1px;
}
.shopTab li.review
{
    margin-left: 45px;
}
.shopTab li.review:hover
{
    margin-left: 44px;
}
.shopTab li.selected.review:hover
{
    margin-left: 45px;
}
.shopTab:after
{
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;

    width: 100%;

    content: '';
}
.shopTab:before
{
    z-index: 1;
}

/* tabInner */
.tabInner
{
    font-size: 12px !important;

    padding: 10px 0;
}
.tabInner .header
{
    margin-bottom: 10px;
}
.tabInner .header > *:first-child
{
    float: left;

    width: 360px;
    /*0805変更　変更前width:285px; */
}
.tabInner .header > *:last-child
{
    float: right;

    width: 310px;
    /*0805変更　変更前width:380px; */
}
.tabInner .chapter
{
    display: block;

    height: 40px;
    margin-bottom: 10px;
    padding-left: .3em;

    border: #ccc solid 1px;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    background: url(../img/h2.png);
}
.tabInner .chapter h2
{
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;

    height: 24px;
    margin-top: 8px;
    margin-left: 5px;
    padding-left: 8px;

    color: #000;
    border-left: #ff69b4 solid 1px;
}
.tabInner .chapter .small
{
    font-size: 75%;

    margin-left: 10px;

    color: #444;
}
.tabInner .profile_slide
{
    float: left;

    width: 350px;
}

/* chapter/heading */
h2.heading
{
    font-size: 14px;

    margin-bottom: 20px;
    padding-bottom: 2px;
    padding-left: 25px;

    color: #988989;
    border-bottom: 1px solid #988989;
    background: #fff url(../img/icon_heading.png) no-repeat center left;
}
h2.pickup_heading
{
    font-size: 14px;

    margin-bottom: 20px;
    padding-bottom: 2px;
    padding-left: 25px;

    color: #988989;
    border-bottom: 1px solid #988989;
    background: #fff url(../img/icon_pickup.png) no-repeat center left;
}
h2.pickup_heading span
{
    color: #e41421;
}
h2.heading .small
{
    font-size: 75%;

    margin-left: 10px;

    color: #444;
}

/* newerviewArea */
.new_reviewArea .box
{
    margin-bottom: 10px;
    padding: 10px;

    background: #faf7f0;
}
.new_reviewArea .pickup
{
    margin-bottom: 10px;
    padding: 10px;

    background: #fef7db;
}
.new_reviewArea .reviewer
{
    padding: 0 0 10px 0;
}
.new_reviewArea .reviewer a
{
    text-decoration: none;
}
.new_reviewArea .mark
{
    height: 20px;
}
.new_reviewArea .mark img
{
    position: relative;
    top: -15px;
    left: -10px;
}
.new_reviewArea .reviewer a
{
    font-weight: bold;
}
.new_reviewArea .reviewer > div
{
    float: left;
}
.new_reviewArea .reviewText
{
    margin-bottom: 5px;
    padding: 10px;

    border: 1px solid #e6d9c3;
    background: #fff;
}
.new_reviewArea .reviewText > div:first-child
{
    padding-bottom: 10px;

    border-bottom: 1px solid #ccc;
}
.new_reviewArea .reviewText > div:last-child
{
    padding: 10px 0;
}
.new_reviewArea .icon
{
    margin-right: 10px;
}
.new_reviewArea .img
{
    float: left;

    width: 90px;
}
.new_reviewArea .img_girl
{
    float: left;

    padding: 2px;

    border: 1px solid #eee;
}
.new_reviewArea .summary
{
    float: right;

    width: 540px;
}
.new_reviewArea .tt
{
    font-size: 13px;
    font-weight: bold;

    margin-top: 5px;
    margin-bottom: 10px;

    color: #cd4d72;
}
.new_reviewArea .shop,
.new_reviewArea .name
{
    color: #cd4d72;
}
.new_reviewArea .course
{
    display: inline;

    margin-top: 15px;
}
.new_reviewArea .scoreType
{
    margin-bottom: 15px;
}
.new_reviewArea .course span
{
    font-size: 11px;
}
.new_reviewArea .course_mark
{
    display: inline;
}
.new_reviewArea .pickup
{
    margin-bottom: 10px;
    padding: 10px;

    background: #fef7db;
    /*	margin-right:5px;
  	font-size:11px;
  	padding:0px 10px 2px 10px;
  	float:right;
  	border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
  	background:#ffffff;
  	border:solid 1px #ff0000;
  	font-weight:bold;
  	color:#ff0000; */
}
.new_reviewArea .course_mark span
{
    font-size: 9px;

    float: right;

    height: 13px;
    margin-right: 5px;
    padding: 1px 5px 1px 5px;

    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
}
.new_reviewArea .course_mark span.new
{
    letter-spacing: -1px;

    color: #e291a4;
    border: 1px solid #e291a4;
    background: #fbdee2;
}
.new_reviewArea .course_mark span.target
{
    letter-spacing: -1px;

    color: #e5bc62;
    border: 1px solid #e5bc62;
    background: #fcf2de;
}
.new_reviewArea .scoreInfo
{
    font-weight: bold;

    margin-top: 10px;
}

/* レビューランキング */
.review_ranking .wrapper > *
{
    float: left;
}
.review_ranking .wrapper .box
{
    width: 495px !important;
}
.review_ranking .scoreInfo
{
    margin: 7px 0 0 0;
}
.review_ranking .summary
{
    width: 380px;
}
.review_ranking .course,
.review_ranking .course_mark
{
    display: block;

    margin: 0;
}
.review_ranking .course > *,
.review_ranking .course_mark > *
{
    float: left !important;
}
.review_ranking .scoreType
{
    margin: 0 !important;
}

/* ここまで */
/*
.new_reviewArea .date {
	float:right;
	font-weight:normal;
}
*/
.new_reviewArea .score
{
    font-weight: bold;
    line-height: 100%;

    margin-top: 2px;
    margin-left: 2px;
}
.new_reviewArea .answer
{
    margin-top: 5px;
    padding-top: 5px;

    border-top: 1px dotted #ccc;
}
.new_reviewArea .favoriteBtn
{
    float: right;
}
.new_reviewArea .favoriteBtn a
{
    font-size: 11px;
    font-weight: normal !important;

    padding: 4px 6px 4px 23px;

    background: url(../img/icon_save.png) no-repeat 4px center;
}
.new_reviewArea .reportBtn
{
    float: left;
}
.new_reviewArea .reportBtn a
{
    padding: 4px 6px 4px 18px;

    background: url(../img/icon_report.png) no-repeat 4px center;
}
.new_reviewArea .thanksBtn
{
    float: right;
}
.new_reviewArea .thanksBtn > p
{
    float: left;
}
.new_reviewArea .thanksBtn > p:first-child
{
    margin-top: 5px;
    margin-right: 10px;
    padding-right: 10px;

    background: url(../img/icon_next.png) no-repeat right 4px;
}
.new_reviewArea .thanksBtn a
{
    padding: 4px 6px 4px 18px;

    background: url(../img/icon_heart.png) no-repeat 4px center;
}
.new_reviewArea .deleteBtn
{
    float: left;
}
.new_reviewArea .deleteBtn a
{
    padding: 4px 6px;
}
.new_reviewArea .customBtn
{
    float: right;
}
.new_reviewArea .customBtn a
{
    padding: 4px 6px;
}

/* pickupArea */
.tabInner .pickupArea > dl
{
    float: left;

    width: 310px;
    margin: 20px 0;
}
.tabInner .pickupArea > dl:nth-child(odd)
{
    margin-right: 55px;
}
.tabInner .pickupArea dt
{
    font-size: 14px;
    font-weight: bold;

    margin-bottom: 20px;
    padding-bottom: 2px;
    padding-left: 25px;

    color: #988989;
    border-bottom: 1px solid #988989;
    background: #fff url(../img/icon_heading.png) no-repeat center left;
}
.tabInner .pickupArea .img
{
    margin: 10px 0;

    text-align: center;
}
.tabInner .pickupArea .name
{
    font-size: 14px;
    font-weight: bold;

    margin-bottom: 10px;

    color: #666;
}
.tabInner .pickupArea .shop
{
    font-size: 11px;

    color: #999;
}

.catchCopy
{
    font-size: 16px;
    font-weight: bold;

    overflow: hidden;

    height: 42px;
    margin-bottom: 5px;

    color: #cd4d72;
}

.catchCopy_shop
{
    font-size: 16px;
    font-weight: bold;

    margin-bottom: 5px;

    color: #cd4d72;
}

.catchCopy a
{
    text-decoration: none;

    color: #cd4d72;
}

.categoryComment
{
    overflow: hidden;

    height: 32px;
}

/* shopTable */
.shopTable
{
    margin-bottom: 20px;
}
.shopTable table
{
    width: 100%;
    margin: 10px 0;

    table-layout: auto;
    border-collapse: collapse;

    color: #333;
}
.shopTable table *
{
    vertical-align: middle;
}
.shopTable table th
{
    width: 20%;
    padding: 10px;

    border-collapse: collapse;

    text-align: left;

    border: #ccc solid 1px;
    background: #faf7f0 url(../img/table_line.jpg) repeat-x top;
}
.shopTable table td
{
    padding: 10px;

    border-collapse: collapse;

    text-align: left;

    border: #ccc solid 1px;
    background-color: #fff;
}

/* noticeArea */
.noticeArea
{
    padding: 10px;

    background: #faf7f0;
}
.noticeArea .name
{
    font-weight: bold;
}
.noticeArea > div
{
    float: left;
}
.noticeArea .img
{
    width: 239px;

    border-right: 1px dotted #999;
}
.noticeArea .img > *
{
    float: left;
}
.noticeArea p
{
    margin: 5px 10px 0 10px;
}
.noticeArea .text
{
    width: 415px;
}

/* couponArea */
.couponArea table
{
    width: 100%;
    margin-top: 10px;

    border-collapse: collapse;

    color: #333;
    border: #ccc solid 1px;
}
.couponArea table *
{
    vertical-align: middle;
}
.couponArea table th
{
    font-size: 16px;
    font-weight: bold;

    width: 24px;
    padding: 10px 0;

    border-collapse: collapse;

    text-align: left;
    text-align: center;

    color: #fff;
    border: #ccc solid 1px;
}

.type1
{
    background: #fb615f !important;
}

.type2
{
    background: #ff9e34 !important;
}

.type3,
.type9
{
    background: #628eb1 !important;
}

.couponArea table td
{
    padding: 10px;

    border-collapse: collapse;

    text-align: left;

    background-color: #fff;
}
.couponArea table .price
{
    font-size: 15px;
}
.couponArea td:last-child
{
    width: 110px;

    text-align: center;

    color: #f00;
    border: #ccc solid 1px;
    background-color: #faf7f0;
}
.couponArea ul
{
    margin-top: 10px;
}
.couponArea ul li
{
    font-size: 11px;

    float: left;

    margin-right: 5px;
    padding-left: 5px;

    letter-spacing: -1px;

    color: #c46;
    border-left: 1px solid #666;
}
.couponArea ul li:first-child
{
    padding: 0;

    border: none;
}
.couponArea ul li span
{
    color: #666;
}

/* girlsArea */
.girlsArea > div
{
    float: left;

    width: 146px;
    height: 260px;
    margin: 20px 0;
    padding: 10px;

    border-right: 1px solid #cbcbcb;
}
.girlsArea > *:nth-child(4n)
{
    border-right: none;
}
.girlsArea div p
{
    text-align: center;
}
.girlsArea .img
{
    position: relative;
}
.girlsArea .img img
{
    width: 120px;
    height: 160px;
}
.girlsArea .img .icon_review
{
    position: absolute;
    top: 130px;
    left: 90px;

    width: 30px;
    height: 30px;
}
.girlsArea .img .icon_review img
{
    max-width: 100%;
    max-height: 100%;
}
.girlsArea .btn
{
    width: 100px;
    margin: 5px auto;
}
.girlsArea .btn a
{
    font-size: 11px;
    font-weight: normal;

    width: 100%;
    padding: 5px 0;
}
.girlsArea .name
{
    padding: 10px 0;
}
.girlsArea .name a
{
    color: #4c4c80 !important;
}
.girlsArea .review img
{
    margin-top: -2px;
    margin-right: 5px;
}

/* add at 150325 */
.clearLine
{
    float: none;
    clear: both;

    border-bottom: 1px solid #cbcbcb;
}

/* girlsArea_result */
.girlsArea_result > div
{
    float: left;

    width: 130px;
    height: 260px;
    margin: 20px 0;
    padding: 10px;

    border-right: 1px solid #cbcbcb;
}
.girlsArea_result > *:nth-child(5n-1)
{
    border-right: none;
}
.girlsArea_result div p
{
    text-align: center;
}
.girlsArea_result .img img
{
    width: 120px;
    height: 160px;
}
.girlsArea_result .btn
{
    width: 100px;
    margin: 5px auto;
}
.girlsArea_result .btn a
{
    font-size: 11px;
    font-weight: normal;

    width: 100%;
    padding: 5px 0;
}
.girlsArea_result .name
{
    padding: 10px 0;
}

.girlsArea .name a
{
    color: #4c4c80 !important;
}

.girlsArea_result .review img
{
    margin-top: -2px;
    margin-right: 5px;
}

/* detailArea */
.detailArea
{
    font-size: 12px !important;

    margin-bottom: 10px;
}
.detailArea > *:first-child
{
    float: left;

    width: 240px;
}
.detailArea > *:last-child
{
    float: right;

    width: 400px;
}
.detailArea .imgList
{
    border-bottom: 1px solid #cbcbcb;
}
.detailArea .imgList img
{
    display: block;
    float: left;

    margin: 10px 7px 10px 0;
}
.detailArea .imgList img:last-child
{
    margin: 10px 0;
}
.detailArea .entryreviewBtn
{
    width: 120px;
    margin: 10px 0 10px auto;
    padding: 0;
}
.detailArea .entryreviewBtn a
{
    font-size: 11px;

    padding: 5px 0;

    color: #fff;
}
.detailArea .btn
{
    width: 120px;
    margin: 10px auto;

    border: 1px solid #cbcbcb;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}
.detailArea .btn a
{
    font-size: 11px;

    display: block;

    width: 100%;
    padding: 5px 0;

    text-align: center;
    text-decoration: none;

    color: #666 !important;
}
.detailArea .comment
{
    padding-bottom: 20px;

    border-bottom: 1px solid #ccc;
}
.detailArea dl dt
{
    font-weight: bold;

    margin-bottom: 10px;
    padding: 5px 10px;

    background: #faf7f0;
}
.detailArea table
{
    width: 100%;
    margin: 10px 0;

    table-layout: auto;
    border-collapse: collapse;

    color: #333;
}
.detailArea table.list *
{
    vertical-align: middle;
}
.detailArea table.list th
{
    width: 30%;
    padding: 10px;

    border-collapse: collapse;

    text-align: left;

    color: #cd4d72;
    border-bottom: #ccc solid 1px;
}
.detailArea table.list td
{
    padding: 10px 10px 10px 0;

    border-collapse: collapse;

    text-align: left;

    border-bottom: #ccc solid 1px;
}

/*
.detailArea table.option *{
	vertical-align:middle;
}

.detailArea table.option th{
	border:none;
	border-collapse:collapse;
	padding:5px;
	text-align:left;
	width:15%;
	color:#CD4D72;
}
.detailArea table.option td{
	border:none;
	border-collapse:collapse;
	padding:5px 10px 5px 0;
	text-align:left;
	display:inline-block;
}

.detailArea table.option td p{
	background:#E96771;
	padding:3px;
	color:#fff;
	display:inline;
	margin-right:5px;
}

*/
.supplement
{
    padding: 10px;

    border: #ccc solid 1px;
}
.supplement .tt
{
    font-weight: bold;

    color: #cd4d72;
}

#girlsSlider
{
    width: 615px;
    height: 240px;
}
#girlsSlider a
{
    float: left;

    margin-right: 15px;
}
#girlsSlider a:last-child
{
    margin-right: 0;
}

#girlsSliderWrapper .bx-prev
{
    z-index: 9999;
    left: -30px;

    width: 15px;
    height: 38px;

    text-align: center;

    border: 1px solid #cbcbcb;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    background: -webkit-linear-gradient(top, #fff 50%, #ececec 100%);
    background:         linear-gradient(top, #fff 50%, #ececec 100%);
    background-image: url(../img/icon_prev.png);
    background-repeat: no-repeat;
    background-position: center center;
}
#girlsSliderWrapper .bx-next
{
    z-index: 9999;
    right: -30px;

    width: 15px;
    height: 38px;

    text-align: center;

    border: 1px solid #cbcbcb;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    background: -webkit-linear-gradient(top, #fff 50%, #ececec 100%);
    background:         linear-gradient(top, #fff 50%, #ececec 100%);
    background-image: url(../img/icon_next.png);
    background-repeat: no-repeat;
    background-position: center center;
}

/* ispot --------------------------------------------------------------------*/
#ispotArea .list .box
{
    margin-bottom: 15px;
    padding-bottom: 10px;

    border-bottom: 1px dotted #c5c5c5;
}
#ispotArea .list .box .img
{
    float: left;

    width: 78px;
}
#ispotArea .list .box .summary
{
    float: right;

    width: 520px;
}
#ispotArea .num
{
    margin-left: 10px;
}
#ispotArea .list .box .summary .info
{
    margin-bottom: 5px;
}
#ispotArea .list .box .summary .tt
{
    margin-bottom: 10px;
}
#ispotArea .infomation .box
{
    width: 291px;
    height: 156px;

    background-image: url(../img/bg_dot.gif);
}
#ispotArea .infomation .box > div
{
    height: 135px;
    margin: 5px;
    padding: 5px;

    background: #fff;
}
#ispotArea .infomation .box .txt
{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}
#ispotArea .list .box .txt a
{
    font-weight: bold;

    color: #e4007e !important;
}
#ispotArea .infomation .box
{
    float: left;

    margin: 5px 5px 0;
}
#ispotArea .infomation .box .img
{
    float: left;
}
#ispotArea .tt
{
    font-size: 13px;
    font-weight: bold;
}
#ispotArea .infomation .box .link
{
    font-size: 11px;

    float: right;

    margin-right: 10px;
}

#top_banner
{
    margin-top: 15px;
    margin-bottom: 30px;

    text-align: center;
}

#ispotArea .score
{
    font-weight: bold;
    line-height: 100%;

    margin-top: 2px;
    margin-left: 2px;
}

/* ==========================================================================
   review
   ========================================================================== */
#entryArea .head
{
    height: 200px;
    margin-bottom: 20px;

    background: #999;
}

.listFilter
{
    margin-bottom: 10px;
}
.listFilter table
{
    width: 100%;
    margin-bottom: 10px;

    table-layout: auto;
    border-collapse: collapse;

    color: #333;
}
.listFilter table *
{
    vertical-align: middle;
}
.listFilter table th
{
    width: 30%;
    padding: 10px;

    border-collapse: collapse;

    text-align: left;

    color: #fff;
    border: #fff solid 1px;
    background: #ff858e;
}
.listFilter table td
{
    padding: 10px;

    border-collapse: collapse;

    text-align: left;

    border: #fff solid 1px;
    background: #ffe3e6;
}
.listFilter table td input
{
    width: 200px;
}

#entryArea .listHeading
{
    font-size: 14px;
    font-weight: bold;

    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 2px;
    padding-left: 25px;

    color: #988989;
    border-bottom: 1px solid #988989;
    background: #fff url(../img/icon_heading.png) no-repeat center left;
}
#entryArea .listHeading span
{
    font-size: 13px;
    font-weight: normal;

    margin-left: 20px;
}

.shopList table
{
    width: 100%;
    margin: 10px 0;

    table-layout: auto;
    border-collapse: collapse;
}
.shopList table *
{
    vertical-align: middle;
}
.shopList table th
{
    width: 20%;
    padding: 10px;

    border-collapse: collapse;

    text-align: left;

    border: #ccc solid 1px;
    background: #faf7f0 url(../img/table_line.jpg) repeat-x top;
}
.shopList table td
{
    padding: 10px;

    border-collapse: collapse;

    text-align: left;

    border: #ccc solid;
    border-width: 1px 0;
}
.shopList table td:last-child
{
    width: 20%;
    padding: 10px;

    border-collapse: collapse;

    text-align: left;

    border: #ccc solid;
    border-width: 1px 1px 1px 0;
}
.shopList table .btn
{
    padding: 5px 0;
}
.shopList table .btn a
{
    display: block;

    width: 100%;
    padding: 5px 0;
}

.idk
{
    font-size: 14px;
    font-weight: bold;

    color: #988989;
    background: #faf7f0 url(../img/table_line.jpg) repeat-x top;
}

#frame
{
    display: none;
    overflow: scroll;

    width: 710px;
    height: 600px;
    padding: 5px;

    background: #fff;
}

.reviewForm table
{
    width: 100%;
    margin: 10px auto;

    table-layout: auto;
    border-collapse: collapse;

    color: #333;
}
.reviewForm table *
{
    vertical-align: middle;
}
.reviewForm table th
{
    width: 30%;
    padding: 10px;

    border-collapse: collapse;

    text-align: left;

    border: #ccc solid 1px;
    background: #faf7f0 url(../img/table_line.jpg) repeat-x top;
}
.reviewForm table td
{
    padding: 10px;

    border-collapse: collapse;

    text-align: left;

    border: #ccc solid 1px;
    background-color: #fff;
}
.reviewForm span
{
    font-size: 80%;

    margin: 3px;
    margin-left: 10px;
    padding: 2px;

    color: #fff;
    background-color: #f00;
}

.reviewFormRed table
{
    width: 100%;
    margin: 10px 0;

    table-layout: auto;
    border-collapse: collapse;
}
.reviewFormRed table *
{
    vertical-align: middle;
}
.reviewFormRed table th
{
    width: 30%;
    padding: 10px;

    border-collapse: collapse;

    text-align: left;

    border: #ccc solid 1px;
    background: #ffe3e6;
}
.reviewFormRed table td
{
    padding: 10px;

    border-collapse: collapse;

    text-align: left;

    border: #ccc solid 1px;
}
.reviewFormRed span
{
    font-size: 80%;

    margin: 3px;
    margin-left: 10px;
    padding: 2px;

    color: #fff;
    background-color: #f00;
}

.circle
{
    margin: 5px;
    padding-left: 15px;

    background: #fff url(../img/circle.png) no-repeat left center;
}

/*
.reviewForm table{
	border-collapse:collapse;
	width:100%;
	table-layout:auto;
	margin:10px 0;
}
.reviewForm table *{
	vertical-align:middle;
}
.reviewForm table th{
	border:#CCCCCC solid 1px;
	border-collapse:collapse;
	background:#FFE3E6;
	padding:10px;
	text-align:left;
	width:30%;
}
.reviewForm table td{
	border:#CCCCCC solid 1px;
	border-collapse:collapse;
	padding:10px;
	text-align:left;
}
*/
.reviewForm table textarea
{
    width: 95%;
    height: 200px;
}

input.submitBtn,
a.submitBtn
{
    font-size: 1.2em;

    padding: 15px 40px;

    color: #fff;
    border-style: none;
}

/* categoryArea --------------------------------------------------------------------*/
#categoryArea
{
    margin-bottom: 20px;
}
#categoryArea .list .box
{
    float: left;

    width: 290px;
}
#categoryArea .list .box:nth-child(odd)
{
    margin-right: 25px;
}
#categoryArea .list .tt
{
    margin-bottom: 5px;
    padding-left: 20px;

    background: url(../img/top_category_square.png) no-repeat left 0;
}
#categoryArea .list .box
{
    margin-bottom: 15px;
}
#categoryArea .list .box .img
{
    float: left;

    padding: 2px;

    border: 1px solid #eee;
}
#categoryArea .list .box .txt
{
    float: left;

    width: 190px;
    margin-left: 10px;
}

/* recommendGirlsArea --------------------------------------------------------------------*/
#recommendGirlsArea
{
    overflow: hidden;

    width: 606px;
    margin-bottom: 20px;
}
#recommendGirlsArea .shop
{
    margin-top: 20px;
}
#recommendGirlsArea .shop:first-child
{
    margin-top: 0;
}
#recommendGirlsArea .shop *
{
    float: left;
}
#recommendGirlsArea .shop a
{
    margin-left: 20px;
    padding-top: 23px;
}
#recommendGirlsArea .list
{
    width: 606px;
    padding-bottom: 20px;
}
#recommendGirlsArea .list div
{
    float: left;

    width: 94px !important;
    margin-right: 8px;
}
#recommendGirlsArea .list div:last-child
{
    margin-right: 0 !important;
}
#recommendGirlsArea .list div p
{
    width: 90px;
}
#recommendGirlsArea .list p:first-child
{
    text-align: center;
}
#recommendGirlsArea .list img
{
    width: 90px;
}
#recommendGirlsArea .list .name
{
    font-size: 10px;
    font-weight: bold;

    overflow: hidden;

    width: 90x;
    height: 14px;
    padding: 2px 0;

    color: #cd4d72;
}
#recommendGirlsArea .list .copy
{
    font-size: 9px;
    font-weight: normal;

    overflow: hidden;

    width: 90x;
    height: 28px;
    /*padding: 2px 0;*/

    color: #3D3D3D;
}
#recommendGirlsArea .list .info
{
    font-size: 11px;

    overflow: hidden;

    width: 90px;
    height: 30px;
    padding: 2px;

    color: #fff;
    background: #030303;
}

/*
#recommend02Area .box {
    border: 1px solid #CCC;
    width: 296px;
    padding: 3px 0;
}
#recommend02Area .box .list {
    margin: 0 15px;
}
#recommend02Area .box .img {
    text-align: center;
    margin-bottom: 5px;
}
#recommend02Area .box .tt {
    font-weight: bold;
    font-size: 14px;
    border-bottom: 1px solid #bcdcd1;
    margin: 0 5px 5px;
}
#recommend02Area .box .caption {
    font-size: 11px;
    margin-left: 5px;
    margin-bottom: 5px;
}
#recommend02Area .box .txt {
    margin-left: 5px;
}
*/
/* recommendShopArea --------------------------------------------------------------------*/
#middle #recommendShopArea
{
    overflow: hidden;

    width: 606px;
    margin-bottom: 20px;
}
#middle #recommendShopArea .box
{
    float: left;
    overflow: hidden;

    height: 180px;
    margin-right: 3px;
    margin-bottom: 5px;
    padding: 3px;
    /*	border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px; */

    border: 1px solid #ccc;
    background: #fff;
}
#middle #recommendShopArea .wrapper
{
    /*	padding:8px;
  	background:#F3E3E2;
  	border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px; */
}
#middle #recommendShopArea .wrapper > *:nth-child(3n)
{
    margin-right: 0;
}
#middle #recommendShopArea .box img
{
    width: 191px;
    height: 65px;
}
#middle #recommendShopArea .box p
{
    width: 191px;
}
#middle #recommendShopArea .box .tt
{
    font-weight: bold;

    padding-bottom: 5px;

    border-bottom: 1px solid #ccc;
}
#middle #recommendShopArea .box .caption
{
    font-size: 11px;

    margin-bottom: 5px;
}

/* shopTab --------------------------------------------------------------------*/
/* ==========================================================================
   free_shopList
   ========================================================================== */
#free_shopList
{
    margin-bottom: 20px;
}
#free_shopList .list li
{
    float: left;

    margin-right: 4px;
    margin-left: 4px;
    padding: 2px;

    border: 1px solid #eee;
}

.shopList .tt
{
    font-weight: bold;

    padding-bottom: 5px;
}

.shopList_frame
{
    /* Firefox用 */
    /*margin-bottom: 10px;*/

    border: 1px solid #d6d6d6;
    /* CSS3草案 */
    -webkit-border-radius: 4px;
    /* Safari,Google Chrome用 */
       -moz-border-radius: 4px;
            border-radius: 4px;
    background-color: #f2f2f2;
}
.shopList_frame .shopName
{
    font-size: 16px;
    font-weight: bold;

    color: #e74098;
}
.shopList_frame > div
{
    overflow: hidden;

    padding: 3px 5px 0 5px;
}
.shopList_frame > div:first-child
{
    height: 24px;

    border-bottom: 2px solid #7e6f5e;
}
.shopList_frame .pay_mark
{
    border: none;
}
.shop_premium
{
    background-color:#FBE9C6;
}
.shop_premium + .shopList_main
{
    background-color:#FCFFD4;
    padding-top:10px;
}
.shop_middle
{
    background-color:#FADDF6;
}
.shop_middle + .shopList_main
{
    background-color:#FFF1F7;
    padding-top:10px;
}
.shop_free
{
    background-color:#D5EBFB;
}
.frame_free
{
    margin-bottom:10px;
}

.kuchikomi
{
    font-size: 9px;
    font-weight: bold;

    margin: 3px 5px;
    padding: 2px;

    text-align: center;

    color: #fff;
    background-color: #ff9e34;
}

#free_shopList hr
{
    height: 2px;
    margin: 4px 0;

    color: #7e6f5e;
    border: none;
    border-top: solid 2px #7e6f5e;
}

/* ==========================================================================
   pay_shopList
   ========================================================================== */
#pay_shopList
{
    margin-bottom: 20px;
    padding-top: 18px;
}
#pay_shopList .list li
{
    float: left;

    margin-right: 4px;
    margin-left: 4px;
    padding: 2px;

    border: 1px solid #eee;
}

.shopList_main
{
    margin-bottom: 12px;
    padding-bottom: 10px;

    border-bottom: 2px solid #acacac;
}
.shopList_main > div:first-child
{
    float: left;
}
.shopList_main > div:last-child
{
    float: right;

    width: 420px;
    /*0804修正	修正前420px*/
}
.shopList_main dl
{
    margin: 2px 0;
}
.shopList_main dl > *
{
    line-height: 20px;

    width: 240px;
}
.shopList_main dl dt
{
    font-weight: bold;

    float: left;

    width: 60px;

    letter-spacing: -1px;

    color: #7f7f7f;
}
.shopList_main dd
{
    letter-spacing: -1px;
}

.shopListLeft
{
    float: left;

    width: 160px;
}

.shopListRight
{
    float: right;

    text-align: center;
}
.shopListRight img
{
    margin-top: 5px;
}

.shopListBottom
{
    float: none;
    clear: both;
}
.shopListBottom ul
{
    margin-top: 5px;
}
.shopListBottom ul li
{
    padding: 3px 5px;

    border: 1px solid #ccc;
    background: #fdf7dd;
}
.shopListBottom ul li span
{
    font-size: 10px;

    margin-right: 15px;
    padding: 2px;

    color: #fff;
}

/*
.shopListBottom ul li:last-child{
	border-width:0px 1px 1px 1px;
}
*/
/* title ----------------------------------------------------------- */
.title
{
    height: 50px;

    background: url('../img/top_ttl_bg_02.png') left top repeat-x;
}
.title h2
{
    font-size: 16px;
    font-weight: bold;

    float: left;

    margin: 0;
    padding: 11px 0 5px 11px;

    cursor: pointer;

    color: #333;
}
.title .moreBtn
{
    font-size: 11px;

    float: right;

    margin: 13px 10px 0 0;
    padding: 2px 5px 0 5px;

    color: #fff;
}
.title .moreBtn a
{
    display: inline;
}
.title a:hover .moreBtn
{
    color: #fff;
}
.title .ttl-sub
{
    font-size: 85%;

    float: left;

    margin: 15px 0 0 10px;

    color: #666;
}
.title .small
{
    font-size: 75%;

    margin-left: 10px;
}
.title a
{
    text-decoration: none;
}

.title01
{
    background-position: 0 0;
}
.title01:hover
{
    background-position: 0 -50px;
}
.title01 a:hover h2
{
    color: #925f96;
}

.title02
{
    background-position: 0 -200px;
}
.title02:hover
{
    background-position: 0 -250px;
}
.title02 a:hover h2
{
    color: #4ac4bf;
}

.title03
{
    background-position: 0 -100px;
}
.title03:hover
{
    background-position: 0 -150px;
}
.title03 a:hover h2
{
    color: #ad9039;
}

.title04
{
    background-position: 0 -400px;
}
.title04:hover
{
    background-position: 0 -450px;
}
.title04 a:hover h2
{
    color: #eb6e7c;
}

.title05
{
    background-position: 0 -500px;
}
.title05:hover
{
    background-position: 0 -550px;
}
.title05 a:hover h2
{
    color: #da7fca;
}

.title06
{
    background-position: 0 -600px;
}
.title06:hover
{
    background-position: 0 -650px;
}
.title06 a:hover h2
{
    color: #f1834d;
}

.title07
{
    background-position: 0 -700px;
}
.title07:hover
{
    background-position: 0 -750px;
}
.title07 a:hover h2
{
    color: #c67794;
}

/* ページカウンター
----------------------------------------------------------- */
.pageCounter .num
{
    font-size: 16px;
    font-weight: bold;

    margin-right: 5px;

    color: #b54263;
}
.pageCounter > span:last-child
{
    float: right;

    padding-top: 3px !important;
}

/* ページ送り
----------------------------------------------------------- */
.pageNav03
{
    overflow: hidden;

    margin: 0 0 10px;
    padding: 10px;
}
.pageNav03 li
{
    float: left;

    margin: 0 1px 1px 0;
}
.pageNav03 li span,
.pageNav03 li a,
.pageNav03 li.current
{
    float: left;

    padding: 5px 10px;

    background: #fff;
}

#main ul.pageNav03 li a:hover
{
    background: #ffc;
}

/*==============================================
*
* LeftContents
*
================================================*/
#twoContents
{
    width: 880px;
    margin-top: 10px;
}

#centerContents
{
    float: left;

    width: 440px;
    margin-left: 15px;
}

#leftContents
{
    float: left;

    width: 645px;
}

/* shopInfo ----------------------------------------------------------- */
.shopInfo
{
    width: 645px;
    padding: 15px 15px 0;

    background: #faf7f0;
}
.shopInfo .img
{
    float: left;

    margin-right: 5px;
    padding: 2px;

    border: 1px solid #eee;
}
.shopInfo .img img
{
    width: 90px;
    height: 90px;
}
.shopInfo .summary
{
    float: left;

    width: 390px;
}
.shopInfo .summary .tt
{
    font-size: 16px;
    font-weight: bold;
}
.shopInfo .summary .caption
{
    font-size: 11px;

    color: #666;
}
.shopInfo .btn
{
    float: right;

    width: 140px;
    margin-left: 10px;
}
.shopInfo .btn p
{
    margin-bottom: 5px;
}

/*
.shopInfo .summary .address {
	border-top: 1px solid #CCC;
	padding-top: 5px;
	margin-top: 5px;
	font-size: 18px;
	font-weight: bold;
	color: #E94430;
}
.shopInfo .summary .address span {
	font-size: 11px !important;
}
*/
.entryreviewBtn
{
    font-size: 14px;

    padding: 22px 0;

    color: #fff;
}

/*
.entryreviewBtn a{
	padding:22px 0;
	font-size:14px;
}
*/
.favoriteBtn a
{
    font-weight: normal;

    padding: 5px 0;
}

.pay_mark
{
    margin-bottom: 5px;
    padding-bottom: 5px;

    border-bottom: 1px dotted #999;
}
.pay_mark > p
{
    font-size: 8px;

    float: left;

    margin-right: 2px;
    padding: 1px 1px;

    text-align: center;

    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}
.pay_mark > p:last-child
{
    margin-right: 0;
}

@-moz-document url-prefix()
{
    .pay_mark > p
    {
        font-size: 10px;
    }
}
.pay_yoyaku,
.pay_credit,
.pay_ryoshu,
.pay_machi
{
    color: #c54c69;
    border: 1px solid #e5c1c1;
    background-color: #ffe5e3;
}

.pay_cosplay
{
    color: #fff;
    border: 1px solid #f2f2f2;
    background-color: #ff9e34;
}

.pay_coupon
{
    color: #628eb1;
    border: 1px solid #769dba;
    background-color: #deebf1;
}

.shopInfo .biz
{
    float: left;

    width: 290px;
}
.shopInfo .shopNum
{
    float: right;
}

.shopNum .num
{
    font-size: 12px;

    color: #b54263;
}

.kuchikomi2
{
    font-size: 12px;

    color: #ff9e34;
}

.zaiseki
{
    font-size: 12px;

    color: #25a3ec;
}

.setsumei
{
    font-weight: bold;

    margin: 5px 0;

    color: #333;
}

/*
#shopInfoNav {
	clear: both;
	margin-top: 10px;
}
 #rightShopInfoNav li {
	float: left;
	margin-right: 1px;
}
店のキャッチコピー */
#rightShopNews .label
{
    font-size: 14px;
    font-weight: bold;

    padding: 2px;

    color: #439121;
    border: 1px solid #ccc;
}
#rightShopNews .tt
{
    font-weight: bold;

    margin: 15px 0;
    padding: 10px 5px;

    color: #439121;
    border: 1px solid #439121;
    background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#ccc));
    background: -webkit-linear-gradient(top center, #fff 0%, #ccc 100%);
    background:         linear-gradient(top center, #fff 0%, #ccc 100%);
}
#rightShopNews .img
{
    float: left;
}
#rightShopNews .txt
{
    float: right;

    width: 530px;
}
#rightShopNews .btn
{
    margin-top: 10px;
}
#rightShopNews .date
{
    float: right;
}

/*==============================================
*
* RightContents
*
================================================*/
#rightContents
{
    float: right;

    width: 185px;
}

#sideLoginArea
{
    padding: 5px;

    background: url(../img/side_bg.jpg);
}
#sideLoginArea .inner
{
    padding-bottom: 5px;

    background: #fff;
}
#sideLoginArea .inner .side_tt
{
    margin-bottom: 15px;
}
#sideLoginArea .inner .box
{
    margin-left: 10px;
}
#sideLoginArea .inner .box input[type=text]
{
    border: 1px solid #ccc;
}
#sideLoginArea .inner .box p
{
    margin-bottom: 10px;
}
#sideLoginArea .inner .btn
{
    text-align: center;
}
#sideLoginArea .inner .summary
{
    margin: 0 5px;
}

#sideRankingArea
{
    padding: 5px;

    background: url(../img/side_bg.jpg);
}
#sideRankingArea .inner
{
    padding-bottom: 5px;

    background: #fff;
}
#sideRankingArea .list
{
    margin: 0 10px;
}
#sideRankingArea .list li
{
    margin-bottom: 5px;
    padding: 5px 0;

    border-bottom: 1px solid #ccc;
}
#sideRankingArea .list a
{
    padding-left: 15px;

    text-decoration: none;

    color: #333;
    background: url(../img/left_square.jpg) no-repeat left 0;
}

#sideTopicRanking
{
    margin: 15px 0;
}
#sideTopicRanking .inner
{
    padding: 5px 5px;

    background: #d4ebe3;
}
#sideTopicRanking .content
{
    padding: 0 5px;

    border-radius: 4px;
    background: #fff;
}
#sideTopicRanking .content .label
{
    padding: 5px 0;

    border-bottom: 1px solid #d4ebe3;
}
#sideTopicRanking .content .list li
{
    padding: 5px 0;

    border-bottom: 1px solid #d4ebe3;
}
#sideTopicRanking .content .list li:last-child
{
    border: none;
}
#sideTopicRanking .content .list li a
{
    text-decoration: none;

    color: #6abf9e;
}

.topic_tt
{
    font-size: 15px;
    font-weight: bold;

    margin-bottom: 10px;
    padding-bottom: 5px;

    border-bottom: 2px solid #ddd;
}

/* ==========================================================================
   term
   ========================================================================== */
#term
{
    margin-bottom: 20px;
}
#term .listHeading
{
    font-size: 14px;
    font-weight: bold;

    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 2px;
    padding-left: 25px;

    color: #988989;
    border-bottom: 1px solid #988989;
    background: #fff url(../img/icon_heading.png) no-repeat center left;
}
#term .text
{
    margin-left: 10px;
    padding: 5px 0;
}

/* ==========================================================================
   common area
   ========================================================================== */
.formArea table
{
    width: 100%;
    margin: 10px auto;

    table-layout: auto;
    border-collapse: collapse;

    color: #333;
}
.formArea table *
{
    vertical-align: middle;
}
.formArea table th
{
    width: 30%;
    padding: 10px;

    border-collapse: collapse;

    text-align: left;

    border: #ccc solid 1px;
    background: #faf7f0 url(../img/table_line.jpg) repeat-x top;
}
.formArea table td
{
    padding: 10px;

    border-collapse: collapse;

    text-align: left;

    border: #ccc solid 1px;
    background-color: #fff;
}
.formArea span
{
    font-size: 80%;

    margin: 3px;
    margin-left: 10px;
    padding: 2px;

    color: #fff;
    background-color: #f00;
}
.formArea .redBtn
{
    font-size: 1.2em;

    display: inline;

    padding: 3px 5px;
    padding: 15px 40px;

    color: #fff;
    border-style: none;
}

.listHeading
{
    font-size: 14px;
    font-weight: bold;

    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 2px;
    padding-left: 25px;

    color: #988989;
    border-bottom: 1px solid #988989;
    background: #fff url(../img/icon_heading.png) no-repeat center left;
}

/* btn
----------------------------------------------------------- */
.css_btn_class
{
    font-size: 11px;
    font-weight: bold;

    display: inline-block;
    float: right;

    padding: 3px 8px;

    text-decoration: none;

    color: #737273;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    background: -ms-linear-gradient(top, #fff 5%, #ebebeb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #fff), color-stop(100%, #ebebeb));
    background-color: #fff;
    box-shadow: inset 1px 1px 0 0 #fff;
    text-shadow: 1px 1px 0 #fff;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ebebeb');
}
.css_btn_class:hover
{
    background: -ms-linear-gradient(top, #ebebeb 5%, #fff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #ebebeb), color-stop(100%, #fff));
    background-color: #ebebeb;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#ffffff');
}
.css_btn_class:active
{
    position: relative;
    top: 1px;
}
.css_btn_class:a,
.css_btn_class:link,
.css_btn_class:visited
{
    text-decoration: none !important;

    color: #737273 !important;
}
.css_btn_class:hover
{
    color: #737273 !important;
}
.css_btn_class:active
{
    color: #333 !important;
}

.css_btn_bookmark
{
    font-size: 11px;
    font-weight: normal;

    display: inline-block;
    float: right;

    margin: 3px;
    padding: 5px 12px;

    text-decoration: none;

    color: #777;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    background: -ms-linear-gradient(top, #fff 18%, #e6e3e6 87%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(18%, #fff), color-stop(87%, #e6e3e6));
    background-color: #fff;
    box-shadow: inset 1px 1px 0 0 #fff;
    text-shadow: 1px 1px 0 #fff;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e3e6');
}
.css_btn_bookmark:hover
{
    background: -ms-linear-gradient(top, #e6e3e6 18%, #fff 87%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(18%, #e6e3e6), color-stop(87%, #fff));
    background-color: #e6e3e6;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e3e6', endColorstr='#ffffff');
}
.css_btn_bookmark:active
{
    position: relative;
    top: 1px;
}
.css_btn_bookmark:a,
.css_btn_bookmark:link
{
    color: #737273 !important;
}

.css_btn_class:visited
{
    color: #737273 !important;
}

.css_btn_bookmark:hover
{
    color: #737273 !important;
}
.css_btn_bookmark:active
{
    color: #333 !important;
}

.css_btn_more
{
    font-size: 11px;
    font-weight: normal;

    display: inline-block;
    float: right;

    margin: 3px;
    padding: 5px 12px;

    text-decoration: none;

    color: #fff;
    border: 1px solid #e6a8aa;
    border-radius: 4px;
    background: -ms-linear-gradient(top, #ff858e 5%, #f74b5f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #ff858e), color-stop(100%, #f74b5f));

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF858E', endColorstr='#F74B5F');
}
.css_btn_more:hover
{
    background: -ms-linear-gradient(top, #f74b5f 5%, #ff858e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #f74b5f), color-stop(100%, #ff858e));

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F74B5F', endColorstr='#FF858E');
}
.css_btn_more:active
{
    position: relative;
    top: 1px;
}
.css_btn_more:a,
.css_btn_more:link,
.css_btn_more:visited,
.css_btn_more:hover,
.css_btn_more:active
{
    color: #fff !important;
}

.css_btn_class2
{
    font-size: 14px;

    display: inline-block;

    margin: 20px;
    padding: 15px 24px;

    text-decoration: none;

    color: #737273;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    background: -ms-linear-gradient(top, #fff 5%, #ebebeb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #fff), color-stop(100%, #ebebeb));
    background-color: #fff;
    box-shadow: inset 1px 1px 0 0 #fff;
    text-shadow: 1px 1px 0 #fff;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ebebeb');
}
.css_btn_class2:hover
{
    background: -ms-linear-gradient(top, #ebebeb 5%, #fff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #ebebeb), color-stop(100%, #fff));
    background-color: #ebebeb;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#ffffff');
}
.css_btn_class2:active
{
    position: relative;
    top: 1px;
}
.css_btn_class2:a,
.css_btn_class2:link
{
    color: #737273 !important;
}

.css_btn_class:visited
{
    color: #737273 !important;
}

.css_btn_class2:hover
{
    color: #737273 !important;
}
.css_btn_class2:active
{
    color: #333 !important;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy
{
    margin: .2em 0;
    padding: .2em 0;

    color: #000;
    background: #ccc;
}

.backtotop
{
    margin-top: 30px;
    margin-bottom: 15px;

    text-align: center;
}
.backtotop p a
{
    display: block;

    padding: 5px 0;

    border-radius: 3px;
    background: #a1b413;
}
.backtotop p a:hover
{
    opacity: .5;
}

/* ==========================================================================
   jQuery - lightbox_me
   ========================================================================== */
#sign_up
{
    position: relative;

    display: none;

    width: 400px;
    padding: 14px 22px;

    border: 1px solid #536376;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
    background: #eef2f7;
    -webkit-box-shadow: rgba(0, 0, 0, .6) 0 2px 12px;
       -moz-box-shadow: rgba(0, 0, 0, .6) 0 2px 12px;
}

#close_x
{
    line-height: 1000px;

    position: absolute;
    top: 5px;
    right: 5px;

    display: block;
    overflow: hidden;

    width: 24px;
    height: 23px;

    background: url(../img/close.png) no-repeat;
}

/* 2014.11.14 19:13 更新 */
.point
{
    font-weight: bold;

    margin-right: 3px;

    color: #cd4d72;
}

/*年齢認証ページ
---------------------------------------------------------------------------*/
.logo
{
    margin-top: 60px;
    margin-bottom: 15px;
}

.r18
{
    margin-right: auto;
    margin-left: auto;
}

.logo_area
{
    width: 300px;
    height: 400px;
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;

    background-image: url(http://img.dhrank.com/common/girl_l.jpg);
    background-repeat: no-repeat;
}

.logoarea
{
    font-size: 16px;
    font-weight: bold;

    padding: 3px 10px;

    letter-spacing: 1px;

    color: #fff;
    border-radius: 6px;
    background: #e71873;
}

/* ==========================================================================
   sideinfoArea
   ========================================================================== */
.sideinfoArea .newslist
{
    margin: -15px 0 0;

    border: 1px solid #d1d1d1;
    border-top: none;
}
.sideinfoArea .newslist li
{
    border-top: 1px dotted #d1d1d1;
}
.sideinfoArea .newslist li:first-child
{
    border-top: none;
}
.sideinfoArea .newslist a
{
    display: block;

    padding: 10px;

    text-decoration: none;
}
.sideinfoArea .newslist a:hover
{
    opacity: .7;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=70)';
        filter: alpha(opacity=70);
}
.sideinfoArea .newslist .shopname
{
    margin: 0 0 3px;
}
.sideinfoArea .newslist .shopname:before
{
    display: inline-block;

    margin: 0 3px 0 0;

    content: '●';

    color: #5ac1a3;
}
.sideinfoArea .newslist .shopname .icon
{
    margin: 0 0 0 5px;
}
.sideinfoArea .newslist .shopname .icon img
{
    vertical-align: baseline;
}
.sideinfoArea .newslist .date
{
    font-size: 10px;

    margin: 0 0 5px;

    text-align: right;

    color: #999;
}
.sideinfoArea .newslist .text
{
    color: #222;
}

.top_coupon li img
{
    vertical-align: baseline;
}

.shopTable .price_row td
{
    padding: 0;
}
.shopTable .price_row table
{
    margin: -1px 0;
}
.shopTable .price_row table th,
.shopTable .price_row table td
{
    padding: 10px;

    border: 1px solid #ddd;
}
.shopTable .price_row table th
{
    font-size: 12px;
    font-weight: normal;

    border-left: none;
    background: #fafafa;
}
.shopTable .price_row table th:before
{
    display: inline-block;

    content: '・';
}
.shopTable .price_row table td
{
    border-right: none;
}
