<div class="rankingMenuArea">
	<div class="inner"><img src="/img/side_left_label_area.jpg" alt="デリヘルランキング" height="45" width="240"></p><ul class="list">
		<li><a href="#">京都エリア</a></li>
		<li><a href="#">兵庫エリア</a></li>
		<li><a href="#">和歌山エリア</a></li>
		<li><a href="#">滋賀エリア</a></li>
		<li><a href="#">奈良エリア</a></li>
	</ul></div>
</div>
