<div class="rankingMenuArea">
	<div class="inner"><img src="/img/side_left_label_area.jpg" alt="デリヘルランキング" height="45" width="240"></p><ul class="list">
		<li><a href="http://osaka.dhrank.com/top">大阪エリア</a></li>
		<li><a href="http://kyoto.dhrank.com/top">京都エリア</a></li>
		<li><a href="http://hyogo.dhrank.com/top">兵庫エリア</a></li>
		<li><a href="http://shiga.dhrank.com/top">滋賀エリア</a></li>
		<li><a href="http://nara.dhrank.com/top">奈良エリア</a></li>
		<li><a href="http://wakayama.dhrank.com/top">和歌山エリア</a></li>
	</ul></div>
</div>
