<div class="rankingMenuArea">
	<div class="inner"><img src="/img/side_left_label_area.jpg" alt="デリヘルランキング" height="45" width="240"></p><ul class="list">
		<li><a href="http://aichi.dhrank.com/top">愛知(名古屋)エリア</a></li>
		<li><a href="http://gifu.dhrank.com/top">岐阜エリア</a></li>
		<li><a href="http://mie.dhrank.com/top">三重エリア</a></li>
		<li><a href="http://shizuoka.dhrank.com/top">静岡エリア</a></li>
	</ul></div>
</div>
