<div class="rankingMenuArea">
	<div class="inner"><img src="/img/side_left_label_area.jpg" alt="デリヘルランキング" height="45" width="240"></p><ul class="list">
		<li><a href="http://tottori.dhrank.com/top">鳥取エリア</a></li>
		<li><a href="http://shimane.dhrank.com/top">島根エリア</a></li>
		<li><a href="http://okayama.dhrank.com/top">岡山エリア</a></li>
		<li><a href="http://hiroshima.dhrank.com/top">広島エリア</a></li>
		<li><a href="http://yamaguchi.dhrank.com/top">山口エリア</a></li>
	</ul></div>
</div>
