<div class="rankingMenuArea">
	<div class="inner"><img src="/img/side_left_label_area.jpg" alt="デリヘルランキング" height="45" width="240"></p><ul class="list">
		<li><a href="http://ibaraki.dhrank.com/top">茨城エリア</a></li>
		<li><a href="http://tochigi.dhrank.com/top">栃木エリア</a></li>
		<li><a href="http://gunma.dhrank.com/top">群馬エリア</a></li>
	</ul></div>
</div>
