<div class="rankingMenuArea">
	<div class="inner"><img src="/img/side_left_label_area.jpg" alt="デリヘルランキング" height="45" width="240"></p><ul class="list">
		<li><a href="http://ehime.dhrank.com/top">愛媛エリア</a></li>
		<li><a href="http://kagawa.dhrank.com/top">香川エリア</a></li>
		<li><a href="http://kochi.dhrank.com/top">高知エリア</a></li>
		<li><a href="http://tokushima.dhrank.com/top">徳島エリア</a></li>
	</ul></div>
</div>
