<div class="rankingMenuArea">
	<div class="inner"><img src="/img/side_left_label_area.jpg" alt="デリヘルランキング" height="45" width="240"></p><ul class="list">
		<li><a href="http://fukuoka.dhrank.com/top">福岡エリア</a></li>
		<li><a href="http://saga.dhrank.com/top">佐賀エリア</a></li>
		<li><a href="http://oita.dhrank.com/top">大分エリア</a></li>
		<li><a href="http://nagasaki.dhrank.com/top">長崎エリア</a></li>
		<li><a href="http://kumamoto.dhrank.com/top">熊本エリア</a></li>
		<li><a href="http://miyazaki.dhrank.com/top">宮崎エリア</a></li>
		<li><a href="http://kagoshima.dhrank.com/top">鹿児島エリア</a></li>
		<li><a href="http://okinawa.dhrank.com/top">沖縄エリア</a></li>
	</ul></div>
</div>
