<div class="rankingMenuArea">
	<div class="inner"><img src="/img/side_left_label_area.jpg" alt="デリヘルランキング" height="45" width="240"></p><ul class="list">
		<li><a href="http://toyama.dhrank.com/top">富山エリア</a></li>
		<li><a href="http://ishikawa.dhrank.com/top">石川エリア</a></li>
		<li><a href="http://fukui.dhrank.com/top">福井エリア</a></li>
		<li><a href="http://nagano.dhrank.com/top">長野エリア</a></li>
		<li><a href="http://niigata.dhrank.com/top">新潟エリア</a></li>
		<li><a href="http://yamanashi.dhrank.com/top">山梨エリア</a></li>
	</ul></div>
</div>
