<div class="rankingMenuArea">
	<div class="inner"><img src="/img/side_left_label_area.jpg" alt="デリヘルランキング" height="45" width="240"></p><ul class="list">
		<li><a href="http://shinjyuku.dhrank.com/top">新宿エリア</a></li>
		<li><a href="http://ikebukuro.dhrank.com/top">池袋エリア</a></li>
		<li><a href="http://shibuya.dhrank.com/top">渋谷エリア</a></li>
		<li><a href="http://shinagawagotanda.dhrank.com/top">品川・五反田エリア</a></li>
		<li><a href="http://nishitokyo.dhrank.com/top">西東京エリア</a></li>
		<li><a href="http://kinshicho.dhrank.com/top">錦糸町エリア</a></li>
		<li><a href="http://uenouguisudani.dhrank.com/top">上野・鴬谷エリア</a></li>
		<li><a href="http://kanagawa.dhrank.com/top">神奈川エリア</a></li>
		<li><a href="http://saitama.dhrank.com/top">埼玉エリア</a></li>
		<li><a href="http://chiba.dhrank.com/top">千葉エリア</a></li>
	</ul></div>
</div>
