<div class="rankingMenuArea">
	<div class="inner"><img src="/img/side_left_label_area.jpg" alt="デリヘルランキング" height="45" width="240"></p><ul class="list">
		<li><a href="http://aomori.dhrank.com/top">青森エリア</a></li>
		<li><a href="http://iwate.dhrank.com/top">岩手エリア</a></li>
		<li><a href="http://miyagi.dhrank.com/top">宮城エリア</a></li>
		<li><a href="http://akita.dhrank.com/top">秋田エリア</a></li>
		<li><a href="http://yamagata.dhrank.com/top">山形エリア</a></li>
		<li><a href="http://fukushima.dhrank.com/top">福島エリア</a></li>
	</ul></div>
</div>
