<h1>カテゴリ検索</h1>
<form action="/test/category/" method="POST">
<input type="checkbox" name="category[]" value="1">デリヘル<br />
<input type="checkbox" name="category[]" value="2">人妻デリヘル<br />
<input type="checkbox" name="category[]" value="3">待ち合わせデリヘル<br />
<input type="checkbox" name="category[]" value="4">高級デリヘル<br />
<input type="checkbox" name="category[]" value="5">アロマ・エステ・デリヘル<br />
<input type="checkbox" name="category[]" value="6">ぽっちゃりデリヘル<br />
<input type="checkbox" name="category[]" value="7">韓デリ・外国人・デリヘル<br />
<input type="checkbox" name="category[]" value="1000">その他<br />
<input type="submit" name="submit" value="検索" /><br />
<table>
<?php foreach($shops_data as $key => $val){ ?>
<tr>
	<td><?php echo $val['Shop']['name'];?></td><td><?php echo $val['MShopsBusinessCategory']['name']; ?></td>
</tr>
<?php } ?>
</table>

</form>