<h1>値段検索</h1>
<table>
<?php 
foreach($price_data as $key => $val){
	echo "<tr>";
	echo "<td>{$val['Shop']['name']}</td><td>料金:{$val['System']['price_cost']}</td>";
	echo "</tr>";
}
?>

</table>
<form action="/test/price/" method="POST">
<table>
	<tr>
		<td>
			<select name="price_from">
				<option name="">下限なし</option>
				<?php 
				for($i = 5; $i <= 30; $i++){
					$price = $i * 1000;
					echo "<option name='{$price}'>{$price}円</option>";
				}
				?>
			</select>
			～
		</td>
		<td>
			<select name="price_to">
				<option name="">上限なし</option>
				<?php 
				for($i = 5; $i <= 30; $i++){
					$price = $i * 1000;
					echo "<option name='{$price}'>{$price}円</option>";
				}
				?>
			<option name="99">上限なし</option>
			</select>
		</td>
	</tr>

</table>
<input type="submit" name="submit" value="検索" />
</form>