<h1>電話帳検索</h1><table>
<?php 
foreach($shops_data as $key => $val){	foreach($val as $db_key => $db_val){
		echo '<tr><td>'. $db_val['name'] . '</td><td>'. $db_val['phone_number'] . '</td></tr>';
	}
}
?>

</table>
