<h1>Ajax検索</h1>
<h2>女の子リスト</h2>
<?php
	if (count($girls_data) > 0)
	{
		foreach($girls_data as $key => $val)
		{
			echo "女の子の名前：<a href='http://osakam.19800210.com/{$val['Girl']['user_id']}/girls/{$val['Girl']['id']}'>".$val['Girl']['name'].'</a>　お店の名前：'.$val['Shop']['name'].'<br/>';
		}
	}
	else
	{
			echo "検索の条件にあてはまる女の子は存在しません";
	}
?>