<div class="container">
	<!-- eyecatchArea -->
    <div id="eyecatchArea">
    
		<div class="inner clearfix">
			<div class="left">
				<div id="slider1_wrapper">
					<div id="slider1">
					  <div><a href="http://osaka.dhrank.com/4950/"><img src="http://img.dhrank.com/banner/bigbanner/osaka/clubparadise640x420.jpg" height="210" width="320"></a></div>
					</div>
				</div>

				<div id="slider2_wrapper">
					<div id="slider2">
						<?php echo $this->element('sidebar/news'); ?>
					</div>
				</div>
			</div>

			<div class="right">
            	<div id="slider3_wrapper">
                	<div id="slider3">
						<div><a href="http://osaka.dhrank.com/4950/"><img src="http://img.dhrank.com/banner/bigbanner/osaka/clubparadise1000x600.jpg" height="300" width="500"></a></div>
            		</div>
            	</div>
			</div>
		</div>
        
	</div>
	<!-- / mainArea -->
</div>