<div class="container">
	<!-- eyecatchArea -->
    <div id="eyecatchArea">
    
		<div class="inner clearfix">
			<div class="left">
				<div id="slider1_wrapper">
					<div id="slider1">
					  <div><a href="http://fukuoka.dhrank.com/4449"><img src="http://img.dhrank.com/banner/bigbanner/fukuoka/zyx640420.jpg" height="210" width="320"></a></div>
						<div><a href="http://fukuoka.dhrank.com/12706"><img src="http://img.dhrank.com/banner/bigbanner/fukuoka/kg_640420.jpg" height="210" width="320"></a></div>
						<div><a href="http://fukuoka.dhrank.com/12707"><img src="http://img.dhrank.com/banner/bigbanner/fukuoka/kh_640420.jpg" height="210" width="320"></a></div>
						<div><a href="http://fukuoka.dhrank.com/12708"><img src="http://img.dhrank.com/banner/bigbanner/fukuoka/aiai24_640420.jpg" height="210" width="320"></a></div>
						<div><a href="http://fukuoka.dhrank.com/4579"><img src="http://img.dhrank.com/banner/bigbanner/fukuoka/aaa_640420.jpg" height="210" width="320"></a></div>
					</div>
				</div>

				<div id="slider2_wrapper">
					<div id="slider2">
						<?php echo $this->element('sidebar/news'); ?>
					</div>
				</div>
			</div>

			<div class="right">
            	<div id="slider3_wrapper">
                	<div id="slider3">
						<div><a href="http://fukuoka.dhrank.com/4449"><img src="http://img.dhrank.com/banner/bigbanner/fukuoka/zyx1000600.jpg" alt="" height="300" width="500"></a></div>
						<div><a href="http://fukuoka.dhrank.com/12706"><img src="http://img.dhrank.com/banner/bigbanner/fukuoka/kg_100600.jpg" alt="" height="300" width="500"></a></div>
						<div><a href="http://fukuoka.dhrank.com/12707"><img src="http://img.dhrank.com/banner/bigbanner/fukuoka/kh_1000600.jpg" alt="" height="300" width="500"></a></div>
						<div><a href="http://fukuoka.dhrank.com/12708"><img src="http://img.dhrank.com/banner/bigbanner/fukuoka/aiai24_1000600.jpg" alt="" height="300" width="500"></a></div>
						<div><a href="http://fukuoka.dhrank.com/4579"><img src="http://img.dhrank.com/banner/bigbanner/fukuoka/aaa_1000600.jpg" alt="" height="300" width="500"></a></div>
            		</div>
            	</div>
			</div>
		</div>
        
	</div>
	<!-- / mainArea -->
</div>