	<div class="title title05">
		<h2>RECOMMEND SHOP<span class="small">おすすめ店舗</span></h2>
	</div>

	<div class="wrapper clearfix">

		<div class="box">
			<a href="http://yamaguchi.dhrank.com/12778">
				<img src="http://img.dhrank.com/shop/12778/image_recommend.jpg" width="191" height="56">
			</a>
			<p class="tt">五つ星店★BERU(ベル)</p>
			<p class="caption">デリヘル</p>
			<p>
街で見かける可愛い女の子…
カフェ、レストラン、ショッピングモール…
ビジュアル重視の可愛い女の子のみ厳選採用

五つ星の美女との甘いひと時をお約束致します。
			</p>
		</div>


		<div class="box">
			<a href="http://yamaguchi.dhrank.com/12780">
				<img src="http://img.dhrank.com/shop/12780/image_recommend.jpg" width="191" height="56">
			</a>
			<p class="tt">◆プラウディア◆新山口駅前店</p>
			<p class="caption">デリヘル</p>
			<p>
会えば納得！業界最高レベルの超美嬢が揃ってマス！
			</p>
		</div>
		
		
		<div class="box">
			<a href="http://yamaguchi.dhrank.com/12781">
				<img src="http://img.dhrank.com/shop/12781/image_recommend.jpg" width="191" height="56">
			</a>
			<p class="tt">【優良店】◆プラウディア岩国店◆AAA級素人娘【岩国～柳井～玖珂】</p>
			<p class="caption">デリヘル</p>
			<p>

			</p>
		</div>


		<div class="box">
			<a href="http://yamaguchi.dhrank.com/12782">
				<img src="http://img.dhrank.com/shop/12782/image_recommend.jpg" width="191" height="56">
			</a>
			<p class="tt">【優良店】◆プラウディア◆ＡＡＡ級素人娘在籍店</p>
			<p class="caption">デリヘル</p>
			<p>

			</p>
		</div>


	</div>