	<div class="title title05">
		<h2>RECOMMEND SHOP<span class="small">おすすめ店舗</span></h2>
	</div>

	<div class="wrapper clearfix">

		<div class="box">
			<a href="http://nishitokyo.dhrank.com/12683"><img src="http://img.dhrank.com/shop/12683/image_recommend.jpg" width="191" height="56"></a>
			<p class="tt">立川E-BODY</p>
			<p class="caption">デリヘル</p>
			<p>
淫乱美少女が多数在籍★
いつでもエッチで可愛い女の子が貴方の元でお伺いします！
			</p>
		</div>

	</div>

