<section id="middle" class="two">
    <div class="title_bar">お気に入りのお店</div> 
    <div class="inner">
    
        <!-- pay_shopList -->
        <div id="pay_shopList">

<?php
foreach($favorite_shops as $key => $record) {

    if($record['UsersAuthority']['is_show_all_contents_by_categorylist'] == 1) {
//        print_r($record);
?>
        <?php echo $this->element('common/_shop_payment', array('record' => $record, 'reviewer' => true)); ?>
<?php
    } else {
?>


        <div class="shopList_frame">
            <div>
                <a href="<?php echo $linkCommon->get_user_shop($record); ?>" class="shopName"><?php echo $record['Shop']['name']; ?></a>
                <span class="kuchikomi">口コミ</span><span class="c_red"><?php echo $record[0]['review_cnt']; ?>件</span>
                <a href="<?php echo $linkCommon->get_user_shop($record); ?>" class="css_btn_class">詳細を見る</a>
            </div>
            <div>
            営業時間・<?php echo $opentime; ?>〜<?php echo $closetime; ?>　最低料金・<?php echo $record['System']['price_cost']; ?>円〜　住所・<?php echo $record['System']['address']; ?> 
            </div>
        </div>
<div class="clearfix" style="margin-top:-10px!important;border-bottom:2px solid #ccc;padding-bottom:5px;margin-bottom:10px;">
       <p class="css_btn_class bookmarkShop" style="margin-top:5px" data="<?php echo $record['User']['id']; ?>" mode="delete">
      	<a href="#" onClick="delete_favorite()">お気に入りから削除する</a>
      </p>
</div>
        
        <?php // echo $this->element('common/_shop_free', array('record' => $record)); ?>
<?php
    }
}
?>


<?php /*                        
            <!--shop-->
            <div class="shopList_frame">
                <div>
                    <a href="/shop" class="shopName">プリティガール</a>　<span class="kuchikomi">UP</span><a href="/shop" class="css_btn_class">詳細を見る</a>
                </div>
                <div class="pay_mark clearfix">
                    <p class="pay_yoyaku">先行予約OK</p>
                    <p class="pay_credit">クレジットOK</p>
                    <p class="pay_ryoshu">領収書OK</p>
                    <p class="pay_machi">待ち合わせOK</p>
                    <p class="pay_cosplay">コスプレあり</p>
                    <p class="pay_coupon">クーポンあり</p>
                </div>
            </div>
            
            <div class="shopList_main clearfix">
                <div>
                    <p class="catchCopy"><b><strong>キャッチコピーが入りますキャッチコピーが入りますキャッチコピーが入りますキャッチコピーが入ります</strong></b></p>
                    <p>説明文が入ります説明文が入ります説明文が入ります説明文が入ります説明文が入ります説明文が入ります</p>
                    
                    <div class="shopListLeft">
                        <dl class="clearfix">
                            <dt>営業時間</dt>
                            <dd>12:00〜0:00</dd>
                        
                            <dt>最低料金</dt>
                            <dd>16,000円〜</dd>

                            <dt>住所</dt>
                            <dd>博多駅前発</dd>
                        </dl>   
                        <p class="shopNum">
                            <span class="zaiseki">在籍数:</span><span class="num">25人</span>
                            <span class="kuchikomi2">口コミ:</span><span class="num">90件</span>
                        </p>
                    </div>
                    <div class="shopListRight">
                        <!-- <p><img src="common/img/shop_banner.jpg" /></p> -->
                    </div>
                    <div class="shopListBottom clearfix">
                        <ul>
                            <li><span class="type1">新規</span><a href="/shop/coupon">ダミーテキストダミーテキストダミーテキストダミーテキスト</a></li>
                            <li><span class="type2">会員</span><a href="/shop/coupon">ダミーテキストダミーテキスト</a></li>
                        </ul>
                    </div>
                </div>

                    <div style="text-align:center;margin:5px;">
						<div class="submit">
						<p><a href="#" class="member_girls_button" onClick="disp()">削除する</a></p>
                        </div>
                    </div>

            </div>
            <!-- /shop -->
            
            <!--shop-->
            <div class="shopList_frame">
                <div>
                    <a href="/shop" class="shopName">プリティガール</a>　<span class="kuchikomi">UP</span><a href="/shop" class="css_btn_class">詳細を見る</a>
                </div>
                <div class="pay_mark clearfix">
                    <p class="pay_yoyaku">先行予約OK</p>
                    <p class="pay_credit">クレジットOK</p>
                    <p class="pay_ryoshu">領収書OK</p>
                    <p class="pay_machi">待ち合わせOK</p>
                    <p class="pay_cosplay">コスプレあり</p>
                    <p class="pay_coupon">クーポンあり</p>
                </div>
            </div>
            
            <div class="shopList_main clearfix">
                <div>
                    <p class="catchCopy"><b><strong>キャッチコピーが入りますキャッチコピーが入りますキャッチコピーが入りますキャッチコピーが入ります</strong></b></p>
                    <p>説明文が入ります説明文が入ります説明文が入ります説明文が入ります説明文が入ります説明文が入ります</p>
                    
                    <div class="shopListLeft">
                        <dl class="clearfix">
                            <dt>営業時間</dt>
                            <dd>12:00〜0:00</dd>
                        
                            <dt>最低料金</dt>
                            <dd>16,000円〜</dd>

                            <dt>住所</dt>
                            <dd>博多駅前発</dd>
                        </dl>   
                        <p class="shopNum">
                            <span class="zaiseki">在籍数:</span><span class="num">25人</span>
                            <span class="kuchikomi2">口コミ:</span><span class="num">90件</span>
                        </p>
                    </div>
                    <div class="shopListRight">
                        <!-- <p><img src="common/img/shop_banner.jpg" /></p> -->
                    </div>
                    <div class="shopListBottom clearfix">
                        <ul>
                            <li><span class="type1">新規</span><a href="/shop/coupon">ダミーテキストダミーテキストダミーテキストダミーテキスト</a></li>
                            <li><span class="type2">会員</span><a href="/shop/coupon">ダミーテキストダミーテキスト</a></li>
                        </ul>
                    </div>
                </div>

                    <div style="text-align:center;margin:5px;">
						<div class="submit">
						<p><a href="#" class="member_girls_button" onClick="disp()">削除する</a></p>
                        </div>
                    </div>
					
            </div>
			
            <!-- /shop -->
*/ ?>            
        </div>
        <!-- /pay_shopList -->
      
<?php /*  
        <!-- free_shopList -->
        <div id="free_shopList">

            <div class="shopList_frame">
                <div>
                    <a href="/shop" class="shopName">やまとなでしこ</a>
                    <span class="kuchikomi">口コミ</span><span class="c_red">3件</span>
                    <a href="#" class="css_btn_class">詳細を見る</a>
                </div>
                <div>
                営業時間・12:00〜0:00　最低料金・16,000円〜　住所・梅田駅前発
                </div>
            </div>
                    <div style="text-align:center;margin-top:5px;margin-bottom:15px;">
						<div class="submit">
						<p><a href="#" class="member_girls_button" onClick="disp()">削除する</a></p>
                        </div>
                    </div>

            <div class="shopList_frame">
                <div>
                    <a href="/shop" class="shopName">やまとなでしこ</a>
                    <span class="kuchikomi">口コミ</span><span class="c_red">3件</span>
                    <a href="#" class="css_btn_class">詳細を見る</a>
                </div>
                <div>
                営業時間・12:00〜0:00　最低料金・16,000円〜　住所・梅田駅前発
                </div>
            </div>
                    <div style="text-align:center;margin-top:5px;margin-bottom:15px;">
						<div class="submit">
						<p><a href="#" class="member_girls_button" onClick="disp()">削除する</a></p>
                        </div>
                    </div>
			

            <div class="shopList_frame">
                <div>
                    <a href="/shop" class="shopName">やまとなでしこ</a>
                    <span class="kuchikomi">口コミ</span><span class="c_red">3件</span>
                    <a href="#" class="css_btn_class">詳細を見る</a>
                </div>
                <div>
                営業時間・12:00〜0:00　最低料金・16,000円〜　住所・梅田駅前発
                </div>
            </div>
                    <div style="text-align:center;margin-top:5px;margin-bottom:15px;">
						<div class="submit">
						<p><a href="#" class="member_girls_button" onClick="disp()">削除する</a></p>
                        </div>
                    </div>

        </div>
        <!-- /free_shopList -->
*/ ?>
    </div>
</section>