<!-- middle -->
<section id="middle" class="two">
    <div class="title_bar">Myレビュー編集</div> 
    <div id="reviewListArea" class="inner">
        <div class="new_reviewArea clearfix">
	 		口コミの編集を行いました。
        </div>
		<div align="center" style="margin-top: 40px;">
			<a href="<?php echo $linkCommon->get_mypage_myreview(); ?>" class="btn_navi">Myレビューへ戻る</a>
		</div>
    </div>
</section>
