	<div class="label"><h2>お気に入りのお店</h2></div>
	
	<section id="rankingArea">
	
<?php
foreach($favorite_shops as $key => $record) {

    if($record['UsersAuthority']['is_show_all_contents_by_categorylist'] == 1) {
//        print_r($record);
?>
        <?php echo $this->element('s_common/_shop_payment', array('record' => $record, 'reviewer' => true)); ?>
<?php
    } else {
?>
        <?php echo $this->element('s_common/_shop_free', array('record' => $record)); ?>
<?php
    }
}
?>

	</section>
<script>
function delete_favorite() {

    if(!confirm('お店ををお気に入りから外しても宜しいでしょうか？')) {
        return false;
    }

    // TODO 実装
}
</script>
	
	<p class="btn_left"><a href="<?php echo $linkCommon->get_mypage_profile($record = null)?>">My Top</a></p>
	<p class="btn_left"><a href="<?php echo $linkCommon->get_mypage_top($record = null)?>">自分の更新</a></p>
	<p class="btn_left"><a href="<?php echo $linkCommon->get_mypage_myreview($record = null)?>">Myレビュー</a></p>
	<p class="btn_left"><a href="<?php echo $linkCommon->get_mypage_follow($record = null)?>">フォローしている</a></p>
	<p class="btn_left"><a href="<?php echo $linkCommon->get_mypage_follower($record = null)?>">フォローされている</a></p>
<!--	<p class="btn_left"><a href="<?php echo $linkCommon->get_mypage_favorite_shop($record = null)?>">お気に入りのお店</a></p> -->
	<p class="btn_left"><a href="<?php echo $linkCommon->get_mypage_favorite_girl($record = null)?>">お気に入りの女の子</a></p>
	<p class="btn_left"><a href="<?php echo $linkCommon->get_mypage_favorite_review($record = null)?>">お気に入りのレビュー</a></p>
	<p class="btn_left"><a href="<?php echo $linkCommon->get_mypage_profile_edit($record = null)?>">会員情報の確認・変更</a></p>