<!-- middle -->
<section id="middle" class="two">
    <div class="title_bar">Myレビュー削除</div> 
    <div id="reviewListArea" class="inner">
    
        <div class="new_reviewArea clearfix">
 
		 口コミを削除しました。
            
        </div>
            
<div align="center" style="margin-top: 40px;">
<a href="<?php echo $linkCommon->get_user_girl($data)?>" class="btn_navi">Myレビューへ戻る</a>
</div>
            
    </div>
</section>
