<div class="label"><h2>Myレビュー編集</h2></div>
    
<section id="postArea">

<p> 
	口コミの編集を行いました。
</p>
            
<div align="center" style="margin-top: 20px;">
<a href="<?php echo $linkCommon->get_mypage_myreview($record = null)?>">Myレビューへ戻る</a>
</div>

</section>
